<div class="chapter" id="100">
    <h2>100 - Law Enforcement Authority</h2>
    <h3>100.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to affirm the authority of the members of the Metro Transit Police Department to perform their functions based on established legal authority.</p>

    <h3>100.2 PEACE OFFICER POWERS</h3>
    <p>Licensed officers of this department are peace officers pursuant to Minn. Stat. § 626.81(c).</p>
    <h4>100.2.1 ARREST AUTHORITY WITHIN THE JURISDICTION OF THE METRO TRANSIT POLICE DEPARTMENT</h4>
    <p>Arrest authority of a full-time officer or part-time officer extends to any place within the jurisdiction of the department at all times (Minn. Stat. § 629.34, Subd. 1 and Minn. Stat. § 629.40):</p>
    <ol class="alpha">
        <li>The person is being arrested for a felony.</li>
        <li>The person is being arrested for a non-felony crime that was attempted or committed in the officer’s presence.</li>
        <li>The person is being arrested for a non-felony crime that was not attempted or committed in the officer’s presence but an arrest is permitted by statute (e.g., domestic abuse, restraining order and no contact order violations).</li>
        <li>The person is a juvenile committed to the custody of the commissioner of corrections and committed a felony after he/she escaped from custody (Minn. Stat. § 609.485).</li>
        <li>There is reasonable cause to believe that the person to be arrested has committed or attempted to commit theft from a merchant (Minn. Stat. § 629.366).</li>
    </ol>
    <p>The arrest authority pursuant to a warrant is applicable only while on-duty. The arrest authority of a part-time peace officer is applicable only while on-duty (Minn. Stat. § 629.34, Subd. 1(b)).</p>
    <h4>100.2.2 ARREST AUTHORITY OUTSIDE THE JURISDICTION OF THE METRO TRANSIT POLICE DEPARTMENT</h4>
    <p>Full-time, on-duty officers may make an arrest outside the jurisdiction of the Metro Transit Police Department anytime the officer may by law make an arrest for a criminal offense and the person to be arrested escapes from custody or flees out of the officer’s jurisdiction (Minn. Stat. § 629.40):</p>
    <ol class="alpha">
        <li>A full-time officer’s arrest authority when off-duty and outside the jurisdiction ofthe department is limited to circumstances that would permit the officer to use deadly force under Minn. Stat. § 609.066 (see the Use of Force Policy). Under any other circumstances, the full-time off-duty officer is limited to the same power as are members of the general public.</li>
        <li>An officer making an arrest under this subsection should, as soon as practicable after making the arrest, notify the agency having jurisdiction where the arrest was made.</li>
    </ol>
    <h4>100.2.3 GRANTING AUTHORITY TO OTHERS</h4>
    <p>An officer may summon the aid of private persons when making an arrest pursuant to a warrant (Minn. Stat. § 629.30).</p>

    <h3>100.3 INTERSTATE PEACE OFFICER POWERS</h3>
    <p>Peace officer powers may be extended within other states:</p>
    <ol class="alpha">
        <li>As applicable under interstate compacts and memorandums of understanding in compliance with the laws of each state.</li>
        <li>When an officer enters Iowa or Wisconsin in fresh pursuit of a felony subject (Iowa Code § 806.1; Wis. Stat. § 976.04).</li>
        <li>When an officer enters North Dakota or South Dakota in pursuit of a subject who committed any offense (N.D.C.C. § 29-06-05; SDCL 23A-3-9; SDCL 23A-3-10).</li>
    </ol>
    <p>Whenever an officer makes an arrest in another state, the officer shall take the offender to a magistrate or judge in the county where the arrest occurred as soon as practicable (Iowa Code § 806.2; N.D.C.C. § 29-06-06; SDCL 23A-3-12; Wis. Stat. § 976.04).</p>

    <h3>100.4 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to limit its members to only exercise the authority granted to them by law.</p>
    <p>While this department recognizes the power of peace officers to make arrests and take other enforcement action, officers are encouraged to use sound discretion in the enforcement of the law. This department does not tolerate abuse of law enforcement authority.</p>

    <h3>100.5 CONSTITUTIONAL REQUIREMENTS</h3>
    <p>All employees shall observe and comply with every person’s clearly established rights under the United States and Minnesota Constitutions.</p>
</div>
