<div class="chapter" id="1000">
    <h2>1000 - Recruitment and Selection</h2>
    <h3>1000.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides a framework for employee recruiting efforts and identifying job-related standards for the selection process. This policy supplements the rules that govern employment practices for the Metro Transit Police Department and that are
        promulgated and maintained by the Department of Human Resources.</p>

    <h3>1000.2 POLICY</h3>
    <p>In accordance with applicable federal, state and local law, the Metro Transit Police Department provides equal opportunities for applicants and employees, regardless of race, gender expression, age, pregnancy, religion, creed, color, national origin,
        ancestry, physical or mental handicap, genetic information, veteran status, marital status, sex or any other protected class or status. The Department does not show partiality or grant any special status to any applicant, employee or group of
        employees unless otherwise required by law.</p>
    <p>The Department will recruit and hire only those individuals who demonstrate a commitment to service and who possess the traits and characteristics that reflect personal integrity and high ethical standards.</p>

    <h3>1000.3 RECRUITMENT</h3>
    <p>The Supervisor responsible for recruiting should employ a comprehensive recruitment and selection strategy to recruit and select employees from a qualified and diverse pool of candidates.</p>
    <p>The strategy should include:</p>
    <ol class="alpha">
        <li>Identification of racially and culturally diverse target markets.</li>
        <li>Use of marketing strategies to target diverse applicant pools.</li>
        <li>Expanded use of technology and maintenance of a strong Internet presence. This may include an interactive department website and the use of department-managed social networking sites, if resources permit.</li>
        <li>Expanded outreach through partnerships with media, community groups, citizen academies, local colleges, universities and the military.</li>
        <li>Employee referral and recruitment incentive programs.</li>
        <li>Consideration of shared or collaborative regional testing processes.</li>
    </ol>
    <p>The Supervisor responsible for recruiting shall avoid advertising, recruiting and screening practices that tend to stereotype, focus on homogeneous applicant pools or screen applicants in a discriminatory manner.</p>
    <p>The Department should strive to facilitate and expedite the screening and testing process, and should periodically inform each candidate of his/her status in the recruiting process.</p>

    <h3>1000.4 SELECTION PROCESS</h3>
    <p>The Department shall actively strive to identify a diverse group of candidates that have in some manner distinguished themselves as being outstanding prospects. Minimally, the Department should employ a comprehensive screening, background investigation
        and selection process that assesses cognitive and physical abilities and includes review and verification of the following:</p>
    <ol class="alpha">
        <li>A comprehensive application for employment (including previous employment, references, current and prior addresses, education, military record)</li>
        <li>Driving record</li>
        <li>Reference checks</li>
        <li>Citizenship eligibility, including U.S. Citizenship and Immigration Services (USCIS) Employment Eligibility Verification Form I-9 and acceptable identity and employment authorization documents (Minn. R. 6700.0700, Subp. 1). This required documentation
            should not be requested until a candidate is hired. This does not prohibit obtaining documents required for other purposes.</li>
        <li>Information obtained from public internet sites</li>
        <li>Financial history consistent with the Fair Credit Reporting Act (FCRA) (15 USC § 1681 et seq.)</li>
        <li>Local, state and federal criminal history record checks</li>
        <li>Polygraph or computer voice stress analyzer (CVSA) examination (when legally permissible)</li>
        <li>Medical and psychological examination (may only be given after a conditional offer of employment)</li>
        <li>Review board or selection committee assessment</li>
    </ol>
    <h4>1000.4.1 VETERAN'S PREFERENCE</h4>
    <p>Veterans who are candidates for job openings shall receive preference recognizing the training and experience, loyalty and sacrifice not otherwise readily assessed by examination pursuant to Minn. Stat. § 197.455. The following preference, credit
        and requirements shall be applied as applicable (Minn. Stat. § 197.455):</p>
    <p><strong>Nondisabled Veteran's Credit</strong> - There shall be added to the competitive open examination rating of a nondisabled veteran, who so elects, a credit of 10 points, provided that veteran obtained a passing rating on the examination without
        the addition of the credit points.</p>
    <p><strong>Disabled Veteran's Credit</strong> - There shall be added to the competitive open examination rating of a disabled veteran, who so elects, a credit of 15 points, provided that the veteran obtained a passing rating on the examination without
        the addition of the credit points. There shall be added to the competitive promotional examination rating of a disabled veteran, who so elects, a credit of five points provided that:</p>
    <ol class="alpha">
        <li>The veteran obtained a passing rating on the examination without the addition of the credit points.</li>
        <li>The veteran is applying for a first promotion after securing public employment.</li>
    </ol>
    <p>For the purpose of the preference to be used in securing appointment from a competitive open examination, "disabled veteran" means a person has a compensable service-connected disability as adjudicated by the U.S. Veterans Administration, or by the
        retirement board of one of the several branches of the armed forces, that is existing at the time preference is claimed.</p>
    <p>For purposes of the preference to be used in securing appointment from a competitive promotional examination, "disabled veteran" means a person who, at the time of election to use a promotional preference, is entitled to disability compensation under
        laws administered by the Veterans Administration for a permanent service-connected disability rated at 50 percent or more.</p>
    <p><strong>Preference for Spouses</strong> - A preference available pursuant to Minn. Stat. § 197.455 may be used by the surviving spouse of a deceased veteran and by the spouse of a disabled veteran who, because of the disability, is unable to qualify.</p>
    <p><strong>Ranking of Veterans</strong> - An eligible applicant with a rating augmented by veteran's preference shall be entered on an eligible list ahead of a non-veteran with the same rating. When notifying eligible applicants that they have passed
        examinations this department shall show the final examination ratings and preference credits and shall notify eligible applicants that they may elect to use veteran's preference to augment passing ratings.</p>
    <p>When this department rejects a certified eligible applicant who has received veteran's preference, the appointing authority shall notify the eligible applicant in writing of the reasons for the rejection and file the notice with the Metro Transit
        Department of Human Resources.</p>

    <h3>1000.5 BACKGROUND INVESTIGATION</h3>
    <p>Every candidate shall undergo a thorough background investigation to verify his/her personal integrity and high ethical standards, and to identify any past behavior that may be indicative of the candidate’s unsuitability to perform duties relevant
        to the operation of the Metro Transit Police Department.</p>
    <p>The background investigation must determine whether the candidate meets the standards established by the Minnesota Board of Peace Officer Standards and Training (POST) as well as the security standards established to access state and national computerized
        record and communication systems (Minn. Stat. § 626.87; Minn. R. 6700.0700).</p>
    <h4>1000.5.1 NOTICES</h4>
    <p>Background investigators shall ensure that investigations are conducted and notices provided in accordance with the requirements of the FCRA (15 USC § 1681d; 16 CFR 600 et seq.).</p>
    <h4>1000.5.2 STATE NOTICES</h4>
    <p>Upon initiation of a candidate’s background investigation, the department shall provide written notice to POST that includes the candidate’s full name and date of birth and the candidate’s peace officer license number, if applicable (Minn. Stat. §
        626.87).
    </p>
    <h4>1000.5.3 REVIEW OF SOCIAL MEDIA SITES</h4>
    <p>Due to the potential for accessing unsubstantiated, private or protected information, the Hiring Manager should not require candidates to provide passwords, account information or access to password-protected social media accounts.</p>
    <p>The Hiring Manager should consider utilizing the services of an appropriately trained and experienced third party to conduct open source, Internet-based searches and/or review information from social media sites to ensure that:</p>
    <p>(a) The legal rights of candidates are protected.</p>
    <ol class="alpha">
        <li>Material and information to be considered are verified, accurate and validated.</li>
        <li>The Department fully complies with applicable privacy protections and local, state and federal law.</li>
    </ol>
    <p>Regardless of whether a third party is used, the Hiring Manager should ensure that potentially impermissible information is not available to any person involved in the candidate selection process.</p>
    <h4>1000.5.4 DOCUMENTING AND REPORTING</h4>
    <p>The background investigator shall summarize the results of the background investigation in a report that includes sufficient information to allow the reviewing authority to decide whether to extend a conditional offer of employment. The report shall
        not include any information that is prohibited from use, including that from social media sites, in making employment decisions. The report and all supporting documentation shall be included in the candidate’s background investigation file.</p>
    <h4>1000.5.5 RECORDS RETENTION</h4>
    <p>The background report and all supporting documentation shall be maintained in accordance with the established records retention schedule.</p>

    <h3>1000.6 DISQUALIFICATION GUIDELINES</h3>
    <p>As a general rule, performance indicators and candidate information and records shall be evaluated by considering the candidate as a whole, and taking into consideration the following:</p>
    <ul>
        <li>Age at the time the behavior occurred</li>
        <li>Passage of time</li>
        <li>Patterns of past behavior</li>
        <li>Severity of behavior</li>
        <li>Probable consequences if past behavior is repeated or made public</li>
        <li>Likelihood of recurrence</li>
        <li>Relevance of past behavior to public safety employment</li>
        <li>Aggravating and mitigating factors</li>
        <li>Other relevant considerations</li>
    </ul>
    <p>A candidate’s qualifications will be assessed on a case-by-case basis, using a totality-of-the- circumstances framework.</p>

    <h3>1000.7 EMPLOYMENT STANDARDS</h3>
    <p>All candidates shall meet the minimum standards required by state law. Candidates will be evaluated based on merit, ability, competence and experience, in accordance with the high standards of integrity and ethics valued by the Department and the
        community.
    </p>
    <p>Validated, job-related and nondiscriminatory employment standards shall be established for each job classification and shall minimally identify the training, abilities, knowledge and skills required to perform the position’s essential duties in a
        satisfactory manner. Each standard should include performance indicators for candidate evaluation. The Department of Human Resources should maintain validated standards for all positions.</p>
    <h4>1000.7.1 STANDARDS FOR OFFICERS</h4>
    <p>Candidates shall meet the following minimum standards established by Minnesota POST (Minn. R. 6700.0700):</p>
    <ol class="alpha">
        <li>Citizen of the United States</li>
        <li>Possess a valid driver’s license</li>
        <li>Free of any felony conviction</li>
        <li>Not be required to register as a predatory offender under state law</li>
        <li>Free of conviction of any controlled substance law or of any misdemeanor conviction listed in Minn. R. 6700.0700</li>
        <li>Fingerprinted for purposes of disclosure of any felony convictions</li>
        <li>Submit to a medical examination and psychological evaluation to ensure that the candidate is free from any physical, emotional or mental condition which might adversely affect his/ her performance of peace officer duties</li>
        <li>Successfully complete a physical strength and agility examination (if applicable)</li>
        <li>Successfully complete an oral examination</li>
    </ol>
    <h4>1000.7.2 NOTIFICATION TO POST</h4>
    <p>The Chief of Police shall notify the POST Board of any candidate appointed to the position of peace officer before the first day of employment on a form provided by POST. The appointee may not exercise peace officer powers until the notification form
        is received and approved by POST Board (Minn. R. 6700.0800).</p>
</div>