<div class="chapter" id="1002">
    <h2>1002 - Evaluation of Employees</h2>
    <h3>1002.1 PURPOSE AND SCOPE</h3>
    <p>The Department's employee performance evaluation system is designed to record work performance for both the Department and the employee, providing recognition for good work and developing a guide for improvement.</p>

    <h3>1002.2 POLICY</h3>
    <p>The Metro Transit Police Department utilizes a performance evaluation report to measure performance and to use as a factor in making personnel decisions that relate to promotion, reassignment, discipline, demotion and termination. The evaluation report
        is intended to serve as a guide for work planning and review by the supervisor and employee. It gives supervisors a way to create an objective history of work performance based on job standards.</p>
    <p>The Department evaluates employees in a non-discriminatory manner based upon job-related factors specific to the employee's position, without regard to sex, race, color, national origin, religion, age, disability or other protected classes.</p>

    <h3>1002.3 EVALUATION PROCESS</h3>
    <p>Evaluation reports will cover a specific period of time and should be based on documented performance during that period. Evaluation reports will be completed by each employee's immediate supervisor. Other supervisors directly familiar with the employee's
        performance during the rating period should be consulted by the immediate supervisor for their input.</p>
    <p>Each supervisor should discuss the tasks of the position, standards of performance expected and the evaluation criteria with each employee at the beginning of the rating period. Supervisors should document this discussion in the prescribed manner.</p>
    <p>Assessment of an employee's job performance is an ongoing process. Continued coaching and feedback provides supervisors and employees with opportunities to correct performance issues as they arise.</p>
    <p>Non-probationary employees demonstrating substandard performance shall be notified in writing of such performance as soon as possible in order to have an opportunity to remediate the issues. Such notification should occur at the earliest opportunity,
        with the goal being a minimum of 90 days written notice prior to the end of the evaluation period.</p>
    <p>Employees who disagree with their evaluation and who desire to provide a formal response or a rebuttal, may do so in writing in the prescribed format and time period.</p>

    <h3>1002.4 EVALUATION FREQUENCY</h3>
    <p>Employees are evaluated based on the following guidelines unless their collective bargaining agreement states otherwise:</p>
    <ol class="alpha">
        <li>Full-time / Part-time non-represented:
            <ol class="decimal">
                <li>Evaluated in months three and five during their six month probation.</li>
                <li>Evaluated yearly upon completion of probation.</li>
            </ol>
        </li>
        <li>Full-time licensed officers:
            <ol class="decimal">
                <li>Evaluated daily, weekly and monthly during field training and while on probation.</li>
                <li>Evaluated yearly upon completion of probation.</li>
            </ol>
        </li>
        <li>Part-time licensed officers:</p>
            <ol class="decimal">
                <li>Evaluated daily, weekly and monthly during their first 100 hours of shift work.</li>
                <li>Evaluated yearly upon completion of probation.</li>
            </ol>
        </li>
    </ol>
    <h4>1002.4.1 PART-TIME OFFICER EVALUATIONS</h4>
    <p>Part-time officer evaluations are conducted by supervisors with knowledge of the employees performance during the rating period. This will often be completed by a committee of supervisors based on the sporadic schedules worked by many of the part-time
        officers.</p>

    <h3>1002.5 FULL-TIME PROBATIONARY PERSONNEL</h3>
    <p>Personnel must successfully complete the probationary period before being eligible for certification as regular employees. An evaluation will be completed at months three and five for all full-time non- licensed personnel during the probationary period.
        Probationary licensed personnel are evaluated daily, weekly and monthly during the probationary period.</p>

    <h3>1002.6 FULL-TIME LICENSED REGULAR STATUS PERSONNEL</h3>
    <p>Regular employees are subject to three types of performance evaluations:</p>
    <p><strong>Regular</strong> - An Employee Performance Evaluation shall be completed once each year by the employee's immediate supervisor.</p>
    <p><strong>Transfer</strong> - If an employee is transferred from one assignment to another in the middle of an evaluation period and less than six months have transpired since the transfer, an evaluation shall be completed by the current supervisor
        with input from the previous supervisor.</p>
    <p><strong>Special</strong> - A special evaluation may be completed any time the rater or the rater's supervisor determine one is necessary due to employee performance that is deemed less than standard. Generally, the special evaluation will be the tool
        used to demonstrate those areas of performance deemed less than standard when follow-up action is planned (e.g., action plan, remedial training, retraining). The evaluation form and the attached documentation shall be submitted as one package.</p>
    <h4>1002.6.1 RATINGS</h4>
    <p>When completing the Employee Performance Evaluation for licensed personnel, the rater will select the category that best describes the employee's performance. The definition of each rating category is as follows:</p>
    <p><strong>Outstanding</strong> - Actual performance that is well beyond that required for the position. It is exceptional performance, definitely superior or extraordinary.</p>
    <p><strong>Exceeds Standards</strong> - Represents performance that is better than expected of a fully competent employee. It is superior to what is expected but is not of such rare nature to warrant outstanding.</p>
    <p><strong>Meets Standards</strong> - Performance of a fully competent employee. It means satisfactory performance that meets the standards required of the position.</p>
    <p><strong>Needs Improvement</strong> -A level of performance less than that expected of a fully competent employee and less than the standards required of the position. A needs-improvement rating must be thoroughly discussed with the employee.</p>
    <p><strong>Unsatisfactory</strong> - Performance is inferior to the standards required of the position. It is very inadequate or undesirable performance that cannot be tolerated.</p>
    <p>Space for written comments is provided at the end of the evaluation in the rater comments section. This section allows the rater to document the employee's strengths, weaknesses and suggestions for improvement. Any rating under any job dimension marked
        unsatisfactory, needs improvement or outstanding shall be substantiated in the rater comments section. Supervisors are required to add comments to each evaluation they complete regardless of the rating category selected.</p>
    <p>Non-represented employees are reviewed on Metropolitan Council evaluation forms that contain similar rating categories.</p>

    <h3>1002.7 EVALUATION INTERVIEW</h3>
    <p>When the supervisor has completed the preliminary evaluation, arrangements shall be made for a private discussion of the evaluation with the employee. The employee is encouraged to provide the supervisor with a self-evaluation using the same performance
        evaluation report. The supervisor should discuss the results of the recently completed rating period and clarify any questions the employee may have.</p>
    <p>If the employee has valid and reasonable protests of any of the ratings, the supervisor may make appropriate changes to the evaluation. Areas needing improvement and goals for reaching the expected level of performance should be identified and discussed.
        The supervisor should also provide relevant counseling regarding advancement, specialty positions and training opportunities. The supervisor and employee will sign and date the evaluation. Employees may also write comments in the employee comments
        section of the performance evaluation report.</p>

    <h3>1002.8 EVALUATION REVIEW</h3>
    <p>Officers will typically be reviewed by Sergeants. Those evaluations are then forwarded to the Shift Supervisor and ultimately to the Division Supervisor. The Division Supervisor shall review the evaluation for fairness, impartiality, uniformity and
        consistency.</p>
    <p>Sergeants will typically be reviewed by Lieutenants. Those evaluations are then forwarded to the Division Supervisor where the evaluations are reviewed for fairness, impartiality, uniformity and consistency. The evaluation is then forwarded to the
        Chief of Police or their designee for review.</p>
    <p>Lieutenants will typically be reviewed by a Division Supervisor. Those evaluations are then forwarded to the Chief of Police or their designee where they are reviewed for fairness, impartiality, uniformity and consistency.</p>

    <h3>1002.9 EVALUATION DISTRIBUTION</h3>
    <p>The original performance evaluation for licensed personnel shall be maintained in the employee's personnel file in the office of the Chief of Police for the tenure of the employee's employment. A copy will also be given to the employee. The original
        performance evaluation for non-represented personnel shall be maintained in the employee's personnel file in the office of the Chief of Police for the tenure of the employee's employment. A copy will also be given to the employee as well as provided
        to the Metropolitan Council / Metro Transit Department of Human Resources.</p>
</div>