<div class="chapter" id="1004">
    <h2>1004 - Promotional and Transfer Policy</h2>
    <h3>1004.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish required and desirable qualifications for promotion within the ranks of the Metro Transit Police Department.</p>
    <h4>1004.1.1   GENERAL REQUIREMENTS</h4>
    <p>The following conditions will be used in evaluating employees for promotion and transfer:</p>
    <ol class="alpha">
        <li>Presents a professional, neat appearance.</li>
        <li>Maintains a physical condition that aids in his/her performance.</li>
        <li>Demonstrates:
            <ol class="decimal">
                <li>Emotional stability and maturity.</li>
                <li>Stress tolerance.</li>
                <li>Sound judgment and decision-making.</li>
                <li>Personal integrity and ethical conduct.</li>
                <li>Leadership.</li>
                <li>Initiative.</li>
                <li>Adaptability and flexibility.</li>
                <li>Ability to conform to organizational goals and objectives.</li>
                <li>Skills and abilities related to the position.</li>
            </ol>
        </li>
    </ol>

    <h3>LICENSED NON-SUPERVISORY SELECTION PROCESS</h3>
    <p>The following positions are considered additional duties and/or transfers and are not considered promotions:</p>
    <ol class="alpha">
        <li>Counter Threat / Street Crimes Unit</li>
        <li>Investigator (Career Enrichment - rotation)</li>
        <li>Crash Reconstructionist</li>
        <li>Field Training Officer</li>
        <li>Use of Force Instructor</li>
        <li>Firearms Instructor</li>
        <li>Taser Instructor</li>
    </ol>
    <h4>1004.2.1 DESIRABLE QUALIFICATIONS</h4>
    <p>The following qualifications apply to consideration for additional duties / transfer:</p>
    <ol class="alpha">
        <li>Three years experience.</li>
        <li>Off probation.</li>
        <li>Has shown an expressed interest in the position applied for.</li>
        <li>Education, training and demonstrated abilities in related areas, such as, enforcement activities, investigative techniques, report writing and public relations.</li>
        <li>Complete any training required by POST, federal or state law.</li>
    </ol>

    <h3>1004.3 SELECTION PROCESS</h3>
    <p>The following criteria apply to additional duties / transfers.</p>
    <ol class="alpha">
        <li>An administrative evaluation as determined by the Chief of Police that shall include a review of supervisor recommendations. Each supervisor who has supervised or otherwise been involved with the candidate may submit recommendations.</li>
        <li>The supervisor recommendations will be submitted to the Division Supervisor for whom the candidate will work. The Division Supervisor will schedule interviews with each candidate.</li>
        <li>Based on supervisor recommendations and those of the Division Supervisor after the interview, the Division Supervisor will submit his/her recommendation(s) to the Chief of Police</li>
        <li>Appointment by the Chief of Police.</li>
    </ol>
    <p>The policy and procedures for all positions may be waived for temporary assignments, emergency situations or for training.</p>

    <h3>1004.4 PROMOTIONAL SPECIFICATIONS</h3>
    <p>Specifications for promotional opportunities are on file with the Metro Transit Department of Human Resources upon a job opening being posted.</p>

    <h3>1004.5 SUPERVISOR CERTIFICATE</h3>
    <p>Within one year of the effective date of assignment, all full-time firstline supervisors should complete a supervisor training course approved by Minnesota POST.</p>
</div>