<div class="chapter" id="1008">
    <h2>1008 - Anti-Retaliation</h2>
    <h3>1008.1 PURPOSE AND SCOPE</h3>
    <p>This policy prohibits retaliation against members who identify workplace issues, such as fraud, waste, abuse of authority, gross mismanagement or any inappropriate conduct or practices, including violations that may pose a threat to the health, safety
        or well-being of members.</p>
    <p>This policy does not prohibit actions taken for nondiscriminatory or non-retaliatory reasons, such as discipline for cause.</p>
    <p>These guidelines are intended to supplement and not limit members’ access to other applicable remedies. Nothing in this policy shall diminish the rights or remedies of a member pursuant to any applicable federal law, provision of the U.S. Constitution,
        law, ordinance or collective bargaining agreement.</p>

    <h3>1008.2 POLICY</h3>
    <p>The Metro Transit Police Department has a zero tolerance for retaliation and is committed to taking reasonable steps to protect from retaliation members who, in good faith, engage in permitted behavior or who report or participate in the reporting
        or investigation of workplace issues. All complaints of retaliation will be taken seriously and will be promptly and appropriately investigated.</p>

    <h3>1008.3 RETALIATION PROHIBITED</h3>
    <p>No member may retaliate against any person for engaging in lawful or otherwise permitted behavior; for opposing a practice believed to be unlawful, unethical, discriminatory or retaliatory; for reporting or making a complaint under this policy; or
        for participating in any investigation related to a complaint under this or any other policy.</p>
    <p>Retaliation includes any adverse action or conduct, including but not limited to:</p>
    <ul>
        <li>Refusing to hire or denying a promotion.</li>
        <li>Extending the probationary period.</li>
        <li>Unjustified reassignment of duties or change of work schedule.</li>
        <li>Real or implied threats or other forms of intimidation to dissuade the reporting of wrongdoing or filing of a complaint, or as a consequence of having reported or participated in protected activity.</li>
        <li>Taking unwarranted disciplinary action.</li>
        <li>Spreading rumors about the person filing the complaint or about the alleged wrongdoing.</li>
        <li>Shunning or unreasonably avoiding a person because he/she has engaged in protected activity.</li>
    </ul>

    <h3>1008.4 COMPLAINTS OF RETALIATION</h3l>
												            <p>Any member who feels he/she has been retaliated against in violation of this policy should promptly report the matter to any supervisor, command staff member, Chief of Police or the Metropolitan Council / Metro Transit (e.g. Human Resources, General Counsel).</p>
												            <p>Members shall act in good faith, not engage in unwarranted reporting of trivial or minor deviations or transgressions, and make reasonable efforts to verify facts before making any complaint in order to avoid baseless allegations. Members shall not report or state an intention to report information or an allegation knowing it to be false, with willful or reckless disregard for the truth or falsity of the information or otherwise act in bad faith.</p>
												            <p>Investigations are generally more effective when the identity of the reporting member is known, thereby allowing investigators to obtain additional information from the reporting member. However, complaints may be made anonymously. All reasonable efforts shall be made to protect the reporting member's identity. However, confidential information may be disclosed to the extent required by law or to the degree necessary to conduct an adequate investigation and make a determination regarding a complaint. In some situations, the investigative process may not be complete unless the source of the information and a statement by the member is part of the investigative process.</p>

												            <h3>1008.5 SUPERVISOR RESPONSIBILITIES</h3>
    <p>Supervisors are expected to remain familiar with this policy and ensure that members under their command are aware of its provisions.</p>
    <p>The responsibilities of supervisors include, but are not limited to:</p>
    <ol class="alpha">
        <li>Ensuring complaints of retaliation are investigated as provided in the Personnel Complaints Policy.</li>
        <li>Receiving all complaints in a fair and impartial manner.</li>
        <li>Documenting the complaint and any steps taken to resolve the problem.</li>
        <li>Acknowledging receipt of the complaint, notifying the Chief of Police via the chain of command and explaining to the member how the complaint will be handled.</li>
        <li>Taking appropriate and reasonable steps to mitigate any further violations of this policy.</li>
        <li>Monitoring the work environment to ensure that any member making a complaint is not subjected to further retaliation.</li>
        <li>Periodic follow-up with the complainant to ensure that retaliation is not continuing.</li>
        <li>Not interfering with or denying the right of a member to make any complaint.</li>
        <li>Taking reasonable steps to accommodate requests for assignment or schedule change made by a member who may be the target of retaliation if it would likely mitigate the potential for further violations of this policy.</li>
    </ol>

    <h3>1008.6 COMMAND STAFF RESPONSIBILITIES</h3>
    <p>The Chief of Police should communicate to all supervisors the prohibition against retaliation.</p>
    <p>Command staff shall treat all complaints as serious matters and shall ensure that prompt actions take place, including but not limited to:</p>
    <ol class="alpha">
        <li>Communicating to all members the prohibition against retaliation.</li>
        <li>The timely review of complaint investigations.</li>
        <li>Remediation of any inappropriate conduct or condition and instituting measures to eliminate or minimize the likelihood of recurrence.</li>
        <li>The timely communication of the outcome to the complainant.</li>
    </ol>

    <h3>1008.7 WHISTLE-BLOWING</h3>
    <p>The Minnesota Whistleblower Act protects a member who, in good faith (Minn. Stat. § 181.932):</p>
    <ol class="alpha">
        <li>Communicates a violation of any law or rule to the department or to any government body or law enforcement official.</li>
        <li>Participates in an investigation, hearing or inquiry at the request of a public body or office.</li>
        <li>Refuses an order to perform an act that the member objectively believes violates a law, rule or regulation, and informs the employer of the reason.</li>
        <li>Reports a situation where the quality of health care services provided by a health care facility or provider violates a state or federal standard and potentially places the public at risk of harm.</li>
        <li>Communicates the findings of a technical or scientific study that the member believes, in good faith, to be truthful and accurate.</li>
    </ol>
    <p>Members who believe they have been the subject of retaliation for engaging in such protected behaviors should promptly report it to a supervisor. Supervisors should refer the complaint to the Professional Standards Unit for investigation pursuant
        to the Personnel Complaints Policy.</p>

    <h3>1008.8 RECORDS RETENTION AND RELEASE</h3>
    <p>The Records Supervisor shall ensure that documentation of investigations is maintained in accordance with the established records retention schedules.</p>

    <h3>1008.9 TRAINING</h3>
    <p>The policy should be reviewed with each new member.</p>
    <p>All members should receive periodic refresher training on the requirements of this policy.</p>
</div>