<div class="chapter" id="1010">
    <h2>1010 - Reporting of Employee Convictions and Court Orders</h2>
    <h3>1010.1 PURPOSE AND SCOPE</h3>
    <p>Convictions of certain offenses may restrict or prohibit an employee’s ability to properly perform official duties. Therefore, all employees shall be required to promptly notify the Department of any past and current criminal convictions.</p>

    <h3>1010.2 DOMESTIC VIOLENCE CONVICTIONS AND RESTRAINING ORDERS</h3>
    <p>Minnesota and federal law prohibit individuals convicted of certain offenses and individuals subject to certain court orders from lawfully possessing a firearm. Such convictions and court orders often involve allegations of the use or attempted use
        of force or threatened use of a weapon on any individual in a domestic relationship (e.g., spouse, cohabitant, parent, child) (18 USC § 922; Minn. Stat. § 518B.01).</p>
    <p>All members are responsible for ensuring that they have not been disqualified from possessing a firearm by any such conviction or court order and shall promptly report any such conviction or court order to a supervisor, as provided in this policy.</p>

    <h3>1010.3 CRIMINAL CONVICTIONS</h3>
    <p>Any person convicted of a felony is prohibited from being a peace officer in the State of Minnesota. Any license of a peace officer convicted of a felony is automatically revoked (Minn. Stat. § 626.8431).</p>
    <p>Even when legal restrictions are not imposed by statute or by the courts upon conviction of any criminal offense, criminal conduct by a member of this department may prohibit him/her from carrying out law enforcement duties.</p>
    <p>Minn. Stat. § 624.713 prohibits ineligible persons from possessing a handgun or semi-automatic assault weapon.</p>
    <h4>1010.3.1 COURT ORDERS</h4>
    <p>All employees shall promptly notify the department if they are a party to, or have been served with, any court order from any jurisdiction.</p>

    <h3>1010.4 REPORTING PROCEDURE</h3>
    <p>All members of this department and all retired officers with an identification card issued by the Department shall promptly notify their immediate supervisor (or the Chief of Police in the case of retired officers) in writing of any past or current
        criminal arrest or conviction regardless of whether the matter is currently on appeal and regardless of the penalty or sentence, if any.</p>
    <p>All members and all retired officers with an identification card issued by the Department shall further promptly notify their immediate supervisor (or the Chief of Police in the case of retired officers) in writing if the member or retiree becomes
        the subject of a domestic violence restraining court order or similar court order.</p>
    <p>Any member whose criminal conviction unduly restricts or prohibits that member from fully and properly performing his/her duties may be disciplined including, but not limited to, being placed on administrative leave, reassignment and/or termination.</p>
    <p>Any member failing to provide prompt written notice pursuant to this policy shall be subject to discipline.</p>

    <h3>1010.5 CHEMICAL DEPENDENCY TREATMENT</h3>
    <p>If an officer is informally admitted to a treatment facility pursuant to Minn. Stat. § 253B.04 for chemical dependency he/she is not eligible to possess a pistol, unless the officer possesses a certificate from the head of the treatment facility discharging
        or provisionally discharging the officer from the treatment facility (Minn. Stat. § 624.713 Subd. 1(6).</p>
    <p>Officers in this situation shall promptly notify the department.</p>
</div>