<div class="chapter" id="1012">
    <h2>1012 - Drug- and Alcohol-Free Workplace</h2>
    <h3>1012.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish clear and uniform guidelines regarding drugs and alcohol in the workplace.</p>

    <h3>1012.2 POLICY</h3>
    <p>It is the policy of this department to provide a drug- and alcohol-free workplace for all members.</p>

    <h3>1012.3 GENERAL GUIDELINES</h3>
    <p>Alcohol and drug use in the workplace or on department time can endanger the health and safety of department members and the public. Such use shall not be tolerated (41 USC § 8103).</p>
    <p>Members who have consumed an amount of an alcoholic beverage or taken any medication, or combination thereof, that would tend to adversely affect their mental or physical abilities shall not report for duty. Affected members shall notify the Shift
        Supervisor or appropriate supervisor as soon as the member is aware that he/she will not be able to report to work. If the member is unable to make the notification, every effort should be made to have a representative contact the supervisor in
        a timely manner. If the member is adversely affected while on-duty, he/she shall be immediately removed and released from work (see Work Restrictions in this policy).</p>
    <h4>1012.3.1 USE OF MEDICATIONS</h4>
    <p>Members should avoid taking any medications that will impair their ability to safely and completely perform their duties. Any member who is medically required or has a need to take any such medication shall report that need to his/her immediate supervisor
        prior to commencing any on- duty status.</p>
    <p>No member shall be permitted to work or drive a vehicle owned or leased by the Department while taking any medication that has the potential to impair his/her abilities, without a written release from his/her physician.</p>
    <p>Possession or use of medical cannabis or being under the influence of cannabis on- or off-duty is prohibited and may lead to disciplinary action under this policy or the Standards of Conduct Policy for a violation of federal law through possession
        of marijuana or a derivative.</p>

    <h3>1012.4 MEMBER RESPONSIBILITIES</h3>
    <p>Members shall report for work in an appropriate mental and physical condition. Members are prohibited from purchasing, manufacturing, distributing, dispensing, possessing or using controlled substances or alcohol on department premises or on department
        time (41 USC § 8103). The lawful possession or use of prescribed medications or over-the-counter remedies is excluded from this prohibition.</p>
    <p>Members who are authorized to consume alcohol as part of a special assignment shall not do so to the extent of impairing on-duty performance.</p>
    <p>Members shall notify a supervisor immediately if they observe behavior or other evidence that they believe demonstrates that a fellow member poses a risk to the health and safety of the member or others due to drug or alcohol use.</p>
    <p>Members are required to notify their immediate supervisors of any criminal drug statute conviction for a violation occurring in the workplace no later than five days after such conviction (41 USC § 8103).</p>

    <h3>1012.5 EMPLOYEE ASSISTANCE PROGRAM</h3>
    <p>There may be available a voluntary employee assistance program to assist those who wish to seek help for alcohol and drug problems (41 USC § 8103). Insurance coverage that provides treatment for drug and alcohol abuse also may be available. Employees
        should contact the Department of Human Resources, their insurance providers or the employee assistance program for additional information. It is the responsibility of each employee to seek assistance before alcohol or drug problems lead to performance
        problems.</p>

    <h3>1012.6 WORK RESTRICTIONS</h3>
    <p>If a member informs a supervisor that he/she has consumed any alcohol, drug or medication that could interfere with a safe and efficient job performance, the member may be required to obtain clearance from his/her physician before continuing to work.</p>
    <p>If the supervisor reasonably believes, based on objective facts, that a member is impaired by the consumption of alcohol or other drugs, the supervisor shall prevent the member from continuing work and shall ensure that he/she is safely transported
        away from the Department.</p>

    <h3>1012.7 REQUESTING SCREENING TESTS</h3>
    <p>The Department may request or require drug or alcohol testing in the following circumstances (Minn. Stat. § 181.951; Minn. Stat. § 181.952):</p>
    <ol class="alpha">
        <li><strong>Reasonable suspicion</strong> - The Shift Supervisor may request or require an employee to undergo drug and alcohol testing if there is a reasonable suspicion of any of the following:
            <ol class="decimal">
                <li>The employee is under the influence of drugs or alcohol.</li>
                <li>The employee has violated department rules prohibiting the use, possession, sale or transfer of drugs or alcohol while he/she is working, is on department property or is operating a vehicle owned by the department.</li>
                <li>The employee has sustained an injury arising out of and in the course of employment, or has caused another employee to sustain an injury (full definition of personal injury in Minn. Stat. § 176.011, Subd. 16).</li>
                <li>The employee has caused a work-related accident, or his/her use of a vehicle, firearm or safety equipment involved a work-related accident.</li>
            </ol>
        </li>
        <li>Following a conditional job offer</li>
        <li>As part of an employee’s routine physical examination</li>
        <li>Under a random testing program of employees</li>
        <li>When the employee has been referred for an evaluation or treatment, or is participating in a treatment program under an employee benefit plan</li>
    </ol>
    <h4>1012.7.1 DRUG- AND ALCOHOL-TESTING PROGRAM</h4>
    <p>The following applies to the department’s drug and alcohol testing procedures (Minn. Stat. § 181.951; Minn. Stat. § 181.952; Minn. Stat. § 181.953):</p>
    <ol class="alpha">
        <li>An employee or applicant has the right to refuse a test but the consequences of a refusal may result in discipline, up to and including termination, or a decision not to hire the applicant.</li>
        <li>Initial screening tests must be verified by a confirmatory test for the purpose of discipline.</li>
        <li>Employees will have an opportunity to participate in an appropriate alcohol or drug program for their first confirmed positive test. The program may be in lieu of other discipline unless the employee fails the program or refuses to participate.</li>
        <li>A confirmed positive test may result in discipline, up to and including termination.</li>
        <li>An employee or job applicant will have the opportunity to explain a positive test result and may request and pay for a second confirmatory retest.</li>
        <li>All disciplinary procedural safeguards in this manual apply, including the post-discipline appeal procedures (see the Personnel Complaints Policy).</li>
        <li>Employees and job applicants shall receive required written notice, including posting, of the drug- and alcohol-testing policies and procedures as set forth in Minn. Stat. § 181.952.</li>
        <li>The safeguards of Minn. Stat. § 181.953 will be followed for any testing and any related discipline process.</li>
    </ol>

    <h3>1012.8 COMPLIANCE WITH THE DRUG-FREE WORKPLACE ACT</h3>
    <p>No later than 30 days following notice of any drug statute conviction for a violation occurring in the workplace involving a member, the Department will take appropriate disciplinary action, up to and including dismissal, and/or requiring the member
        to satisfactorily participate in a drug abuse assistance or rehabilitation program (41 USC § 8104).</p>

    <h3>1012.9 CONFIDENTIALITY</h3>
    <p>The Department recognizes the confidentiality and privacy due to its members. Disclosure of any information relating to substance abuse treatment, except on a need-to-know basis, shall only be with the express written consent of the member involved
        or pursuant to lawful process.</p>
    <p>The written results of any screening tests and all documents generated by the employee assistance program are considered confidential medical records and shall be maintained separately from the employee’s other personnel files.</p>
</div>