<div class="chapter" id="1014">
    <h2>1014 - Annual Leave</h2>
    <h3>1014.1 PURPOSE AND SCOPE</h3>
    <p>Employees of this department are provided with an annual leave benefit that gives them continued compensation during times of absence due to personal leave, illness etc. The number of hours available is detailed in the employee's respective personnel
        manual or applicable collective bargaining agreement. Employees may also be entitled to additional paid or unpaid leave for certain family and medical reasons as provided for in the Family and Medical Leave Act (FMLA) (29 CFR 825.100).</p>

    <h3>1014.2 EMPLOYEE RESPONSIBILITIES</h3>
    <p>Annual leave may be used for scheduled/approved absences. Abuse of annual leave may result in discipline and/or denial of annual leave benefits.</p>
    <h4>1014.2.1 NOTIFICATION</h4>
    <p>Employees are encouraged to notify an immediate supervisor, the Shift Supervisor or other appropriate supervisor as soon as they are aware that they will not be able to report to work. At a minimum, employees shall make such notification no less than
        the amount of time specified in their collective bargaining agreement before the start of their scheduled shift. If an employee is unable to contact the supervisor in the case of an emergency, every reasonable effort should be made to have a representative
        contact the supervisor.</p>
    <p>When the necessity for leave is foreseeable, the employee shall, whenever reasonably possible, provide notice to the Department as soon as reasonably possible of the intent to take leave.</p>

    <h3>1014.3 EAVE DUE TO ILLNESS</h3>
    <p>Employees on extended absences shall, if possible, contact their unit supervisor at three-day intervals to provide an update on their absence and expected date of return. Employees absent from duty due to personal illness in excess of three consecutive
        days may be required to furnish a statement from their health care provider supporting the use of annual leave and/or the ability to return to work.</p>
    <p>Nothing in this section precludes a supervisor, based upon reasonable cause, from requiring a physician's statement if three or fewer annual leave days are taken for an illness.</p>

    <h3>1014.4 SUPERVISOR RESPONSIBILITIES</h3>
    <p>Supervisors should monitor annual leave usage and regularly review the attendance of employees under their command to ensure that the use of annual leave is consistent with this policy. Supervisors should address annual leave use in the employee's
        performance evaluation when it has negatively affected the employee's performance or ability to complete assigned duties and when unusual amounts of annual leave by the employee have a negative impact on department operations. When appropriate,
        supervisors should counsel employees regarding the excessive use of annual leave and should consider referring the employee to the Employee Assistance Program.</p>
</div>