<div class="chapter" id="1016">
    <h2>1016 - Communicable Diseases</h2>
    <h3>1016.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides general guidelines to assist in minimizing the risk of department members contracting and/or spreading communicable diseases.</p>
    <h4>1016.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Communicable disease</strong> - A human disease caused by microorganisms that are present in and transmissible through human blood, bodily fluid, tissue, or by breathing or coughing. These diseases commonly include, but are not limited to,
        hepatitis B virus (HBV), HIV and tuberculosis.</p>
    <p><strong>Exposure</strong> - When an eye, mouth, mucous membrane or non-intact skin comes into contact with blood or other potentially infectious materials, or when these substances are injected or infused under the skin; when an individual is exposed
        to a person who has a disease that can be passed through the air by talking, sneezing or coughing (e.g., tuberculosis), or the individual is in an area that was occupied by such a person. Exposure only includes those instances that occur due to
        a member’s position at the Metro Transit Police Department. (See the exposure control plan for further details to assist in identifying whether an exposure has occurred.)</p>

    <h3>1016.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing a safe work environment for its members. Members should be aware that they are ultimately responsible for their own health and safety.</p>

    <h3>1016.3 EXPOSURE CONTROL OFFICER</h3>
    <p>The Chief of Police will assign a person as the Exposure Control Officer (ECO). The ECO shall develop an exposure control plan that includes:</p>
    <ol class="alpha">
        <li>Exposure-prevention and decontamination procedures.</li>
        <li>Procedures for when and how to obtain medical attention in the event of an exposure or suspected exposure.</li>
        <li>The provision that department members will have no-cost access to the appropriate personal protective equipment (PPE) (e.g., gloves, face masks, eye protection, pocket masks) for each member’s position and risk of exposure.</li>
        <li>Evaluation of persons in custody for any exposure risk and measures to separate them.</li>
        <li>Compliance with all relevant laws or regulations related to communicable diseases, including:
            <ol class="decimal">
                <li>Responding to requests and notifications regarding exposures covered under the Ryan White law (42 USC § 300ff-133; 42 USC § 300ff-136).</li>
                <li>Exposure control mandates in 29 CFR 1910.1030 (Minn. R. 5206.0600).</li>
                <li>Reporting cases and suspected cases of communicable diseases to the Department of Public Health (Minn. R. 4605.7070; Minn. Stat. § 144.4804).</li>
                <li>Notifying appropriate medical facilities regarding member exposures and providing assistance locating source individuals, as applicable (Minn. Stat. § 144.7414)</li>
            </ol>
        </li>
    </ol>
    <p>The ECO should also act as the liaison with the Minnesota Occupational Safety and Health Administration (MNOSHA) and may request voluntary compliance inspections. The ECO should annually review and update the exposure control plan and review implementation
        of the plan.</p>

    <h3>1016.4 EXPOSURE PREVENTION AND MITIGATION</h3>
    <h4>1016.4.1 GENERAL PRECAUTIONS</h4>
    <p>All members are expected to use good judgment and follow training and procedures related to mitigating the risks associated with communicable disease. This includes, but is not limited to (29 CFR 1910.1030; Minn. R. 5206.0600):</p>
    <ol class="alpha">
        <li>Stocking disposable gloves, antiseptic hand cleanser, CPR masks or other specialized equipment in the work area or department vehicles, as applicable.</li>
        <li>Wearing department-approved disposable gloves when contact with blood, other potentially infectious materials, mucous membranes and non-intact skin can be reasonably anticipated.</li>
        <li>Washing hands immediately or as soon as feasible after removal of gloves or other PPE.</li>
        <li>Treating all human blood and bodily fluids/tissue as if it is known to be infectious for a communicable disease.</li>
        <li>Using an appropriate barrier device when providing CPR.</li>
        <li>Using a face mask or shield if it is reasonable to anticipate an exposure to an airborne transmissible disease.</li>
        <li>Decontaminating non-disposable equipment (e.g., flashlight, control devices, clothing and portable radio) as soon as possible if the equipment is a potential source of exposure.
            <ol class="decimal">
                <li>Clothing that has been contaminated by blood or other potentially infectious materials shall be removed immediately or as soon as feasible and stored/decontaminated appropriately.</li>
            </ol>
        </li>
        <li>Handling all sharps and items that cut or puncture (e.g., needles, broken glass, razors, knives) cautiously and using puncture-resistant containers for their storage and/or transportation.</li>
        <li>Avoiding eating, drinking, smoking, applying cosmetics or lip balm, or handling contact lenses where there is a reasonable likelihood of exposure.</li>
        <li>Disposing of biohazardous waste appropriately or labeling biohazardous material properly when it is stored.</li>
    </ol>
    <h3>1016.4.2 IMMUNIZATIONS</h4>
										                    <p>Members who could be exposed to HBV due to their positions may receive the HBV vaccine and any routine booster at no cost (29 CFR 1910.1030; Minn. R. 5206.0600).</p>

												            <h3>1016.5 POST EXPOSURE</h3>
    <h4>1016.5.1 INITIAL POST-EXPOSURE STEPS</h4>
    <p>Members who experience an exposure or suspected exposure shall:</p>
    <ol class="alpha">
        <li>Begin decontamination procedures immediately (e.g., wash hands and any other skin with soap and water, flush mucous membranes with water).</li>
        <li>Obtain medical attention as appropriate.</li>
        <li>Notify a supervisor as soon as practicable.</li>
    </ol>
    <h4>1016.5.2 REPORTING REQUIREMENTS</h4>
    <p>The supervisor on-duty shall investigate every exposure or suspected exposure that occurs as soon as possible following the incident. The supervisor shall ensure the following information is documented (29 CFR 1910.1030; Minn. R. 5206.0600):</p>
    <ol class="alpha">
        <li>Name and Social Security number of the member exposed</li>
        <li>Date and time of the incident</li>
        <li>Location of the incident</li>
        <li>Potentially infectious materials involved and the source of exposure (e.g., identification of the person who may have been the source)</li>
        <li>Work being done during exposure</li>
        <li>How the incident occurred or was caused</li>
        <li>PPE in use at the time of the incident</li>
        <li>Actions taken post-event (e.g., clean-up, notifications)</li>
    </ol>
    <p>The supervisor shall advise the member that disclosing the identity and/or infectious status of a source to the public or to anyone who is not involved in the follow-up process is prohibited. The supervisor should complete the incident documentation
        in conjunction with other reporting requirements that may apply (see the Occupational Disease, Personal Injury and Death Reporting Policy).</p>
    <h4>1016.5.3 MEDICAL CONSULTATION, EVALUATION AND TREATMENT</h4>
    <p>Department members shall have the opportunity to have a confidential medical evaluation immediately after an exposure and follow-up evaluations as necessary.</p>
    <p>The ECO should request a written opinion/evaluation from the treating medical professional that contains only the following information (29 CFR 1910.1030; Minn. R. 5206.0600):</p>
    <ol class="alpha">
        <li>Whether the member has been informed of the results of the evaluation.</li>
        <li>Whether the member has been notified of any medical conditions resulting from exposure to blood or other potentially infectious materials which require further evaluation or treatment.</li>
    </ol>
    <p>No other information should be requested or accepted by the ECO.</p>
    <h4>1016.5.4 COUNSELING</h4>
    <p>The Department shall provide the member, and his/her family if necessary, the opportunity for counseling and consultation regarding the exposure (29 CFR 1910.1030; Minn. R. 5206.0600).</p>
    <h4>1016.5.5 SOURCE TESTING</h4>
    <p>Testing a person for communicable diseases when that person was the source of an exposure should be done when it is desired by the exposed member or when it is otherwise appropriate. Source testing is the responsibility of the ECO. If the ECO is unavailable
        to seek timely testing of the source, it is the responsibility of the exposed member’s supervisor to ensure testing is sought.</p>
    <p>Source testing may be achieved by:</p>
    <ol class="alpha">
        <li>Obtaining consent from the individual.</li>
        <li>Seeking testing through the procedures of Minn. Stat. § 144.7401 to Minn. Stat. § 144.7415 through a licensed hospital or other emergency medical care facility.</li>
    </ol>
    <p>Since there is the potential for overlap between the different manners in which source testing may occur, the ECO is responsible for coordinating the testing to prevent unnecessary or duplicate testing.</p>
    <p>The ECO should seek the consent of the individual for testing and consult the Prosecuting Attorney to discuss other options when no statute exists for compelling the source of an exposure to undergo testing if he/she refuses.</p>

    <h3>1016.6 CONFIDENTIALITY OF REPORTS</h3>
    <p>Medical information shall remain in confidential files and shall not be disclosed to anyone without the member’s written consent (except as required by law). Test results from persons who may have been the source of an exposure are to be kept confidential
        as well (Minn. Stat. § 144.7411).</p>

    <h3>1016.7 TRAINING</h3>
    <p>All members shall participate in training regarding communicable diseases commensurate with the requirements of their position. The training (29 CFR 1910.1030; Minn. R. 5206.0700):</p>
    <ol class="alpha">
        <li>Shall be provided at the time of initial assignment to tasks where an occupational exposure may take place and at least annually after the initial training.</li>
        <li>Shall be provided whenever the member is assigned new tasks or procedures affecting his/ her potential exposure to communicable disease.</li>
        <li>Should provide guidance on what constitutes an exposure, what steps can be taken to avoid an exposure and what steps should be taken if a suspected exposure occurs.</li>
    </ol>
</div>