<div class="chapter" id="1018">
    <h2>1018 - Smoking and Tobacco Use</h2>
    <h3>1018.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes limitations on smoking and the use of tobacco products by members and others while on-duty or while in Metro Transit Police Department facilities or vehicles.</p>
    <p>For the purposes of this policy, smoking and tobacco use includes, but is not limited to, any tobacco product, such as cigarettes, cigars, pipe tobacco, snuff, tobacco pouches and chewing tobacco, as well as any device intended to simulate smoking,
        such as an electronic cigarette or personal vaporizer.</p>

    <h3>1018.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes that tobacco use is a health risk and can be offensive to others.</p>
    <p>Smoking and tobacco use also presents an unprofessional image for the Department and its members. Therefore smoking and tobacco use is prohibited by members and visitors in all department facilities, buildings and vehicles, and as is further outlined
        in this policy (Minn. Stat. § 144.414).</p>

    <h3>1018.3 SMOKING AND TOBACCO EMPLOYEE USE</h3>
    <p>Smoking and tobacco use by members is prohibited anytime members are in public view representing the Department.</p>
    <p>It shall be the responsibility of each member to ensure that no person under his/her supervision smokes or uses any tobacco product inside Metropolitan Council / Metro Transit facilities and vehicles.</p>

    <h3>1018.4 ADDITIONAL PROHIBITIONS</h3>
    <p>No employee shall smoke, even while out of view of the public or off-duty, in areas properly posted with "No Smoking" notices nor shall any employee use tobacco products on public school property (Minn. Stat. § 609.681; Minn. Stat. § 144.4165). The
        Chief of Police or the authorized designee should ensure that proper signage is in place for notice of areas where tobacco use is restricted (Minn. R. 4620.0500).</p>
</div>