<div class="chapter" id="102">
    <h2>102 - Chief Executive Officer</h2>
    <h3>102.1 PURPOSE AND SCOPE</h3>
    <p>The Minnesota Legislature acting through the Minnesota Board of Peace Officer Standards and Training (POST Board) has mandated that all peace officers employed within the State of Minnesota shall hold a POST Board license (Minn. Stat. § 626.846).</p>
    <h4>102.1.1  CHIEF LAW ENFORCEMENT OFFICER REQUIREMENTS</h4>
    <p>Any chief law enforcement officer of this department, as defined in Minn. R. Ch. 6700.0100, shall as a condition of employment hold a license as a peace officer with the POST Board (Minn. R. 6700.0800; Minn. R. 6700.0501). The peace officer license shall be renewed every three years as required by Minn. R. 6700.1000.</p>
</div>
