<div class="chapter" id="1020">
    <h2>1020 - Personnel Complaints</h2>
    <h3>1020.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for the reporting, investigation and disposition of complaints regarding the conduct of members of the Metro Transit Police Department (Minn. R. 6700.2200). This policy shall not apply to any questioning, counseling,
        instruction, informal verbal admonishment or other routine or unplanned contact of a member in the normal course of duty, by a supervisor or any other member, nor shall this policy apply to a criminal investigation.</p>

    <h3>1020.2 POLICY</h3>
    <p>The Metro Transit Police Department takes seriously all complaints regarding the service provided by the Department and the conduct of its members.</p>
    <p>The Department will accept and address all complaints of misconduct in accordance with this policy and applicable federal, state and local law, municipal and county rules and the requirements of any memorandum of understanding.</p>
    <p>It is also the policy of this department to ensure that the community can report misconduct without concern for reprisal or retaliation.</p>

    <h3>1020.3 PERSONNEL COMPLAINTS</h3>
    <p>Personnel complaints include any allegation of misconduct or improper job performance that, if true, would constitute a violation of department policy or of federal, state or local law, policy or rule. Personnel complaints may be generated internally
        or by the public.</p>
    <p>Inquiries about conduct or performance that, if true, would not violate department policy or federal, state or local law, policy or rule may be handled informally by a supervisor and shall not be considered a personnel complaint. Such inquiries generally
        include clarification regarding policy, procedures or the response to specific incidents by the Department.</p>
    <h4>1020.3.1 COMPLAINT CLASSIFICATIONS</h4>
    <p>Personnel complaints shall be classified in one of the following categories:</p>
    <p><strong>Informal</strong> - A matter in which the Shift Supervisor is satisfied that appropriate action has been taken by a supervisor of rank greater than the accused member.</p>
    <p><strong>Formal</strong> - A matter in which a supervisor determines that further action is warranted. Such complaints may be investigated by a supervisor of rank greater than the accused member or referred to the Professional Standards Unit, depending
        on the seriousness and complexity of the investigation.</p>
    <p><strong>Incomplete</strong> - A matter in which the complaining party either refuses to cooperate or becomes unavailable after diligent follow-up investigation. At the discretion of the assigned supervisor or the Professional Standards Unit, such
        matters may be further investigated depending on the seriousness of the complaint and the availability of sufficient information.</p>
    <h4>1020.3.2 SOURCES OF COMPLAINTS</h4>
    <p>The following applies to the source of complaints:</p>
    <ol class="alpha">
        <li>Individuals from the public may make complaints in any form, including in writing, by email, in person or by telephone.</li>
        <li>Any department member becoming aware of alleged misconduct shall immediately notify a supervisor.</li>
        <li>Supervisors shall initiate a complaint based upon observed misconduct or receipt from any source alleging misconduct that, if true, could result in disciplinary action.</li>
        <li>Anonymous and third-party complaints should be accepted and investigated to the extent that sufficient information is provided.</li>
        <li>Tort claims and lawsuits may generate a personnel complaint.</li>
        <li>The Minnesota Board of Peace Officer Standards and Training (POST) may refer complaints alleging a violation of a statute or rule that the board is empowered to enforce (Minn. Stat. § 214.10, Subd. 10).</li>
    </ol>

    <h3>1020.4 AVAILABILITY AND ACCEPTANCE OF COMPLAINTS</h3>
    <h4>1020.4.1 COMPLAINT FORMS</h4>
    <p>Personnel complaint forms will be maintained in a clearly visible location in the public area of the police facility and be accessible through the department website.</p>
    <p>Personnel complaint forms in languages other than English may also be provided, as determined necessary or practicable.</p>
    <h4>1020.4.2 ACCEPTANCE</h4>
    <p>All complaints will be courteously accepted by any department member and promptly given to the appropriate supervisor. Although written complaints are preferred, a complaint may also be filed orally, either in person or by telephone. Such complaints
        will be directed to a supervisor. If a supervisor is not immediately available to take an oral complaint, the receiving member shall obtain contact information sufficient for the supervisor to contact the complainant. The supervisor, upon contact
        with the complainant, shall complete and submit a complaint form as appropriate.</p>
    <p>Although not required, complainants should be encouraged to file complaints in person so that proper identification, signatures, photographs or physical evidence may be obtained as necessary.</p>

    <h3>1020.5 DOCUMENTATION</h3>
    <p>Supervisors shall ensure that all formal and informal complaints are documented on a complaint form. The supervisor shall ensure that the nature of the complaint is defined as clearly as possible.</p>
    <p>All complaints and inquiries should also be documented in a log that records and tracks complaints. The log shall include the nature of the complaint and the actions taken to address the complaint. On an annual basis, the Department should audit the
        log and send an audit report to the Chief of Police or the authorized designee.</p>

    <h3>1020.6 ADMINISTRATIVE INVESTIGATIONS</h3>
    <p>Allegations of misconduct will be administratively investigated as follows (Minn. R. 6700.2200).</p>
    <h4>1020.6.1 SUPERVISOR RESPONSIBILITIES</h4>
    <p>In general, the primary responsibility for the investigation of a personnel complaint shall rest with the member's immediate supervisor, unless the supervisor is the complainant, or the supervisor is the ultimate decision-maker regarding disciplinary
        action or has any personal involvement regarding the alleged misconduct. The Chief of Police or the authorized designee may direct that another supervisor investigate any complaint.</p>
    <p>A supervisor who becomes aware of alleged misconduct shall take reasonable steps to prevent aggravation of the situation.</p>
    <p>The responsibilities of supervisors include, but are not limited to:</p>
    <ol class="alpha">
        <li>Ensuring that upon receiving or initiating any formal complaint, a complaint form is completed.
            <ol class="decimal">
                <li>The original complaint form will be directed to the Shift Supervisor of the accused member, via the chain of command, who will take appropriate action and/or determine who will have responsibility for the investigation.</li>
                <li>In circumstances where the integrity of the investigation could be jeopardized by reducing the complaint to writing or where the confidentiality of a complainant is at issue, a supervisor shall orally report the matter to the member's
                    Captain or the Chief of Police, who will initiate appropriate action.</li>
            </ol>
        </li>
        <li>Responding to all complaints in a courteous and professional manner.
        </li>
        <li>Resolving those personnel complaints that can be resolved immediately.
            <ol class="decimal">
                <li>Follow-up contact with the complainant should be made within 24 hours of the Department receiving the complaint.</li>
                <li>If the matter is resolved and no further action is required, the supervisor will note the resolution on a complaint form and forward the form to the Shift Supervisor.</li>
            </ol>
        </li>
        <li>Ensuring that upon receipt of a complaint involving allegations of a potentially serious nature, the Shift Supervisor and Chief of Police are notified via the chain of command as soon as practicable.</li>
        <li>Promptly contacting the Department of Human Resources and the Shift Supervisor for direction regarding their roles in addressing a complaint that relates to sexual, racial, ethnic or other forms of prohibited harassment or discrimination.</li>
        <li>Forwarding unresolved personnel complaints to the Shift Supervisor, who will determine whether to contact the complainant or assign the complaint for investigation.</li>
        <li>Informing the complainant of the investigator’s name and the complaint number within three days after assignment.</li>
        <li>Investigating a complaint as follows:
            <ol class="decimal">
                <li>Making reasonable efforts to obtain names, addresses and telephone numbers of witnesses.</li>
                <li>When appropriate, ensuring immediate medical attention is provided and photographs of alleged injuries and accessible uninjured areas are taken.</li>
            </ol>
        </li>
        <li>Ensuring that the procedural rights of the accused member are followed.</li>
        <li>Ensuring interviews of the complainant are generally conducted during reasonable hours.</li>
    </ol>
    <h4>1020.6.2 ADMINISTRATIVE INVESTIGATION PROCEDURES</h4>
    <p>Whether conducted by a supervisor or an assigned member of the Professional Standards Unit, the following shall apply to employees covered by the Peace Officer Discipline Procedures Act (Minn. Stat. § 626.89):</p>
    <ol class="alpha">
        <li>Interviews of an accused member shall be conducted during reasonable hours and preferably when the member is on-duty (Minn. Stat. § 626.89, Subd. 7). If the member is off-duty, he/she shall be compensated.</li>
        <li>Unless waived by the member, interviews of an accused member shall be at the Metro Transit Police Department or at a place agreed upon by the accused employee. An investigator may not interview an employee at that person’s home without the employee’s
            prior permission (Minn. Stat. § 626.89, Subd. 4).</li>
        <li>No more than two interviewers should ask questions of an accused member.</li>
        <li>Prior to any interview, a member should be informed of the nature of the investigation.
            <ol class="decimal">
                <li>The member shall be given a copy of any written complaint signed by the complainant (Minn. Stat. § 626.89, Subd. 5).</li>
            </ol>
        </li>
        <li>All interviews should be for a reasonable period and the member's personal needs should be accommodated (Minn. Stat. § 626.89, Subd. 7).</li>
        <li>No member should be subjected to offensive or threatening language, nor shall any promises, rewards or other inducements be used to obtain answers. Any member refusing to answer questions directly related to the investigation may be ordered to
            answer questions administratively and may be subject to discipline for failing to do so.</li>
        <li>The interviewer shall record all interviews of members and witnesses. The member may also record the interview. A complete copy or transcript of the interview must be made available to the employee upon written request without charge or undue
            delay. If the employee has been previously interviewed, a copy of that recorded interview shall be provided to the member prior to any subsequent interview (Minn. Stat. § 626.89, Subd. 8).</li>
        <li>All members subjected to interviews that could result in discipline have the right to have an uninvolved representative or attorney present before or during the interview (Minn. Stat. § 626.89, Subd. 9). When a member requests a representative
            or attorney, no interview may be taken until a reasonable opportunity is provided for the member to obtain that person’s presence. However, in order to maintain the integrity of each individual’s statement, involved members shall not consult
            or meet with a representative or attorney collectively or in groups prior to being interviewed.</li>
        <li>All members shall provide complete and truthful responses to questions posed during interviews.</li>
        <li>No member may be compelled to submit to a polygraph examination, nor shall any refusal to submit to such examination be mentioned in any investigation.</li>
        <li>Before a formal statement is taken, the employee shall be advised in writing or on the record that admissions made may be used as evidence of misconduct or a basis for discipline (Minn. Stat. § 626.89, Subd. 10).</li>
        <li>A member may not be required to produce financial records (Minn. Stat. § 626.89, Subd. 11).</li>
        <li>A member’s photograph will not be released unless allowed by law (Minn. Stat. § 626.89, Subd. 12).</li>
    </ol>
    <h4>1020.6.3 ADMINISTRATIVE INVESTIGATION FORMAT</h4>
    <p>Formal investigations of personnel complaints shall be thorough, complete and essentially follow this format:</p>
    <p><strong>Introduction</strong> - Include the identity of the members, the identity of the assigned investigators, the initial date and source of the complaint.</p>
    <p><strong>Synopsis</strong> - Provide a brief summary of the facts giving rise to the investigation.</p>
    <p><strong>Summary</strong> - List the allegations separately, including applicable policy sections, with a brief summary of the evidence relevant to each allegation. A separate recommended finding should be provided for each allegation.</p>
    <p><strong>Evidence</strong> - Each allegation should be set forth with the details of the evidence applicable to each allegation provided, including comprehensive summaries of member and witness statements. Other evidence related to each allegation
        should also be detailed in this section.</p>
    <p><strong>Conclusion</strong> - A recommendation regarding further action or disposition should be provided.</p>
    <p><strong>Exhibits</strong> - A separate list of exhibits (e.g., recordings, photos, documents) should be attached to the report.</p>
    <h4>1020.6.4 DISPOSITIONS</h4>
    <p>Each personnel complaint shall be classified with one of the following dispositions:</p>
    <p><strong>Unfounded</strong> - When the investigation discloses that the alleged acts did not occur or did not involve department members. Complaints that are determined to be frivolous will fall within the classification of unfounded.</p>
    <p><strong>Exonerated</strong> - When the investigation discloses that the alleged act occurred but that the act was justified, lawful and/or proper.</p>
    <p><strong>Not sustained</strong> - When the investigation discloses that there is insufficient evidence to sustain the complaint or fully exonerate the member.</p>
    <p><strong>Sustained</strong> - When the investigation discloses sufficient evidence to establish that the act occurred and that it constituted misconduct.</p>
    <p>If an investigation discloses misconduct or improper job performance that was not alleged in the original complaint, the investigator shall take appropriate action with regard to any additional allegations.</p>
    <h4>1020.6.5 COMPLETION OF INVESTIGATIONS</h4>
    <p>Every investigator or supervisor assigned to investigate a personnel complaint or other alleged misconduct shall proceed with due diligence in an effort to complete the investigation within one year from the date of discovery by an individual authorized
        to initiate an investigation.</p>
    <p>Notice to the complaining party shall be provided as soon as practicable following final disposition and be consistent with the provisions of the Minnesota Government Data Practices Act (Minn. Stat. § 13.43 Subd. 2; Minn. R. 6700.2200).</p>

    <h3>1020.7 ADMINISTRATIVE SEARCHES</h3>
    <p>Assigned lockers, storage spaces and other areas, including desks, offices and vehicles, may be searched as part of an administrative investigation upon a reasonable suspicion of misconduct.</p>
    <p>Such areas may also be searched any time by a supervisor for non-investigative purposes, such as obtaining a needed report, radio or other document or equipment.</p>

    <h3>1020.8 ADMINISTRATIVE LEAVE</h3>
    <p>When a complaint of misconduct is of a serious nature, or when circumstances indicate that allowing the accused to continue to work would adversely affect the mission of the Department, the Chief of Police or the authorized designee may temporarily
        assign an accused employee to administrative leave. Any employee placed on administrative leave:</p>
    <ol class="alpha">
        <li>May be required to relinquish any department badge, identification, assigned weapons and any other department equipment.</li>
        <li>Shall be required to continue to comply with all policies and lawful orders of a supervisor.</li>
        <li>May be temporarily reassigned to a different shift, generally a normal business-hours shift, during the investigation. The employee may be required to remain available for contact at all times during such shift, and will report as ordered.</li>
    </ol>

    <h3>1020.9 CRIMINAL INVESTIGATION</h3>
    <p>Where a member is accused of potential criminal conduct, a separate supervisor or investigator shall be assigned to investigate the criminal allegations apart from any administrative investigation. Any separate administrative investigation may parallel
        a criminal investigation.</p>
    <p>The Chief of Police shall be notified as soon as practicable when a member is accused of criminal conduct. The Chief of Police may request a criminal investigation by an outside law enforcement agency.</p>
    <p>A member accused of criminal conduct shall be provided with all rights afforded to a civilian. The member should not be administratively ordered to provide any information in the criminal investigation.</p>
    <p>No information or evidence administratively coerced from a member may be provided to anyone involved in conducting the criminal investigation or to any prosecutor.</p>
    <p>The Metro Transit Police Department may release information concerning the arrest or detention of any member, including an officer, that has not led to a conviction. No disciplinary action should be taken until an independent administrative investigation
        is conducted.</p>

    <h3>1020.10 POST-ADMINISTRATIVE INVESTIGATION PROCEDURES</h3>
    <p>Upon completion of a formal investigation, an investigation report should be forwarded to the Chief of Police through the chain of command. Each level of command should review and include their comments in writing before forwarding the report. The
        Chief of Police may accept or modify any classification or recommendation for disciplinary action.</p>
    <h4>1020.10.1 CAPTAIN RESPONSIBILITIES</h4>
    <p>Upon receipt of any completed personnel investigation, the Captain of the involved member shall review the entire investigative file, the member's personnel file and any other relevant materials.</p>
    <p>The Captain may make recommendations regarding the disposition of any allegations and the amount of discipline, if any, to be imposed.</p>
    <p>Prior to forwarding recommendations to the Chief of Police, the Captain may return the entire investigation to the assigned investigator or supervisor for further investigation or action.</p>
    <p>When forwarding any written recommendation to the Chief of Police, the Captain shall include all relevant materials supporting the recommendation. Actual copies of a member's existing personnel file need not be provided and may be incorporated by
        reference.</p>
    <h4>1020.10.2 CHIEF OF POLICE RESPONSIBILITIES</h4>
    <p>Upon receipt of any written recommendation for disciplinary action, the Chief of Police shall review the recommendation and all accompanying materials. The Chief of Police may modify any recommendation and/or may return the file to the Captain for
        further investigation or action.</p>
    <p>Once the Chief of Police is satisfied that no further investigation or action is required by staff, the Chief of Police shall determine the amount of discipline, if any, that should be imposed. In the event disciplinary action is proposed, the Chief
        of Police shall provide the member with a written notice and the following:</p>
    <ol class="alpha">
        <li>Access to all of the materials considered by the Chief of Police in recommending the proposed discipline.</li>
        <li>An opportunity to respond orally or in writing to the Chief of Police within five days of receiving the notice.
            <ol class="decimal">
                <li>Upon a showing of good cause by the member, the Chief of Police may grant a reasonable extension of time for the member to respond.</li>
                <li>If the member elects to respond orally, the presentation shall be recorded by the Department. Upon request, the member shall be provided with a copy of the recording.</li>
            </ol>
        </li>
    </ol>
    <p>Once the member has completed his/her response or if the member has elected to waive any such response, the Chief of Police shall consider all information received in regard to the recommended discipline. The Chief of Police shall render a timely
        written decision to the member and specify the grounds and reasons for discipline and the effective date of the discipline. Once the Chief of Police has issued a written decision, the discipline shall become effective.</p>
    <h4>1020.10.3 MINNESOTA POST INVESTIGATIONS</h4>
    <p>The Minnesota POST Board may require an administrative investigation based upon a complaint alleging a violation of a statute or rule that the board is empowered to enforce. Any such misconduct allegation or complaint assigned to this department shall
        be completed and a written summary submitted to the POST executive director within 30 days of the order for inquiry (Minn. Stat. § 214.10, Subd. 10).</p>
    <h4>1020.10.4 POST-ADMINISTRATIVE INVESTIGATION PROCEDURES Disciplinary action may include, but is not limited to (Minn. R. 6700.2200):</h4>
    <ol class="alpha">
        <li>Oral reprimand.</li>
        <li>Written reprimand.</li>
        <li>Suspension.</li>
        <li>Demotion.</li>
        <li>Discharge.</li>
    </ol>

    <h3>1020.11 PRE-DISCIPLINE EMPLOYEE RESPONSE</h3>
    <p>The pre-discipline process is intended to provide the accused employee with an opportunity to present a written or oral response to the Chief of Police after having had an opportunity to review the supporting materials and prior to imposition of any
        recommended discipline. The employee shall consider the following:</p>
    <ol class="alpha">
        <li>The response is not intended to be an adversarial or formal hearing.</li>
        <li>Although the employee may be represented by an uninvolved representative or legal counsel, the response is not designed to accommodate the presentation of testimony or witnesses.</li>
        <li>The employee may suggest that further investigation could be conducted or the employee may offer any additional information or mitigating factors for the Chief of Police to consider.</li>
        <li>In the event that the Chief of Police elects to cause further investigation to be conducted, the employee shall be provided with the results prior to the imposition of any discipline.</li>
        <li>The employee may thereafter have the opportunity to further respond orally or in writing to the Chief of Police on the limited issues of information raised in any subsequent materials.</li>
    </ol>

    <h3>1020.12 RESIGNATIONS/RETIREMENTS PRIOR TO DISCIPLINE</h3>
    <p>In the event that a member tenders a written resignation or notice of retirement prior to the imposition of discipline, it shall be noted in the file. The tender of a resignation or retirement by itself shall not serve as grounds for the termination
        of any pending investigation or discipline.</p>

    <h3>1020.13 PROBATIONARY EMPLOYEES AND OTHER MEMBERS</h3>
    <p>At-will and probationary employees and members other than non-probationary employees may be disciplined and/or released from employment without adherence to any of the procedures set out in this policy, and without notice or cause at any time. These
        individuals are not entitled to any rights under this policy except for employees covered by the Veterans Preference Act (Minn. Stat. § 197.46). However, any of these individuals released for misconduct should be afforded an opportunity solely
        to clear their names through a liberty interest hearing, which shall be limited to a single appearance before the Chief of Police or the authorized designee (Minn. R. 6700.2200).</p>
    <p>Any probationary period may be extended at the discretion of the Chief of Police in cases where the individual has been absent for more than a week or when additional time to review the individual is considered to be appropriate.</p>

    <h3>1020.14 SORTING EMPLOYEE COMPLAINTS</h3>
    <p>The following flowchart may be used as a guide for sorting employee complaints:</p>
    <p><a href="Data/sites/1/media/mtpd/pcf.pdf" target="_blank" alt="Guidelines for Sorting Personnel Complaint Forms">Guidelines for Sorting Personnel Complaint Forms</a></p>

    <h3>1020.15 RETENTION OF PERSONNEL INVESTIGATION FILES</h3>
    <p>All personnel complaints shall be maintained in accordance with the established records retention schedule and as described in the Personnel Files Policy.</p>
    <h4>1020.15.1 CONFIDENTIALITY OF PERSONNEL FILES</h4>
    <p>All active investigations of alleged misconduct and personnel complaints shall be considered confidential and maintained separately from peace officer personnel files. The contents of such files shall not be revealed to other than the involved employee
        or authorized personnel, except pursuant to lawful process, such as Minn. R. 6700.2500. Data in closed files shall be treated as private or public data depending on whether discipline was imposed upon the employee.</p>
    <h4>1020.15.2 LETTERS OF DISCIPLINE AND REPRIMANDS</h4>
    <p>Letters of discipline and reprimands may only be placed in an employee’s personnel file after they are received by the employee (see generally Minn. Stat. § 626.89, Subd. 13).</p>
</div>