<div class="chapter" id="1022">
    <h2>1022 - Seat Belts</h2>
    <h3>1022.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes guidelines for the use of seat belts and child restraints. This policy will apply to all members operating or riding in department vehicles (Minn. Stat. § 169.686).</p>
    <h4>1022.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Child restraint system</strong> - An infant or child passenger restraint system that meets Federal Motor Vehicle Safety Standards (FMVSS) and Regulations set forth in 49 CFR 571.213 (Minn. Stat. § 169.685).</p>

    <h3>1022.2 WEARING OF SAFETY RESTRAINTS</h3>
    <p>All members shall wear properly adjusted safety restraints when operating or riding in a seat equipped with restraints, in any vehicle owned, leased or rented by this department while on- or off-duty, or in any privately owned vehicle while on-duty.
        The member driving such a vehicle shall ensure that all other occupants, including those who are not members of the Department, are properly restrained (Minn. Stat. § 169.686).</p>
    <p>Exceptions to the requirement to wear safety restraints may be made only in exceptional situations where, due to unusual circumstances, wearing a seat belt would endanger the department member or the public. Members must be prepared to justify any
        deviation from this requirement.</p>

    <h3>1022.3 TRANSPORTING SUSPECTS, PRISONERS OR ARRESTEES</h3>
    <p>Suspects, prisoners and arrestees should be in a seated position and secured in the rear seat of any department vehicle with a prisoner restraint system or, when a prisoner restraint system is not available, by seat belts provided by the vehicle manufacturer.
        The prisoner restraint system is not intended to be a substitute for handcuffs or other appendage restraints.</p>
    <p>Prisoners in leg restraints shall be transported in accordance with the Handcuffing and Restraints Policy.</p>

    <h3>1022.4 INOPERABLE SEAT BELTS</h3>
    <p>Department vehicles shall not be operated when the seat belt in the driver's position is inoperable. Persons shall not be transported in a seat in which the seat belt is inoperable.</p>
    <p>Department vehicle seat belts shall not be modified, removed, deactivated or altered in any way, except by the vehicle maintenance and repair staff, who shall do so only with the express authorization of the Chief of Police.</p>
    <p>Members who discover an inoperable restraint system shall report the defect to the appropriate supervisor. Prompt action will be taken to replace or repair the system.</p>

    <h3>1022.5 VEHICLES MANUFACTURED WITHOUT SEAT BELTS</h3>
    <p>Vehicles manufactured and certified for use without seat belts or other restraint systems are subject to the manufacturer’s operator requirements for safe use.</p>

    <h3>1022.6 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that members use safety and child restraint systems to reduce the possibility of death or injury in a motor vehicle collision.</p>

    <h3>1022.7 TRANSPORTING CHILDREN</h3>
    <p>All children younger than 8 years of age and shorter than 4 feet 9 inches tall shall be restrained in a child passenger safety seat system (Minn. Stat. § 169.685, Subd. 5(b)).</p>
    <p>Rear seat passengers in a cage-equipped vehicle may have reduced clearance, which requires careful seating and positioning of seat belts. Due to this reduced clearance, and if permitted by law, children and any child restraint system may be secured
        in the front seat of such vehicles provided this positioning meets federal safety standards and the vehicle and child restraint system manufacturer’s design and use recommendations. In the event that a child is transported in the front seat of
        a vehicle, the seat should be pushed back as far as possible and the passenger- side airbag should be deactivated. If this is not possible, members should arrange alternate transportation when feasible.</p>

    <h3>1022.8 VEHICLE AIRBAGS</h3>
    <p>In all vehicles equipped with airbag restraint systems, the system will not be tampered with or deactivated, except when transporting children as written elsewhere in this policy. All equipment installed in vehicles equipped with airbags will be installed
        as per the vehicle manufacturer specifications to avoid the danger of interfering with the effective deployment of the airbag device.</p>
</div>