<div class="chapter" id="1024">
    <h2>1024 - Body Armor</h2>
    <h3>1024.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide law enforcement officers with guidelines for the proper use of body armor.</p>

    <h3>1024.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to maximize officer safety through the use of body armor in combination with prescribed safety procedures. While body armor provides a significant level of protection, it is not a substitute
        for the observance of officer safety procedures.</p>

    <h3>1024.3 ISSUANCE OF BODY ARMOR</h3>
    <p>The Chief's Administrative Assistant shall ensure that all officers have access to body armor when the officer begins service at the Metro Transit Police Department and that the body armor meets or exceeds the standards of the National Institute of
        Justice. Full time officers will be issued their body armor whereas part time officers shall refer to their current contract for body armor requirements/ reimbursement specifics.</p>
    <p>The Chief's Administrative Assistant shall establish a body armor replacement schedule and ensure that replacement body armor is issued pursuant to the schedule or whenever the body armor becomes worn or damaged to the point that its effectiveness
        or functionality has been compromised.</p>
    <h4>1024.3.1 USE OF SOFT BODY ARMOR</h4>
    <p>Generally, the use of body armor is required subject to the following:</p>
    <ol class="alpha">
        <li>Officers shall only wear agency-approved body armor.</li>
        <li>Officers shall wear body armor anytime they are in a situation where they could reasonably be expected to take enforcement action.</li>
        <li>Officers may be excused from wearing body armor when they are functioning primarily in an administrative or support capacity and could not reasonably be expected to take enforcement action.</li>
        <li>Body armor shall be worn when an officer is working in uniform or taking part in Department range training.</li>
        <li>An officer may be excused from wearing body armor when he/she is involved in undercover or plainclothes work that his/her supervisor determines could be compromised by wearing body armor, or when a supervisor determines that other circumstances
            make it inappropriate to mandate wearing body armor.</li>
    </ol>
    <h4>1024.3.2 INSPECTIONS OF BODY ARMOR</h4>
    <p>Supervisors should ensure that body armor is worn and maintained in accordance with this policy through routine observation and periodic documented inspections. Officers should routinely conduct inspections of their body armor for fit, cleanliness
        and signs of damage, abuse and wear.</p>
    <h4>1024.3.3 CARE AND MAINTENANCE OF SOFT BODY ARMOR</h4>
    <p>Soft body armor should never be stored for any period of time in an area where environmental conditions (e.g., temperature, light, humidity) are not reasonably controlled (e.g., normal ambient room temperature/humidity conditions), such as in automobiles
        or automobile trunks.</p>
    <p>Soft body armor should be cared for and cleaned pursuant to the manufacturer's care instructions provided with the soft body armor. The instructions can be found on labels located on the external surface of each ballistic panel. The carrier should
        also have a label that contains care instructions. Failure to follow these instructions may damage the ballistic performance capabilities of the armor. If care instructions for the soft body armor cannot be located, contact the manufacturer to
        request care instructions.</p>
    <p>Soft body armor should not be exposed to any cleaning agents or methods not specifically recommended by the manufacturer, as noted on the armor panel label.</p>

    <h3>1024.4 ARMORER RESPONSIBILITIES</h3>
    <p>The Training Coordinator should:</p>
    <ol class="alpha">
        <li>Monitor technological advances in the body armor industry for any appropriate changes to Department approved body armor.</li>
        <li>Assess weapons and ammunition currently in use and the suitability of approved body armor to protect against those threats.</li>
        <li>Provide training that educates officers about the safety benefits of wearing body armor.</li>
    </ol>
</div>