<div class="chapter" id="1026">
    <h2>1026 - Personnel Records</h2>
    <h3>1026.1 PURPOSE AND SCOPE</h3>
    <p>This policy governs maintenance and access to personnel data. Personnel data includes any file maintained under an individual member's name.</p>
    <p>Without regard to where and how stored, all data about a current or former employee or applicant for employment shall be defined and classified as personnel data consistent with Minn. Stat. § 13.43. All data relating to a criminal investigation of
        a current or former employee or applicant shall be defined and classified as criminal data consistent with Minn. Stat. § 13.82.</p>

    <h3>1026.2  POLICY</h3>
    <p>It is the policy of this ﻿department﻿ to maintain personnel data and preserve the confidentiality of personnel data pursuant to the Constitution and the laws of Minnesota (Minn. Stat. § 13.43).</p>

    <h3>1026.3  DEPARTMENT FILE</h3>
    <p>The ﻿department﻿ file shall be maintained as a record of a person’s employment/appointment with this ﻿department﻿. The ﻿department﻿ file should contain, at a minimum:</p>
    <ol class="alpha">
        <li>Personal data, including photographs, marital status, names of family members, educational and employment history or similar information. A photograph of the member should be permanently retained.</li>
        <li>Election of employee benefits.</li>
        <li>Personnel action reports reflecting assignments, promotions and other changes in employment/appointment status. These should be permanently retained.</li>
        <li>Original performance evaluations. These should be permanently maintained.</li>
        <li>Discipline records, including copies of sustained personnel complaints.</li>
        <li>Adverse comments such as supervisor notes or memos may be retained in the ﻿department﻿ file after the member has had the opportunity to read and initial the comment.
            <ol class="deciaml">
                <li>Once a member has had an opportunity to read and initial any adverse comment, the member shall be given the opportunity to respond in writing to the adverse comment.</li>
                <li>Any member response shall be attached to and retained with the original adverse comment.</li>
                <li>If a member refuses to initial or sign an adverse comment, at least one supervisor should note the date and time of such refusal on the original comment. Such a refusal, however, shall not be deemed insubordination, nor shall it prohibit
                    the entry of the adverse comment into the member's file.</li>
            </ol>
        </li>
        <li>Commendations and awards.</li>
        <li>Any other information, the disclosure of which would constitute an unwarranted invasion of personal privacy.</li>
    </ol>

    <h3>1026.4  DIVISION FILE</h3>
    <p>Division﻿ files may be separately maintained internally by a member's supervisor for the purpose of completing timely performance evaluations. The ﻿Division﻿ file may contain supervisor comments, notes, notices to correct and other materials that
        are intended to serve as a foundation for the completion of timely performance evaluations.</p>

    <h3>1026.5  TRAINING FILE</h3>
    <p>An individual training file shall be maintained by the ﻿Training Supervisor﻿ for each member. Training files will contain records of all training; original or photocopies of available certificates, transcripts, diplomas and other documentation; and
        education and firearms qualifications. Training records may also be created and stored remotely, either manually or automatically (e.g., Daily Training Bulletin (DTB) records).</p>
    <ol class="alpha">
        <li>The involved member is responsible for providing the ﻿Training Supervisor﻿ or immediate supervisor with evidence of completed training/education in a timely manner.</li>
        <li>The ﻿Training Supervisor﻿ or supervisor shall ensure that copies of such training records are placed in the member’s training file.</li>
    </ol>

    <h3>1026.6  INTERNAL AFFAIRS FILE</h3>
    <p>Internal affairs files shall be maintained under the exclusive control of the ﻿Professional Standards Unit﻿ in conjunction with the office of the ﻿Chief of Police﻿. Access to these files may only be approved by the ﻿Chief of Police﻿ or the ﻿Professional
        Standards Unit﻿ supervisor.</p>
    <p>These files shall contain the complete investigation of all formal complaints of member misconduct, regardless of disposition. Investigations of complaints that result in the following findings shall not be placed in the member's ﻿department﻿ file
        but will be maintained in the internal affairs file:</p>
    <ol class="alpha">
        <li>Not sustained</li>
        <li>Unfounded</li>
        <li>Exonerated</li>
    </ol>

    <h3>1026.7  MEDICAL FILE</h3>
    <p>A private medical file shall be maintained separately from all other personnel data and shall contain all documents relating to the member’s medical condition and history, including but not limited to:</p>
    <ol class="alpha">
        <li>Materials relating to a medical leave of absence, including leave under the Family and Medical Leave Act (FMLA).</li>
        <li>Documents relating to workers’ compensation claims or the receipt of short- or long-term disability benefits.</li>
        <li>Fitness-for-duty examinations, psychological and physical examinations, follow-up inquiries and related documents.</li>
        <li>Medical release forms, doctor’s slips and attendance records that reveal a member’s medical condition.</li>
        <li>Any other documents or materials that reveal the member’s medical history or medical condition, including past, present or future anticipated mental, psychological or physical limitations.</li>
    </ol>

    <h3>1026.8  EMPLOYEE ASSISTANCE PROGRAMS</h3>
    <p>Employee assistance records must be kept separate from personnel records and shall not become part of an employee’s personnel file (Minn. Stat. § 181.980, Subd. 3).</p>

    <h3>1026.9  SECURITY</h3>
    <p>Personnel data should be maintained in a secured location and locked either in a cabinet or access-controlled room. Personnel data maintained in an electronic format should have adequate password protection.</p>
    <p>Any personnel data not deemed public data is private and shall not be subject to disclosure except as provided in this policy, the Records Maintenance and Release Policy, according to applicable discovery procedures or with the member’s written consent
        (Minn. Stat. § 13.43; Minn. Stat. § 181.967, Subd. 4).</p>
    <p>Nothing in this policy is intended to preclude review of personnel data by the ﻿General Manager﻿, ﻿Prosecuting Attorney﻿ or other attorneys or representatives of the ﻿Metropolitan Area﻿ in connection with official business.</p>
    <h4>1026.9.1  REQUESTS FOR DISCLOSURE</h4>
    <p>Any member receiving a request for personnel data shall promptly notify the Custodian of Records or other person charged with the maintenance of such data.</p>
    <p>Upon receipt of any such request, the responsible person shall notify the affected member as soon as practicable that such a request has been made.</p>
    <p>The responsible person shall further ensure that an appropriate response to the request is made in a timely manner, consistent with applicable law. In many cases, this may require assistance of available legal counsel.</p>
    <p>All requests for disclosure that result in access to a member’s personnel data shall be logged in the corresponding file.</p>
    <h4>1026.9.2  RELEASE OF PRIVATE DATA</h4>
    <p>Except as provided by this policy, pursuant to lawful process, pursuant to state law or court order, no private data shall be disclosed without the written consent of the employee or written authorization of the ﻿Chief of Police﻿ designee (Minn. Stat.
        § 13.43; Minn. Stat. § 181.967, Subd. 4).</p>

    <h3>1026.10  MEMBER ACCESS TO HIS/HER OWN PERSONNEL RECORDS</h3>
    <p>Upon request, any member may request access to his/her own personnel file as set forth in Minn. Stat. § 181.961.</p>
    <p>Any member seeking the removal of any item from his/her personnel files shall file a written request to the ﻿Chief of Police﻿ through the chain of command. The ﻿Department﻿ shall remove any such item if appropriate, or within 30 days provide the member
        with a written explanation of why the contested item will not be removed. If the contested item is not removed from the file, the member’s request and the written response from the ﻿Department﻿ shall be retained with the contested item in the
        member’s corresponding personnel file. If the contested item is ultimately removed, the written responses shall also be removed (Minn. Stat. § 181.962, Subd. 1). An employee not satisfied with this resolution may seek such other remedies as are
        authorized by the MGDPA.</p>
    <p>Members may be restricted from accessing files containing any of the following information:</p>
    <ol class="alpha">
        <li>An ongoing internal affairs investigation to the extent that it could jeopardize or compromise the investigation pending final disposition or notice to the member of the intent to discipline.</li>
        <li>Confidential portions of internal affairs files that have not been sustained against the member.</li>
        <li>Letters of reference concerning employment/appointment, licensing or issuance of permits regarding the member.</li>
        <li>Any portion of a test document, except the cumulative total test score for either a section of the test document or for the entire test document.</li>
        <li>Materials used by the ﻿Department﻿ for staff management planning, including judgments or recommendations concerning future salary increases and other wage treatments, management bonus plans, promotions and job assignments or other comments or
            ratings used for ﻿﻿department﻿ planning purposes.</li>
        <li>Information of a personal nature about a person other than the member if disclosure of the information would constitute a clearly unwarranted invasion of the other person's privacy.</li>
        <li>Records relevant to any other pending claim between the ﻿Department﻿ and the member that may be discovered in a judicial proceeding.</li>
    </ol>

    <h3>1026.11  RETENTION AND PURGING</h3>
    <p>Unless provided otherwise in this policy, personnel data shall be maintained in accordance with the established records retention schedule.</p>
    <ol class="alpha">
        <li>During the preparation of each member’s performance evaluation, all personnel complaints and disciplinary actions should be reviewed to determine the relevancy, if any, to progressive discipline, training and career development. Each supervisor
            responsible for completing the member's performance evaluation should determine whether any prior sustained disciplinary file should be retained beyond the required period for reasons other than pending litigation or other ongoing legal proceedings.</li>
        <li>If a supervisor determines that records of prior discipline should be retained beyond the required period, approval for such retention should be obtained through the chain of command from the ﻿Chief of Police﻿.</li>
        <li>If, in the opinion of the ﻿Chief of Police﻿, a personnel complaint or disciplinary action maintained beyond the required retention period is no longer relevant, all records of such matter may be destroyed in accordance with the established records
            retention schedule.</li>
    </ol>
</div>