<div class="chapter" id="1026">
    <h2>1026 - Personnel Files</h2>
    <h3>1026.1 PURPOSE AND SCOPE</h3>
    <p>This section governs the maintenance, retention and access to personnel data in accordance with established law. It is the policy of this department to maintain personnel data pursuant to state law.</p>
    <p>Data practices requests shall be processed and handled in accordance with the Minnesota Government Data Practices Act (MGDPA) (Minnesota Statutes Chapter 13).</p>
    <p>Without regard to where and how stored, all data about a current or former employee or applicant for employment shall be defined and classified as personnel data consistent with Minn. Stat. § 13.43. All data relating to a criminal investigation of
        a current or former employee or applicant shall be defined and classified as criminal data consistent with Minn. Stat. § 13.82.</p>

    <h3>1026.2 ADMINISTRATIVE FILE DEFINED</h3>
    <p><strong>Administrative file</strong> - Any file of an employee containing information, comments or documents about an employee. The term does not include any file relating to an internal investigation. An Administrative File is a personnel file.</p>
    <h4>1026.2.1 REQUIRED PERSONNEL FILE CONTENTS</h4>
    <p>Unfavorable comments or documents entered into an employee’s personnel file require that the employee has the opportunity to read, initial or comment. If the employee refuses to initial or comment, a notation is to be made upon the document. The employee
        may also submit a written response to the document.</p>
    <ol class="alpha">
        <li>The personnel file should contain any letter, memorandum or document relating to:
            <ol class="decimal">
                <li>A commendation, congratulation or honor bestowed on an employee by a member of the public or by the Department for an action, duty or activity that relates to official duties.</li>
                <li>Any misconduct by the employee if the letter, memorandum or document is from the Department and if the misconduct resulted in disciplinary action.</li>
                <li>The periodic evaluation of the officer by a supervisor.</li>
            </ol>
        </li>
    </ol>
    <h4>1026.2.2 PERMITTED PERSONNEL FILE CONTENTS The personnel file may also contain:</h4>
    <ol class="alpha">
        <li>Personal data, including dependent data, educational and employment history and similar information.</li>
        <li>Medical history including medical leave of absence forms, fitness-for-duty examinations, workers' compensation records, medical releases and all other records that reveal an employee’s past, current or anticipated future medical conditions.</li>
        <li>Election of employee benefits.</li>
        <li>Employee advancement or promotion.</li>
    </ol>

    <h3>1026.3 EMPLOYEE RECORD LOCATIONS</h3>
    <p>Employee records will generally be maintained in any of the following:</p>
    <p><strong>Administrative Investigation Files</strong> - Those files that contain records relating to internal or criminal investigations of the employee.</p>
    <p><strong>Metropolitan Council / Metro Transit Personnel Files</strong> - Administrative files and other employee files maintained by the Metropolitan Council / Metro Transit and not under the control of the Chief of Police.</p>
    <p><strong>Department File</strong> - That file that is maintained in the office of the Chief of Police as a permanent record of an employee's employment with this department.</p>
    <p><strong>Division File</strong> - Any file that is separately maintained internally by an employee's supervisor(s) within an assigned division for the purpose of completing timely performance evaluations.</p>
    <p><strong>Internal Affairs Files</strong> - Those files that contain complaints of employee misconduct and all materials relating to the investigation into such allegations, regardless of disposition.</p>
    <p><strong>Medical File</strong> - A file maintained separately that exclusively contains material relating to an employee's medical history.</p>
    <p><strong>Supervisor Log Entries</strong> - Any written comment, excluding actual performance evaluations, made by a supervisor concerning the conduct of an employee of this department.</p>
    <p><strong>Supervisors' Files</strong> - A file maintained on employees by supervisors for the purpose of creating performance appraisals.</p>
    <p><strong>Training File</strong> - Any file which documents the training records of an employee.</p>

    <h3>1026.4 CONFIDENTIALITY OF ALL PERSONNEL FILES</h3>
    <p>Private data contained in the above-defined personnel files shall not be subject to disclosure except pursuant to state and federal discovery procedures, state law or with the employee's written consent. Nothing in this section is intended to preclude
        review of personnel files by the General Manager, Prosecuting Attorney or other attorneys or representatives of the Metropolitan Council / Metro Transit in connection with official business (Minn. Stat. § 13.43).</p>

    <h3>1026.5 REQUESTS FOR DISCLOSURE</h3>
    <p>Only written requests for the disclosure of any data classified as other than public contained in any personnel record will be considered. Since the format of such requests may be strictly governed by law with specific responses required, all such
        requests shall be promptly brought to the attention of the Shift Supervisor, the Custodian of Records or other Department member charged with the maintenance of such records.</p>
    <p>Upon receipt of any such request, the responsible Department member shall notify the affected employee as soon as practicable that such a request has been made.</p>
    <p>The responsible Department member shall further ensure that an appropriate response to the request is made in a timely manner, consistent with applicable law. In many cases this will require assistance of approved and available legal counsel.</p>
    <p>All requests for disclosure that result in access to an employee’s personnel data shall be logged in the corresponding file and the affected employee shall be notified.</p>
    <h4>1026.5.1 RELEASE OF PRIVATE DATA</h4>
    <p>Except as provided by this policy, pursuant to lawful process, pursuant to state law or court order, no private data shall be disclosed without the written consent of the employee or written authorization of the Chief of Police designee (Minn. Stat.
        § 13.43; Minn. Stat. § 181.967, Subd. 4).</p>
    <p>Any person who intentionally discloses private data may be guilty of a crime.</p>

    <h3>1026.6 EMPLOYEE ACCESS TO OWN FILE</h3>
    <p>Upon request, an employee may review all data of that employee other than data classified as confidential.</p>
    <p>The employee or his/her authorized representative may, except as otherwise prohibited by federal or state law, review any data relating to the investigation, including any recordings, notes, transcripts of interviews and documents, if the investigation
        causes the Department to impose discipline and the employee has the right to access to defend in that proceeding.</p>
    <p>Any employee seeking the removal of any data from his/her personnel file shall file a written request to the Chief of Police through the chain of command. The Department shall thereafter remove any such data if appropriate, or within 30 days provide
        the employee with a written explanation why the contested data will not be removed. If the contested data is not removed, the employee’s request and the organization’s written response shall be retained with the contested data in the employee’s
        personnel file. If the contested data is ultimately removed, the written responses shall also be removed (Minn. Stat. § 181.962, Subd. 1). An employee not satisfied with this resolution may seek such other remedies as are authorized by the MGDPA.</p>
    <p>Employees may be restricted from accessing files containing any of the following information:</p>
    <ol class="alpha">
        <li>Ongoing internal affairs investigations to the extent that it could jeopardize or compromise the investigation pending final disposition or notice to the employee of the intent to discipline.</li>
        <li>Confidential portions of internal affairs files that have not been sustained against the employee.</li>
    </ol>

    <h3>1026.7 TYPES OF PERSONNEL FILES</h3>
    <p>The Department may maintain a personnel file on an employee for the Department's use, but the Department may not release any data contained in the Department file to any agency or person requesting data relating to an employee except as authorized
        or required by law. The Department shall refer to the Chief of Police or designee any person or agency that requests personnel data.</p>
    <p>Personnel files can be located in any of the following places:</p>
    <h4>1026.7.1 DEPARTMENT FILE</h4>
    <p>The Department file should contain, but is not limited to, the following:</p>
    <ol class="alpha">
        <li>Performance evaluation reports regularly completed by appropriate supervisor(s) and signed by the affected employee shall be permanently maintained and a copy provided to the employee.
            <ol class="decimal">
                <li>The employee may make a statement in writing, which shall be attached to the performance evaluation.</li>
            </ol>
        </li>
        <li>Records of all training (original or photocopies of available certificates, transcripts, diplomas and other documentation) and education.
            <ol class="decimal">
                <li>It shall be the responsibility of the involved employee to provide the Training Coordinator with evidence of completed training/education in a timely manner.</li>
                <li>The Training Coordinator shall ensure that copies of such training records are placed in the employee's Department file.</li>
            </ol>
        </li>
        <li>Disciplinary action.
            <ol class="decimal">
                <li>Disciplinary action resulting from sustained complaints shall be maintained in the individual employee’s Department file consistent with the organization's records retention schedule.</li>
                <li>Investigations of complaints that do not result in discipline shall not be placed in an employee’s Department file but will be separately maintained for the appropriate retention period in the internal affairs file.</li>
                <li>Data related to discipline that has been entirely overturned on appeal shall not be placed in an employee’s Department file but will be separately maintained for the appropriate retention period in the internal affairs file.</li>
            </ol>
        </li>
        <li>If a negative letter, memorandum, document or other notation of negative impact is included in an officer’s personnel file, the Department shall, within 30 days after the date of the inclusion, notify the affected officer. The officer may file
            a written response to the negative letter, memorandum, document or other notation.
            <ol class="decimal">
                <li>Any such employee response shall be attached to and retained with the original adverse comment.</li>
                <li>If an employee refuses to initial or sign an adverse comment, at least one supervisor should note the date and time of such refusal on the original comment. Such a refusal shall not be deemed insubordination nor shall it prohibit the entry
                    of the adverse comment into the employee's file.</li>
            </ol>
        </li>
        <li>Commendations shall be retained in the employee's Department file, with a copy provided to the involved employee(s).</li>
        <li>Personnel Action Reports reflecting assignments, promotions and other changes in the employee's employment status.</li>
        <li>A photograph of the employee.</li>
    </ol>
    <h4>1026.7.2 DIVISION FILE</h4>
    <p>The Division File should contain, but is not limited to, the following:</p>
    <ol class="alpha">
        <li>Supervisor log entries, notices to correct and other materials intended to serve as a foundation for the completion of timely performance evaluations.
            <ol class="decimal">
                <li>All materials intended for this interim file shall be provided to the employee prior to being placed in the file.</li>
                <li>Duplicate copies of items that will also be included in the employee's Department file may be placed in this interim file in anticipation of completing any upcoming performance evaluation.</li>
                <li>Once the permanent performance evaluation form has been made final, the underlying foundational material(s) and/or duplicate copies may be purged in accordance with this policy.</li>
            </ol>
        </li>
        <li>All data practices shall apply equally to the division file.</li>
        <li>A record of a supervisory intervention procedure or a policy and procedure inquiry regarding an employee shall not be maintained except in the division file.</li>
    </ol>
    <h3>1026.7.3 INTERNAL AFFAIRS FILE</h3>
    <p>The Internal Affairs file shall be maintained under the exclusive control of the Professional Standards Unit/ Internal Affairs Unit in conjunction with the office of the Chief of Police. Access to these files may only be approved by the Chief of Police
        or the supervisor of the Professional Standards Unit / Internal Affairs Unit. These files shall contain:</p>
    <ol class="alpha">
        <li>The complete investigation of all formal complaints of employee misconduct regardless of disposition.</li>
        <li>Internal investigations files shall be securely maintained for the minimum periods as identified in the Personnel Complaints Policy.</li>
    </ol>
    <h3>1026.7.4 TRAINING FILES</h3>
    <p>An individual training file shall be maintained by the Professional Standards Unit for each employee. Training files will contain records of all training and education mandated by law or the Department, including firearms qualifications and mandated
        annual proficiency requalification.</p>
    <ol class="alpha">
        <li>It shall be the responsibility of the involved employee to provide the Training Coordinator with evidence of completed training/education in a timely manner.</li>
        <li>The Training Coordinator shall ensure that copies of such training records are placed in the employee's training file.</li>
    </ol>
    <h3>1026.7.5 MEDICAL FILE</h3>
    <p>A private medical file shall be maintained separately from all other files and shall contain all documents relating to the employee’s medical condition and history, including, but not limited to, the following:</p>
    <ol class="alpha">
        <li>Materials relating to medical leaves of absence.</li>
        <li>Documents relating to workers' compensation claims or receipt of short- or long-term disability benefits.</li>
        <li>Fitness-for-duty examinations, psychological and physical examinations, follow-up inquiries and related documents.</li>
        <li>Medical release forms, doctor’s slips and attendance records that reveal an employee’s medical condition.</li>
        <li>Any other documents or material that reveal the employee’s medical history or medical condition, including past, present or future anticipated mental, psychological or physical limitations.</li>
    </ol>
    <h4>1026.7.6 EMPLOYEE ASSISTANCE PROGRAMS</h4>
    <p>Employee assistance records must be kept separate from personnel records and shall not become part of an employee’s personnel file (Minn. Stat. § 181.980, Subd. 3).</p>

    <h3>1026.8 PURGING OF FILES</h3>
    <p>Personnel data not involved in pending litigation or other ongoing legal proceedings may be purged from respective Department files once the required records retention period has been met.</p>
    <ol class="alpha">
        <li>Each supervisor responsible for completing the employee's performance evaluation shall also determine whether any prior sustained disciplinary file should be retained beyond the statutory period for reasons other than pending litigation or other
            ongoing legal proceedings.</li>
        <li>If a supervisor determines that records of prior discipline should be retained beyond the applicable statutory period, approval for such retention shall be obtained through the chain of command from the Chief of Police.</li>
        <li>During the preparation of each employee’s performance evaluation, all complaints and discipline should be reviewed to determine the relevancy, if any, to progressive discipline, training and career development. If in the opinion of the Chief of
            Police a complaint or disciplinary action beyond the statutory retention period is no longer relevant, all records of such matter may be destroyed pursuant to records destruction requirements.</li>
    </ol>
</div>