<div class="chapter" id="1030">
    <h2>1030 - Commendations and Awards</h2>
    <h3>1030.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides general guidelines for recognizing commendable or meritorious acts of members of the ﻿Metro Transit Police Department﻿ and individuals from the community.</p>

    <h3>1030.2  POLICY</h3>
    <p>It is the policy of the ﻿Metro Transit Police Department﻿ to recognize and acknowledge exceptional individual or group achievements, performance, proficiency, heroism and service of its members and individuals from the community through commendations
        and awards.</p>

    <h3>1030.3 AWARDS COMMITTEE</h3>
    <p>The Awards Committee shall be comprised of members of the Metro Transit Police Department and will represent a cross section of the organization. The Committee shall consist of at least five members and not more than eight. The Committee shall be
        composed of no more than three supervisors (Sergeant and above) and shall include at least two officers. Additional members may be added at the direction of the Chief of Police or Awards Committee Chairperson.</p>
    <p>The Awards Committee Chairperson shall be appointed by the Chief of Police. The Chairperson shall serve a maximum of five consecutive years. The Chairperson may appoint a Co-Chairperson as needed.</p>
    <p>Awards Committee Members shall be appointed by the Chairperson. A member shall serve a minimum two year term and shall not serve more than five consecutive years. The Chairperson shall be responsible for adhering to this requirement and filling member
        positions as needed. This committee will meet quarterly or as determined by the Awards Committee Chairperson.</p>
    <h4>1030.3.1 AWARDS COMMITTEE VOTING REQUIREMENTS</h4>
    <p>An Awards Committee quorum shall consist of four members and must include the Chairperson or Co-Chairperson as appointed by the Chairperson.</p>
    <p>The Medal of Honor and the Medal of Valor requires a unanimous vote of the Awards Committee. All other awards require a majority vote of the Awards Committee. A member of the Awards Committee nominated for an award cannot vote on their nomination.</p>
    <p>If the Awards Committee determines the actions as recommended do not meet the criteria for the recommended award, the committee Chairperson may consider a different award. The Awards Committee will then vote on the amended award recommendation.</p>
    <p>Final award recommendations from the Awards Committee shall be forwarded to the Chief of Police for final approval.</p>

    <h3>1030.4  COMMENDATIONS</h3>
    <p>Commendations for members of the ﻿Department﻿ or for individuals from the community may be initiated by any ﻿department﻿ member or by any person from the community.</p>
    <h4>1030.4.1 AWARD CRITERIA</h4>
    <p>The following award criteria have been established by the Awards Committee:</p>
    <ol class="alpha">
        <li>Medal of Honor
            <ol class="decimal">
                <li>The Medal of Honor may be awarded to a member of the department for an act of outstanding bravery or heroism. This act is characterized by demonstrating unselfishness or courage while facing the immediate high risk of death or serious
                    physical injury. The award may be given posthumously to a member who has died while involved in an action of demonstrated heroism.</li>
                <li>The Medal of Honor sworn recipient shall receive a commemorative medal with blue ribbon, certificate of recognition and a blue uniform bar.</li>
                <li>The Medal of Honor civilian recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Medal of Valor
            <ol class="decimal">
                <li>The Medal of Valor may be awarded to a member of the department for an act of bravery which demonstrates obvious self sacrifice in the face of death or serious physical injury.</li>
                <li>The Medal of Valor sworn recipient shall receive a commemorative medal with red ribbon, certificate of recognition and a red uniform bar.</li>
                <li>The Medal of Valor civilian recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Medal of Commendation
            <ol class="decimal">
                <li>The Medal of Commendation may be awarded to any member of the department for an outstanding act that brings credit to the department and is highly recognized by other employees or citizens. This act is characterized by obvious self-sacrifice
                    while facing personal danger.</li>
                <li>The Medal of Commendation sworn recipient shall receive a commemorative medal with green ribbon, certificate of recognition and a green-yellow-green uniform bar.</li>
                <li>The Medal of Commendation civilian recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Merit Commendation
            <ol class="decimal">
                <li>The Merit Commendation may be awarded to any sworn member of the department, or sworn member from an outside department/agency, for an outstanding act or achievement that brings credit to the department. It involves performance above and
                    beyond that is required by the employee's basic work assignment or exceptional professional skill and conduct during a coordinated action.</li>
                <li>The Merit Commendation sworn recipient shall receive a certificate of recognition and a white-blue-white uniform bar.</li>
            </ol>
        </li>
        <li>Chief's Award of Merit
            <ol class="decimal">
                <li>The Chief's Award of Merit may be awarded by the Chief of Police to a department member for performance resulting in improving operations, outstanding community service or substantial savings in organizational costs. This award may also
                    be granted to other law enforcement agencies or Metro Transit employees.</li>
                <li>The Chief's Award of Merit sworn recipient shall receive a certificate of recognition, plaque and a yellow-white-blue-white-yellow uniform bar.</li>
                <li>The Chief's Award of Merit civilian recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Life Saving Award
            <ol class="decimal">
                <li>The Life Saving Award may be awarded to any member of the department for acts that contribute to the saving of a person's life.</li>
                <li>The Life Saving Award sworn recipient shall receive a certificate of recognition and a white-purple "Life Saving" uniform bar.</li>
                <li>The Life Saving Award civilian recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Certificate of Appreciation
            <ol class="decimal">
                <li>The Certificate of Appreciation may be presented to any person in recognition of outstanding service to the Department or for assistance in law enforcement efforts.</li>
                <li>The Certificate of Appreciation recipient shall receive a certificate of recognition.</li>
            </ol>
        </li>
        <li>Metro Transit Police Department Officer of the Year
            <ol class="decimal">
                <li>This yearly award is presented to a full-time Department member for outstanding individual performance and their dedicated commitment to professional law enforcement.</li>
                <li>The Police Officer of the Year Award recipient will receive an individual plaque, certificate or recognition, gold bar with year, and a name-plate on the "Police Officer of the Year" display plaque.</li>
            </ol>
        </li>
        <li>Corporal Timothy Bowe Award
            <ol class="decimal">
                <li>This yearly award is presented to a part-time Department member for outstanding individual performance and their dedicated commitment to professional law enforcement for which Corporal Timothy Bowe is remembered.</li>
                <li>The Corporal Timothy Bowe Award recipient will receive an individual plaque, certificate or recognition, gold bar with year, and a name-plate on the "Cpl. Tim Bowe Officer of the Year" display plaque.</li>
            </ol>
        </li>
        <li>Citizens Award of Commendation
            <ol class="decimal">
                <li>The Citizens Award of Commendation may be presented to any non-sworn member of the Department, employee of Metro Transit or citizen for an outstanding act that is highly recognized by the Department. The act is characterized by obvious
                    self- sacrifice while facing personal danger.</li>
                <li>The Citizens Award of Commendation recipient shall receive a certificate of recognition and a plaque.</li>
            </ol>
        </li>
        <li>Citizens Award of Merit
            <ol class="decimal">
                <li>The Citizens Award of Merit may be presented to any non-sworn member of the Department, employee of Metro Transit or citizen for an outstanding act that is highly recognized by the Department. The act is characterized as being above and
                    beyond that persons basic work assignment, an exceptional skill or specific conduct occurring during a coordinated action.</li>
                <li>The Citizens Award of Merit recipient shall receive a certificate of recognition.</li>
            </ol>
        </li>
    </ol>
    <h4>1030.4.2 AWARD PRESENTATIONS</h4>
    <p>All awards will be presented to the employee by the Chief of Police, Deputy Chief of Police or Captain as soon as practical and reasonable.</p>
    <p>All award recipients will be invited to the formal awards ceremony which is held each year.</p>
</div>