<div class="chapter" id="1032">
    <h2>1032 - Fitness for Duty</h2>
    <h3>1032.1 PURPOSE AND SCOPE</h3>
    <p>All officers are required to be free from any physical, emotional or mental condition that might adversely affect the exercise of peace officer duties. The purpose of this policy is to ensure that all officers of this department remain fit for duty
        and able to perform their job functions.</p>

    <h3>1032.2 EMPLOYEE RESPONSIBILITIES</h3>
    <ol class="alpha">
        <li>It shall be the responsibility of each member of this department to maintain good physical condition sufficient to safely and properly perform essential duties of the position.</li>
        <li>Each member of this department shall perform his/her respective duties without physical, emotional and/or mental constraints.</li>
        <li>During working hours, all employees are required to be alert, attentive and capable of performing assigned responsibilities.</li>
        <li>Any employee who feels unable to perform his/her duties shall promptly notify a supervisor. In the event that an employee believes that another employee is unable to perform his/her duties, such observations and/or belief shall be promptly reported
            to a supervisor.</li>
    </ol>

    <h3>1032.3 SUPERVISOR RESPONSIBILITIES</h3>
    <ol>
        <li>A supervisor observing an employee, or receiving a report of an employee, who is perceived to be unable to safely perform his/her duties due to a physical, medical or mental condition shall take prompt and appropriate action in an effort to resolve
            the situation.</li>
        <li>Whenever feasible, the supervisor should attempt to ascertain the reason or source of the problem and in all cases a preliminary evaluation should be made to determine the level of inability of the employee to perform his/her duties.</li>
        <li>In the event the employee appears to be in need of immediate medical or psychiatric treatment, all reasonable efforts should be made to provide such care.</li>
        <li>In conjunction with the Shift Supervisor or the employee's available Division supervisor, a determination should be made whether the employee should be temporarily relieved from his/her duties.</li>
        <li>The Chief of Police shall be promptly notified in the event that any employee is relieved from duty.</li>
    </ol>

    <h3>1032.4 NON-WORK RELATED CONDITIONS</h3>
    <p>Any employee suffering from a non-work related condition that warrants a temporary relief from duty may be required to use annual leave or other paid time off in order to obtain medical treatment or other reasonable rest period.</p>

    <h3>1032.5 WORK RELATED CONDITIONS</h3>
    <p>Any employee suffering from a work-related condition that warrants a temporary relief from duty shall be required to comply with personnel rules and guidelines for processing such claims.</p>
    <p>Upon the recommendation of the Shift Supervisor or unit supervisor and concurrence of the Administration, any employee whose actions or use of force in an official capacity result in death or serious injury to another may be temporarily removed from
        regularly assigned duties and/or placed on paid administrative leave for the well-being of the employee and until such time as the following may be completed:</p>
    <ol class="alpha">
        <li>A preliminary determination that the employee's conduct appears to be in compliance with policy and law.</li>
        <li>If appropriate, the employee has had the opportunity to receive necessary counseling and/ or psychological clearance to return to full duty.</li>
    </ol>

    <h3>1032.6 PHYSICAL AND PSYCHOLOGICAL EXAMINATIONS</h3>
    <ol class="alpha">
        <li>Whenever circumstances reasonably indicate that an employee is unfit for duty, the Chief of Police may serve that employee with a written order to undergo a physical and/or psychological examination in cooperation with the Department of Human
            Resources to determine the level of the employee’s fitness for duty. The order shall indicate the date, time and place for the examination.</li>
        <li>The examining physician or therapist will provide the Department with a report indicating that the employee is either fit for duty or, if not, list any functional limitations that limit the employee's ability to perform job duties. If the employee
            places his/her condition at issue in any subsequent or related administrative action or grievance, the examining physician or therapist may be required to disclose any and all information that is relevant to such proceeding.</li>
        <li>To facilitate the examination of any employee, the Department will provide all appropriate documents and available information to assist in the evaluation and/or treatment.</li>
        <li>All reports and evaluations submitted by the treating physician or therapist shall be part of the employee’s private medical file.</li>
        <li>Any employee ordered to receive a fitness for duty examination shall comply with the terms of the order and cooperate fully with the examining physician or therapist regarding any clinical interview, tests administered or other procedures as directed.
            Any failure to comply with such an order and any failure to cooperate with the examining physician or therapist may be deemed insubordination and may subject the employee to discipline up to and including termination.</li>
        <li>Once an employee has been deemed fit for duty by the examining physician or therapist, the employee will be notified to resume his/her duties.</li>
        <li>If an employee is deemed unfit for duty by the Department, the employee may submit a report from the employee’s personal physician, psychiatrist, psychologist or other health care provider that will be taken into consideration.</li>
    </ol>

    <h3>1032.7 LIMITATION ON HOURS WORKED</h3>
    <p>Absent emergency operations, members should not work more than:</p>
    <ul>
        <li>16 hours in one day (24 hour) period or</li>
        <li>84 hours in any seven day (168 hour) period</li>
    </ul>
    <p>The 24-hour and/or 168-hour period begins at the first hour worked and is a rolling time period.</p>
    <p>A supervisor, next level or above to the employee, shall authorize the exception to these guidelines. This authorization shall be in advance of the hours worked whenever possible. The supervisor should give consideration to reasonable rest periods
        and are authorized to deny overtime or relieve to off-duty status any member who has exceeded the above guidelines. The employee, who exceeds these guidelines, shall note the reason and supervisor that approved the exception when adding the hours
        worked into the payroll record management system.</p>
    <p>Except in very limited circumstances, members should have a minimum of eight hours off between shifts.</p>
    <p>Limitations on the number of hours worked apply to shift changes, shift trades, rotation, holdover, training, special events, contract work, outside employment, general overtime and any other work assignments.</p>

    <h3>1032.8 APPEALS</h3>
    <p>Employees disputing the application or interpretation of this policy may submit a grievance as provided in the Grievance Procedure Policy or the applicable collective bargaining agreement.</p>
</div>