<div class="chapter" id="1034">
    <h2>1034 - Meal Periods and Breaks</h2>
    <h3>1034.1 PURPOSE AND SCOPE</h3>
    <p>This policy regarding meals and breaks, insofar as reasonably possible shall conform to the policy governing all Metropolitan Council / Metro Transit employees pursuant to Minn. Stat. § 177.253, Minn. Stat. § 177.254 and Minn. R. § 5200.0120.</p>
    <h4>1034.1.1 MEAL PERIODS</h4>
    <p>Each employee who works for eight or more consecutive hours is entitled to sufficient time to eat a meal (Minn. Stat. § 177.254).</p>
    <p>Licensed employees and dispatchers shall remain on-duty subject to call during meal periods. All other employees are not on call during meal periods unless directed otherwise by a supervisor.</p>
    <p>Uniformed officers shall request clearance from Transit Control Center prior to taking a meal period. Uniformed officers shall take their meal periods within their assigned areas unless on assignment outside of the Metropolitan Transit Police Department
        jurisdiction.
    </p>
    <p>The time spent for the meal period shall not exceed the authorized time allowed.</p>
    <h4>1034.1.2 10 MINUTE BREAKS</h4>
    <p>Each employee is allowed adequate time from work within each four consecutive hours of work to utilize the nearest convenient restroom (Minn. Stat. § 177.253). Employees shall refer to their collective bargaining agreement as it may differ from the
        State Statute previously listed.</p>
    <p>Field officers will take their breaks in their assigned areas, subject to call, and shall monitor their radios. When field officers take their breaks away from their vehicles, they shall do so only with the knowledge and clearance of the Transit Control
        Center.
    </p>
</div>