<div class="chapter" id="1036">
    <h2>1036 - Payroll Procedures</h2>
    <h3>1036.1 PURPOSE AND SCOPE</h3>
    <p>Payroll records are submitted to the Metro Transit Police Department's payroll administrator on a biweekly basis for the payment of wages.</p>
    <h4>1036.1.1 RESPONSIBILITY FOR COMPLETION OF PAYROLL RECORDS</h4>
    <p>Employees are responsible for the accurate and timely submission of payroll records for the payment of wages.</p>
    <h4>1036.1.2 TIME REQUIREMENTS</h4>
    <p>All employees are paid on a biweekly basis, usually on Friday with certain exceptions such as holidays. Payroll records shall be completed and submitted to the payroll administrator no later than 8:00 a.m. on the Monday morning after the end of the
        pay period, unless specified otherwise.</p>
</div>