<div class="chapter" id="1037">
    <h2>1037 - Part-time Officer Work Schedules</h2>
    <h3>1037.1 PURPOSE AND SCOPE</h3>
    <p>The Metropolitan Transit Police Department employs part-time officers as part of its workforce to meet the service needs of the agency. The purpose of this policy is to establish a systematic and uniform procedure for maintaining a part-time officer's
        work schedule consistent with the needs of the Metropolitan Transit Police Department.</p>

    <h3>1037.2 SUBMITTING BIDS AND REQUIRED SERVICE</h3>
    <p>Work schedules are to be submitted on a bid sheet that will cover a two (2) week period. All schedule bids are to be returned to the Police Administrative office prior to the due date as listed on the bid sheet. All part-time sworn officer s must
        average a minimum of sixteen (16) hours each calendar month as evaluated on a quarterly basis.</p>
    <p>Part-time officers must work a minimum of two (2) Vikings and/or Gophers details each calendar year. Required detail hours worked shall count toward the 48 hour quarterly minimum.</p>
    <p>The work averages will be calculated during the following quarters:</p>
    <ol class="alpha">
        <li>Q1 = January, February and March</li>
        <li>Q2 = April, May and June</li>
        <li>Q3 = July, August and September</li>
        <li>Q4 = October, November and December</li>
    </ol>
    <h4>1037.2.1 ALLOWED VACATION</h4>
    <p>Officers will be allowed to designate a total of four (4) one-week periods throughout the year as vacation. Months in which one or more vacation weeks are taken will not be counted against the 16-hour per month average.</p>
    <p>Vacation periods must be designated in advance by making a written notice to the Patrol Captain a minimum of two weeks prior to the intended vacation.</p>

    <h3>1037.3 FAILURE TO MEET SERVICE REQUIREMENT</h3>
    <p>Officers who fail to meet minimum service requirements in any quarter will be notified of their deficiency. Officers will be required to submit a written response indicating how they will meet department service requirements and/or document mitigating
        circumstances. Absent any authorized mitigating circumstances, officers shall receive a written warning for failure to meet minimum service requirements for a first occurrence in any 12 month period. Failure to meet departmental service requirements
        (exclusive of authorized mitigating circumstances) for a second or subsequent quarter in any 12 month period will be grounds for separation from the Metropolitan Transit Police Department.</p>

    <h3>1037.4 OFFICER RESPONSIBILITIES AND OUTCOME</h3>
    <p>When an officer is scheduled for a shift, it shall be the officer's duty to work the shift bid or find another officer to fill that shift. An officer must report to the on-duty supervisor (Lieutenant if working or Sergeant if a Lieutenant is unavailable)
        any scheduling change.</p>
    <p>Any of the following circumstances will result in the officer receiving a <strong>WRITTEN NOTICE</strong> of the occurrence.</p>
    <p>If the officer:</p>
    <ol class="alpha">
        <li>Fails to work a scheduled shift</li>
        <li>Fails to find a replacement officer to work in that officer's place within four (4) hours of his/ her scheduled shift</li>
        <li>Fails to notify the on-duty supervisor (as set forth above) that the officer cannot work</li>
        <li>Fails to work a complete shift</li>
    </ol>
    <p>Upon receiving that notice, the officer will be provided an opportunity to give a written response. Three (3) such occurrences within any six (6) month period will require a meeting with the Patrol Captain to provide a plan to meet the Department
        service requirements. Failure to do so and/or continued occurrences will be grounds for dismissal.</p>

    <h3>1037.5 APPEALS</h3>
    <p>Decisions of the Patrol Lieutenants/Sergeants relative to this policy, may be appealed to the Patrol Captain. Decisions of the Patrol Captain may be appealed to the Chief of Police, whose decision on the matter will be final.</p>
</div>