<div class="chapter" id="1039">
    <h2>1039 - Part-time Officer Discipline Notifications</h2>
    <h3>1039.1 PURPOSE AND SCOPE</h3>
    <p>The Metro Transit Police Department employs part-time officers as a supplement to their full- time police force. Most of those officers work full-time for other law enforcement agencies. The professionalism, integrity and public image of the Metro
        Transit Police Department is determined by the conduct and discipline of each employee. The purpose of this policy is to ensure that all part-time officers make prompt notifications to the Metro Transit Police Department Administration regarding
        their employment status with their full-time employer.</p>
    <h3>1039.2 POLICY</h3>
    <p>At anytime during employment with the Metro Transit Police Department, it will be the responsibility of each part-time officer to notify the Metro Transit Chief of Police if the officer is placed on Administrative Leave, Suspended or Terminated from
        their home agency. Notifications to the Chief of Police shall be in writing and will state the reasons and the periods of such Administrative Leave, Suspension or Termination.</p>
    <p>Failure to notify the Metro Transit Chief of Police of any of the above changes in status, shall be grounds for Termination from the Metro Transit Police Department. Based upon the conditions and/or reasons for the officer's change in status (i.e.
        Administrative Leave, Suspension or Termination) from their home agency, it will be the decision of the Metro Transit Chief of Police if the officer will be allowed to work in any capacity for the Metro Transit Police during such periods of Administrative
        Leave, Suspension or Termination.</p>
</div>