<div class="chapter" id="104">
    <h2>104 - Oath of Office</h2>

    <h3>104.1 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that, when appropriate, department members affirm the oath of their office as an expression of commitment to the constitutional rights of those served by the Department and the dedication of its members to their duties (Minn. Stat. § 358.05).</p>

    <h3>104.2 PURPOSE AND SCOPE</h3>
    <p>Officers of this department are sworn to uphold the federal and state constitutions and to enforce federal, state and local laws.</h3>

    <h3>104.3 OATH OF OFFICE</h3>
    <p>Upon employment, all employees shall be required to affirm, sign and date the oath of office expressing commitment and intent to respect constitutional rights in discharging the duties of the position, regardless of whether law mandates such an oath. The oath shall be as follows:</p>
    <p>I, (employee name), do solemnly swear or affirm that I will support the Constitution of the United States and the Constitution of the State of Minnesota, and that I will faithfully discharge the duties of (applicable position or office) within and for the Metro Transit Police Department and State of Minnesota.</p>

    <h3>104.4 MAINTENANCE OF RECORDS</h3>
    <p>Oaths mandated by law shall be filed as required by law (Minn. Stat. § 387.01; Minn. Stat. § 387.14). Other oaths shall be maintained consistent with other personnel employment records.</p>
</div>
