<div class="chapter" id="1040">
    <h2>1040 - Outside Employment</h2>
    <h3>1040.1 PURPOSE AND SCOPE</h3>
    <p>To avoid actual or perceived conflicts of interest for Department employees engaging in outside employment, full-time employees shall initially obtain written approval from the Chief of Police prior to engaging in any outside employment. Approval
        of outside employment shall be at the discretion of the Chief of Police in accordance with the provisions of this policy.</p>
    <h4>1040.1.1 DEFINITIONS</h4>
    <p><strong>Outside Employment</strong> - The employment of any member of this department who receives wages, compensation or other consideration of value from another employer, organization or individual not affiliated directly with this department for
        services, product(s) or benefits rendered. For purposes of this section, the definition of outside employment includes those employees who are self- employed and not affiliated directly with this department for services, product(s) or benefits
        rendered.
    </p>
    <p><strong>Outside Overtime</strong> - Overtime involving any member of this department who performs duties or services on behalf of an outside organization, company or individual within this jurisdiction on behalf of the Department. Such outside overtime
        shall be requested and scheduled directly through this department so that the Department may be reimbursed for the cost of wages and benefits.</p>

    <h3>1040.2 OBTAINING APPROVAL</h3>
    <p>No full-time members of this department may engage in any outside employment without first obtaining prior written approval of the Chief of Police. Failure to obtain prior written approval for outside employment or engaging in outside employment prohibited
        by this policy is grounds for disciplinary action.</p>
    <p>To obtain approval for outside employment, the employee must submit a letter requesting approval to work outside of the Department. The letter shall be submitted to the employee's immediate supervisor. The letter will then be forwarded through the
        appropriate chain of command to the Chief of Police for consideration.</p>
    <p>If approved, the employee will be provided with a copy of the approved letter. Unless otherwise indicated in writing on the letter of approval, the ability to work outside employment will be valid through the end of the calendar year in which it is
        approved. Any employee seeking to continue outside employment shall submit a new letter in a timely manner.</p>
    <p>Any employee seeking approval of outside employment whose request has been denied shall be provided with a written reason for the denial of the request at the time of the denial and within 30 days of the request.</p>
    <h4>1040.2.1 APPEAL OF DENIAL OF OUTSIDE EMPLOYMENT</h3>
    <p>If an employee's outside employment request is denied or rescinded by the Department, the employee may file a written notice of appeal to the Chief of Police within 10 days of the date of denial.</p>
    <p>If the employee's appeal is denied, the employee may file a grievance pursuant to the procedure set forth in the current collective bargaining agreement.</p>
    <h4>1040.2.2 REVOCATION/SUSPENSION OF OUTSIDE EMPLOYMENT PERMITS</h4>
    <p>Any outside employment approval may be revoked or suspended after the employee has received written notification of the reasons for revocation or suspension. Revocation will be implemented after the employee has exhausted the appeal process.</p>
    <p>The outside employment may be revoked:</p>
    <ol class="alpha">
        <li>If an employee's performance declines to a point where it is evaluated by a supervisor as needing improvement to reach an overall level of minimum acceptable competency and the outside employment may be related to the employee's performance. The
            Chief of Police may, at his/her discretion, notify the employee of the intent to revoke any previously approved outside employment request(s). After the appeal process has concluded, the revocation will remain in force until the employee's
            performance directly related to the outside employment has been reestablished to the minimum level of acceptable competency.</li>
        <li>If, at any time during the term of a valid outside employment approval, an employee's conduct or outside employment conflicts with the provisions of Department policy or any law.</li>
        <li>The outside employment creates an actual or apparent conflict of interest with the Department or Metropolitan Council / Metro Transit.</li>
    </ol>

    <h3>1040.3 PROHIBITED OUTSIDE EMPLOYMENT</h3>
    <p>The Department expressly reserves the right to deny any outside employment request submitted by an employee seeking to engage in any activity that:</p>
    <ol class="alpha">
        <li>Involves the employee to engage in any business or occupation which is not compatible with police work (e.g. bartending, repossession work, any establishment that provides adult entertainment in the form of nude, semi-nude or topless exhibition,
            on-sale liquor establishments whose primary source of income is selling or dispensing of alcohol).</li>
        <li>Involves the employee's use of Department time, facilities, equipment or supplies, the use of the Department badge, uniform, prestige or influence for private gain or advantage.</li>
        <li>Involves the employee's receipt or acceptance of any money or other consideration from anyone other than this department for the performance of an act that the employee, if not performing such act, would be required or expected to render in the
            regular course or hours of employment or as a part of the employee's duties as a member of this department.</li>
        <li>Involves the performance of an act in other than the employee's capacity as a member of this department that may later be subject directly or indirectly to the control, inspection, review, audit or enforcement of any other employee of this department.</li>
        <li>Involves time demands that would render performance of the employee's duties for this department below minimum standards or would render the employee unavailable for reasonably anticipated overtime assignments and other job-related demands that
            occur outside regular working hours.</li>
    </ol>
    <h4>1040.3.1 OUTSIDE SECURITY EMPLOYMENT</h4>
    <p>Due to the potential conflict of interest no member of this department may engage in any outside or secondary employment as a private security guard, private investigator or other similar private security position.</p>
    <p>Any private organization, entity or individual seeking special services for security or traffic control from members of this department must submit a written request to the Chief of Police in advance of the desired service. Such outside overtime will
        be monitored by the patrol supervisor.</p>
    <ol class="alpha">
        <li>The applicant will be required to enter into a written indemnification agreement prior to approval.</li>
        <li>The applicant will further be required to provide for the compensation and full benefits of all employees requested for such outside security services.</li>
        <li>If such a request is approved, any employee working outside overtime shall be subject to the following conditions:
            <ol class="decimal">
                <li>The officer(s) shall wear the Department uniform/identification.</li>
                <li>The officer(s) shall be subject to all the rules and regulations of this department.</li>
                <li>No officer may engage in such outside employment during or at the site of a strike, lockout, picket or other physical demonstration of a labor dispute.</li>
                <li>Compensation for such approved outside security services shall be pursuant to normal overtime procedures.</li>
                <li>Outside security services, outside employment or outside overtime shall not be subject to the collective bargaining process.</li>
                <li>No officer may engage in outside employment as a peace officer for any other public agency without prior written authorization of the Chief of Police.</li>
            </ol>
        </li>
    </ol>
    <h4>1040.3.2 OUTSIDE OVERTIME ARREST AND REPORTING PROCEDURE</h4>
    <p>Any employee making an arrest or taking other official law enforcement action while working in an approved outside overtime assignment shall be required to complete all related reports in a timely manner pursuant to Department policy. Time spent on
        the completion of such reports shall be considered incidental to the outside overtime assignment.</p>
    <h4>1040.3.3 SPECIAL RESTRICTIONS</h4>
    <p>Except for emergency situations or with prior authorization from the Captain, undercover officers or officers assigned to covert operations shall not be eligible to work overtime or other assignments in a uniformed or other capacity that might reasonably
        disclose the officer's law enforcement status.</p>

    <h3>1040.4 DEPARTMENT RESOURCES</h3>
    <p>Employees are prohibited from using any Department equipment or resources in the course of or for the benefit of any outside employment. This shall include the prohibition of access to official records or databases of this department or other agencies
        through the use of the employee's position with this department.</p>

    <h3>1040.5 CHANGES IN OUTSIDE EMPLOYMENT STATUS</h3>
    <p>If an employee terminates his/her outside employment during the valid approval period, the employee shall promptly submit written notification of such termination to the Chief of Police through the appropriate chain of command. Any subsequent request
        for renewal or continued outside employment must thereafter be processed and approved through normal procedures set forth in this policy.</p>
    <p>Employees shall also promptly submit in writing to the Chief of Police any material changes in outside employment including any change in the number of hours, type of duties or demands of any approved outside employment. Employees who are uncertain
        whether a change in outside employment is material shall report the change.</p>

    <h3>1040.6 OUTSIDE EMPLOYMENT WHILE ON DISABILITY OR ADMINISTRATIVE LEAVE</h3>
    <P>Department members engaged in outside employment who are placed on disability or administrative leave or modified/light-duty shall inform the Chief of Police in writing within five days whether they intend to continue to engage in outside employment
        while on such leave or light- duty status. The Chief of Police shall review the duties of the outside employment along with any work-related doctor's orders and make a determination whether such outside employment should continue or be suspended
        or revoked.</span>
    </p>
    <p>In the event the Chief of Police determines that the outside employment should be discontinued or if the employee fails to promptly notify the Chief of Police of his/her intentions regarding the outside employment, a notice of intent to revoke the
        employee's outside employment approval will be forwarded to the involved employee and a copy attached to the original approved request. The revocation process outlined in this policy shall be followed.</p>
    <p>Criteria for revoking or suspending the outside employment request while on disability status or administrative leave include, but are not limited to, the following:</p>
    <ol class="alpha">
        <li>The outside employment is medically detrimental to the total recovery of the disabled employee, as indicated by the Metropolitan Council / Metro Transit's professional medical advisors.</li>
        <li>The outside employment performed requires the same or similar physical ability, as would be required of an on-duty employee.</li>
        <li>The employee's failure to make timely notice of his/her intentions to the Chief of Police.</li>
        <li>The outside employment is not compatible with the reason the employee is on administrative leave.</li>
    </ol>
</div>