<div class="chapter" id="1042">
    <h2>1042 - Occupational Disease, Personal Injury and Death Reporting</h2>
    <h3>1042.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance regarding the timely reporting of occupational diseases, personal injuries and deaths.</p>
    <h4>1042.1.2 DEFINITIONS</h4>
    <p>Definitions related to this policy include (Minn. Stat. § 176.011):</p>
    <p><strong>Occupational disease</strong> – A mental impairment or physical disease arising out of and in the course of employment peculiar to the occupation in which the member is engaged and due to causes in excess of the hazards ordinary of employment.
        The term includes diagnosis of post- traumatic stress disorder (PTSD) by a psychiatrist or psychologist; however, mental impairment is not considered a disease if it results from a disciplinary action, work evaluation, job transfer, layoff, demotion,
        promotion, termination, retirement or similar action taken in good faith by the Department.</p>
    <p><strong>Personal injury</strong> – Any mental impairment or physical injury arising out of and in the course of employment, including personal injury caused by occupational disease, while engaged in, on or about the premises where the member’s services
        require the member’s presence as part of that service at the time of the injury and during the hours of that service. Personal injury does not include an injury caused by the act of a third person or fellow department member who intended to injure
        the member because of personal reasons, and not directed against the member as a member of the Metro Transit Police Department, or because of the employment with the Metro Transit Police Department. Mental impairment is not considered a personal
        injury if it results from a disciplinary action, work evaluation, job transfer, layoff, demotion, promotion, termination, retirement or similar action taken in good faith by the Department.</p>

    <h3>1042.2 POLICY</h3>
    <p>The Metro Transit Police Department will address occupational diseases, personal injuries and deaths appropriately, and will comply with applicable state workers’ compensation requirements (Minn. Stat. § 176.231).</p>

    <h3>1042.3 RESPONSIBILITIES</h3>
    <h4>1042.3.1 MEMBER RESPONSIBILITIES</h4>
    <p>Any member sustaining any occupational disease or personal injury shall report such event as soon as practicable, but within 24 hours, to a supervisor, and shall seek medical care when appropriate.</p>
    <h4>1042.3.2 SUPERVISOR RESPONSIBILITIES</h4>
    <p>A supervisor learning of any occupational disease or personal injury should ensure the member receives medical care as appropriate.</p>
    <p>Supervisors shall ensure that required documents regarding workers’ compensation are completed and forwarded promptly. Any related Metropolitan Council / Metro Transit wide disease- or injury-reporting protocol shall also be followed.</p>
    <p>Supervisors shall determine whether the Major Incident Notification and Workplace Accident and Injury Reduction policies apply and take additional action as required.</p>
    <h4>1042.3.3 CAPTAIN RESPONSIBILITIES</h4>
    <p>The Captain who receives a report of an occupational disease, personal injury or death should review the report for accuracy and determine what additional action should be taken. The report shall then be forwarded to the Chief of Police and the Metropolitan
        Council / Metro Transit's risk management entity to ensure any required Minnesota Occupational Safety and Health Administration (MNOSHA) reporting is made as required in the illness and injury prevention plan identified in the Workplace Accident
        and Injury Reduction Policy.</p>
    <h4>1042.3.4 CHIEF OF POLICE RESPONSIBILITIES</h4>
    <p>The Chief of Police shall review and forward copies of the report to the Department of Human Resources. Copies of the report and related documents retained by the Department shall be filed in the member’s confidential medical file.</p>

    <h3>1042.4 OTHER DISEASE OR INJURY</h3>
    <p>Diseases, injuries or deaths caused or occurring on-duty that do not qualify for workers’ compensation reporting shall be documented on the designated report of injury form, which shall be signed by a supervisor. A copy of the completed form shall
        be forwarded to the appropriate Captain through the chain of command and a copy sent to the Administration.</p>
    <p>Unless the injury is extremely minor, this report shall be signed by the affected member, indicating that he/she desired no medical attention at the time of the report. By signing, the member does not preclude his/her ability to later seek medical
        attention.</p>

    <h3>1042.5 SETTLEMENT OFFERS</h3>
    <p>When a member sustains an occupational disease or personal injury that is caused by another person and is subsequently contacted by that person, his/her agent, insurance company or attorney and offered a settlement, the member shall take no action
        other than to submit a written report of this contact to his/her supervisor as soon as possible.</p>
    <h4>1042.5.1 NO SETTLEMENT WITHOUT PRIOR APPROVAL</h4>
    <p>No less than 10 days prior to accepting and finalizing the settlement of any third-party claim arising out of or related to an occupational disease or personal injury, the member shall provide the Chief of Police with written notice of the proposed
        terms of such settlement. In no case shall the member accept a settlement without first providing written notice to the Chief of Police. The</p>
    <p>purpose of such notice is to permit the Metropolitan Council / Metro Transit to determine whether the offered settlement will affect any claim the Metropolitan Council / Metro Transit may have regarding payment for damage to equipment or reimbursement
        for wages against the person who caused the disease or injury, and to protect the Metropolitan Council / Metro Transit's right of subrogation, while ensuring that the member's right to receive compensation is not affected.</p>
</div>