<div class="chapter" id="1044">
    <h2>1044 - Personal Appearance Standards</h2>
    <h3>1044.1 PURPOSE AND SCOPE</h3>
    <p>To project uniformity and neutrality toward the public and other members of the Department, employees shall maintain their personal hygiene and appearance to project a professional image appropriate for this department and for their assignment.</p>

    <h3>1044.2 GROOMING STANDARDS</h3>
    <p>Unless otherwise stated and because deviations from these standards could present officer health safety issues, the following appearance standards shall apply to all employees, except those whose current assignment would deem them not appropriate,
        and where the Chief of Police has granted exception.</p>
    <h4>1044.2.1 HAIR</h4>
    <p>Hairstyles of all members shall be neat in appearance and only natural colors are permitted. For male licensed members, hair shall not be worn over the ear or cover any part of the face below the eyebrows. Hair shall not extend below the top edge
        of the shirt collar while assuming a normal stance.</p>
    <p>For female licensed members, shoulder or shorter length hair may be worn down. Hair shall not cover the front of the face below the eyebrows. Longer hair shall be pulled away from the face and hang no longer than the lower neck and shoulders if not
        in a pony tail or braid(s). If hair is worn in a pony tail or braid(s), hair may touch as low as the top of the shoulder blades. Headbands are not allowed.</p>
    <h4>1044.2.2 MUSTACHES</h4>
    <p>A short and neatly trimmed mustache may be worn. Mustaches shall not extend below the corners of the mouth or beyond the natural hairline of the upper lip. Hair length may be between 1/4" and 1/2" fully extended. The mustache must not interfere with
        the sealing surface of a respirator.</p>
    <h4>1044.2.3 SIDEBURNS</h4>
    <p>Sideburns shall not extend below the bottom of the outer ear opening (the top of the earlobes) and shall be trimmed and neat. They shall end in a clean horizontal line. No flare or mutton chop style sideburns are permitted.</p>
    <h4>1044.2.4 FACIAL HAIR</h4>
    <p>Employees assigned to work areas where there is a likelihood they may need to wear a respirator, shall be clean shaven or may wear facial hair if it is neatly trimmed (e.g., 1/4") and does not interfere with the sealing surface of a respirator. No
        facial/neck hair shall be shaved, manicured, styled or outlined in a non-conventional manner.</p>
    <h4>1044.2.5 FINGERNAILS</h4>
    <p>Fingernails extending beyond the tip of the finger can pose a safety hazard to officers or others. For this reason, fingernails shall be trimmed so that no point of the nail extends beyond the tip of the finger.</p>
    <h4>1044.2.6 JEWELRY AND ACCESSORIES</h4>
    <p>No jewelry or personal ornaments shall be worn by officers on any part of the uniform or equipment, except those authorized within this manual. Jewelry, if worn around the neck, shall not be visible above the shirt collar.</p>
    <p>Uniformed officers, while on-duty, are allowed to wear one watch, one ring on each hand and a medical alert bracelet.</p>

    <h3>1044.3 TATTOOS</h3>
    <p>At no time while on-duty or representing the Department in any official capacity, shall any tattoo or body art be visible.</p>

    <h3>1044.4 BODY PIERCING OR ALTERATION</h3>
    <p>Body piercing or alteration to any area of the body that is visible in any authorized uniform or attire, and is a deviation from normal anatomical features and that is not medically required is prohibited, except that female employees may wear earrings.
        One earring per ear is allowed and must be limited to post or stud type silver, gold or white in color (stones allowed) and may not be more than 1/8" in diameter. Such body alteration includes, but is not limited to:</p>
    <ol class="alpha">
        <li>Tongue splitting or piercing.</li>
        <li>The complete or transdermal implantation of any material other than hair replacement or breast augmentation.</li>
        <li>Abnormal shaping of the ears, eyes, nose or teeth (e.g. plugs used to enlarge the piercing holes in the earlobes, mouth grills, tooth jewelery etc).</li>
        <li>Branding or scarification.</li>
    </ol>

    <h3>1044.5 EXEMPTIONS</h3>
    <p>The Chief of Police reserves the right to grant exemptions to this policy. Officers/staff wishing an exemption to this policy shall make a formal written request outlining the exemption desired and an explanation surrounding the circumstances. If
        the request is based upon a medical reason, a physician's statement will accompany the request.</p>
</div>