<div class="chapter" id="1046">
    <h2>1046 - Uniform Regulations</h2>
    <h3>1046.1 PURPOSE AND SCOPE</h3>
    <p>The uniform policy of the Metro Transit Police Department is established to ensure that uniformed officers, special assignment personnel and non-licensed employees (e.g. CSO's) will be readily identifiable to the public through the proper use and
        wearing of Department uniforms. Employees should also refer to the following associated policies:</p>
    <ul>
        <li>Firearms</li>
        <li>Department Owned and Personal Property</li>
        <li>Body Armor</li>
        <li>Personal Appearance Standards</li>
    </ul>
    <p>The Uniform and Equipment Specifications Manual is maintained and periodically updated by the Chief of Police or authorized designee. The manual, and associated procedures, should be consulted regarding authorized equipment and uniform specifications.</p>
    <p>The Metro Transit Police Department will provide uniforms for all employees who are required to wear them in the manner, quantity and frequency agreed upon in the respective employee group's collective bargaining agreement. The uniforms for officers
        of this department shall be a consistent color pursuant to Minn. Stat. § 626.88 Subd. 2.</p>

    <h3>1046.2 WEARING AND CONDITION OF UNIFORM AND EQUIPMENT</h3>
    <p>Police employees wear the uniform to be identified as the law enforcement authority in society. The uniform also serves an equally important purpose, which is to identify the wearer as a source of assistance in an emergency, crisis or other time of
        need.</p>
    <ol class="alpha">
        <li>Uniform and equipment shall be maintained in a serviceable condition and shall be ready at all times for immediate use. Uniforms shall be neat, clean and appear professionally pressed. Leather items, including footwear, shall be properly dyed
            and polished. Metal items shall be highly polished.</li>
        <li>All peace officers of this department shall possess and maintain at all times, a serviceable uniform and the necessary equipment to perform uniformed field duty.</li>
        <li>Personnel shall wear only the uniform specified for their rank and assignment.</li>
        <li>The uniform is to be worn in compliance with the specifications set forth in the Department's uniform specifications and procedures which are maintained separately from this policy.</li>
        <li>All supervisors will perform weekly roll call inspections of their personnel to ensure conformance to these regulations. Supervisors will document inspections and a record of each inspection shall be forwarded to the Patrol Captain.</li>
        <li>Civilian attire shall not be worn in combination with any distinguishable part of the uniform.</li>
        <li>Uniforms are only to be worn while on-duty, while in transit to or from work, for court or at other official Department functions or events.</li>
        <li>If the uniform is worn while in transit while driving a personal vehicle an outer garment shall be worn over the uniform shirt so as not to bring attention to the employee while off-duty.</li>
        <li>Employees are not to purchase or drink alcoholic beverages while wearing any part of the Department uniform.</li>
        <li>Mirrored or iridescent sunglasses will not be worn with any Department uniform.</li>
        <li>Visible jewelry, other than those items listed below, shall not be worn with the uniform unless specifically authorized by the Chief of Police or designee.
            <ol class="decimal">
                <li>Wrist watch.</li>
                <li>Wedding ring(s), class ring or other ring of tasteful design. A maximum of one ring/ set may be worn on each hand.</li>
                <li>Medical alert bracelet.</li>
            </ol>
        </li>
    </ol>
    <h4>1046.2.1 DEPARTMENT ISSUED IDENTIFICATION</h4>
    <p>The Department issues each employee an official Department identification card bearing the employee's name, identifying information and photo likeness. All employees shall be in possession of their Department-issued identification card at all times
        while on-duty or when carrying a concealed weapon.</p>
    <ol class="alpha">
        <li>Whenever on-duty or acting in an official capacity representing the Department, employees shall display their Department issued identification in a courteous manner to any person upon request and as soon as practicable.</li>
        <li>Officers working specialized assignments may be excused from the possession and display requirements when directed by their Captain.</li>
    </ol>

    <h3>1046.3 UNIFORM CLASSES AND SEASONAL UNIFORM CHANGE</h3>
    <h4>1046.3.1 CLASS A DRESS UNIFORM</h4>
    <p>The Class A Dress uniform is to be worn on special occasions such as funerals, graduations, promotions, ceremonies or as directed. The Class A Dress uniform is required for the rank of Lieutenant, Captain, Deputy Chief and Chief. The Class A Dress
        uniform includes:</p>
    <ol class="alpha">
        <li>Blouse coat.</li>
        <li>White long sleeve uniform shirt with navy blue tie.</li>
        <li>Uniform pants (without cargo pockets).</li>
        <li>Polished black shoes.</li>
        <li>Handgun carried in a concealed manner.</li>
    </ol>
    <h4>1046.3.2 CLASS A UNIFORM</h4>
    <p>The Class A uniform is to be worn on special occasions such as funerals, graduations, promotions, ceremonies or as directed. All officers will possess and maintain a serviceable Class A uniform at all times.</p>
    <p>The Class A uniform includes:</p>
    <ol class="alpha">
        <li>Long sleeve uniform shirt (white shirt for Lieutenants and above) with a navy blue tie.</li>
        <li>Uniform pants (cargo pants are acceptable).</li>
        <li>Polished black shoes or boots.</li>
        <li>Duty belt.</li>
    </ol>
    <p>The service hat may be worn for events held outdoors.</p>
    <h4>1046.3.3 CLASS B UNIFORM</h4>
    <p>All officers will possess and maintain a serviceable Class B uniform at all times. The Class B uniform includes:</p>
    <ol class="alpha">
        <li>Seasonal uniform shirt (i.e. long sleeve or short sleeve).</li>
        <li>Uniform pants (cargo pants are acceptable).</li>
        <li>Polished black shoes or boots.</li>
        <li>Duty belt.</li>
    </ol>
    <p>The service hat may be worn for events held outdoors.</p>
    <h4>1046.3.4 CLASS C UNIFORM</h4>
    <p>The Class C uniform may be established to allow field personnel cooler clothing during the summer months or for special duty assignments. The Chief of Police will establish the regulations and conditions for wearing the Class C uniform and the specifications
        for the Class C uniform.</p>
    <h4>1046.3.5 SPECIALIZED UNIFORMS</h4>
    <p>The Chief of Police may authorize special uniforms to be worn by personnel in specialized assignments such as Beat Officers, Canine and Bicycle Patrol. When working in groups of two or more, officers shall be dressed in the same uniform. A temporary
        fill-in to an assignment is exempt from dressing the same.</p>
    <h4>1046.3.6 SEASONAL UNIFORM CHANGE</h4>
    <p>The summer uniform is mandatory beginning May 1 of each year. The summer uniform is optional April 1 through April 30. The designated summer uniform shirt is the short sleeve shirt. If a visible t-shirt is worn with the summer uniform, it will be
        black in color.</p>
    <p>The winter uniform is mandatory beginning November 1 of each year. The winter uniform is optional October 1 through October 31. The designated winter uniform shirt is the long sleeve shirt. The long sleeve shirt is to be worn with either a tie or
        authorized mock turtleneck.</p>

    <h3>1046.4 INSIGNIA AND PATCHES</h3>
    <ol class="alpha">
        <li>Shoulder patches - The authorized shoulder patch supplied by the Department shall be machine stitched to the sleeves of all uniform shirts and jackets, one inch below the shoulder seam of the shirt, and be bisected by the crease in the sleeve.</li>
        <li>Service stripes - Service stripes for length of service may be worn on jackets. They are to be machine stitched onto the uniform. Each service stripe will denote four years of active sworn police service. Additional stripes will ascend up the
            sleeve. The bottom of the service stripe shall begin four inches from the bottom cuff. The stripes are to be worn on the left sleeve only.</li>
        <li>All officers shall wear name tags on their shirts or outer garments. The name tag shall consist of the officer's first initial and last name or full first and last name. If the officer wishes to display a "Serving Since" attachment to the name
            tag, it shall display years of sworn law enforcement experience only. The name tag shall be positioned immediately above and centered on the right pocket flap of the uniform shirt or outer garment. Wear on jackets/ sweaters shall be at the
            location specified by the garment manufacturer.</li>
        <li>Officers have the option of embroidery in lieu of a metal name tag. The embroidered name shall consist of the first initial and last name located on the garment in the same position as the name tag. Embroidery is not authorized on white shirts
            or leather jackets.</li>
        <li>Decorations - Decorations (e.g., Medal of Honor, Medal of Valor, Medal of Commendation, Chief's Award of Merit, Medal of Merit, Officer of the Year or Lifesaving Award) may be worn as designated by the Chief of Police. Decoration bars, when worn,
            shall be placed one half inch above and centered on the uniform name tag. If more than one bar is worn, additional bars shall be placed on the uniform shirt in a horizontal row with no more than two bars in a row. The highest decoration shall
            always be worn closest to the center of the uniform. If three or five bars are worn, the highest award shall be worn centered over the row. If officers attach multiple decoration bars to some type of holder, the holder shall not be visible
            on the exterior of the uniform shirt.</li>
        <li>Awards / Assignment Insignias - Awards or Assignment Insignias, (e.g., Accident Reconstructionist, FTO, CIT, Military Service, Educational Achievement or similar) may be worn as designated by the Chief of Police. Awards/Assignment Insignias, when
            worn, shall be placed centered on the left pocket flap. Only one device may be worn at a time. A Decoration or Award from another law enforcement agency may be worn subject to the same criteria as MTPD awards.</li>
        <li>The Metro Transit service pin may be worn centered on the right pocket flap of any shirt or outer garment.</li>
        <li>Flag pin - A flag pin may be worn, centered above the nameplate one half inch. If worn with decoration bars, it will be worn one half inch above the bars and centered over the pocket.</li>
        <li>Badge - The Department-issued badge, or an authorized sewn-on cloth replica, must be worn and be visible at all times while in uniform. Licensed non-uniform personnel will wear or carry their badge in a manner that it is in reasonable proximity
            to their firearm and able to be displayed whenever appropriate.</li>
        <li>Rank insignia - The designated insignia indicating the employee's rank must be worn at all times while in uniform. The Chief of Police may authorize exceptions.</li>
    </ol>
    <h4>1046.4.1 MOURNING BADGE</h4>
    <p>Uniformed employees may wear a black mourning band across the uniform badge whenever a law enforcement officer is killed in the line of duty. The following mourning periods will be observed:</p>
    <ol class="alpha">
        <li>An officer of this department - From the time of death until midnight on the 14th day after the death.</li>
        <li>An officer from this state - From the time of death until midnight on the day of the funeral.</li>
        <li>Funeral attendee - While attending the funeral of a fallen officer.</li>
        <li>National Peace Officers Memorial Day (May 15) - From midnight through the following midnight.</li>
        <li>As directed by the Chief of Police or designee.</li>
    </ol>

    <h3>1046.5 CIVILIAN ATTIRE</h3>
    <p>There are assignments within the Department that do not require the wearing of a uniform because recognition and authority are not essential to their function. There are also assignments in which wearing civilian attire is necessary.</p>
    <p>All employees shall wear clothing that fits properly, is clean and free of stains and not damaged or excessively worn.</p>
    <ol class="alpha">
        <li>All male administrative, investigative and support personnel who elect to wear civilian clothing to work shall wear button style shirts with a collar, slacks or suits that are moderate in style.</li>
        <li>All female administrative, investigative and support personnel who elect to wear civilian clothes to work shall wear dresses, slacks, shirts, blouses or suits that are moderate in style.</li>
        <li>The following items shall not be worn on-duty:</p>
            <ol class="decimal">
                <li>T-shirt alone.</li>
                <li>Open-toed sandals or thongs.</li>
                <li>Swimsuit, tube tops or halter tops.</li>
                <li>Spandex type pants or see-through clothing.</li>
                <li>Distasteful printed slogans, buttons or pins.</li>
                <li>Shorts.</li>
                <li>Sweat shirts, sweat pants or similar exercise clothing.</li>
            </ol>
        </li>
        <li>Variations from this order are allowed at the discretion of the Chief of Police or designee when the employee's assignment or current task is not conducive to wearing such clothing.</li>
        <li>No item of civilian attire may be worn on-duty that would adversely affect the reputation of the Metro Transit Police Department or the morale of the employees.</li>
        <li>Licensed employees carrying firearms while wearing civilian attire should wear clothing that effectively conceals the firearm when outside a controlled law enforcement facility or work area.</li>
    </ol>

    <h3>1046.6 POLITICAL ACTIVITIES, ENDORSEMENTS, ADVERTISEMENTS OR OTHER APPEARANCES IN UNIFORM</h3>
    <p>Unless specifically authorized by the Chief of Police, Metro Transit Police Department employees may not wear any part of the uniform, be photographed wearing any part of the uniform, utilize a badge, patch or other official insignia of the Department,
        or cause to be posted, published or displayed, the image of another employee, or identify him/herself as an employee of the Metro Transit Police Department to do any of the following:</p>
    <ol class="alpha">
        <li>Endorse, support, oppose or contradict any political campaign or initiative.</li>
        <li>Endorse, support, oppose or contradict any social issue, cause or religion.</li>
        <li>Endorse, support or oppose, any product, service, company or other commercial entity.</li>
        <li>Appear in any commercial, social or nonprofit publication, or any motion picture, film, video, public broadcast, photo, any website or any other visual depiction.</li>
    </ol>

    <h3>1046.7 OPTIONAL EQUIPMENT - MAINTENANCE AND REPLACEMENT</h3>
    <p>Any of the items listed in the Uniform and Equipment Specifications Manual as optional shall be purchased at the expense of the employee.</p>
    <ol class="alpha">
        <li>Maintenance of optional items shall be the financial responsibility of the purchasing employee (e.g., repairs due to normal wear and tear).</li>
        <li>Replacement of items listed in this order as optional shall be done as follows:</p>
            <ol class="decimal">
                <li>When the item is no longer functional because of normal wear and tear, the employee bears the full cost of replacement.</li>
                <li>When the item is no longer functional because of damage in the course of the employee's duties, it may be replaced following the procedures for the replacement of damaged personal property in the Department Owned and Personal Property
                    Policy.</li>
            </ol>
        </li>
    </ol>

    <h3>1046.8 OPTIONAL ATTIRE BASED ON RELIGIOUS ACCOMMODATION</h3>
    <p>Subject to general safety, officer safety or security, the religious beliefs and needs of all employees should be reasonably accommodated. Requests for religious accommodation shall be made to the Chief of Police. Requests should generally be granted
        unless there is a compelling safety or security reason for denying the request. The accommodation must be the least restrictive means available to ensure general safety, officer safety or security.</p>
    <p>In an effort to accommodate religious requests, female members of Muslim faith may wear a hijab or headscarf while on-duty. If the hijab is worn while in uniform, the hijab must be black or midnight/ LA Blue in color. The hijab must not impair the
        operation of weapons, pose a health or safety hazard or interfere with any other police equipment (e.g. hat, helmet, gas mask etc). Any hijab worn while in uniform must be crafted in a manner that will not allow for it to be used to choke or strangle
        the officer.</p>
    <p>The hijab is an optional uniform item and may be subject to reimbursement under the Department- Owned and Personal Property policy.</p>

    <h3>1046.9 UNAUTHORIZED UNIFORMS, EQUIPMENT AND ACCESSORIES</h3>
    <p>Metro Transit Police Department employees may not wear any uniform item, accessory or attachment unless specifically authorized in the Uniform and Equipment Specifications Manual or by the Chief of Police or designee.</p>
    <p>Metro Transit Police Department employees may not use or carry any tool or other piece of equipment unless specifically authorized in the Uniform and Equipment Specifications Manual or by the Chief of Police or designee.</p>
</div>