<div class="chapter" id="1048">
    <h2>1048 - Community Service Officers (CSO)</h2>
    <h3>1048.1 PURPOSE AND SCOPE</h3>
    <p>Community Service Officers work under direct supervision and perform a variety of routine and progressively advanced tasks in a program designed to prepare them for a career in law enforcement.</p>

    <h3>1048.2 EDUCATION REQUIREMENTS</h3>
    <p>To qualify for and maintain eligibility for the position, CSO's must be enrolled in and actively working toward a Law Enforcement or related degree. The maximum allowable time for completion of an Associate degree is three years. The maximum allowable
        time for completion of a Bachelor's degree is five years. Completion of a degree or failure to complete a Law Enforcement program within the timeline established above, will be a disqualifier from employment and the CSO program. An extension may
        be granted by the Chief of Police if the CSO is eligible for employment as a sworn police officer with the Metro Transit Police Department. See 1048.9 for further information on employment extensions.</p>

    <h3>1048.3 PROGRAM COORDINATOR</h3>
    <p>The Training Coordinator will serve as the CSO Program Coordinator. The Program Coordinator will be responsible for tracking the educational and job performance of CSO's as well as making their individual assignments throughout the Department. The
        Program Coordinator will also monitor the training provided for all CSO's and review all decisions affecting job assignments, school attendance and performance evaluations.</p>
    <h4>1048.3.1 PROGRAM ADVISORS</h4>
    <p>The Program Coordinator may select individual officers to serve as advisors for the CSO Program. These officers will serve as mentors for each CSO. CSO's will bring special requests, concerns and suggestions to their program advisor for advice or
        direction before contacting the program coordinator. One advisor may be designated as the coordinator's assistant to lead scheduled meetings and training sessions involving the CSO's. Multiple CSO's may be assigned to each program advisor. Program
        advisors are not intended to circumvent the established chain of command. Any issues that may be a concern of the individual's supervisor should be referred back to the program coordinator.</p>

    <h3>1048.4 ORIENTATION AND TRAINING</h3>
    <p>Newly appointed CSO's will receive an orientation of the organization and facilities. On the job training will be conducted in compliance with the CSO Field Training Manual. Training sessions will be scheduled as needed to train CSO's for as many
        assignments as possible. In addition to job specific training (i.e. Use of Force training), information will be offered to prepare CSO's to compete in the police officer selection process. All training will focus on improving job performance,
        as well as preparation to become police officers. These meetings will also offer an opportunity to receive continuous feedback regarding progress of the program.</p>

    <h3>1048.5 CSO UNIFORMS</h3>
    <p>Each CSO will be provided with uniforms meeting the specifications described in the Uniform and Equipment Manual. CSO's are only authorized to wear the MTPD CSO uniform and related items during their established hours of employment. Under no circumstance
        shall the CSO uniform or related items be worn outside of employment hours or be worn by other persons not employed by the Metro Transit Police Department.</p>

    <h3>1048.6 ROTATION OF ASSIGNMENTS AND SCHEDULING</h3>
    <p>Rotating job assignments should occur to enhance the career development for each CSO. Department needs and concerns will take precedence over individual CSO considerations, with the final decision resting with the Training Coordinator.</p>
    <p>The typical job activities of a CSO include, but are not limited to the following:</p>
    <ol class="alpha">
        <li>Assist officers with fare inspection/enforcement.</li>
        <li>Assist with parking enforcement.</li>
        <li>Assist in fleet management (including the maintenance and cleaning of police vehicles).</li>
        <li>Assist the Asset Protection Division.</li>
        <li>Assist the Investigations Division.</li>
        <li>Assist the clerical staff and Administration.</li>
        <li>Assist in crowd control at special events.</li>
        <li>Other duties as assigned.</li>
    </ol>
    <p>CSO's should typically be scheduled 15 to 40 hours per week in compliance with the Metropolitan Council policy for internship activities.</p>

    <h3>1048.7 RIDE-ALONG PROCEDURES</h3>
    <p>All CSO's are authorized to participate in the Ride-Along Program. CSO's shall wear their uniform while participating in a ride-along.</p>

    <h3>1048.8 PERFORMANCE EVALUATIONS</h3>
    <p>Performance evaluations for all CSO's shall be completed while in Field Training. After the first year, CSO's will be evaluated annually to assess their current job performance.</p>

    <h3>1048.9 TESTING FOR POLICE OFFICER POSITION WITHIN THE DEPARTMENT</h3>
    <p>The Metro Transit Police Department understands the value that CSO’s provide to the agency and believes in affording CSO's the opportunity to participate in a competitive selection process to become a police officer. Therefore, upon completion of
        a Law Enforcement or related program, CSO's will be allowed two attempts (consecutive job postings) to gain employment as police officers with the Metro Transit Police Department. Following the two attempts, and only if granted by the Chief of
        Police, CSO’s will have no more than a 90 day extension prior to termination of employment as a CSO.</p>
</div>
