<div class="chapter" id="1050">
    <h2>1050 - Nepotism and Conflicting Relationships</h2>
    <h3>1050.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to ensure equal opportunity and effective employment practices by avoiding actual or perceived favoritism, discrimination or actual or potential conflicts of interest by or between members of this department. These employment
        practices include: recruiting, testing, hiring, compensation, assignment, use of facilities, access to training opportunities, supervision, performance appraisal, discipline and workplace safety and security.</p>
    <h4>1050.1.1 DEFINITIONS</h4>
    <p><strong>Business relationship</strong> - Serving as an employee, independent contractor, compensated consultant, owner, board member, shareholder or investor in an outside business, company, partnership, corporation, venture or other transaction where
        the Department employee's annual interest, compensation, investment or obligation is greater than $250.</p>
    <p><strong>Conflict of interest</strong> - Any actual, perceived or potential conflict of interest in which it reasonably appears that a Department employee's action, inaction or decisions are or may be influenced by the employee's personal or business
        relationship.</p>
    <p><strong>Nepotism</strong> - The practice of showing favoritism to relatives in appointment, employment, promotion or advancement by any public official in a position to influence these personnel decisions.</p>
    <p><strong>Personal relationship</strong> - Includes marriage, cohabitation, dating or any other intimate relationship beyond mere friendship.</p>
    <p><strong>Public official</strong> - A supervisor, officer or employee vested with authority by law, rule or regulation, or to whom authority has been delegated.</p>
    <p><strong>Relative</strong> - An employee's parent, stepparent, spouse, domestic partner, significant other, child (natural, adopted or step), sibling or grandparent.</p>
    <p><strong>Subordinate</strong> - An employee who is subject to the temporary or ongoing direct or indirect authority of a supervisor.</p>
    <p><strong>Supervisor</strong> - An employee who has temporary or ongoing direct or indirect authority over the actions, decisions, evaluation and/or performance of a subordinate employee.</p>

    <h3>1050.2 RESTRICTED DUTIES AND ASSIGNMENTS</h3>
    <p>The Department will not prohibit all personal or business relationships between employees. However, in order to avoid nepotism or other inappropriate conflicts, the following restrictions apply:</p>
    <ol class="alpha">
        <li>Employees are prohibited from directly supervising, occupying a position in the line of supervision or being directly supervised by any other employee who is a relative or with whom they are involved in a personal or business relationship.
            <ol class="decimal">
                <li>If circumstances require that such a supervisor/subordinate relationship exist temporarily, the supervisor shall make every reasonable effort to defer matters pertaining to the involved employee to an uninvolved supervisor.</li>
                <li>When personnel and circumstances permit, the Department will attempt to make every reasonable effort to avoid placing employees in such supervisor/subordinate situations. The Department reserves the right to transfer or reassign any employee
                    to another position within the same classification in order to avoid conflicts with any provision of this policy.</li>
            </ol>
        </li>
        <li>Employees are prohibited from participating in, contributing to or recommending promotions, assignments, performance evaluations, transfers or other personnel decisions affecting an employee who is a relative or with whom they are involved in
            a personal or business relationship.</li>
        <li>Whenever reasonably possible, Field Training Officers (FTO's) and other trainers will not be assigned to train relatives. FTO's and other trainers are prohibited from entering into or maintaining personal or business relationships with any employee
            they are assigned to train until such time as the training has been successfully completed and the employee is off probation.</li>
        <li>To avoid actual or perceived conflicts of interest members of this department shall refrain from developing or maintaining personal or financial relationships with victims, witnesses or other individuals during the course of, or as a direct result
            of, any official contact.</li>
        <li>Except as required in the performance of official duties or in the case of immediate relatives, employees shall not develop or maintain personal or financial relationships with any individual they know or reasonably should know is under criminal
            investigation, is a convicted felon, parolee, fugitive, or registered predatory offender or who engages in intentional violations of state or federal laws.</li>
    </ol>
    <h4>1050.2.1 EMPLOYEE RESPONSIBILITY</h4>
    <p>Prior to entering into any personal or business relationship or other circumstance that the employee knows or reasonably should know could create a conflict of interest or other violation of this policy, the employee shall promptly notify his/her
        uninvolved, next highest supervisor.</p>
    <p>Whenever any employee is placed in circumstances that would require the employee to take enforcement action or provide other official information or services to any relative or other individual with whom the employee is involved in a personal or business
        relationship, the employee shall promptly notify his/her uninvolved immediate supervisor. In the event that no uninvolved supervisor is immediately available, the employee shall promptly notify dispatch to have another uninvolved employee either
        relieve the involved employee or minimally remain present to witness the action.</p>
    <h4>1050.2.2 SUPERVISOR'S RESPONSIBILITY</h4>
    <p>Upon being notified of or otherwise becoming aware of any circumstance that could result in or constitute an actual or potential violation of this policy, a supervisor shall take all reasonable steps to promptly mitigate or avoid such violations whenever
        reasonably possible. Supervisors shall also promptly notify the Chief of Police of such actual or potential violations through the chain of command.</p>
</div>