<div class="chapter" id="1052">
    <h2>1052 - Department Badges</h2>
    <h3>1052.1 PURPOSE AND SCOPE</h3>
    <p>The Metro Transit Police Department badge and uniform patch as well as the likeness of these items and the name of the Metro Transit Police Department are property of the Department and their use shall be restricted as set forth in this policy.</p>

    <h3>1052.2 POLICY</h3>
    <p>The uniform badge shall be issued to Department members as a symbol of authority. The use and display of Department badges shall be in strict compliance with this policy. Only badges issued/ authorized by this department shall be displayed, carried
        or worn by members while on-duty or otherwise acting in an official or authorized capacity.</p>
    <h4>1052.2.1 FLAT BADGE</h4>
    <p>The Chief of Police has authorized licensed officers to purchase, at their own expense, a flat badge capable of being carried in a wallet. The use of the flat badge is subject to all the same provisions of Department policy as the uniform badge.</p>
    <ol class="alpha">
        <li>An officer may sell, exchange or transfer the flat badge he/she purchased to another officer within the Metro Transit Police Department.</li>
        <li>Should the flat badge become lost, damaged or otherwise removed from the officer's control he/she shall make the proper notifications as outlined in the Department-Owned and Personal Property Policy.</li>
        <li>An honorably retired officer may keep his/her flat badge upon retirement.</li>
        <li>The purchase, carrying or display of a flat badge is not authorized for non-licensed personnel.</li>
    </ol>
    <h4>1052.2.2 NON-LICENSED PERSONNEL</h4>
    <p>Badges and Department identification cards issued to non-licensed personnel shall be clearly marked to reflect the position of the assigned employee (e.g. Civilian, CSO).</p>
    <ol class="alpha">
        <li>Non-licensed personnel shall not display any Department badge except as a part of his/her uniform and while on-duty or otherwise acting in an official and authorized capacity.</li>
        <li>Non-licensed personnel shall not display any Department badge or represent him/herself, on or off-duty, in such a manner which would cause a reasonable person to believe that he/ she is a licensed officer.</li>
    </ol>
    <h4>1052.2.3 RETIREE UNIFORM BADGE</h4>
    <p>Upon honorable retirement, employees may retain their assigned duty badge for display purposes as long as it was purchased by them. It is intended that the duty badge be used only as private memorabilia, as other uses of the badge may be unlawful
        or in violation of this policy.</p>
    <p>The honorable retiree may also be eligible for a Metro Transit Police Department identification card that is marked "Retired" and will be subject to the use as set forth above.</p>

    <h3>1052.3 UNAUTHORIZED USE</h3>
    <p>Except as required for on-duty use by current employees, no badge designed for carry or display in a wallet, badge case or similar holder shall be issued to anyone other than a current or honorably retired peace officer.</p>
    <p>Department badges are issued to all licensed employees and non-licensed uniformed employees for official use only. The Department badge, shoulder patch or the likeness thereof, or the Department name shall not be used for personal or private reasons
        including, but not limited to, letters, memoranda and electronic communications, such as electronic mail or websites and web pages.</p>
    <p>The use of the badge, uniform patch and Department name for all material (e.g., printed matter, products or other items) developed for Department use shall be subject to approval by the Chief of Police.</p>
    <p>Employees shall not loan the badge or identification card to others and shall not permit the badge or identification card to be reproduced or duplicated.</p>

    <h3>1052.4 PERMITTED USE BY EMPLOYEE GROUPS</h3>
    <p>The likeness of the Department badge shall not be used without the express authorization of the Chief of Police and shall be subject to the following:</p>
    <ol class="alpha">
        <li>The employee associations may use the likeness of the Department badge for merchandise and official association business provided it is used in a clear representation of the association and not the Metro Transit Police Department. The following
            modifications shall be included:
            <ol class="decimal">
                <li>The text on the upper and lower ribbons is replaced with the name of the employee association.</li>
                <li>The badge number portion displays the acronym of the employee association.</li>
            </ol>
        </li>
        <li>The likeness of the Department badge for endorsement of political candidates shall not be used without the express approval of the Chief of Police.</li>
    </ol>
</div>