<div class="chapter" id="1054">
    <h2>1054 - Temporary Modified-Duty Assignments</h2>
    <h3>1054.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes procedures for providing temporary modified-duty assignments. This policy is not intended to affect the rights or benefits of employees under federal or state law, Metropolitan Council / Metro Transit rules, or current memorandums
        of understanding or collective bargaining agreements. For example, nothing in this policy affects the obligation of the Department to engage in a good faith, interactive process to consider reasonable accommodations for any employee with a temporary
        or permanent disability that is protected under federal or state law.</p>

    <h3>1054.2 POLICY</h3>
    <p>Subject to operational considerations, the Metro Transit Police Department may identify temporary modified-duty assignments for employees who have an injury or medical condition resulting in temporary work limitations or restrictions. A temporary
        assignment allows the employee to work, while providing the Department with a productive employee during the temporary period.</p>

    <h3>1054.3 GENERAL CONSIDERATIONS</h3>
    <p>Priority consideration for temporary modified-duty assignments will be given to employees with work-related injuries or illnesses that are temporary in nature. Employees having disabilities covered under the Americans with Disabilities Act (ADA) or
        the Minnesota Human Rights Act (Minn. Stat. § 363A.01 et seq.) shall be treated equally, without regard to any preference for a work-related injury.</p>
    <p>No position in the Metro Transit Police Department shall be created or maintained as a temporary modified-duty assignment.</p>
    <p>Temporary modified-duty assignments are a management prerogative and not an employee right. The availability of temporary modified-duty assignments will be determined on a case-by- case basis, consistent with the operational needs of the Department.
        Temporary modified-duty assignments are subject to continuous reassessment, with consideration given to operational needs and the employee's ability to perform in a modified-duty assignment.</p>
    <p>The Chief of Police or the authorized designee may restrict employees working in temporary modified-duty assignments from wearing a uniform, displaying a badge, carrying a firearm, operating an emergency vehicle, engaging in outside employment or
        being otherwise limited in employing their peace officer powers.</p>
    <p>Temporary modified-duty assignments shall generally not exceed a cumulative total of 1,040 hours in any one-year period.</p>

    <h3>1054.4 PROCEDURE</h3>
    <p>Employees may request a temporary modified-duty assignment for short-term injuries or illnesses.</p>
    <p>Employees seeking a temporary modified-duty assignment should submit a written request to their Captain or the authorized designees. The request should, as applicable, include a certification from the treating medical professional containing:</p>
    <ol class="alpha">
        <li>An assessment of the nature and probable duration of the illness or injury.</li>
        <li>The prognosis for recovery.</li>
        <li>The nature and scope of limitations and/or work restrictions.</li>
        <li>A statement regarding any required workplace accommodations, mobility aids or medical devices.</li>
        <li>A statement that the employee can safely perform the duties of the temporary modified-duty assignment.</li>
    </ol>
    <p>The Captain will make a recommendation through the chain of command to the Chief of Police regarding temporary modified-duty assignments that may be available based on the needs of the Department and the limitations of the employee. The Chief of Police
        or the authorized designee shall confer with the Department of Human Resources or the General Counsel as appropriate.</p>
    <p>Requests for a temporary modified-duty assignment of 20 hours or less per week may be approved and facilitated by the Shift Supervisor or Captain, with notice to the Chief of Police.</p>

    <h3>1054.5 ACCOUNTABILITY</h3>
    <p>Written notification of assignments, work schedules and any restrictions should be provided to employees assigned to temporary modified-duty assignments and their supervisors. Those assignments and schedules may be adjusted to accommodate department
        operations and the employee's medical appointments, as mutually agreed upon with the Captain.</p>
    <h4>1054.5.1 EMPLOYEE RESPONSIBILITIES</h4>
    <p>The responsibilities of employees assigned to temporary modified duty shall include, but not be limited to:</p>
    <ol class="alpha">
        <li>Communicating and coordinating any required medical and physical therapy appointments in advance with their supervisors.</li>
        <li>Promptly notifying their supervisors of any change in restrictions or limitations after each appointment with their treating medical professionals.</li>
        <li>Communicating a status update to their supervisors no less than once every 30 days while assigned to temporary modified duty.</li>
        <li>Submitting a written status report to the Captain that contains a status update and anticipated date of return to full-duty when a temporary modified-duty assignment extends beyond 60 days.</li>
    </ol>
    <h4>1054.5.2 SUPERVISOR RESPONSIBILITIES</h4>
    <p>The employee's immediate supervisor shall monitor and manage the work schedule of those assigned to temporary modified duty.</p>
    <p>The responsibilities of supervisors shall include, but not be limited to:</p>
    <ol class="alpha">
        <li>Periodically apprising the Captain of the status and performance of employees assigned to temporary modified duty.</li>
        <li>Notifying the Captain and ensuring that the required documentation facilitating a return to full duty is received from the employee.</li>
        <li>Ensuring that employees returning to full duty have completed any required training and certification.</li>
    </ol>

    <h3>1054.6 MEDICAL EXAMINATIONS</h3>
    <p>Prior to returning to full-duty status, employees shall be required to provide certification from their treating medical professionals stating that they are medically cleared to perform the essential functions of their jobs without restrictions or
        limitations.</p>
    <p>The Department may require a fitness-for-duty examination prior to returning an employee to full- duty status, in accordance with the Fitness for Duty Policy.</p>

    <h3>1054.7 PREGNANCY</h3>
    <p>If an employee is temporarily unable to perform regular duties due to a pregnancy, childbirth or a related medical condition, the employee will be treated the same as any other temporarily disabled employee (42 USC § 2000e(k)). A pregnant employee
        shall not be involuntarily transferred to a temporary modified-duty assignment.</p>
    <h4>1054.7.1 NOTIFICATION</h4>
    <p>Pregnant employees should notify their immediate supervisors as soon as practicable and provide a statement from their medical providers identifying any pregnancy-related job restrictions or limitations. If at any point during the pregnancy it becomes
        necessary for the employee to take a leave of absence, such leave shall be granted in accordance with the Metropolitan Council / Metro Transit personnel rules and regulations regarding family and medical care leave.</p>

    <h3>1054.8 PROBATIONARY EMPLOYEES</h3>
    <p>Probationary employees who are assigned to a temporary modified-duty assignment shall have their probation extended by a period of time equal to their assignment to temporary modified duty.</p>

    <h3>1054.9 MAINTENANCE OF CERTIFICATION AND TRAINING</h3>
    <p>Employees assigned to temporary modified duty shall maintain all certification, training and qualifications appropriate to both their regular and temporary duties, provided that the certification(s), training or qualifications are not in conflict
        with any medical limitations or restrictions. Employees who are assigned to temporary modified duty shall inform their supervisors of any inability to maintain any certification(s), training or qualifications.</p>
</div>