<div class="chapter" id="1058">
    <h2>1058 - Emplyee Speeach, Expression and Social Networking</h2>
    <h3>1058.1 PURPOSE AND SCOPE</h3>
    <p>This policy is intended to address issues associated with employee use of social networking sites and to provide guidelines for the regulation and balance of employee speech and expression with the needs of the Department.</p>
    <p>Nothing in this policy is intended to prohibit or infringe upon any communication, speech or expression that is protected or privileged under law. This includes speech and expression protected under state or federal constitutions as well as labor
        or other applicable laws. For example this policy does not limit an employee from speaking as a private citizen, including acting as an authorized member of a recognized bargaining unit or officer associations, about matters of public concern
        such as misconduct or corruption.</p>
    <p>Employees are encouraged to consult with their supervisor regarding any questions arising from the application or potential application of this policy.</p>
    <h4>1058.1.1 APPLICABILITY</h4>
    <p>This policy applies to all forms of communication including but not limited to film, video, print media, public or private speech, use of all Internet services, including the World Wide Web, e- mail, file transfer, remote computer access, news services,
        social networking, social media, instant messaging, blogs, forums, wikis, video and other file sharing sites.</p>

    <h3>1058.2 POLICY</h3>
    <p>Because public employees occupy a trusted position in the community their statements have the potential to contravene the policies and performance of this department. Due to the nature of the work and influence associated with the law enforcement
        profession it is necessary that employees of this department be subject to certain reasonable limitations on their speech and expression. To achieve its mission and efficiently provide service to the public the Metro Transit Police Department
        will carefully balance the individual employee's rights against the organization's needs and interests when exercising a reasonable degree of control over its employees' speech and expression.</p>

    <h3>1058.3 SAFETY</h3>
    <p>Employees should carefully consider the implications of their speech or any other form of expression when using the Internet. Speech and expression that may negatively affect the safety of Metro Transit Police Department employees such as posting
        personal information in a public forum can result in compromising an employee's home address or family ties. Employees should therefore not disseminate or post any information on any forum or medium that could reasonably be expected to compromise
        the safety of any employee, employee's family or associates or persons that this agency has had professional contact with such as crime victims or staff of other organizations. Examples of the type of information that could reasonably be expected
        to compromise safety include:</p>
    <ul>
        <li>Disclosing a photograph and name or address of an employee.</li>
        <li>Disclosing the address, telephone number or email address of an employee.</li>
        <li>Otherwise disclosing where another employee can be located off-duty.</li>
    </ul>

    <h3>1058.4 PROHIBITED SPEECH, EXPRESSION AND CONDUCT</h3>
    <p>To meet the organization's safety, performance and public-trust needs the following are prohibited unless the speech is otherwise protected (for example an employee speaking as a private citizen, including acting as an authorized member of a recognized
        bargaining unit or officer associations, on a matter of public concern):</p>
    <ol class="alpha">
        <li>Speech or expression made pursuant to an official duty that tends to compromise or damage the mission, function, reputation or professionalism of the Metro Transit Police Department or its employees.</li>
        <li>Speech or expression that, while not made pursuant to an official duty, is significantly linked to or related to the Metro Transit Police Department and tends to compromise or damage the mission, function, reputation or professionalism of the
            Metro Transit Police Department or its employees. Examples may include:
            <ol class="decimal">
                <li>Statements that indicate disregard for the law or the state or U.S. Constitution.</li>
                <li>Expression that demonstrates support for criminal activity.</li>
                <li>Participating in sexually explicit photographs or videos for compensation or distribution.</li>
            </ol>
        </li>
        <li>Speech or expression that could reasonably be foreseen as having a negative impact on the credibility of the employee as a witness. For example posting statements or expressions to a website that glorify or endorse dishonesty or illegal behavior.</li>
        <li>Speech or expression of any form that could reasonably be foreseen as having a negative impact on the safety of the employees of the Department. For example a statement on a blog that provides specific details as to how and when prisoner transportations
            are made could reasonably be foreseen to jeopardize employees by informing criminals of details that could facilitate an escape or attempted escape.</li>
        <li>Speech or expression that is contrary to the canons of the Law Enforcement Code of Ethics as adopted by the Metro Transit Police Department.</li>
        <li>Use or disclosure, through whatever means, of any not public data, photograph, video or other recording obtained or accessible as a result of employment with the Department for financial or personal gain or data classified as not public by state
            or federal law or any disclosure of such materials without the express authorization of the Chief of Police or the authorized designee.</li>
        <li>Posting, transmitting or disseminating any photographs, video or audio recordings, likenesses or images of department logos, emblems, uniforms, badges, patches, marked vehicles, equipment or other material that specifically identifies the Metro
            Transit Police Department on any personal or social networking or other website or web page without the express authorization of the Chief of Police.</li>
        <li>Accessing websites for non-authorized purposes or use of any personal communication device, game device or media device, whether personally or department-owned, for personal purposes while on-duty except in the following circumstances:</p>
            <ol class="decimal">
                <li>When brief personal communications may be warranted by the circumstances (e.g., inform family of extended hours).</li>
                <li>During authorized breaks; such usage should be limited as much as practicable to areas out of sight and sound of the public and shall not be disruptive to the work environment.</li>
            </ol>
        </li>
    </ol>
    <p>Employees must take reasonable and prompt action to remove any content, including content posted by others, that is in violation of this policy from any web page or website maintained by the employee (e.g., social or personal website).</p>
    <h4>1058.4.1 UNAUTHORIZED ENDORSEMENTS AND ADVERTISEMENTS</h4>
    <p>While employees are not restricted from engaging in the following activities as private citizens or as authorized members of a recognized bargaining unit or officer associations, employees may not represent the Metro Transit Police Department or identify
        themselves in any way that could be reasonably perceived as representing the Metro Transit Police Department in order to do any of the following, unless specifically authorized by the Chief of Police:</p>
    <ol class="alpha">
        <li>Endorse, support, oppose or contradict any political campaign or initiative.</li>
        <li>Endorse, support, oppose or contradict any social issue, cause or religion.</li>
        <li>Endorse, support, or oppose any product, service, company or other commercial entity.</li>
        <li>Appear in any commercial, social or nonprofit publication or any motion picture, film, video, public broadcast or any website.</li>
    </ol>
    <p>Additionally, when it can reasonably be construed that an employee acting in his/her individual capacity or through an outside group or organization (e.g. bargaining group) is affiliated with this department, the employee shall give a specific disclaiming
        statement that any such speech or expression is not representative of the Metro Transit Police Department.</p>
    <p>Employees retain their right to vote as they choose, to support candidates of their choice and to express their opinions as private citizens, including as authorized members of a recognized bargaining unit or officer associations, on political subjects
        and candidates at all times while off- duty. However employees may not use their official authority or influence to interfere with or affect the result of an election or a nomination for office. Employees are also prohibited from directly or indirectly
        using their official authority to coerce, command or advise another employee to pay, lend or contribute anything of value to a party, committee, organization, agency or person for political purposes (5 USC § 1502).</p>

    <h3>1058.5 PRIVACY EXPECTATION</h3>
    <p>Members forfeit any expectation of privacy with regard to e-mails, texts, or anything published or maintained through file-sharing software or any Internet site (e.g., Facebook, MySpace) that is accessed, transmitted, received or reviewed on any department
        technology system (see the Information Technology Use Policy for additional guidance).</p>

    <h3>1058.6 CONSIDERATIONS</h3>
    <p>In determining whether to grant authorization of any speech or conduct that is prohibited under this policy, the factors that the Chief of Police or authorized designee should consider include:</p>
    <ol class="alpha">
        <li>Whether the speech or conduct would negatively affect the efficiency of delivering public services.</li>
        <li>Whether the speech or conduct would be contrary to the good order of the Department or the efficiency or morale of its members.</li>
        <li>Whether the speech or conduct would reflect unfavorably upon the Department.</li>
        <li>Whether the speech or conduct would negatively affect the member's appearance of impartiality in the performance of his/her duties.</li>
        <li>Whether similar speech or conduct has been previously authorized.</li>
        <li>Whether the speech or conduct may be protected and outweighs any interest of the Department.</li>
    </ol>

    <h3>1058.7 TRAINING</h3>
    <p>Subject to available resources the Department should provide training regarding employee speech and the use of social networking to all members of the Department.</p>
</div>