<div class="chapter" id="106">
    <h2>106 - Policy Manual</h2>
    <h3>106.1 PURPOSE AND SCOPE</h3>
    <p>The manual of the Metro Transit Police Department is hereby established and shall be referred to as the Policy Manual or the manual. The manual is a statement of the current policies, rules and guidelines of this department. All members are to conform to the provisions of this manual.</p>
    <p>All prior and existing manuals, orders and regulations that are in conflict with this manual are rescinded, except to the extent that portions of existing manuals, procedures, orders and other regulations that have not been included herein shall remain in effect, provided that they do not conflict with the provisions of this manual.</p>

    <h3>106.2 POLICY</h3>
    <p>Except where otherwise expressly stated, the provisions of this manual shall be considered as guidelines. It is recognized that the work of law enforcement is not always predictable and circumstances may arise which warrant departure from these guidelines. It is the intent of this manual to be viewed from an objective standard, taking into consideration the sound discretion entrusted to members of this department under the circumstances reasonably available at the time of any incident.</p>
    <h4>106.2.1  DISCLAIMER</h4>
    <p>The provisions contained in the Policy Manual are not intended to create an employment contract nor any employment rights or entitlements. The policies contained within this manual are for the internal use of the Metro Transit Police Department and shall not be construed to create a higher standard or duty of care for civil or criminal liability against the Metropolitan Council / Metro Transit, its officials or members. Violations of any provision of any policy contained within this manual shall only form the basis for department administrative action, training or discipline. The Metro Transit Police Department reserves the right to revise any policy content, in whole or in part.</p>

    <h3>106.3 AUTHORITY</h3>
    <p>The Chief of Police shall be considered the ultimate authority for the content and adoption of the provisions of this manual and shall ensure compliance with all applicable federal, state and local laws. The Chief of Police or the authorized designee is authorized to issue Interim Directives, which shall modify those provisions of the manual to which they pertain. Interim Directives shall remain in effect until such time as they may be permanently incorporated into the manual.</p>

    <h3>106.4 DEFINITIONS</h3>
    <p>The following words and terms shall have these assigned meanings throughout the Policy Manual, unless it is apparent from the content that they have a different meaning:</p>
    <p><strong>Adult</strong> - Any person 18 years of age or older.</p>
    <p><strong>CFR</strong> - Code of Federal Regulations.</p>
    <p><strong>Child</strong> - Any person under the age of 18 years.</p>
    <p><strong>Metropolitan Area</strong> - The Metropolitan Area of Metro Transit.</p>
    <p><strong>Non-licensed</strong> - Employees and volunteers who are not licensed peace officers.</strong></p>
    <p><strong>Department/MTPD</strong> - The Metro Transit Police Department.</p>
    <p><strong>DPS</strong> - The Minnesota Department of Public Safety.</p>
    <p><strong>DVS</strong> - The Minnesota Department of Driver and Vehicle Services.</p>
    <p><strong>Employee/personnel</strong> - Any person employed by the Department.</p>
    <p><strong>Manual</strong> - The Metro Transit Police Department Policy Manual.</p>
    <p><strong>May</strong> - Indicates a permissive, discretionary or conditional action.</p>
    <p><strong>Member</strong> - Any person employed or appointed by the Metro Transit Police Department including:</p>
    <ul>
        <li>Full- and part-time employees
        </li>
        <li>Licensed peace officers
        </li>
        <li>Reserve, auxiliary officers
        </li>
        <li>Non-licensed employees
        </li>
        <li>Volunteers.</li>
    </ul>
    <p><strong>Officer</strong> - Those employees, regardless of rank, who are licensed peace officer employees of the Metro Transit Police Department.</p>
    <p><strong>On-duty </strong> - A member’s status during the period when he/she is actually  engaged in the performance of his/her assigned duties.</p>
    <p><strong>Order </strong> - A written or verbal instruction issued by a superior.</p>
    <p><strong>Peace officer</strong> - An employee of the Department who is required to be certified by POST pursuant to Minn. Stat. § 626.84, Subd. 1 or otherwise holds a peace officer license. The term includes licensed full-time and part-time officers who perform the duties of a peace officer.</p>
    <p><strong>POST</strong> - The Minnesota Board of Peace Officer Standards and Training.</p>
    <p><strong>Rank </strong> - The title of the classification held by an officer.</p>
    <p><strong>Shall or will </strong> - Indicates a mandatory action.</p>
    <p><strong>Should </strong> - Indicates a generally required or expected action, absent a rational basis for failing to conform.</p>
    <p><strong>Supervisor </strong> - A person in a position of authority that may include responsibility for hiring, transfer, suspension, promotion, discharge, assignment, reward or discipline of other department members, directing the work of other members or having the authority to adjust grievances. The supervisory exercise of authority may not be merely routine or clerical in nature but requires the use of independent judgment.</p>
    <p>The term "supervisor" may also include any person (e.g., officer-in-charge, lead or senior worker) given responsibility for the direction of the work of others without regard to a formal job title, rank or compensation.</p>
    <p>When there is only one department member on-duty, that person may also be the supervisor, except when circumstances reasonably require the notification or involvement of the member’s off-duty supervisor or an on-call supervisor.</p>
    <p><strong>USC</strong> - United States Code.</p>

    <h3>106.5 ISSUING THE POLICY MANUAL</h3>
    <p>An electronic version of the Policy Manual will be made available to all members on the department network for viewing and printing. No changes shall be made to the manual without authorization from the Chief of Police or the authorized designee.</p>
    <p>Each member shall acknowledge that he/she has been provided access to, and has had the opportunity to review the Policy Manual and Interim Directives. Members shall seek clarification as needed from an appropriate supervisor for any provisions that they do not fully understand.</p>
    <h3>106.6 PERIODIC REVIEW OF THE POLICY MANUAL</h3>
    <p>The Chief of Police will ensure that the Policy Manual is periodically reviewed and updated as necessary.</p>

    <h3>106.7 REVISIONS TO POLICIES</h3>
    <p>All revisions to the Policy Manual will be provided to each member on or before the date the policy becomes effective. Each member will be required to acknowledge that he/she has reviewed the revisions and shall seek clarification from an appropriate supervisor as needed.</p>
    <p>Members are responsible for keeping abreast of all Policy Manual revisions.</p>
    <p>Each Captain will ensure that members under his/her command are aware of any Policy Manual revision.</p>
    <p>All department members suggesting revision of the contents of the Policy Manual shall forward their written suggestions to their Captains, who will consider the recommendations and forward them to the command staff as appropriate.</p>
</div>
