<div class="chapter" id="1060">
    <h2>1060 - POST Licensing</h2>
    <h3>1060.1 PURPOSE AND SCOPE</h3>
    <p>Maintaining a valid POST license is a critical element of an officer’s ability to continue their employment and is their sole professional responsibility. Every officer and every part-time officer is required to complete the continuing education requirements
        to maintain a valid license every three years (Minn. R. § 6700.0900; Minn. R. 6700.1000).</p>

    <h3>1060.2 RENEWAL SCHEDULE</h3>
    <p>Any officer whose license expires is not authorized to work as a peace officer until the license status is valid. Officers renew their POST licenses according to a schedule established by Administrative Rule (Minn. R. 6700.1000).</p>
    <h4>1060.2.1 LICENSE RENEWAL CREDITS</h4>
    <p>A peace officer license may be renewed only upon the licensee or the licensee's appointing authority providing the POST board proof the licensee has successfully completed board- approved continuing education and posting of fees on or before June
        30 of the year a license is due for renewal. Licensee required hours of continuing credit are (Minn. R. 6700.1000):</p>
    <ul>
        <li>16 hours for a peace officer or a part-time peace officer who has been licensed for at least six months but less than 18 months.</li>
        <li>32 hours for a peace officer or a part-time peace officer who has been licensed for at least 18 months but less than 30 months.</li>
        <li>48 hours for a peace officer or a part-time peace officer who has been licensed for at least 30 months.</li>
    </ul>

    <h3>1060.3 LICENSE PROCESS</h3>
    <p>A general schedule for the license renewal process is:</p>
    <ul>
        <li>February - The Department or officer will receive employment verification.</li>
        <li>March - The Department or officers are sent a license renewal application.</li>
        <li>June - A final notice will be sent from POST for those who have not renewed.</li>
        <li>June 30 - The deadline date for license renewal after which officers whose license expires will no longer be authorized to practice law enforcement or carry a firearm.</li>
    </ul>

    <h3>1060.4 INACTIVE LICENSE</h3>
    <p>Officers who fail to complete the requirements will have their license placed in the "Inactive" status. The employee may then be placed in a temporary administrative assignment until their license is "Valid". Those employees may also face administrative
        discipline up to and including termination.</p>
</div>