<div class="chapter" id="1061">
    <h2>1061 - Workplace Accident and Injury Reduction</h2>
    <h3>1061.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish an ongoing and effective plan to reduce the incidence of illness and injury for members of the Metro Transit Police Department, in accordance with the requirements of Minn. Stat. § 182.653.</p>
    <p>This policy specifically applies to illness and injury that results in lost time or that requires medical treatment beyond first aid. Although this policy provides the essential guidelines for a plan that reduces illness and injury, it may be supplemented
        by procedures outside the Policy Manual.</p>
    <p>This policy does not supersede, but supplements any related Metropolitan Council / Metro Transit wide safety efforts.</p>

    <h3>1061.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing a safe environment for its members and visitors and to minimizing the incidence of work-related illness and injuries. The Department will establish and maintain a Workplace Accident and
        Injury Reduction (AWAIR) program and will provide tools, training and safeguards designed to reduce the potential for accidents, illness and injuries. It is the intent of the Department to comply with all laws and regulations related to occupational
        safety.</p>

    <h3>1061.3 A WORKPLACE ACCIDENT AND INJURY REDUCTION PROGRAM</h3>
    <p>The Administration is responsible for developing an AWAIR program that shall include:</p>
    <ol class="alpha">
        <li>Workplace safety and health training programs.</li>
        <li>Regularly scheduled safety meetings.</li>
        <li>Posted or distributed safety information.</li>
        <li>A system for members to anonymously inform management about workplace hazards.</li>
        <li>Establishment of a safety and health committee that will (Minn. Stat. § 182.676; Minn. R. 5208.0010 et seq.):
            <ol class="decimal">
                <li>Meet regularly.</li>
                <li>Prepare a written record of safety and health committee meetings.</li>
                <li>Review the results of periodic scheduled inspections.</li>
                <li>Review investigations of accidents and exposures.</li>
                <li>Make suggestions to command staff for the prevention of future incidents.</li>
                <li>Review investigations of alleged hazardous conditions.</li>
                <li>Submit recommendations to assist in the evaluation of member safety suggestions.</li>
                <li>Assess the effectiveness of efforts made by the Department to meet applicable standards.</li>
            </ol>
        </li>
        <li>Establishing a process to ensure illnesses and injuries are reported as required under Minnesota Occupational Safety and Health Administration (MNOSHA) (29 CFR 1904.39; Minn. Stat. § 182.674; Minn. R. 5205.0010).</li>
        <li>Descriptions of the following (Minn. Stat. § 182.653):
            <ol class="decimal">
                <li>How managers, supervisors and members are responsible for implementing the program and how continued participation of management will be established, measured and maintained</li>
                <li>The methods used to identify, analyze and control new or existing hazards, conditions and operations</li>
                <li>How the plan will be communicated to all affected members so that they are informed of work-related hazards and controls</li>
                <li>How workplace accidents will be investigated and corrective action implemented</li>
                <li>How safe work practices and rules will be enforced</li>
            </ol>
        </li>
    </ol>
    <p>The Administration must conduct and document a review of the AWAIR program at least annually and document how the program procedures are applied (Minn. Stat. § 182.653).</p>
    <h4>1061.3.1 SAFETY AND HEALTH COMMITTEE</h4>
    <p>The Administration will facilitate the safety and health committee and ensure applicable rules are addressed (Minn. R. 5208.0010 et seq.). The committee’s purpose is to assist in the implementation of the AWAIR program and to bring workplace safety
        concerns or complaints to the attention of the department administration. Members of the committee must be selected by department members (Minn. Stat. § 182.676).</p>
    <p>Duties of the committee should, at a minimum, include (Minn. R. 5208.0050):</p>
    <ol class="alpha">
        <li>Reviewing and making recommendations related to AWAIR.</li>
        <li>Coordinating safety inspections.</li>
        <li>Training members about AWAIR and safe working procedures.</li>
        <li>Identifying the hazards associated with a particular task or job.</li>
        <li>Providing input regarding new workplace safety rules.</li>
        <li>Preparing AWAIR presentations for staff meetings.</li>
        <li>Assisting in workplace accident investigations.</li>
        <li>Reviewing and making recommendations for incidents involving work-related deaths, injuries and illnesses.</li>
    </ol>

    <h3>1061.4 ADMINISTRATION RESPONSIBILITIES</h3>
    <p>The responsibilities of the Administration include, but are not limited to:</p>
    <ol class="alpha">
        <li>Managing and implementing a plan to reduce the incidence of member illness and injury.</li>
        <li>Ensuring that a system of communication is in place that facilitates a continuous flow of safety and health information between supervisors and members. This system shall include:
            <ol class="decimal">
                <li>New member orientation that includes a discussion of safety and health policies and procedures.</li>
                <li>Regular member review of the AWAIR program.</li>
            </ol>
        </li>
        <li>Ensuring that all safety and health policies and procedures are clearly communicated and understood by all members.</li>
        <li>Taking reasonable steps to ensure that all members comply with safety rules in order to maintain a safe work environment. This includes, but is not limited to:</p>
            <ol class="decimal">
                <li>Informing members of the AWAIR guidelines.</li>
                <li>Recognizing members who perform safe work practices.</li>
                <li>Ensuring that the member evaluation process includes member safety performance.</li>
                <li>Ensuring department compliance to meet standards regarding the following:
                    <ol class="alpha">
                        <li>Bloodborne pathogen precautions (29 CFR 1910.1030; Minn. Stat. § 182.6555; Minn. R. 5206.0600)</li>
                        <li>Respiratory protection (29 CFR 1910.134; Minn. R. 5205.0010)</li>
                        <li>Personal protective equipment (PPE) for law enforcement personnel (Minn. R. 5205.0030)</li>
                        <li>Appropriate barriers in law enforcement vehicles (Minn. R. 5205.0755)</li>
                        <li>Emergency Action Plan (29 CFR 1910.38(a); Minn. R. 5205.0010)</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Making available a form to document inspections, unsafe conditions or work practices, and actions taken to correct unsafe conditions and work practices.</li>
        <li>Making available a form to document individual incidents or accidents.</li>
        <li>Developing a form to document the safety and health training of each member. This form will include the member’s name or other identifier, training dates, type of training and training providers.</li>
    </ol>

    <h3>1061.5 SUPERVISOR RESPONSIBILITIES</h3>
    <p>Supervisor responsibilities include, but are not limited to:</p>
    <ol class="alpha">
        <li>Ensuring member compliance with AWAIR guidelines and answering questions from members about this policy.</li>
        <li>Training, counseling, instructing or making informal verbal admonishments any time safety performance is deficient. Supervisors may also initiate discipline when it is reasonable and appropriate under the Standards of Conduct Policy.</li>
        <li>Establishing and maintaining communication with members on health and safety issues. This is essential for an injury-free, productive workplace.</li>
        <li>Completing required forms and reports relating to illness and injury prevention; such forms and reports shall be submitted to the Administration.</li>
        <li>Notifying the Administration when:
            <ol class="decimal">
                <li>New substances, processes, procedures or equipment that present potential new hazards are introduced into the work environment.</li>
                <li>New, previously unidentified hazards are recognized.</li>
                <li>Occupational illnesses and injuries occur.</li>
                <li>New and/or permanent or intermittent members are hired or reassigned to processes, operations or tasks for which a hazard evaluation has not been previously conducted.</li>
                <li>Workplace conditions warrant an inspection.</li>
            </ol>
        </li>
    </ol>

    <h3>1061.6 HAZARDS</h3>
    <p>All members should report and/or take reasonable steps to correct unsafe or unhealthy work conditions, practices or procedures in a timely manner. Members should make their reports to a supervisor (as a general rule, their own supervisors).</p>
    <p>Supervisors should make reasonable efforts to correct unsafe or unhealthy work conditions in a timely manner, based on the severity of the hazard. These hazards should be corrected when observed or discovered, when it is reasonable to do so. When
        a hazard exists that cannot be immediately abated without endangering members or property, supervisors should protect or remove all exposed members from the area or item, except those necessary to correct the existing condition.</p>
    <p>Members who are necessary to correct the hazardous condition shall be provided with the necessary protection.</p>
    <p>All significant actions taken and dates they are completed shall be documented on the appropriate form. This form should be forwarded to the Administration via the chain of command.</p>
    <p>The Administration will take appropriate action to ensure the AWAIR program addresses potential hazards upon such notification.</p>

    <h3>1061.7 INSPECTIONS</h3>
    <p>Safety inspections are crucial to a safe work environment. These inspections identify and evaluate workplace hazards and permit mitigation of those hazards. A hazard assessment checklist should be used for documentation and to ensure a thorough assessment
        of the work environment.</p>
    <p>The Administration shall ensure that the appropriate documentation is completed for each inspection.</p>
    <h4>1061.7.1 EQUIPMENT</h4>
    <p>Members are charged with daily vehicle inspections of their assigned vehicles and of their PPE prior to working in the field. Members shall complete the appropriate form if an unsafe condition cannot be immediately corrected. Members should forward
        this form to their supervisors.</p>
    <h4>1061.7.2 FREQUENCY OF INSPECTIONS</h4>
    <p>Safety inspections shall be conducted by the safety and health committee at a frequency decided by the committee, but at least quarterly (Minn. R. 5208.0040).</p>

    <h3>1061.8 INVESTIGATIONS</h3>
    <p>Any member sustaining any work-related illness or injury, as well as any member who is involved in any accident or hazardous substance exposure while on-duty shall report such event as soon as practicable to a supervisor. Members observing or learning
        of a potentially hazardous condition are to promptly report the condition to their immediate supervisors.</p>
    <p>A supervisor receiving such a report should personally investigate the incident or ensure that an investigation is conducted. Investigative procedures for workplace accidents and hazardous substance exposures should include:</p>
    <ol class="alpha">
        <li>A visit to the accident scene as soon as possible.</li>
        <li>An interview of the injured member and witnesses.</li>
        <li>An examination of the workplace for factors associated with the accident/exposure.</li>
        <li>Determination of the cause of the accident/exposure.</li>
        <li>Corrective action to prevent the accident/exposure from reoccurring.</li>
        <li>Documentation of the findings and corrective actions taken.</li>
    </ol>
    <p>Additionally, the supervisor should proceed with the steps to report an on-duty injury, as required under the Occupational Disease, Personal Injury and Death Reporting Policy, in conjunction with this investigation to avoid duplication and ensure
        timely reporting.</p>

    <h3>1061.9 TRAINING</h3>
    <p>The Administration should work with the Training Supervisor to provide all members, including supervisors, with training on general and job-specific workplace safety and health practices. Training shall be provided:</p>
    <ol class="alpha">
        <li>To supervisors to familiarize them with the safety and health hazards to which members under their immediate direction and control may be exposed.</li>
        <li>To all members with respect to hazards specific to each member’s job assignment.</li>
        <li>To all members given new job assignments for which training has not previously been provided.</li>
        <li>Whenever new substances, processes, procedures or equipment are introduced to the workplace and represent a new hazard.</li>
        <li>Whenever the Department is made aware of a new or previously unrecognized hazard.</li>
        <li>Annually for training related to infectious agents and hazardous substances as required by MNOSHA (Minn. Stat. § 182.653).</li>
    </ol>
    <h4>1061.9.1 TRAINING TOPICS</h4>
    <p>The Training Supervisor shall ensure that training includes:</p>
    <ol class="alpha">
        <li>Reporting unsafe conditions, work practices and injuries, and informing a supervisor when additional instruction is needed.</li>
        <li>Use of appropriate clothing, including gloves, footwear and PPE.</li>
        <li>Use of respiratory equipment.</li>
        <li>Availability of toilet, hand-washing and drinking-water facilities.</li>
        <li>Provisions for medical services and first aid.</li>
        <li>Handling of bloodborne pathogens and other biological hazards.</li>
        <li>Prevention of heat and cold stress.</li>
        <li>Identification and handling of hazardous materials, including chemical hazards to which members could be exposed.</li>
        <li>Mitigation of physical hazards, such as heat and cold stress, noise, and ionizing and non- ionizing radiation.</li>
        <li>Identification and mitigation of ergonomic hazards, including working on ladders or in a stooped posture for prolonged periods.</li>
        <li>Safety Data Sheets (SDS) hazards and mitigation.</li>
        <li>Back exercises/stretches and proper lifting techniques.</li>
        <li>Avoidance of slips and falls.</li>
        <li>Good housekeeping and fire prevention.</li>
        <li>Other job-specific safety concerns.</li>
    </ol>

    <h3>1061.10 RECORDS</h3>
    <p>Records and training documentation relating to the AWAIR program will be maintained in accordance with the established records retention schedule.</p>
    <p>All safety and health committee recommendations and reports shall be kept for two years. The reports shall be made available to the Minnesota Department of Labor and Industry upon request (Minn. R. 5208.0050).</p>
</div>