<div class="chapter" id="206">
    <h2>206 - Emergency Operations Plan</h2>
    <h3>206.1 PURPOSE AND SCOPE</h3>
    <p>The Metropolitan Transit Police Department and Metropolitan Council have prepared, in compliance with the Minnesota Emergency Management Act of 1996 (Minn. Stat. § 12.09), an Emergency Operations Plan Manual. This manual is for the guidance and use by all employees in the event of a major disaster, civil disturbance, mass arrest or other emergency event. The manual provides for a strategic response to all hazards by all employees and assigns specific responsibilities in the event the plan is activated.</p>

    <h3>206.2 ACTIVATING THE EMERGENCY OPERATIONS PLAN</h3>
    <p>The Emergency Operations Plan can be activated in a number of ways. For the Police Department, the Chief of Police, the highest ranking official on-duty or an on-scene responder may activate the Emergency Operations Plan in response to a major emergency.</p>
    <h4>206.2.1  RECALL OF PERSONNEL</h4>
    <p>In the event that the Emergency Operations Plan is activated, all employees of the Metro Transit Police Department are subject to immediate recall. Employees may also be subject to recall during extraordinary circumstances as deemed necessary by the Chief of Police or the authorized designee.</p>
    <p>Failure to promptly respond to an order to report for duty may result in discipline.</p>

    <h3>206.3 LOCATION OF MANUALS</h3>
    <p>The manual for employees is available in Administration and the Shift Supervisor's office as well as on the intranet at the following link:</p>
    <p><a href="http://councilinfo/safety/Metro_Transit/Emergency/index.asp" target="_blank">http://councilinfo/safety/Metro_Transit/Emergency/index.asp</a></p>

    <h3>206.4 PLAN REVIEW</h3>
    <p>The Administration Division Supervisor, or Emergency Manager if on staff, shall annually review the Emergency Operation Plan and recommend updates when applicable. The annual review, update, and approval of the plan and supporting documents must be in accord with the guidance provided by the Department of Public Safety, Division of Emergency Management and should incorporate a full or partial exercise, tabletop or command staff discussion (Min. Stat. § 299J.10).</p>

    <h3>206.5 PLAN TRAINING</h3>
    <p>The Department shall provide training in the Emergency Operations Plan for all supervisors and other appropriate personnel. All supervisors should familiarize themselves with the Emergency Operations Plan and the roles police personnel will play when the plan is implemented.</p>
</div>
