<div class="chapter" id="214">
    <h2>214 - Adminstrative Communications</h2>
    <h3>214.1 PURPOSE AND SCOPE</h3>
    <p>Administrative communications of this department are governed by the following policies.</p>

    <h3>214.2 PERSONNEL ORDERS</h3>
    <p>Personnel Orders may be issued periodically by the Chief of Police or designee, to announce and document all promotions, transfers, hiring of new personnel, separations, individual and group awards and commendations or other changes in status. Such orders are personnel data under Minn. Stat. §13.43 and shall be treated accordingly.</p>

    <h3>214.3 CORRESPONDENCE</h3>
    <p>In order to ensure that the letterhead and name of the Department are not misused, all official external correspondence shall be on Department letterhead. All Department letterhead shall bear the signature element of the Chief of Police. Official correspondence and use of letterhead requires approval of a supervisor. Department letterhead may not be used for personal use or purposes.</p>
    <p>Internal correspondence should use appropriate memorandum forms. These may be from line employee to employee, supervisor to employee or any combination of employees.</p>

    <h3>214.4 SURVEYS</h3>
    <p>All surveys made in the name of the Department shall be authorized by the Chief of Police or their designee.</p>

    <h3>214.5 OTHER COMMUNICATIONS</h3>
    <p>Interim Directives, Administrative Announcements and other communications necessary to ensure the effective operation of the Department shall be promulgated by the Chief of Police or their designee.</p>
</div>
