<div class="chapter" id="220">
    <h2>220 - Retiree Concealed Firearms</h2>
    <h3>220.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the issuance, denial, suspension or revocation of Metro Transit Police Department identification cards under the Law Enforcement Officers’ Safety Act (LEOSA) (18 USC § 926C).</p>

    <h3>220.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to provide identification cards to qualified former or retired full time officers as provided in this policy.</p>

    <h3>220.3 LEOSA</h3>
    <p>The Chief of Police may issue an identification card for LEOSA purposes to any former officer of this department who (18 USC § 926C(c)):</p>
    <ol class="alpha">
        <li>Separated from service in good standing from this department as an officer.</li>
        <li>Before such separation, had regular employment as an officer for an aggregate of 10 years or more or, if employed as an officer for less than 10 years, separated from service after completing any applicable probationary period of such service, due to a service-connected disability, as determined by this department.</li>
        <li>Has not been disqualified for reasons related to mental health.</li>
        <li>Has not entered into an agreement with this department where the officer acknowledges that he/she is not qualified to receive a firearm qualification certificate for reasons related to mental health.</li>
        <li>Is not prohibited by federal law from receiving or possessing a firearm.</li>
    </ol>
    <h4>220.3.1 LEOSA IDENTIFICATION CARD FORMAT</h4>
    <p>The LEOSA identification card should contain a photograph of the former officer and identify him/ her as having been employed as an officer.</p>
    <p>If the Metro Transit Police Department qualifies the former officer, the LEOSA identification card or separate certification should indicate the date the former officer was tested or otherwise found by the Department to meet the active duty standards for qualification to carry a firearm.</p>
    <h4>220.3.2 AUTHORIZATION</h4>
    <p>Any qualified former law enforcement officer, including a former officer of this department, may carry a concealed firearm under 18 USC § 926C when he/she is:</p>
    <ol class="alpha">
        <li>In possession of photographic identification that identifies him/her as having been employed as a law enforcement officer, and one of the following:
            <ol class="decimal">
                <li>An indication from the person’s former law enforcement agency that he/she has, within the past year, been tested or otherwise found by the law enforcement agency to meet agency-established active duty standards for qualification in firearms training to carry a firearm of the same type as the concealed firearm.</li>
                <li>A certification, issued by either the state in which the person resides or by a certified firearms instructor who is qualified to conduct a firearms qualification test for active duty law enforcement officers within that state, indicating that the person has, within the past year, been tested or otherwise found to meet the standards established by the state or, if not applicable, the standards of any agency in that state.</li>
            </ol>
        </li>
        <li>Not under the influence of alcohol or another intoxicating or hallucinatory drug or substance.</li>
        <li>Not prohibited by federal law from receiving a firearm.</li>
        <li>Not in a location prohibited by Minnesota law or by a private person or entity on his/her property if such prohibition is permitted by Minnesota law.</li>
    </ol>

    <h3>220.4 PERSONS ELIGIBLE TO ATTEND QUALIFICATION</h3>
    <p>Retired Metro Transit Police Department officers that were employed by the Department in a full time capacity, may attend designated qualification sessions administered/sponsored by the Metro Transit Police Department Training Unit. Eligible retirees shall contact the Training Coordinator in advance to obtain qualification schedules (e.g. dates, times and locations).</p>

    <h3>220.5 FORMER OFFICER RESPONSIBILITIES</h3>
    <p>A former officer with a card issued under this policy shall immediately notify the Shift Supervisor of his/her arrest or conviction in any jurisdiction, or that he/she is the subject of a court order, in accordance with the Reporting of Employee Convictions and Court Orders Policy.</p>
    <h4>220.5.1 RESPONSIBILITIES UNDER LEOSA</h4>
    <p>In order to obtain or retain a LEOSA identification card, the former officer shall:</p>
    <ol class="alpha">
        <li>Sign a waiver of liability of the Department for all acts taken related to carrying a concealed firearm, acknowledging both his/her personal responsibility as a private person for all acts taken when carrying a concealed firearm as permitted by LEOSA and also that these acts were not taken as an employee or former employee of the Department.</li>
        <li>Remain subject to all applicable department policies and federal, state and local laws.</li>
        <li>Demonstrate good judgment and character commensurate with carrying a loaded and concealed firearm.</li>
        <li>Successfully pass an annual criminal history background check indicating that he/she is not prohibited by law from receiving or possessing a firearm.</li>
    </ol>

    <h3>220.6 DENIAL, SUSPENSION OR REVOCATION</h3>
    <p>A LEOSA identification card may be denied or revoked upon a showing of good cause as determined by the Department. In the event that an identification card is denied, suspended or revoked, the former officer may request a review by the Chief of Police. The decision of the Chief of Police is final.</p>

    <h3>220.7 FIREARM QUALIFICATIONS</h3>
    <p>The Training Coordinator may provide former officers from this department an opportunity to qualify. Written evidence of the qualification and the weapons used will be provided and will contain the date of the qualification. The Training Coordinator will maintain a record of the qualifications and weapons used.</p>
</div>
