<div class="chapter" id="302">
    <h2>302 - Use of Force Review Boards</h2>
    <h3>302.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes a process for the Metro Transit Police Department to administratively review the use of force by its employees.</p>
    <p>The purpose of the Use of Force Review Board is to review such incidents and determine whether policy, training, weapon or equipment issues should be addressed. The Board shall only forward a report to the Chief of Police recommending policy changes, training needs, weapons or equipment upgrades.</p>

    <h3>302.2 POLICY</h3>
    <p>The Metro Transit Police Department will objectively evaluate the use of force by its members to ensure that their authority is used lawfully, appropriately and is consistent with training and policy.</p>

    <h3>302.3 REMOVAL FROM LINE DUTY ASSIGNMENTS</h3>
    <p>Generally, whenever an employee's actions or use of force in an official capacity, or while using department equipment, results in death or very serious injury to another, that employee will be placed in a temporary administrative assignment pending an administrative review. The Chief of Police may exercise discretion and choose not to place an employee in an administrative assignment in any case.</p>

    <h3>302.4 REVIEW BOARD</h3>
    <p>The Use of Force Review Board will meet on a quarterly basis or be convened as necessary to review the following:</p>
    <ul>
        <li>Any incident where an officer discharges any firearm, on- or off-duty, including accidental discharges. This does not include firearms training, euthanizing injured animals or during legally recognized recreational activity.</li>
        <li>Any incident where an officer has had force used against them which has caused death, great bodily harm or serious injury.</li>
        <li>Any incident where the officer has used force which resulted in death, great bodily harm or serious injury.</li>
        <li>Any incident where an officer has been disarmed.</li>
        <li>Any other incident with an unusual occurrence and/or critical incident.</li>
    </ul>
    <p>The Chief of Police may request the Use of Force Review Board to investigate the circumstances surrounding any use of force incident.</p>
    <h4>302.4.1 COMPOSITION OF THE BOARD</h4>
    <p>The Training Coordinator should select five Use of Force Review Board members from the following, as appropriate:</p>
    <ul>
        <li>Representatives from each training discipline (e.g. Use of Force, Taser, Firearms etc)</li>
        <li>Non-administrative supervisor</li>
        <li>A peer officer</li>
    </ul>
    <p>The Training Coordinator will serve as chairperson on the Use of Force Review Board.</p>
    <h4>302.4.2 RESPONSIBILITIES OF THE BOARD</h4>
    <p>The Use of Force Review Board is empowered to conduct an administrative review and inquiry into the circumstances of an incident. This review will be separate and distinct from any investigation (criminal or internal) of the incident.</p>
    <p>The board does not have the authority to recommend discipline.</p>
    <p>The Chief of Police will determine whether the board should delay its review until after completion of any criminal investigation, review by any prosecutorial body, filing of criminal charges, the decision not to file criminal charges or any other action. The board should be provided all relevant available material from these proceedings for its consideration.</p>
    <p>The review shall be based upon those facts which were reasonably believed or known by the officer at the time of the incident, applying any legal requirements, department policies, procedures and approved training to those facts. Facts later discovered but unknown to the officer at the time shall neither justify nor call into question an officer's decision regarding the use of force.</p>
    <p>At the conclusion of any review, copies of all relevant reports and information will be gathered by the Training Coordinator, compiled into a written report and filed with the Chief of Police. The report shall be for the exclusive and sole use of the Chief of Police. The Chief of Police will determine how the report and recommendations are to be used.</p>
</div>
