<div class="chapter" id="308">
    <h2>308 - Control Devices</h2>
    <h3>308.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for the use and maintenance of control devices that are described in this policy.</p>

    <h3>308.2 POLICY</h3>
    <p>In order to control subjects who are violent or who demonstrate the intent to be violent, the Metro Transit Police Department authorizes officers to use control devices in accordance with the guidelines in this policy and the Use of Force Policy.</p>

    <h3>308.3 ISSUING, CARRYING AND USING CONTROL DEVICES</h3>
    <p>Control devices described in this policy may be carried and used by members of this department only if the device has been issued by the Department or approved by the Chief of Police or the authorized designee.</p>
    <p>Only officers who have successfully completed department-approved training in the use of any control device are authorized to carry and use the device.</p>
    <p>Control devices may be used when a decision has been made to control, restrain or arrest a subject who is violent or who demonstrates the intent to be violent, and the use of the device appears reasonable under the circumstances. When reasonable, a verbal warning and opportunity to comply should precede the use of these devices.</p>
    <p>When using control devices, officers should carefully consider potential impact areas in order to minimize injuries and unintentional targets.</p>

    <h3>308.4 RESPONSIBILITIES</h3>
    <h4>308.4.1 SHIFT SUPERVISOR RESPONSIBILITIES</h4>
    <p>The Shift Supervisor may authorize the use of a control device by selected personnel or members of specialized units who have successfully completed the required training.</p>
    <h4>308.4.2 ARMORER RESPONSIBILITIES</h4>
    <p>The Training Coordinator shall control the inventory and issuance of all Department-issued control devices and shall ensure that all damaged, inoperative, outdated or expended control devices or munitions are properly disposed of, repaired or replaced.</p>
    <p>Every control device will be periodically inspected by the Training Coordinator or the designated instructor for a particular control device. The inspection shall be documented.</p>
    <h4>308.4.3 USER RESPONSIBILITIES</h4>
    <p>All normal maintenance, charging or cleaning shall remain the responsibility of personnel using the various devices.</p>
    <p>Any damaged, inoperative, outdated or expended control devices or munitions, along with documentation explaining the cause of the damage, shall be returned to the Training Coordinator for disposition. Damage to Department-issued property shall be documented and forwarded through the chain of command, when appropriate, explaining the cause of damage.</p>

    <h3>308.5 BATON GUIDELINES</h3>
    <p>The need to immediately control a suspect must be weighed against the risk of causing serious injury. The head, neck, throat, spine, heart, kidneys and groin should not be intentionally targeted except when the officer reasonably believes the suspect poses an imminent threat of serious bodily injury or death to the officer or others. Strikes to the above listed areas are considered deadly force.</p>
    <p>When carrying a baton, uniformed personnel shall carry the baton in its authorized holder on the equipment belt. Plainclothes and non-field personnel may carry the baton as authorized and in accordance with the needs of their assignment or at the direction of their supervisor.</p>

    <h3>308.6 TEAR GAS GUIDELINES</h3>
    <p>Tear gas may be used for crowd control, crowd dispersal or against barricaded suspects based on the circumstances. Only the Shift Supervisor, Incident Commander or Crisis Response Unit Commander may authorize the delivery and use of tear gas, and only after evaluating all conditions known at the time and determining that such force reasonably appears justified and necessary.</p>
    <p>When practicable, fire personnel should be alerted or summoned to the scene prior to the deployment of tear gas to control any fires and to assist in providing medical aid or gas evacuation if needed.</p>

    <h3>308.7 OLEORESIN CAPSICUM (OC) GUIDELINES</h3>
    <p>As with other control devices, oleoresin capsicum (OC) spray and pepper projectiles may be considered for use to bring under control an individual or groups of individuals who are engaging in, or are about to engage in violent behavior. Pepper projectiles and OC spray should not be used against individuals or groups who merely fail to disperse or do not reasonably appear to present a risk to the safety of officers or the public (i.e. passively resisting individuals or groups).</p>
    <h4>308.7.1 OC SPRAY</h4>
    <p>Uniformed personnel carrying OC spray shall carry the device in its holster on the equipment belt. Plainclothes and non-field personnel may carry OC spray as authorized, in accordance with the needs of their assignment or at the direction of their supervisor.</p>
    <h4>308.7.2 PEPPER PROJECTILE SYSTEMS</h4>
    <p>Pepper projectiles are plastic spheres that are filled with a derivative of OC powder. Because the compressed gas launcher delivers the projectiles with enough force to burst the projectiles on impact and release the OC powder, the potential exists for the projectiles to inflict injury if they strike the head, neck, spine or groin. Therefore, personnel deploying a pepper projectile</p>
    <p>system should not intentionally target those areas, except when the officer reasonably believes the suspect poses an imminent threat of serious bodily injury or death to the officer or others.</p>
    <p>Officers encountering a situation that warrants the use of a pepper projectile system shall notify a supervisor as soon as practicable. A supervisor shall respond to all pepper projectile system incidents where the suspect has been hit or exposed to the chemical agent. The supervisor shall ensure that all notifications and reports are completed as required by the Use of Force Policy.</p>
    <p>Each deployment of a pepper projectile system shall be documented. This includes situations where the launcher was directed toward the suspect, whether or not the launcher was used. Unintentional discharges shall be promptly reported to a supervisor and documented on the appropriate report form. Only non-incident use of a pepper projectile system, such as training and product demonstrations, is exempt from the reporting requirement.</p>
    <h4>308.7.3 TREATMENT FOR OC SPRAY EXPOSURE</h4>
    <p>Persons who have been sprayed with or otherwise affected by the use of OC should be promptly provided with medical attention (e.g. fresh air, seated upright, cool water etc) to address the affected areas. Those persons who complain of further severe effects shall be examined by appropriate medical personnel.</p>

    <h3>308.8 POST-APPLICATION NOTICE</h3>
    <p>Whenever tear gas or OC has been introduced into a residence, building interior, vehicle or other enclosed area, officers should provide the owners or available occupants with notice of the possible presence of residue that could result in irritation or injury if the area is not properly cleaned. Such notice should include advisement that clean up will be at the owner’s expense. Information regarding the method of notice and the individuals notified should be included in related reports.</p>

    <h3>308.9 KINETIC ENERGY PROJECTILE GUIDELINES</h3>
    <p>This department is committed to reducing the potential for violent confrontations. Kinetic energy projectiles, when used properly, are less likely to result in death or serious physical injury and can be used in an attempt to de-escalate a potentially deadly situation.</p>
    <h4>308.9.1 DEPLOYMENT AND USE</h4>
    <p>Only department-approved kinetic energy munitions shall be carried and deployed. Approved munitions may be used to compel an individual to cease his/her actions when such munitions present a reasonable option.</p>
    <p>Officers are not required or compelled to use approved munitions in lieu of other reasonable tactics if the involved officer determines that deployment of these munitions cannot be done safely. The safety of hostages, innocent persons and officers takes priority over the safety of subjects engaged in criminal or suicidal behavior.</p>
    <p>Circumstances appropriate for deployment include, but are not limited to, situations in which:</p>
    <ol class="alpha">
        <li>The suspect is armed with a weapon and the tactical circumstances allow for the safe application of approved munitions.</li>
        <li>The suspect has made credible threats to harm him/herself or others.</li>
        <li>The suspect is engaged in riotous behavior or is throwing rocks, bottles or other dangerous projectiles at people and/or officers.</li>
        <li>There is probable cause to believe that the suspect has already committed a crime of violence and is refusing to comply with lawful orders.</li>
    </ol>
    <h4>308.9.2 DEPLOYMENT CONSIDERATIONS</h4>
    <p>Before discharging projectiles, the officer should consider such factors as:</p>
    <ol class="alpha">
        <li>Distance and angle to target.</li>
        <li>Type of munitions employed.</li>
        <li>Type and thickness of subject’s clothing.</li>
        <li>The subject’s proximity to others.</li>
        <li>The location of the subject.</li>
        <li>Whether the subject’s actions dictate the need for an immediate response and the use of control devices appears appropriate.</li>
    </ol>
    <p>A verbal warning of the intended use of the device should precede its application, unless it would otherwise endanger the safety of officers or when it is not practicable due to the circumstances. The purpose of the warning is to give the individual a reasonable opportunity to voluntarily comply and to warn other officers and individuals that the device is being deployed.</p>
    <p>Officers should keep in mind the manufacturer’s recommendations and their training regarding effective distances and target areas. However, officers are not restricted solely to use according to manufacturer recommendations. Each situation must be evaluated on the totality of circumstances at the time of deployment.</p>
    <p>The need to immediately incapacitate the subject must be weighed against the risk of causing serious injury or death. The head and neck should not be intentionally targeted, except when the officer reasonably believes the suspect poses an imminent threat of serious bodily injury or death to the officer or others.</p>
    <h4>308.9.3 SAFETY PROCEDURES</h4>
    <p>Shotguns specifically designated for use with kinetic energy projectiles will be specially marked in a manner that makes them readily identifiable as such.</p>
    <p>Officers will inspect the shotgun and projectiles at the beginning of each shift to ensure that the shotgun is in proper working order and the projectiles are of the approved type and appear to be free from defects.</p>
    <p>When it is not deployed, the shotgun will be unloaded and properly and securely stored in the vehicle. When deploying the kinetic energy projectile shotgun, the officer shall visually inspect the kinetic energy projectiles to ensure that conventional ammunition is not being loaded into the shotgun.</p>
    <p>Absent compelling circumstances, officers who must transition from conventional ammunition to kinetic energy projectiles will employ the two-person rule for loading. The two-person rule is a safety measure in which a second officer watches the unloading and loading process to ensure that the weapon is completely emptied of conventional ammunition.</p>

    <h3>308.10 TRAINING FOR CONTROL DEVICES</h3>
    <p>The Training Coordinator shall ensure that all personnel who are authorized to carry a control device have been properly trained and certified to carry the specific control device and are re- trained or re-certified as necessary.</p>
    <ol class="alpha">
        <li>Proficiency training shall be monitored and documented by a certified, control-device weapons or tactics instructor.</li>
        <li>All training and proficiency for control devices will be documented in the officer's training file.</li>
        <li>Officers who fail to demonstrate proficiency with the control device or knowledge of this agency's Use of Force Policy will be provided remedial training. If an officer cannot demonstrate proficiency with a control device or knowledge of this agency's Use of Force Policy after remedial training, the officer will be restricted from carrying the control device and may be subject to discipline.</li>
    </ol>

    <h3>308.11 REPORTING USE OF CONTROL DEVICES AND TECHNIQUES</h3>
    <p>Any application of a control device or technique listed in this policy shall be documented in the related incident report and reported pursuant to the Use of Force Policy.</p>
</div>
