<div class="chapter" id="310">
    <h2>310 - Officer-Involved Shootings and Deaths</h2>
    <h3>310.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish policy and procedures for the investigation of an incident in which a person is injured or dies as the result of an officer-involved shooting or dies as a result of other action of an officer.</p>
    <p>In other incidents not covered by this policy, the Chief of Police may decide that the investigation will follow the process provided in this policy.</p>
    <h4>310.1.1 DEFINITIONS</h4>
    <p><strong>Critical Incident</strong> - An incident involving any of the following situations occurring in the line of duty:</p>
    <ol class="alpha">
        <li>The use of Deadly Force by or against a Metro Transit Police Officer.</li>
        <li>Death or Great Bodily Harm to a Metro Transit Police Officer.</li>
        <li>Death or Great Bodily Harm to a person who is in the custody or control of a Metro Transit Police Officer.</li>
        <li>Any action by a Metro Transit Police Officer that causes or is intended to cause Death or Great Bodily Harm.</li>
    </ol>
    <p><strong>Deadly Force</strong> - Force which the actor uses with the purpose of causing, or which the actor should reasonably know creates a substantial risk of causing, death or great bodily harm. The intentional discharge of a firearm, other than a firearm loaded with less lethal munitions and used by a peace officer within the scope of official duties, in the direction of another person, or at a vehicle in which another person is believed to be, constitutes deadly force. "Less lethal munitions" means projectiles which are designed to stun, temporarily incapacitate, or cause temporary discomfort to a person. (Minn. Stat. § 609.066 Subd. 1).</p>
    <p><strong>Great Bodily Harm</strong> - Bodily injury which creates a high probability of death, or which causes serious permanent disfigurement, or which causes a permanent or protracted loss or impairment of the function of any bodily member or organ or other serious bodily harm. (Minn. Stat. § 609.02 Subd. 8).</p>

    <h3>310.2 TYPES OF INVESTIGATIONS</h2>
    <p>Officer-involved shootings and deaths involve several separate investigations. The investigations may include:</p>
    <ul>
        <li>A criminal investigation of the suspect’s actions.</li>
        <li>A criminal investigation of the involved officer’s actions.</li>
        <li>An administrative investigation as to policy compliance by involved officers.</li>
        <li>A civil investigation to determine potential liability.</li>
    </ul>

    <h3>310.3 CONTROL OF INVESTIGATIONS</h3>
    <p>Investigators from surrounding agencies may be assigned to work on the criminal investigation of officer-involved shootings and deaths. This may include at least one investigator from the agency that employs the involved officer.</p>
    <p>Jurisdiction is determined by the location of the shooting or death and the agency employing the involved officer. The following scenarios outline the jurisdictional responsibilities for investigating officer-involved shootings and deaths.</p>
    <h4>310.3.1 CRIMINAL INVESTIGATION OF SUSPECT ACTIONS</h4>
    <p>The investigation of any possible criminal conduct by the suspect is controlled by the agency in whose jurisdiction the suspect’s crime occurred. For example, the Minneapolis Police Department would control the investigation if the suspect’s crime occurred in the City of Minneapolis .</p>
    <p>If multiple crimes have been committed in multiple jurisdictions, identification of the agency that will control the investigation may be reached in the same way as with any other crime. The investigation may be conducted by the agency in control of the criminal investigation of the involved officer, at the discretion of the Chief of Police and with concurrence from the other agency.</p>
    <h4>310.3.2 POST ADMINISTRATIVE INVESTIGATIONS</h4>
    <p>The Minnesota POST Board may require an administrative investigation based on a complaint alleging a violation of a statute or rule that the board is empowered to enforce. An officer-involved shooting may result in such an allegation. Any such complaint assigned to this department shall be completed and a written summary submitted to the POST executive director within 30 days of the order for inquiry (Minn. Stat. § 214.10 Subd. 10).</p>

    <h3>310.4 INVESTIGATION PROCESS</h3>
    <p>The following procedures are guidelines used in the investigation of an officer-involved shooting or death:</p>
    <h4>310.4.1 UNINVOLVED OFFICER RESPONSIBILITIES</h4>
    <p>Upon arrival at the scene of an officer-involved shooting or death, the first uninvolved MTPD officer will be the officer-in-charge and will assume the responsibilities of a supervisor until properly relieved. This officer should, as appropriate:</p>
    <ol class="alpha">
        <li>Secure the scene and identify and eliminate hazards for all those involved.</li>
        <li>Take reasonable steps to obtain emergency medical attention for injured individuals.</li>
        <li>Request additional resources from the Department or other agencies.</li>
        <li>Coordinate a perimeter or pursuit of suspects.</li>
        <li>Check for injured persons and evacuate as needed.</li>
        <li>Brief the supervisor upon arrival.</li>
    </ol>
    <h4>310.4.2 SUPERVISOR RESPONSIBILITIES</h4>
    <p>Upon arrival at the scene, the first uninvolved MTPD supervisor should ensure completion of the duties as outlined above, plus:</p>
    <ol class="alpha">
        <li>Attempt to obtain a brief overview of the situation from any uninvolved officers.</p>
            <ol class="decimal">
                <li>In the event that there are no uninvolved officers who can supply adequate overview, the supervisor should attempt to obtain a brief voluntary overview from one involved officer.</li>
            </ol>
        </li>
        <li>If necessary, the supervisor may administratively order any MTPD officer to immediately provide public safety information necessary to secure the scene, identify injured parties and pursue suspects.
            <ol class="decimal">
                <li>Public safety information shall be limited to such things as outstanding suspect information, number and direction of any shots fired, perimeter of the incident scene, identity of known or potential witnesses and any other pertinent information.</li>
                <li>The initial on-scene supervisor should not attempt to order any involved officer to provide any information other than public safety information.</li>
            </ol>
        </li>
        <li>Provide all available information to the Shift Supervisor and Transit Control Center. If feasible, sensitive information should be communicated over secure networks.</li>
        <li>Take command of and secure the incident scene with additional MTPD members until properly relieved by another supervisor or other assigned personnel or investigator.</li>
        <li>As soon as practicable, ensure that involved officers are transported (separately, if feasible) to a suitable location for further direction.
            <ol class="decimal">
                <li>Each involved MTPD officer should be given an administrative order not to discuss the incident with other involved officers or MTPD members pending further direction from a supervisor.</li>
                <li>When an involved officer’s weapon is taken or left at the scene for other than officer- safety reasons (e.g., evidence), ensure that he/she is provided with a comparable replacement weapon or transported by other officers.</li>
            </ol>
        </li>
    </ol>
    <h4>310.4.3 SHIFT SUPERVISOR RESPONSIBILITIES</h4>
    <p>Upon learning of an officer-involved shooting or death, the Shift Supervisor shall be responsible for coordinating all aspects of the incident until he/she is relieved by the Chief of Police, Deputy Chief of Police or a Captain.</p>
    <p>All outside inquiries about the incident shall be directed to the Shift Supervisor.</p>
    <h4>310.4.4 NOTIFICATIONS</h4>
    <p>The following persons shall be notified as soon as practicable:</p>
    <ul>
        <li>Chief of Police</li>
        <li>Deputy Chief of Police</li>
        <li>Patrol Captain</p><li><br></li>
        <li>Criminal Investigations Supervisor</li>
        <li>Supervisor from the local jurisdiction over the incident</li>
        <li>Critical Incident rollout team</li>
        <li>Outside agency investigators (if appropriate)</li>
        <li>Professional Standards Unit / Internal Affairs Unit supervisor</li>
        <li>Civil liability response team (e.g. General Counsel, Risk Management etc)</li>
        <li>Psychological/peer support personnel</li>
        <li>Chaplain</li>
        <li>Medical Examiner (if necessary)</li>
        <li>Involved officer’s agency representative (if requested)</li>
        <li>Public Information Officer (Notification will be made by the Chief of Police or designee)</p>
    </ul>
    <h4>310.4.5 INVOLVED OFFICERS</h4>
    <p>The following shall be considered for the involved officer:</p>
    <ol class="alpha">
        <li>Any request for legal or union representation will be accommodated.</p>
            <ol class="decimal">
                <li>Involved MTPD officers shall not be permitted to meet collectively or in a group with an attorney or any representative prior to providing a formal interview or report.</li>
                <li>Requests from involved non-MTPD officers should be referred to their employing agency.</li>
            </ol>
        </li>
        <li>Discussions with licensed attorneys will be considered privileged as attorney-client communications.</li>
        <li>Discussions with agency representatives/employee groups will be privileged only as to the discussion of non-criminal information.</li>
        <li>A licensed psychotherapist shall be provided by the Department to each involved MTPD officer. A licensed psychotherapist may also be provided to any other affected MTPD members, upon request.</p>
            <ol class="decimal">
                <li>Interviews with a licensed psychotherapist will be considered privileged.</li>
                <li>An interview or session with a licensed psychotherapist may take place prior to the member providing a formal interview or report. However, involved members shall not be permitted to consult or meet collectively or in a group with a licensed psychotherapist prior to providing a formal interview or report.</li>
                <li>A separate fitness-for-duty exam may also be required (see the Fitness for Duty Policy).</li>
            </ol>
        </li>
        <li>Communications with peer counselors are privileged and shall not be disclosed without the permission of the involved officer. The peer counselor, however, may disclose information that he/she reasonably believes indicates that the officer may be a danger to self or others, as long as the information is used only for the purpose of eliminating the danger. Such</li>
    </ol>
    <p>information or opinion is not admissible in any personnel or occupational licensing matter involving the officer (Minn. Stat. § 181.973).</p>
    <p>Care should be taken to preserve the integrity of any physical evidence present on the involved officer's equipment or clothing, such as blood or fingerprints, until investigators or lab personnel can properly retrieve it.</p>
    <p>Each involved MTPD officer shall be given reasonable paid administrative leave following an officer-involved shooting or death. In most cases, a minimum of three days and a maximum of seven days shall be considered as reasonable. The Chief of Police must approve paid administrative leave time extending beyond the seven day maximum. It shall be the responsibility of the Shift Supervisor to make schedule adjustments to accommodate such leave.</p>
    <h4>310.4.6 MONITORING OFFICERS The monitoring officer(s) shall:</h4>
    <ol class="alpha">
        <li>Assume control of the involved officer as directed by the on-scene supervisor.</li>
        <li>Bring the involved officer to a department vehicle and accompany the involved officer to the police department or the location determined by the supervisor.</li>
        <li>The monitoring officer shall check in with the Investigations Supervisor or his/her designee once at the determined location.</li>
        <li>Remain with the involved officer at the determined location until advised by the Investigations Supervisor that you are relieved of that duty.</li>
        <li>The monitoring officer will allow a union representative or designee access to the involved officer(s) until a formal statement is given or legal counsel is present. This access shall be continually monitored to ensure that details of the investigation are not discussed with anyone other than legal counsel and/or the involved officer's union representative.</li>
        <li>The monitoring officer will write a report detailing his/her actions, including who had access to the involved officer, length of time of the contact and specifically document whether the involved officer spoke with anyone about the incident while in his/her company.</li>
        <li>Upon request of the involved officer(s), ensure that the involved officer(s) is afforded the opportunity to meet with legal counsel in a confidential setting.</li>
    </ol>
    <h4>310.5  CRIMINAL INVESTIGATION</h4>
    <p>This Department will utilize the Minnesota Bureau of Criminal Apprehension (BCA) to conduct an independent criminal investigation into the circumstances of any officer-involved shooting or death.</p>
    <p>If available, investigative personnel from this departmentoffice may be assigned to partner with investigators from outside agencies or the DistrictCountyAttorney's Office to avoid duplicating efforts in related criminal investigations.</p>
    <p>Once public safety issues have been addressed, criminal investigators should be given the opportunity to obtain a voluntary statement from involved officers and to complete their interviews. The following shall be considered for the involved officer:</p>
    <ol class="alpha">
        <li>agencyAcronym supervisors and InternalAffairsUnit / Internal Affairs Unit personnel should not participate directly in any voluntary interview of agencyAcronym officers. This will not prohibit such personnel from monitoring interviews or providing the criminal investigators with topics for inquiry.</li>
        <li>If requested, any involved officer will be afforded the opportunity to consult individually with a representative of his/her choosing or an attorney prior to speaking with criminal investigators. However, in order to maintain the integrity of each involved officer’s statement, involved officers shall not consult or meet with a representative or an attorney collectively or in groups prior to being interviewed.</li>
        <li>If any involved officer is physically, emotionally or otherwise not in a position to provide a voluntary statement when interviewed by criminal investigators, consideration should be given to allowing a reasonable period for the officer to schedule an alternate time for the interview.</li>
        <li>Any voluntary statement provided by an involved officer will be made available for inclusion in any related investigation, including administrative investigations. However, no administratively coerced statement will be provided to any criminal investigators unless the officer consents.</li>
    </ol>
    <h4>310.5.1 REPORTS BY INVOLVED MTPD OFFICERS</h4>
    <p>In the event that suspects remain outstanding or subject to prosecution for related offenses, this department shall retain the authority to require involved MTPD officers to provide sufficient information for related criminal reports to facilitate the apprehension and prosecution of those individuals.</p>
    <p>While the involved MTPD officer may write the report, it is generally recommended that such reports be completed by assigned investigators, who should interview all involved officers as victims/witnesses. Since the purpose of these reports will be to facilitate criminal prosecution, statements of involved officers should focus on evidence to establish the elements of criminal activities by suspects. Care should be taken not to duplicate information provided by involved officers in other reports.</p>
    <p>Nothing in this section shall be construed to deprive an involved MTPD officer of the right to consult with legal counsel prior to completing any such criminal report.</p>
    <p>Reports related to the prosecution of criminal suspects will be processed according to normal procedures but should also be included for reference in the investigation of the officer-involved shooting or death.</p>
    <h4>310.5.2 WITNESS IDENTIFICATION AND INTERVIEWS</h4>
    <p>Because potential witnesses to an officer-involved shooting or death may become unavailable or the integrity of their statements compromised with the passage of time, a supervisor should</p>
    <p>take reasonable steps to promptly coordinate with criminal investigators to utilize available law enforcement personnel for the following:</p>
    <ol class="alpha">
        <li>Identification of all persons present at the scene and in the immediate area.
            <ol class="decimal">
                <li>When feasible, a recorded statement should be obtained from those persons who claim not to have witnessed the incident but who were present at the time it occurred.
                </li>
                <li>Any potential witness who is unwilling or unable to remain available for a formal interview should not be detained absent reasonable suspicion to detain or probable cause to arrest. Without detaining the individual for the sole purpose of identification, attempts to identify the witness prior to his/her departure should be made whenever feasible.
                </li>
            </ol>
        </li>
        <li>Witnesses who are willing to provide a formal interview should be asked to meet at a suitable location where criminal investigators may obtain a recorded statement. Such witnesses, if willing, may be transported by a member of the Department.
            <ol class="decimal">
                <li>A written, verbal or recorded statement of consent should be obtained prior to transporting a witness. When the witness is a minor, consent should be obtained from the parent or guardian, if available, prior to transportation.
                </li>
            </ol>
        </li>
    </ol>
    <p>Promptly contacting the suspect’s known family and associates to obtain any available and untainted background information about the suspect’s activities and state of mind prior to the incident.</p>
    <h4>310.5.3 INVESTIGATIVE PERSONNEL</h4>
    <p>Once notified of an officer-involved shooting or death, it shall be the responsibility of the designated Investigation Division supervisor to assign appropriate investigative personnel to handle the investigation of related crimes. Department investigators will be assigned to work with investigators from the outside agency and may be assigned to separately handle the investigation of any related crimes not being investigated by the outside agency.</p>
    <p>All related department reports, except administrative and/or privileged reports, will be forwarded to the designated Investigation Division supervisor for approval. Privileged reports shall be maintained exclusively by members who are authorized such access. Administrative reports will be forwarded to the appropriate Supervisor .</p>

    <h3>310.6 ADMINISTRATIVE INVESTIGATION</h3>
    <p>In addition to all other investigations associated with an officer-involved shooting or death, this department will conduct an internal administrative investigation of involved MTPD officers to determine conformance with department policy. This investigation will be conducted under the supervision of the Professional Standards Unit / Internal Affairs Unit and will be considered a confidential officer personnel file.</p>
    <p>Interviews of members shall be subject to department policies and applicable laws (Personnel Complaints Policy; Minn. Stat. § 626.89).</p>
    <ol class="alpha">
        <li>Any officer involved in a shooting or death may be requested or administratively compelled to provide a blood sample for alcohol/drug screening in accordance with the drug and alcohol testing guidelines in the Drug and Alcohol-Free Workplace Policy adopted under the authority of Minn. Stat. § 181.950 to Minn. Stat. § 181.957. Absent consent from the officer, such compelled samples and the results of any such testing shall not be disclosed to any criminal investigative agency.</li>
        <li>If any officer has voluntarily elected to provide a statement to criminal investigators, the assigned administrative investigator should review that statement before proceeding with any further interview of that involved officer.
            <ol class="decimal">
                <li>If a further interview of the officer is deemed necessary to determine policy compliance, care should be taken to limit the inquiry to new areas with minimal, if any, duplication of questions addressed in the voluntary statement. The involved officer shall be provided with a copy of his/her prior statement before proceeding with any subsequent interviews.
                </li>
            </ol>
        </li>
        <li>In the event that an involved officer has elected not to provide criminal investigators with a voluntary statement, the assigned administrative investigator shall conduct an administrative interview to determine all relevant information .
            <ol class="decimal">
                <li>Although this interview should not be unreasonably delayed, care should be taken to ensure that the officer’s physical and psychological needs have been addressed before commencing the interview.</li>
                <li>The interview must be taken at the MTPD or at a place agreed to by the interviewer and the involved officer.</li>
                <li>The interview must be of reasonable duration and provide the involved officer reasonable periods for rest and personal necessities. When practicable, the interview must be held during the involved officer’s regularly scheduled work shift. If not, the involved officer must be compensated at his/her current pay rate.</li>
                <li>If requested, the officer shall have the opportunity to select an uninvolved representative or an attorney, or both, to be present during the interview. However, in order to maintain the integrity of each individual officer’s statement, involved officers shall not consult or meet with a representative collectively or in groups prior to being interviewed.</li>
                <li>Administrative interviews shall be recorded electronically or otherwise by the investigator. The officer may also record the interview. A complete copy or transcript of the interview must be provided to the involved officer upon written request without charge or undue delay.</li>
                <li>The officer shall be informed of the nature of the investigation. If an officer refuses to answer questions, he/she should be given his/her Garrity rights and ordered to provide full and truthful answers to all questions. The officer shall be informed in writing or on the record that the interview will be for administrative purposes only and that the statement cannot be used criminally.</li>
                <li>The Professional Standards Unit / Internal Affairs Unit shall compile all relevant information and reports necessary for the Department to determine compliance with applicable policies.</li>
                <li>Regardless of whether the use of force is an issue in the case, the completed administrative investigation shall be submitted to the Use of Force Review Board, which will restrict its findings as to whether there was compliance with the Use of Force Policy.</li>
                <li>Any other indications of potential policy violations shall be determined in accordance with standard disciplinary procedures.</li>
            </ol>
        </li>
    </ol>

    <h3>310.7 CIVIL LIABILITY RESPONSE</h3>
    <p>A member of this department may be assigned to work exclusively under the direction of the legal counsel for the Department to assist in the preparation of materials deemed necessary in anticipation of potential civil litigation.</p>
    <p>All materials generated in this capacity shall be considered attorney work product and may not be used for any other purpose. The civil liability response is not intended to interfere with any other investigation but shall be given reasonable access to all other investigations.</p>

    <h3>310.8 AUDIO AND VIDEO RECORDINGS</h3>
    <p>Any officer involved in a shooting or death may be permitted to review available Mobile Audio/ Video (MAV), body-worn video, or other video or audio recordings prior to providing a recorded statement or completing reports.</p>
    <p>Upon request, non-law enforcement witnesses who are able to verify their presence and their ability to contemporaneously perceive events at the scene of an incident may also be permitted to review available MAV, body-worn video, or other video or audio recordings with the approval of assigned investigators or a supervisor.</p>
    <p>Any MAV, body-worn and other known video or audio recordings of an incident should not be publicly released during an ongoing investigation without consulting the prosecuting attorney or Prosecuting Attorney’s Office, as appropriate.</p>

    <h3>310.9 DEBRIEFING</h3>
    <p>Following an officer-involved shooting or death, the Metro Transit Police Department should conduct both a critical incident/stress debriefing and a tactical debriefing.</p>
    <h4>310.9.1 CRITICAL INCIDENT/STRESS DEBRIEFING</h4>
    <p>A critical incident/stress debriefing should occur as soon as practicable. The Patrol Captain is responsible for organizing the debriefing. Notes and recorded statements should not be taken because the sole purpose of the debriefing is to help mitigate the stress-related effects of a traumatic event (Minn. Stat. § 181.973).</p>
    <p>The debriefing is not part of any investigative process. Care should be taken not to release or repeat any communication made during a debriefing unless otherwise authorized by policy, law or a valid court order.</p>
    <p>Attendance at the debriefing shall only include those members of the Department directly involved in the incident, which can include support personnel (e.g., dispatchers, other non-sworn). Family or other support personnel may attend with the concurrence of those involved in the incident. The debriefing shall be closed to the public and should be closed to all other members of the Department, including supervisory and Professional Standards Unit / Internal Affairs Unit personnel.</p>
    <h4>310.9.2 TACTICAL DEBRIEFING</h4>
    <p>A tactical debriefing should take place to identify any training or areas of policy that need improvement. The Chief of Police should identify the appropriate participants. This debriefing should not be conducted until all involved members have provided recorded or formal statements to criminal and/or administrative investigators.</p>

    <h3>310.10 MEDIA RELATIONS</h3>
    <p>Any media release shall be prepared with input and concurrence from the supervisor and department representative responsible for each phase of the investigation. Releases will be available to the Chief of Police or designee and Public Information Officer in the event of inquiries from the media.</p>
    <p>No involved MTPD officer shall make any comment to the media unless he/she is authorized by the Chief of Police or designee.</p>
    <p>Department members receiving inquiries regarding officer-involved shootings or deaths occurring in other jurisdictions shall refrain from public comment and will direct those inquiries to the agency having jurisdiction and primary responsibility for the investigation.</p>

    <h3>310.11 REPORTING</h3>
    <p>If an officer discharges a firearm in the course of duty, the Chief of Police shall notify the Commissioner of Public Safety within 30 days of the reason for and the circumstances surrounding the discharge of the firearm (Minn. Stat.§ 626.553).</p>
</div>
