<div class="chapter" id="312">
    <h2>312 - Firearms</h2>
    <h3>312.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for issuing firearms, the safe and legal carrying of firearms, firearms maintenance and firearms training.</p>
    <p>This policy does not apply to issues related to the use of firearms that are addressed in the Use of Force or Officer-Involved Shootings and Deaths policies.</p>
    <p>This policy only applies to those members who are authorized to carry firearms.</p>
    <h4>312.1.1 AUTHORIZATION TO CARRY FIREARMS</h4>
    <p>All licensed personnel shall successfully complete department training regarding the use of force, deadly force and the use of firearms before being issued a firearm or being authorized to carry a firearm in the course of their duties (Minn. Stat. § 626.8452, Subd. 3; Minn. Stat. § 626.8463).</p>

    <h3>312.2 POLICY</h3>
    <p>The Metro Transit Police Department will equip its members with firearms to address the risks posed to the public and department members by violent and sometimes well-armed persons. The Department will ensure firearms are appropriate and in good working order and that relevant training is provided as resources allow.</p>

    <h3>312.3 AUTHORIZED FIREARMS, AMMUNITION AND OTHER WEAPONS</h3>
    <p>Members shall only use firearms that are issued or approved by the Department and have been thoroughly inspected by the Armorer. Except in an emergency or as directed by a supervisor, no firearm shall be carried by a member who has not qualified with that firearm at an authorized department range.</p>
    <p>All other weapons not provided by the Department, including, but not limited to, edged weapons, chemical or electronic weapons, impact weapons or any weapon prohibited or restricted by law or that is not covered elsewhere by department policy, may not be carried by members in the performance of their official duties without the express written authorization of the member’s Captain. This exclusion does not apply to the carrying of a single folding pocketknife that is not otherwise prohibited by law.</p>
    <h4>312.3.1 HANDGUNS</h4>
    <p>The authorized department-issued handgun is the Glock 17.</p>
    <p>The following additional handguns are approved for on-duty use by part-time sworn officers:</p>
    <ol class="alpha">
        <li>Handgun
            <ol class="decimal">
                <li>Beretta, Colt, Glock, H&amp;K, Kahr, Kel Tec, Ruger, Sig Sauer, Smith &amp; Wesson, Springfield and Walther.</li>
            </ol>
        </li>
        <li>Caliber
            <ol class="decimal">
                <li>1. 9mm, .357 SIG, .40 and .45.</li>
                <li>In addition to the above calibers, .38 Special, .357 Magnum and .380 are authorized for secondary weapons.</li>
            </ol>
        </li>
    </ol>
    <p>All handguns must either be double action or have a de-cocking mechanism. The handgun must have a manufacturer's specified barrel length between 2 1/2 and 5 1/2 inches. Other barrel lengths must be pre-approved by the Training Coordinator. For officers choosing Smith &amp; Wesson semi- automatics, only second generation (three digit model number) or newer will be approved.</p>
    <h4>312.3.2 PATROL RIFLES</h4>
    <p>The authorized department-issued patrol rifle is the Smith and Wesson M&amp;P 15 / Bushmaster M4.</p>
    <p>Members may deploy the patrol rifle in any circumstance where the member can articulate a reasonable expectation that the rifle may be needed. Examples of some general guidelines for deploying the patrol rifle may include, but are not limited to:</p>
    <ol class="alpha">
        <li>Situations where the member reasonably anticipates an armed encounter.</li>
        <li>When a member is faced with a situation that may require accurate and effective fire at long range.</li>
        <li>Situations where a member reasonably expects the need to meet or exceed a suspect's firepower.</li>
        <li>When a member reasonably believes that there may be a need to fire on a barricaded person or a person with a hostage.</li>
        <li>When a member reasonably believes that a suspect may be wearing body armor.</li>
        <li>When authorized or requested by a supervisor.</li>
        <li>When needed to euthanize an animal.</li>
    </ol>
    <p>When not deployed, the patrol rifle shall be properly secured in a locking weapons rack in the patrol vehicle with the:</p>
    <ul>
        <li>Chamber empty</li>
        <li>Bolt forward</li>
        <li>20 or 30 round magazine (loaded with 18 or 28 rounds) inserted into the magazine well</li>
        <li>Dust cover closed</li>
        <li>Selector switch in the safe position</li>
    </ul>
    <h4>312.3.3 PERSONALLY OWNED DUTY FIREARMS</h4>
    <p>Members desiring to carry an authorized but personally owned duty firearm must receive written approval from the Chief of Police or the authorized designee. Once approved, personally owned duty firearms are subject to the following restrictions:</p>
    <ol class="alpha">
        <li>The firearm shall be in good working order and on the department list of approved firearms.</li>
        <li>The firearm shall be inspected by the Armorer prior to being carried and thereafter shall be subject to inspection whenever it is deemed necessary.</li>
        <li>Prior to carrying the firearm, members shall qualify under range supervision and thereafter shall qualify in accordance with the department qualification schedule. Members must demonstrate proficiency and safe handling, and that the firearm functions properly.</li>
        <li>Members shall provide written notice of the make, model, color, serial number and caliber of the firearm to the Armorer, who will maintain a list of the information.</li>
    </ol>
    <h4>312.3.4 AUTHORIZED SECONDARY HANDGUN</h4>
    <p>Members desiring to carry department or personally owned secondary handguns are subject to the following restrictions:</p>
    <ol class="alpha">
        <li>The handgun shall be in good working order and on the department list of approved firearms.</li>
        <li>Only one secondary handgun may be carried at a time.</li>
        <li>The purchase of the handgun and ammunition shall be the responsibility of the member unless the handgun and ammunition are provided by the Department.</li>
        <li>The handgun shall be carried concealed at all times and in such a manner as to prevent unintentional cocking, discharge or loss of physical control.</li>
        <li>The handgun shall be inspected by the Armorer prior to being carried and thereafter shall be subject to inspection whenever it is deemed necessary.</li>
        <li>Ammunition shall be the same as department issue. If the caliber of the handgun is other than department issue, the Chief of Police or the authorized designee shall approve the ammunition.</li>
        <li>Prior to carrying the secondary handgun, members shall qualify under range supervision and thereafter shall qualify in accordance with the department qualification schedule. Members must demonstrate proficiency and safe handling, and that the handgun functions properly.</li>
        <li>Members shall provide written notice of the make, model, color, serial number and caliber of a secondary handgun to the Armorer, who will maintain a list of the information.</li>
    </ol>
    <h4>312.3.5 AUTHORIZED OFF-DUTY FIREARMS</h4>
    <p>The carrying of firearms by members while off-duty is permitted by the Chief of Police but may be rescinded should circumstances dictate (e.g., administrative leave). Members who choose to carry a firearm while off-duty, based on their authority as peace officers, will be required to meet the following guidelines:</p>
    <ol class="alpha">
        <li>A personally owned firearm shall be used, carried and inspected in accordance with the Personally Owned Firearms requirements in this policy.
            <ol>
                <li>The purchase of the personally owned firearm and ammunition shall be the responsibility of the member.</li>
            </ol>
        </li>
        <li>The firearm shall be carried concealed at all times and in such a manner as to prevent unintentional cocking, discharge or loss of physical control.</li>
        <li>It will be the responsibility of the member to submit the firearm to the Armorer for inspection prior to being personally carried. Thereafter the firearm shall be subject to periodic inspection by the Armorer.</li>
        <li>Prior to carrying any off-duty firearm, the member shall demonstrate to the Armorer that he/ she is proficient in handling and firing the firearm and that it will be carried in a safe manner.</li>
        <li>The member will successfully qualify with the firearm prior to it being carried.</li>
        <li>Members shall provide written notice of the make, model, color, serial number and caliber of the firearm to the Armorer, who will maintain a list of the information.</li>
        <li>If a member desires to use more than one firearm while off-duty, he/she may do so, as long as all requirements set forth in this policy for each firearm are met.</li>
        <li>Members shall only carry department-authorized ammunition</li>
        <li>When armed, officers shall carry their badges and Metro Transit Police Department identification cards under circumstances requiring possession of such identification.</li>
    </ol>
    <h4>312.3.6 AMMUNITION</h4>
    <p>Members shall carry only department-authorized ammunition. Subject to availability, members shall be issued fresh duty ammunition in the specified quantity for all department-issued firearms during the member’s firearms qualification. The current rotation is every other year. Replacements for unserviceable or depleted ammunition issued by the Department shall be dispensed by the Armorer when needed, in accordance with established policy.</p>
    <p>Members carrying personally owned authorized firearms of a caliber differing from department- issued firearms shall be responsible for obtaining fresh duty ammunition in accordance with the above, at their own expense. Replacements for unserviceable or depleted ammunition issued by the Department shall be dispensed by the Armorer when needed, in accordance with established policy.</p>

    <h3>312.4 EQUIPMENT</h3>
    <p>Firearms carried on- or off-duty shall be maintained in a clean, serviceable condition. Maintenance and repair of authorized personally owned firearms are the responsibility of the individual member.</p>
    <h4>312.4.1 REPAIRS OR MODIFICATIONS</h4>
    <p>Each member shall be responsible for promptly reporting any damage or malfunction of an assigned firearm to a supervisor or the Armorer.</p>
    <p>Firearms that are the property of the Department or personally owned firearms that are approved for department use may be repaired or modified only by a person who is department-approved</p>
    <p>and certified as an armorer or gunsmith in the repair of the specific firearm. Such modification or repair must be authorized in advance by the Armorer.</p>
    <p>Any repairs or modifications to the member’s personally owned firearm shall be done at his/her expense and must be approved by the Armorer.</p>
    <h4>312.4.2 HOLSTERS</h4>
    <p>Only department-approved holsters shall be used and worn by members. Members shall periodically inspect their holsters to make sure they are serviceable and provide the proper security and retention of the handgun.</p>
    <h4>312.4.3 TACTICAL LIGHTS</h4>
    <p>Tactical lights may only be installed on a firearm carried on- or off-duty after they have been examined and approved by the Armorer. Once the approved tactical lights have been properly installed on any firearm, the member shall qualify with the firearm to ensure proper functionality and sighting of the firearm prior to carrying it.</p>
    <h4>312.4.4 OPTICS OR LASER SIGHTS</h4>
    <p>Optics or laser sights may only be installed on a firearm carried on- or off-duty after they have been examined and approved by the Armorer. Any approved sight shall only be installed in strict accordance with manufacturer specifications. Once approved sights have been properly installed on any firearm, the member shall qualify with the firearm to ensure proper functionality and sighting of the firearm prior to carrying it.</p>
    <p>Except in an approved training situation, a member may only sight in on a target when the member would otherwise be justified in pointing a firearm at the target.</p>

    <h3>312.5 SAFE HANDLING, INSPECTION AND STORAGE</h3>
    <p>Members shall maintain the highest level of safety when handling firearms and shall consider the following:</p>
    <ol class="alpha">
        <li>Members shall not unnecessarily display or handle any firearm.</li>
        <li>Members shall be governed by all rules and regulations pertaining to the use of the range and shall obey all orders issued by the Firearms Instructor. Members shall not dry fire or practice quick draws except under instructor supervision while at the range.</li>
        <li>Members shall not clean, repair, load or unload a firearm anywhere in the Department, except where clearing barrels are present.</li>
        <li>Rifles removed from vehicles or storage shall be loaded and unloaded using clearing barrels.</li>
        <li>Members shall not place or store any firearm or other weapon on department premises except where the place of storage is locked. No one shall carry firearms into a jail or any part thereof when securing or processing an arrestee, but shall place all firearms in a secured location.</li>
        <li>Members shall not use any automatic firearm, heavy caliber rifle, gas or other type of chemical weapon or firearm from the armory, except with approval of a supervisor.</li>
        <li>Any firearm authorized by the Department to be carried on- or off-duty that is determined by a member to be malfunctioning or in need of service or repair shall not be carried. It shall be promptly presented to the Department or a Armorer approved by the Department for inspection and repair. Any firearm deemed in need of repair or service by the Armorer will be immediately removed from service. If the firearm is the member’s primary duty firearm, a replacement firearm will be issued to the member until the duty firearm is serviceable.</li>
    </ol>
    <h4>312.5.1 INSPECTION AND STORAGE</h4>
    <p>Handguns shall be inspected regularly and upon access or possession by another person. Rifles shall be inspected at the beginning of the shift by the member to whom the weapon is issued. The member shall ensure that the firearm is carried in the proper condition and loaded with approved ammunition. Inspection of the rifle shall be done while standing outside of the patrol vehicle. All firearms shall be pointed in a safe direction or into clearing barrels.</p>
    <p>Personally owned firearms may be safely stored in lockers at the end of the shift. Department- owned firearms shall be stored appropriately. Handguns may remain loaded if they are secured in an appropriate holster. Rifles shall be unloaded in a safe manner and then stored appropriately.</p>
    <h4>312.5.2 STORAGE AT HOME</h4>
    <p>Members shall ensure that all firearms and ammunition are locked and secured while in their homes, vehicles or any other area under their control, and in a manner that will keep them inaccessible to children and others who should not have access. Members shall not permit department-issued firearms to be handled by anyone not authorized by the Department to do so. Members should be aware that negligent storage of a firearm could result in civil and criminal liability (Minn. Stat. § 609.666; Minn. Stat. § 609.378).</p>
    <h4>312.5.3 ALCOHOL AND DRUGS</h4>
    <p>Firearms shall not be carried by any member, either on- or off-duty, who has consumed an amount of an alcoholic beverage, taken any drugs or medication, or has taken any combination thereof that would tend to adversely affect the member’s senses or judgment.</p>

    <h3>312.6 FIREARMS TRAINING AND QUALIFICATIONS</h3>
    <p>All members who carry a firearm while on-duty are required to successfully complete training with their duty firearms. In addition to regular training, all members will qualify at least annually with their duty firearms (Minn. Stat. § 626.8452). Members will qualify with off-duty and secondary firearms at least once a year. Training and qualifications must be on an approved range course.</p>
    <p>At least annually, all members carrying a firearm should receive practical training designed to simulate field situations including low-light shooting.</p>
    <h4>312.6.1 NON-CERTIFICATION OR NON-QUALIFICATION</h4>
    <p>If any member fails to meet minimum standards for firearms training or qualification for any reason, including injury, illness, duty status or scheduling conflict, that member shall submit a memorandum to his/her immediate supervisor prior to the end of the required training or qualification period.</p>
    <p>Those who fail to meet minimum standards or qualify on their first shooting attempt shall be provided remedial training and will be subject to the following requirements:</p>
    <ol class="alpha">
        <li>Additional range assignments may be scheduled to assist the member in demonstrating consistent firearm proficiency.</li>
        <li>Members shall be given credit for a range training or qualification when obtaining a qualifying score or meeting standards after remedial training.</li>
        <li>No range credit will be given for the following:
            <ol class="decimal">
                <li>Unauthorized range make-up</li>
                <li>Failure to meet minimum standards or qualify after remedial training</li>
            </ol>
        </li>
    </ol>
    <p>Members who repeatedly fail to meet minimum standards will be removed from field assignment and may be subject to disciplinary action.</p>

    <h3>312.7 FIREARM DISCHARGE</h3>
    <p>Except during training or recreational use, any member who discharges a firearm intentionally or unintentionally, on- or off-duty, shall make a verbal report to his/her supervisor as soon as circumstances permit. If the discharge results in injury or death to another person, additional statements and reports shall be made in accordance with the Officer-Involved Shootings and Deaths Policy. If a firearm was discharged as a use of force, the involved member shall adhere to the additional reporting requirements set forth in the Use of Force Policy.</p>
    <p>In all other cases, written reports shall be made as follows:</p>
    <ol class="alpha">
        <li>If on-duty at the time of the incident, the member shall file a written report with his/her Captain or provide a recorded statement to investigators prior to the end of shift, unless otherwise directed.</li>
        <li>If off-duty at the time of the incident, a written report shall be submitted or recorded statement provided no later than the end of the next regularly scheduled shift, unless otherwise directed by a supervisor.</li>
    </ol>
    <h4>312.7.1 DESTRUCTION OF ANIMALS</h4>
    <p>Members are authorized to use firearms to stop an animal in circumstances where the animal reasonably appears to pose an imminent threat to human safety and alternative methods are not reasonably available or would likely be ineffective.</p>
    <p>In circumstances where there is sufficient advance notice that a potentially dangerous animal may be encountered, department members should develop reasonable contingency plans for dealing with the animal (e.g., fire extinguisher, Taser® device, oleoresin capsicum (OC) spray, animal control officer). Nothing in this policy shall prohibit any member from shooting a dangerous animal if circumstances reasonably dictate that a contingency plan has failed or becomes impractical.</p>
    <h4>312.7.2 INJURED ANIMALS</h4>
    <p>With the approval of a supervisor, a member may euthanize an animal that is so badly injured that human compassion requires its removal from further suffering and where other dispositions are impractical.</p>
    <h4>312.7.3 WARNING AND OTHER SHOTS</h4>
    <p>Warning shots are prohibited. Shots fired for the purpose of summoning aid are discouraged and may not be discharged unless the member reasonably believes that they appear necessary, effective and reasonably safe.</p>
    <h4>312.7.4 REPORTING FIREARMS DISCHARGE</h4>
    <p>The Chief of Police shall notify the Commissioner of Public Safety within 30 days of an on-duty firearm discharge, except when the discharge is in the course of training or destruction of animals (described in this policy). The notification shall contain information concerning the reason for and circumstances surrounding the discharge (Minn. Stat. § 626.553).</p>

    <h3>312.8 ARMORER / FIREARMS INSTRUCTOR DUTIES</h3>
    <p>The range will be under the exclusive control of the Armorer / Firearms Instructor. All members attending will follow the directions of the Armorer. The Armorer will maintain a roster of all members attending the range and will submit the roster to the Training Supervisor after each range date. Failure of any member to sign in and out with the Armorer may result in non-participation or non- qualification.</p>
    <p>The range shall remain operational and accessible to department members during hours established by the Department.</p>
    <p>The Armorer has the responsibility of making periodic inspection, at least once a year, of all duty firearms carried by members of this department to verify proper operation. The Armorer has the authority to deem any department-issued or privately owned firearm unfit for service. The member will be responsible for all repairs to his/her personally owned firearm; it will not be returned to service until inspected and approved by the Armorer.</p>
    <p>The Armorer has the responsibility for ensuring each member meets the minimum requirements during training shoots and, on at least a yearly basis, can demonstrate proficiency in the care, cleaning and safety of all firearms the member is authorized to carry.</p>
    <p>The Armorer shall complete and submit to the Training Supervisor documentation of the courses provided. Documentation shall include the qualifications of each instructor who provides the training, a description of the training provided and, on a form that has been approved by the Department, a list of each member who completes the training. The Armorer should keep accurate records of all training shoots, qualifications, repairs, maintenance or other records as directed by the Training Supervisor.</p>

    <h3>312.9 FLYING WHILE ARMED</h3>
    <p>The Transportation Security Administration (TSA) has imposed rules governing law enforcement officers flying armed on commercial aircraft. The following requirements apply to personnel who intend to be armed while flying on a commercial air carrier or flights where screening is conducted (49 CFR 1544.219):</p>
    <ol class="alpha">
        <li>Officers wishing to fly while armed must be flying in an official capacity, not for vacation or pleasure and must have a need to have the firearm accessible, as determined by the Department based on the law and published TSA rules.</li>
        <li>Officers must carry their Metro Transit Police Department identification card, bearing the officer's name, a full-face photograph, identification number, the officer's signature and the signature of the Chief of Police or the official seal of the Department and must present this identification to airline officials when requested. The officer should also carry the standard photo identification needed for passenger screening by airline and TSA officials (e.g., driver’s license, passport).</li>
        <li>The Metro Transit Police Department must submit a National Law Enforcement Telecommunications System (NLETS) message prior to the officer’s travel. If approved, TSA will send the Metro Transit Police Department an NLETS message containing a unique alphanumeric identifier. The officer must present the message on the day of travel to airport personnel as authorization to travel while armed.</li>
        <li>An official letter signed by the Chief of Police authorizing armed travel may also accompany the officer. The letter should outline the officer’s need to fly armed, detail his/her itinerary and include that the officer has completed the mandatory TSA training for a law enforcement officer flying while armed.</li>
        <li>Officers must have completed the mandated TSA security training covering officers flying while armed. The training shall be given by the department-appointed instructor.</li>
        <li>It is the officer’s responsibility to notify the air carrier in advance of the intended armed travel. This notification can be accomplished by early check-in at the carrier’s check-in counter.</li>
        <li>Any officer flying while armed should discreetly contact the flight crew prior to take-off and notify them of his/her assigned seat.</li>
        <li>Discretion must be used to avoid alarming passengers or crew by displaying a firearm. The officer must keep the firearm concealed on his/her person at all times. Firearms are not permitted in carry-on luggage and may not be stored in an overhead compartment.</li>
        <li>Officers should resolve any problems associated with flying armed through the flight captain, ground security manager, TSA representative or other management representative of the air carrier.</li>
        <li>Officers shall not consume alcoholic beverages while aboard an aircraft, or within eight hours prior to boarding an aircraft.</li>
    </ol>

    <h3>312.10 CARRYING FIREARMS OUT OF STATE</h3>
    <p>Qualified, active, full-time officers of this department are authorized to carry a concealed firearm in all other states subject to the following conditions (18 USC § 926B):</p>
    <ol class="alpha">
        <li>The officer shall carry his/her Metro Transit Police Department identification card whenever carrying such weapon.</li>
        <li>The officer is not the subject of any current disciplinary action.</li>
        <li>The officer may not be under the influence of alcohol or any other intoxicating or hallucinatory drug.</li>
        <li>The officer will remain subject to this and all other department policies (including qualifying and training).</li>
    </ol>
    <p>Officers are cautioned that individual states may enact local regulations that permit private persons or entities to prohibit or restrict the possession of concealed firearms on their property, or that prohibit or restrict the possession of firearms on any state or local government property, installation, building, base or park. Federal authority may not shield an officer from arrest and prosecution in such locally restricted areas.</p>
    <p>Active law enforcement officers from other states are subject to all requirements set forth in 18 USC § 926B.</p>
</div>
