<div class="chapter" id="314">
    <h2>314 - Vehicle Pursuits</h2>
    <h3>314.1 PURPOSE AND SCOPE</h3>
    <p>Vehicle pursuits expose innocent citizens, law enforcement officers and fleeing violators to the risk of serious injury or death. The primary purpose of this policy is to provide officers with guidance in balancing the safety of the public and themselves against law enforcement's duty to apprehend violators of the law. Another purpose of this policy is to minimize the potential for pursuit-related collisions. Vehicular pursuits require officers to exhibit a high degree of common sense and sound judgment. Officers must not forget that the immediate apprehension of a suspect is generally not more important than the safety of the public and pursuing officers (Minn. Stat. § 626.8458 Subd. 1).</p>
    <h4>314.1.1 PHILOSOPHY</h4>
    <p>Deciding whether to pursue a motor vehicle is a critical decision that must be made quickly and under difficult and unpredictable circumstances. In recognizing the risk to public safety created by vehicle pursuits, no officer or supervisor shall be criticized or disciplined for deciding not to engage in a vehicle pursuit due to the risk involved. This includes circumstances where Department policy would permit the initiation or continuation of the pursuit. It is recognized that vehicle pursuits are not always predictable and decisions made pursuant to this policy will be evaluated according to the totality of the circumstances reasonably available at the time of the pursuit (Minn. Stat. § 626.8458 Subd. 1).</p>
    <p>Officers must remember that the most important factors to the successful conclusion of a pursuit are proper self-discipline and sound professional judgment. Officers conduct during the course of a pursuit must be objectively reasonable; that is, what a reasonable officer would do under the circumstances. An individual’s unreasonable desire to apprehend a fleeing suspect at all costs has no place in professional law enforcement pursuit (Minn. Stat. § 626.8458 Subd. 2 (2)).</p>

    <h3>314.2 DEFINITIONS</h3>
    <p>Definitions related to this policy include:</p>
    <p><strong>Blocking or vehicle intercept</strong> - A slow-speed coordinated maneuver where two or more law enforcement vehicles simultaneously intercept and block the movement of a suspect vehicle, the driver of which may be unaware of the impending enforcement stop, with the goal of containment and preventing a pursuit. Blocking is not a moving or stationary road block.</p>
    <p><strong>Boxing-in</strong> - A tactic designed to stop a violator's vehicle by surrounding it with law enforcement vehicles and then slowing all vehicles to a stop.</p>
    <p><strong>Pursuit Intervention Technique (PIT)</strong> - A low-speed maneuver intended to terminate the pursuit by causing the violator's vehicle to spin out and come to a stop.</p>
    <p><strong>Ramming</strong> - The deliberate act of impacting a violator's vehicle with another vehicle to functionally damage or otherwise force the violator's vehicle to stop.</p>
    <p><strong>Roadblocks</strong> - A tactic designed to stop a violator's vehicle by intentionally placing a vehicle or other immovable object in the path of the violator's vehicle.</p>
    <p><strong>Spikes or tack strips</strong> - A device that extends across the roadway and is designed to puncture the tires of the pursued vehicle.</p>
    <p><strong>Terminate</strong> - When the officer discontinues the use of all emergency equipment, slows the marked squad car to the posted speed limit and turns off the pursuit route at the next available intersection or exit point.</p>
    <p><strong>Vehicle pursuit</strong> - An event in which a peace officer initiates a vehicular stop and a driver resists the signal or order to stop by increasing speed, taking evasive action or otherwise refusing to stop the vehicle.</p>

    <h3>314.3 OFFICER RESPONSIBILITIES</h3>
    <p>It is the policy of this department that a vehicle pursuit shall be conducted with at least one flashing red warning lamp visible from the front and a siren that is sounded when necessary to warn pedestrians or other drivers (Minn. Stat. § 169.17 and Minn. Stat. § 169.68).</p>
    <p>Operating an emergency vehicle in a pursuit with emergency lights and siren does not relieve the operator of an authorized emergency vehicle of the duty to drive with due regard for the safety of all persons, and does not protect the driver from the consequences of a reckless disregard for the safety of others.</p>
    <h4>314.3.1 WHEN TO INITIATE A PURSUIT</h4>
    <p>Officers are authorized to initiate a pursuit when it is reasonable to believe that a suspect is attempting to evade arrest or detention by fleeing in a vehicle that has been given a signal to stop by a peace officer.</p>
    <p>The following factors individually and collectively shall be considered in deciding whether to initiate or continue a pursuit (Minn. Stat. § 626.8458 Subd. 2(2); Minn. R. § 6700.2701):</p>
    <ol class="alpha">
        <li>Seriousness of the known or reasonably suspected crime and its relationship to community safety.</li>
        <li>The importance of protecting the public and balancing the known or reasonably suspected offense and the apparent need for immediate capture against the risks to officers, innocent motorists and others.</li>
        <li>Apparent nature of the fleeing suspect (e.g., whether the suspect represents a serious threat to public safety).</li>
        <li>The identity of the suspect has been verified and there is comparatively minimal risk in allowing the suspect to be apprehended at a later time.</li>
        <li>Safety of the public in the area of the pursuit, including the type of area, time of day, the amount of vehicular and pedestrian traffic (e.g., school zones) and the speed of the pursuit relative to these factors.</li>
        <li>Pursuing officer's familiarity with the area of the pursuit, the quality of radio communications between the pursuing units and the dispatcher/supervisor, and the driving capabilities of the pursuing officers under the conditions of the pursuit.</li>
        <li>Weather, traffic and road conditions that unreasonably increase the danger of the pursuit when weighed against the risks resulting from the suspect's escape.</li>
        <li>Performance capabilities of the vehicles used in the pursuit in relation to the speeds and other conditions of the pursuit.</li>
        <li>Vehicle speeds.</li>
        <li>Other persons in or on the pursued vehicle (e.g., passengers, co-offenders and hostages).</li>
        <li>Age of the suspect and occupants.</li>
        <li>Availability of other resources, such as aircraft assistance.</li>
        <li>The police unit is carrying passengers other than on-duty police officers. Pursuits should not be undertaken with a prisoner in the pursuit vehicle unless exigent circumstances exist, and then only after the need to apprehend the suspect is weighed against the safety of the prisoner in transport. A unit containing more than a single prisoner should not participate in a pursuit.</li>
    </ol>
    <h4>314.3.2 WHEN TO TERMINATE A PURSUIT</h4>
    <p>Pursuits should be discontinued whenever the totality of objective circumstances known or which reasonably ought to be known to the officer or supervisor during the pursuit indicates that the present risks of continuing the pursuit reasonably appear to outweigh the risks resulting from the suspect's escape.</p>
    <p>The above factors on when to initiate a pursuit are expressly included herein and will apply equally to the decision to discontinue as well as the decision to initiate a pursuit. Officers and supervisors must objectively and continuously weigh the seriousness of the offense against the potential danger to innocent motorists, themselves and the public when electing to continue a pursuit. In the context of this policy, the term “terminate” shall be construed to mean discontinue or to stop chasing the fleeing vehicle.</p>
    <p>In addition to the factors listed above, the following factors should be considered when deciding whether to terminate a pursuit (Minn. Stat. § 626.8458 Subd. 2 (2); Minn. R. § 6700.2701):</p>
    <ol class="alpha">
        <li>Distance between the pursuing officers and the fleeing vehicle is so great that further pursuit would be futile or require the pursuit to continue for an unreasonable time or distance.</li>
        <li>Pursued vehicle's location is no longer definitely known.</li>
        <li>Officer's pursuit vehicle sustains damage or a mechanical failure that renders it unsafe to drive</li>
        <li>ursuit vehicle suffers an emergency equipment failure that causes the vehicle to no longer qualify for emergency operation use.</li>
        <li>Extended pursuits of violators for misdemeanors not involving abuse or risk of serious harm (independent of the pursuit) are discouraged.</li>
        <li>Hazards to uninvolved bystanders or motorists.</li>
        <li>If the identity of the offender is known and it does not reasonably appear that the need for immediate capture outweighs the risks associated with continuing the pursuit, officers should strongly consider discontinuing the pursuit and apprehending the offender at a later time.</li>
        <li>When radio communications are broken or inadequate.</li>
        <li>When the danger that the continued pursuit poses to the public, the officers or the suspect is too great, balanced against the risk of allowing the suspect to remain at large.</li>
        <li>When directed to terminate the pursuit by a supervisor.</li>
    </ol>
    <h4>314.3.3 SPEED LIMITS</h4>
    <p>The speed of a pursuit is a factor that should be evaluated on a continuing basis by the officer and supervisor. Evaluation of vehicle speeds shall take into consideration public safety, officer safety and the safety of the occupants of the fleeing vehicle.</p>
    <p>Should high vehicle speeds be reached during a pursuit, officers and supervisors shall also consider these factors when determining the reasonableness of the speed of the pursuit:</p>
    <ol class="alpha">
        <li>Pursuit speeds have become unreasonably unsafe for the surrounding conditions.</li>
        <li>Pursuit speeds have exceeded the driving ability of the officer.</li>
        <li>Pursuit speeds are beyond the capabilities of the pursuit vehicle thus making its operation unsafe.</li>
    </ol>

    <h3>314.4 PURSUIT UNITS</h3>
    <p>Pursuit units should be limited to three vehicles (two units and a supervisor). However, the number of units involved will vary with the circumstances (Minn. R. § 6700.2701 (B)).</p>
    <p>An officer or supervisor may request additional units to join a pursuit if, after assessing the factors outlined above, it appears that the number of officers involved would be insufficient to safely arrest the suspect(s). All other officers shall stay out of the pursuit but should remain alert to its progress and location. Any officer who drops out of a pursuit may then, if necessary, proceed to the termination point at legal speeds, following the appropriate rules of the road.</p>
    <p>Distinctively marked patrol vehicles should replace unmarked vehicles involved in a pursuit whenever practicable.</p>
    <h4>314.4.1 VEHICLES WITHOUT EMERGENCY EQUIPMENT</h4>
    <p>Vehicles not equipped with red light and siren are prohibited from initiating or joining in any pursuit. Officer(s) in such vehicles may provide support to pursuing units as long as their vehicle is operated in compliance with all traffic laws.</p>
    <h4>314.4.2 PRIMARY UNIT RESPONSIBILITIES</h4>
    <p>The initial pursuing officer will be designated as the primary pursuit unit and will be responsible for the conduct of the pursuit unless it is unable to remain reasonably close enough to the violator’s vehicle. The primary responsibility of the officer initiating the pursuit is the apprehension of the suspect(s) without unreasonable danger to him/herself or other persons (Minn. Stat. § 626.8458 Subd. 2 (4)).</p>
    <p>The primary unit should notify Transit Control Center, commencing with a request for priority radio traffic, that a vehicle pursuit has been initiated, and as soon as practicable provide information including, but not limited to:</p>
    <ol class="alpha">
        <li>Reason for the pursuit.</li>
        <li>Location and direction of travel.</li>
        <li>Speed of the fleeing vehicle.</li>
        <li>Description of the fleeing vehicle and license number, if known.</li>
        <li>Number of occupants.</li>
        <li>The identity or description of the known occupants.</li>
        <li>Weather, road and traffic conditions.</li>
        <li>Identity of other agencies involved in the pursuit.</li>
        <li>Information concerning the use of firearms, threat of force, injuries, hostages or other unusual hazards.</li>
        <li>Request for medical assistance for any person injured in the course of the pursuit (Minn. Stat. § 626.8458 Subd. 2 (6); Minn. R. § 6700.2701).</li>
    </ol>
    <p>Unless relieved by a supervisor or secondary unit, the officer in the primary unit shall be responsible for broadcasting the progress of the pursuit. Unless circumstances reasonably indicate otherwise, the primary unit should relinquish the responsibility of broadcasting the progress of the pursuit to a secondary unit or aircraft joining the pursuit to minimize distractions and allow the primary unit to concentrate foremost on safe pursuit tactics (Minn. R. § 6700.2701).</p>
    <h4>314.4.3 SECONDARY UNITS RESPONSIBILITIES</h4>
    <p>The second officer in the pursuit is responsible for the following (Minn. R. § 6700.2701):</p>
    <ol>
        <li>Immediately notifying the dispatcher of entry into the pursuit.</li>
        <li>Remaining at a safe distance behind the primary unit unless directed to assume the role of primary officer, or if the primary unit is unable to continue the pursuit.</p>
            <p><br></li>
        <li>Broadcasting the progress of the pursuit unless the situation indicates otherwise.</li>
        <li>Serve as backup to the primary unit once the subject has been stopped.</li>
    </ol>
    <h4>314.4.4 PURSUIT DRIVING TACTICS</h4>
    <p>The decision to use or not use specific driving tactics requires the same assessment of considerations outlined in the factors to be considered concerning pursuit initiation and termination. The following are tactics for units involved in the pursuit (Minn. Stat. § 626.8458 Subd. 2 (2)):</p>
    <ol>
        <li>Officers, considering their driving skills and vehicle performance capabilities, will space themselves from other involved vehicles such that they are able to see and avoid hazards or react safely to maneuvers by the fleeing vehicle.</li>
        <li>Officers may proceed past a red or stop signal or stop sign but only after slowing down and utilizing a flashing red lamp or siren as may be necessary for safe operation (Minn. Stat. § 169.03, Subd. 2).</li>
        <li>As a general rule, officers should not pursue a vehicle driving the wrong way on a roadway, highway or freeway. In the event the pursued vehicle does so, the following tactics should be considered:</p>
            <ol class="decimal">
                <li>Request assistance from an available air unit.</li>
                <li>Maintain visual contact with the pursued vehicle by paralleling on the correct side of the roadway.</li>
                <li>Request other units to observe exits available to the suspect(s).</li>
            </ol>
        </li>
        <li>Notify the Minnesota State Patrol or other law enforcement agency if it appears the pursuit may enter their jurisdiction.</li>
        <li>Officers involved in a pursuit should not attempt to pass other units unless the situation indicates otherwise or they are requested to do so by the primary unit, and a clear understanding of the maneuver process exists between the involved officers.</li>
    </ol>
    <h4>314.4.5 TACTICS/PROCEDURES FOR UNITS NOT INVOLVED IN THE PURSUIT</h4>
    <p>There should be no paralleling of the pursuit route. Officers are authorized to use emergency equipment at intersections along the pursuit path to clear intersections of vehicular and pedestrian traffic to protect the public. Officers should remain in their assigned area and should not become involved with the pursuit unless directed otherwise by a supervisor.</p>
    <p>Non-pursuing personnel needed at the termination of the pursuit should respond in a non- emergency manner, observing the rules of the road.</p>
    <p>The primary unit, secondary unit and supervisor should be the only units operating under emergency conditions (emergency lights and siren) unless other units are assigned to the pursuit.</p>
    <h4>314.4.6 PURSUIT TRAILING</h4>
    <p>In the event the initiating unit from this agency relinquishes control of the pursuit to another unit or jurisdiction, that initiating unit may, with permission of a supervisor, trail the pursuit to the termination point in order to provide necessary information and assistance for the arrest of the suspect(s).</p>
    <p>The term "trail" means to follow the path of the pursuit at a safe speed while obeying all traffic laws and without activating emergency equipment. If the pursuit is at a slow rate of speed, the trailing unit will maintain sufficient distance from the pursuit units so as to clearly indicate an absence of participation in the pursuit.</p>
    <h4>314.4.7 AIRCRAFT ASSISTANCE</h4>
    <p>When available, aircraft assistance should be requested. Once the air unit has established visual contact with the pursued vehicle, it should assume control over the pursuit. The primary and secondary ground units should consider whether the participation of an aircraft warrants their continued involvement in the pursuit (Minn. Stat. § 626.8458 Subd. 2 (4)).</p>
    <p>The air unit should coordinate the activities of resources on the ground, report progress of the pursuit and provide officers and supervisors with details of upcoming traffic congestion, road hazards or other pertinent information to evaluate whether to continue the pursuit. If ground units are not within visual contact and the air unit determines that it is unsafe to continue the pursuit, the air unit should recommend terminating the pursuit.</p>

    <h3>314.5 SUPERVISORY CONTROL AND RESPONSIBILITIES</h3>
    <p>It is the policy of this department that available supervisory and management control will be exercised over all vehicle pursuits involving officers from this department (Minn. Stat. § 626.8458 Subd. 2 (4); Minn. R. § 6700.2701).</p>
    <p>The field supervisor of the officer initiating the pursuit, or if unavailable, the nearest field supervisor will be responsible for the following:</p>
    <ol class="alpha">
        <li>Upon becoming aware of a pursuit, immediately notify involved officers and Transit Control Center of supervisory presence and ascertaining all reasonably available information to continuously assess the situation and risk factors associated with the pursuit in order to ensure that the pursuit is conducted within established Department guidelines.</li>
        <li>Engage in the pursuit, when appropriate, to provide on-scene supervision.</li>
        <li>Exercise management and control of the pursuit even if not engaged in it.</li>
        <li>Ensure that no more than the number of required law enforcement units needed are involved in the pursuit under the guidelines set forth in this policy.</li>
        <li>Direct that the pursuit be terminated if, in his/her judgment, it is not justified to continue the pursuit under the guidelines of this policy.</li>
        <li>Ensure that aircraft assistance is requested if available.</li>
        <li>Ensure that the proper radio channel is being used.</li>
        <li>Ensure the notification and/or coordination of outside agencies if the pursuit either leaves or is likely to leave the jurisdiction of this agency.</li>
        <li>Control and manage MTPD units when a pursuit enters another jurisdiction.</li>
        <li>Prepare a post-pursuit critique and analysis of the pursuit for training purposes.</li>
    </ol>
    <h4>314.5.1 SHIFT SUPERVISOR RESPONSIBILITIES</h4>
    <p>Upon becoming aware that a pursuit has been initiated, the Shift Supervisor should monitor and continually assess the situation and ensure the pursuit is conducted within the guidelines and requirements of this policy. The Shift Supervisor has the final responsibility for the coordination, control and termination of a vehicle pursuit and shall be in overall command (Minn. Stat. § 626.8458 Subd. 2 (4); Minn. R. § 6700.2701).</p>
    <p>The Shift Supervisor shall review all pertinent reports for content and forward them to the Captain.</p>

    <h3>314.6 COMMUNICATIONS</h3>
    <p>If the pursuit is confined within the Metropolitan Transit Police Department area limits, radio communications will be conducted on the primary channel unless instructed otherwise by a supervisor or communications dispatcher. If the pursuit leaves the jurisdiction of this department or such is imminent, involved units should, whenever available, switch radio communications to an emergency channel most accessible by participating agencies and units (e.g. local agency channel and/or P-Tac 1) (Minn. R. § 6700.2701).</p>
    <h4>314.6.1 TRANSIT CONTROL CENTER RESPONSIBILITIES</h4>
    <p>Upon notification that a pursuit has been initiated, Transit Control Center will be responsible for the following (Minn. Stat. § 626.8458 Subd. 2 (4)):</p>
    <ol>
        <li>Coordinate pursuit communications of the involved units and personnel.</li>
        <li>Notify and coordinate with other involved or affected agencies as practicable.</li>
        <li>Ensure that a field supervisor is notified of the pursuit.</li>
        <li>Assign an incident number and log all pursuit activities.</li>
        <li>Broadcast pursuit updates as well as other pertinent information as necessary.</li>
        <li>Notify the Shift Supervisor as soon as practicable.</li>
    </ol>
    <h4>314.6.2 LOSS OF PURSUED VEHICLE</h4>
    <p>When the pursued vehicle is lost, the primary unit should broadcast pertinent information to assist other units in locating the vehicle. The primary unit will be responsible for coordinating any further search for either the pursued vehicle or suspects fleeing on foot.</p>

    <h3>314.7 INTER-JURISDICTIONAL CONSIDERATIONS</h3>
    <p>When a pursuit enters another agency's jurisdiction, the primary officer or supervisor, taking into consideration distance traveled, unfamiliarity with the area and other pertinent facts, should determine whether to request the other agency to assume the pursuit. Unless entry into another jurisdiction is expected to be brief, it is generally recommended that the primary officer or supervisor ensure that notification is provided to the dispatcher and to each outside jurisdiction into which the pursuit is reasonably expected to enter, regardless of whether such jurisdiction is expected to assist (Minn. Stat. § 626.8458 Subd. 2 (5); Minn. R. § 6700.2701).</p>
    <p>If a pursuit from another agency enters the Department’s jurisdiction, if aware, the Transit Control Center should update the on-duty supervisor.</p>
    <h4>314.7.1 ASSUMPTION OF PURSUIT BY ANOTHER AGENCY</h4>
    <p>Metro Transit Police Department officers will discontinue the pursuit when another agency has assumed the pursuit unless continued assistance of the Metro Transit Police Department is requested by the agency assuming the pursuit. Upon discontinuing the pursuit, the primary unit may proceed upon request, with or at the direction of a supervisor, to the termination point to assist in the investigation.</p>
    <p>The role and responsibilities of officers at the termination of a pursuit initiated by this department shall be coordinated with appropriate consideration of the units from the agency assuming the pursuit.</p>
    <p>Notification of a pursuit in progress should not be construed as a request to join the pursuit. Requests to or from another agency to assume a pursuit should be specific. Because of communication limitations between local agencies, a request for another agency's assistance will mean that its personnel will assume responsibilities for the pursuit. For the same reasons, when a pursuit leaves another jurisdiction and a request for assistance is made to this department, the other agency should relinquish control.</p>
    <h4>314.7.2 PURSUITS EXTENDING INTO THIS JURISDICTION</h4>
    <p>The agency that initiates a pursuit shall be responsible for conducting the pursuit. Units from this department should not join a pursuit unless specifically requested to do so by the agency whose peace officers are in pursuit. An exception to being specifically requested to join a pursuit, is if the initiating agency has only a single unit in the pursuit. Under this circumstance, and if authorized by a supervisor, a unit from this department may join the pursuit until sufficient units from the initiating agency join the pursuit.</p>
    <p>When a request is made for this department to assist or take over a pursuit from another agency that has entered this jurisdiction, the supervisor should consider these additional following factors:</p>
    <ol class="alpha">
        <li>Ability to maintain the pursuit.</li>
        <li>Circumstances serious enough to continue the pursuit.</li>
        <li>Adequate staffing to continue the pursuit.</li>
        <li>The public's safety within this jurisdiction.</li>
        <li>Safety of the pursuing officers.</li>
    </ol>
    <p>As soon as practicable, the Shift Supervisor should review a request for assistance from another agency. The Shift Supervisor, after consideration of the above factors, may decline to assist in or assume the other agency's pursuit.</p>
    <p>Assistance to a pursuing outside agency by officers of this department will terminate when the supervisor orders the termination or when the pursuing peace officers have sufficient assistance from other sources. Ongoing participation from this department may continue only until sufficient assistance is present.</p>
    <p>In the event that a pursuit from another agency terminates within the Metro Transit Police Department's jurisdiction, officers shall provide appropriate assistance to peace officers from the outside agency including, but not limited to, scene control, coordination and completion of supplemental reports and any other assistance requested or needed.</p>

    <h3>314.8 PURSUIT INTERVENTION</h3>
    <p>Pursuit intervention is an attempt to terminate the ability of a suspect to continue to flee in a motor vehicle through tactical application of technology, road spikes, blocking, boxing, PIT (Pursuit Intervention Technique), ramming or roadblock procedures.</p>
    <h4>314.8.1 WHEN USE AUTHORIZED</h4>
    <p>Use of pursuit intervention tactics should be employed only after approval of a supervisor. In deciding whether to use intervention tactics, officers/supervisors should balance the risks of allowing the pursuit to continue with the potential hazards arising from the use of each tactic to the public, the officers and persons in or on the pursued vehicle. With these risks in mind, the decision to use any intervention tactic should be reasonable in light of the circumstances apparent to the officer at the time of the decision (Minn. Stat. § 626.8458 Subd. 2; Minn. R. § 6700.2701).</p>
    <p>It is imperative that officers act within legal bounds using good judgment and accepted practices.</p>
    <h4>314.8.2 USE OF FIREARMS</h4>
    <p>The use of firearms to disable a pursued vehicle is not generally an effective tactic and involves all the dangers associated with discharging firearms. Officers should not utilize firearms during an ongoing pursuit unless the conditions and circumstances meet the requirements authorizing the use of deadly force. Nothing in this section shall be construed to prohibit any officer from using a firearm to stop a suspect from using a vehicle as a deadly weapon.</p>
    <h4>314.8.3 INTERVENTION STANDARDS</h4>
    <p>Any pursuit intervention tactic, depending upon the conditions and circumstances under which it is used, may present dangers to the officers, the public or anyone in or on the vehicle being pursued. Certain applications of intervention tactics may be construed to be a use of force, including deadly force, and are subject to Department policies guiding such use. Officers who have not received Department-approved training in the application and use of any intervention tactic or</p>
    <p>equipment shall consider these facts and requirements prior to deciding how, when, where and if an intervention tactic should be employed.</p>
    <ol class="alpha">
        <li>Blocking or vehicle intercept should only be considered in cases involving felony suspects or impaired drivers who pose a threat to public safety when officers reasonably believe that attempting a conventional enforcement stop will likely result in the driver attempting to flee in the vehicle. Because of the potential risks involved, this technique should only be employed by officers who have received training in such tactics and after giving consideration to the following:
            <ol class="decimal">
                <li>The need to immediately stop the suspect vehicle or prevent it from leaving substantially outweighs the risks of injury or death to occupants of the suspect vehicle, officers or other members of the public.</li>
                <li>All other reasonable intervention techniques have failed or reasonably appear ineffective.</li>
                <li>Employing the blocking maneuver does not unreasonably increase the risk to officer safety.</li>
                <li>The target vehicle is stopped or traveling at a low speed.</li>
                <li>At no time should civilian vehicles be used to deploy this technique.</li>
            </ol>
        </li>
        <li>Only those officers trained in the use of the PIT will be authorized to use this procedure and only then with approval of a supervisor upon consideration of the circumstances and conditions presented at the time, including the potential for risk of injury to officers, the public and occupants of the pursued vehicle.</li>
        <li>Ramming a fleeing vehicle should be done only after other reasonable tactical means at the officer's disposal have been exhausted. This tactic should be reserved for situations where there does not appear to be another reasonable alternative method. This policy is an administrative guide to direct officers in their decision-making process before ramming another vehicle. When ramming is used as a means to stop a fleeing vehicle, the following factors should be present:
            <ol class="decimal">
                <li>The suspect is an actual or suspected felon, who reasonably appears to represent a serious threat to the public if not apprehended.</li>
                <li>The suspect is driving with willful or wanton disregard for the safety of other persons or is driving in a reckless and life-endangering manner.</li>
                <li>If there does not reasonably appear to be a present or immediately foreseeable serious threat to the public, the use of ramming is not authorized.</li>
            </ol>
        </li>
        <li>As with all intervention techniques, pursuing officers should obtain supervisor approval before attempting to box a suspect vehicle during a pursuit. The use of such a technique must be carefully coordinated with all involved units, taking into consideration the circumstances and conditions apparent at the time, as well as the potential risk of injury to officers, the public and occupants of the pursued vehicle.</li>
        <li>Spike strips should be deployed only when it is reasonably apparent that only the pursued vehicle will be affected by their use. Prior to the deployment of spike strips, the officer shall notify pursuing units and the supervisor of the intent and location. Officers should carefully consider the limitations of such devices as well as the potential risks to officers, the public and occupants of the pursued vehicle. If the pursued vehicle is a motorcycle, a vehicle transporting hazardous materials or a school bus transporting children officers and supervisors should weigh the potential consequences against the need to immediately stop the vehicle.</li>
        <li>Because roadblocks involve a potential for serious injury or death to occupants of the pursued vehicle if the suspect does not stop, the intentional placement of roadblocks in the direct path of a pursued vehicle is generally discouraged and should not be deployed without prior approval of a supervisor, and only then under extraordinary conditions when all other reasonable intervention techniques have failed or reasonably appear ineffective and the need to immediately stop the pursued vehicle substantially outweighs the risks of injury or death to occupants of the pursued vehicle, officers or other members of the public.</li>
    </ol>
    <h4>314.8.4 CAPTURE OF SUSPECTS</h4>
    <p>Proper self-discipline and sound professional judgment are the keys to a successful conclusion of a pursuit and apprehension of evading suspects. Officers shall use only that amount of force that reasonably appears necessary under the circumstances to properly perform their lawful duties.</p>
    <p>Unless relieved by a supervisor, the primary officer should coordinate efforts to apprehend the suspect(s) following the pursuit. Officers should consider safety of the public and the involved officers when formulating plans to contain and capture the suspect.</p>

    <h3>314.9 REPORTING AND REVIEW REQUIREMENTS</h3>
    <p>All appropriate reports shall be completed to comply with appropriate local and state regulations. The Records Supervisor shall ensure the appropriate forms are filed with the Department of Public Safety within 30 days (Minn. Stat. § 626.5532):</p>
    <ol class="alpha">
        <li>The primary officer shall complete appropriate crime/arrest reports.</li>
        <li>The primary officer or supervisor shall complete the appropriate pursuit report.</li>
        <li>After first obtaining available information, the on-duty field supervisor shall promptly complete a Supervisor's Log or interoffice memorandum, briefly summarizing the pursuit to the Chief of Police or designee. This memo should minimally contain the following information (Minn. Stat. § 626.5532):
            <ol class="decimal">
                <li>Date and time of pursuit.</li>
                <li>Length of pursuit in distance and time.</li>
                <li>Involved units and officers.</li>
                <li>Initial reason and circumstances surrounding the pursuit.</li>
                <li>Starting and termination points.</li>
                <li>Alleged offense, charges filed or disposition: arrest, citation or other release.</li>
                <li>Arrestee information should be provided if applicable.</li>
                <li>Injuries and/or property damage.</li>
                <li>Medical treatment.</li>
                <li>The outcome of the pursuit.</li>
                <li>Name of supervisor handling or at the scene.</li>
                <li>A preliminary determination that the pursuit appears to be in compliance with this policy or additional review and/or follow-up is warranted.</li>
            </ol>
        </li>
        <li>After receiving copies of reports, logs and other pertinent information, the Chief of Police or designee shall conduct or assign the completion of a post-pursuit review as appropriate to the circumstances.</li>
        <li>Annually, the Chief of Police should direct a documented review and analysis of Department vehicle pursuits to minimally include policy suitability, policy compliance and training needs.</li>
    </ol>
    <h4>314.9.1 REGULAR AND PERIODIC PURSUIT TRAINING</h4>
    <p>In addition to initial and supplementary training on pursuits, all licensed non-exempt employees will participate, no less than annually, in regular and periodic training on this policy and the importance of vehicle safety and protecting the public at all times. Training will include a recognition of the need to balance the known offense and the need for immediate capture against the risks to officers and others.</p>
    <p>The Training Coordinator shall ensure the frequency and content of emergency vehicle operations and vehicle pursuit training meets or exceeds that required by law (Minn. Stat. § 626.8458 Subd. 5; Minn. R. § 6700.2702).</p>
    <h4>314.9.2 POLICY REVIEW</h4>
    <p>Each licensed member of this department shall certify in writing that they have received, read and understand this policy initially and upon any amendments.</p>
    <h4>314.9.3 YEARLY CERTIFICATION</h4>
    <p>This policy shall be reviewed and certified to the state annually that it complies with requirements of any new or revised model policy adopted by the state (Minn. Stat. § 626.8458 Subd. 3).</p>
    <h4>314.9.4 PUBLIC DISCLOSURE</h4>
    <p>Copies of the current pursuit policy shall be made available to the public on request.</p>
</div>
