<div class="chapter" id="318">
    <h2>318 - Canines</h2>
    <h3>318.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes guidelines for the use of canines to augment law enforcement services to the community including, but not limited to, locating individuals and contraband and apprehending criminal offenders.</p>

    <h3>318.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that teams of handlers and canines meet and maintain the appropriate proficiency to effectively and reasonably carry out legitimate law enforcement objectives.</p>

    <h3>318.3 ASSIGNMENT</h3>
    <p>Canine teams should be assigned to assist and supplement the Patrol Division. However, they may be assigned by the Shift Supervisor to other functions such as routine calls for service based on the current operational needs.</p>
    <p>Canine teams should generally not be assigned to handle routine matters that will take them out of service for extended periods of time and then only with the approval of the Shift Supervisor.</p>

    <h3>318.4 CANINE COORDINATOR</h3>
    <p>The canine coordinator shall be appointed by and directly responsible to the Patrol Captain or the authorized designee.</p>
    <p>The responsibilities of the coordinator include, but are not limited to:</p>
    <ol class="alpha">
        <li>Reviewing all canine use reports to ensure compliance with policy and to identify training issues and other needs of the program.</li>
        <li>Maintaining liaison with the vendor kennel(s).</li>
        <li>Maintaining liaison with command staff and functional supervisors.</li>
        <li>Maintaining liaison with other agency canine coordinators.</li>
        <li>Maintaining accurate records to document canine activities.</li>
        <li>Recommending and overseeing the procurement of equipment and services for the teams of handlers and canines.</li>
        <li>Scheduling all canine-related activities.</li>
        <li>Ensuring the canine teams are scheduled for regular training to maximize their capabilities.</li>
    </ol>

    <h3>318.5 REQUESTS FOR CANINE TEAMS</h3>
    <p>Patrol Division members are encouraged to request the use of a canine. Requests for a canine team from department units outside of the Patrol Division shall be reviewed by the Shift Supervisor.</p>
    <h4>318.5.1 OUTSIDE AGENCY REQUEST</h4>
    <p>All requests for canine assistance from outside agencies must be approved by the Shift Supervisor and are subject to the following:</p>
    <ol class="alpha">
        <li>Canine teams shall not be used for any assignment that is not consistent with this policy.</li>
        <li>The canine handler shall have the authority to decline a request for any specific assignment that he/she deems unsuitable.</li>
        <li>Calling out off-duty canine teams is discouraged.</li>
        <li>It shall be the responsibility of the canine handler to coordinate operations with agency personnel in order to minimize the risk of unintended injury.</li>
        <li>It shall be the responsibility of the canine handler to complete all necessary reports or as directed.</li>
    </ol>
    <h4>318.5.2 PUBLIC DEMONSTRATIONS</h4>
    <p>All public requests for a canine team shall be reviewed and, if appropriate, approved by the canine coordinator prior to making any resource commitment. The canine coordinator is responsible for obtaining resources and coordinating involvement in the demonstration to include proper safety protocols. Canine handlers shall not demonstrate any apprehension work unless authorized to do so by the canine coordinator.</p>

    <h3>318.6 APPREHENSION GUIDELINES</h3>
    <p>A canine may be used to locate and apprehend a suspect if the canine handler reasonably believes that the individual has either committed, is committing or threatening to commit any serious offense and if any of the following conditions exist:</p>
    <ol class="alpha">
        <li>There is a reasonable belief the suspect poses an imminent threat of violence or serious harm to the public, any officer or the handler.</li>
        <li>The suspect is physically resisting or threatening to resist arrest and the use of a canine reasonably appears to be necessary to overcome such resistance.</li>
        <li>The suspect is believed to be concealed in an area where entry by other than the canine would pose a threat to the safety of officers or the public.</li>
    </ol>
    <p>It is recognized that situations may arise that do not fall within the provisions set forth in this policy. Such events require consideration of the totality of the circumstances and the use of an objective reasonableness standard applied to the decision to use a canine.</p>
    <p>Absent a reasonable belief that a suspect has committed, is committing or threatening to commit a serious offense mere flight from a pursuing officer without any of the above conditions shall not serve as the basis for the use of a canine to apprehend a suspect.</p>
    <p>Use of a canine to locate and apprehend a suspect wanted for a lesser criminal offense than those identified above requires approval from the Shift Supervisor. Absent a change in circumstances that present an imminent threat to officers the canine or the public, such canine use should be conducted on-leash or under conditions that minimize the likelihood the canine will bite or otherwise injure the individual.</p>
    <p>In all applications once the suspect has been located and no longer reasonably appears to present a threat or risk of escape the handler should secure the canine as soon as it becomes reasonably practicable. If the canine has apprehended the suspect with a secure bite, the handler should promptly command the canine to release the suspect.</p>
    <h4>318.6.1 PREPARATION FOR DEPLOYMENT</h4>
    <p>Prior to the use of a canine to search for or apprehend any suspect the canine handler and/or the supervisor on-scene should carefully consider all pertinent information reasonably available at the time. The information should include, but is not limited to:</p>
    <ol>
        <li>The nature and seriousness of the suspected offense.</li>
        <li>Whether violence or weapons were used or are anticipated.</li>
        <li>The degree of resistance or threatened resistance, if any, the suspect has shown.</li>
        <li>The suspect’s known or perceived age.</li>
        <li>The potential for injury to officers or the public caused by the suspect if the canine is not utilized.</li>
        <li>Any potential danger to the public and/or other officers at the scene if the canine is released.</li>
        <li>The potential for the suspect to escape or flee if the canine is not utilized.</li>
    </ol>
    <p>As circumstances permit the canine handler should make every reasonable effort to communicate and coordinate with other involved members to minimize the risk of unintended injury.</p>
    <p>It is the canine handler’s responsibility to evaluate each situation and determine whether the use of a canine is appropriate and reasonable. The canine handler shall have the authority to decline the use of the canine whenever he/she deems deployment is unsuitable.</p>
    <p>A supervisor who is sufficiently apprised of the situation may prohibit deploying the canine.</p>
    <p>Unless otherwise directed by a supervisor assisting members should take direction from the handler in order to minimize interference with the canine.</p>
    <h4>318.6.2 WARNINGS AND ANNOUNCEMENTS</h4>
    <p>Unless it would increase the risk of injury or escape a clearly audible warning announcing that a canine will be used if the suspect does not surrender should be made prior to releasing a canine. The handler should allow a reasonable time for a suspect to surrender and should quiet the canine momentarily to listen for any verbal response to the warning. If reasonably feasible, other members should be in a location opposite the warning to verify that the announcement could be heard. If available, warnings given in other languages should be used as necessary.</p>
    <p>If a warning is not to be given, the canine handler when reasonably practicable should first advise the supervisor of his/her decision before releasing the canine. In the event of an apprehension the handler shall document in any related report how the warning was given and, if none was given, the reasons why.</p>
    <h4>318.6.3 REPORTING DEPLOYMENTS, BITES AND INJURIES</h4>
    <p>Whenever a canine deployment results in a bite or causes injury to an intended suspect a supervisor should be promptly notified and the injuries documented in a canine use report. The injured person shall be promptly treated by emergency medical services personnel and, if appropriate, transported to an appropriate medical facility for further treatment. The deployment and injuries should also be included in any related incident or arrest report.</p>
    <p>Any unintended bite or injury caused by a canine, whether on- or off-duty, shall be promptly reported to the canine coordinator. Unintended bites or injuries caused by a canine should be documented in an administrative report, not in a canine use report.</p>
    <p>If an individual alleges an injury, either visible or not visible, a supervisor shall be notified and both the individual’s injured and uninjured areas shall be photographed as soon as reasonably practicable after first tending to the immediate needs of the injured party. Photographs shall be retained as evidence in accordance with current department evidence procedures. The photographs shall be retained until the criminal proceeding is completed and the time for any related civil proceeding has expired.</p>
    <p>Canines used by law enforcement agencies are generally exempt from dangerous dog registration, impoundment and reporting requirements (Minn. Stat. § 347.51, Subd. 4).</p>

    <h3>318.7 NON-APPREHENSION GUIDELINES</h3>
    <p>Properly trained canines may be used to track or search for non-criminals (e.g., lost children, individuals who may be disoriented or in need of medical attention). The canine handler is responsible for determining the canine’s suitability for such assignments based on the conditions and the particular abilities of the canine. When the canine is deployed in a search or other non- apprehension operation the following guidelines apply.</p>
    <ol class="alpha">
        <li>Absent a change in circumstances that present an immediate threat to officers the canine or the public, such applications should be conducted on-leash or under conditions that minimize the likelihood the canine will bite or otherwise injure the individual, if located.</li>
        <li>Unless otherwise directed by a supervisor assisting members should take direction from the handler in order to minimize interference with the canine.</li>
        <li>Throughout the deployment the handler should periodically give verbal assurances that the canine will not bite or hurt the individual and encourage the individual to make him/herself known.</li>
        <li>Once the individual has been located the canine should be placed in a down-stay or otherwise secured as soon as it becomes reasonably practicable.</li>
    </ol>
    <h4>318.7.1 ARTICLE DETECTION</h4>
    <p>A canine trained to find objects or property related to a person or crime may be used to locate or identify articles. A canine search should be conducted in a manner that minimizes the likelihood of unintended bites or injuries.</p>
    <h4>318.7.2 NARCOTICS DETECTION</h4>
    <p>A canine trained in narcotics detection may be used in accordance with current law and under certain circumstances, including:</p>
    <ol class="alpha">
        <li>The search of vehicles, buildings, bags and other articles.</li>
        <li>Assisting in the search for narcotics during a search warrant service.</li>
        <li>Obtaining a search warrant by using the narcotics-detection trained canine in support of probable cause.</li>
    </ol>
    <p>A narcotics-detection trained canine will not be used to search a person for narcotics unless the canine is trained to passively indicate the presence of narcotics.</p>
    <h4>318.7.3 BOMB/EXPLOSIVE DETECTION</h4>
    <p>Because of the high risk of danger to the public and officers when a bomb or other explosive device is suspected, the use of a canine team trained in explosive detection may be considered. When available an explosive-detection canine team may be used in accordance with current law and under certain circumstances, including:</p>
    <ol class="alpha">
        <li>Assisting in the search of a building, structure, area, vehicle or article where an actual or suspected explosive device has been reported or located.</li>
        <li>Assisting with searches at transportation facilities and vehicles (e.g., buses, airplanes and trains).</li>
        <li>Preventive searches at special events, VIP visits, official buildings and other restricted areas. Searches of individuals should remain minimally intrusive and shall be strictly limited to the purpose of detecting explosives.</li>
        <li>Assisting in the search of scenes where an explosion has occurred and an explosive device or secondary explosive device is suspected.</li>
    </ol>
    <p>At no time will an explosive-detection trained canine be used to render a suspected device safe or clear.</p>

    <h3>318.8 HANDLER SELECTION</h3>
    <p>The minimum qualifications for the assignment of canine handler include:</p>
    <ol class="alpha">
        <li>An officer who is currently off probation.</li>
        <li>Residing in an adequate residence (may require a single family home, minimum 5-foot high fence with locking gates for apprehension dogs).</li>
        <li>A garage that can be secured and accommodate a canine vehicle.</li>
        <li>Living within 45 minutes response time to the MTPD.</li>
        <li>Agreeing to be assigned to the position for a minimum of three years.</li>
    </ol>

    <h3>318.9 HANDLER RESPONSIBILITIES</h3>
    <p>The canine handler shall ultimately be responsible for the health and welfare of the canine and shall ensure that the canine receives proper nutrition, grooming, training, medical care, affection and living conditions.</p>
    <p>The canine handler will be responsible for the following:</p>
    <ol class="alpha">
        <li>Except as required during appropriate deployment, the handler shall not expose the canine to any foreseeable and unreasonable risk of harm.</li>
        <li>The handler shall maintain all department equipment under his/her control in a clean and serviceable condition.</li>
        <li>When not in service the handler shall maintain the canine vehicle in a locked garage, away from public view.</li>
        <li>When a handler is off-duty for an extended number of days the assigned canine vehicle should be stored at the Metro Transit Police Department facility.</li>
        <li>Handlers shall permit the canine coordinator to conduct spontaneous on-site inspections of affected areas of their homes as well as their canine vehicles to verify that conditions and equipment conform to this policy.</li>
        <li>Any changes in the living status of the handler that may affect the lodging or environment of the canine shall be reported to the canine coordinator as soon as possible.</li>
        <li>When off-duty the canine shall be in a kennel provided by the MTPD at the home of the handler. When a canine is kenneled at the handler’s home the gate shall be secured with a lock. When off-duty the canine may be let out of the kennel while under the direct control of the handler.</li>
        <li>The canine should be permitted to socialize in the home with the handler’s family for short periods of time and under the direct supervision of the handler.</li>
        <li>Under no circumstances will the canine be lodged at another location unless approved by the canine coordinator or Shift Supervisor.</li>
        <li>When off-duty the handler shall not involve the canine in any law enforcement activity or official conduct unless approved in advance by the canine coordinator or Shift Supervisor.</li>
        <li>Whenever a canine handler is off-duty for an extended number of days it may be necessary to temporarily relocate the canine. In those situations the handler shall give reasonable notice to the canine coordinator so that appropriate arrangements can be made.</li>
    </ol>
    <h4>318.9.1 CANINE IN PUBLIC AREAS</h4>
    <p>The canine should be kept on a leash when in areas that allow access to the public. Exceptions to this rule would include specific law enforcement operations for which the canine is trained.</p>
    <ol class="alpha">
        <li>A canine shall not be left unattended in any area to which the public may have access.</li>
        <li>When the canine vehicle is left unattended all windows and doors shall be secured in such a manner as to prevent unauthorized access to the dog. The handler shall also ensure the unattended vehicle remains inhabitable for the canine.</li>
    </ol>

    <h3>318.10 HANDLER COMPENSATION</h3>
    <p>The canine handler shall be available for call-out under conditions specified by the canine coordinator.</p>
    <p>The canine handler shall be compensated for time spent in the care, feeding, grooming and other needs of the canine in accordance with the Fair Labor Standards Act (FLSA), and according to the terms of the memorandum of understanding (29 USC § 207).</p>

    <h3>318.11 CANINE INJURY AND MEDICAL CARE</h3>
    <p>In the event that a canine is injured or there is an indication that the canine is not in good physical condition the injury or condition will be reported to the canine coordinator or Shift Supervisor as soon as practicable and appropriately documented.</p>
    <p>All medical attention shall be rendered by the designated canine veterinarian, except during an emergency where treatment should be obtained from the nearest available veterinarian. All records of medical treatment shall be maintained in the handler’s personnel file.</p>

    <h3>318.12 TRAINING</h3>
    <p>Before assignment in the field each canine team shall be trained and certified to meet current nationally recognized standards or other recognized and approved certification standards. Cross- trained canine teams or those canine teams trained exclusively for the detection of narcotics and/ or explosives also shall be trained and certified to meet current nationally recognized standards or other recognized and approved certification standards established for their particular skills.</p>
    <p>The canine coordinator shall be responsible for scheduling periodic training for all departmentmembers in order to familiarize them with how to conduct themselves in the presence of department canines.</p>
    <p>All canine training should be conducted while on-duty unless otherwise approved by the canine coordinator or Shift Supervisor.</p>
    <h4>318.12.1 CONTINUED TRAINING</h4>
    <p>Each canine team shall thereafter be recertified to a current nationally recognized standard or other recognized and approved certification standards on an annual basis. Additional training considerations are as follows:</p>
    <ol class="alpha">
        <li>If applicable, canine teams should receive training as defined in the current contract with the Metro Transit Police Department canine training provider.</li>
        <li>Canine handlers are encouraged to engage in additional training with approval of the canine coordinator.</li>
        <li>To ensure that all training is consistent no handler, trainer or outside vendor is authorized to train to a standard that is not reviewed and approved by this department.</li>
    </ol>
    <h4>318.12.2 FAILURE TO SUCCESSFULLY COMPLETE TRAINING</h4>
    <p>Any canine team failing to graduate or obtain certification shall not be deployed in the field for tasks the team is not certified to perform until graduation or certification is achieved. When reasonably practicable pending successful certification the canine handler shall be temporarily reassigned to regular patrol duties.</p>
    <li><a name="bookmark315">TRAINING RECORDS</a></p>
    <p>All canine training records shall be maintained in the canine handler’s and the canine’s training file. These files shall be maintained by the handler and Canine Unit coordinator.</p>
    <h4>318.12.4 TRAINING AIDS</h4>
    <p>Training aids are required to effectively train and maintain the skills of canines. Officers possessing, using or transporting controlled substances or explosives for canine training purposes must comply with federal and state requirements regarding the same. Alternatively, the Metro Transit Police Department may work with outside trainers with the applicable licenses or permits.</p>
    <h4>318.12.5 CONTROLLED SUBSTANCE TRAINING AIDS</h4>
    <p>Officers acting in the performance of their official duties may possess or transfer controlled substances for the purpose of narcotics-detection canine training in compliance with federal laws and if they comply with applicable state requirements (21 USC § 823(f)).</p>
    <p>The Chief of Police or the authorized designee may authorize a member to seek a court order to allow controlled substances seized by the Metro Transit Police Department to be possessed by the member or a narcotics-detection canine trainer who is working under the direction of this department for training purposes provided the controlled substances are no longer needed as criminal evidence.</p>
    <p>As an alternative, the Chief of Police or the authorized designee may request narcotics training aids from another law enforcement agency.</p>
    <p>These procedures are not required if the canine handler uses commercially available synthetic substances that are not controlled narcotics.</p>
    <h4>318.12.6 CONTROLLED SUBSTANCE PROCEDURES</h4>
    <p>Due to the responsibilities and liabilities involved with possessing readily usable amounts of controlled substances and the ever-present danger of the canine’s accidental ingestion of these controlled substances, the following procedures shall be strictly followed:</p>
    <ol class="alpha">
        <li>All controlled substance training samples shall be weighed and tested prior to dispensing to the individual canine handler or trainer.</li>
        <li>The weight and test results shall be recorded and maintained by the Canine Unit coordinator.</li>
        <li>Any person possessing controlled substance training samples pursuant to court order or DEA registration shall maintain custody and control of the controlled substances and shall keep records regarding any loss of, or damage to, those controlled substances.</li>
        <li>All controlled substance training samples will be inspected, weighed and tested quarterly. The results of the quarterly testing shall be recorded and maintained by the canine coordinator with a copy forwarded to the dispensing agency.</li>
        <li>All controlled substance training samples will be stored in locked, airtight and watertight cases at all times except during training. The locked cases shall be secured in the trunk of the canine handler’s assigned patrol vehicle during transport and stored in an appropriate locked container. There are no exceptions to this procedure.</li>
        <li>The canine coordinator shall periodically inspect every controlled substance training sample for damage or tampering and take any appropriate action.</li>
        <li>Any unusable controlled substance training samples shall be returned to the Property and Evidence or to the dispensing agency.</li>
        <li>All controlled substance training samples shall be returned to the dispensing agency upon the conclusion of the training or upon demand by the dispensing agency.</li>
    </ol>
    <h4>318.12.7 EXPLOSIVE TRAINING AIDS</h4>
    <p>Officers may possess, transport, store or use explosives or destructive devices in compliance with state and federal laws (Minn. Stat. § 609.668, Subd. 3(a)(1)); 18 USC § 842; 27 CFR 555.41).</p>
    <p>Explosive training aids designed specifically for canine teams should be used whenever reasonably feasible. Due to the safety concerns in the handling and transportation of explosives, inert or non-hazardous training aids should be employed whenever feasible. The use of explosives or destructive devices for training aids by canine teams is subject to the following:</p>
    <ol class="alpha">
        <li>All explosive training aids when not in use shall be properly stored in a secure facility appropriate for the type of materials.</li>
        <li>An inventory ledger shall be maintained to document the type and quantity of explosive training aids that are stored.</li>
        <li>The canine coordinator shall be responsible to verify the explosive training aids on hand against the inventory ledger once each quarter.</li>
        <li>Only members of the canine team shall have access to the explosive training aids storage facility.</li>
        <li>A primary and secondary custodian will be designated to minimize the possibility of loss of explosive training aids during and after the training. Generally the handler will be designated as the primary custodian while the trainer or authorized second person on-scene will be designated as the secondary custodian.</li>
        <li>Any lost or damaged explosive training aids shall be promptly reported to the canine coordinator who will determine if any further action will be necessary. Any loss of explosives will be reported to the Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF).</li>
    </ol>
</div>
