<div class="chapter" id="322">
    <h2>322 - Search and Seizure</h2>
    <h3>322.1 PURPOSE AND SCOPE</h3>
    <p>Both the federal and state Constitutions provide every individual with the right to be free from unreasonable searches and seizures. This policy provides general guidelines for Metro Transit Police Department personnel to consider when dealing with
        search and seizure issues.</p>

    <h3>322.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to respect the fundamental privacy rights of individuals. Members of this department will conduct searches in strict observance of the constitutional rights of persons being searched. All seizures
        by this department will comply with relevant federal and state law governing the seizure of persons and property.</p>
    <p>The Department will provide relevant and current training to officers as guidance for the application of current law, local community standards and prosecutorial considerations regarding specific search and seizure situations, as appropriate.</p>

    <h3>322.3 SEARCHES</h3>
    <p>The U.S. Constitution generally provides that a valid warrant is required in order for a search to be valid. There are, however, several exceptions that permit a warrantless search.</p>
    <p>Examples of law enforcement activities that are exceptions to the general warrant requirement include, but are not limited to, searches pursuant to the following:</p>
    <ul>
        <li>Valid consent</li>
        <li>Incident to a lawful arrest</li>
        <li>Legitimate community caretaking interests</li>
        <li>Vehicle searches under certain circumstances</li>
        <li>Exigent circumstances</li>
    </ul>
    <p>Certain other activities are recognized by federal and state courts and by certain statutes as legitimate law enforcement activities that also do not require a warrant. Such activities may include seizure and examination of abandoned property, and
        observations of activities and property located on open public areas.</p>
    <p>Because case law regarding search and seizure is constantly changing and subject to interpretation by the courts, each member of this department is expected to act in each situation according to current training and his/her familiarity with clearly
        established rights as determined by case law.</p>
    <p>Whenever practicable, officers are encouraged to contact a supervisor to resolve questions regarding search and seizure issues prior to electing a course of action.</p>

    <h3>322.4 SEARCH PROTOCOL</h3>
    <p>Although conditions will vary and officer safety and other exigencies must be considered in every search situation, the following guidelines should be followed whenever circumstances reasonably permit:</p>
    <ol class="alpha">
        <li>Members of this department will strive to conduct searches with dignity and courtesy.</li>
        <li>Officers should explain to the person being searched the reason for the search and how the search will be conducted.</li>
        <li>Searches should be carried out with due regard and respect for private property interests and in a manner that minimizes damage. Property should be left in a condition as close as reasonably possible to its pre-search condition.</li>
        <li>In order to minimize the need for forcible entry, an attempt should be made to obtain keys, combinations or access codes when a search of locked property is anticipated.</li>
        <li>When the person to be searched is of the opposite sex as the searching officer, a reasonable effort should be made to summon an officer of the same sex as the subject to conduct the search. When it is not practicable to summon an officer of the
            same sex as the subject, the following guidelines should be followed:</p>
            <ol class="decimal">
                <li>Another officer or a supervisor should witness the search.</li>
                <li>The officer should not search areas of the body covered by tight-fitting clothing, sheer clothing or clothing that could not reasonably conceal a weapon.</li>
            </ol>
        </li>
    </ol>

    <h3>322.5 DOCUMENTATION</h3>
    <p>Officers are responsible to document any search and to ensure that any required reports are sufficient including, at minimum, documentation of the following:</p>
    <ul>
        <li>Reason for the search</li>
        <li>Any efforts used to minimize the intrusiveness of any search (e.g., asking for consent or keys)</li>
        <li>What, if any, injuries or damage occurred</li>
        <li>All steps taken to secure property</li>
        <li>The results of the search, including a description of any property or contraband seized</li>
        <li>If the person searched is the opposite sex, any efforts to summon an officer of the same sex as the person being searched and the identification of any witness officer</li>
    </ul>
    <p>Supervisors shall review reports to ensure the reports are accurate, that actions are properly documented and that current legal requirements and department policy have been met.</p>
</div>