<div class="chapter" id="324">
    <h2>324 - Temporary Custody of Juveniles</h2>
    <h3>324.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines consistent with the Juvenile Justice and Delinquency Prevention Act for juveniles taken into temporary custody by members of the Metro Transit Police Department (42 USC § 5633; Minn. Stat. § 260B.176; Minn. Stat. §
        260C.176).</p>
    <p>This policy does not apply to secure detention facilities, shelter care facilities or the juvenile portion of an adult facility authorized to hold juveniles, but rather applies to the temporary custody of a juvenile before a juvenile is released,
        delivered to a court or delivered to any of these other facilities (Minn. Stat. § 260B.176 Subd. 3).</p>
    <h4>324.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Custodian or Guardian</strong> - A person who is under a legal obligation or who is in fact providing care and support for a minor (Minn. Stat. § 260B.007 Subd. 13; Minn. Stat. § 260C.007 Subd. 13).</p>
    <p><strong>Juvenile non-offender</strong> - An abused, neglected, dependent or alien juvenile who may be legally held for his/her own safety or welfare. This includes those held as runaways (Minn. Stat. § 260C.175), truancy violators (Minn. Stat. § 260C.143)
        and juveniles 15 years old or younger in custody related to their engaging in prostitution or related activities (Minn. Stat. § 260B.007 Subd. 6(c)). This also includes any juvenile who may have initially been contacted for an offense that would
        not subject an adult to arrest (e.g., fine-only offense) but was taken into custody for his/her protection or for purposes of reuniting the juvenile with a parent, guardian or other responsible person.</p>
    <p><strong>Juvenile offender</strong> - A juvenile 17 years of age or younger who is alleged to have committed an offense that would subject an adult to arrest (a non-status offense). It also includes possession of a handgun in violation of Minn. Stat.
        § 624.713 (28 CFR 31.303). This does not include a juvenile petty offender under Minn. Stat. § 260B.007.</p>
    <p><strong>Non-secure custody</strong> - When a juvenile is held in the presence of an officer or other custody employee at all times and is not placed in a locked room, cell or behind any locked doors. Juveniles in non-secure custody may be handcuffed
        but not to a stationary or secure object. Personal supervision through direct visual monitoring and audio two-way communication is maintained. Monitoring through electronic devices such as video does not replace direct visual observation.</p>
    <p><strong>Secure custody</strong> - When a juvenile offender is held in a locked room, a set of rooms or a cell. Secure custody also includes being physically secured to a stationary object.</p>
    <p>Examples of secure custody include:</p>
    <ol class="alpha">
        <li>A juvenile left alone in an unlocked room within the secure perimeter of the adult temporary holding area.</li>
        <li>A juvenile handcuffed to a rail.</li>
        <li>A juvenile placed in a room that contains doors with delayed egress devices that have a delay of more than 30 seconds.</li>
        <li>A juvenile being processed in a secure booking area when an unsecure booking area is available.</li>
        <li>A juvenile left alone in a secure booking area after being photographed and fingerprinted.</li>
        <li>A juvenile placed in a cell within the adult temporary holding area whether or not the cell door is locked.</li>
    </ol>
    <p><strong>Sight and sound separation</strong> - Located or arranged to prevent physical, visual or auditory contact.</p>
    <p><strong>Status offender</strong> - A juvenile suspected of committing a criminal violation of the law that would not be a criminal violation but for the age of the offender. Examples may include underage possession of tobacco or curfew violation.
        A juvenile in custody on a court order or warrant based upon a status offense is also a status offender. Juvenile petty offenders taken into custody should be considered a status offender for purposes of this policy (Minn. Stat. § 260B.007; Minn.
        Stat. § 260B.143).</p>

    <h3>324.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to releasing juveniles from temporary custody as soon as reasonably practicable and keeping juveniles safe while they are in temporary custody at the Metro Transit Police Department. Juveniles should
        be held in temporary custody only for as long as reasonably necessary for processing, transfer or release.</p>

    <h3>324.3 JUVENILES WHO SHOULD NOT BE HELD</h3>
    <p>Juveniles who exhibit any of the following conditions should not be held at the Metro Transit Police Department:</p>
    <ol class="alpha">
        <li>Unconscious</li>
        <li>Seriously injured</li>
        <li>A known suicide risk or obviously severely emotionally disturbed</li>
        <li>Significantly intoxicated</li>
        <li>Extremely violent or continuously violent</li>
    </ol>
    <p>Officers taking custody of a juvenile who exhibits any of the above conditions should take reasonable steps to provide medical attention or mental health assistance and notify a supervisor of the situation.</p>
    <p>These juveniles should not be held at the Metro Transit Police Department unless they have been evaluated by a qualified medical and/or mental health professional.</p>
    <p>If the officer taking custody of the juvenile believes the juvenile may be a suicide risk, the juvenile shall be under continuous direct supervision until evaluation, release or a transfer is completed.</p>
    <h4>324.3.1 SUICIDE PREVENTION OF JUVENILES IN CUSTODY</h4>
    <p>The arresting officer should be alert to potential symptoms based upon exhibited behavior that may indicate the juvenile is a suicide risk. These symptoms may include depression, refusal to communicate, verbally threatening to kill him/herself or
        any unusual behavior that may indicate the juvenile may harm him/herself while in custody.</p>

    <h3>CUSTODY OF JUVENILES</h3>
    <p>Officers should take custody of a juvenile and temporarily hold the juvenile at the Metro Transit Police Department when there is no other lawful and practicable alternative to temporary custody. Refer to the Child Abuse Policy for additional information
        regarding detaining a juvenile that is suspected of being a victim.</p>
    <p>No juvenile should be held in temporary custody at the Metro Transit Police Department without authorization of the arresting officer's supervisor or the Shift Supervisor.</p>
    <p>Any juvenile taken into custody shall be released to the care of the juvenile’s parent or other responsible adult or transferred to a juvenile custody facility or to other authority as soon as practicable and in no event shall a juvenile be held beyond
        six hours from the time of his/her entry into the Metro Transit Police Department (42 USC § 5633).</p>
    <h4>324.4.1 CUSTODY OF JUVENILE NON-OFFENDERS</h4>
    <p>Non-offenders taken into protective custody in compliance with the Child Abuse Policy should generally not be held at the Metro Transit Police Department. Custodial arrangements should be made for non-offenders as soon as reasonably possible (Minn.
        Stat. § 260B.175; Minn. Stat. § 260C.143; Minn. Stat. § 260C.176). Juvenile non-offenders may not be held in secure custody (42 USC § 5633).</p>
    <p>Juveniles detained for truancy violations may be released to a truancy service center, released to the superintendent or teacher at their school of enrollment, or released to a parent or legal guardian (Minn. Stat. § 260C.143; Minn. Stat. § 260A.04
        Subd. 3).</p>
    <h4>324.4.2 CUSTODY OF JUVENILE STATUS OFFENDERS</h4>
    <p>Status offenders should generally be released by citation or with a warning rather than taken into temporary custody. However officers may take custody of a status offender if requested to do so by a parent or legal guardian in order to facilitate
        reunification (e.g., transported home or to the station to await a parent). Juvenile status offenders may not be held in secure custody (42 USC § 5633).</p>
    <h3>324.4.3 CUSTODY OF JUVENILE OFFENDERS</h4>
							                                <p>Juvenile offenders should be held in non-secure custody while at the Metro Transit Police Department unless another form of custody is authorized by this policy or is necessary due to exigent circumstances.</p>
							                                <p>Generally juvenile offenders may be taken into custody under the authority of Minn. Stat. § 260B.175 when a court order authorizes the custody, when the juvenile has committed an offense that would warrant the arrest of an adult or it is reasonably believed that the child has violated the terms of probation, parole or other field supervision.</p>
							                                <p>An officer who takes a juvenile offender of any age or gender into custody or could take the juvenile into custody under Minn. Stat. § 260B.175 is authorized to perform a protective pat-down search of the juvenile offender in order to protect the officer’s safety (Minn. Stat. § 260B.175 Subd. 4).</p>
							                                <p>The parent, guardian or custodian of the juvenile shall be notified as soon as possible when a juvenile offender is taken into custody. Juvenile offenders shall be released to the custody of a parent, guardian, custodian or other suitable person unless there is reason to believe that the juvenile would (Minn. Stat. § 260B.176):</p>
							                                <ol class="alpha">
							                                    <li>Endanger him/herself or others.</li>
							                                    <li>Not return for a court hearing.</li>
							                                    <li>Run away from or otherwise not remain in the care or control of his/her parent, guardian or custodian.</li>
							                                    <li>Face immediate endangerment to his/her health or welfare.</li>
							                                </ol>
							                                <p>If a juvenile offender is not released to a parent, guardian, custodian or other suitable person, the officer taking the juvenile offender into custody shall notify the court as soon as possible of the detention of the juvenile and the reasons for detention (Minn. Stat. § 260B.176).</p>
							                                <h4>324.4.4 SCHOOL NOTIFICATION</h4>
							                                <p>Minnesota law requires that the Chief of Police or the authorized designee notify the superintendent or chief administrative officer of a juvenile’s school of an incident occurring within our jurisdiction if (Minn. Stat. § 260B.171 Subd. 5):</p>
							                                <ol class="alpha">
							                                    <li>There is probable cause to believe a juvenile has committed an offense that would be a crime if committed as an adult, where the victim is a student or staff member and the notice is reasonably necessary for the protection of the victim.</li>
							                                    <li>There is probable cause to believe a juvenile has committed certain serious crimes regardless of whether the victim is a student or staff member.</li>
							                                    <li>The juvenile is taken into protective custody and methamphetamine manufacture or storage is involved (see the Child Abuse Policy for guidelines) (see also, Minn. Stat. § 260C.171)</li>
							                                </ol>
							                                <p>However the department is not required to notify the school if it is determined that notice would jeopardize an ongoing investigation.</p>

							                                <h3>324.5 ADVISEMENTS</h3>
    <p>When a juvenile is taken into custody on a warrant the juvenile and his/her parent, guardian or custodian, if present, shall immediately be informed of the existence of the warrant for immediate custody and, as soon as practicable, of the reasons
        why the juvenile is being taken into custody (Minnesota Rules of Juvenile Delinquency Procedure 4.03, Subd. 10).</p>
    <p>If it is determined that a juvenile taken into custody is going to be placed into a secure detention facility or a shelter care facility, the officer shall advise both the juvenile and the juvenile’s parent, guardian or custodian as soon as possible
        (Minn. Stat. § 260B.176 Subd. 3; Minn. Stat. § 260C.176 Subd. 3):</p>
    <ol class="alpha">
        <li>Of the reasons for custody and the reasons for placement.</li>
        <li>Of the location of the facility unless there is reason to believe that disclosure would place the juvenile’s health and welfare in immediate endangerment. If so, the disclosure shall not be made (Minn. Stat. § 260B.176 Subd. 5).</li>
        <li>That the juvenile’s parent, guardian or custodian and attorney or guardian ad litem may make an initial visit to the facility at any time. Subsequent visits may also be made on a reasonable basis.</li>
        <li>That the juvenile may telephone parents and an attorney or guardian ad litem immediately after being admitted to the facility and thereafter on a reasonable basis.</li>
        <li>That the juvenile may not be detained for acts under Minn. Stat. § 260B.007 Subd. 6 for longer than 36 hours excluding weekends and holidays unless a petition has been filed pursuant to Minn. Stat. § 260B.178.</li>
        <li>That the juvenile may not be detained under Minn. Stat. § 260C.175 Subd. 1, clause (1) or (2), item (ii) longer than 72 hours at a shelter care facility excluding weekends and holidays unless a petition has been filed pursuant to Minn. Stat. §
            260C.178.</li>
        <li>That the juvenile may not be detained for acts under Minn. Stat. § 260B.007 Subd. 6 for longer than 24 hours in an adult jail or municipal lockup excluding weekends and holidays or longer than six hours if the adult jail or municipal lockup is
            a standard metropolitan statistical area, unless a petition has been filed pursuant to Minn. Stat. § 260B.178 and a motion made to refer the juvenile for adult prosecution.</li>
        <li>Of the date, time and place of the detention hearing, if this information is available.</li>
        <li>That the juvenile and the juvenile’s parent, guardian or custodian have the right to be present and to be represented by counsel at the detention hearing and that if they cannot afford counsel it will be appointed at public expense.</li>
    </ol>

    <h3>324.6 JUVENILE CUSTODY LOGS</h3>
    <p>Any time a juvenile is held in custody at the Department the custody shall be promptly and properly documented in the juvenile custody log, including:</p>
    <ol class="alpha">
        <li>Identifying information about the juvenile being held.</li>
        <li>Date and time of arrival and release from the Metro Transit Police Department.</li>
        <li>Shift Supervisor notification and approval to temporarily hold the juvenile.</li>
        <li>Any charges for which the juvenile is being held and classification of the juvenile as a juvenile offender, status offender or non-offender.</li>
        <li>Any changes in status.</li>
        <li>Time of all welfare checks.</li>
        <li>Any medical and other screening requested and completed.</li>
        <li>Circumstances that justify any secure custody.</li>
        <li>Any other information that may be required by other authorities, such as compliance inspectors or a local juvenile court authority.</li>
    </ol>
    <p>The Shift Supervisor shall initial the log to approve the custody including any secure custody and shall also initial the log when the juvenile is released.</p>

    <h3>324.7 NO-CONTACT REQUIREMENTS</h3>
    <p>Sight and sound separation shall be maintained between all juveniles and adults while in custody at the Department (42 USC § 5633). There should also be sight and sound separation between non-offenders and juvenile or status offenders.</p>
    <p>In situations where brief or accidental contact may occur (e.g., during the brief time a juvenile is being fingerprinted and/or photographed in booking) a member of the Metro Transit Police Department shall maintain a constant, immediate presence
        with the juvenile or the adult to minimize any contact. If inadvertent or accidental contact does occur, reasonable efforts shall be taken to end the contact.</p>

    <h3>324.8 TEMPORARY CUSTODY REQUIREMENTS</h3>
    <p>Members and supervisors assigned to monitor or process any juvenile at the Metro Transit Police Department shall ensure the following:</p>
    <ol class="alpha">
        <li>The Shift Supervisor should be notified if it is anticipated that a juvenile may need to remain at the Metro Transit Police Department more than four hours. This will enable the Shift Supervisor to ensure no juvenile is held at the Metro Transit
            Police Department more than six hours.</li>
        <li>A staff member of the same sex shall supervise personal hygiene activities and care such as changing clothing or using the restroom without direct observation to allow for privacy.</li>
        <li>Personal visual checks and significant incidents/activities shall be noted on the log.</li>
        <li>There shall be no viewing devices such as peep holes or mirrors of which the juvenile is not aware. Therefore an employee should inform a juvenile under his/her care that the juvenile will be monitored at all times unless he/she is using the toilet.
            This does not apply to surreptitious and legally obtained recorded interrogations.</li>
        <li>Juveniles shall have reasonable access to toilets and wash basins.</li>
        <li>Food should be provided if a juvenile has not eaten within the past four hours or is otherwise in need of nourishment including any special diet required for the health of the juvenile.</li>
        <li>Juveniles shall have reasonable access to a drinking fountain or water.</li>
        <li>Juveniles shall have reasonable opportunities to stand and stretch, particularly if handcuffed or restrained in any way.</li>
        <li>Juveniles should have privacy during family, guardian and/or lawyer visits.</li>
        <li>Juveniles should be permitted to remain in their personal clothing unless the clothing is taken as evidence or is otherwise unsuitable or inadequate for continued wear while in custody.</li>
        <li>Blankets should be provided as reasonably necessary.</li>
        <li>Adequate shelter, heat, light and ventilation should be provided without compromising security or enabling escape.</li>
        <li>Juveniles shall have adequate furnishings including suitable chairs or benches.</li>
        <li>Juveniles shall have the right to the same number of telephone calls as an adult in custody.</li>
        <li>No discipline may be administered to any juvenile nor may juveniles be subjected to corporal or unusual punishment, humiliation or mental abuse.</li>
    </ol>

    <h3>324.9 USE OF RESTRAINT DEVICES</h3>
    <p>Juvenile offenders may be handcuffed in accordance with the Handcuffing and Restraints Policy. A juvenile offender may be handcuffed at the Metro Transit Police Department when the juvenile presents a heightened risk. However non-offenders and status
        offenders should not be handcuffed unless they are combative or threatening.</p>
    <p>Restraints shall only be used after less restrictive measures have failed and with the approval of the Shift Supervisor. Restraints shall only be used so long as it reasonably appears necessary for the juvenile's protection or the protection of others.</p>
    <p>Juveniles in restraints shall be kept away from other unrestrained juveniles or monitored in such a way as to protect the juvenile from abuse.</p>

    <h3>324.10 PERSONAL PROPERTY</h3>
    <p>The officer taking custody of a juvenile offender or status offender at the Metro Transit Police Department shall ensure a thorough search of the juvenile’s property is made and all property is removed from the juvenile especially those items that
        could compromise safety, such as pens, pencils and belts.</p>
    <p>The personal property of a juvenile should be placed in a property bag. The property should be inventoried in the juvenile’s presence and sealed into the bag. The property should be kept in a monitored or secure location until the juvenile is released
        from the custody of the Metro Transit Police Department.</p>

    <h3>324.11 SECURE CUSTODY</h3>
    <p>Only juvenile offenders 14 years of age or older may be placed in secure custody. Shift Supervisor approval is required before placing a juvenile offender in secure custody.</p>
    <p>Secure custody should only be used for juvenile offenders when there is a reasonable belief that the juvenile is a serious risk of harm to him/herself or others.</p>
    <p>Members of this department should not use secure custody for convenience when non-secure custody is or later becomes a reasonable option.</p>
    <p>When reasonably practicable handcuffing one hand of a juvenile offender to a fixed object while otherwise maintaining the juvenile in non-secure custody should be considered as the method of secure custody rather than the use of a locked enclosure.
        An employee must be present at all times to ensure the juvenile's safety while secured to a stationary object.</p>
    <p>Generally juveniles should not be secured to a stationary object for more than 60 minutes. Supervisor approval is required to secure a juvenile to a stationary object for longer than 60 minutes and every 30 minutes thereafter. Supervisor approval
        should be documented.</p>
    <h4>324.11.1 LOCKED ENCLOSURES</h4>
    <p>A thorough inspection of the area shall be conducted before placing a juvenile into the enclosure. A second inspection shall be conducted after removing the juvenile. Any damage noted to the room should be photographed and documented in the crime
        report.</p>
    <p>The following requirements shall apply to a juvenile offender who is held inside a locked enclosure:</p>
    <ol class="alpha">
        <li>The juvenile shall constantly be monitored by an audio/video system during the entire custody.</li>
        <li>Juveniles shall have constant auditory access to department members.</li>
        <li>Initial placement into and removal from a locked enclosure shall be logged.</li>
        <li>Random personal visual checks of the juvenile by a staff member no less than every 15 minutes shall occur.
            <ol class="decimal">
                <li>All checks shall be logged.</li>
                <li>The check should involve questioning the juvenile as to his/her well-being (sleeping juveniles or apparently sleeping juveniles should be awakened).</li>
                <li>Requests or concerns of the juvenile should be logged.</li>
            </ol>
        </li>
        <li>Males and females shall not be placed in the same locked room.</li>
        <li>Juvenile offenders should be separated according to severity of the crime (e.g., felony or misdemeanor).</li>
        <li>Restrained juveniles shall not be mixed in a cell or room with unrestrained juveniles.</li>
    </ol>

    <h3>324.12 SUICIDE ATTEMPT, DEATH OR SERIOUS INJURY OF A JUVENILE</h3>
    <p>The Shift Supervisor will ensure procedures are in place to address the suicide attempt, death or serious injury of any juvenile held at the Metro Transit Police Department. The procedures will address:</p>
    <ol class="alpha">
        <li>Immediate notification of the on-duty supervisor, Chief of Police and Criminal Investigations Division Supervisor.</li>
        <li>Notification of the parent, guardian or person standing in loco parentis, of the juvenile.</li>
        <li>Notification of the appropriate prosecutor.</li>
        <li>Notification of the local prosecuting attorney.</li>
        <li>Evidence preservation.</li>
    </ol>

    <h3>324.13 INTERVIEWING OR INTERROGATING JUVENILE SUSPECTS</h3>
    <p>No interview or interrogation of a juvenile should occur unless the juvenile has the apparent capacity to consent and does consent to an interview or interrogation.</p>

    <h3>324.14 RESTRICTION ON PHOTOGRAPHING</h3>
    <p>Photographing of juveniles taken into custody will only occur with the consent of the juvenile court, except when the photograph is taken related to a violation of driving while impaired or is taken pursuant to the laws of arrest (Minn. Stat. § 260B.171
        Subd. 5; Minn. Stat. § 260B.175; Minn. Stat. § 169A.20).</p>
</div>