<div class="chapter" id="326">
    <h2>326 - Adult Abuse</h2>
    <h3>326.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the investigation and reporting of suspected abuse of certain adults who may be more vulnerable than others. This policy also addresses mandatory notification for Metro Transit Police Department
        members as required by law.</p>
    <h4>326.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Adult abuse</strong> - Any offense or attempted offense involving violence or neglect of an adult victim when committed by a person responsible for the adult’s care, or any other act that would mandate reporting or notification to a social
        service agency or law enforcement.</p>

    <h3>326.2 POLICY</h3>
    <p>The Metro Transit Police Department will investigate all reported incidents of alleged adult abuse and ensure proper reporting and notification as required by law.</p>

    <h3>326.3 MANDATORY NOTIFICATION</h3>
    <p>Members of the Metro Transit Police Department shall notify the entity responsible for receiving such reports when they have reason to believe that a vulnerable adult is being or has been maltreated, or has sustained a physical injury which is not
        reasonably explained. Members shall also report suspected negligent care by a service or health care provider that resulted in injury or harm requiring the care of a physician (Minn. Stat. § 626.557).</p>
    <p>For purposes of notification, a vulnerable adult is a person age 18 or older who has physical, mental or emotional disabilities that make it difficult for the person to care for or to protect him/ herself from maltreatment. It also refers to adults
        who reside at a facility, or receive care at a facility or through home care (Minn. Stat. § 626.5572).</p>
    <p>Maltreatment includes abuse, neglect and financial exploitation. Abuse can be physical, emotional or sexual. Financial exploitation may include any instance where vulnerable adults’ money, assets or property are not used for their benefit or are stolen
        or kept from them (see Minn. Stat. § 626.5572 for full definitions).</p>
    <h4>326.3.1 NOTIFICATION PROCEDURE</h4>
    <p>Oral notification should be made as soon as possible, but in all cases within 24 hours (Minn. Stat.</p>
    <p>§ 626.557; Minn. Stat. § 626.5572). To the extent possible, the following should be included in the notification:</p>
    <ol class="alpha">
        <li>The identity the vulnerable adult and any caregiver</li>
        <li>The nature and extent of the suspected maltreatment</li>
        <li>Any evidence of previous maltreatment</li>
        <li>The name and addresses of the person initiating the report or other witnesses</li>
        <li>The time, date, and location of the incident</li>
        <li>Any other information that might be helpful in investigating the suspected maltreatment</li>
    </ol>
    <p>If notification of maltreatment is first made to the Metro Transit Police Department, the member receiving the notification shall complete and forward the intake form to the entity responsible for receiving such reports.</p>

    <h3>326.4 QUALIFIED INVESTIGATORS</h3>
    <p>Qualified investigators should be available to investigate cases of adult abuse. These investigators should:</p>
    <ol class="alpha">
        <li>Conduct interviews in appropriate interview facilities.</li>
        <li>Be familiar with forensic interview techniques specific to adult abuse investigations.</li>
        <li>Present all cases of alleged adult abuse to the prosecutor for review.</li>
        <li>Coordinate with other enforcement agencies, social service agencies and facility administrators as needed.</li>
        <li>Provide referrals to therapy services, victim advocates, guardians and support for the victim and family as appropriate.</li>
        <li>Participate in or coordinate with multidisciplinary investigative teams as applicable (Minn. Stat. § 626.5571).</li>
    </ol>

    <h3>326.5 INVESTIGATIONS AND REPORTING</h3>
    <p>All reported or suspected cases of adult abuse require investigation and a report, even if the allegations appear unfounded or unsubstantiated. Investigations should be initiated a soon as possible, but in all cases within 24 hours (Minn. Stat. §
        626.557).
    </p>
    <p>Investigations and reports related to suspected cases of adult abuse should address, as applicable:</p>
    <ol class="alpha">
        <li>The overall basis for the contact. This should be done by the investigating officer in all circumstances where a suspected adult abuse victim is contacted.</li>
        <li>Any relevant statements the victim may have made and to whom he/she made the statements.</li>
        <li>If a person is taken into protective custody, the reasons, the name and title of the person making the decision, and why other alternatives were not appropriate.</li>
        <li>Documentation of any visible injuries or any injuries identified by the victim. This should include photographs of such injuries, if practicable.</li>
        <li>Whether the victim was transported for medical treatment or a medical examination.</li>
        <li>Whether the victim identified a household member as the alleged perpetrator, and a list of the names of any other potential victims or witnesses who may reside in the residence.</li>
        <li>Identification of any prior related reports or allegations of abuse, including other jurisdictions, as reasonably known.</li>
        <li>Previous addresses of the victim and suspect.</li>
        <li>Other potential witnesses who have not yet been interviewed, such as relatives or others close to the victim’s environment.</li>
    </ol>
    <p>Any unexplained death of an adult who was in the care of a guardian or caretaker should be considered as potential adult abuse and investigated similarly.</p>
    <p>Assigned members shall initiate an investigation of vulnerable adult abuse as soon as possible, but in all cases within 24 hours when there is reason to believe a crime has been committed (Min. Stat. § 626.557).</p>

    <h3>326.6 PROTECTIVE CUSTODY</h3>
    <p>Before taking an adult abuse victim into protective custody when facts indicate the adult may not be able to care for him/herself, the officer should make reasonable attempts to contact an appropriate protective services agency. Generally, removal
        of an adult abuse victim from his/her family, guardian or other responsible adult should be left to the welfare authorities when they are present or have become involved in an investigation.</p>
    <p>Generally, members of this department should remove an adult abuse victim from his/her family or guardian without a court order only when no other effective alternative is reasonably available and immediate action reasonably appears necessary to protect
        the victim. Prior to taking an adult abuse victim into protective custody, the officer should take reasonable steps to deliver the adult to another qualified legal guardian, unless it reasonably appears that the release would endanger the victim
        or result in abduction. If this is not a reasonable option, the officer shall ensure that the adult is delivered to an appropriate protective services agency or medical facility.</p>
    <p>Whenever practicable, the officer should inform a supervisor of the circumstances prior to taking an adult abuse victim into protective custody. If prior notification is not practicable, officers should contact a supervisor promptly after taking the
        adult into protective custody.</p>
    <p>When adult abuse victims are under state control, have a state-appointed guardian or there are other legal holdings for guardianship, it may be necessary or reasonable to seek a court order on behalf of the adult victim to either remove the adult
        from a dangerous environment (protective custody) or restrain a person from contact with the adult.</p>

    <h3>326.7 INTERVIEWS</h3>
    <h4>326.7.1 PRELIMINARY INTERVIEWS</h4>
    <p>Absent extenuating circumstances or impracticality, officers should audio record the preliminary interview with a suspected adult abuse victim. Officers should avoid multiple interviews with the victim and should attempt to gather only the information
        necessary to begin an investigation. When practicable, investigating officers should defer interviews until a person who is specially trained in such interviews is available.</p>
    <h4>326.7.2 DETAINING VICTIMS FOR INTERVIEWS</h4>
    <p>An officer should not detain an adult involuntarily who is suspected of being a victim of abuse solely for the purpose of an interview or physical exam without his/her consent or the consent of a guardian unless one of the following applies:</p>
    <ol class="alpha">
        <li>Exigent circumstances exist, such as:
            <ol class="decimal">
                <li>A reasonable belief that medical issues of the adult need to be addressed immediately.</li>
                <li>A reasonable belief that the adult is or will be in danger of harm if the interview or physical exam is not immediately completed.</li>
                <li>The alleged offender is a family member or guardian and there is reason to believe the adult may be in continued danger.</li>
            </ol>
        </li>
        <li>A court order or warrant has been issued.</li>
    </ol>

    <h3>326.8 MEDICAL EXAMINATIONS</h3>
    <p>When an adult abuse investigation requires a medical examination, the investigating officer should obtain consent for such examination from the victim, guardian, agency or entity having legal custody of the adult. The officer should also arrange for
        the adult’s transportation to the appropriate medical facility.</p>
    <p>In cases where the alleged offender is a family member, guardian, agency or entity having legal custody and is refusing to give consent for the medical examination, officers should notify a supervisor before proceeding. If exigent circumstances do
        not exist or if state law does not provide for officers to take the adult for a medical examination, the supervisor should consider other government agencies or services that may obtain a court order for such an examination.</p>

    <h3>326.9 DRUG-ENDANGERED VICTIMS</h3>
    <p>A coordinated response by law enforcement and social services agencies is appropriate to meet the immediate and longer-term medical and safety needs of an adult abuse victim who has been exposed to the manufacturing, trafficking or use of narcotics.</p>
    <h4>326.9.1 SUPERVISOR RESPONSIBILITIES The Investigation Division supervisor should:</h4>
    <ol>
        <li>Work with professionals from the appropriate agencies, including the applicable adult protective services agency, other law enforcement agencies, medical service providers and local prosecutors, to develop community-specific procedures for responding
            to situations where there are adult abuse victims endangered by exposure to methamphetamine labs or the manufacture and trafficking of other drugs.</li>
        <li>Activate any available interagency response when an officer notifies the Investigation Division supervisor that he/she has responded to a drug lab or other narcotics crime scene where an adult abuse victim is present or where evidence indicates
            that an adult abuse victim lives.</li>
        <li>Develop a report format or checklist for use when officers respond to drug labs or other narcotics crime scenes. The checklist will help officers document the environmental, medical, social and other conditions that may affect the adult.</li>
    </ol>
    <h4>326.9.2 OFFICER RESPONSIBILITIES</h4>
    <p>Officers responding to a drug lab or other narcotics crime scene where an adult abuse victim is present or where there is evidence that an adult abuse victim lives should:</p>
    <ol>
        <li>Document the environmental, medical, social and other conditions of the adult, using photography as appropriate and the checklist or form developed for this purpose.</li>
        <li>Notify the Investigation Division supervisor so an interagency response can begin.</li>
    </ol>

    <h3>326.10 STATE MANDATES AND OTHER RELEVANT LAWS</h3>
    <p>Minnesota requires or permits the following:</p>
    <h4>326.10.1 RECORDS SECTION RESPONSIBILITIES</h4>
    <p>The Records Section is responsible for:</a>
    </p>
    <ol class="alpha">
        <li>Providing a copy of the adult abuse report to the applicable entity in the county responsible for receiving such reports as required by law.</li>
        <li>Retaining the original adult abuse report with the initial case file.</li>
    </ol>
    <h4>326.10.2 RELEASE OF REPORTS</h4>
    <p>Information related to incidents of adult abuse or suspected adult abuse shall be confidential and may only be disclosed pursuant to state law and the Records Maintenance and Release Policy (Minn. Stat. § 626.557).</p>

    <h3>326.11 TRAINING</h3>
    <p>The Department should provide training on best practices in adult abuse investigations to members tasked with investigating these cases. The training should include:</p>
    <ol class="alpha">
        <li>Participating in multidisciplinary investigations, as appropriate.</li>
        <li>Conducting interviews.</li>
        <li>Availability of therapy services for adults and families.</li>
        <li>Availability of specialized forensic medical exams.</li>
        <li>Cultural competence (including interpretive services) related to adult abuse investigations.</li>
        <li>Availability of victim advocates or other support.</li>
    </ol>
</div>