<div class="chapter" id="328">
    <h2>328 - Discriminatory Harassment</h2>
    <h3>328.1 PURPOSE AND SCOPE</h3>
    <p>This policy is intended to prevent department members from being subjected to discrimination or sexual harassment.</p>

    <h3>328.2 POLICY</h3>
    <p>The Metro Transit Police Department is an equal opportunity employer and is committed to creating and maintaining a work environment that is free of all forms of discriminatory harassment, including sexual harassment and retaliation. The Department
        will not tolerate, discrimination against employees in hiring, promotion, discharge, compensation, fringe benefits and other privileges of employment. The Department will take preventive and corrective action to address any behavior that violates
        this policy or the rights it is designed to protect.</p>
    <p>The non-discrimination policies of the Department may be more comprehensive than state or federal law. Conduct that violates this policy may not violate state or federal law but still could subject a member to discipline. Employees may also refer
        to Metropolitan Council Policy 4-2-1 on Discrimination, Harassment and Inappropriate Behavior for additional information.</p>

    <h3>328.3 DISCRIMINATION PROHIBITED</h3>
    <h4>328.3.1 DISCRIMINATION</h4>
    <p>The Department prohibits all forms of discrimination, including any employment-related action by a member that adversely affects an applicant or member and is based on race, color, religion, sex, age, national origin or ancestry, genetic information,
        disability, military service, sexual orientation and other classifications protected by law.</p>
    <p>Discriminatory harassment, including sexual harassment, is verbal or physical conduct that demeans or shows hostility or aversion toward an individual based upon that individual’s protected class. It has the effect of interfering with an individual’s
        work performance or creating a hostile or abusive work environment.</p>
    <p>Conduct that may, under certain circumstances, constitute discriminatory harassment, can include making derogatory comments, crude and offensive statements or remarks, making slurs or off-color jokes, stereotyping, engaging in threatening acts, making
        indecent gestures, pictures, cartoons, posters or material, making inappropriate physical contact, or using written material or department equipment and/or systems to transmit or receive offensive material, statements or pictures. Such conduct
        is contrary to department policy and to the department’s commitment to an environment that is free of discrimination.</p>
    <h4>328.3.2 SEXUAL HARASSMENT</h4>
    <p>The Department prohibits all forms of discrimination and discriminatory harassment, including sexual harassment. It is unlawful to harass an applicant or a member because of that person’s sex.</p>
    <p>Sexual harassment includes, but is not limited to, unwelcome sexual advances, requests for sexual favors or other verbal, visual or physical conduct of a sexual nature when:</p>
    <ol class="alpha">
        <li>Submission to such conduct is made either explicitly or implicitly a term or condition of employment, position or compensation.</li>
        <li>Submission to, or rejection of, such conduct is used as the basis for any employment decisions affecting the member.</li>
        <li>Such conduct has the purpose or effect of substantially interfering with a member's work performance or creating an intimidating, hostile or offensive work environment.</li>
    </ol>
    <h4>328.3.3 ADDITIONAL CONSIDERATIONS</h4>
    <p>Discrimination and discriminatory harassment do not include actions that are in accordance with established rules, principles or standards including:</p>
    <ol class="alpha">
        <li>Acts or omission of acts based solely upon bona fide occupational qualifications under the Equal Employment Opportunity Commission (EEOC) or the Minnesota Department of Human Rights.</li>
        <li>Bona fide requests or demands by a supervisor that a member improve his/her work quality or output, that the member report to the job site on time, that the member comply with Metropolitan Council / Metro Transit rules or regulations, or any other
            appropriate work- related communication between supervisor and member.</li>
    </ol>
    <h4>328.3.4 RETALIATION</h4>
    <p>Retaliation is treating a person differently or engaging in acts of reprisal or intimidation against the person because he/she has engaged in protected activity, filed a charge of discrimination, participated in an investigation or opposed a discriminatory
        practice. Retaliation will not be tolerated.</p>

    <h3>328.4 RESPONSIBILITIES</h3>
    <p>This policy applies to all department personnel. All members shall follow the intent of these guidelines in a manner that reflects department policy, professional law enforcement standards and the best interest of the Department and its mission.</p>
    <p>Members are encouraged to promptly report any discriminatory, retaliatory or harassing conduct or known violations of this policy to a supervisor. Any member who is not comfortable with reporting violations of this policy to his/her immediate supervisor
        may bypass the chain of command and make the report to a higher ranking supervisor or manager. Complaints may also be filed with the Chief of Police, Director of Human Resources or the General Manager.</p>
    <p>Any member who believes, in good faith, that he/she has been discriminated against, harassed, subjected to retaliation, or who has observed harassment or discrimination, is encouraged to promptly report such conduct in accordance with the procedures
        set forth in this policy.</p>
    <p>Supervisors and managers receiving information regarding alleged violations of this policy shall determine if there is any basis for the allegation and shall proceed with resolution as stated below.</p>
    <h4>328.4.1 SUPERVISOR RESPONSIBILITY</h4>
    <p>Each supervisor and manager shall:</p>
    <ol class="alpha">
        <li>Continually monitor the work environment and strive to ensure that it is free from all types of unlawful discrimination, including sexual harassment and retaliation.</li>
        <li>Take prompt, appropriate action within their work units to avoid and minimize the incidence of any form of discrimination, harassment or retaliation.</li>
        <li>Ensure that their subordinates understand their responsibilities under this policy.</li>
        <li>Ensure that members who make complaints or who oppose any unlawful employment practices are protected from retaliation and that such matters are kept confidential to the extent possible.</li>
        <li>Notify the Chief of Police or Director of Human Resources in writing of the circumstances surrounding any reported allegations or observed acts of discrimination, harassment or retaliation no later than the next business day.</li>
    </ol>
    <h4>328.4.2 SUPERVISOR'S ROLE</h4>
    <p>Because of differences in individual values, supervisors and managers may find it difficult to recognize that their behavior or the behavior of others is discriminatory, harassing or retaliatory. Supervisors and managers shall be aware of the following
        considerations:</p>
    <ol class="alpha">
        <li>Behavior of supervisors and managers should represent the values of the Department and professional law enforcement standards.</li>
        <li>False or mistaken accusations of discrimination, harassment or retaliation can have negative effects on the careers of innocent members.</li>
        <li>Supervisors and managers must act promptly and responsibly in the resolution of such situations.</li>
        <li>Supervisors and managers shall make a timely determination regarding the substance of any allegation based upon all available facts.</li>
    </ol>
    <p>Nothing in this section shall be construed to prevent supervisors or managers from discharging supervisory or management responsibilities, such as determining duty assignments, evaluating or counseling members or issuing discipline, in a manner that
        is consistent with established procedures.</p>

    <h3>328.5 INVESTIGATION OF COMPLAINTS</h3>
    <p>Various methods of resolution exist. During the pendency of any such investigation, the supervisor of the involved members should take prompt and reasonable steps to mitigate or eliminate any continuing abusive or hostile work environment. It is the
        policy of the Department that all complaints of discrimination or harassment shall be fully documented and investigated in a prompt and thorough manner. The participating or opposing member should be protected against retaliation, and the complaint
        and related investigation should be kept confidential to the extent possible.</p>
    <h4>328.4.2 SUPERVISORY RESOLUTION</h4>
    <p>Members who believe they are experiencing discrimination, harassment or retaliation should be encouraged to inform the individual that his/her behavior is unwelcome, offensive, unprofessional or inappropriate. However, if the member feels uncomfortable,
        threatened or has difficulty expressing his/her concern, or if this does not resolve the concern, assistance should be sought from a supervisor or manager who is a rank higher than the alleged transgressor.</p>
    <h4>328.5.2 FORMAL INVESTIGATION</h4>
    <p>If the complaint cannot be satisfactorily resolved through the process described above, a formal investigation will be conducted.</p>
    <p>The person assigned to investigate the complaint will have full authority to investigate all aspects of the complaint. Investigative authority includes access to records and the cooperation of any members involved. No influence will be used to suppress
        any complaint and no member will be subject to retaliation or reprisal for filing a complaint, encouraging others to file a complaint or for offering testimony or evidence in any investigation.</p>
    <p>Formal investigation of the complaint will be confidential to the extent possible and will include, but not be limited to, details of the specific incident, frequency, dates of occurrences and names of any witnesses. Witnesses will be advised regarding
        the prohibition against retaliation, and that a disciplinary process, up to and including termination, may result if retaliation occurs.</p>
    <p>Members who believe they have been discriminated against, harassed or retaliated against because of their protected status are encouraged to follow the chain of command but may also file a complaint directly with the Chief of Police, Director of Human
        Resources or the General Manager.</p>
    <h4>328.5.3 ALTERNATIVE COMPLAINT PROCESS</h4>
    <p>No provision of this policy shall be construed to prevent any member from seeking legal redress outside the Department. Members who believe that they have been harassed, discriminated or retaliated against are entitled to bring complaints of employment
        discrimination to federal, state and/or local agencies responsible for investigating such allegations. Specific time limitations apply to the filing of such charges. Members are advised that proceeding with complaints under the provisions of this
        policy does not in any way affect those filing requirements.</p>

    <h3>328.6 NOTIFICATION OF DISPOSITION</h3>
    <p>The complainant and/or victim will be notified in writing of the disposition of the investigation and the actions taken to remedy or address the circumstances giving rise to the complaint.</p>

    <h3>328.7 DOCUMENTATION OF COMPLAINTS</h3>
    <p>All complaints or allegations shall be thoroughly documented on forms and in a manner designated by the Chief of Police. The outcome of all reports shall be:</p>
    <ul>
        <li>Approved by the Chief of Police, the General Manager or Director if more appropriate.</li>
        <li>Maintained for the period established in the department’s retention schedule.</li>
    </ul>

    <h3>328.8 TRAINING</h3>
    <p>All new members shall be provided with a copy of this policy as part of their orientation. The policy shall be reviewed with each new member. The member shall certify by signing the prescribed form that he/she has been advised of this policy, is aware
        of and understands its contents and agrees to abide by its provisions during his/her term of employment.</p>
    <p>All members shall receive annual training on the requirements of this policy and shall certify by signing the prescribed form that they have reviewed the policy, understand its contents and agree that they will continue to abide by its provisions.</p>
    <h4>328.8.1 QUESTIONS OR CLARIFICATION</h4>
    <p>Members with questions regarding what constitutes discrimination, sexual harassment or retaliation are encouraged to contact a supervisor, a manager, the Chief of Police, the Director of Human Resources or the General Manager for further information,
        direction or clarification.</p>
</div>
