<div class="chapter" id="330">
    <h2>330 - Child Abuse</h2>
    <h3>330.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the investigation of suspected child abuse. This policy also addresses when Metro Transit Police Department members are required to notify the county social services agency of suspected child
        abuse.</p>
    <h4>330.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Child</strong> - Unless otherwise specified by a cited statute, a child is any person under the age of 18 years.</p>
    <p><strong>Child abuse</strong> - Any offense or attempted offense involving violence or neglect with a child victim when committed by a person responsible for the child’s care or any other act that would mandate notification to a social service agency
        (Minn. Stat. § 626.556; Minn. Stat. § 626.5561).</p>

    <h3>330.2 POLICY</h3>
    <p>The Metro Transit Police Department will investigate all reported incidents of alleged criminal child abuse and ensure the county social services agency is notified as required by law.</p>

    <h3>330.3 MANDATORY NOTIFICATION</h3>
    <p>Members of the Metro Transit Police Department shall notify the county social services agency when they have reason to believe any of the following may have occurred or when someone reports any of the following (Minn. Stat. § 626.556):</p>
    <ol class="alpha">
        <li>A child is being neglected or has been neglected within the preceding three years.</li>
        <li>A child is being physically abused or has been physically abused within the preceding three years by a person responsible for the child's care.</li>
        <li>A child is being sexually abused, threatened with sexual abuse or has been sexually abused within the preceding three years by a person responsible for the child's care, by a person who has a significant relationship to the child or by a person
            in a position of authority.</li>
        <li>A woman is pregnant and has used a controlled substance for a non-medical purpose during the pregnancy, including, but not limited to, tetrahydrocannabinol (marijuana), or has consumed alcoholic beverages during the pregnancy in any way that is
            habitual or excessive (Minn. Stat. § 626.5561).</li>
    </ol>
    <p>Notification is mandatory for any acts of neglect, physical abuse and sexual abuse that constitute a crime, whether or not the suspect had any relationship to or responsibility for the child (Minn. Stat. § 626.556, Subd. 10a).</p>
    <p>For purposes of notification, physical abuse includes injuries, mental injuries or injuries that cannot be reasonably explained (e.g., punching, kicking, burning). Sexual abuse includes criminal sexual conduct and prostitution offenses. Neglect includes
        failure to supply a child with necessary clothing, shelter, medical care, etc. See Minn. Stat. § 626.556, Subd. 2 for full definitions of physical abuse, sexual abuse and neglect.</p>
    <h4>330.3.1 NOTIFICATION PROCEDURE</h4>
    <p>Notification should occur as follows (Minn. Stat. § 626.556):</p>
    <ol class="alpha">
        <li>The member tasked with the investigation shall call the county social services agency and report the alleged abuse as soon as possible but always within 24 hours. The time of the call and the name of the person should be documented.</li>
        <li>Notification, when possible, should include:
            <ol class="decimal">
                <li>The child’s current location and whether the child is in immediate danger.</li>
                <li>A description of when and where the incident occurred and what happened to the child.</li>
                <li>A description of the injuries or present condition of the child.</li>
                <li>The names and addresses of the child, parents or caregivers.</li>
                <li>Whether there were any witnesses to the incident and their names.</li>
                <li>Any additional information about the child, family or caregivers that may be helpful.</li>
                <li>Whether the incident occurred in a licensed facility or a school and what actions the facility employees may have taken.</li>
                <li>Whether there are immediate family, relative or community resources that would offer protection or support to the child.</li>
            </ol>
        </li>
        <li>Forms that may be required by the county social services agency or other written notification shall be completed and faxed or delivered to the county social services agency as soon as possible but always within 72 hours, exclusive of weekends
            and holidays.</li>
        <li>Approved investigation reports should be forwarded to the county social services agency as soon as practical.</li>
        <li>When the child abuse occurred at a facility or by a person from a facility that requires a state license (e.g., foster homes, group homes, day care), notification shall also be made to the agency responsible for licensing the facility (Minn. Stat.
            § 626.556).</li>
    </ol>

    <h3>330.4 QUALIFIED INVESTIGATORS</h3>
    <p>Qualified investigators should be available for child abuse investigations. These investigators should:</p>
    <ol class="alpha">
        <li>Conduct interviews in child appropriate interview facilities.</li>
        <li>Be familiar with forensic interview techniques specific to child abuse investigations.</li>
        <li>Present all cases of alleged child abuse to the prosecutor for review.</li>
        <li>Coordinate with other enforcement agencies, social service agencies and school administrators as needed.</li>
        <li>Provide referrals to therapy services, victim advocates, guardians and support for the child and family as appropriate.</li>
        <li>Participate in or coordinate with multidisciplinary investigative teams as applicable.</li>
    </ol>

    <h3>330.5 INVESTIGATIONS AND REPORTING</h3>
    <p>In all reported or suspected cases of child abuse, a report will be written. Officers shall write a report even if the allegations appear unfounded or unsubstantiated.</p>
    <p>Investigations and reports related to suspected cases of child abuse should address, as applicable:</p>
    <ol class="alpha">
        <li>The overall basis for the contact. This should be done by the investigating officer in all circumstances where a suspected child abuse victim was contacted.</li>
        <li>The exigent circumstances that existed if officers interviewed the child victim without the presence of a parent or guardian.</li>
        <li>Any relevant statements the child may have made and to whom he/she made the statements.</li>
        <li>If a child was taken into protective custody, the reasons, the name and title of the person making the decision, and why other alternatives were not appropriate.</li>
        <li>Documentation of any visible injuries or any injuries identified by the child. This should include photographs of such injuries, if practicable.</li>
        <li>Whether the child victim was transported for medical treatment or a medical examination.</li>
        <li>Whether the victim identified a household member as the alleged perpetrator, and a list of the names of any other children who may reside in the residence.</li>
        <li>Identification of any prior related reports or allegations of child abuse, including other jurisdictions, as reasonably known.</li>
        <li>Previous addresses of the victim and suspect.</li>
        <li>Other potential witnesses who have not yet been interviewed, such as relatives or others close to the victim's environment.</li>
    </ol>
    <p>All cases of the unexplained death of a child should be investigated as thoroughly as if it had been a case of suspected child abuse (e.g., a sudden or unexplained death of an infant).</p>

    <h3>330.6 PROTECTIVE CUSTODY</h3>
    <p>Before taking any child into protective custody, the officer should make reasonable attempts to contact the county social services agency. Generally, removal of a child from his/her family,</p>
    <p>guardian or other responsible adult should be left to the child welfare authorities when they are present or have become involved in an investigation.</p>
    <p>Generally, members of this department should remove a child from his/her parent or guardian without a court order only when no other effective alternative is reasonably available and immediate action reasonably appears necessary to protect the child.
        Prior to taking a child into protective custody, the officer should take reasonable steps to deliver the child to another qualified parent or legal guardian, unless it reasonably appears that the release would endanger the child or result in abduction.
        If this is not a reasonable option, the officer shall ensure that the child is delivered to the county social services agency.</p>
    <p>Whenever practicable, the officer should inform a supervisor of the circumstances prior to taking a child into protective custody. If prior notification is not practicable, officers should contact a supervisor promptly after taking a child into protective
        custody.</p>
    <p>Children may only be removed from a parent or guardian in the following situations (Minn. Stat. § 260C.175):</p>
    <ol class="alpha">
        <li>When a court has issued an order for removal.</li>
        <li>When a child is found in surroundings or conditions that pose an imminent threat to the child's health or welfare or that a peace officer reasonably believes pose an imminent threat to the child's health or welfare.</li>
        <li>If an Indian child is a resident of a reservation or is domiciled on a reservation but temporarily located off the reservation, taking the child into custody under this clause shall be consistent with the Indian Child Welfare Act (25 USC § 1922).</li>
    </ol>
    <h4>330.6.1 NOTICE TO PARENT OR CUSTODIAN</h4>
    <p>Whenever an officer takes a child into protective custody, the officer shall notify the parent or custodian that he/she may request that the child be placed with a relative or a designated caregiver instead of in a shelter care facility. The officer
        also shall give the parent or custodian a list, published by the Minnesota Department of Human Services, of names, addresses and telephone numbers of social services agencies that offer child welfare services. If the parent or custodian was not
        present when the child was removed from the residence, the list shall be left with an adult who is on the premises or left in a conspicuous place on the premises if no adult is present. If the officer has reason to believe the parent or custodian
        is not able to read and understand English, the officer must provide a list that is written in the language of the parent or custodian (Minn. Stat.</p>
    <p>§ 260C.175; Minn. Stat. § 260C.181).</p>
    <p>The above notifications may be made by the county social services agency representative if he/ she is at the scene.</p>
    <h4>330.6.2 SAFE PLACE FOR NEWBORNS</h4>
    <p>A person may leave an unharmed newborn less than seven days old with the staff of a hospital, urgent care facility or ambulance service without being subject to prosecution (Minn. Stat. §609.3785). The responsible social service agency is charged
        with addressing these matters but may contact law enforcement if child abuse is suspected (Minn. Stat. § 145.902; Minn. Stat. § 609.3785).</p>

    <h3>330.7 INTERVIEWS</h3>
    <h4>330.7.1 PRELIMINARY INTERVIEWS</h4>
    <p>Absent extenuating circumstances or impracticality, officers should record the preliminary interview with suspected child abuse victims. Officers should avoid multiple interviews with a child victim and should attempt to gather only the information
        necessary to begin an investigation. When practicable, investigating officers should defer interviews until a person who is specially trained in such interviews is available. Generally, child victims should not be interviewed in the home or location
        where the alleged abuse occurred.</p>
    <h4>330.7.2 DETAINING ABUSE VICTIMS FOR INTERVIEW</h4>
    <p>An officer should not detain a child involuntarily who is suspected of being a victim of child abuse solely for the purpose of an interview or physical exam without the consent of a parent or guardian unless one of the following applies:</p>
    <ol class="alpha">
        <li>Exigent circumstances exist, such as:
            <ol>
                <li>A reasonable belief that medical issues of the child need to be addressed immediately.</li>
                <li>A reasonable belief that the child is or will be in danger of harm if the interview or physical exam is not immediately completed.</li>
                <li>The alleged offender is the custodial parent or guardian and there is reason to believe the child may be in continued danger.</li>
            </ol>
        </li>
        <li>A court order or warrant has been issued.</li>
    </ol>
    <h4>330.7.3 NOTIFICATION TO PARENTS</h4>
    <p>Generally, officers should cooperate with parents and guardians and seek consent prior to conducting interviews of children. However, when reasonably necessary, state law grants officers the authority to interview a child who is the alleged victim
        of abuse or neglect, and any other children who currently reside or have resided with the alleged victim, without parental consent (Minn. Stat. § 626.556, Subd. 10).</p>
    <p>The interview may take place at school or at any facility or other place where the alleged victim or other children might be found, or the child may be transported to, and the interview conducted at, a place that is appropriate for the interview and
        has been designated by the local welfare agency or law enforcement agency. The interview may take place outside the presence of the alleged offender or parent, legal custodian, guardian or school official (Minn. Stat. § 626.556, Subd. 10).</p>
    <p>The officer shall notify the parent, legal custodian or guardian that the interview occurred as soon as reasonably practicable after the interview, unless the juvenile court has determined that reasonable cause exists to withhold the information (Minn.
        Stat. § 626.556, Subd. 10).</p>
    <h4>330.7.4 INTERVIEWS AT SCHOOL</h4>
    <p>If officers assigned to investigate a report of maltreatment determine that an interview should take place on school property, written notification of the intent to interview the child on school property must be received by school officials prior
        to the interview. The notification shall include the name of the child to be interviewed, the purpose of the interview and a reference to the statutory authority to conduct an interview on school property (Minn. Stat. § 626.556, Subd. 10).</p>
    <p>The investigating officer shall determine who may attend the interview, although school officials may set reasonable conditions as to the time, place and manner of the interview (Minn. Stat. § 626.556, Subd. 10).</p>
    <h4>330.7.5 DOCUMENTING AND RECORDING INTERVIEWS</h4>
    <p>Any statement made by an alleged child abuse victim during the course of a criminal investigation shall be documented. The documentation of the interview must contain, at a minimum (Minn. Stat. § 626.561):</p>
    <ol class="alpha">
        <li>The date, time, place and duration of the interview.</li>
        <li>The identity of the persons present at the interview.</li>
        <li>A summary of the information obtained during the interview if it was not audio recorded.</li>
    </ol>
    <p>Members should follow the written guidelines of the county attorney's office regarding recording interviews of a child abuse victim.</p>

    <h3>330.8 MEDICAL EXAMINATIONS</h3>
    <p>If the child has been the victim of abuse that requires a medical examination, the investigating officer should obtain consent for such examination from the appropriate parent, guardian or agency having legal custody of the child. The officer should
        also arrange for the child's transportation to the appropriate medical facility.</p>
    <p>In cases where the alleged offender is the custodial parent or guardian and is refusing consent for the medical examination, officers should notify a supervisor before proceeding. If exigent circumstances do not exist or if state law does not provide
        for officers to take the child for a medical examination, the notified supervisor should consider obtaining a court order for such an examination.</p>

    <h3>330.9 DRUG-ENDANGERED CHILDREN</h3>
    <p>A coordinated response by law enforcement and social services agencies is appropriate to meet the immediate and longer-term medical and safety needs of children exposed to the manufacturing, trafficking or use of narcotics.</p>
    <h4>330.9.1 SUPERVISOR RESPONSIBILITIES The Investigation Division supervisor should:</h4>
    <ol>
        <li>Work with professionals from the appropriate agencies, including the county social services agency, other law enforcement agencies, medical service providers and local prosecutors to develop community specific procedures for responding to situations
            where there are children endangered by exposure to methamphetamine labs or the manufacture and trafficking of other drugs.</li>
        <li>Activate any available interagency response when an officer notifies the Investigation Division supervisor that the officer has responded to a drug lab or other narcotics crime scene where a child is present or where evidence indicates that a
            child lives there.</li>
        <li>Develop a report format or checklist for use when officers respond to drug labs or other narcotics crime scenes. The checklist will help officers document the environmental, medical, social and other conditions that may affect the child.</li>
    </ol>
    <h4>330.9.2 OFFICER RESPONSIBILITIES</h4>
    <p>Officers responding to a drug lab or other narcotics crime scene where a child is present or where there is evidence that a child lives should:</p>
    <ol class="alpha">
        <li>Document the environmental, medical, social and other conditions of the child using photography as appropriate and the checklist or form developed for this purpose.</li>
        <li>Notify the Investigation Division supervisor so an interagency response can begin.p>
        </li>
    </ol>
    <h4>330.9.3 SCHOOL NOTIFICATION</h4>
    <p>If a juvenile is taken into protective custody after being found in an area where methamphetamine was being manufactured or attempted to be manufactured, or where any chemical substances, paraphernalia or waste products related to methamphetamine
        are stored, the officer who took the juvenile into custody shall notify the chief administrative officer of the juvenile’s school (Minn. Stat. § 260C.171, Subd. 6).</p>

    <h3>330.10 STATE MANDATES AND OTHER RELEVANT LAWS</h3>
    <p>Minnesota requires or permits the following:</p>
    <h4>330.10.1 RELEASE OF REPORTS</h4>
    <p>Information related to incidents of child abuse or suspected child abuse shall be confidential and may only be disclosed pursuant to state law and the Records Maintenance and Release Policy (Minn. Stat. § 626.556, Subd. 11).</p>
    <h4>330.10.2 CHILD MORTALITY REVIEW PANELS</h4>
    <p>Child mortality review panels are entitled to access all investigative information of law enforcement agencies regarding the death of a child. This department shall cooperate fully with any such team and investigation (Minn. Stat. § 256.01, Subd.
        12).</p>
    <h4>330.10.3 COORDINATION WITH SOCIAL SERVICES</h4>
    <p>In every case of child abuse that would require notification to a local county social services agency, the investigating officer shall coordinate the planning and execution of the investigation and assessment efforts to avoid a duplication of fact-finding
        efforts and multiple interviews. The investigating officer shall prepare a report separate from the social services agency (Minn. Stat. § 626.556, Subd. 10).</p>
    <h4>330.10.4 NOTIFICATION PROCESS</h4>
    <p>The Patrol Supervisor is responsible for ensuring the mandatory notifications to the county social service agency are carried out. This should be achieved, in part, by establishing and reviewing related procedures and through ongoing training (Minn.
        Stat. § 626.556).</p>
    <h4>330.10.5 COURT-ORDERED FIREARM SURRENDERS</h4>
    </ol>
    <p>Although not required, this department generally will accept firearms surrendered by a court order from an abusing party or defendant. A decision to refuse a surrendered firearm should be approved by a supervisor.</p>
    <p>Firearms will normally be surrendered at the Metro Transit Police Department; however, when encountering someone in the field who wishes to surrender a firearm, officers should make reasonable efforts to accommodate the request.</p>
    <p>Surrendered firearms should be collected and submitted to the Property and Evidence in accordance with the Property and Evidence Policy.</p>

    <h3>330.11 TRAINING</h3>
    <p>The Professional Standards Unit should provide training on best practices in child abuse investigations to members tasked with investigating these cases. The training should include:</p>
    <ol class="alpha">
        <li>Participating in multidisciplinary investigations, as appropriate.</li>
        <li>Conducting forensic interviews.</li>
        <li>Availability of therapy services for children and families.</li>
        <li>Availability of specialized forensic medical exams.</li>
        <li>Cultural competence (including interpretive services) related to child abuse investigations.</li>
        <li>Availability of victim advocate or guardian ad litem support.</li>
    </ol>
</div>