<div class="chapter" id="332">
    <h2>332 - Missing Persons</h2>
    <h3>332.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance for handling missing person investigations.</p>
    <h4>332.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Endangered</strong> - A person the Department has confirmed is missing and there is sufficient evidence to indicate that the person is at risk of physical injury or death. Examples include (Minn. Stat. § 299C.52):</p>
    <ol class="alpha">
        <li>The person is missing because of a confirmed abduction or under circumstances that indicate the person's disappearance was not voluntary.</li>
        <li>The person is missing under known dangerous circumstances.</li>
        <li>The person is missing more than 30 days.</li>
        <li>The person is under the age of 21 and at least one other factor is applicable.</li>
        <li>There is evidence that the person is in need of medical attention or prescription medication.</li>
        <li>The person does not have a pattern of running away or disappearing.</li>
        <li>The person is mentally impaired.</li>
        <li>There is evidence that a non-custodial parent may have abducted the person.</li>
        <li>The person has been the subject of past threats or acts of violence.</li>
        <li>There is evidence that the person is lost in the wilderness, backcountry or outdoors where survival is precarious and search-and-rescue efforts are critical.</li>
        <li>Any other factor the Department deems to indicate the person may be at risk of physical injury or death, including a determination by another law enforcement agency that the person is missing and endangered.</li>
        <li>There is sufficient evidence that a child is with a person who presents a threat of immediate physical injury to the child or physical or sexual abuse of the child.</li>
    </ol>
    <p><strong>Missing person</strong> - Any person who is reported missing to law enforcement when that person’s location is unknown. This includes any person under the age of 18 or who is certified or known to be mentally incompetent (Minn. Stat. § 299C.52).</p>
    <p><strong>Missing person networks</strong> - Databases or computer networks that are available to law enforcement and are suitable for obtaining information related to missing person investigations. This includes the National Crime Information Center
        (NCIC), the Minnesota Justice Information Services (MNJIS), the Minnesota Missing and Unidentified Persons Clearinghouse and the Minnesota Crime Alert Network.</p>

    <h3>332.2 POLICY</h3>
    <p>The Metro Transit Police Department does not consider any report of a missing person to be routine and assumes that the missing person is in need of immediate assistance until an investigation reveals otherwise. Priority shall be given to missing
        person cases over property- related cases. Members will initiate an investigation into all reports of missing persons, regardless of the length of time the person has been missing.</p>

    <h3>332.3 REQUIRED FORMS AND BIOLOGICAL SAMPLE COLLECTION KITS</h3>
    <p>The Investigation Division supervisor shall ensure the following forms and kits are developed and available:</p>
    <ul>
        <li>Missing person report form</li>
        <li>Missing person investigation checklist that provides investigation guidelines and resources that could be helpful in the early hours of a missing person investigation</li>
        <li>Missing person school notification form</li>
        <li>Medical records release form</li>
        <li>Biological sample collection kits</li>
    </ul>

    <h3>332.4 ACCEPTANCE OF REPORTS</h3>
    <p>Any member encountering a person who wishes to report a missing person or runaway shall render assistance without delay. This can be accomplished by accepting the report via telephone or in person and initiating the investigation. Those members who
        do not take such reports or who are unable to give immediate assistance shall promptly dispatch or alert a member who can take the report.</p>
    <p>A report shall be accepted in all cases and regardless of where the person was last seen, where the person resides or any question of jurisdiction.</p>

    <h3>332.5 INITIAL INVESTIGATION</h3>
    <p>Officers or other members conducting the initial investigation of a missing person should take the following investigative actions as applicable:</p>
    <ol class="alpha">
        <li>Respond to a dispatched call as soon as practicable. Obtain a detailed description of the missing person, as well as a description of any related vehicle and/or abductor.</li>
        <li>Interview the reporting party and any witnesses to determine whether the person qualifies as a missing person and, if so, whether the person may be endangered (Minn. Stat. § 299C.53, Subd. 1(b)). Interviews should be conducted separately, if practicable.</li>
        <li>Consult with the Bureau of Criminal Apprehension (BCA) if the person is determined to be an endangered missing person (Minn. Stat. § 299C.53, Subd. 1(b)).</li>
        <li>Canvass the last known area where the missing person was seen, if known. A search of the location where the incident took place, if known, should also be conducted and a search warrant obtained if necessary.</li>
        <li>Determine when, where and by whom the missing person was last seen. Interview the person who last had contact with the missing person.</li>
        <li>Notify a supervisor immediately if there is evidence that a missing person is either endangered or may qualify for a public alert, or both (see the Public Alerts Policy).</li>
        <li>Broadcast a “Be on the Look-Out” (BOLO) bulletin if the person is under 18 years of age or there is evidence that the missing person is endangered. The BOLO should be broadcast as soon as practicable but in no event more than one hour after determining
            the missing person is under 18 years of age or may be endangered.</li>
        <li>Relay known details to all on-duty personnel as well as other local or surrounding law enforcement agencies using local and state databases.</li>
        <li>Ensure that entries are made into the appropriate missing person networks:
            <ol class="decimal">
                <li>Immediately, when the missing person is endangered.</li>
                <li>In all other cases, as soon as practicable, but not later than two hours from the time of the initial report.</li>
            </ol>
        </li>
        <li>Complete the appropriate report forms accurately and completely and initiate a search as applicable under the facts.</li>
        <li>Collect and/or review:
            <ol class="decimal">
                <li>A photograph and fingerprint card of the missing person, if available (Minn. Stat. § 299C.54, Subd. 2).</li>
                <li>A voluntarily provided biological sample of the missing person, if available (e.g., toothbrush, hairbrush).</li>
                <li>Any documents that may assist in the investigation, such as court orders regarding custody.</li>
                <li>Any other evidence that may assist in the investigation, including personal electronic devices (e.g., cell phones, computers).</li>
            </ol>
        </li>
        <li>When circumstances permit and if appropriate, attempt to determine the missing person's location through his/her telecommunications carrier.</li>
        <li>Contact the appropriate agency if the report relates to a missing person report previously made to another agency and that agency is actively investigating the report. When this is not practicable, the information should be documented in an appropriate
            report for transmission</li>
    </ol>
    <p>to the appropriate agency. If the information relates to an endangered missing person, the member should notify a supervisor and proceed with reasonable steps to locate the missing person.</p>
    <h4>332.5.1 CRIME SCENE INVESTIGATION AND MANAGEMENT</h4>
    <p>If a crime scene is identified, it should be secured and a command post or operation base located at a reasonable distance from the crime scene. Staff and assign the responsibilities for command post supervisor, media specialist, search coordinator,
        investigative coordinator, communication officer and support unit coordinator. Provide two liaison officers (one at the command post and one at the crime scene). The role of the liaison at the home will include facilitating support and advocacy
        for the family.</p>
    <p>The investigation of the scene and the crime should consider various elements, including:</p>
    <ol class="alpha">
        <li>Establishing the ability to “trap and trace” all incoming calls. Consider setting up a separate telephone line or cellular telephone for department use and follow-up on all leads.</li>
        <li>Compiling a list of known sex offenders in the region.</li>
        <li>In cases of infant abduction, investigating claims of home births made in the area.</li>
        <li>In cases involving children, obtaining child protective agency records for reports of child abuse.</li>
        <li>Reviewing records for previous incidents related to the missing person and prior law enforcement activity in the area, including prowlers, indecent exposure, attempted abductions, etc.</li>
        <li>Obtaining the missing person’s medical and dental records, fingerprints and a biological sample when practicable or within 30 days.</li>
        <li>Creating a missing person profile with detailed information obtained from records and interviews with family and friends, describing the missing person’s heath, relationships, personality, problems, life experiences, plans, equipment, etc.</li>
        <li>Interviewing delivery personnel, employees of gas, water, electric and cable companies, taxi drivers, post office personnel, sanitation workers, etc.</li>
        <li>Determining if outside help is needed and the merits of utilizing local, state and federal resources related to specialized investigative needs, including:
            <ol class="decimal">
                <li>Investigative resources.</li>
                <li>Interpretive resources.</li>
                <li>Telephone services, such as traps, traces and triangulation.</li>
                <li>Media assistance from local and national sources.</li>
            </ol>
        </li>
        <li>Using secure electronic communication information, such as the missing person’s cellular telephone number, e-mail address and information from social networking sites.</li>
        <li>Appointing an officer to communicate with the family/reporting party or their designee. The officer will be the primary point of contact for the family/reporting party or their designee, and should provide contact information and the family information
            packet (if available) to the family/reporting party or their designee.</li>
        <li>Providing general information to the family/reporting party or their designee about the handling of the missing person case or about any intended efforts, only to the extent that disclosure would not adversely affect the department’s ability to
            locate or protect the missing person or to apprehend or criminally prosecute any person in connection to the case.</li>
    </ol>

    <h3>332.6 REPORT PROCEDURES AND ROUTING</h3>
    <p>Members should complete all missing person reports and forms promptly and advise the appropriate supervisor as soon as a missing person report is ready for review.</p>
    <h4>332.6.1 SUPERVISOR RESPONSIBILITIES</h4>
    <p>The responsibilities of the supervisor shall include, but are not limited to:</p>
    <ol class="alpha">
        <li>Reviewing and approving missing person reports upon receipt.</p>
            <ol class="decimal">
                <li>The reports should be promptly sent to the Records Section.
                </li>
            </ol>
        </li>
        <li>Ensuring resources are deployed as appropriate.</li>
        <li>Initiating a command post as needed.</li>
        <li>Ensuring applicable notifications and public alerts are made and documented.</li>
        <li>Ensuring that records have been entered into the appropriate missing persons networks.</li>
        <li>Taking reasonable steps to identify and address any jurisdictional issues to ensure cooperation among agencies.
            <ol class="decimal">
                <li>If the case falls within the jurisdiction of another agency, the supervisor should facilitate transfer of the case to the agency of jurisdiction.</li>
            </ol>
        </li>
    </ol>
    <h4>332.6.2 RECORDS SECTION RESPONSIBILITIES</h4>
    <p>The responsibilities of the Records Section receiving member shall include, but are not limited to:</p>
    <ol class="alpha">
        <li>As soon as reasonable under the circumstances, notifying and forwarding a copy of the report to the agency of jurisdiction for the missing person’s residence in cases where the missing person is a resident of another jurisdiction.</li>
        <li>Notifying and forwarding a copy of the report to the agency of jurisdiction where the missing person was last seen.</li>
        <li>Notifying and forwarding a copy of the report to the agency of jurisdiction for the missing person’s intended or possible destination, if known.</li>
        <li>Forwarding a copy of the report to the Investigation Division.</p>
            <p><br></li>
        <li>Coordinating with the NCIC Terminal Contractor for Minnesota to have the missing person record in the NCIC computer networks updated with additional information obtained from missing person investigations (42 USC § 5780).</li>
    </ol>

    <h3>332.7 INVESTIGATION DIVISION FOLLOW-UP</h3>
    <p>In addition to completing or continuing any actions listed above, the investigator assigned to a missing person investigation:</p>
    <ol class="alpha">
        <li>Should ensure that the missing person’s school is notified within 10 days if the missing person is a juvenile.
            <ol class="decimal">
                <li>The notice shall be in writing and should also include a photograph.</li>
                <li>The investigator should meet with school officials as appropriate to stress the importance of including the notice in the child’s student file, along with the investigator’s contact information if the school receives a call requesting
                    the transfer of the missing child’s files to another school.</li>
            </ol>
        </li>
        <li>Should recontact the reporting person and/or other witnesses within 30 days of the initial report and within 30 days thereafter to determine if any additional information has become available.</li>
        <li>Shall review the case file to determine whether any additional information received on the missing person indicates that the person is endangered, and shall update applicable state or federal databases accordingly (Minn. Stat. § 299C.535(b); Minn.
            Stat. § 299C.535(c)).</li>
        <li>Shall attempt to obtain the following, if not previously obtained, if the person remains missing after 30 days (Minn. Stat § 299C.535(a)):
            <ol class="decimal">
                <li>Biological samples from family members and, if possible, from the missing person</li>
                <li>Dental information and X-rays</li>
                <li>Additional photographs and video that may aid the investigation or identification</li>
                <li>Fingerprints</li>
                <li>Any other specific identifying information</li>
            </ol>
        </li>
        <li>Should consider contacting other agencies involved in the case to determine if any additional information is available.</li>
        <li>Shall verify and update the Minnesota Justice Information Services (MNJIS), the Minnesota Missing and Unidentified Persons Clearinghouse, NCIC and any other applicable missing person networks within 30 days of the original entry into the networks
            and every 30 days thereafter until the missing person is located (42 USC § 5780).</li>
        <li>Should continue to make reasonable efforts to locate the missing person and document these efforts at least every 30 days.</li>
        <li>Should consider taking certain actions if a person is missing after a prolonged period, generally exceeding 45 days. Those actions include:
            <ol class="decimal">
                <li>Developing a profile of the possible abductor.</li>
                <li>Using a truth verification device for parents, spouse and other key individuals.</li>
                <li>Reviewing all reports and transcripts of interviews, revisiting the crime scene, reviewing all photographs and videotapes, reinterviewing key individuals and reexamining all physical evidence collected.</li>
                <li>Reviewing all potential witness/suspect information obtained in the initial investigation and considering background checks on anyone of interest identified in the investigation.</li>
                <li>Periodically checking pertinent sources of information about the missing person for any activity, such as telephone, bank, Internet or credit card activity.</li>
                <li>Developing a time line and other visual exhibits.</li>
                <li>Critiquing the results of the ongoing investigation with appropriate investigative resources.</li>
                <li>Arranging for periodic media coverage.</li>
                <li>Considering the use of rewards and crime-stoppers programs.</li>
                <li>Maintaining contact with the family and/or the reporting party or designee, as appropriate.</li>
            </ol>
        </li>
        <li>Shall maintain a close liaison with state and local child welfare systems and the National Center for Missing and Exploited Children (NCMEC) if the missing person is under the age of 21 and shall promptly notify NCMEC when the person is missing
            from a foster care family home or childcare institution (42 USC § 5780).</li>
        <li>Should make appropriate inquiry with the Medical Examiner.</li>
        <li>Should obtain and forward medical and dental records, photos, X-rays and biological samples, as applicable.</li>
        <li>Shall attempt to obtain the most recent photograph for persons under 18 years of age if it has not been obtained previously, forward the photograph to BCA (Minn. Stat. § 299C.54) and enter the photograph into applicable missing person networks
            (42 USC § 5780).</li>
        <li>Should consider making appropriate entries and searches in the National Missing and Unidentified Persons System (NamUs).</li>
        <li>In the case of an endangered missing person or a person who has been missing for an extended time, should consult with a supervisor regarding seeking federal assistance from the FBI and the U.S. Marshals Service (28 USC § 566).</li>
    </ol>

    <h3>WHEN A MISSING PERSON IS FOUND</h3>
    <p>When any person reported missing is found, the assigned investigator shall document the location of the missing person in the appropriate report, notify the reporting party and other involved agencies and refer the case for additional investigation
        if warranted.</p>
    <p>The Records Supervisor shall ensure that, upon receipt of information that a missing person has been located, the following occurs:</p>
    <ol class="alpha">
        <li>Notification is made to BCA.</li>
        <li>A missing child's school is notified.</li>
        <li>Entries are made in the applicable missing person networks.</li>
        <li>When a child is endangered, the fact that the child has been found shall be reported within 24 hours to BCA.</li>
        <li>Notification shall be made to any other law enforcement agency that took the initial report or participated in the investigation.</li>
    </ol>
    <h4>332.8.1 PERSONS FOUND ALIVE</h4>
    <p>Additional responsibilities related to missing persons who are found alive include:</p>
    <ol class="alpha">
        <li>Verifying that the located person is the reported missing person.</li>
        <li>If appropriate, arranging for a comprehensive physical examination of the victim.</li>
        <li>Conducting a careful interview of the person, documenting the results of the interview and involving all appropriate agencies.</li>
        <li>Notifying the family/reporting party that the missing person has been located. In adult cases, if the located adult permits the disclosure of his/her whereabouts and contact information, the family/reporting party may be given this information.</li>
        <li>Depending on the circumstances of the disappearance, considering the need for reunification assistance, intervention, counseling or other services for either the missing person or family/reporting party.</li>
        <li>Performing a constructive post-case critique. Reassessing the procedures used and updating the Department policy and procedures as appropriate.</li>
    </ol>
    <h4>332.8.2 UNIDENTIFIED PERSONS</h4>
    <p>Members investigating a case of an unidentified person who is deceased or a living person who cannot assist in identifying him/herself should:</p>
    <ol class="alpha">
        <li>Obtain a complete description of the person.</li>
        <li>Enter the unidentified person’s description into the NCIC Unidentified Person File.</li>
        <li>Use available resources, such as those related to missing persons, to identify the person.</li>
    </ol>
    <h4>332.8.3 DECEASED PERSONS</h4>
    <p>If a deceased person has been identified as a missing person, the Investigation Division shall attempt to locate family members and inform them of the death and the location of the deceased missing person's remains. All efforts to locate and notify
        family members shall be recorded in appropriate reports and properly retained (Minn. Stat. § 390.25, Subd. 2).</p>
    <p>Additional investigation responsibilities include the following:</p>
    <ol class="alpha">
        <li>Secure the crime scene if this department has jurisdiction.</li>
        <li>Contact the coroner, medical examiner or forensic anthropologist to arrange for body recovery and examination.</li>
        <li>Collect and preserve any evidence at the scene.</li>
        <li>Depending on the circumstances, consider the need for intervention, counseling or other services for the family/reporting party.</li>
        <li>Cancel alerts and remove the case from NCIC and other information systems; remove posters and other publications from circulation.</li>
        <li>Perform a constructive post-case critique. Reassess the procedures used and update the department policy and procedures as appropriate.</li>
    </ol>

    <h3>332.9 CASE CLOSURE</h3>
    <p>The Investigation Division supervisor may authorize the closure of a missing person case after considering the following:</p>
    <ol class="alpha">
        <li>Closure is appropriate when the missing person is confirmed returned or evidence matches an unidentified person or body.</li>
        <li>If the missing person is a resident of Metro Transit or this department is the lead agency, the case should be kept under active investigation for as long as the person may still be alive. Exhaustion of leads in the investigation should not be
            a reason for closing a case.</li>
        <li>If this department is not the lead agency, the case can be made inactive if all investigative leads have been exhausted, the lead agency has been notified and entries are made in the applicable missing person networks, as appropriate.</li>
        <li>A missing person case should not be closed or reclassified because the person would have reached a certain age or adulthood or because the person is now the subject of a criminal or civil warrant.</li>
    </ol>

    <h3>332.10 TRAINING</h3>
    <p>Subject to available resources, the Training Coordinator should ensure that members of this department whose duties include missing person investigations and reports receive training that includes:</p>
    <ol class="alpha">
        <li>The initial investigation:
            <ol class="decimal">
                <li>Assessments and interviews</li>
                <li>Use of current resources, such as Mobile Audio Video (MAV)</li>
                <li>Confirming missing status and custody status of minors</li>
                <li>Evaluating the need for a heightened response</li>
                <li>Identifying the zone of safety based on chronological age and developmental stage</li>
            </ol>
        </li>
        <li>Briefing of department members at the scene.</li>
        <li>Identifying NCIC Missing Person File categories (e.g., disability, endangered, involuntary, juvenile and catastrophe).</li>
        <li>Verifying the accuracy of all descriptive information.</li>
        <li>Initiating a neighborhood investigation.</li>
        <li>Investigating any relevant recent family dynamics.</li>
        <li>Addressing conflicting information.</li>
        <li>Key investigative and coordination steps.</li>
        <li>Managing a missing person case.</li>
        <li>Additional resources and specialized services.</li>
        <li>Update procedures for case information and descriptions.</li>
        <li>Preserving scenes.</li>
        <li>Internet and technology issues (e.g., Internet use, cell phone use).</li>
        <li>Media relations.</li>
    </ol>
</div>