<div class="chapter" id="334">
    <h2>334 - Public Alerts</h2>
    <h3>334.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for alerting the public to important information and soliciting public aid when appropriate.</p>

    <h3>334.2 POLICY</h3>
    <p>Public alerts may be employed using the Emergency Alert System (EAS), local radio, television and press organizations and other groups to notify the public of incidents, or enlist the aid of the public, when the exchange of information may enhance
        the safety of the community. Various types of alerts may be available based upon each situation and the alert system’s individual criteria.</p>

    <h3>334.3 RESPONSIBILITIES</h3>
    <h4>334.3.1 EMPLOYEE RESPONSIBILITIES</h4>
    <p>Employees of the Metro Transit Police Department should notify their supervisor, Shift Supervisor or Investigation Division Supervisor as soon as practicable upon learning of a situation where public notification, a warning or enlisting the help of
        the media and public could assist in locating a missing person, apprehending a dangerous person or gathering information.</p>
    <h4>334.3.2 SUPERVISOR RESPONSIBILITIES</h4>
    <p>A supervisor apprised of the need for a public alert is responsible to make the appropriate notifications based upon the circumstances of each situation. The supervisor shall promptly notify the Chief of Police, the Patrol Captain and the Public Information
        Officer when any public alert is generated.</p>
    <p>The supervisor in charge of the investigation to which the alert relates is responsible for the following:</p>
    <ol class="alpha">
        <li>Updating alerts</li>
        <li>Canceling alerts</li>
        <li>Ensuring all appropriate reports are completed</li>
        <li>Preparing an after-action evaluation of the investigation to be forwarded to the Patrol Captain and Deputy Chief</li>
    </ol>

    <h3>334.4 AMBER ALERTS</h3>
    <p>America's Missing: Broadcast Emergency Response (AMBER) Alert™ is the recruitment of public assistance to locate an abducted child via a widespread media alert. Utilizing the assistance of local radio, television and press affiliates, the public will
        be notified of the circumstances of a child's abduction and how it can assist law enforcement in the child's recovery. The goal of the AMBER Alert program is the safe return of an abducted child by establishing an effective</p>
    <p>partnership between the community, the media and law enforcement through the Minnesota Crime Alert Network (Minn. Stat. § 299A.61 Subd. 1).</p>
    <h4>334.4.1 CRITERIA</h4>
    <p>Any non-familial case in which an individual is abducted and the public can assist will trigger the activation of either the AMBER Alert and/or the Minnesota Crime Alert Network (MCAN) to inform the public and request its assistance in locating the
        individual.</p>
    <p>The criteria for issuance of an Amber Alert are as follows:</p>
    <ol class="alpha">
        <li>A child 17 years of age or younger was abducted and there is reason to believe the victim is in imminent danger of serious bodily injury or death.</li>
        <li>There is information available to disseminate to the general public that could assist with the safe recovery of the victim and/or the apprehension of the suspect.</li>
    </ol>
    <p>An AMBER Alert should not be requested if there is no information to distribute.</p>
    <h4>334.4.2PROCEDURE</h4>
    <p>The supervisor shall review the AMBER Alert checklist provided by the Bureau of Criminal Apprehension (BCA) to determine whether the abduction meets the AMBER Alert criteria.</p>
    <p>As soon as possible, Records Section personnel shall enter the child’s name and other critical data into the National Crime Information Center (NCIC), with appropriate flags.</p>
    <p>If the AMBER Alert criteria is met, the supervisor, Shift Supervisor or Investigation Division supervisor will notify the Operations Center at the BCA. The BCA will determine whether an AMBER Alert will be issued and, if so, will activate the Minnesota
        Emergency Alert System (EAS) through the Minnesota Department of Public Safety (DPS) Division of Homeland Security and Emergency Management (HSEM).</p>
    <p>BCA will manage press notifications through the EAS.</p>
    <p>As additional information becomes available, the BCA shall be apprised and they will disseminate the information, as appropriate.</p>
    <p>When the child is found, or the alert should be cancelled for other reasons, the Investigation Division supervisor shall immediately notify BCA with the pertinent information.</p>

    <h3>334.5 MINNESOTA CRIME ALERT NETWORK</h3>
    <p>MCAN is a statewide communications network that enables law enforcement agencies to quickly alert the public (Minn. Stat. § 299A.61). In cases where the AMBER Alert criteria are not met, MCAN can be activated to notify the public and request information
        on the case. Law enforcement agencies, businesses, schools and community members participate in the network.</p>
    <h4>334.5.1 CRITERIA</h4>
    <p>MCAN is available for disseminating information regarding the commission of crimes, including information on missing and endangered children or vulnerable adults, or attempts to reduce theft and other crime.</p>
    <h4>334.5.2 PROCEDURE</h4>
    <p>If a supervisor determines that a MCAN alert should be requested, the supervisor should contact the BCA Operations Center and provide the requested information.</p>
    <p>The Public Information Officer should prepare a press release that includes all available information that might strengthen the assistance by the public or other law enforcement agencies. It should be updated with additional information as it becomes
        available and useful. All media releases should be coordinated with the BCA. In the event of a confirmed child abduction, whether or not an AMBER Alert or MCAN alert is activated, procedures designed to inform the media should be followed. Initial
        information to release may include, but is not limited to:</p>
    <ol class="alpha">
        <li>The nature of the crime that has occurred.</li>
        <li>The victim’s identity, age and description, if relevant.</li>
        <li>Photograph if available.</li>
        <li>The suspect’s identity, age and description, if known.</li>
        <li>Pertinent vehicle description.</li>
        <li>Detail regarding location of incident, direction of travel and potential destinations, if known.</li>
        <li>Whether there is reason to believe the suspect has a relationship to the victim.</li>
        <li>Name and phone number of the Public Information Officer or other authorized individual to handle media liaison.</li>
        <li>A telephone number for the public to call with leads or information.</li>
    </ol>
    <p>As additional information pertinent to the case becomes available, it shall be forwarded to the BCA.</p>
</div>