<div class="chapter" id="336">
    <h2>336 - Victim and Witness Assistance</h2>
    <h3>336.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to ensure that crime victims and witnesses receive appropriate assistance, that they are provided with information from government and private resources, and that the agency meets all related legal mandates.</p>

    <h3>336.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing guidance and assistance to the victims and witnesses of crime. The employees of the Metro Transit Police Department will show compassion and understanding for victims and witnesses and
        will make reasonable efforts to provide the support and information identified in this policy.</p>

    <h3>336.3 CRIME VICTIM LIAISON</h3>
    <p>The Chief of Police may appoint a member of the Department to serve as the crime victim liaison. The crime victim liaison will be the point of contact for individuals requiring further assistance or information from the Metro Transit Police Department
        regarding benefits from crime victim resources. This person shall also be responsible for maintaining compliance with all legal mandates related to crime victims and/or witnesses.</p>
    <h4>336.3.1 SPECIFIC VICTIM LIAISON DUTIES</h4>
    <p>The crime victim liaison shall assist the Minnesota Crime Victims Reparations Board in performing its duties and ensure that the Records Section forwards copies of requested reports to the board or other authorized organizations within 10 days of
        receipt, in compliance with the Records Maintenance and Release Policy. These reports include those maintained as confidential or not open to inspection under Minn. Stat. § 260B.171; Minn. Stat. § 260C.171 (Minn. Stat. § 611A.66).</p>

    <h3>336.4 CRIME VICTIMS</h3>
    <p>Officers should provide all victims with the applicable victim information handouts.</p>
    <p>Officers should never guarantee a victim’s safety from future harm but may make practical safety suggestions to victims who express fear of future harm or retaliation. Officers should never guarantee that a person qualifies as a victim for the purpose
        of compensation or restitution but may direct him/her to the proper written department material or available victim resources.</p>

    <h3>336.5 VICTIM INFORMATION</h3>
    <p>The Administration Supervisor shall ensure that victim information handouts are available and current. These should include as appropriate:</p>
    <ol class="alpha">
        <li>Shelters and other community resources for victims of domestic violence.</li>
        <li>Community resources for victims of sexual assault.</li>
        <li>Assurance that sexual assault victims will not incur out-of-pocket expenses for forensic medical exams (42 USC § 3796gg).</li>
        <li>An advisement that a person who was arrested may be released on bond or some other form of release and that the victim should not rely upon an arrest as a guarantee of safety.</li>
        <li>A clear explanation of relevant court orders and how they can be obtained.</li>
        <li>Information regarding available compensation for qualifying victims of crime.</li>
        <li>VINE® information (Victim Information and Notification Everyday), including the telephone number and whether this free service is available to allow victims to check on an offender’s custody status and to register for automatic notification when
            a person is released from jail.</li>
        <li>Notice regarding U-Visa and T-Visa application processes.</li>
        <li>Resources available for victims of identity theft.</li>
        <li>A place for the officer’s name, badge number and any applicable case or incident number.</li>
        <li>Notices and information regarding the rights of crime victims, domestic abuse victims, and offender release as detailed in the following:
            <ol class="decimal">
                <li><a href="http://www.sos.state.mn.us/safe-at-home/" target="_blank">Safe at Home</a> address confidentiality program (Minn. Stat. § 5B.03)</li>
                <li>Offender release notification (Min. Stat. § 244.052; Minn. Stat. § 244.053; Minn. Stat. § 611A.06; Minn. Stat. § 629.73)</li>
                <li>Tenancy issues (Minn. Stat. § 504B.205; Minn. Stat. § 504B.206)</li>
                <li>Victim and specific domestic violence victim information/Minnesota <a href="https://www.minnesotachoice.com/web/guest" target="_blank">CHOICE</a> (Minn. Stat. § 611A.02 et seq.; Minn. Stat. § 629.341; Minn. Stat. § 629.72)</li>
            </ol>
        </li>
        <li>A notice that a decision to arrest is the officer’s and the decision to prosecute lies with the prosecutor, even when a victim requests no arrest or prosecution.</li>
        <li>Contact information for the Office of Justice Programs and the <a href="https://dps.mn.gov/divisions/ojp/help-for-crime-victims/Pages/emergency-fund.aspx" target="_blank">Emergency Fund</a> and <a href="https://dps.mn.gov/divisions/ojp/help-for-crime-victims/Pages/crime-victims-reparations.aspx"
                target="_blank">Crime Victims Reparations</a>.</li>
    </ol>

    <h3>366.6 WITNESSES</h3>
    <p>Officers should never guarantee a witness’ safety from future harm or that his/her identity will always remain confidential. Officers may make practical safety suggestions to witnesses who express fear of future harm or retaliation.</p>
    <p>Officers should investigate allegations of witness intimidation and take enforcement action when lawful and reasonable.</p>
</div>