<div class="chapter" id="338">
    <h2>338 - Hate and Prejudice Crimes</h2>
    <h3>338.1 PURPOSE AND SCOPE</h3>
    <p>The Metro Transit Police Department recognizes and places a high priority on the rights of all individuals guaranteed under the constitution and the laws of this state. When such rights are infringed upon by violence, threats or other harassment,
        this department will utilize all available resources to see that justice is served under the law. This policy has been developed to meet or exceed the provisions of the Matthew Shepard and James Byrd, Jr. Hate Crimes Prevention Act, and provides
        members of this department with guidelines for identifying and investigating incidents and crimes that may be motivated by hatred or other bias.</p>
    <h4>338.1.1 FEDERAL JURISDICTION</h4>
    <p>The federal government also has the power to investigate and prosecute bias-motivated violence by providing the U.S. Department of Justice with jurisdiction over crimes of violence where the perpetrator has selected the victim because of the person's
        actual or perceived race, color, religion, national origin, gender, sexual orientation, gender identity or disability (18 USC § 245).</p>

    <h3>338.2 DEFINITIONS</h3>
    <p><strong>Hate or Prejudice Crime</strong> - Conduct that would constitute a crime and was committed because of the victim’s or another’s actual or perceived race, color, religion, national origin, gender, sexual orientation, gender identity or disability
        (see generally Minn. Stat § 611A.79 Subd. 1).</p>

    <h3>338.3 PREVENTING AND PREPARING FOR LIKELY HATE OR PREJUDICE CRIMES</h3>
    <p>While it is recognized that not all crime can be prevented, this department is committed to taking a proactive approach to preventing and preparing for likely hate or prejudice crimes by among other things:</p>
    <ol class="alpha">
        <li>Officers should make an affirmative effort to establish contact with persons and groups within the community who are likely targets of hate crimes to form and cooperate with prevention and response networks.</li>
        <li>Providing victim assistance and follow-up as outlined below, including community follow-up.</li>
        <li>Educating community and civic groups relating to hate crime laws.</li>
    </ol>

    <h3>338.4 PROCEDURE FOR INVESTIGATING HATE OR PREJUDICE CRIMES</h3>
    <p>Whenever any member of this department receives a report of a suspected hate or prejudice crime or other activity that reasonably appears to involve a potential hate or prejudice crime, the following should occur:</p>
    <ol class="alpha">
        <li>Officers will be promptly assigned to contact the victim, witness or reporting party to investigate the matter further as circumstances may dictate.</li>
        <li>A supervisor should be notified of the circumstances as soon as practicable.</li>
        <li>Once “in progress” aspects of any such situation have been stabilized (e.g., treatment of victims or apprehension of present suspects), the assigned officers will take all reasonable steps to preserve available evidence that may tend to establish
            that a hate or prejudice crime was involved.</li>
        <li>The assigned officers will interview available witnesses, victims and others to determine what circumstances, if any, indicate that the situation may involve a hate or prejudice crime.</li>
        <li>Depending on the situation, the assigned officers or supervisor may request additional assistance from investigators or other resources to further the investigation.</li>
        <li>The assigned officers will include all available evidence indicating the likelihood of a hate or prejudice crime in the relevant reports. All related reports will be clearly marked as “Hate or Prejudice Crimes” and, absent prior approval of a supervisor, will be completed and submitted by the assigned officers before the end of the shift.</li>
        <li>The assigned officers will provide the victims of any suspected hate or prejudice crime with the brochure on hate and prejudice crimes authorized by the Department. Such brochures will also be available to members of the public upon request. The assigned officers should also make reasonable efforts to assist the victims by providing available information on local assistance programs and organizations as required by the Victim Assistance Policy.</li>
        <li>The assigned officers and supervisor should take reasonable steps to ensure that any such situation does not escalate further and provide information to the victim regarding legal aid, e.g., a possible Temporary Restraining Order through the courts, prosecuting attorney or Prosecuting Attorney.</li>
    </ol>

    <h3>338.5 INVESTIGATION DIVISION RESPONSIBILITIES</h3>
    <p>If a case is assigned to the Investigation Division, the assigned investigator will be responsible for following up on the reported hate or prejudice crime as follows:</p>
    <ol class="alpha">
        <li>Coordinating further investigation with the prosecuting attorney and other appropriate law enforcement agencies, as appropriate.</li>
        <li>Maintaining contact with the victims and other involved individuals as needed.</li>
        <li>Maintaining statistical data and tracking of suspected hate or prejudice crimes as indicated or required by state law.</li>
    </ol>
    <h4>338.5.1 STATE HATE CRIME REPORTING</h4>
    <p>This department shall report hate or prejudice crime offenses in the form and manner and at regular intervals as prescribed by rules adopted by the Department of Public Safety. This shall be conducted by the Records Supervisor or assigned to the Investigation Division (Minn. Stat. § 626.5531, Subd. 2).</p>
    <p>Reports are required to include (Minn. Stat. 626.5531, Subd. 1):</p>
    <ol class="alpha">
        <li>The date of the offense.</li>
        <li>The location of the offense.</li>
        <li>Whether the target of the incident was a person, private property or public property.</li>
        <li>The crime committed.</li>
        <li>The type of bias and information about the offender and the victim that is relevant to that bias.</li>
        <li>Any organized group involved in the incident.</li>
        <li>The disposition of the case.</li>
        <li>Whether the determination that the offense was motivated by bias was based on the officer's reasonable belief or on the victim's allegation.</li>
        <li>Any additional information the superintendent deems necessary for the acquisition of accurate and relevant data.</li>
    </ol>
    <h4>338.5.2 FEDERAL HATE CRIME REPORTING</h4>
    <p>The Records Supervisor should include hate crime data reporting within the National Incident- Based Reporting System (NIBRS), Uniform Crime Report (UCR) and Summary Reporting System (SRS) reports pursuant to Records Section procedures and in compliance
        with (28 USC § 534 (a)). In most, if not all cases, this will be the responsibility of the local agency having jurisdiction over the case.</p>

    <h3>338.6 TRAINING</h3>
    <p>All members of this department will receive training on hate and prejudice crime recognition and investigation and will attend periodic training that incorporates a hate and prejudice crime training component (Minn. Stat. § 626.8451, Subd. 1 and Subd. 4).</p>
</div>
