<div class="chapter" id="340">
    <h2>340 - Standards of Conduct</h2>
    <h3>340.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes standards of conduct that are consistent with the values and mission of the Metro Transit Police Department and are expected of all department members. The standards contained in this policy are not intended to be an exhaustive
        list of requirements and prohibitions but they do identify many of the important matters concerning conduct. In addition to the provisions of this policy, members are subject to all other provisions contained in this manual, as well as any additional
        guidance on conduct that may be disseminated by this department or a member’s supervisors.</p>
    <h4>340.1.1 POST</h4>
    <p>This policy incorporates the elements of the Peace Officer Standards and Training Board (POST) Model Policy regarding the professional conduct of peace officers. However, this policy shall apply to all members of this department including volunteer,
        part-time and auxiliary employees.</p>
    <p>The provisions of this policy are in addition to collective bargaining agreements or any other applicable law (see generally Minn. R. 6700.1500).</p>
    <p>The Department shall report annually to POST any data regarding the investigation and disposition of cases involving alleged misconduct of officers (Minn. Stat. § 626.8457, Subd. 3).</p>

    <h3>340.2 POLICY</h3>
    <p>The continued employment or appointment of every member of the Metro Transit Police Department shall be based on conduct that reasonably conforms to the guidelines set forth herein. Failure to meet the guidelines set forth in this policy, whether
        on- or off-duty, may be cause for disciplinary action (see generally Minn. R. 6700.2000 to Minn. R. 6700.2600).</p>

    <h3>340.3 DIRECTIVES AND ORDERS</h3>
    <p>Members shall comply with lawful directives and orders from any department supervisor or person in a position of authority, absent a reasonable and bona fide justification.</p>
    <h4>340.3.1 UNLAWFUL OR CONFLICTING ORDERS</h4>
    <p>Supervisors shall not knowingly issue orders or directives that, if carried out, would result in a violation of any law or department policy. Supervisors should not issue orders that conflict with any previous order without making reasonable clarification
        that the new order is intended to countermand the earlier order.</p>
    <p>No member is required to obey any order that appears to be in direct conflict with any federal law, state law or local ordinance. Following a known unlawful order is not a defense and does not relieve the member from criminal or civil prosecution
        or administrative discipline. If the legality of an order is in doubt, the affected member shall ask the issuing supervisor to clarify the order or shall confer with a higher authority. The responsibility for refusal to obey rests with the member,
        who shall subsequently be required to justify the refusal.</p>
    <p>Unless it would jeopardize the safety of any individual, members who are presented with a lawful order that is in conflict with a previous lawful order, department policy or other directive shall respectfully inform the issuing supervisor of the conflict.
        The issuing supervisor is responsible for either resolving the conflict or clarifying that the lawful order is intended to countermand the previous lawful order or directive, in which case the member is obliged to comply. Members who are compelled
        to follow a conflicting lawful order after having given the issuing supervisor the opportunity to correct the conflict, will not be held accountable for disobedience of the lawful order or directive that was initially issued.</p>
    <p>The person countermanding the original order shall notify, in writing, the person issuing the original order, indicating the action taken and the reason.</p>
    <h4>340.3.2 SUPERVISOR RESPONSIBILITIES</h4>
    <p>Supervisors and managers are required to follow all policies and procedures and may be subject to discipline for:</p>
    <ol class="alpha">
        <li>Failure to be reasonably aware of the performance of their subordinates or to provide appropriate guidance and control.</li>
        <li>Failure to promptly and fully report any known misconduct of a member to his/her immediate supervisor or to document such misconduct appropriately or as required by policy.</li>
        <li>Directing a subordinate to violate a policy or directive, acquiesce to such a violation, or are indifferent to any such violation by a subordinate.</li>
        <li>The unequal or disparate exercise of authority on the part of a supervisor toward any member for malicious or other improper purpose.</li>
    </ol>

    <h3>340.4 GENERAL STANDARDS</h3>
    <p>Members shall conduct themselves, whether on- or off-duty, in accordance with the United States and Minnesota Constitutions and all applicable laws, ordinances and rules enacted or established pursuant to legal authority.</p>
    <p>Members shall familiarize themselves with policies and procedures and are responsible for compliance with each. Members should seek clarification and guidance from supervisors in the event of any perceived ambiguity or uncertainty.</p>
    <p>Discipline may be initiated for any good cause. It is not mandatory that a specific policy or rule violation be cited to sustain discipline. This policy is not intended to cover every possible type of misconduct.</p>

    <h3>340.5 CAUSES FOR DISCIPLINE</h3>
    <p>The following are illustrative of causes for disciplinary action. This list is not intended to cover every possible type of misconduct and does not preclude the recommendation of disciplinary action for violation of other rules, standards, ethics
        and specific action or inaction that is detrimental to efficient department service.</p>
    <h4>340.5.1 LAWS, RULES AND ORDERS</h4>
    <ol class="alpha">
        <li>Violation of, or ordering or instructing a subordinate to violate any policy, procedure, rule, order, directive, requirement or failure to follow instructions contained in department or Metropolitan Council / Metro Transit manuals.</li>
        <li>Disobedience of any legal directive or order issued by any department member of a higher rank.</li>
        <li>Violation of federal, state, local or administrative laws, rules or regulations.</li>
    </ol>
    <h4>340.5.2 ETHICS</h4>
    <ol class="alpha">
        <li>Using or disclosing one’s status as a member of the Metro Transit Police Department in any way that could reasonably be perceived as an attempt to gain influence or authority for non-department business or activity.</li>
        <li>The wrongful or unlawful exercise of authority on the part of any member for malicious purpose, personal gain, willful deceit or any other improper purpose.</li>
        <li>The receipt or acceptance of a reward, fee or gift from any person for service incident to the performance of the member's duties (lawful subpoena fees and authorized work permits excepted).</li>
        <li>Acceptance of fees, gifts or money contrary to the rules of this department and/or laws of the state.</li>
        <li>Offer or acceptance of a bribe or gratuity.</li>
        <li>Misappropriation or misuse of public funds, property, personnel or services.</li>
        <li>Any other failure to abide by the standards of ethical conduct.</li>
    </ol>
    <h4>340.5.3 DISCRIMINATION, OPPRESSION OR FAVORITISM</h4>
    <p>Discriminating against, oppressing or providing favoritism to any person because of age, race, color, creed, religion, sex, sexual orientation, gender identity or expression, national origin, ancestry, marital status, physical or mental disability,
        medical condition or other classification protected by law, or intentionally denying or impeding another in the exercise or enjoyment of any right, privilege, power or immunity, knowing the conduct is unlawful.</p>
    <h4>340.5.4 RELATIONSHIPS</h4>
    <ol class="alpha">
        <li>Unwelcome solicitation of a personal or sexual relationship while on-duty or through the use of one’s official capacity.</li>
        <li>Engaging in on-duty sexual activity including, but not limited to, sexual intercourse, excessive displays of public affection or other sexual contact.</li>
        <li>Establishing or maintaining an inappropriate personal or financial relationship, as a result of an investigation, with a known victim, witness, suspect or defendant while a case is being investigated or prosecuted, or as a direct result of any
            official contact.</li>
        <li>Associating with or joining a criminal gang, organized crime and/or criminal syndicate when the member knows or reasonably should know of the criminal nature of the organization.<br/><br/> This includes any organization involved in a definable
            criminal activity or enterprise, except as specifically directed and authorized by this department.</li>
        <li>Associating on a personal, rather than official basis with persons who demonstrate recurring involvement in serious violations of state or federal laws after the member knows, or reasonably should know of such criminal activities, except as specifically
            directed and authorized by this department.</li>
    </ol>
    <h4>340.5.5 ATTENDANCE</h4>
    <ol class="alpha">
        <li>Leaving the job to which the member is assigned during duty hours without reasonable excuse and proper permission and approval.</li>
        <li>Unexcused or unauthorized absence or tardiness.</li>
        <li>Excessive absenteeism or abuse of leave privileges.</li>
        <li>Failure to report to work or to place of assignment at time specified and fully prepared to perform duties without reasonable excuse.</li>
    </ol>
    <h4>340.5.6 UNAUTHORIZED ACCESS, DISCLOSURE OR USE</h4>
    <ol class="alpha">
        <li>Unauthorized and inappropriate intentional release of confidential or protected information, materials, data, forms or reports obtained as a result of the member’s position with this department.</li>
        <li>Disclosing to any unauthorized person any active investigation information.</li>
        <li>The use of any information, photograph, video or other recording obtained or accessed as a result of employment or appointment to this department for personal or financial gain or without the express authorization of the Chief of Police or the
            authorized designee.</li>
        <li>Loaning, selling, allowing unauthorized use, giving away or appropriating any Metro Transit Police Department badge, uniform, identification card or department property for personal use, personal gain or any other improper or unauthorized use
            or purpose.</li>
        <li>Using department resources in association with any portion of an independent civil action. These resources include, but are not limited to, personnel, vehicles, equipment and non- subpoenaed records.</li>
    </ol>
    <h4>340.5.7 EFFICIENCY</h4>
    <ol class="alpha">
        <li>Neglect of duty.</li>
        <li>Unsatisfactory work performance including, but not limited to, failure, incompetence, inefficiency or delay in performing and/or carrying out proper orders, work assignments or the instructions of supervisors without a reasonable and bona fide
            excuse.</li>
        <li>Concealing, attempting to conceal, removing or destroying defective or incompetent work.</li>
        <li>Unauthorized sleeping during on-duty time or assignments.</li>
        <li>Failure to notify the Department within 24 hours of any change in residence address, contact telephone numbers or marital status.</li>
    </ol>
    <h4>340.5.8 PERFORMANCE</h4>
    <ol class="alpha">
        <li>Failure to disclose or misrepresenting material facts, or making any false or misleading statement on any application, examination form, or other official document, report or form, or during the course of any work-related investigation.</li>
        <li>The falsification of any work-related records, making misleading entries or statements with the intent to deceive or the willful and unauthorized removal, alteration, destruction and/or mutilation of any department record, public record, book,
            paper or document.</li>
        <li>Failure to participate in, or giving false or misleading statements, or misrepresenting or omitting material information to a supervisor or other person in a position of authority, in connection with any investigation or in the reporting of any
            department--related business.</li>
        <li>Being untruthful or knowingly making false, misleading or malicious statements that are reasonably calculated to harm the reputation, authority or official standing of this department or its members.</li>
        <li>Disparaging remarks or conduct concerning duly constituted authority to the extent that such conduct disrupts the efficiency of this department or subverts the good order, efficiency and discipline of this department or that would tend to discredit
            any of its members.</li>
        <li>Unlawful gambling or unlawful betting at any time or any place. Legal gambling or betting under any of the following conditions:</p>
            <ol class="decimal">
                <li>While on department premises.</li>
                <li>At any work site, while on-duty or while in uniform, or while using any department equipment or system.</li>
                <li>Gambling activity undertaken as part of an officer’s official duties and with the express knowledge and permission of a direct supervisor is exempt from this prohibition.</li>
            </ol>
        </li>
        <li>Improper political activity including:</p>
            <ol class="decimal">
                <li>Unauthorized attendance while on-duty at official legislative or political sessions.</li>
                <li>Solicitations, speeches or distribution of campaign literature for or against any political candidate or position while on-duty or on department property except as expressly authorized by Metropolitan Area policy, the collective bargaining
                    agreement, or the Chief of Police.</li>
            </ol>
        </li>
        <li>Engaging in political activities during assigned working hours except as expressly authorized by Metropolitan Area policy, the collective bargaining agreement, or the Chief of Police.</li>
        <li>Any act on- or off-duty that brings discredit to this department.</li>
    </ol>
    <h4>340.5.9 CONDUCT</h4>
    <ol class="alpha">
        <li>Failure of any member to promptly and fully report activities on his/her part or the part of any other member where such activities resulted in contact with any other law enforcement agency or that may result in criminal prosecution or discipline
            under this policy.</li>
        <li>Unreasonable and unwarranted force to a person encountered or a person under arrest.</li>
        <li>Exceeding lawful peace officer powers by unreasonable, unlawful or excessive conduct.</li>
        <li>Unauthorized or unlawful fighting, threatening or attempting to inflict unlawful bodily harm on another.</li>
        <li>Engaging in horseplay that reasonably could result in injury or property damage.</li>
        <li>Discourteous, disrespectful or discriminatory treatment of any member of the public or any member of this department or the Metropolitan Area.</li>
        <li>Use of obscene, indecent, profane or derogatory language while on-duty or in uniform.</li>
        <li>Criminal, dishonest, or disgraceful conduct, whether on- or off-duty, that adversely affects the member’s relationship with this department.</li>
        <li>Unauthorized possession of, loss of, or damage to department property or the property of others, or endangering it through carelessness or maliciousness.</li>
        <li>Attempted or actual theft of department property; misappropriation or misuse of public funds, property, personnel or the services or property of others; unauthorized removal or possession of department property or the property of another person.</li>
        <li>Activity that is incompatible with a member’s conditions of employment or appointment as established by law or that violates a provision of any collective bargaining agreement or contract to include fraud in securing the appointment or hire.</li>
        <li>Initiating any civil action for recovery of any damages or injuries incurred in the course and scope of employment or appointment without first notifying the Chief of Police of such action.</li>
        <li>Any other on- or off-duty conduct which any member knows or reasonably should know is unbecoming a member of this department, is contrary to good order, efficiency or morale, or tends to reflect unfavorably upon this department or its members.</li>
    </ol>
    <h4>340.5.10 SAFETY</h4>
    <ol class="alpha">
        <li>Failure to observe or violating department safety standards or safe working practices.</li>
        <li>Failure to maintain current licenses or certifications required for the assignment or position (e.g., driver’s license, first aid).</li>
        <li>Failure to maintain good physical condition sufficient to adequately and safely perform law enforcement duties.</li>
        <li>Unsafe firearm or other dangerous weapon handling to include loading or unloading firearms in an unsafe manner, either on- or off-duty.</li>
        <li>Carrying, while on the premises of the work place, any firearm or other lethal weapon that is not authorized by the member’s appointing authority.</li>
        <li>Unsafe or improper driving habits or actions in the course of employment or appointment.</li>
        <li>Any personal action contributing to a preventable traffic collision.</li>
        <li>Concealing or knowingly failing to report any on-the-job or work-related accident or injury as soon as practicable but within 24 hours.</li>
    </ol>
    <h4>340.5.11 INTOXICANTS</h4>
    <ol class="alpha">
        <li>Reporting for work or being at work while intoxicated or when the member’s ability to perform assigned duties is impaired due to the use of alcohol, medication or drugs, whether legal, prescribed or illegal.</li>
        <li>Possession or use of alcohol at any work site or while on-duty, except as authorized in the performance of an official assignment. A member who is authorized to consume alcohol is not permitted to do so to such a degree that it may impair on-duty
            performance.</li>
        <li>Unauthorized possession, use of, or attempting to bring a controlled substance, illegal drug or non-prescribed medication to any work site.</li>
    </ol>
</div>