<div class="chapter" id="342">
    <h2>342 - Information Technology Use</h2>
    <h3>342.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the proper use of department information technology resources, including computers, electronic devices, hardware, software and systems.</p>
    <h4>342.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Computer system</strong> - All computers (on-site and portable), electronic devices, hardware, software, and resources owned, leased, rented or licensed by the Metro Transit Police Department that are provided for official use by its members.
        This includes all access to, and use of, Internet Service Providers (ISP) or other service providers provided by or through the Department or department funding.</p>
    <p><strong>Hardware</strong> - Includes, but is not limited to, computers, computer terminals, network equipment, electronic devices, telephones, including cellular and satellite, pagers, modems or any other tangible computer device generally understood
        to comprise hardware.</p>
    <p><strong>Software</strong> - Includes, but is not limited to, all computer programs, systems and applications, including shareware. This does not include files created by the individual user.</p>
    <p><strong>Temporary file</strong> , <strong>permanent file</strong> or <strong>file</strong> - Any electronic document, information or data residing or located, in whole or in part, on the system including, but not limited to, spreadsheets, calendar
        entries, appointments, tasks, notes, letters, reports, messages, photographs or videos.</p>

    <h3>342.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that members shall use information technology resources, including computers, software and systems, that are issued or maintained by the Department in a professional manner and in accordance
        with this policy.</p>

    <h3>342.3 INSPECTION OR REVIEW</h3>
    <p>A supervisor or the authorized designee has the express authority to inspect or review the computer system, all temporary or permanent files, related electronic systems or devices, and any contents thereof, whether such inspection or review is in
        the ordinary course of his/her supervisory duties or based on cause.</p>
    <p>Reasons for inspection or review may include, but are not limited to, computer system malfunctions, problems or general computer system failure, a lawsuit against the Department involving one of its members or a member’s duties, an alleged or suspected
        violation of any department policy, a request for disclosure of data, or a need to perform or provide a service.</p>
    <p>The IT staff may extract, download or otherwise obtain any and all temporary or permanent files residing or located in or on the department computer system when requested by a supervisor or during the course of regular duties that require such information.</p>

    <h3>342.4 PRIVACY EXPECTATION</h3>
    <p>Members forfeit any expectation of privacy with regard to emails, texts or anything published, shared, transmitted or maintained through file-sharing software or any Internet site that is accessed, transmitted, received or reviewed on any department
        computer system.</p>
    <p>The Department reserves the right to access, audit and disclose, for whatever reason, any message, including attachments, and any information accessed, transmitted, received or reviewed over any technology that is issued or maintained by the Department,
        including the department email system, computer network and/or any information placed into storage on any department system or device. This includes records of all keystrokes or Web-browsing history made at any department computer or over any
        department network. The fact that access to a database, service or website requires a username or password will not create an expectation of privacy if it is accessed through department computers, electronic devices or networks.</p>

    <h3>342.5 RESTRICTED USE</h3>
    <p>Members shall not access computers, devices, software or systems for which they have not received prior authorization or the required training. Members shall immediately report unauthorized access or use of computers, devices, software or systems
        by another member to their supervisors or Shift Supervisors.</p>
    <p>Members shall not use another person’s access passwords, logon information and other individual security data, protocols and procedures unless directed to do so by a supervisor.</p>
    <h4>342.5.1 OFF-DUTY USE</h4>
    <p>Members shall only use technology resources provided by the Department while on-duty or in conjunction with specific on-call assignments unless specifically authorized by a supervisor. This includes the use of telephones, cell phones, texting, email
        or any other "off the clock" work-related activities. This also applies to personally owned devices that are used to access department resources.</p>
    <p>Refer to the Personal Communication Devices Policy for guidelines regarding off-duty use of personally owned technology.</p>
    <h4>342.5.2 INTERNET USE</h4>
    <p>Internet access provided by or through the Department shall be strictly limited to department- related activities. Internet sites containing information that is not appropriate or applicable to department use and which shall not be intentionally accessed
        include, but are not limited to, adult forums, pornography, gambling, chat rooms and similar or related Internet sites. Certain exceptions may be permitted with the express approval of a supervisor as a function of a member’s assignment.</p>
    <p>Downloaded information shall be limited to messages, mail and data files.</p>
    <h4>342.5.3 HARDWARE</h4>
    <p>Access to technology resources provided by or through the Department shall be strictly limited to department-related activities. Data stored on or available through department computer systems shall only be accessed by authorized members who are engaged
        in an active investigation or assisting in an active investigation, or who otherwise have a legitimate law enforcement or department-related purpose to access such data. Any exceptions to this policy must be approved by a supervisor.</p>
    <h4>342.5.4 SOFTWARE</h4>
    <p>Members shall not copy or duplicate any copyrighted or licensed software except for a single copy for backup purposes in accordance with the software company’s copyright and license agreement.</p>
    <p>To reduce the risk of a computer virus or malicious software, members shall not install any unlicensed or unauthorized software on any department computer. Members shall not install personal copies of any software onto any department computer.</p>
    <p>When related to criminal investigations, software program files may be downloaded only with the approval of the information systems technology (IT) staff and with the authorization of the Chief of Police or the authorized designee.</p>
    <p>No member shall knowingly make, acquire or use unauthorized copies of computer software that is not licensed to the Department while on department premises, computer systems or electronic devices. Such unauthorized use of software exposes the Department
        and involved members to severe civil and criminal penalties.</p>
    <p>Introduction of software by members should only occur as part of the automated maintenance or update process of department- or Metropolitan Area-approved or installed programs by the original manufacturer, producer or developer of the software.</p>
    <p>Any other introduction of software requires prior authorization from IT staff and a full scan for malicious attachments.</p>

    <h3>342.6 PROTECTION OF AGENCY SYSTEMS AND FILES</h3>
    <p>All members have a duty to protect the computer system and related systems and devices from physical and environmental damage and are responsible for the correct use, operation, care and maintenance of the computer system.</p>
    <p>Members shall ensure department computers and access terminals are not viewable by persons who are not authorized users. Computers and terminals should be secured, users logged off and password protections enabled whenever the user is not present.
        Access passwords, logon information and other individual security data, protocols and procedures are confidential information and are not to be shared. Password length, format, structure and content shall meet the prescribed standards required
        by the computer system or as directed by a supervisor and shall be changed at intervals as directed by IT staff or a supervisor.</p>
    <p>It is prohibited for a member to allow an unauthorized user to access the computer system at any time or for any reason. Members shall promptly report any unauthorized access to the computer system or suspected intrusion from outside sources (including
        the Internet) to a supervisor.</p>
</div>