<div class="chapter" id="346">
    <h2>346 - Media Relations</h2>
    <h3>346.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for media releases and media access to scenes of disasters, criminal investigations, emergencies and other law enforcement activities.</p>

    <h3>346.2 RESPONSIBILITIES</h3>
    <p>The ultimate authority and responsibility for the release of information to the media shall remain with the Chief of Police. However, in situations not warranting immediate notice to the Chief of Police and in situations where the Chief of Police
        has given prior approval, Captains, Shift Supervisors and designated Public Information Officer(s) may prepare and release information to the media in accordance with this policy and the applicable law.</p>
    <h4>346.2.1 MEDIA REQUEST</h4>
    <p>Any media request for information or access to a law enforcement situation shall be referred to the designated Department media representative, or if unavailable, to the first available supervisor. Prior to releasing any information to the media,
        employees shall consider the following:</p>
    <ol class="alpha">
        <li>At no time shall any employee of this department make any comment or release any official information to the media without prior approval from a supervisor or the designated Department media representative.</li>
        <li>In situations involving multiple law enforcement agencies, every reasonable effort should be made to coordinate media releases with the authorized representative of each involved agency prior to the release of any information by this department.</li>
        <li>Under no circumstance should any member of this department make any comment(s) to the media regarding any law enforcement incident not involving this department without prior approval of the Chief of Police.</li>
    </ol>

    <h3>346.3 MEDIA ACCESS</h3>
    <p>Authorized members of the media shall be provided access to scenes of disasters, criminal investigations, emergencies and other law enforcement activities subject to the following conditions:</p>
    <ol class="alpha">
        <li>The media representative shall produce valid press credentials that shall be prominently displayed at all times while in areas otherwise closed to the public.</li>
        <li>Media representatives may be prevented from interfering with emergency operations and criminal investigations.</p>
            <ol class="decimal">
                <li>Reasonable effort should be made to provide a safe staging area for the media that is near the incident and that will not interfere with emergency or criminal investigation operations. All information released to the media should be coordinated
                    through the department Public Information Officer or other designated spokesperson.</li>
            </ol>
        </li>
        <li>No member of this department shall be required to submit to media visits or interviews without the consent of the involved employee.</li>
        <li>Media interviews with individuals who are in custody shall not be permitted unless in compliance with a jail facility policy. Exceptions are only permitted with the approval of the Chief of Police and the express written consent of the person
            in custody.</li>
    </ol>
    <p>A tactical operation should be handled in the same manner as a crime scene, except the news media shall be permitted within the outer perimeter of the scene, subject to any restrictions as determined by the supervisor in charge. Department members
        shall not jeopardize a tactical operation in order to accommodate the news media. All comments to the media shall be coordinated through a supervisor or the Public Information Officer.</p>
    <h4>346.3.1 TEMPORARY FLIGHT RESTRICTIONS</h4>
    <p>Whenever the presence of media or other aircraft poses a threat to public or officer safety or significantly hampers incident operations, the field supervisor should consider requesting a Temporary Flight Restriction (TFR). All requests for a TFR
        should be routed through the Shift Supervisor. The TFR request should include specific information regarding the perimeter and altitude necessary for the incident and should be requested through the appropriate control tower. If the control tower
        is not known, the Federal Aviation Administration should be contacted (14 CFR 91.137).</p>
    <h4>346.3.2 PROVIDING ADVANCE INFORMATION</h4>
    <p>To protect the safety and rights of officers and other persons, advance information about planned actions by law enforcement personnel, such as movement of persons in custody or the execution of an arrest or search warrant, should not be disclosed
        to the news media nor should media representatives be invited to be present at such actions except with the prior approval of the Chief of Police.</p>
    <p>Any exceptions to the above should only be considered for the furtherance of legitimate law enforcement purposes. Prior to approving any exception, the Chief of Police will consider, at minimum, whether the release of information or presence of the
        media would unreasonably endanger any individual, prejudice the rights of any person or is otherwise prohibited by law.</p>

    <h3>346.4 SCOPE OF INFORMATION SUBJECT TO RELEASE</h3>
    <p>The Department will maintain a daily information log of significant law enforcement activities that shall be made available, upon request, to media representatives through the Shift Supervisor. This log will consist of data classified as public and
        should generally contain the following information (Minn. Stat. § 13.82):</p>
    <ol class="alpha">
        <li>The date, time, location, case number, type of crime, extent of injury or loss and names of individuals (except confidential informants) involved in crimes occurring within this jurisdiction, unless the release of such information would endanger
            the safety of any individual or jeopardize the successful completion of any ongoing investigation.</li>
        <li>The date, time, location, case number, name, birth date and charges for each person arrested by this department, unless the release of such information would endanger the safety of any individual or jeopardize the successful completion of any
            ongoing investigation.</li>
        <li>The time and location of other significant law enforcement activities or requests for service with a brief summary of the incident subject to the restrictions of this policy and applicable law.</li>
    </ol>
    <p>Any requests for copies of related reports or additional information not contained in this log shall be referred to the designated media representative, the custodian of records, or if unavailable, to the Shift Supervisor. Such requests will generally
        be processed in accordance with the provisions of the Minnesota Government Data Practices Act (Minn. Stat. § 13.03).</p>
    <h4>346.4.1 STATE RESTRICTED INFORMATION</h4>
    <p>It shall be the responsibility of the authorized employee dealing with media requests to ensure that restricted information is not inappropriately released to the media by this department (see the Records Maintenance and Release Policy and the Personnel
        Files Policy). When in doubt, authorized and available legal counsel should be obtained.</p>
</div>