<div class="chapter" id="348">
    <h2>348 - Court Appearance and Subpoenas</h2>
    <h3>348.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes the guidelines for department members who must appear in court. It will allow the Metro Transit Police Department to cover any related work absences and keep the Department informed about relevant legal matters.</p>

    <h3>348.2 POLICY</h3>
    <p>Metro Transit Police Department members will respond appropriately to all subpoenas and any other court-ordered appearances.</p>

    <h3>348.3 SUBPOENAS</h3>
    <p>Only department members authorized to receive a subpoena on behalf of this department or any of its members may do so (Minn. R. Civ. P. 45.02; Minn. R. Crim. P. 22.03).</p>
    <p>A court notice from a prosecutor or other government attorney may be served by delivery to the member’s workstation or mail box. Members shall check for delivery of such documents during each shift worked.</p>
    <p>Subpoenas shall not be accepted in a civil action in which the member or Department is not a party without properly tendered fees pursuant to applicable law (Minn. Stat. § 357.23; Minn. R. Civ. P. 45.03).</p>

    <h3>348.4 FAILURE TO APPEAR</h3>
    <p>Any member who fails to comply with the terms of any properly served subpoena or court-ordered appearance may be subject to discipline. This includes properly served orders to appear that were issued by a state administrative agency.</p>

    <h3>348.5 STANDBY</h3>
    <p>To facilitate standby agreements, members are required to provide and maintain current information on their addresses and contact telephone numbers with the Department.</p>
    <p>If a member on standby changes his/her location during the day, the member shall notify the designated department member of how he/she can be reached. Members are required to remain on standby until released by the court or the party that issued the
        subpoena.</p>

    <h3>348.6 COURTROOM PROTOCOL</h3>
    <p>When appearing in court, members shall:</p>
    <ol class="alpha">
        <li>Be punctual and prepared to proceed immediately with the case for which they are scheduled to appear.
            <li>Dress in the department uniform or business attire.</li>
            <li>Observe all rules of the court in which they are appearing and remain alert to changes in the assigned courtroom where their matter is to be heard.</li>
    </ol>
    <h4>348.6.1 TESTIMONY</h4>
    <p>Before the date of testifying, the subpoenaed member shall request a copy of relevant reports and become familiar with the content in order to be prepared for court.</p>

    <h3>348.7 OVERTIME APPEARANCES</h3>
    <p>When a member appears in court on his/her off-duty time, he/she will be compensated in accordance with any current collective bargaining agreement.</p>
</div>