<div class="chapter" id="352">
															<h2>352 - Outside Agency Assistance</h2>
															<h3>352.1 PURPOSE AND SCOPE</h3>
											                <p>The purpose of this policy is to provide guidance to members when requesting or responding to a request for mutual aid or when assisting another law enforcement agency.</p>

											                <h3>352.2 POLICY</h3>
											                <p>It is the policy of the Metro Transit Police Department to promptly respond to requests for assistance by other law enforcement agencies, subject to available resources and consistent with the applicable laws and policies of this department.</p>

											                <h3>352.3 ASSISTING OUTSIDE AGENCIES</h3>
											                <p>Generally, requests for any type of assistance from another agency should be routed to the Shift Supervisor’s office for approval. Any such response to assist an outside agency may be considered for authorization regardless of whether an agreement for reciprocal aid under Minn. Stat. § 626.76, Subd. 1 exists. In some instances, a memorandum of understanding or other established protocol may exist that eliminates the need for approval of individual requests.</p>
											                <p>When another law enforcement agency requests assistance from this department, the Shift Supervisor may authorize, if available, an appropriate number of personnel to assist. Members are reminded that their actions when rendering assistance must conform with applicable laws and be consistent with the policies of this department.</p>
											                <p>Officers may respond to a request for emergency assistance; however, they shall notify a supervisor of their activity as soon as practicable.</p>
											                <p>Arrestees may be temporarily detained by this department until arrangements for transportation are made by the outside agency. Probation violators who are temporarily detained by this department will not ordinarily be booked by this department. Only in exceptional circumstances, and subject to supervisor approval, will this department provide transportation of arrestees to other facilities on behalf of another agency.</p>
											                <p>When transportation assistance is rendered, a report shall be prepared and submitted by the handling member unless otherwise directed by a supervisor.</p>
									                        <h4>352.3.1 AGREEMENTS</h4>
									                        <p>The Department may, at the discretion of the Chief of Police, establish an agreement with another law enforcement agency to (Minn. Stat. § 626.76, Subd.1):</p>
									                        <ol class="alpha">
									                            <li>Assist other peace officers in the line of their duty and within the course of their employment.</li>
									                            <li>Exchange department peace officers with peace officers of another agency on a temporary basis.</li>
									                        </ol>
									                        <h4>352.3.2 INITIATED ACTIVITY</h4>
														    <p>Any on-duty officer who engages in law enforcement activities of any type that are not part of a mutual aid request and take place outside the jurisdiction of the Metro Transit Police Department shall notify his/her supervisor or the Shift Supervisor and Transit Control Center as soon as practicable. This requirement does not apply to special enforcement details or multi-agency units that regularly work in multiple jurisdictions.</p>

														    <h3>352.4 REQUESTING OUTSIDE ASSISTANCE</h3>
											                <p>If assistance is needed from another agency, the member requesting assistance should, if practicable, first notify a supervisor. The handling member or supervisor should direct assisting personnel to where they are needed and to whom they should report when they arrive.</p>
											                <p>The requesting member should arrange for appropriate radio communication capabilities, if necessary and available, so that communication can be coordinated between assisting personnel.</p>

											                <h3>352.5 REPORTING REQUIREMENTS</h2>
											                <p>Incidents of outside assistance or law enforcement activities that are not documented in a crime report shall be documented in a general case report or as directed by the Shift Supervisor.</p>

											                <h3>352.6 MANDATORY SHARING</h3>
											                <p>Equipment and supplies purchased with federal funds or grants that require such equipment and supplies be shared with other agencies should be documented and updated as necessary by the Administration Supervisor or the authorized designee.</p>
														    <p>The documentation should include:</p>
														    <ol class="alpha">
														        <li>The conditions relative to sharing.</li>
														        <li>The training requirements for:
														            <ol class="decimal">
														                <li>The use of the supplies and equipment.</li>
														                <li>The members trained in the use of the supplies and equipment.</li>
														            </ol>
														        </li>
														        <li>Any other requirements for use of the equipment and supplies.</li>
														    </ol>
														    <p>Copies of the documentation should be provided to Transit Control Center and the Shift Supervisor to ensure use of the equipment and supplies is in compliance with the applicable sharing agreements.</p>
														    <p>The Training Supervisor should maintain documentation that the appropriate members have received the required training.</p>
														</div>
