<div class="chapter" id="358">
    <h2>358 - Major Incident Notification</h2>
    <h3>358.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance to members of this department in determining when, how and to whom notification of major incidents should be made.</p>

    <h3>358.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes that certain incidents should be brought to the attention of supervisors or other specified personnel of this department to facilitate the coordination of activities and ensure that inquiries from the
        media and the public may be properly addressed.</p>

    <h3>358.3 MINIMUM CRITERIA FOR NOTIFICATION</h3>
    <p>Most situations where the media show a strong interest are also of interest to the Chief of Police. The following list of incident types is provided as a guide for notification and is not intended to be all inclusive:</p>
    <ul>
        <li>Homicides.</li>
        <li>Traffic collisions with fatalities.</li>
        <li>Officer-involved shooting, whether on or off-duty (See Officer-Involved Shooting Policy for special notifications).</li>
        <li>Significant injury or death to an employee, whether on or off-duty.</li>
        <li>Death of a prominent Metropolitan Council / Metro Transit official.</li>
        <li>Arrest of Department employee or prominent Metropolitan Council / Metro Transit official.</li>
        <li>In-custody deaths.</li>
        <li>Any other incident, which has or is likely to attract significant media attention.</li>
    </ul>

    <h3>358.4 SHIFT SUPERVISOR RESPONSIBILITIES</h3>
    <p>The Shift Supervisor is responsible for making the appropriate notifications. The Shift Supervisor shall make reasonable attempts to obtain as much information on the incident as possible before notification. The Shift Supervisor shall attempt to
        make the notifications as soon as practicable.</p>
    <h4>358.4.1 STAFF NOTIFICATION</h4>
    <p>In the event an incident occurs as identified in the Minimum Criteria for Notification, the Chief of Police shall be notified along with the affected Division supervisor and the Investigation Division supervisor if that division is providing assistance.</p>
    <h4>358.4.2 DETECTIVE NOTIFICATION</h4>
    <p>If the incident requires that an officer or investigator respond from home, the immediate supervisor of the appropriate detail shall be contacted. Detectives may be contacted directly in the event the Investigation Division supervisor in unable to
        be reached.</p>
    <h4>358.4.3 PATROL SUPERVISOR NOTIFICATION</h4>
    <p>In the event of a traffic fatality or major injury, the Traffic Reconstruction supervisor shall be notified, who will then contact the appropriate investigator.</p>
    <h4>358.4.4 PUBLIC INFORMATION OFFICER (PIO)</h4>
    <p>The Public Information Officer (PIO) shall be called after members of staff have been notified that it appears the media may have a significant interest in the incident. The PIO will typically be notified by the Chief of Police or designee.</p>
</div>