<div class="chapter" id="360">
    <h2>360 - Death Investigation</h2>
    <h3>360.1 PURPOSE AND SCOPE</h3>
    <p>The investigation of cases involving death include those ranging from natural cause to homicide. Some causes of death may not be readily apparent and some cases differ substantially from what they appeared to be initially. The thoroughness of death
        investigations cannot be emphasized enough.</p>
    <p>Death investigations shall be conducted pursuant to Minn. Stat. § 390.005 through 390.252 if the county has an elected or appointed Coroner (Minn. Stat. § 390.34).</p>

    <h3>360.2 INVESTIGATION CONSIDERATIONS</h3>
    <p>Death investigation cases require certain actions be taken. Emergency Medical Services shall be called in all suspected death cases unless the death is obvious (e.g., decapitated or decomposed). Peace officers are not authorized to pronounce death
        unless they are also Coroners or deputy coroners.</p>
    <p>Metro Transit Police Department officers responding to or encountering a death scene shall promptly notify their Shift Supervisor. The Shift Supervisor shall ensure that a supervisor from the local agency with jurisdiction over the case is also notified.</p>
    <h4>360.2.1 MEDICAL EXAMINER REQUEST</h4>
    <p>The Medical Examiner shall be called in all sudden or unexpected deaths or deaths due to other than natural causes, including, but not limited to (Minn. Stat. § 390.11):</p>
    <ol class="alpha">
        <li>Unnatural deaths, including violent deaths arising from homicide, suicide or accident.</li>
        <li>Deaths due to a fire or associated with burns or chemical, electrical or radiation injury.</li>
        <li>Unexplained or unexpected perinatal and postpartum maternal deaths.</li>
        <li>Deaths under suspicious, unusual or unexpected circumstances.</li>
        <li>Deaths of persons whose bodies are to be cremated or otherwise disposed of so that the bodies will later be unavailable for examination.</li>
        <li>Deaths of inmates of public institutions and persons in custody of law enforcement officers who have not been hospitalized primarily for organic disease.</li>
        <li>Deaths that occur during, in association with or as the result of diagnostic, therapeutic or anesthetic procedures.</li>
        <li>Deaths due to culpable neglect.</li>
        <li>Stillbirths of 20 weeks or longer gestation unattended by a physician.</li>
        <li>Sudden deaths of persons not affected by recognizable disease.</li>
        <li>Unexpected deaths of persons notwithstanding a history of underlying disease.</li>
        <li>Deaths in which a fracture of a major bone, such as a femur, humerus or tibia, has occurred within the past six months.</li>
        <li>Deaths unattended by a physician occurring outside of a licensed health care facility or licensed residential hospice program.</li>
        <li>Deaths of persons not seen by their physician within 120 days of demise.</li>
        <li>Deaths of persons occurring in an emergency department.</li>
        <li>Stillbirths or deaths of newborn infants in which there has been maternal use of or exposure to unprescribed controlled substances, including street drugs, or in which there is a history or evidence of maternal trauma.</li>
        <li>Unexpected deaths of children.</li>
        <li>Solid organ donors.</li>
        <li>Unidentified bodies.</li>
        <li>Skeletonized remains.</li>
        <li>Unexpected deaths occurring within 24 hours of arrival at a health care facility.</li>
        <li>Deaths associated with the decedent's employment.</li>
        <li>Deaths of non-registered hospice patients or patients in non-licensed hospice programs.</li>
        <li>Deaths attributable to acts of terrorism.</li>
    </ol>
    <h4>360.2.2 SEARCHING DEAD BODIES</h4>
    <p>The Medical Examiner or his/her assistants and authorized investigators are generally the only persons permitted to move, handle or search a dead body (Minn. Stat. § 390.221).</p>
    <p>An officer shall make a reasonable search of an individual who it is reasonable to believe is dead, or near death, for information identifying the individual as an organ donor or as an individual who made a refusal. If a donor document is located,
        the Medical Examiner shall be promptly notified (Minn. Stat. § 525A.12).</p>
    <p>Should exigent circumstances indicate to an officer that any other search of a known dead body is warranted prior to the arrival of the Medical Examiner, the investigating officer shall first obtain verbal consent from the Medical Examiner.</p>
    <p>The Medical Examiner is required to release property or articles to law enforcement that are necessary for conducting an investigation unless reasonable basis exists pursuant to Minn. Stat.</p>
    <p>§ 390.225 Subd. 2 to not release the property or articles (Minn. Stat. § 390.221).</p>
    <p>Whenever reasonably possible, a witness, preferably a relative of the deceased or a member of the household, should be requested to remain nearby the scene and available to the officer, pending the arrival of the Medical Examiner.</p>
    <p>The name and address of this person shall be included in the narrative of the death report. Whenever personal effects are removed from the body of the deceased by the Medical Examiner, a receipt shall be obtained. This receipt shall be attached to
        the death report.</p>
    <h4>360.2.3 DEATH NOTIFICATION</h4>
    <p>When practicable, and if not handled by the Medical Examiner, notification to the next-of-kin of the deceased person shall be made, in person, by the Chief of Police or designee. If the next-of-kin lives in another jurisdiction, a law enforcement
        official from that jurisdiction may be requested to make the personal notification. If the relatives live outside the Metro Transit Police Department's jurisdiction, the Medical Examiner may be requested to make the notification. The Medical Examiner
        needs to know if notification has been made. Assigned investigators may need to talk to the next-of-kin.</p>
    <p>If a deceased person has been identified as a missing person, this department shall attempt to locate family members and inform them of the death and the location of the deceased missing person's remains. All efforts to locate and notify family members
        shall be recorded in appropriate reports and properly retained (Minn. Stat. § 390.25 Subd. 2 (b)).</p>
    <p>This department shall immediately notify the state fire marshal when a human death results from a fire, (Minn. Stat. § 299F.04 Subd. 5 (b)).</p>
    <h4>360.2.4 UNIDENTIFIED DEAD BODIES</h4>
    <p>If the identity of a dead body cannot be established after the Medical Examiner arrives, the Medical Examiner will issue a "John Doe" or "Jane Doe" number for the report.</p>
    <h4>360.2.5 UNIDENTIFIED BODIES DATA ENTRY</h4>
    <p>As soon as reasonably possible, but no later than 30 working days after the date a death is reported to the Department, any information or items pertaining to identifying features of the unidentified body, dental records, fingerprints, any unusual
        physical characteristics, description of clothing or personal belongings found on or with the body, that are in the possession of MTPD shall be forwarded to the Medical Examiner for transmission to the BCA for eventual entry into systems designed
        to assist in the identification process, such as the Missing Children and Missing Persons Information Clearinghouse and the National Crime Information Center (NCIC) files (Minn. Stat. § 390.25 Subd. 2 (a)).</p>
    <h4>360.2.6 DEATH INVESTIGATION REPORTING</h4>
    <p>All incidents involving a death shall be documented on the appropriate form.</p>
    <h4>360.2.7 SUSPECTED HOMICIDE</h4>
    <p>If the initially assigned officer suspects that the death involves a homicide or other suspicious circumstances, the officer shall take steps to protect the scene and the Investigation Division shall be notified to determine the possible need for
        an investigator to respond to the scene for further immediate investigation.</p>
    <p>If the on-scene supervisor, through consultation with the Shift Supervisor or Investigation Division supervisor, is unable to determine the manner of death, the investigation shall proceed as though it is a homicide.</p>
    <p>The investigator of a homicide or suspicious-circumstances death may, with the approval of his/ her supervisor, request the Medical Examiner to conduct physical examinations and tests and provide a report with the costs borne by the Department (Minn.
        Stat. § 390.251).</p>
    <h4>360.2.8 EMPLOYMENT RELATED DEATHS OR INJURIES</h4>
    <p>Any member of this agency who responds to and determines that a death, serious illness or serious injury has occurred as a result of an accident at or in connection with the victim’s employment, should ensure that the nearest office of the Minnesota
        Department of Labor and Industry is notified with all pertinent information.</p>
</div>