<div class="chapter" id="362">
    <h2>362 - Identity Theft</h2>
    <h3>362.1 PURPOSE AND SCOPE</h3>
    <p>Identity theft is a growing trend that frequently involves related crimes in multiple jurisdictions. This policy is intended to provide guidelines for the reporting and investigation of such crimes.</p>

    <h3>362.2 REPORTING</h3>
    <ol class="alpha">
        <li>A report shall be taken any time a person living within the jurisdiction of the Metro Transit Police Department reports that he/she has been a victim of identity theft (Minn. Stat. § 609.527, Subd. 5). This includes:
            <ol class="decimal">
                <li>Taking a report even if the location of the crime is outside the jurisdiction of this department or has not been determined.</li>
                <li>Providing the victim with department information, as set forth in the Victim and Witness Assistance Policy. Officers should encourage the individual to review the material, and assist with any questions.</li>
            </ol>
        </li>
        <li>Officers should include all known incidents of fraudulent activity (e.g., credit card number applied for in victim’s name when the victim has never made such an application).</li>
        <li>Officers should also cross-reference all known reports made by the victim (e.g., U.S. Secret Service, credit reporting bureaus, U.S. Postal Service and the Department of Public Safety's Driver and Vehicle Services Division) with all known report
            numbers.</li>
        <li>Following supervisory review and Department processing, the initial report should be forwarded to the appropriate investigator for follow-up investigation, coordination with other agencies and prosecution as circumstances dictate.</li>
    </ol>

    <h3>362.3 PREVENTATIVE MEASURES</h3>
    <p>The victim should be advised to place a security freeze on his/her consumer report as allowed by law (Minn. Stat. § 13C.016 Subd. 2). A victim may also access the Minnesota Attorney General's office for additional detailed information.</p>

    <h3>362.4 VICTIM DATA</h3>
    <p>The victim may be provided the Consent to Create an FBI Identity Theft File Form and a Notice About Providing Your Social Security Number. These completed forms should be submitted to the Records Section for appropriate filing and entry into the NCIC
        Identity Theft File. Forms and details are available on the Bureau of Criminal Apprehension identity theft website.</p>

    <h3>362.5 INFORMATION</h3>
    <p>The victim should also be encouraged to contact the Federal Trade Commission (FTC), which is responsible for receiving and processing complaints under the Identity Theft and Assumption Deterrence Act. The victim can contact the FTC online or by telephone.
        Additional information may be found at the U.S. Department of Justice (USDOJ) website.</p>
</div>