<div class="chapter" id="364">
    <h2>364 - Private Persons Arrests</h2>
    <h3>364.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance for the handling of private person's arrests made pursuant to Minn. Stat. § 629.30 Subd. 2 (4).</p>

    <h3>364.2 ADVISING PRIVATE PERSONS OF THE ARREST PROCESS</h3>
    <p>All officers shall advise civilians of the right to make a private person's arrest, including advice on how to safely execute such an arrest. In all situations, officers should use sound discretion in determining whether to advise an individual of
        the arrest process.</p>
    <ol class="alpha">
        <li>When advising any individual regarding the right to make a private person's arrest, officers should refrain from encouraging or dissuading any individual from making such an arrest and should instead limit advice to the legal requirements for
            such an arrest, as listed below.</li>
        <li>Private individuals should be discouraged from using force to effect a private person's arrest. Absent immediate threat to their own safety or the safety of others, private individuals should be encouraged to refer matters to law enforcement officials
            for further investigation or arrest.</li>
        <li>Private individuals shall be informed of the requirement to take the arrested person before a judge or to a peace officer without unnecessary delay (Minn. Stat. § 629.39).</li>
    </ol>

    <h3>364.3 ARRESTS BY PRIVATE PERSONS</h3>
    <p>A private person may arrest another under the following circumstances (Minn. Stat. § 629.37):</p>
    <ol class="alpha">
        <li>For a public offense committed or attempted in his/her presence.</li>
        <li>When the person arrested has committed a felony, although not in his/her presence.</li>
        <li>When a felony has been committed and he/she has reasonable cause for believing the person to be arrested committed the felony.</li>
        <li>When directed by a judge or a peace officer to arrest another person (Minn. Stat. § 629.403).</li>
    </ol>

    <h3>364.4 OFFICER RESPONSIBILITIES</h3>
    <p>Any officer presented with a private person wishing to make an arrest must determine whether there is reasonable cause to believe that such an arrest would be lawful.</p>
    <ol class="alpha">
        <li>Should any officer determine that there is no reasonable cause to believe that a private person's arrest is lawful, the officer should take no action to further detain or restrain the individual beyond that which reasonably appears necessary to
            investigate the matter, determine the lawfulness of the arrest and protect the public safety.
            <ol class="decimal">
                <li>Any officer who determines that a private person's arrest appears to be unlawful should promptly release the arrested individual. The officer must include the basis of such a determination in a related report.</li>
                <li>Absent reasonable cause to support a private person's arrest or other lawful grounds to support an independent arrest by the officer, the officer should advise the parties that no arrest will be made and that the circumstances will be
                    documented in a related report.</li>
            </ol>
        </li>
        <li>Whenever an officer determines that there is reasonable cause to believe that a private person's arrest is lawful, the officer may exercise any of the following options:
            <ol class="decimal">
                <li>Take the individual into physical custody for booking.</li>
                <li>Release the individual upon a misdemeanor citation or pending formal charges.</li>
            </ol>
        </li>
    </ol>

    <h3>364.5 REPORTING REQUIREMENTS</h3>
    <p>In all circumstances in which a private person is claiming to have made an arrest, the individual must complete and sign a Department Citizen's Arrest Form. If the person fails or refuses to do so the arrest subject shall be released unless the officer
        has an independent reason to take the person into custody.</p>
    <p>In addition to the Citizen's Arrest Form (and any other related documents, such as citations and booking forms), officers shall complete a narrative report regarding the circumstances and disposition of the incident.</p>
</div>