<div class="chapter" id="368">
    <h2>368 - Limited English Preficiency Services</h2>
    <h3>368.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance to members when communicating with individuals with limited English proficiency (LEP) (42 USC § 2000d).</p>
    <h4>368.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Authorized interpreter</strong> - A person who has been screened and authorized by the Department to act as an interpreter and/or translator for others.</p>
    <p><strong>Interpret or interpretation</strong> - The act of listening to a communication in one language (source language) and orally converting it to another language (target language), while retaining the same meaning.</p>
    <p><strong>Limited English proficient (LEP)</strong> - Any individual whose primary language is not English and who has a limited ability to read, write, speak or understand English. These individuals may be competent in certain types of communication
        (e.g., speaking or understanding) but still be LEP for other purposes (e.g., reading or writing). Similarly, LEP designations are context-specific; an individual may possess sufficient English language skills to function in one setting but these
        skills may be insufficient in other situations. This includes individuals who, because of difficulty in speaking or comprehending the English language, cannot fully understand any charges made against them, the seizure of their property, or they
        are incapable of presenting or assisting in the presentation of a defense (Minn. Stat. § 611.31).</p>
    <p><strong>Qualified bilingual member</strong> - A member of the Metro Transit Police Department, designated by the Department, who has the ability to communicate fluently, directly and accurately in both English and another language. Bilingual members
        may be fluent enough to communicate in a non-English language but may not be sufficiently fluent to interpret or translate from one language into another.</p>
    <p><strong>Translate or translation</strong> - The replacement of written text from one language (source language) into an equivalent written text (target language).</p>

    <h3>368.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to reasonably ensure that LEP individuals have meaningful access to law enforcement services, programs and activities, while not imposing undue burdens on its members.</p>
    <p>The Department will not discriminate against or deny any individual access to services, rights or programs based upon national origin or any other protected interest or right.</p>

    <h3>368.3 LEP COORDINATOR</h3>
    <p>The Chief of Police shall delegate certain responsibilities to an LEP Coordinator. The LEP Coordinator shall be appointed by, and directly responsible to, the Patrol Captain or the authorized designee.</p>
    <p>The responsibilities of the LEP Coordinator include, but are not limited to:</p>
    <ol class="alpha">
        <li>Coordinating and implementing all aspects of the Metro Transit Police Department's LEP services to LEP individuals.</li>
        <li>Developing procedures that will enable members to access LEP services, including telephonic interpreters, and ensuring the procedures are available to all members.</li>
        <li>Ensuring that a list of all qualified bilingual members and authorized interpreters is maintained and available to each Shift Supervisor and Communications Supervisor. The list should include information regarding the following:
            <ol class="decimal">
                <li>Languages spoken</li>
                <li>Contact information</li>
                <li>Availability</li>
            </ol>
        </li>
        <li>Ensuring signage stating that interpreters are available free of charge to LEP individuals is posted in appropriate areas and in the most commonly spoken languages.</li>
        <li>Reviewing existing and newly developed documents to determine which are vital documents and should be translated, and into which languages the documents should be translated.</li>
        <li>Annually assessing demographic data and other resources, including contracted language services utilization data and community-based organizations, to determine if there are additional documents or languages that are appropriate for translation.</li>
        <li>Identifying standards and assessments to be used by the Department to qualify individuals as qualified bilingual members or authorized interpreters.</li>
        <li>Periodically reviewing efforts of the Department in providing meaningful access to LEP individuals, and, as appropriate, developing reports, new procedures or recommending modifications to this policy.</li>
        <li>Receiving and responding to complaints regarding department LEP services.</li>
        <li>Ensuring appropriate processes are in place to provide for the prompt and equitable resolution of complaints and inquiries regarding discrimination in access to department services, programs and activities.</li>
    </ol>

    <h3>368.4 FOUR-FACTOR ANALYSIS</h3>
    <p>Since there are many different languages that members could encounter, the Department will utilize the four-factor analysis outlined in the U.S. Department of Justice (DOJ) Guidance to Federal Financial Assistance Recipients, available at the DOJ
        website, to determine which measures will provide meaningful access to its services and programs. It is recognized that law enforcement contacts and circumstances will vary considerably. This analysis, therefore, must remain flexible and will
        require an ongoing balance of four factors, which are:</p>
    <ol class="alpha">
        <li>The number or proportion of LEP individuals eligible to be served or likely to be encountered by department members, or who may benefit from programs or services within the jurisdiction of the Department or a particular geographic area.</li>
        <li>The frequency with which LEP individuals are likely to come in contact with department members, programs or services.</li>
        <li>The nature and importance of the contact, program, information or service provided.</li>
        <li>The cost of providing LEP assistance and the resources available.</li>
    </ol>

    <h3>368.5 TYPES OF LEP ASSISTANCE AVAILABLE</h3>
    <p>Metro Transit Police Department members should never refuse service to an LEP individual who is requesting assistance, nor should they require an LEP individual to furnish an interpreter as a condition for receiving assistance. The Department will
        make every reasonable effort to provide meaningful and timely assistance to LEP individuals through a variety of services.</p>
    <p>The Department will utilize all reasonably available tools, such as language identification cards, when attempting to determine an LEP individual's primary language.</p>
    <p>LEP individuals may choose to accept department-provided LEP services at no cost or they may choose to provide their own.</p>
    <p>Department-provided LEP services may include, but are not limited to, the assistance methods described in this policy.</p>

    <h3>368.6 WRITTEN FORMS AND GUIDELINES</h3>
    <p>Vital documents or those that are frequently used should be translated into languages most likely to be encountered. The LEP Coordinator will arrange to make these translated documents available to members and other appropriate individuals, as necessary.</p>

    <h3>368.7 AUDIO RECORDINGS</h3>
    <p>The Department may develop audio recordings of important or frequently requested information in a language most likely to be understood by those LEP individuals who are representative of the community being served.</p>

    <h3>368.8 QUALIFIED BILINGUAL MEMBERS</h3>
    <p>Bilingual members may be qualified to provide LEP services when they have demonstrated through established department procedures a sufficient level of skill and competence to fluently communicate in both English and a non-English language. Members
        utilized for LEP services must demonstrate knowledge of the functions of an interpreter/translator and the ethical issues involved when acting as a language conduit. Additionally, bilingual members must be able to communicate technical and law
        enforcement terminology, and be sufficiently proficient in the non-English language to perform complicated tasks, such as conducting interrogations, taking statements, collecting evidence or conveying rights or responsibilities.</p>
    <p>When a qualified bilingual member from this department is not available, personnel from other Metropolitan Area departments, who have been identified by the Department as having the requisite skills and competence, may be requested.</p>

    <h3>368.9 AUTHORIZED INTERPRETERS</h3>
    <p>Any person designated by the Department to act as an authorized interpreter and/or translator must have demonstrated competence in both English and the involved non-English language, must have an understanding of the functions of an interpreter that
        allows for correct and effective translation, and should not be a person with an interest in the department case or investigation involving the LEP individual. A person providing interpretation or translation services may be required to establish
        the accuracy and trustworthiness of the interpretation or translation in a court proceeding.</p>
    <p>Authorized interpreters must pass a screening process established by the LEP Coordinator which demonstrates that their skills and abilities include:</p>
    <ol class="alpha">
        <li>The competence and ability to communicate information accurately in both English and in the target language.</li>
        <li>Knowledge, in both languages, of any specialized terms or concepts peculiar to this department and of any particularized vocabulary or phraseology used by the LEP individual.</li>
        <li>The ability to understand and adhere to the interpreter role without deviating into other roles, such as counselor or legal adviser.</li>
        <li>Knowledge of the ethical issues involved when acting as a language conduit.</li>
    </ol>
    <h4>368.9.1 SOURCES OF AUTHORIZED INTERPRETERS</h4>
    <p>The Department may contract with authorized interpreters who are available over the telephone. Members may use these services with the approval of a supervisor and in compliance with established procedures.</p>
    <p>The Metro Transit Police Department currently contracts with Betmar Languages for communicating with LEP individuals. Betmar Languages may be utilized with the permission of a supervisor and can be contacted at (763) 572-9711 or via their website
        at: <a href="http://www.betmar.com/" target="_blank">www.betmar.com</a></p>
    <p>Metro Transit Police supervisors also have access to RTT Mobile Interpretation which is capable of providing on-demand LEP services through a proprietary device called ELSA (Enabling Language Services Anywhere). Contact a supervisor for assistance
        with this technology. <a href="http://www.rttmobile.com/" target="_blank">www.rttmobile.com</a></p>
    <p>Other sources may include:</p>
    <ul>
        <li>Qualified bilingual members of this department or personnel from other Metropolitan Council / Metro Transit departments.</li>
        <li>Individuals employed exclusively to perform interpretation services.</li>
        <li>Contracted in-person interpreters, such as state or federal court interpreters, among others.</li>
        <li>Interpreters from other agencies who have been qualified as interpreters by this department, and with whom the Department has a resource-sharing or other arrangement that they will interpret according to department guidelines.</li>
    </ul>
    <h4>368.9.2 COMMUNITY VOLUNTEERS AND OTHER SOURCES OF LANGUAGE ASSISTANCE</h4>
    <p>Language assistance may be available from community volunteers who have demonstrated competence in either monolingual (direct) communication and/or in interpretation or translation (as noted in above), and have been approved by the Department to communicate
        with LEP individuals.</p>
    <p>Where qualified bilingual members or other authorized interpreters are unavailable to assist, approved community volunteers who have demonstrated competence may be called upon when appropriate. However, department members must carefully consider the
        nature of the contact and the relationship between the LEP individual and the volunteer to ensure that the volunteer can provide neutral and unbiased assistance.</p>
    <p>While family or friends of an LEP individual may offer to assist with communication or interpretation, members should carefully consider the circumstances before relying on such individuals. For example, children should not be relied upon except in
        exigent or very informal and non-confrontational situations.</p>

    <h3>368.10 CONTACT AND REPORTING</h3>
    <p>While all law enforcement contacts, services and individual rights are important, this department will utilize the four-factor analysis to prioritize service to LEP individuals so that such services may be targeted where they are most needed, according
        to the nature and importance of the particular law enforcement activity involved.</p>
    <p>Whenever any member of this department is required to complete a report or other documentation, and interpretation services are provided to any involved LEP individual, such services should be noted in the related report. Members should document the
        type of interpretation services utilized and whether the individual elected to use services provided by the Department or some other identified source.</p>

    <h3>368.11 RECEIVING AND RESPONDING TO REQUESTS FOR ASSISTANCE</h3>
    <p>The Metro Transit Police Department will take reasonable steps and will work with the Department of Human Resources to develop in-house language capacity by hiring or appointing qualified members proficient in languages representative of the community
        being served.</p>
    <h4>368.11.1 EMERGENCY CALLS TO 9-1-1</h4>
    <p>Department members will make every reasonable effort to promptly accommodate LEP individuals utilizing 9-1-1 lines. When a 9-1-1 call-taker receives a call and determines that the caller is an LEP individual, the call-taker shall quickly determine
        whether sufficient information can be obtained to initiate an appropriate emergency response. If language assistance is still needed, the language is known and a qualified bilingual member is available in Transit Control Center, the call shall
        immediately be handled by the qualified bilingual member.</p>
    <p>If a qualified bilingual member is not available or the call-taker is unable to identify the caller's language, the call-taker will contact the contracted telephone interpretation service and establish a three-way call between the call-taker, the
        LEP individual and the interpreter.</p>
    <p>Dispatchers will make every reasonable effort to dispatch a qualified bilingual member to the assignment, if available and appropriate.</p>
    <p>While 9-1-1 calls shall receive top priority, reasonable efforts should also be made to accommodate LEP individuals seeking routine access to services and information by utilizing the resources listed in this policy.</p>

    <h3>368.12 FIELD ENFORCEMENT</h3>
    <p>Field enforcement will generally include such contacts as traffic stops, pedestrian stops, serving warrants and restraining orders, crowd/traffic control and other routine field contacts that may involve LEP individuals. The scope and nature of these
        activities and contacts will inevitably vary. Members and/or supervisors must assess each situation to determine the need and availability of language assistance to all involved LEP individuals and utilize the methods outlined in this policy to
        provide such assistance.</p>
    <p>Although not every situation can be addressed in this policy, it is important that members are able to effectively communicate the reason for a contact, the need for information and the meaning or consequences of any enforcement action. For example,
        it would be meaningless to request consent to search if the officer is unable to effectively communicate with an LEP individual.</p>
    <p>If available, officers should obtain the assistance of a qualified bilingual member or an authorized interpreter before placing an LEP individual under arrest.</p>

    <h3>368.13 INVESTIGATIVE FIELD INTERVIEWS</h3>
    <p>In any situation where an interview may reveal information that could be used as the basis for arrest or prosecution of an LEP individual and a qualified bilingual member is unavailable or lacks the skills to directly communicate with the LEP individual,
        an authorized interpreter should be used. This includes interviews conducted during an investigation with victims, witnesses and suspects. In such situations, audio recordings of the interviews should be made when reasonably possible. Identification
        and contact information for the interpreter (e.g., name, address) should be documented so that the person can be subpoenaed for trial if necessary.</p>
    <p>If an authorized interpreter is needed, officers should consider calling for an authorized interpreter in the following order:</p>
    <ul>
        <li>An authorized department member or allied agency interpreter</li>
        <li>An authorized telephone interpreter</li>
        <li>Any other authorized interpreter</li>
    </ul>
    <p>Any <em>Miranda</em> warnings shall be provided to suspects in their primary language by an authorized interpreter or, if the suspect is literate, by providing a translated <em>Miranda</em> warning card.</p>
    <p>The use of an LEP individual's bilingual friends, family members, children, neighbors or bystanders may be used only when a qualified bilingual member or authorized interpreter is unavailable and there is an immediate need to interview an LEP individual.</p>

    <h3>368.14 CUSTODIAL INTERROGATIONS</h3>
    <p>Miscommunication during custodial interrogations may have a substantial impact on the evidence presented in a criminal prosecution. Only qualified bilingual members or, if none is available or appropriate, authorized interpreters shall be used during
        custodial interrogations. <em>Miranda</em> warnings shall be provided to suspects in their primary language by the qualified bilingual member or an authorized interpreter.</p>
    <p>In order to ensure that translations during custodial interrogations are accurately documented and are admissible as evidence, interrogations should be recorded whenever reasonably possible. See guidance on recording custodial interrogations in the
        Investigation and Prosecution Policy.</p>
    <h4>368.14.1 OTHER TIMING AND NOTIFICATION MANDATES</h4>
    <p>The investigating or arresting officer shall immediately make necessary contacts to get an authorized interpreter for an in-custody LEP person at the earliest possible time in order to assist the person throughout the interrogation or taking of a
        statement. This applies even when the interrogation will be conducted by a bilingual member (Minn. Stat. § 611.32).</p>
    <p>The following shall be explained to the LEP person with the assistance of the authorized interpreter (Minn. Stat. § 611.32):</p>
    <ol class="alpha">
        <li>All charges filed against the person</li>
        <li>All procedures relating to the person's detainment and release</li>
        <li>In the case of any seizure under the provisions of the Asset Forfeiture Policy:
            <ol class="decimal">
                <li>The possible consequences of the seizure</li>
                <li>The person's right to judicial review</li>
            </ol>
        </li>
    </ol>
    <h4>368.14.2 OATH</h4>
    <p>Every authorized interpreter shall be administered and take the following oath prior to assisting in taking a statement related to a criminal matter from an in-custody LEP person (Min. Stat. § 611.33):</p>
    <blockquote>"I will make, to the best of my skill and judgment, a true interpretation to the disabled person being examined of all the proceedings, in a language which said person understands, and to repeat the statements, in the English language, of said person
        to the officials before whom the proceeding is taking place."</blockquote>

    <h3>368.5 BOOKINGS</h3>
    <p>When gathering information during the booking process, members should remain alert to the impediments that language barriers can create. In the interest of the arrestee's health and welfare, the safety and security of the facility, and to protect
        individual rights, it is important that accurate medical screening and booking information be obtained. Members should seek the assistance of a qualified bilingual member whenever there is concern that accurate information cannot be obtained or
        that booking instructions may not be properly understood by an LEP individual.</p>

    <h3>368.16 COMPLAINTS</h3>
    <p>The Department shall ensure that LEP individuals who wish to file a complaint regarding members of this department are able to do so. The Department may provide an authorized interpreter or translated forms, as appropriate. Complaints will be referred
        to the LEP Coordinator.</p>
    <p>Investigations into such complaints shall be handled in accordance with the Personnel Complaints Policy. Authorized interpreters used for any interview with an LEP individual during an investigation should not be members of this department.</p>
    <p>Any notice required to be sent to an LEP individual as a complaining party pursuant to the Personnel Complaints Policy should be translated or otherwise communicated in a language- accessible manner.</p>

    <h3>368.17 COMMUNITY OUTREACH</h3>
    <p>Community outreach programs and other such services offered by this department are important to the ultimate success of more traditional law enforcement duties. This department will continue to work with community groups, local businesses and neighborhoods
        to provide equal access to such programs and services.</p>

    <h3>368.18 TRAINING</h3>
    <p>To ensure that all members who may have contact with LEP individuals are properly trained, the Department will provide periodic training on this policy and related procedures, including how to access department-authorized telephonic and in-person
        interpreters and other available resources.</p>
    <p>The Training Coordinator shall be responsible for ensuring new members receive LEP training. Those who may have contact with LEP individuals should receive refresher training at least once every two years thereafter. The Training Supervisor shall
        maintain records of all LEP training provided, and will retain a copy in each member's training file in accordance with established records retention schedules.</p>
    <h4>368.18.1 TRAINING FOR AUTHORIZED INTERPRETERS</h4>
    <p>All members on the authorized interpreter list must successfully complete prescribed interpreter training. To complete interpreter training successfully, an interpreter must demonstrate proficiency in and ability to communicate information accurately
        in both English and in the target language, demonstrate knowledge in both languages of any specialized terms or phraseology, and understand and adhere to the interpreter role without deviating into other roles, such as counselor or legal adviser.</p>
    <p>Members on the authorized interpreter list must receive refresher training annually or they will be removed from the authorized interpreter list. This annual training should include language skills competency (including specialized terminology) and
        ethical considerations.</p>
    <p>The Training Supervisor shall be responsible for coordinating the annual refresher training and will maintain a record of all training the interpreters have received.</p>
</div>