<div class="chapter" id="370">
    <h2>370 - Communications with Persons with Disabilities</h2>
    <h3>370.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance to members when communicating with individuals with disabilities, including those who are deaf or hard of hearing, have impaired speech or vision, or are blind.</p>
    <h4>370.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Auxiliary aids</strong> - Tools used to communicate with people who have a disability or impairment. They include, but are not limited to, the use of gestures or visual aids to supplement oral communication; a notepad and pen or pencil to
        exchange written notes; a computer or typewriter; an assistive listening system or device to amplify sound; a teletypewriter (TTY) or videophones (video relay service or VRS); taped text; qualified readers; or a qualified interpreter.</p>
    <p><strong>Disability or impairment</strong> - A physical or mental impairment that substantially limits a major life activity, including hearing or seeing, regardless of whether the disabled person uses assistive or adaptive devices or auxiliary aids.
        Individuals who wear ordinary eyeglasses or contact lenses are not considered to have a disability (42 USC § 12102). This includes those who, because of a hearing, speech or other communication disorder, cannot fully understand any charges made
        against them, the seizure of their property or they are incapable of presenting or assisting in the presentation of a defense (Minn. Stat. § 611.31).</p>
    <p><strong>Qualified Interpreter</strong> - A person who is able to interpret effectively, accurately and impartially, both receptively and expressively, using any necessary specialized vocabulary. Qualified interpreters include oral interpreters, transliterators,
        sign language interpreters and intermediary interpreters.</p>

    <h3>370.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to reasonably ensure that people with disabilities, including victims, witnesses, suspects and arrestees have equal access to law enforcement services, programs and activities. Members must make
        efforts to communicate effectively with individuals with disabilities.</p>
    <p>The Department will not discriminate against or deny any individual access to services, rights or programs based upon disabilities.</p>

    <h3>370.3 AMERICANS WITH DISABILITIES (ADA) COORDINATOR</h3>
    <p>The Chief of Police shall delegate certain responsibilities to an ADA Coordinator (28 CFR 35.107). The ADA Coordinator shall be appointed by and directly responsible to the Patrol Captain or the authorized designee.</p>
    <p>The responsibilities of the ADA Coordinator shall include, but not be limited to:</p>
    <ol class="alpha">
        <li>Working with the Metropolitan Council / Metro Transit ADA coordinator regarding the Metro Transit Police Department's efforts to ensure equal access to services, programs and activities.</li>
        <li>Developing reports, new procedures, or recommending modifications to this policy.</li>
        <li>Acting as a liaison with local disability advocacy groups or other disability groups regarding access to department services, programs and activities.</li>
        <li>Ensuring that a list of qualified interpreter services is maintained and available to each Shift Supervisor and Communications Supervisor. The list should include information regarding the following:
            <ol class="decimal">
                <li>Contact information</li>
                <li>Availability</li>
                <li>Type of services provided</li>
            </ol>
        </li>
        <li>Developing procedures that will enable members to access auxiliary aids or services, including qualified interpreters, and ensure the procedures are available to all members.</li>
        <li>Ensuring signage is posted in appropriate areas, indicating that auxiliary aids are available free of charge to people with disabilities.</li>
        <li>Ensuring appropriate processes are in place to provide for the prompt and equitable resolution of complaints and inquiries regarding discrimination in access to department services, programs and activities.</li>
    </ol>

    <h3>370.4 FACTORS TO CONSIDER</h3>
    <p>Because the nature of any law enforcement contact may vary substantially from one situation to the next, members of this department should consider all information reasonably available to them when determining how to communicate with an individual
        with a disability. Members should carefully balance all known factors in an effort to reasonably ensure people who are disabled have equal access to services, programs and activities. These factors may include, but are not limited to:</p>
    <ol class="alpha">
        <li>Members should not always assume that effective communication is being achieved. The fact that an individual appears to be nodding in agreement does not always mean he/she completely understands the message. When there is any doubt, members should
            ask the individual to communicate back or otherwise demonstrate their understanding.</li>
        <li>The nature of the disability (e.g., deafness or blindness vs. hard of hearing or low vision).</li>
        <li>The nature of the law enforcement contact (e.g., emergency vs. non-emergency, custodial vs. consensual contact).</li>
        <li>The availability of auxiliary aids. The fact that a particular aid is not available does not eliminate the obligation to reasonably ensure access. However in an emergency availability may factor into the type of aid used.</li>
    </ol>

    <h3>370.5 INITIAL AND IMMEDIATE CONSIDERATIONS</h3>
    <p>Recognizing that various law enforcement encounters may be potentially volatile and/or emotionally charged, members should remain alert to the possibility of communication problems.</p>
    <p>Members should exercise special care in the use of all gestures and verbal and written communication to minimize initial confusion and misunderstanding when dealing with any individual with known or suspected disabilities.</p>
    <p>In a non-emergency situation when a member knows or suspects an individual requires assistance to effectively communicate the member shall identify the individual's choice of auxiliary aid or service.</p>
    <p>The individual's preferred communication method must be honored unless another effective method of communication exists under the circumstances (28 CFR 35.160).</p>
    <p>Factors to consider when determining whether an alternative method is effective include:</p>
    <ol class="">
        <li>The methods of communication usually used by the individual.</li>
        <li>The nature, length and complexity of the communication involved.</li>
        <li>The context of the communication.</li>
    </ol>
    <p>In emergency situations involving an imminent threat to the safety or welfare of any person, members may use whatever auxiliary aids and services that reasonably appear effective under the circumstances. This may include for example exchanging written
        notes or using the services of a person who knows sign language but is not a qualified interpreter even if the person who is deaf or hard of hearing would prefer a qualified sign language interpreter or another appropriate auxiliary aid or service.
        Once the emergency has ended the continued method of communication should be reconsidered. The member should inquire as to the individual's preference and give primary consideration to that preference.</p>
    <p>If an individual who is deaf, hard of hearing or has impaired speech must be handcuffed while in the custody of the Metro Transit Police Department, consideration should be given, safety permitting, to placing the handcuffs in the front of the body
        to facilitate communication using sign language or writing.</p>

    <h3>370.6 TYPES OF ASSISTANCE AVAILABLE</h3>
    <p>Metro Transit Police Department members shall never refuse to assist an individual with disabilities who is requesting assistance. The Department will not charge anyone to receive auxiliary aids, nor shall they require anyone to furnish their own
        auxiliary aid or service as a condition for receiving assistance. The Department will make every reasonable effort to provide equal access and timely assistance to individuals who are disabled through a variety of services.</p>
    <p>A person who is disabled may choose to accept department-provided auxiliary aids or services or they may choose to provide their own.</p>
    <p>Department-provided auxiliary aids or services may include, but are not limited to, the assistance methods described in this policy.</p>

    <h3>370.7 AUDIO RECORDINGS AND ENLARGED PRINT</h3>
    <p>The Department may develop audio recordings to assist people who are blind or have a visual impairment with accessing important information. If such a recording is not available, members may read aloud from the appropriate form, for example a personnel
        complaint form, or provide forms with enlarged print.</p>

    <h3>370.8 QUALIFIED INTERPRETERS</h3>
    <p>A qualified interpreter may be needed in lengthy or complex transactions (e.g., interviewing a victim, witness, suspect or arrestee), if the individual to be interviewed normally relies on sign language or speechreading (lip-reading) to understand
        what others are saying. The qualified interpreter should not be a person with an interest in the case or the investigation. A person providing interpretation services may be required to establish the accuracy and trustworthiness of the interpretation
        in a court proceeding.</p>
    <p>Qualified interpreters should be:</p>
    <ol class="alpha">
        <li>Available by some means, even remotely, within a reasonable amount of time but in no event longer than one hour if requested.</li>
        <li>Experienced in providing interpretation services related to law enforcement matters.</li>
        <li>Familiar with the use of VRS and/or video remote interpreting services.</li>
        <li>Certified in either American Sign Language (ASL) or Signed English (SE).</li>
        <li>Able to understand and adhere to the interpreter role without deviating into other roles, such as counselor or legal adviser.</li>
        <li>Knowledgeable of the ethical issues involved when providing interpreter services.</li>
    </ol>
    <p>Members should use department-approved procedures to request a qualified interpreter at the earliest reasonable opportunity and generally not more than 15 minutes after a request for an interpreter has been made or it is reasonably apparent that an
        interpreter is needed. No individual who is disabled shall be required to provide his/her own interpreter (28 CFR 35.160).</p>

    <h3>370.9 TTY AND RELAY SERVICES</h3>
    <p>In situations where an individual without a disability would have access to a telephone (e.g., booking or attorney contacts), members must also provide those who are deaf, hard of hearing or have impaired speech the opportunity to place calls using
        an available TTY (also known as a telecommunications device for deaf people, or TDD). Members shall provide additional time as needed for effective communication due to the slower nature of TTY and TDD communications.</p>
    <p>The Department will accept all TTY or TDD calls placed by those who are deaf or hard of hearing and received via a telecommunications relay service (28 CFR 35.162).</p>
    <p>Note that relay services translate verbatim, so the conversation must be conducted as if speaking directly to the caller.</p>

    <h3>370.10 COMMUNITY VOLUNTEERS</h3>
    <p>Interpreter services may be available from community volunteers who have demonstrated competence in communication services such as ASL or SE, and have been approved by the Department to provide interpreter services.</p>
    <p>Where qualified interpreters are unavailable to assist approved community volunteers who have demonstrated competence may be called upon when appropriate. However department members must carefully consider the nature of the contact and the relationship
        between the individual with the disability and the volunteer to ensure that the volunteer can provide neutral and unbiased assistance.</p>

    <h3>370.11 FAMILY AND FRIENDS</h3>
    <p>While family or friends may offer to assist with interpretation, members should carefully consider the circumstances before relying on such individuals. The nature of the contact and relationship between the individual with the disability and the
        person offering services must be carefully considered (e.g., victim/suspect).</p>
    <p>Children shall not be relied upon except in emergency or critical situations when there is no qualified interpreter reasonably available.</p>
    <p>Adults may be relied upon when (28 CFR 35.160):</p>
    <ol class="alpha">
        <li>There is an emergency or critical situation and there is no qualified interpreter reasonably available.</li>
        <li>The person with the disability requests that the adult interpret or facilitate communication and the adult agrees to provide such assistance, and reliance on that adult for such assistance is reasonable under the circumstances.</li>
    </ol>

    <h3>370.12 REPORTING</h3>
    <p>Whenever any member of this department is required to complete a report or other documentation and communication assistance has been provided, such services should be noted in the related report. Members should document the type of communication services
        utilized and whether the individual elected to use services provided by the Department or some other identified source. If the individual's express preference is not honored, the member must document why another method of communication was used.</p>
    <p>All written communications exchanged in a criminal case shall be attached to the report or placed into evidence.</p>

    <h3>370.13 FIELD ENFORCEMENT</h3>
    <p>Field enforcement will generally include such contacts as traffic stops, pedestrian stops, serving warrants and restraining orders, crowd/traffic control and other routine field contacts that may involve individuals with disabilities. The scope and
        nature of these activities and contacts will inevitably vary.</p>
    <p>The Department recognizes it would be virtually impossible to provide immediate access to complete communication services to every member of this department. Members and/or supervisors must assess each situation and consider the length, complexity
        and importance of the communication, as well as the individual's preferred method of communication, when determining the type of resources to use and whether a qualified interpreter is needed.</p>
    <p>Although not every situation can be addressed in this policy, it is important that members are able to effectively communicate the reason for a contact, the need for information and the meaning or consequences of any enforcement action. For example
        it would be meaningless to verbally request consent to search if the officer is unable to effectively communicate with an individual who is deaf or hard of hearing and requires communications assistance.</p>
    <p>If available, officers should obtain the assistance of a qualified interpreter before placing an individual with a disability under arrest. Individuals who are arrested and are assisted by service animals should be permitted to make arrangements for
        the care of such animals prior to transport.</p>
    <h4>370.13.1 FIELD RESOURCES</h4>
    <p>Examples of methods that may be sufficient for transactions such as checking a license or giving directions to a location or for urgent situations such as responding to a violent crime in progress may, depending on the circumstances, include such
        simple things as:</p>
    <ol class="alpha">
        <li>Hand gestures or visual aids with an individual who is deaf, hard of hearing or has impaired speech.</li>
        <li>Exchange of written notes or communications.</li>
        <li>Verbal communication with an individual who can speechread by facing the individual and speaking slowly and clearly.</li>
        <li>Use of computer, word processing, personal communication device or similar device to exchange texts or notes.</li>
        <li>Slowly and clearly speaking or reading simple terms to individuals who have a visual or mental impairment.</li>
    </ol>
    <p>Members should be aware that these techniques may not provide effective communication as required by law and this policy depending on the circumstances.</p>

    <h3>370.14 CUSTODIAL INTERROGATIONS</h3>
    <p>In an effort to ensure the rights of individuals who are deaf, hard of hearing or have speech impairment are protected during a custodial interrogation, this department will provide interpreter services before beginning an interrogation, unless exigent
        circumstances exist. The use of a video remote interpreting service should be considered, where appropriate, if a live interpreter is not available. <em>Miranda</em> warnings shall be provided to suspects who are deaf or hard of hearing by a qualified
        interpreter or by providing a written <em>Miranda</em> warning card.</p>
    <p>To ensure that communications during custodial investigations are accurately documented and are admissible as evidence, as with all custodial interviews, interrogations should be recorded whenever reasonably possible. See guidance on recording custodial
        interrogations in the Investigation and Prosecution Policy.</p>
    <h4>370.14.1 OTHER TIMING AND NOTIFICATION MANDATES</h4>
    <p>The investigating or arresting officer shall immediately make necessary contacts to get a qualified interpreter for a person in custody at the earliest possible time (Minn. Stat. § 611.32).</p>
    <p>The following shall be explained with the assistance of the qualified interpreter (Minn. Stat. § 611.32):</p>
    <ol class="alpha">
        <li>All charges filed against the person</li>
        <li>All procedures relating to the person's detainment and release</li>
        <li>In the case of any seizure under the Asset Forfeiture Policy:
            <ol class="decimal">
                <li>The possible consequences of the seizure</li>
                <li>The person's right to judicial review</li>
            </ol>
        </li>
    </ol>
    <h4>370.14.2 OATH</h4>
    <p>Every qualified interpreter shall be administered and take the following oath prior to assisting in taking a statement related to a criminal matter from an in-custody deaf or hard of hearing person (Minn. Stat. § 611.33):</p>
    <p>"I will make, to the best of my skill and judgment, a true interpretation to the disabled person being examined of all the proceedings, in a language which said person understands, and to repeat the statements, in the English language, of said person
        to the officials before whom the proceeding is taking place."</p>

    <h3>370.15 ARRESTS AND BOOKINGS</h3>
    <p>If an individual with speech or hearing disabilities is arrested, the arresting officer shall use department-approved procedures to provide a qualified interpreter at the place of arrest or booking as soon as reasonably practicable, unless the individual
        indicates that he/she prefers a different auxiliary aid or service or the officer reasonably determines another effective method of communication exists under the circumstances.</p>
    <p>When gathering information during the booking process members should remain alert to the impediments that often exist when communicating with those who are deaf, hard of hearing, who have impaired speech or vision, are blind, or have other disabilities.
        In the interest of the arrestee's health and welfare, the safety and security of the facility and to protect individual rights, it is important that accurate medical screening and booking information be obtained. If necessary, members should seek
        the assistance of a qualified interpreter whenever there is concern that accurate information cannot be obtained or that booking instructions may not be properly understood by the individual.</p>
    <p>Individuals who require and possess personally owned communication aids (e.g., hearing aids, cochlear processors) should be permitted to retain them while in custody.</p>

    <h3>370.16 COMPLAINTS</h3>
    <p>The Department shall ensure that individuals with disabilities who wish to file a complaint regarding members of this department are able to do so. The Department may provide a qualified interpreter or forms in enlarged print, as appropriate. Complaints
        will be referred to the department ADA Coordinator.</p>
    <p>Investigations into such complaints shall be handled in accordance with the Personnel Complaints Policy. Qualified interpreters used during the investigation of a complaint should not be members of this Department.</p>

    <h3>370.17 COMMUNITY OUTREACH</h3>
    <p>Community outreach programs and other such services offered by this department are important to the ultimate success of more traditional law enforcement duties. This department will continue to work with community groups, local businesses and neighborhoods
        to provide equal access to such programs and services.</p>

    <h3>370.18 TRAINING</h3>
    <p>To ensure that all members who may have contact with individuals who are disabled are properly trained, the Department will provide periodic training that should include:</p>
    <ol class="alpha">
        <li>Awareness and understanding of this policy and related procedures, related forms and available resources.</li>
        <li>Procedures for accessing qualified interpreters and other available resources.</li>
        <li>Working with in-person and telephone interpreters and related equipment.</li>
    </ol>
    <p>The Training Coordinator shall be responsible for ensuring new members receive training related to interacting with individuals who have disabilities, including individuals who are deaf, hard of hearing, who have impaired speech or vision, or are
        blind. Those who may have contact with such individuals should receive refresher training at least once every two years thereafter. The Training Coordinator shall maintain records of all training provided, and will retain a copy in each member's
        training file in accordance with established records retention schedules.</p>
    <h4>370.18.1 CALL-TAKER TRAINING</h4>
    <p>Emergency call-takers shall be trained in the use of TTY equipment protocols for communicating with individuals who are deaf, hard of hearing or who have speech impairments. Such training and information should include:</p>
    <ol class="alpha">
        <li>The requirements of the ADA and Section 504 of the Rehabilitation Act for telephone emergency service providers.</li>
        <li>ASL syntax and accepted abbreviations.</li>
        <li>Practical instruction on identifying and processing TTY or TDD calls, including the importance of recognizing silent TTY or TDD calls, using proper syntax, abbreviations and protocol when responding to TTY or TDD calls.</li>
        <li>Hands-on experience in TTY and TDD communications, including identification of TTY or TDD tones.</li>
    </ol>
    <p>Training should be mandatory for all Transit Control Center members who may have contact with individuals from the public who are deaf, hard of hearing or have impaired speech. Refresher training should occur every six months.</p>
</div>