<div class="chapter" id="373">
    <h2>373 - Pupil Arrest Reporting</h2>
    <h3>373.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to describe the procedures to follow when a pupil is arrested on school grounds and during school hours.</p>

    <h3>373.2 PUPIL ARREST REPORTING</h3>
    <p>In the event a school pupil is arrested, the arresting officer shall include the necessary information in the report to ensure that the Records Division notifies the chief administrative officer of the school, or an appropriate designee, of the pupil's
        arrest.</p>
    <p>If there is probable cause to believe an incident involved alcohol or a controlled substance, the arresting officer shall complete the appropriate form and submit the form with the report to the Records Division. The Records Division shall ensure
        the form is distributed to the chemical abuse pre-assessment team of the school within two weeks of the occurrence (Minn. Stat. § 121A.28).</p>
    <p>Arrest reporting may involve the officer, Investigative Division and/or the local agency having jurisdiction over the case.</p>
    <h4>373.2.1 PUPIL ARREST AFTER NOTIFICATION</h4>
    <p>Based upon the circumstances of the investigation, it may be appropriate to notify the school prior to the arrest. Prior notification and assistance from the school, may reduce disruption to school operations and other students.</p>
    <p><br></p>
    <h4>373.2.2 PUPIL ARREST BEFORE NOTIFICATION</h4>
    <p>Based upon the circumstances of the investigation, it may be appropriate to arrest the pupil before notifying the school. This may be appropriate if the pupil is a flight risk, if prior notification will impede the investigation or if notification
        creates additional risks to students, faculty, the officer or the public.</p>
    <p>Proper notification to the school after the pupil's arrest should then be made when circumstances reasonably allow.</p>
    <h4>373.2.3 PARENTAL NOTIFICATION</h4>
    <p>Upon arrest, it is the arresting officer's responsibility to ensure the parents of the arrested pupil are properly notified. Notification shall be made by the officer, regardless of subsequent notifications by the juvenile detention facility. Notifications
        should be documented and include the charges against the pupil and where the pupil will be taken.</p>
</div>