<div class="chapter" id="374">
    <h2>374 - Biological Samples</h2>
    <h3>374.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for the collection of biological samples from those individuals required to provide samples upon conviction for certain offenses. This policy does not apply to biological samples collected at a crime scene or taken
        from a person in conjunction with a criminal investigation. Nor does it apply to biological samples collected from those required to register, for example, as sex offenders.</p>

    <h3>374.2 POLICY</h3>
    <p>The Metro Transit Police Department will assist in the expeditious collection of required biological samples from offenders in accordance with the laws of this state and with as little reliance on force as practicable.</p>

    <h3>374.3 PERSONS SUBJECT TO BIOLOGICAL SAMPLE COLLECTION</h3>
    <p>The following persons must submit a biological sample:</p>
    <ol class="alpha">
        <li>Adults who are subject to a court order requiring a biological sample after sentencing (Minn. Stat. § 609.117).</li>
        <li>Juveniles who are subject to a court order requiring a biological sample after being adjudicated delinquent (Minn. Stat. § 609.117).</li>
    </ol>

    <h3>374.4 PROCEDURE</h3>
    <p>When an individual is required to provide a biological sample, a qualified employee shall attempt to obtain the sample in accordance with this policy.</p>
    <h4>374.4.1 COLLECTION</h4>
    <p>The following steps should be taken to collect a sample:</p>
    <ol class="alpha">
        <li>Verify that the individual is required to provide a sample pursuant to Minn. Stat. § 609.117.</li>
        <li>Verify that a biological sample has not been previously collected from the offender by querying the person’s criminal history. There is no need to obtain a biological sample if one has been previously obtained.</li>
        <li>Use the designated collection kit provided by the Minnesota Bureau of Criminal Apprehension to perform the collection and take steps to avoid cross contamination.</li>
    </ol>

    <h3>374.5 USE OF FORCE TO OBTAIN SAMPLES</h3>
    <p>If a person refuses to cooperate with the sample collection process, officers should attempt to identify the reason for refusal and seek voluntary compliance without resorting to using force. Force will not be used in the collection of samples except
        as authorized by court order or approval of legal counsel and only with the approval of a supervisor. Methods to consider when seeking voluntary compliance include contacting:</p>
    <ol class="alpha">
        <li>The person’s parole or probation officer when applicable.</li>
        <li>The prosecuting attorney to seek additional charges against the person for failure to comply or to otherwise bring the refusal before a judge.</li>
        <li>The judge at the person’s next court appearance.</li>
        <li>The person’s attorney.</li>
        <li>A chaplain.</li>
        <li>Another custody facility with additional resources, where an arrestee can be transferred to better facilitate sample collection.</li>
        <li>A supervisor who may be able to authorize custodial disciplinary actions to compel compliance, if any are available.</li>
    </ol>
    <p>The supervisor shall review and approve any plan to use force and be present to document the process.</p>
    <h4>374.5.1 VIDEO RECORDING</h4>
    <p>A video recording should be made any time force is used to obtain a biological sample. The recording should document all staff participating in the process, in addition to the methods and all force used during the collection. The recording should
        be part of the investigation file, if any, or otherwise retained in accordance with the department’s records retention schedule.</p>
</div>