<div class="chapter" id="378">
    <h2>378 - Public Safety Video Surveillance System</h2>
    <h3>378.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance for the placement and monitoring of department public safety video surveillance, as well as the storage and release of the captured images.</p>
    <p>This policy only applies to overt, marked public safety video surveillance systems operated by the Department. It does not apply to mobile audio/video systems, covert audio/video systems or any other image capturing devices used by the Department.</p>

    <h3>378.2 POLICY</h3>
    <p>The Metro Transit Police Department operates a public safety video surveillance system to complement its anti-crime strategy, to effectively allocate and deploy personnel, and to enhance public safety and security in public areas. Cameras may be placed
        in strategic locations throughout the Metropolitan Council / Metro Transit service area to detect and deter crime, to help safeguard against potential threats to the public, to help manage emergency response situations during natural and man-made
        disasters and to assist Metropolitan Council / Metro Transit officials in providing services to the community.</p>
    <p>Video surveillance in public areas will be conducted in a legal and ethical manner while recognizing and protecting constitutional standards of privacy.</p>

    <h3>378.3 VIDEO SURVEILLANCE AUDIT</h3>
    <p>The Chief of Police or the authorized designee will conduct an annual review of the public safety video surveillance system. The review should include an analysis of the cost, benefit and effectiveness of the system, including any public safety issues
        that were effectively addressed or any significant prosecutions that resulted, and any systemic operational or administrative issues that were identified, including those related to training, discipline or policy.</p>
    <p>The results of each review shall be appropriately documented and maintained by the Chief of Police or the authorized designee and other applicable advisory bodies. Any recommendations for training or policy should be promptly addressed.</p>

    <h3>378.4 TRAINING</h3>
    <p>All department members authorized to operate or access public video surveillance systems shall receive appropriate training. Training should include guidance on the use of cameras, interaction with dispatch and patrol operations and a review regarding
        relevant policies and procedures, including this policy. Training should also address state and federal law related to the use of video surveillance equipment and privacy.</p>

    <h3>378.5 OPERATIONAL GUIDELINES</h3>
    <p>Only department-approved video surveillance equipment shall be utilized. Members authorized to monitor video surveillance equipment should only monitor public areas and public activities where</p>
    <p>no reasonable expectation of privacy exists. The Chief of Police or the authorized designee shall approve all proposed locations for the use of video surveillance technology and should consult with and be guided by legal counsel as necessary in making
        such determinations.</p>
    <h4>378.5.1 INTEGRATION WITH OTHER TECHNOLOGY</h4>
    <p>The Department may elect to integrate its public safety video surveillance system with other technology to enhance available information. Systems such as gunshot detection, incident mapping, crime analysis, license plate recognition, facial recognition
        and other video-based analytical systems may be considered based upon availability and the nature of department strategy.</p>
    <p>The Department should evaluate the availability and propriety of networking or otherwise collaborating with appropriate private sector entities and should evaluate whether the use of certain camera systems, such as pan-tilt-zoom systems and video
        enhancement or other analytical technology, requires additional safeguards.</p>
    <h4>378.5.2 CAMERA MARKINGS</h4>
    <p>All public areas monitored by public safety surveillance equipment shall be marked in a conspicuous manner with appropriate signs to inform the public that the area is under police surveillance. Signs should be well lit, placed appropriately and without
        obstruction to ensure visibility.</p>
    <h4>378.5.3 PLACEMENT AND MONITORING</h4>
    <p>Camera placement will be guided by the underlying purpose or strategy associated with the overall video surveillance plan. As appropriate, the Chief of Police should confer with other affected Metropolitan Council / Metro Transit divisions and designated
        community groups when evaluating camera placement. Environmental factors, including lighting, location of buildings, presence of vegetation or other obstructions, should also be evaluated when determining placement.</p>
    <p>Recorded images may be used for a variety of purposes, including criminal investigations and monitoring of activity around high-value or high-threat areas. The public safety video surveillance system may be useful for the following purposes:</p>
    <ol class="alpha">
        <li>To prevent, deter and identify criminal activity.</li>
        <li>To target identified areas of gang and narcotics complaints or activity.</li>
        <li>To respond to critical incidents.</li>
        <li>To assist in identifying, apprehending and prosecuting offenders.</li>
        <li>To document officer and offender conduct during interactions to safeguard the rights of the public and officers.</li>
        <li>To augment resources in a cost-effective manner.</li>
        <li>To monitor pedestrian and vehicle traffic activity.</li>
    </ol>
    <p>Images from each camera should be recorded in a manner consistent with the underlying purpose of the particular camera. Images may be transmitted to monitors installed in the Shift Supervisor’s office and Transit Control Center. When activity warranting
        further investigation is reported or detected at any camera location, the available information should be provided to responding officers in a timely manner. The Shift Supervisor or trained Transit Control Center personnel are authorized to adjust
        the cameras to more effectively view a particular area for any legitimate public safety purpose.</p>
    <p>The Chief of Police may authorize video feeds from the public safety video surveillance system to be forwarded to a specified location for monitoring by other than police personnel, such as allied government agencies, road or traffic crews, or fire
        or emergency operations personnel.</p>
    <p>Unauthorized recording, viewing, reproduction, dissemination or retention is prohibited.</p>

    <h3>378.6 STORAGE AND RETENTION OF MEDIA</h3>
    <p>All downloaded media shall be stored in a secure area with access restricted to authorized persons. A recording needed as evidence shall be copied to a suitable medium and booked into evidence in accordance with established evidence procedures. All
        actions taken with respect to retention of media shall be appropriately documented.</p>
    <p>The type of video surveillance technology employed and the manner in which recordings are used and stored will affect retention periods. The recordings should be stored and retained in accordance with the established records retention schedule.</p>
    <h4>378.6.1 EVIDENTIARY INTEGRITY</h4>
    <p>All downloaded and retained media shall be treated in the same manner as other evidence. Media shall be accessed, maintained, stored and retrieved in a manner that ensures its integrity as evidence, including strict adherence to chain of custody requirements.
        Electronic trails, including encryption, digital masking of innocent or uninvolved individuals to preserve anonymity, authenticity certificates and date and time stamping shall be used as appropriate to preserve individual rights and to ensure
        the authenticity and maintenance of a secure evidentiary chain of custody.</p>

    <h3>378.7 VIDEO SUPERVISION</h3>
    <p>Supervisors should monitor video surveillance access and usage to ensure members are within department policy and applicable laws. Supervisors should ensure such use and access is appropriately documented.</p>
    <h4>378.7.1 PROHIBITED ACTIVITY</h4>
    <p>Public safety video surveillance systems will not intentionally be used to invade the privacy of individuals or observe areas where a reasonable expectation of privacy exists.</p>
    <p>Public video surveillance equipment shall not be used in an unequal or discriminatory manner and shall not target protected individual characteristics including, but not limited to race, ethnicity, national origin, religion, disability, gender or
        sexual orientation.</p>
    <p>Video surveillance equipment shall not be used to harass, intimidate or discriminate against any individual or group.</p>
    <h4>378.7.2 VIDEO LOG</h4>
    <p>A log should be maintained at all locations where video surveillance monitors are located. The log should be used to document all persons not assigned to the monitoring locations who have been given access to view or monitor images provided by the
        video surveillance cameras. The logs should, at a minimum, record the:</p>
    <ol class="alpha">
        <li>Date and time access was given.</li>
        <li>Name and agency of the person being given access to the images.</li>
        <li>Name of person authorizing access.</li>
        <li>Identifiable portion of images viewed.</li>
    </ol>

    <h3>378.8 RELEASE OF VIDEO IMAGES</h3>
    <p>All recorded video images gathered by the public safety video surveillance equipment are for the official use of the Metro Transit Police Department and are classified as law enforcement data under Minn. Stat. § 13.82.</p>
    <p>Requests for recorded video images from the public or the media shall be processed in the same manner as requests for department public records under the Minnesota Government Data Practices Act. Except as required by a statute, court order or other
        lawful process consistent with the provisions of Minn. Stat. § 13.82, video images requested under the Minnesota Government Data Practices Act will generally not be disclosed to the public when such video images are evidence in an ongoing criminal
        investigation in which a disposition has not been reached.</p>
    <p>Requests for recorded images from other law enforcement agencies shall be referred to the Shift Supervisor for release in accordance with a specific and legitimate law enforcement purpose.</p>
    <p>Recorded video images that are the subject of a court order or subpoena shall be processed in accordance with the established department subpoena process.</p>
</div>