<div class="chapter" id="380">
    <h2>380 - Child and Dependent Adult Safety</h2>
    <h3>380.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines to ensure that children and dependent adults are not left without appropriate care in the event their caregiver or guardian is arrested or otherwise prevented from providing care due to actions taken by members of this
        department.</p>
    <p>This policy does not address the actions to be taken during the course of a child abuse or vulnerable adult investigation. These are covered in the Child Abuse and Adult Abuse.</p>

    <h3>380.2 POLICY</h3>
    <p>It is the policy of this department to mitigate, to the extent reasonably possible, the stressful experience individuals may have when a parent or caregiver is arrested. The Metro Transit Police Department will endeavor to create a strong cooperative
        relationship with local, state and community-based social services to ensure an effective, collaborative response that addresses the needs of those affected.</p>

    <h3>380.3 PROCEDURES DURING AN ARREST</h3>
    <p>When encountering an arrest or prolonged detention situation, officers should make reasonable attempts to determine if the arrestee is responsible for children or dependent adults. In some cases this may be obvious, such as when children or dependent
        adults are present. However, officers should inquire if the arrestee has caregiver responsibilities for any children or dependent adults who are without appropriate supervision. The following steps should be taken:</p>
    <ol class="alpha">
        <li>Inquire about and confirm the location of any children or dependent adults.</li>
        <li>Look for evidence of children and dependent adults. Officers should be mindful that some arrestees may conceal the fact that they have a dependent for fear the individual may be taken from them.</li>
        <li>Consider inquiring of witnesses, neighbors, friends and relatives of the arrestee as to whether the person is responsible for a child or dependent adult.</li>
    </ol>
    <p>Whenever reasonably possible, officers should take reasonable steps to accomplish the arrest of a parent, guardian or caregiver out of the presence of his/her child or dependent adult. Removing children or dependent adults from the scene in advance
        of the arrest will generally ensure the best outcome for the individual.</p>
    <p>Whenever it is safe to do so, officers should allow the parent or caregiver to assure children or dependent adults that they will be provided care. If this is not safe or if the demeanor of the parent or caregiver suggests this conversation would
        be nonproductive, the officer at the scene should explain the reason for the arrest in age-appropriate language and offer reassurance to the child or dependent adult that he/she will receive appropriate care.</p>
    <h4>380.3.1 AFTER AN ARREST</h4>
    <p>Whenever an arrest is made, the officer should take all reasonable steps to ensure the safety of the arrestee’s disclosed or discovered children or dependent adults.</p>
    <p>Officers should allow the arrestee reasonable time to arrange for care of children and dependent adults. Temporary placement with family or friends may be appropriate. However, any decision should give priority to a care solution that is in the best
        interest of the child or dependent adult. In such cases the following guidelines should be followed:</p>
    <ol class="alpha">
        <li>Allow the person reasonable time to arrange for the care of children and dependent adults with a responsible party, as appropriate.
            <ol class="decimal">
                <li>Unless there is evidence to the contrary (e.g., signs of abuse, drug use, unsafe environment), officers should respect the parent or caregiver’s judgment regarding arrangements for care. It is generally best if the child or dependent adult
                    remains with relatives or family friends that he/she knows and trusts because familiarity with surroundings and consideration for comfort, emotional state and safety are important.
                </li>
                <li>Except when a court order exists limiting contact, the officer should attempt to locate and place children or dependent adults with the non-arrested parent, guardian or caregiver.
                </li>
            </ol>
        </li>
        <li>Provide for the immediate supervision of children or dependent adults until an appropriate caregiver arrives.</li>
        <li>Notify the county social services agency, if appropriate.</li>
        <li>Notify the field supervisor or Shift Supervisor of the disposition of children or dependent adults.</li>
    </ol>
    <p>If children or dependent adults are at school or another known location outside the household at the time of arrest, the arresting officer should attempt to contact the school or other known location and inform the principal or appropriate responsible
        adult of the caregiver’s arrest and of the arrangements being made for the care of the arrestee’s dependent. The result of such actions should be documented in the associated report.</p>
    <h4>380.3.2 DURING THE BOOKING PROCESS</h4>
    <p>During the booking process, the arrestee shall be allowed to make additional telephone calls to relatives or other responsible individuals as is reasonably necessary to arrange for the care of any child or dependent adult. These telephone calls should
        be given as soon as practicable and are in addition to any other telephone calls allowed by law.</p>
    <p>If an arrestee is unable to resolve the care of any child or dependent adult through this process, a supervisor should be contacted to determine the appropriate steps to arrange for care. These steps may include additional telephone calls or contacting
        a local, county or state services agency.</p>
    <h4>380.3.3 REPORTING</h4>
    <ol class="alpha">
        <li>For all arrests where children are present or living in the household, the reporting employee will document the following information:
            <ol class="decimal">
                <li>Name</li>
                <li>Sex</li>
                <li>Age</li>
                <li>How, where and with whom or which agency the child was placed</li>
            </ol>
        </li>
        <li>For all arrests where dependent adults are present or living in the household, the reporting employee should document the following information about the dependent adult:
            <ol class="decimal">
                <li>Name</li>
                <li>Sex</li>
                <li>Age</li>
                <li>Whether he/she reasonably appears able to care for him/herself</li>
                <li>Disposition or placement information if he/she is unable to care for him/herself</li>
            </ol>
        </li>
    </ol>
    <h4>380.3.4 SUPPORT AND COUNSELING REFERRAL</h4>
    <p>If, in the judgment of the handling officers, the child or dependent adult would benefit from additional assistance, such as counseling services, contact with a victim advocate or a crisis telephone number, the appropriate referral information may
        be provided.</p>

    <h3>380.4 DEPENDENT WELFARE SERVICES</h3>
    <p>Whenever an arrestee is unwilling or incapable of arranging for the appropriate care of any child or dependent adult, the handling officer should consider contacting the appropriate welfare service or other department-approved social service entity
        to determine whether protective custody is appropriate (Minn. Stat. § 260C.007; Minn. Stat. § 260C.175 ).</p>
    <p>Only when other reasonable options are exhausted should a child or dependent adult be transported to the police facility, transported in a marked patrol car or taken into formal protective custody.</p>
    <p>Under no circumstances should a child or dependent adult be left unattended or without appropriate care.</p>

    <h3>380.5 TRAINING</h3>
    <p>The Training Coordinator is responsible to ensure that all personnel of this department who may be involved in arrests affecting children or dependent adults receive approved training on effective safety measures when a parent, guardian or caregiver
        is arrested.</p>
</div>