<div class="chapter" id="382">
    <h2>382 - Service Animals</h2>
    <h3>382.1 PURPOSE AND SCOPE</h3>
    <p>Service animals play an important role in helping to overcome the limitations often faced by people with disabilities. The Metro Transit Police Department recognizes this need and is committed to making reasonable modifications to its policies, practices
        and procedures in accordance with Title II of the Americans with Disabilities Act (ADA) to permit the use of service animals that are individually trained to assist a person with a disability.</p>
    <h4>382.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Service animal</strong> - A dog that is trained to do work or perform tasks for the benefit of an individual with a disability, including a physical, sensory, psychiatric, intellectual or other mental disability. The work or tasks performed
        by a service animal must be directly related to the individual's disability (28 CFR 35.104).</p>
    <p>Service animal also includes a miniature horse if the horse is trained to do work or perform tasks for people with disabilities, provided the horse is housebroken, is under the handler’s control, the facility can accommodate the horse’s type, size
        and weight, and the horse’s presence will not compromise legitimate safety requirements necessary for safe operation of the facility (28 CFR 35.136(i)).</p>

    <h3>382.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to provide services and access to persons with service animals in the same manner as those without service animals. Department members shall protect the rights of persons assisted by service
        animals in accordance with state and federal law.</p>

    <h3>382.3 IDENTIFICATION AND USE OF SERVICE ANIMALS</h3>
    <p>Some service animals may be readily identifiable. However, many do not have a distinctive symbol, harness or collar. Service animals are not pets and may be trained by an individual or organization to assist people with disabilities.</p>
    <p>Examples of the ways service animals may be used to provide assistance include:</p>
    <ul>
        <li>Guiding people who are blind or have low vision.</li>
        <li>Alerting people who are deaf or hard of hearing.</li>
        <li>Retrieving or picking up items, opening doors or flipping switches for people who have limited use of their hands, arms or legs.</li>
        <li>Pulling wheelchairs.</li>
        <li>Providing physical support and assisting with stability and balance.</li>
        <li>Doing work or performing tasks for persons with traumatic brain injury, intellectual disabilities or psychiatric disabilities, such as reminding a person with depression to take medication.</li>
        <li>Alerting a person with anxiety to the onset of panic attacks, providing tactile stimulation to calm a person with post-traumatic stress disorder, assisting people with schizophrenia to distinguish between hallucinations and reality, and helping
            people with traumatic brain injury to locate misplaced items or follow daily routines.</p>
        </li>
    </ul>

    <h3>382.4 MEMBER RESPONSIBILITIES</h3>
    <p>Service animals that are assisting individuals with disabilities are permitted in all public facilities and areas where the public is allowed. Department members are expected to treat individuals with service animals with the same courtesy and respect
        that the Metro Transit Police Department affords to all members of the public (see generally Minn. Stat. § 256C.02; Minn. Stat. § 363A.19).</p>
    <h4>382.4.1 REMOVAL</h4>
    <p>If an animal exhibits vicious behavior, poses a direct threat to the health of others or unreasonably disrupts or interferes with normal business operations, an officer may direct the owner to remove the animal from the premises. Barking alone is
        not a threat nor does a direct threat exist if the person takes prompt, effective action to control the animal. Each incident must be considered individually. Past incidents alone are not cause for excluding a service animal. Removal of a service
        animal may not be used as a reason to refuse service to an individual with disabilities. Members of this department are expected to provide all services as are reasonably available to an individual with the disability.</p>
    <h4>382.4.2 INQUIRY</h4>
    <p>If it is apparent or if an officer is aware the animal is a service animal, the owner should not be asked any questions as to the status of the animal. If it is unclear whether an animal meets the definition of a service animal, the officer should
        ask the individual only the following questions:</p>
    <ul>
        <li>Is the animal required because of a disability?</li>
        <li>What task or service has the animal been trained to perform?</li>
    </ul>
    <p>If the individual explains that the animal is required because of a disability and has been trained to work or perform at least one task, the animal meets the definition of a service animal, and no further question as to the animal’s status should
        be asked. The person should not be questioned about his/her disabilities nor should the person be asked to provide any license, certification or identification card for the service animal.</p>
    <h4>382.4.3 CONTACT</h4>
    <p>Service animals are not pets. Department members should not interfere with the important work performed by a service animal by talking to, petting or otherwise initiating contact with a service animal.</p>
    <h4>382.4.4 COMPLAINTS</h4>
    <p>When handling calls of a complaint regarding a service animal, members of this department should remain neutral and should be prepared to explain the ADA requirements concerning service animals to the concerned parties. Businesses are required to
        allow service animals to accompany their owner into all areas that other customers or members of the public are allowed.</p>
    <p>Absent a violation of law independent of the ADA, officers should take no enforcement action beyond keeping the peace. Individuals who believe they have been discriminated against as a result of a disability should be referred to the Civil Rights
        Division of the U.S. Department of Justice or the Minnesota Department of Human Rights.</p>
</div>