<div class="chapter" id="386">
    <h2>386 - Native American Graves Protection and Repatriation</h2>
    <h3>386.1 PURPOSE AND SCOPE</h3>
    <p>This policy is intended ensure the protection and security of ancient or historic grave sites, including notification of personnel responsible for cultural items, in compliance with the Native American Graves Protection and Repatriation Act (NAGPRA)
        (25 USC § 3001 et seq.).</p>
    <h4>386.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include (43 CFR 10.2):</p>
    <p><strong>Funerary objects and associated funerary objects</strong> - Objects that, as part of the death rite or ceremony of a culture, are reasonably believed to have been placed intentionally at the time of death or later with or near individual human
        remains, or that were made exclusively for burial purposes or to contain human remains.</p>
    <p><strong>Native American human remains</strong> - The physical remains of the body of a person of Native American ancestry.</p>
    <p><strong>Objects of cultural patrimony</strong> - Objects having ongoing historical, traditional or cultural importance that is central to the Native American group or culture itself and therefore cannot be appropriated or conveyed by any individual,
        including members of the Native American group or Native Hawaiian organization. Such objects must have been considered inalienable by the Native American group at the time the object was separated from the group.</p>
    <p><strong>Sacred objects</strong> - Specific ceremonial objects needed by traditional Native American religious leaders for the practice of traditional Native American religions.</p>

    <h3>386.2 POLICY</3>
											                <p>It is the policy of the Metro Transit Police Department that the protection of Native American human remains, funerary objects, associated funerary objects, sacred objects or objects of cultural patrimony is the responsibility of all members. Such protection includes minimizing destruction, contamination, inadvertent disruption or complicated custody transfer processes.</p>

											                <h3>386.3 COMPLIANCE WITH THE NATIVE AMERICAN GRAVES PROTECTION AND REPATRIATION ACT</h3>
    <p>Upon discovery or arrival upon a scene where it reasonably appears that a Native American grave, human remains, funerary objects, associated funerary objects, sacred objects or objects of cultural patrimony are exposed or otherwise unsecured, members
        shall secure the site in the same manner as a crime scene. All activity at the scene, other than scene preservation activity, must cease (43 CFR 10.4).</p>
    <p>No photography or video recording may be permitted by the media or any group or individual who may wish to exhibit the remains.</p>
    <p>Without delay, the appropriate agency or group shall be notified to respond and take control of the scene. These include the following (43 CFR 10.4):</p>
    <ul>
        <li>Federal land - Appropriate agency at the U.S. Department of the Interior.</li>
        <li>State land - State archaeologist (Minn. Stat. § 307.08, Subd. 7)</li>
        <li>Tribal land - Responsible Indian tribal official.</li>
    </ul>

    <h3>386.4 EVIDENCE AND PROPERTY</h3>
    <p>If the location has been investigated as a possible homicide scene prior to identification as a NAGPRA site, investigators shall work with other appropriate agencies and individuals to ensure the proper transfer and repatriation of any material collected.
        Members shall ensure that any remains or artifacts located at the site are expediently processed (43 CFR 10.6).</p>

    <h3>386.5 BURIAL GROUNDS</h3>
    <p>All human burials, human remains and human burial grounds shall be afforded equal treatment and respect for human dignity, regardless of ethnic origins, cultural backgrounds or religious affiliations (Minn. Stat. § 307.08, Subd. 1).</p>
    <p>This department shall cooperate with other government agencies, the Minnesota Office of the State Archaeologist and the Minnesota Indian Affairs Council to carry out any provisions of state law (Minn. Stat. § 307.08, Subd. 9).</p>
</div>