<div class="chapter" id="388">
    <h2>388 - Off-Duty Law Enforcement Actions</h2>
    <h3>388.1 PURPOSE AND SCOPE</h3>
    <p>The decision to become involved in a law enforcement action when off-duty can place an officer as well as others at great risk and must be done with careful consideration. This policy is intended to provide guidelines for officers of the Metro Transit
        Police Department with respect to taking law enforcement action while off-duty.</p>

    <h3>388.2 POLICY</h3>
    <p>Officers generally should not initiate law enforcement action while off-duty. Officers should not attempt to initiate enforcement action when witnessing minor crimes, such as suspected intoxicated drivers, reckless driving or minor property crimes.
        Such incidents should be promptly reported to the appropriate law enforcement agency.</p>
    <p>When the safety of the public or the prevention of major property damage requires immediate action, officers should first consider reporting and monitoring the activity and only take direct action as a last resort.</p>
    <p>Officers are not expected to place themselves in unreasonable peril. However, any licensed member of this department who becomes aware of an incident or circumstance that he/she reasonably believes poses an imminent threat of serious bodily injury
        or death or significant property damage may take reasonable action to minimize the threat.</p>

    <h3>388.3 FIREARMS</h3>
    <p>Officers of this department may carry firearms while off-duty in accordance with federal regulations, state law and department policy. All firearms and ammunition must meet guidelines as described in the Firearms Policy. When carrying firearms while
        off-duty, officers shall also carry their department-issued badge and identification.</p>
    <p>Officers should refrain from carrying firearms when the consumption of alcohol is likely or when the need to carry a firearm is outweighed by safety considerations. Firearms shall not be carried by any officer who has consumed an amount of an alcoholic
        beverage or taken any drugs that would tend to adversely affect the officer’s senses or judgment.</p>

    <h3>388.4 DECISION TO INTERVENE</h3>
    <p>There is no legal requirement for off-duty officers to take law enforcement action. However, should officers decide to intervene, they must evaluate whether the action is necessary or desirable and should take into consideration:</p>
    <ol class="alpha">
        <li>The tactical disadvantage of being alone and the fact there may be multiple or hidden suspects.</li>
        <li>The inability to communicate with responding units.</li>
        <li>The lack of equipment, such as handcuffs, Oleoresin Capsicum (OC) spray or a baton.</li>
        <li>The lack of cover.</li>
        <li>The potential for increased risk to bystanders if the off-duty officer were to intervene.</li>
        <li>Unfamiliarity with the surroundings.</li>
        <li>The potential for the off-duty officer to be misidentified by other peace officers or members of the public.</li>
    </ol>
    <p>Officers should consider waiting for on-duty uniformed officers to arrive and gather as much accurate intelligence as possible instead of immediately intervening.</p>
    <h4>388.4.1 INTERVENTION PROCEDURE</h4>
    <p>If involvement is reasonably necessary, the officer should attempt to call or have someone else call 9-1-1 to request immediate assistance. The operator should be informed that an off-duty officer is on-scene and should be provided a description of
        the officer if reasonably possible.</p>
    <p>Whenever reasonably practicable, the officer should loudly and repeatedly identify him/herself as an Metro Transit Police Department officer until acknowledged. Official identification should also be displayed.</p>
    <h4>388.4.2 INCIDENTS OF PERSONAL INTEREST</h4>
    <p>Officers should refrain from handling incidents of personal interest (e.g., family or neighbor disputes) and should remain neutral. In such circumstances, officers should call the responsible agency to handle the matter.</p>
    <h4>388.4.3 NON-LICENSED RESPONSIBILITIES</h4>
    <p>Non-licensed personnel should not become involved in any law enforcement actions while off- duty except to notify the local law enforcement authority and remain at the scene, if safe and reasonably practicable.</p>
    <h4>388.4.4 OTHER CONSIDERATIONS</h4>
    <p>When encountering a non-uniformed officer in public, uniformed officers should wait for acknowledgement by the non-uniformed officer in case he/she needs to maintain an undercover capability.</p>

    <h3>388.5 REPORTING</h3>
    <p>Any officer, taking any off-duty law enforcement action, shall notify a Metro Transit Police Department supervisor (or other applicable enforcement authority if acting outside the jurisdiction of the Metro Transit Police Department). The Shift Supervisor
        shall determine whether a report should be filed by the employee.</p>
    <p>Officers should cooperate fully with the agency having jurisdiction in providing statements or reports as requested or as appropriate.</p>
</div>