<div class="chapter" id="389">
    <h2>389 - Department Use of Social Media</h2>
    <h3>389.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines to ensure that any use of social media on behalf of the Department is consistent with the department mission.</p>
    <p>This policy does not address all aspects of social media use. Specifically, it does not address:</p>
    <ul>
        <li>Personal use of social media by department members (see the Employee Speech, Expression and Social Networking Policy).</li>
        <li>Use of social media in personnel processes (see the Recruitment and Selection Policy).</li>
        <li>Use of social media as part of a criminal investigation, other than disseminating information to the public on behalf of this department (see the Investigation and Prosecution Policy).</li>
    </ul>
    <h4>389.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Social media</strong> - Any of a wide array of Internet-based tools and platforms that allow for the sharing of information, such as the department website or social networking services.</p>

    <h3>389.2 POLICY</h3>
    <p>The Metro Transit Police Department may use social media as a method of effectively informing the public about department services, issues, investigations and other relevant events.</p>
    <p>Department members shall ensure that the use or access of social media is done in a manner that protects the constitutional rights of all.</p>

    <h3>389.3 AUTHORIZED USERS</h3>
    <p>Only members authorized by the Chief of Police or the authorized designee may utilize social media on behalf of the Department. Authorized members shall use only department-approved equipment during the normal course of duties to post and monitor
        department-related social media, unless they are specifically authorized to do otherwise by their supervisors.</p>
    <p>The Chief of Police may develop specific guidelines identifying the type of content that may be posted. Any content that does not strictly conform to the guidelines should be approved by a supervisor prior to posting.</p>
    <p>Requests to post information over department social media by members who are not authorized to post should be made through the member’s chain of command.</p>

    <h3>389.4 AUTHORIZED CONTENT</h3>
    <p>Only content that is appropriate for public release, that supports the department mission and conforms to all department policies regarding the release of information may be posted.</p>
    <p>Examples of appropriate content include:</p>
    <ol class="alpha">
        <li>Announcements.</li>
        <li>Tips and information related to crime prevention.</li>
        <li>Investigative requests for information.</li>
        <li>Requests that ask the community to engage in projects that are relevant to the department mission.</li>
        <li>Real-time safety information that is related to in-progress crimes, geographical warnings or disaster information.</li>
        <li>Traffic information.</li>
        <li>Press releases.</li>
        <li>Recruitment of personnel.</li>
    </ol>
    <h4>389.4.1 INCIDENT-SPECIFIC USE</h4>
    <p>In instances of active incidents where speed, accuracy and frequent updates are paramount (e.g., crime alerts, public safety information, traffic issues), the Public Information Officer or the authorized designee will be responsible for the compilation
        of information to be released, subject to the approval of the Incident Commander.</p>

    <h3>389.5 PROHIBITED CONTENT</h3>
    <p>Content that is prohibited from posting includes, but is not limited to:</p>
    <ol class="alpha">
        <li>Content that is abusive, discriminatory, inflammatory or sexually explicit.</li>
        <li>Any information that violates individual rights, including confidentiality and/or privacy rights and those provided under state, federal or local laws.</li>
        <li>Any information that could compromise an ongoing investigation.</li>
        <li>Any information that could tend to compromise or damage the mission, function, reputation or professionalism of the Metro Transit Police Department or its members.</li>
        <li>Any information that could compromise the safety and security of department operations, members of the Department, victims, suspects or the public.</li>
        <li>Any content posted for personal use.</li>
        <li>Any content that has not been properly authorized by this policy or a supervisor.</li>
    </ol>
    <p>Any member who becomes aware of content on this Department’s social media site that he/she believes is unauthorized or inappropriate should promptly report such content to a supervisor. The supervisor will ensure its removal from public view and investigate
        the cause of the entry.</p>
    <h4>389.5.1 PUBLIC POSTING PROHIBITED</h4>
    <p>Department social media sites shall be designed and maintained to prevent posting of content by the public.</p>
    <p>The Department may provide a method for members of the public to contact department members directly.</p>

    <h3>389.6 MONITORING CONTENT</h3>
    <p>The Chief of Police will appoint a supervisor to review, at least annually, the use of department social media and report back on, at a minimum, the resources being used, the effectiveness of the content, any unauthorized or inappropriate content
        and the resolution of any issues.</p>

    <h3>389.7 RETENTION OF RECORDS</h3>
    <p>The Administration Captain should work with the Custodian of Records to establish a method of ensuring that public records generated in the process of social media use are retained in accordance with established records retention schedules.</p>

    <h3>389.8 TRAINING</h3>
    <p>Authorized members should receive training that, at a minimum, addresses legal issues concerning the appropriate use of social media sites, as well as privacy, civil rights, dissemination and retention of information posted on department sites.</p>
</div>