<div class="chapter" id="390">
    <h2>390 - Community Relations</h2>
    <h3>390.1  PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for community relationship-building.</p>
    <p>Additional guidance on community relations and outreach is provided in other policies, including the:</p>
    <ul>
        <li>Hate or Prejudice Crimes Policy.</li>
        <li>Limited English Proficiency Services Policy.</li>
        <li>Communications with Persons with Disabilities Policy.</li>
        <li>Patrol Function Policy.</li>
        <li>Suspicious Activity Reporting Policy.</li>
    </ul>

    <h3>390.2  POLICY</h3>
    <p>It is the policy of the ﻿Metro Transit Police Department﻿ to promote positive relationships between ﻿department﻿ members and the community by treating community members with dignity and respect and engaging them in public safety strategy development
        and relationship-building activities, and by making relevant policy and operations information available to the community in a transparent manner.</p>
    <h3>390.3  MEMBER RESPONSIBILITIES</h3>
    <p>Officers﻿ should, as time and circumstances reasonably permit:</p>
    <ol class="alpha">
        <li>Make casual and consensual contacts with community members to promote positive community relationships (see the Detentions and Photographing Detainees Policy).</li>
        <li>Become reasonably familiar with the schools, businesses and community groups in their assigned jurisdictional areas.</li>
        <li>Work with community members and the ﻿department﻿ community relations coordinator to identify issues and solve problems related to community relations and public safety.</li>
        <li>Conduct periodic foot patrols of their assigned areas to facilitate interaction with community members. ﻿Officers﻿ carrying out foot patrols should notify an appropriate supervisor and ﻿Transit Control Center﻿ of their status (i.e., on foot patrol)
            and location before beginning and upon completion of the foot patrol. They should also periodically inform ﻿Transit Control Center﻿ of their location and status during the foot patrol.</li>
    </ol>

    <h3>390.4  COMMUNITY RELATIONS COORDINATOR</h3>
    <p>﻿The ﻿Chief of Police﻿ or the authorized designee should designate a member of the ﻿Department﻿ to serve as the community relations coordinator. He/she should report directly to the ﻿Chief of Police﻿ or the authorized designee and is responsible for:</p>
    <ol class="alpha">
        <li>Obtaining ﻿department﻿-approved training related to his/her responsibilities.</li>
        <li>Responding to requests from ﻿department﻿ members and the community for assistance in identifying issues and solving problems related to community relations and public safety.</li>
        <li>Organizing surveys to measure the condition of the ﻿department﻿’s relationship with the community.</li>
        <li>Working with community groups, ﻿department﻿ members and other community resources to:
            <ol class="decimal">
                <li>Identify and solve public safety problems within the community.</li>
                <li>Organize programs and activities that help build positive relationships between ﻿department﻿ members and the community and provide community members with an improved understanding of ﻿department﻿ operations.</li>
            </ol>
        </li>
        <li>Working with the ﻿Patrol﻿ ﻿Captain﻿ to develop patrol deployment plans that allow ﻿officers﻿ the time to participate in community engagement and problem-solving activities.</li>
        <li>Recognizing ﻿department﻿ and community members for exceptional work or performance in community relations efforts.</li>
        <li>Attending ﻿Metropolitan Area﻿ council and other community meetings to obtain information on community relations needs.</li>
        <li>Assisting with the ﻿department﻿’s response to events that may affect community relations, such as an incident where the conduct of a ﻿department﻿ member is called into public question.</li>
        <li>Informing the ﻿Chief of Police﻿ and others of developments and needs related to the furtherance of the ﻿department﻿’s community relations goals, as appropriate.</li>
    </ol>

    <h3>390.5  SURVEYS</h3>
    <p>The community relations coordinator should arrange for a survey of community members and ﻿department﻿ members to be conducted at least annually to assess the condition of the relationship between the ﻿Department﻿ and the community. Survey questions
        should be designed to evaluate perceptions of the following:</p>
    <ol class="alpha">
        <li>Overall performance of the ﻿Department﻿</li>
        <li>Overall competence of ﻿department﻿ members</li>
        <li>Attitude and behavior of ﻿department﻿ members</li>
        <li>Level of community trust in the ﻿Department﻿</li>
        <li>Safety, security or other concerns</li>
    </ol>
    <p>A written summary of the compiled results of the survey should be provided to the ﻿Chief of Police﻿.</p>
    <h3>390.6  COMMUNITY AND YOUTH ACTIVITIES AND PROGRAMS</h3>
    <p>The community relations coordinator should organize or assist with programs and activities that create opportunities for ﻿department﻿ members and community members, especially youth, to interact in a positive setting. Examples of such programs and
        events include:</p>
    <ol class="alpha">
        <li>Department﻿-sponsored athletic programs (e.g., baseball, basketball, soccer, bowling).</li>
        <li>Police-community get-togethers (e.g., cookouts, meals, charity events).</li>
        <li>Youth leadership and life skills mentoring.</li>
        <li>School resource ﻿officer﻿/Drug Abuse Resistance Education (D.A.R.E.®) programs.</li>
        <li>Neighborhood Watch and crime prevention programs.</li>
    </ol>

    <h3>390.7  INFORMATION SHARING</h3>
    <p>The community relations coordinator should work with the ﻿Public Information Officer﻿ to develop methods and procedures for the convenient sharing of information (e.g., major incident notifications, significant changes in ﻿department﻿ operations,
        comments, feedback, positive events) between the ﻿Department﻿ and community members. Examples of information-sharing methods include:</p>
    <ol class="alpha">
        <li>Community meetings.</li>
        <li>Social media (see the ﻿Department﻿ Use of Social Media Policy).</li>
        <li>Department﻿ website postings.</li>
    </ol>
    <p>Information should be regularly refreshed, to inform and engage community members continuously.</p>

    <h3>390.8  LAW ENFORCEMENT OPERATIONS EDUCATION</h3>
    <p>The community relations coordinator should develop methods to educate community members on general law enforcement operations so they may understand the work that ﻿officers﻿ do to keep the community safe. Examples of educational methods include:</p>
    <ol class="alpha">
        <li>Development and distribution of informational cards/flyers.</li>
        <li>Department﻿ website postings.</li>
        <li>Presentations to driver education classes.</li>
        <li>Instruction in schools.</li>
        <li>Department﻿ ride-alongs (see the Ride-Along Policy).</li>
        <li>Scenario/Simulation exercises with community member participation.</li>
        <li>Youth internships at the ﻿Department﻿.</li>
        <li>Citizen academies.</li>
    </ol>
    <p>Instructional information should include direction on how community members should interact with the police during enforcement or investigative contacts and how community members can make a complaint to the ﻿Department﻿ regarding alleged misconduct
        or inappropriate job performance by ﻿department﻿ members.</p>

    <h3>390.9  SAFETY AND OTHER CONSIDERATIONS</h3>
    <p>Department﻿ members responsible for community relations activities should consider the safety of the community participants and, as much as reasonably practicable, not allow them to be present in any location or situation that would jeopardize their
        safety.
    </p>
    <p>Department﻿ members in charge of community relations events should ensure that participating community members have completed waiver forms before participation, if appropriate. A parent or guardian must complete the waiver form if the participating
        community member has not reached 18 years of age.</p>
    <p>Community members are subject to a criminal history check before approval for participation in certain activities, such as citizen academies.</p>

    <h3>390.10  COMMUNITY ADVISORY COMMITTEE</h3>
    <p>﻿The ﻿Chief of Police﻿ should establish a committee of volunteers consisting of community members, community leaders and other community stakeholders (e.g., representatives from schools, churches, businesses, social service organizations). The makeup
        of the committee should reflect the demographics of the community as much as practicable.</p>
    <p>The committee should convene regularly to:</p>
    <ol class="alpha">
        <li>Provide a public forum for gathering information about public safety concerns in the community.</li>
        <li>Work with the ﻿Department﻿ to develop strategies to solve public safety problems.</li>
        <li>Generate plans for improving the relationship between the ﻿Department﻿ and the community.</li>
        <li>Participate in community outreach to solicit input from community members, including youth from the community.</li>
    </ol>
    <p>The ﻿Training Supervisor﻿ should arrange for initial and ongoing training for committee members on topics relevant to their responsibilities.</p>
    <p>The ﻿Chief of Police﻿ may include the committee in the evaluation and development of ﻿department﻿ policies and procedures and may ask them to review certain personnel complaints for the purpose of providing recommendations regarding supervisory, training
        or other issues as appropriate.</p>
    <h4>390.10.1  LEGAL CONSIDERATIONS</h4>
    <p>The ﻿Chief of Police﻿ and the community relations coordinator should work with the ﻿Prosecuting Attorney﻿ as appropriate to ensure the committee complies with any legal requirements such as public notices, records maintenance and any other associated
        obligations or procedures.</p>

    <h3>390.11  TRANSPARENCY</h3>
    <p>The ﻿Department﻿ should periodically publish statistical data and analysis regarding the ﻿department﻿’s operations. The reports should not contain the names of ﻿officers﻿, suspects or case numbers. The community relations coordinator should work with
        the community advisory committee to identify information that may increase transparency regarding ﻿department﻿ operations.</p>

    <h3>390.12  TRAINING</h3>
    <p>﻿Subject to available resources, members should receive training related to this policy, including training on topics such as:</p>
    <ol class="alpha">
        <li>Effective social interaction and communication skills.</li>
        <li>Cultural, racial and ethnic diversity and relations.</li>
        <li>Building community partnerships.</li>
        <li>Community policing and problem-solving principles.</li>
        <li>Enforcement actions and their effects on community relations.</li>
    </ol>
    <p>Where practicable and appropriate, community members, especially those with relevant expertise, should be involved in the training to provide input from a community perspective.</p>
    <h4>390.12.1  STATE-MANDATED TRAINING</h4>
    <p>The ﻿Training Supervisor﻿ is responsible for ensuring that members receive community policing as required by Minn. Stat. § 626.8455.</p>
</div>