<div class="chapter" id="400">
    <h2>400 - Patrol Function</h2>
    <h3>400.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to define the functions of the patrol unit of the Department to ensure intra-organization cooperation and information sharing.</p>
    <h4>400.1.1 FUNCTION</h4>
    <p>Officers will generally patrol in clearly marked vehicles, patrol assigned jurisdictional areas of Metro Transit, respond to calls for assistance, act as a deterrent to crime, enforce state, local and, when authorized or empowered by agreement or
        statute, federal laws and respond to emergencies 24 hours per day, seven days per week.</p>
    <p>Patrol will generally provide the following services within the limits of available resources:</p>
    <ol class="alpha">
        <li>Patrol that is directed at the prevention of criminal acts, traffic violations and collisions, the maintenance of public order and the discovery of hazardous situations or conditions.</li>
        <li>Crime prevention activities, such as inspecting Metropolitan Council and Metro Transit property as well as community presentations.</li>
        <li>Calls for service, both routine and emergency.</li>
        <li>Investigation of both criminal and non-criminal acts.</li>
        <li>The apprehension of criminal offenders.</li>
        <li>Community Oriented Policing and problem-solving activities, such as citizen assists and individual citizen contacts of a positive nature.</li>
        <li>The sharing of information between the Patrol Division and other divisions within the Department, as well as other government agencies.</li>
        <li>The application of resources to specific problems or situations within the community that may be improved or resolved by Community Oriented Policing and problem-solving strategies.</li>
        <li>Traffic direction and control.</li>
    </ol>
    <h4>TERRORISM</h4>
    <p>It is the goal of the Metro Transit Police Department to make every reasonable effort to accurately and appropriately gather and report any information that may relate to either foreign or domestic terrorism. Officers should advise a supervisor as
        soon as practicable of any activity believed to be terrorism related and should document such incidents with a written report. The supervisor should ensure that all terrorism-related reports are forwarded to the Investigation Division Supervisor
        in a timely fashion.</p>

    <h3>400.2 PATROL INFORMATION SHARING PROCEDURES</h3>
    <p>The following guidelines are intended to develop and maintain intra-organization cooperation and information flow between the various divisions of the Metro Transit Police Department.</p>
    <h4>400.2.1 CRIME REPORTS</h4>
    <p>A crime report may be completed by any patrol officer who receives criminal information. The report will be processed and forwarded to the appropriate unit for retention or follow-up investigation.</p>
    <h4>400.2.2 PATROL BRIEFINGS</h4>
    <p>Patrol supervisors, investigative supervisors/officers and special unit supervisors/officers are encouraged to share information as much as reasonably possible. All supervisors and/or officers will be provided an opportunity to share information through
        daily patrol briefings or via electronic mail.</p>
    <h4>400.2.3 INFORMATION CLIPBOARDS / BOOKS</h4>
    <p>Several information clipboards and/or books will be maintained in the roll call room and will be available for review by officers from all divisions within the Department. These will include, but not be limited to, the patrol briefing clipboard, the
        roll call sheet book and the written directive/ administrative announcement clipboard.</p>
    <h4>400.2.4 BULLETIN BOARDS / INTERNAL WEBSITE</h4>
    <p>A bulletin board may be kept in the roll call room for display of suspect information, investigative reports and photographs. Roll Call Sheets and other information can also be found on the Department's internal website. Members of the Department
        can go to: <a href="http://www.mtpd.us/" target="_blank">www.mtpd.us</a> to be re- directed to the internal website. New Interim Directives will be made available for patrol supervisors and will be discussed at briefings and shift meetings. A
        copy of the Interim Directive will be placed on the briefing room clipboard.</p>

    <h3>400.3 CROWDS, EVENTS AND GATHERINGS</h3>
    <p>Officers may encounter gatherings of people, including but not limited to, civil demonstrations, civic, social and business events, public displays, parades and sporting events. Officers should monitor such events as time permits in an effort to keep
        the peace and protect the safety and rights of those present. A patrol supervisor should be notified when it becomes reasonably foreseeable that such an event may require increased monitoring, contact or intervention.</p>
    <p>Officers responding to an event or gathering that warrants law enforcement involvement should carefully balance the speech and association rights of those present with applicable public safety concerns before taking enforcement action. Officers are
        encouraged to contact organizers or responsible persons to seek voluntary compliance that may address relevant public safety/order concerns.</p>
    <p>Officers should consider enforcement of applicable state and local laws, when the activity blocks the entrance or egress of a facility or location and when voluntary compliance with the law is not achieved.</p>
</div>