<div class="chapter" id="402">
    <h2>402 - Bias-Based Policing</h2>
    <h3>402.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance to department members that affirms the Metro Transit Police Department 's commitment to policing that is fair and objective.</p>
    <p>Nothing in this policy prohibits the use of specified characteristics in law enforcement activities designed to strengthen the ﻿department﻿’s relationship with its diverse communities (e.g., cultural and ethnicity awareness training, youth programs,
        community group outreach, partnerships).</p>
    <h4>402.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Bias-based policing</strong> - An inappropriate reliance on characteristics such as race, ethnicity, national origin, religion, sex, sexual orientation, gender identity or expression, economic status, age, cultural group, disability or affiliation
        with any non-criminal group (protected characteristics) as the basis for providing differing law enforcement service or enforcement.</p>
    <p>This includes use of racial or ethnic stereotypes as factors in selecting whom to stop and search. It does not include law enforcement’s use of race or ethnicity to determine whether a person matches a specific description of a particular subject
        (Minn. Stat. § 626.8471).</p>

    <h3>402.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing law enforcement services to the community with due regard for the racial, cultural or other differences of those served. It is the policy of this department to provide law enforcement services
        and to enforce the law equally, fairly, objectively and without discrimination toward any individual or group (Minn. Stat. § 626.8471, Subd. 3).</p>

    <h3>402.3  BIAS-BASED POLICING PROHIBITED</h3>
    <p>Bias-based policing is strictly prohibited.</p>
    <p>However, nothing in this policy is intended to prohibit an officer from considering protected characteristics in combination with credible, timely and distinct information connecting a person or people of a specific characteristic to a specific unlawful
        incident, or to specific unlawful incidents, specific criminal patterns or specific schemes.</p>

    <h3>402.4  MEMBER RESPONSIBILITIES</h3>
    <p>Every member of this department shall perform his/her duties in a fair and objective manner and is responsible for promptly reporting any suspected or known instances of bias-based policing to a supervisor. Members should, when reasonable to do so,
        intervene to prevent any biased-based actions by another member.</p>
    <h4>402.4.1  REASON FOR CONTACT</h4>
    <p>Officers﻿ contacting a person shall be prepared to articulate sufficient reason for the contact, independent of the protected characteristics of the individual.</p>
    <p>To the extent that written documentation would otherwise be completed (e.g., arrest report, Field Interview (FI) card), the involved officer should include those facts giving rise to the contact, as applicable.</p>
    <p>Except for required data-collection forms or methods, nothing in this policy shall require any officer to document a contact that would not otherwise require reporting.</p>
    <h4>402.4.2 INFORMATION TO BE PROVIDED</h4>
    <p>Officers shall (Minn. Stat. § 626.8471, Subd. 3):</p>
    <ol class="alpha">
        <li>Introduce or identify themselves and state the reason for a contact as soon as practicable unless providing the information could compromise officer or public safety.</li>
        <li>Attempt to answer questions the person may have regarding the contact, including relevant referrals to other agencies when appropriate.</li>
        <li>Explain the reason for the contact if it is determined the reasonable suspicion was unfounded.</li>
        <li>When requested, provide their name and badge number and identify this department during routine stops.</li>
        <li>When requested, officers should inform a member of the public of the process to file a misconduct complaint for bias-based policing against a member of the Department, and that bias-based policing complaints may be made by calling the Attorney
            General’s office (Minn. Stat. § 626.9514).</li>
    </ol>

    <h3>402.5  SUPERVISOR RESPONSIBILITIES</h3>
    <p>Supervisors should monitor those individuals under their command for compliance with this policy and shall handle any alleged or observed violations in accordance with the Personnel Complaints Policy.</p>
    <ol class="alpha">
        <li>Supervisors should discuss any issues with the involved officer and his/her supervisor in a timely manner.
            <ol class="decimal">
                <li>Supervisors should document these discussions, in the prescribed manner.</li>
            </ol>
        </li>
        <li>Supervisors should periodically review MAV recordings, portable audio/video recordings, ﻿Mobile Digital Computer﻿ (MDC) data and any other available resource used to document contact between officers and the public to ensure compliance with this
            policy.
            <ol class="decimal">
                <li>Supervisors should document these periodic reviews.</li>
                <li>Recordings that capture a potential instance of bias-based policing should be appropriately retained for administrative investigation purposes.</li>
            </ol>
        </li>
        <li>Supervisors shall initiate investigations of any actual or alleged violations of this policy.</li>
        <li>Supervisors should take prompt and reasonable steps to address any retaliatory action taken against any member of this department who discloses information concerning bias-based policing.</li>
    </ol>

    <h3>402.6 ADMINISTRATION</h3>
    <p>Each year, the Patrol Captain should review the efforts of the Department to provide fair and objective policing and submit an annual report, including public concerns and complaints, to the Chief of Police. The annual report should not contain any
        identifying information about any specific complaint, citizen or officers. It should be reviewed by the Chief of Police to identify any changes in training or operations that should be made to improve service.</p>
    <p>Supervisors should review the annual report and discuss the results with those they are assigned to supervise.</p>

    <h3>402.7 TRAINING</h3>
    <p>Training on fair and objective policing and review of this policy should be conducted as directed by the Professional Standards Unit.</p>
    <p>The Chief of Police and supervisors should receive and review training materials prepared by the Board of Peace Officer Standards and Training (POST) (Minn. Stat. § 626.8471, Subd. 7).</p>
</div>