<div class="chapter" id="402">
    <h2>402 - Racial- or Bias-Based Profiling</h2>
    <h3>402.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance to department members and establishes appropriate controls to ensure that employees of the Metro Transit Police Department do not engage in racial- or bias- based profiling or violate any related laws while serving the
        community.</p>
    <h4>402.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Racial- or bias-based profiling</strong> - An inappropriate reliance on factors such as race, ethnicity, national origin, religion, sex, sexual orientation, economic status, age, cultural group, disability or affiliation with any other similar
        identifiable group as a factor in deciding whether to take law enforcement action or to provide service.</p>
    <p>This includes use of racial or ethnic stereotypes as factors in selecting whom to stop and search. It does not include law enforcement's use of race or ethnicity to determine whether a person matches a specific description of a particular subject
        (Minn. Stat. § 626.8471).</p>

    <h3>402.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing law enforcement services to the community with due regard for the racial, cultural or other differences of those served. It is the policy of this department to provide law enforcement services
        and to enforce the law equally, fairly and without discrimination toward any individual or group.</p>
    <p>Race, ethnicity or nationality, religion, sex, sexual orientation, economic status, age, cultural group, disability or affiliation with any other similar identifiable group shall not be used as the basis for providing differing levels of law enforcement
        service or the enforcement of the law (Minn. Stat. § 626.8471, Subd. 3).</p>

    <h3>402.3 RACIAL- OR BIAS-BASED PROFILING PROHIBITED</h3>
    <p>Racial- or bias-based profiling is strictly prohibited. However, nothing in this policy is intended to prohibit an officer from considering factors such as race or ethnicity in combination with other legitimate factors to establish reasonable suspicion
        or probable cause (e.g., suspect description is limited to a specific race or group).</p>
    <p>Officers may take into account factors including the race, ethnicity, national origin, gender, sexual orientation and religion of a specific suspect based on information that links specific, suspected, unlawful or suspicious activity to a particular
        individual or group of individuals. This information may be used in the same manner officers use specific information regarding age, height or weight about specific suspects.</p>

    <h3>402.4 MEMBER RESPONSIBILITY</h3>
    <p>Every member of this department shall perform his/her duties in a fair and objective manner and is responsible for promptly reporting any known instances of racial- or bias-based profiling to a supervisor.</p>
    <h4>402.4.1 REASON FOR DETENTION</h4>
    <p>Officers detaining a person shall be prepared to articulate sufficient reasonable suspicion to justify a detention, independent of the individual's membership in a protected class.</p>
    <p>To the extent that written documentation would otherwise be completed (e.g., arrest report etc), the involved officer should include those facts giving rise to the officer's reasonable suspicion or probable cause for the detention, as applicable.</p>
    <p>Nothing in this policy shall require any officer to document a contact that would not otherwise require reporting.</p>
    <h3>402.4.2 INFORMATION TO BE PROVIDED</h3>
    <p>Officers shall (Minn. Stat. § 626.8471, Subd. 3):</p>
    <ol class="alpha">
        <li>Introduce or identify themselves and state the reason for a contact as soon as practicable unless providing the information could compromise officer or public safety.</li>
        <li>Attempt to answer questions the person may have regarding the contact, including relevant referrals to other agencies when appropriate.</li>
        <li>Explain the reason for the contact if it is determined the reasonable suspicion was unfounded.</li>
        <li>When requested, officers have a duty to give their name, badge number and identify this department during routine stops.</li>
        <li>When requested, officers should inform a member of the public of the process to file a misconduct complaint for racial- or bias-based profiling against a member of the Department, and that racial- or bias-based profiling complaints may be made
            by calling the Attorney General's office (Minn. Stat. § 626.9514).</li>
    </ol>

    <h3>402.5 SUPERVISOR RESPONSIBILITY</h3>
    <p>Supervisors shall monitor those individuals under their command for any behavior that may conflict with the purpose of this policy and shall handle any alleged or observed violation of this policy in accordance with the Personnel Complaints Policy.</p>
    <ol class="alpha">
        <li>Supervisors should discuss any issues with the involved officer and his/her supervisor in a timely manner.</li>
        <li>Supervisors should periodically review MAV recordings, MDC data and any other available resource used to document contact between officers and the public to ensure compliance with this policy.
            <ol class="decimal">
                <li>Supervisors should document these periodic reviews.</li>
                <li>Recordings that capture a potential instance of racial- or bias-based profiling should be appropriately retained for administrative investigation purposes.</li>
            </ol>
        </li>
        <li>Supervisors shall initiate investigations of any actual or alleged violations of this policy.</li>
        <li>Supervisors should ensure that no retaliatory action is taken against any member of this department who discloses information concerning racial- or bias-based profiling.</li>
    </ol>

    <h3>402.6 ADMINISTRATION</h3>
    <p>Each year, the Patrol Captain shall review the efforts of the Department to prevent racial- or bias- based profiling and submit an overview, including public concerns and complaints, to the Chief of Police. This report should not contain any identifying
        information regarding any specific complaint, citizen or officers. It should be reviewed by the Chief of Police to identify any changes in training or operations that should be made to improve service.</p>
    <p>Supervisors shall review the annual report and discuss the results with those they are assigned to supervise.</p>

    <h3>402.7 TRAINING</h3>
    <p>Training on racial- or bias-based profiling and review of this policy should be conducted as directed by the Professional Standards Unit.</p>
    <p>The Chief of Police and supervisors should receive and review training materials prepared by the Board of Peace Officer Standards and Training (POST) (Minn. Stat. § 626.8471, Subd. 7).</p>
</div>