<div class="chapter" id="404">
    <h2>404 - Roll Call Training</h2>
    <h3>404.1 PURPOSE AND SCOPE</h3>
    <p>Roll Call training is generally conducted at the beginning of the officer's assigned shift. Roll Call provides an opportunity for important exchange between employees and supervisors. A supervisor generally will conduct Roll Call. However, officers
        may conduct Roll Call for training purposes with supervisor approval.</p>
    <p>Roll Call should accomplish, at a minimum, the following basic tasks:</p>
    <ol class="alpha">
        <li>Briefing officers with information regarding daily patrol activity, with particular attention given to unusual situations and changes in the status of wanted persons, stolen vehicles and major investigations.</li>
        <li>Notifying officers of changes in schedules and assignments.</li>
        <li>Notifying officers of new Interim Directives or changes in Interim Directives.</li>
        <li>Reviewing recent incidents for training purposes.</li>
        <li>Providing training on a variety of subjects.</li>
    </ol>

    <h3>404.2 PREPARATION OF MATERIALS</h3>
    <p>The supervisor conducting Roll Call, or the officer if the supervisor is unable to participate in a group briefing session, is responsible for collection and preparation of the materials necessary for a constructive briefing. Supervisors may delegate
        this responsibility to a subordinate officer in his/ her absence or for training purposes.</p>

    <h3>404.3 RETENTION OF BRIEFING TRAINING RECORDS</h3>
    <p>Roll Call training materials and a curriculum or summary shall be forwarded to the Training Coordinator for inclusion in training records as appropriate.</p>
</div>