<div class="chapter" id="406">
    <h2>406 - Crime and Disaster Scene Integrity</h2>
    <h3>406.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance in handling a major crime or disaster.</p>

    <h3>406.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to secure crime or disaster scenes so that evidence is preserved, and to identify and mitigate the dangers associated with a major crime or disaster scene for the safety of the community and
        those required to enter or work near the scene.</p>

    <h3>406.3 SCENE RESPONSIBILITY</h3>
    <p>The first officer at the scene of a crime or major incident is generally responsible for the immediate safety of the public and preservation of the scene. Officers shall also consider officer safety and the safety of those persons entering or exiting
        the area, including those rendering medical aid to any injured parties. Once an officer has assumed or been assigned to maintain the integrity and security of the crime or disaster scene, the officer shall maintain the crime or disaster scene
        until he/she is properly relieved by a supervisor or other designated person.</p>

    <h3>406.4 FIRST RESPONDER CONSIDERATIONS</h3>
    <p>The following list generally describes the first responder’s function at a crime or disaster scene. This list is not intended to be all-inclusive, is not necessarily in order and may be altered according to the demands of each situation:</p>
    <ol class="alpha">
        <li>Broadcast emergency information, including requests for additional assistance and resources.</li>
        <li>Provide for the general safety of those within the immediate area by mitigating, reducing or eliminating threats or dangers.</li>
        <li>Locate or identify suspects and determine whether dangerous suspects are still within the area.</li>
        <li>Provide first aid to injured parties if it can be done safely.</li>
        <li>Evacuate the location safely as required or appropriate.</li>
        <li>Secure the inner perimeter.</li>
        <li>Protect items of apparent evidentiary value.</li>
        <li>Secure an outer perimeter.</li>
        <li>Identify potential witnesses.</li>
        <li>Start a chronological log noting critical times and personnel allowed access.</li>
    </ol>

    <h3>406.5 SEARCHES</h3>
    <p>Officers arriving at crime or disaster scenes are often faced with the immediate need to search for and render aid to victims, and to determine if suspects are present and continue to pose a threat. Once officers are satisfied that no additional suspects
        are present and/or there are no injured persons to be treated, those exigent circumstances will likely no longer exist. Officers should thereafter secure the scene and conduct no further search until additional or alternate authority for the search
        is obtained, such as consent or a search warrant.</p>
    <h4>406.5.1 CONSENT</h4>
    <p>When possible, officers should seek written consent to search from authorized individuals. However, in the case of serious crimes or major investigations, it may be prudent to also obtain a search warrant. Consent as an additional authorization may
        be sought, even in cases where a search warrant has been granted.</p>

    <h3>406.6 EXECUTION OF HEALTH ORDERS</h3>
    <p>Any licensed member of this department may assist in the enforcement of all directives of the local health officer issued for the purpose of preventing the spread of any contagious, infectious or communicable disease (Minn. Stat. § 144.4195, Subd.
        2).</p>
</div>