<div class="chapter" id="410">
    <h2>410 - Ride-Along Policy</h2>
    <h3>410.1 PURPOSE AND SCOPE</h3>
    <p>The Ride-Along Program provides an opportunity for persons to experience the law enforcement function first hand. This policy provides the requirements, approval process and hours of operation for the Ride-Along Program.</p>
    <h4>410.1.1 ELIGIBILITY</h4>
    <p>The Metro Transit Police Department Ride-Along Program is offered to residents, students and those employed within the Metropolitan Council / Metro Transit. Every reasonable attempt will be made to accommodate interested persons. Any applicant may
        be disqualified with or without cause from participating in the program.</p>
    <p>The following factors may be considered in disqualifying an applicant and are not limited to:</p>
    <ul>
        <li>Being under 18 years of age.</li>
        <li>Prior criminal history.</li>
        <li>Pending criminal action.</li>
        <li>Pending lawsuit against the Department.</li>
        <li>Denial by any supervisor.</li>
    </ul>
    <h4>410.1.2 AVAILABILITY</h4>
    <p>The Ride-Along Program is available on most days of the week. The ride-along times are from 10:00 a.m. to 11:00 p.m. Exceptions to this schedule may be made as approved by the Chief of Police, Deputy Chief of Police, Patrol Captain or Shift Supervisor.</p>

    <h3>410.2 PROCEDURE TO REQUEST A RIDE-ALONG</h3>
    <p>Generally, ride-along requests will be scheduled by the Shift Supervisor. The participant will complete and sign a ride-along waiver form. Information requested will include a valid driver's license, address and telephone number.</p>
    <p>The Shift Supervisor will schedule a date, based on availability, sometime after the date of application. If approved, a copy of the ride-along waiver form will be forwarded to the respective Shift Supervisor as soon as possible for his/her scheduling
        considerations.</p>
    <p>If the ride-along is denied after the request has been made, a representative of the Department will contact the applicant and advise him/her of the denial.</p>
    <h4>410.2.1 PROGRAM REQUIREMENTS</h4>
    <p>Once approved, civilian ride-alongs will be allowed to ride no more than once every six months. An exception would apply to the following: chaplains, police applicants and all others with approval of the Shift Supervisor.</p>
    <p>An effort will be made to ensure that no more than one citizen will participate in a ride-along during any given time period. Normally, no more than one ride-along will be allowed in the officer's vehicle at a given time.</p>
    <p>Ride-along requirements for CSO's are covered in Policy Manual § 1048, "Community Service Officers."</p>
    <h4>410.2.2 SUITABLE ATTIRE</h4>
    <p>Any person approved to ride-along is required to be suitably dressed. Sandals, tank tops, shorts and ripped or torn blue jeans are not permitted. Hats and ball caps will not be worn in the police vehicle. The Shift Supervisor or field supervisor may
        refuse a ride-along to anyone not properly dressed.</p>
    <h4>410.2.3 PEACE OFFICER RIDE-ALONGS</h4>
    <p>Off-duty members of this department or any other law enforcement agency will not be permitted to ride-along with on-duty officers without the express consent of the Shift Supervisor. In the event that such a ride-along is permitted, the off-duty employee
        shall not be considered on-duty and shall not represent him/herself as a peace officer or participate in any law enforcement activity except as emergency circumstances may require or as directed by an on-duty member.</p>
    <h4>410.2.4 RIDE-ALONG CRIMINAL HISTORY CHECK</h4>
    <p>All ride-along applicants are subject to a criminal history check. The criminal history check may include a local records check and a Minnesota Bureau of Criminal Apprehension Criminal History System check prior to approval (provided that the ride-along
        is not an employee of the ).</p>

    <h3>410.3 OFFICER'S RESPONSIBILITIES</h3>
    <p>The officer shall advise the dispatcher that a ride-along is present in the vehicle before going into service. Officers shall consider the safety of the ride-along at all times.</p>
    <p>Officers should use sound discretion when encountering a potentially dangerous situation, and if feasible, let the participant out of the vehicle in a well-lighted place of safety. The dispatcher will be advised of the situation and as soon as practicable
        have another police unit respond to pick up the participant at that location. The ride-along may be continued or terminated at this time.</p>
    <p>Conduct by a person participating in a ride-along that results in termination of the ride or is otherwise inappropriate should be immediately reported to the Shift Supervisor.</p>
    <p>The Shift Supervisor is responsible for maintaining and scheduling ride-alongs. Upon completion of the ride-along, a copy of the ride-along waiver form shall be returned to the Shift Supervisor with any comments that may be offered by the officer.</p>

    <h3>CONTROL OF RIDE-ALONG</h3>
    <p>The assigned employee shall maintain control over the ride-along at all times and instruct him/her in the conditions that necessarily limit participation. These instructions should include:</p>
    <ol class="alpha">
        <li>The ride-along will follow the directions of the officer.</li>
        <li>The ride-along will not become involved in any investigation, handling of evidence, discussions with victims or suspects or handling any police equipment.</li>
        <li>The ride-along may terminate the ride at any time and the officer may return the observer to his/her home or to the station if the ride-along interferes with the performance of the officer's duties.</li>
        <li>The officer may terminate the ride-along and return the observer to their home or to the station if the ride-along interferes with the performance of any officer's duties.</li>
        <li>Ride-alongs may be allowed to continue riding during the transportation and booking process provided this does not jeopardize their safety.</li>
        <li>Officers will not allow any ride-alongs to be present in any residence or situation that would jeopardize their safety or cause undue stress or embarrassment to a victim or any other person.</li>
        <li>Under no circumstance shall a civilian ride-along be permitted to enter a private residence with an officer without the expressed consent of the resident or other authorized person.</li>
    </ol>
</div>