<div class="chapter" id="412">
    <h2>412 - Hazadous Material Response</h2>
    <h3>412.1 PURPOSE AND SCOPE</h3>
    <p>Hazardous materials present a potential harm to employees as a result of their exposure. To comply with Minnesota law, the following represents the policy of this department.</p>
    <h4>412.1.1 HAZARDOUS MATERIAL DEFINED</h4>
    <p><strong>Hazardous material</strong> - Any refuse, sludge or other waste material or combinations of refuse, sludge or other waste materials in solid, semisolid, liquid or contained gaseous form, which, because of its quantity, concentration, or chemical,
        physical or infectious characteristics may (Minn. Stat. § 116.06 Subd. 11):</p>
    <ol class="alpha">
        <li>Cause or significantly contribute to an increase in mortality or an increase in serious irreversible or incapacitating reversible illness.</li>
        <li>Pose a substantial present or potential hazard to human health or the environment when improperly treated, stored, transported, disposed of or otherwise managed.</li>
    </ol>

    <h3>412.2 HAZARDOUS MATERIAL RESPONSE</h3>
    <p>Employees may encounter situations involving suspected hazardous materials, such as at the scene of a traffic collision, chemical spill or fire. When employees come into contact with a suspected hazardous material, certain steps should be taken to
        protect themselves and other persons.</p>
    <p>The fire department is the agency trained and equipped to properly respond and mitigate most hazardous materials and biohazards.</p>
    <p>Responders should not perform tasks or use equipment absent proper training. A responder entering the area may require decontamination before he/she is allowed to depart the scene and should be evaluated by appropriate technicians and medical professionals
        for signs of exposure.</p>
    <p>The following steps should be considered at any scene involving suspected hazardous materials:</p>
    <ol class="alpha">
        <li>Attempt to identify the type of hazardous material. Identification can be determined by placard, driver's manifest or statements from the person transporting the material</li>
        <li>Notify the appropriate fire department.</li>
        <li>Provide first aid to injured parties if it can be done safely and without contamination.</li>
        <li>Begin evacuation of the immediate and surrounding areas dependent on the material. Voluntary evacuation should be considered. Depending on the material, mandatory evacuation may be necessary.</li>
        <li>Contact the Minnesota Duty Officer (800-422-0798).</li>
        <li>Responders should remain uphill and upwind of the hazard until a zone of entry and a decontamination area are established.</li>
    </ol>

    <h3>412.3 REPORTING EXPOSURE(S)</h3>
    <p>Department personnel who believe that they have been exposed to a hazardous material shall immediately report the exposure to a supervisor. Each exposure shall be documented by the employee in an employee memorandum that shall be forwarded via chain
        of command to their supervisor. Should the affected employee be unable to document the exposure for any reason, it shall be the responsibility of the notified supervisor to complete the memorandum.</p>
    <p>Injury or illness caused or believed to be caused from exposure to hazardous materials shall be reported the same as any other on-duty injury or illness, in addition to a crime report or incident report.</p>
    <h4>412.3.1 SUPERVISOR RESPONSIBILITIES</h4>
    <p>When a supervisor has been informed that an employee has been exposed to a hazardous material, he/she shall ensure that immediate medical treatment is obtained and appropriate action is taken to lessen the exposure.</p>
    <p>To ensure the safety of employees, safety equipment is available through supervisory personnel. Safety items not maintained by the Department will be obtained through the appropriate fire department.</p>
</div>