<div class="chapter" id="414">
    <h2>414 - Hostage and Barricade Incidents</h2>
    <h3>414.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for situations where officers have legal cause to contact, detain or arrest a person, and the person refuses to submit to the lawful requests of the officers by remaining in a structure or vehicle
        and/or by taking a hostage.</p>
    <p>The scope of this policy is not intended to address all variables that officers encounter during their initial response or when a hostage or barricade situation has developed. This policy does not require or purport to recommend specific strategies
        or tactics for resolution as each incident is a dynamic and rapidly evolving event.</p>
    <h4>414.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Barricade situation</strong> - An incident where a person maintains a position of cover or concealment and ignores or resists law enforcement personnel, and it is reasonable to believe the subject is armed with a dangerous or deadly weapon.</p>
    <p><strong>Hostage situation</strong> - An incident where it is reasonable to believe a person is unlawfully held by a hostage-taker as security so that specified terms or conditions will be met.</p>

    <h3>414.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to address hostage and barricade situations with due regard for the preservation of life and balancing the risk of injury, while obtaining the safe release of hostages, apprehending offenders
        and securing available evidence.</p>

    <h3>414.3 COMMUNICATION</h3>
    <p>When circumstances permit, initial responding officers should try to establish and maintain lines of communication with a barricaded person or hostage-taker. Officers should attempt to identify any additional subjects, inquire about victims and injuries,
        seek the release of hostages, gather intelligence information, identify time-sensitive demands or conditions and obtain the suspect’s surrender.</p>
    <p>When available, department-authorized negotiators should respond to the scene as soon as practicable and assume communication responsibilities. Negotiators are permitted to exercise flexibility in each situation based upon their training, the circumstances
        presented, suspect actions or demands and the available resources.</p>
    <h4>414.3.1 EMERGENCY COMMUNICATION</h4>
    <p>A supervisor with probable cause to believe that a person is being unlawfully confined may order a telephone company to cut, reroute, or divert telephone lines for the purpose of establishing and controlling communications with a suspect (Minn. Stat.
        § 609.774).</p>

    <h3>414.4 FIRST RESPONDER CONSIDERATION</h3>
    <p>First responding officers should promptly and carefully evaluate all available information to determine whether an incident involves, or may later develop into, a hostage or barricade situation.</p>
    <p>The first responding officer should immediately request a supervisor’s response as soon as it is determined that a hostage or barricade situation exists. The first responding officer shall assume the duties of the supervisor until relieved by a supervisor
        or a more qualified responder. The officer shall continually evaluate the situation, including the level of risk to officers, to the persons involved and to bystanders, and the resources currently available.</p>
    <p>The handling officer should brief the arriving supervisor of the incident, including information about suspects and victims, the extent of any injuries, additional resources or equipment that may be needed, and current perimeters and evacuation areas.</p>
    <h4>414.4.1 BARRICADE SITUATION</h4>
    <p>Unless circumstances require otherwise, officers handling a barricade situation should attempt to avoid a forceful confrontation in favor of stabilizing the incident by establishing and maintaining lines of communication while awaiting the arrival
        of specialized personnel and trained negotiators. During the interim the following options, while not all-inclusive or in any particular order, should be considered:</p>
    <ul>
        <li>Ensure injured persons are evacuated from the immediate threat area if it is reasonably safe to do so. Request medical assistance.</li>
        <li>Assign personnel to a contact team to control the subject should he/she attempt to exit the building, structure or vehicle, and attack, use deadly force, attempt to escape or surrender prior to additional resources arriving.</li>
        <li>Request additional personnel, resources and equipment as needed (e.g., canine team, air support).</li>
        <li>Provide responding emergency personnel with a safe arrival route to the location.</li>
        <li>Evacuate non-injured persons in the immediate threat area if it is reasonably safe to do so.</li>
        <li>Attempt or obtain a line of communication and gather as much information on the subject as possible, including weapons, other involved parties, additional hazards or injuries.</li>
        <li>Establish an inner and outer perimeter as circumstances require and resources permit to prevent unauthorized access.</li>
        <li>Evacuate bystanders, residents and businesses within the inner and then outer perimeter as appropriate. Check for injuries, the presence of other involved subjects, witnesses, evidence or additional information.</li>
        <li>Determine the need for and notify the appropriate persons within and outside the Department (e.g., command staff and the Public Information Officer etc).</li>
        <li>If necessary and available, establish a tactical or exclusive radio frequency for the incident.</li>
        <li>Establish a command post.</li>
    </ul>
    <h4>414.4.2 HOSTAGE SITUATION</h4>
    <p>Officers presented with a hostage situation should attempt to avoid a forceful confrontation in favor of controlling the incident in anticipation of the arrival of specialized personnel and trained hostage negotiators. However, it is understood that
        hostage situations are dynamic and can require that officers react quickly to developing or changing threats. The following options while not all-inclusive or in any particular order, should be considered:</p>
    <ul>
        <li>Ensure injured persons are evacuated from the immediate threat area if it is reasonably safe to do so. Request medical assistance.</li>
        <li>Assign personnel to a contact team to control the subject should he/she attempt to exit the building, structure or vehicle, and attack, use deadly force, attempt to escape or surrender prior to additional resources arriving.</li>
        <li>Establish a rapid response team in the event it becomes necessary to rapidly enter a building, structure or vehicle, such as when the suspect is using deadly force against any hostages (see the Rapid Response and Deployment Policy).</li>
        <li>Assist hostages or potential hostages to escape if it is reasonably safe to do so. Hostages should be kept separated if practicable pending further interview.</li>
        <li>Request additional personnel, resources and equipment as needed (e.g., canine team, air support).</li>
        <li>Provide responding emergency personnel with a safe arrival route to the location.</li>
        <li>Evacuate non-injured persons in the immediate threat area if it is reasonably safe to do so.</li>
        <li>Coordinate pursuit or surveillance vehicles and control of travel routes.</li>
        <li>Attempt or obtain a line of communication and gather as much information about the suspect as possible, including any weapons, victims and their injuries, additional hazards, other involved parties and any other relevant intelligence information.</li>
        <li>Establish an inner and outer perimeter as resources and circumstances permit to prevent unauthorized access.</li>
        <li>Evacuate bystanders, residents and businesses within the inner and then outer perimeter as appropriate. Check for injuries, the presence of other involved subjects, witnesses, evidence or additional information.</li>
        <li>Determine the need for and notify the appropriate persons within and outside the Department, such as command staff and the Public Information Officer.</li>
        <li>If necessary and available, establish a tactical or exclusive radio frequency for the incident.</li>
    </ul>

    <h3>414.5 SUPERVISOR RESPONSIBILITY</h3>
    <p>Upon being notified that a hostage or barricade situation exists, the supervisor should immediately respond to the scene, assess the risk level of the situation, establish a proper chain of command and assume the role of Incident Commander until properly
        relieved. This includes requesting a tactical response if appropriate and apprising the Tactical Team Commander of the circumstances. In addition, the following options, listed here in no particular order, should be considered:</p>
    <ol class="alpha">
        <li>Ensure injured persons are evacuated and treated by medical personnel.</li>
        <li>Ensure the completion of necessary first responder responsibilities or assignments.</li>
        <li>Request crisis negotiators, specialized units, additional personnel, resources or equipment as appropriate.</li>
        <li>Establish a command post location as resources and circumstances permit.</li>
        <li>Designate assistants who can help with intelligence information and documentation of the incident.</li>
        <li>If it is practicable to do so, arrange for video documentation of the operation.</li>
        <li>Consider contacting utility and communication providers when restricting such services (e.g., restricting electric power, gas, telephone service).</li>
        <li>Ensure adequate law enforcement coverage for the remainder of the Metropolitan Area during the incident. The supervisor should direct non-essential personnel away from the scene unless they have been summoned by the supervisor or Transit Control
            Center.</li>
        <li>Identify a media staging area outside the outer perimeter and have the department Public Information Officer or a designated temporary media representative provide media access in accordance with the Media Relations Policy</li>
        <li>Identify the need for mutual aid and the transition or relief of personnel for incidents of extended duration.</li>
        <li>Debrief personnel and review documentation as appropriate.</li>
    </ol>

    <h3>414.6 CRISIS RESPONSE UNIT</h3>
    <p>It will be the Incident Commander's decision, with input from the Emergency Response Unit / Tactical Team Commander, whether to deploy the Unit / Team during a hostage or barricade situation. Once the Incident Commander authorizes deployment, the
        Unit / Team Commander or the authorized designee will be responsible for the tactical portion of the operation. The Incident Commander shall continue supervision of the command post operation, outer perimeter security and evacuation, media access
        and support for the Unit / Team. The Incident Commander and the Unit / Team Commander or the authorized designee shall maintain communications at all times.</p>

    <h3>414.7 REPORTING</h3>
    <p>Unless otherwise relieved by a supervisor or Incident Commander, the handling officer at the scene is responsible for completion and/or coordination of incident reports.</p>
</div>