<div class="chapter" id="416">
    <h2>416 - Response to Bomb Calls</h2>
    <h3>416.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines to assist members of the Metro Transit Police Department in their initial response to incidents involving explosives, explosive devices, explosion/ bombing incidents or threats of such incidents.
        Under no circumstances should these guidelines be interpreted as compromising the safety of first responders or the public. When confronted with an incident involving explosives, safety should always be the primary consideration.</p>

    <h3>416.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to place a higher priority on the safety of persons and the public over damage or destruction to public or private property.</p>

    <h3>416.3 RECEIPT OF BOMB THREAT</h3>
    <p>Department members receiving a bomb threat should obtain as much information from the individual as reasonably possible, including the type, placement and alleged detonation time of the device.</p>
    <p>If the bomb threat is received on a recorded line, reasonable steps should be taken to ensure that the recording is preserved in accordance with established department evidence procedures.</p>
    <p>The member receiving the bomb threat should ensure that the Shift Supervisor is immediately advised and informed of the details. This will enable the Shift Supervisor to ensure that the appropriate personnel are dispatched and, as appropriate, the
        threatened location is given an advance warning.</p>

    <h3>416.4 GOVERNMENT FACILITY OR PROPERTY</h3>
    <p>A bomb threat targeting a government facility may require a different response based on the government agency.</p>
    <h4>416.4.1 METRO TRANSIT POLICE DEPARTMENT FACILITY</h4>
    <p>If the bomb threat is against the Metro Transit Police Department facility, the Shift Supervisor will direct and assign officers as required for coordinating a general building search or evacuation of the police department, as he/she deems appropriate.</p>
    <h4>416.4.2 OTHER COUNTY OR MUNICIPAL FACILITY OR PROPERTY</h4>
    <p>If the bomb threat is against a county or municipal facility within the jurisdiction of the Metro Transit Police Department that is not the property of this department, the appropriate agency will be promptly informed of the threat. Assistance to
        the other entity may be provided as the Shift Supervisor deems appropriate.</p>
    <h4>416.4.3 FEDERAL BUILDING OR PROPERTY</h4>
    <p>If the bomb threat is against a federal building or property, the Federal Protective Service should be immediately notified. The Federal Protective Service provides a uniformed law enforcement response for most facilities, which may include use of
        its Explosive Detector Dog teams.</p>
    <p>If the bomb threat is against a federal government property where the Federal Protective Service is unable to provide a timely response, the appropriate facility’s security or command staff should be notified.</p>
    <p>Bomb threats against a military installation should be reported to the military police or other military security responsible for the installation.</p>

    <h3>416.5 PRIVATE FACILITY OR PROPERTY</h3>
    <p>When a member of this department receives notification of a bomb threat at a Metropolitan Council / Metro Transit location, the member receiving the notification should obtain as much information as reasonably possible from the notifying individual,
        including:</p>
    <ol class="alpha">
        <li>The location of the facility.</li>
        <li>The nature of the threat.</li>
        <li>Whether the type and detonation time of the device is known.</li>
        <li>Whether the facility is occupied, and if so, the number of occupants currently on-scene.</li>
        <li>Whether the individual is requesting police assistance at the facility.</li>
        <li>Whether there are any internal facility procedures regarding bomb threats in place, such as:
            <ol class="decimal">
                <li>No evacuation of personnel and no search for a device.</li>
                <li>Search for a device without evacuation of personnel.</li>
                <li>Evacuation of personnel without a search for a device.</li>
                <li>Evacuation of personnel and a search for a device.</li>
            </ol>
        </li>
    </ol>
    <p>The member receiving the bomb threat information should ensure that the Shift Supervisor is immediately notified so that he/she can communicate with the person in charge of the threatened facility.</p>
    <h4>416.5.1 ASSISTANCE</h4>
    <p>The Shift Supervisor should be notified when police assistance is requested. The Shift Supervisor will make the decision whether the Department will render assistance and at what level. Information and circumstances that indicate a reasonably apparent,
        imminent threat to the safety of either the facility or the public may require a more active approach, including police control over the facility.</p>
    <p>Should the Shift Supervisor determine that the Department will assist or control such an incident, he/she will determine:</p>
    <ol class="alpha">
        <li>The appropriate level of assistance.</li>
        <li>The plan for assistance.</li>
        <li>Whether to evacuate and/or search the facility.</li>
        <li>Whether to involve facility staff in the search or evacuation of the building.</p>
            <ol class="decimal">
                <li>The person in charge of the facility should be made aware of the possibility of damage to the facility as a result of a search.</li>
                <li>The safety of all participants is the paramount concern.</li>
            </ol>
        </li>
        <li>The need for additional resources, including:</p>
            <ol class="decimal">
                <li>Notification and response, or standby notice, for fire and emergency medical services.</li>
            </ol>
        </li>
    </ol>
    <p>Even though a facility does not request police assistance to clear the interior of a building, based upon the circumstances and known threat, officers may be sent to the scene to evacuate other areas that could be affected by the type of threat, or
        for traffic and pedestrian control.</p>

    <h3>416.6 FOUND DEVICE</h3>
    <p>When handling an incident involving a suspected explosive device, the following guidelines, while not all inclusive, should be followed:</p>
    <ol class="alpha">
        <li>No known or suspected explosive item should be considered safe regardless of its size or apparent packaging.</li>
        <li>The device should not be touched or moved except by the bomb squad or military explosive ordnance disposal team.</li>
        <li>Personnel should not transmit on any equipment that is capable of producing radio frequency energy within the evacuation area around the suspected device. This includes the following:
            <ol class="decimal">
                <li>Two-way radios</li>
                <li>Cell phones</li>
                <li>Other personal communication devices</li>
            </ol>
        </li>
        <li>The appropriate bomb squad or military explosive ordnance disposal team should be summoned for assistance.</li>
        <li>The largest perimeter reasonably possible should initially be established around the device based upon available personnel and the anticipated danger zone.</li>
        <li>A safe access route should be provided for support personnel and equipment.</li>
        <li>Search the area for secondary devices as appropriate and based upon available resources.</li>
        <li>Consider evacuation of buildings and personnel near the device or inside the danger zone and the safest exit route.</li>
        <li>Promptly relay available information to the Shift Supervisor including:</p>
            <ol class="decimal">
                <li>The time of discovery.</li>
                <li>The exact location of the device.</li>
                <li>A full description of the device (e.g., size, shape, markings, construction).</li>
                <li>The anticipated danger zone and perimeter.</li>
                <li>The areas to be evacuated or cleared.</li>
            </ol>
        </li>
    </ol>

    <h3>416.7 EXPLOSION/BOMBING INCIDENTS</h3>
    <p>When an explosion has occurred, there are multitudes of considerations which may confront the responding officers. As in other catastrophic events, a rapid response may help to minimize injury to victims, minimize contamination of the scene by gathering
        crowds, or minimize any additional damage from fires or unstable structures.</p>
    <h4>416.7.1 CONSIDERATIONS</h4>
    <p>Officers responding to explosions, whether accidental or a criminal act, should consider the following actions:</p>
    <ol class="alpha">
        <li>Assess the scope of the incident, including the number of victims and extent of injuries.
            <li>Request additional personnel and resources, as appropriate.</li>
            <li>Assist with first aid.</li>
            <li>Identify and take appropriate precautions to mitigate scene hazards, such as collapsed structures, bloodborne pathogens and hazardous materials.</li>
            <li>Assist with the safe evacuation of victims, if possible.</li>
            <li>Establish an inner perimeter to include entry points and evacuation routes. Search for additional or secondary devices.</li>
            <li>Preserve evidence.</li>
            <li>Establish an outer perimeter and evacuate if necessary.</li>
            <li>Identify witnesses.</li>
    </ol>
    <h4>416.7.2 NOTIFICATIONS</h4>
    <p>When an explosion has occurred, the following people should be notified as appropriate:</p>
    <ul>
        <li>Fire department</li>
        <li>Bomb squad</li>
        <li>Additional department personnel, such as investigators and forensic services</li>
        <li>Field supervisor</li>
        <li>Shift Supervisor</li>
        <li>Other<span> law enforcement agencies, including local, state or federal agencies, such as the FBI and the Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF)</span></li>
        <li>Other government agencies, as appropriate</li>
    </ul>
    <h4>416.7.3 CROWD CONTROL</h4>
    <p>Only authorized members with a legitimate need should be permitted access to the scene. Spectators and other unauthorized individuals should be restricted to a safe distance as is reasonably practicable given the available resources and personnel.</p>
    <h4>416.7.4 PRESERVATION OF EVIDENCE</h4>
    <p>As in any other crime scene, steps should immediately be taken to preserve the scene. The Shift Supervisor should assign officers to protect the crime scene area, which could extend over a long distance. Consideration should be given to the fact that
        evidence may be imbedded in nearby structures or hanging in trees and bushes.</p>
</div>