<div class="chapter" id="418">
    <h2>418 -  Civil Commitments</h2>
    <h3>418.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for when officers may place an individual in protective custody and request a 72-hour hold under the Minnesota Commitment and Treatment Act (Minn. Stat. § 253B.05).</p>

    <h3>418.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to protect the public and individuals through legal and appropriate use of the 72-hour hold process.</p>

    <h3>418.3 AUTHORITY</h3>
    <p>An officer, having reason to believe that any individual because of mental illness, chemical dependency or public intoxication is in danger of injuring him/herself or others if not immediately detained, may take, or cause to be taken, the individual
        to a treatment facility for a 72-hour evaluation (Minn. Stat. § 253B.05, Subd. 2).</p>
    <p>The officer shall make written application for admission of the individual to a treatment facility. The application shall contain the officer’s reasons for and circumstances under which the individual was taken into custody. If danger to specific
        individuals is a basis for the requested emergency hold, the statement must include identifying information for those individuals to the extent reasonably practicable. The facility shall make a copy of the statement available to the individual
        taken into custody (Minn. Stat. § 253B.05, Subd. 2).</p>
    <h4>418.3.1 VOLUNTARY EVALUATION</h4>
    <p>If officers encounter an individual who may qualify for a 72-hour hold, they may inquire as to whether the person desires to voluntarily be evaluated at an appropriate facility. If the individual so desires, the officers should:</p>
    <ol class="alpha">
        <li>Transport the individual to an appropriate facility that is able to conduct the evaluation and admit the person pursuant to the Minnesota Commitment and Treatment Act.</li>
        <li>If at any point the individual changes his/her mind regarding voluntary evaluation, officers should proceed with the application for a 72-hour hold, if appropriate.</li>
        <li>Document the circumstances surrounding the individual’s desire to pursue voluntary evaluation and/or admission.</li>
    </ol>

    <h3>418.4 CONSIDERATIONS AND RESPONSIBILITIES</h3>
    <p>Any officer handling a call involving an individual who may qualify for a 72-hour hold should consider, as time and circumstances reasonably permit:</p>
    <ol class="alpha">
        <li>Available information that might assist in determining the cause and nature of the individual’s action or stated intentions.
        </li>
        <li>Community or neighborhood mediation services.</li>
        <li>Conflict resolution and de-escalation techniques.</li>
        <li>Community or other resources available to assist in dealing with mental health issues.</li>
    </ol>
    <p>While these steps are encouraged, nothing in this section is intended to dissuade officers from taking reasonable action to ensure the safety of the officers and others.</p>

    <h3>418.5 TRANSPORTATION</h3>
    <p>When transporting any individual for a 72-hour hold, the transporting officer should have Transit Control Center notify the receiving facility of the estimated time of arrival, the level of cooperation of the individual and whether any special medical
        care is needed.</p>
    <p>Officers may transport individuals in a patrol unit and shall secure them in accordance with the Handcuffing and Restraints Policy. Should the detainee require transport in a medical transport vehicle and the safety of any person, including the detainee,
        requires the presence of an officer during the transport, Shift Supervisor approval is required before transport commences.</p>
    <h4>418.5.1 TYPE OF TRANSPORTATION</h4>
    <p>When transporting any individual on a Minn. Stat. § 253B.05 admission, and if reasonably practicable, officers should not be in uniform and should not use a vehicle visibly marked as a law enforcement vehicle (Minn. Stat. § 253B.05, Subd. 2(b)).</p>

    <h3>418.6 TRANSFER TO APPROPRIATE FACILITY</h3>
    <p>Upon arrival at the facility, the officer will escort the individual into a treatment area designated by a facility staff member. If the individual is not seeking treatment voluntarily, the officer should provide the staff member with the written
        application for a 72-hour hold and remain present to provide clarification of the grounds for detention, upon request.</p>
    <p>Absent exigent circumstances, the transporting officer should not assist facility staff with the admission process, including restraint of the individual. However, if the individual is transported and delivered while restrained, the officer may assist
        with transferring the individual to facility restraints and will be available to assist during the admission process, if requested. Under normal circumstances, officers will not apply facility-ordered restraints.</p>

    <h3>418.7 DOCUMENTATION</h3>
    <p>The officer should complete an application for emergency admission, provide it to the facility staff member assigned to that patient and retain a copy of the application for inclusion in the case report.</p>
    <p>The officer should also provide a verbal summary to any evaluating staff member regarding the circumstances leading to the involuntary detention.</p>

    <h3>418.8 CRIMINAL OFFENSES</h3>
    <p>Officers investigating an individual who is suspected of committing a minor criminal offense and who is being taken into custody for purposes of a 72-hour hold should resolve the criminal matter by issuing a warning or a citation, as appropriate.</p>
    <p>When an individual who may qualify for a 72-hour hold has committed a serious criminal offense that would normally result in an arrest and transfer to a jail facility, the officer should:</p>
    <ol class="alpha">
        <li>Arrest the individual when there is probable cause to do so.</li>
        <li>Notify the appropriate supervisor of the facts supporting the arrest and the facts that would support the 72-hour hold.</li>
        <li>Facilitate the individual’s transfer to jail.</li>
        <li>Thoroughly document in the related reports the circumstances that indicate the individual may qualify for a 72-hour hold.</li>
    </ol>
    <p>In the supervisor’s judgment, the individual may be arrested or booked and transported to the appropriate mental health facility. The supervisor should consider the seriousness of the offense, the treatment options available, the ability of this department
        to regain custody of the individual, department resources (e.g., posting a guard) and other relevant factors in making this decision.</p>

    <h3>418.9 FIREARMS AND OTHER WEAPONS</h3>
    <p>Whenever an individual is taken into custody for a 72-hour hold, the handling officers should seek to determine if the individual owns or has access to any firearm or other deadly weapon. Officers should consider whether it is appropriate and consistent
        with current search and seizure law under the circumstances to seize any such firearms or other dangerous weapons (e.g., safekeeping, evidence, consent).</p>
    <p>Officers are cautioned that a search warrant may be needed before entering a residence or other place to search unless lawful warrantless entry has already been made (e.g., exigent circumstances, consent). A warrant may also be needed before searching
        for or seizing weapons.</p>
    <p>The handling officers should further advise the individual of the procedure for the return of any firearm or other weapon that has been taken into custody.</p>

    <h3>418.10 TRAINING</h3>
    <p>This department will endeavor to provide department-approved training on interaction with mentally disabled persons, 72-hour holds and crisis intervention.</p>
</div>