<div class="chapter" id="420">
    <h2>420 - Cite and Release Policy</h2>
    <h3>420.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide members of the Metro Transit Police Department with guidance on when to release adults who are suspected offenders on a citation for a criminal offense, rather than having the person held in custody for a court
        appearance or released on bail.</p>
    <p>This policy also provides guidance on when a court orders that a person be released.</p>
    <p>Additional release restrictions may apply to those detained for domestic violence, as outlined in the Domestic Abuse Policy.</p>

    <h3>420.2 POLICY</h3>
    <p>The Metro Transit Police Department will consider its resources and its mission of protecting the community when exercising any discretion to release suspected offenders on a citation, when authorized to do so.</p>

    <h3>420.3 RELEASE</h3>
    <p>A suspected offender shall be released on issuance of a citation:</p>
    <ol class="alpha">
        <li>When the offender has been arrested without a warrant and either a prosecutor or district court judge orders that the offender should be released (Minn. R. Crim. P. 4.02; Minn. R. Crim. P. 6.01).
            <ol class="decimal">
                <li>Release is not required if a reviewing supervisor determines that the offender should be held pursuant to Minn. R. Crim. P. 6.01 Subd. 1.</li>
            </ol>
        </li>
        <li>When the offender is charged with a petty or fine-only misdemeanor (Minn. R. Crim. P. 6.01).</li>
        <li>In misdemeanor cases unless it reasonably appears to the arresting officer that the offender will (Minn. R. Crim. P. 6.01):
            <ol class="decimal">
                <li>Cause bodily injury to him/herself or another if he/she is not detained.</li>
                <li>Continue engaging in criminal conduct.</li>
                <li>Not respond to a citation.</li>
            </ol>
        </li>
        <li>When the offender is from another state which has a reciprocal agreement with Minnesota unless the offense is (Minn. Stat. § 169.91):</p>
            <ol class="decimal">
                <li>One which would result in the revocation of the offender’s driver’s license under Minnesota law upon conviction.</li>
                <li>A violation of a highway weight limitation.</li>
                <li>A violation of a law governing the transportation of hazardous materials.</li>
                <li>That the offender was driving without a valid driver’s license.</li>
            </ol>
        </li>
    </ol>

    <h3>420.4 PROHIBITIONS</h3>
    <p>The release of a suspected offender on a citation is not permitted when:</p>
    <ol class="alpha">
        <li>The offender has committed a driving while impaired (DWI) offense (Minn. Stat. § 169A.40; Minn. Stat. § 169.91).</li>
        <li>The offender is arrested for a violation of state law or an ordinance related to the operation or registration of a vehicle punishable as a misdemeanor or felony and (Minn. Stat. § 169.91):</p>
            <ol class="decimal">
                <li>The offender demands an immediate appearance before a judge.</li>
                <li>The offender is charged with:
                    <ol class="alpha">
                        <li>An offense involving an accident that resulted in injury or death.</li>
                        <li>Criminal vehicular homicide.</li>
                        <li>Failure to stop after being involved in an accident that resulted in death, personal injuries or damage to property.</li>
                    </ol>
                </li>
                <li>There is reasonable cause to believe that the offender may leave the state. See the Domestic Abuse Policy for release restrictions related to those investigations.</li>
            </ol>
        </li>
    </ol>

    <h3>420.5 CONSIDERATIONS</h3>
    <p>In determining whether to cite and release a person when discretion is permitted, officers should consider:</p>
    <ol class="alpha">
        <li>The type of offense committed.</li>
        <li>The known criminal history of the suspected offender.</li>
        <li>The ability to identify the suspected offender with reasonable certainty.</li>
        <li>Whether there is any record of the individual failing to appear in previous cases or other articulable indications that the individual may not appear in court for this offense.</li>
        <li>The individual’s ties to the area, such as residence, employment or family.</li>
        <li>Whether there is reasonable likelihood that criminal conduct by the individual will continue.</li>
    </ol>

    <h3>420.6 FISH AND GAME AND ENVIRONMENT-RELATED OFFENSES</h3>
    <p>In the case of game and fish laws or other environment-related offenses, as specified in Minn. Stat. § 97A.211, officers should release the offender unless there is reason to believe that criminal conduct will continue or that the offender will not
        respond as required by the citation (Minn. Stat. § 97A.211).</p>
</div>