<div class="chapter" id="422">
    <h2>422 - Foreign Diplomatic and Consular Representatives</h2>
    <h3>422.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines to ensure that members of the Metro Transit Police Department extend appropriate privileges and immunities to foreign diplomatic and consular representatives in accordance with international law.</p>

    <h3>422.2 POLICY</h3>
    <p>The Metro Transit Police Department respects international laws related to the special privileges and immunities afforded foreign diplomatic and consular representatives assigned to the United States.</p>
    <p>All foreign diplomatic and consular representatives shall be treated with respect and courtesy, regardless of any privileges or immunities afforded them.</p>

    <h3>422.3 CLAIMS OF IMMUNITY</h3>
    <p>If a member comes into contact with a person where law enforcement action may be warranted and the person claims diplomatic or consular privileges and immunities, the member should, without delay:</p>
    <ol class="alpha">
        <li>Notify a supervisor.</li>
        <li>Advise the person that his/her claim will be investigated and he/she may be released in accordance with the law upon confirmation of the person’s status.</li>
        <li>Request the person’s identification card, either issued by the U.S. Department of State (DOS), Office of the Chief of Protocol, or in the case of persons accredited to the United Nations, by the U.S. Mission to the United Nations. These are the
            only reliable documents for purposes of determining privileges and immunities.</li>
        <li>Contact the DOS Diplomatic Security Command Center at 571-345-3146 or toll free at 866-217-2089, or at another current telephone number and inform the center of the circumstances.</li>
        <li>Verify the immunity status with DOS and follow any instructions regarding further detention, arrest, prosecution and/or release, as indicated by the DOS representative. This may require immediate release, even if a crime has been committed.</li>
    </ol>
    <p>Identity or immunity status should not be presumed from the type of license plates displayed on a vehicle. If there is a question as to the status or the legitimate possession of a Diplomat or Consul license plate, a query should be run via the National
        Law Enforcement Telecommunications System (NLETS), designating “US” as the state.</p>

    <h3>422.4 ENFORCEMENT ACTION</h3>
    <p>If the DOS is not immediately available for consultation regarding law enforcement action, members shall be aware of the following:</p>
    <ol class="alpha">
        <li>Generally, all persons with diplomatic and consular privileges and immunities may be issued a citation or notice to appear. However, the person may not be compelled to sign the citation.</li>
        <li>All persons, even those with a valid privilege or immunity, may be reasonably restrained in exigent circumstances for purposes of self-defense, public safety or the prevention of serious criminal acts.</li>
        <li>An impaired foreign diplomatic or consular representative may be prevented from driving a vehicle, even if the person may not be arrested due to privileges and immunities.</p>
            <ol class="decimal">
                <li>Investigations, including the request for field sobriety tests, chemical tests and any other tests regarding impaired driving may proceed but they shall not be compelled.</li>
            </ol>
        </li>
        <li>The following persons may not be detained or arrested, and any property or vehicle owned by these persons may not be searched or seized:
            <ol class="decimal">
                <li>Diplomatic-level staff of missions to international organizations and recognized family members</li>
                <li>Diplomatic agents and recognized family members</li>
                <li>Members of administrative and technical staff of a diplomatic mission and recognized family members</li>
                <li>Career consular officers, unless the person is the subject of a felony warrant</li>
            </ol>
        </li>
        <li>The following persons may generally be detained and arrested:</p>
            <ol class="decimal">
                <li>International organization staff; however, some senior officers are entitled to the same treatment as diplomatic agents.</li>
                <li>Support staff of missions to international organizations.</li>
                <li>Diplomatic service staff and consular employees; however, special bilateral agreements may exclude employees of certain foreign countries.</li>
                <li>Honorary consular officers.</li>
            </ol>
        </li>
    </ol>

    <h3>422.5 DOCUMENTATION</h3>
    <p>All contacts with persons who have claimed privileges and immunities afforded foreign diplomatic and consular representatives should be thoroughly documented and the related reports forwarded to DOS.</p>

    <h3>422.6 DIPLOMATIC IMMUNITY TABLE</h3>
    <p>Reference table on diplomatic immunity:</p>
    <!-- <table class="table special"> -->
    <table class="table special">
        <thead>
            <tr>
                <th>Category</th>
                <th>Arrested or Detained</th>
                <th>Enter Residence Subject to Ordinary Procedures</th>
                <th>Issued Traffic Citation</th>
                <th>Subpoenaed as Witness</th>
                <th>Prosecuted Recognized</th>
                <th>Family Members</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Diplomatic Agent</td>
                <td>No (note b)</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>Same as sponsor (full immunity &amp; inviolability)</td>
            </tr>
            <tr>
                <td>Member of Admin and Tech Staff</td>
                <td>No (note b)</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>Same as sponsor (full immunity &amp; inviolability)</td>
            </tr>
            <tr>
                <td>Service Staff</td>
                <td>Yes (note a)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No for official acts Yes otherwise (note a)</td>
                <td>No immunity or inviolability (note a)</td>
            </tr>
            <tr>
                <td>Career Consul Officer</td>
                <td>Yes if for a felony and pursuant to a warrant(note a)</td>
                <td>Yes (note d)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No for official acts Yes otherwise (note a)</td>
                <td>No immunity or inviolability</td>
            </tr>
            <tr>
                <td>Honorable Consul Officer</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No for official acts Yes otherwise</td>
                <td>No for official acts Yes otherwise</td>
                <td>No immunity or inviolability</td>
            </tr>
            <tr>
                <td>Consulate Employees</td>
                <td>Yes (note a)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No for official acts Yes otherwise</td>
                <td>No for official Yes otherwise (note a)</td>
                <td>No immunity or inviolability (note a)</td>
            </tr>
            <tr>
                <td>Int'l Org Staff (note b)</td>
                <td>Yes (note c)</td>
                <td>Yes (note c)</td>
                <td>Yes</td>
                <td>Yes (note c)</td>
                <td>No for official acts Yes otherwise (note c)</td>
                <td>No immunity or inviolability</td>
            </tr>
            <tr>
                <td>Diplomatic- Level Staff of Missions to Int’l Org</td>
                <td>No (note b)</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>Same as sponsor (full immunity &amp; inviolability)</td>
            </tr>
            <tr>
                <td>Support Staff of Missions to Int’l Orgs</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No for official acts Yes otherwise</td>
                <td>No immunity or inviolability</td>
            </tr>
        </tbody>
    </table>
    <p>Notes for diplomatic immunity table:</p>
    <ol class="alpha">
        <li>This table presents general rules. The employees of certain foreign countries may enjoy higher levels of privileges and immunities on the basis of special bilateral agreements.</li>
        <li>Reasonable constraints, however, may be applied in emergency circumstances involving self-defense, public safety, or in the prevention of serious criminal acts.</li>
        <li>A small number of senior officers are entitled to be treated identically to diplomatic agents.</li>
        <li>Note that consul residences are sometimes located within the official consular premises. In such cases, only the official office space is protected from police entry.</li>
    </ol>
</div>