<div class="chapter" id="424">
    <h2>424 - Rapid Response and Deployment Policy</h2>
    <h3>424.1 PURPOSE AND SCOPE</h3>
    <p>Violence in schools, workplaces and other locations by any individual or group of individuals presents a difficult situation for law enforcement. The purpose of this policy is to identify guidelines and factors that will assist officers implement
        rapid response and deployment to such situations.</p>

    <h3>424.2 POLICY</h3>
    <p>The policy of this department in dealing with a crisis situation shall be:</p>
    <ol class="alpha">
        <li>To obtain and maintain complete operative control of the incident.</li>
        <li>To explore every reasonably available source of intelligence regarding the circumstances, location and suspect(s) in the incident.</li>
        <li>To attempt, by every means available, to attain any tactical advantage over the responsible individual(s).</li>
        <li>To attempt, whenever feasible, a negotiated surrender of the suspect(s) and release of the hostages through the expertise of the members of this department and others.</li>
    </ol>
    <p>Nothing in this policy shall preclude the use of necessary force, deadly or otherwise, by members of this department in protecting themselves or others from death or injury.</p>

    <h3>424.3 PROCEDURE</h3>
    <p>If there is a reasonable belief that acts or threats by a suspect are placing lives in imminent danger, first responding officers should consider reasonable options to immediately eliminate the threat. Officers must decide, often under a multitude
        of difficult and rapidly evolving circumstances, whether to advance on the suspect, take other actions to deal with the threat or wait for additional resources.</p>
    <p>When deciding on a course of action officers should consider the following:</p>
    <ol class="alpha">
        <li>Whether sufficient personnel are available on-scene to advance on the suspect. Any advance on a suspect should be made using teams of two or more officers whenever reasonably possible.</li>
        <li>Whether individuals who are under imminent threat can be moved out of danger with reasonable safety.</li>
        <li>Whether the officers have the ability to effectively communicate with others in the field.</li>
        <li>Whether planned tactics can be effectively deployed.</li>
        <li>The availability of rifles, shotguns, shields, control devices and any other appropriate tools, and whether the deployment of these tools will provide a tactical advantage.</li>
        <li>In a case of a barricaded suspect with no hostages and no immediate threat to others, officers should consider summoning and waiting for additional assistance (special tactics and/or hostage negotiation team response).</li>
        <li>If a suspect is actively engaged in the infliction of serious bodily harm or other life-threatening activity toward others, the officer should take immediate action, if reasonably possible, to stop the threat presented by the suspect while calling
            for additional assistance.</li>
    </ol>
</div>