<div class="chapter" id="428">
    <h2>428 - Immigration Violations</h2>
    <h3>428.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines to members of the Metro Transit Police Department for investigating and enforcing immigration laws.</p>

    <h3>428.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that all members make personal and professional commitments to equal enforcement of the law and equal service to the public. Confidence in this commitment will increase the effectiveness of this
        department in protecting and serving the entire community and recognizing the dignity of all persons, regardless of their immigration status.</p>

    <h3>428.3 VICTIMS AND WITNESSES</h3>
    <p>To encourage crime reporting and cooperation in the investigation of criminal activity, all individuals, regardless of their immigration status, must feel secure that contacting or being addressed by members of law enforcement will not automatically
        lead to immigration inquiry and/ or deportation. While it may be necessary to determine the identity of a victim or witness, members shall treat all individuals equally and without regard to race, color or national origin in any way that would
        violate the United States or Minnesota Constitutions.</p>

    <h3>428.4 ENFORCEMENT</h3>
    <p>An officer may detain an individual when there are facts supporting a reasonable suspicion that the individual entered into the United States in violation of a federal criminal law. Federal authorities shall be notified as soon as possible and the
        detained individual shall be immediately released if the federal authorities do not want the person held. An officer should not detain any individual, for any length of time, for a civil violation of federal immigration laws or a related civil
        warrant.</p>
    <h4>428.4.1 CIVIL VS. CRIMINAL FEDERAL OFFENSES</h4>
    <p>An individual who enters into the United States illegally has committed a misdemeanor (8 USC</p>
    <p>§ 1325(a)). Generally, an alien who initially made a legal entry into the United States but has remained beyond what is a legal period of time has committed a federal civil offense.</p>
    <p>Reasonable suspicion that a criminal immigration violation has occurred shall not be based on race, color, national origin or any other generalization that would cast suspicion on or stigmatize any person, except to the extent permitted by the United
        States or Minnesota Constitutions. Instead, the totality of circumstances shall be used to determine reasonable suspicion, and shall include factors weighing for and against reasonable suspicion.</p>
    <p>Factors that may be considered in determining reasonable suspicion that a criminal immigration violation has occurred may include, but are not limited to:</p>
    <ol class="alpha">
        <li>An admission that the person entered the United States illegally.</li>
        <li>Reason to suspect that the person possesses immigration documentation that is forged, altered or otherwise indicative that the person is not legally present in the United States.</li>
        <li>While a lack of English proficiency may be considered, it should not be the sole factor in establishing reasonable suspicion. When practicable, reasonable effort should be made to accommodate persons with limited English proficiency.</li>
        <li>Other factors based upon training and experience.</li>
    </ol>
    <h4>428.4.2 IMMIGRATION CHECKS</h4>
    <p>Immigration status may be determined through any of the following sources:</p>
    <ol class="alpha">
        <li>A law enforcement officer who is authorized by the federal government under 8 USC § 1357 to verify or ascertain an alien's immigration status (sometimes referred to as a 287(g) certified officer)</li>
        <li>Immigration and Customs Enforcement (ICE)</li>
        <li>U.S. Customs and Border Protection (CBP)</li>
    </ol>
    <p>An officer shall verify from a 287(g) certified officer, ICE or CBP whether a person’s presence in the United States relates to a federal civil violation or a criminal violation.</p>
    <p>If the officer has facts that establish probable cause to believe that a person already lawfully detained has committed a criminal immigration offense, he/she may continue the detention and may request ICE or CBP to respond to the location to take
        custody of the detained person. In addition, the officer should notify a supervisor as soon as practicable. No individual who is otherwise ready to be released should continue to be detained only because questions about the individual’s status
        are unresolved.</p>
    <p>An officer is encouraged to forgo detentions made solely on the basis of a misdemeanor offense when time limitations, availability of personnel, issues of officer safety, communication capabilities or the potential to obstruct a separate investigation
        outweigh the need for the detention.</p>
    <h4>428.4.3 SUPERVISOR RESPONSIBILITIES</h4>
    <p>When notified that an officer has detained a person and established probable cause to believe the person has violated a criminal immigration offense, the supervisor should:</p>
    <ol class="alpha">
        <li>Confirm that the detained person’s immigration status was properly verified.</li>
        <li>Ensure that the detained person is taken into custody when appropriate. Take any additional steps necessary that may include, but are not limited to:</p>
            <ol class="decimal">
                <li>Transfer to federal authorities.</li>
                <li>Lawful arrest for a criminal offense or warrant.</li>
            </ol>
        </li>
    </ol>

    <h3>428.5 ARREST NOTIFICATION TO IMMIGRATION AND CUSTOMS ENFORCEMENT</h3>
    <p>Generally, an officer will not need to notify ICE when booking arrestees at the county jail. Immigration officials routinely interview suspected undocumented aliens who are booked into the county jail on criminal charges. Notification will be handled
        according to jail operation procedures.</p>
    <p>No individual who is otherwise ready to be released should continue to be detained solely for the purpose of notification.</p>

    <h3>428.6 ICE REQUEST FOR ASSISTANCE</h3>
    <p>Requests by ICE, or any other federal agency, for assistance from this department should be directed to a supervisor. The Department may provide available support services, such as traffic control or peacekeeping efforts, to ICE or other federal agencies.</p>

    <h3>428.7 INFORMATION SHARING</h3>
    <p>No member of this department will prohibit, or in any way restrict, any other member from doing any of the following regarding the citizenship or immigration status, lawful or unlawful, of any individual (8 USC § 1373):</p>
    <ol class="alpha">
        <li>Sending information to, or requesting or receiving such information from ICE</li>
        <li>Maintaining such information in department records</li>
        <li>Exchanging such information with any other federal, state or local government entity</li>
    </ol>
    <h4>428.7.1 IMMIGRATION HOLDS</h4>
    <p>No individual should be held based solely on a federal immigration detainer under 8 CFR 287.7 unless the person has been charged with a federal crime or the detainer is accompanied by a warrant, affidavit of probable cause, or removal order. Notification
        to the federal authority issuing the detainer should be made prior to the release.</p>

    <h3>428.8 U VISA AND T VISA NON-IMMIGRANT STATUS</h3>
    <p>Under certain circumstances, federal law allows temporary immigration benefits, known as a U visa, to victims and witnesses of certain qualifying crimes (8 USC § 1101(a)(15)(U)). A law enforcement certification for a U visa may be completed by an
        officer in order for a U visa to be issued.</p>
    <p>Similar immigration protection, known as a T visa, is available for certain qualifying victims of human trafficking (8 USC § 1101(a)(15)(T)). A law enforcement declaration for a T visa may be completed by an officer in order for a T visa to be issued.</p>
    <p>Any request for assistance in applying for U visa or T visa status should be forwarded in a timely manner to the Investigation Division supervisor assigned to oversee the handling of any related case. The Investigation Division supervisor should:</p>
    <ol class="alpha">
        <li>Consult with the assigned investigator to determine the current status of any related case and whether further documentation is warranted.</li>
        <li>Contact the appropriate prosecutor assigned to the case, if applicable, to ensure the certification or declaration has not already been completed and whether a certification or declaration is warranted.</li>
        <li>Address the request and complete the certification or declaration, if appropriate, in a timely manner.
            <ol class="decimal">
                <li>The instructions for completing certification and declaration forms can be found on the U.S. Department of Homeland Security (DHS) website.</li>
            </ol>
        </li>
        <li>Ensure that any decision to complete, or not complete, a certification or declaration form is documented in the case file and forwarded to the appropriate prosecutor. Include a copy of any completed form in the case file.</li>
    </ol>

    <h3>428.9 TRAINING</h3>
    <p>The Training Supervisor shall ensure that all appropriate members receive immigration training.</p>
</div>