<div class="chapter" id="428">
    <h2>428 - Immigration Enforcement</h2>
    <h3>428.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance to members of the ﻿Metro Transit Police Department to ensure equal enforcement of the law and equal service to all persons regardless of their immigration status. The immigration status of an individual
        alone is generally not a matter for transit police action.</p>

    <h3>428.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that all members make personal and professional commitments to equal enforcement of the law and equal service to the public. Confidence in this commitment will increase the effectiveness of this
        department in protecting and serving the entire community and recognizing the dignity of all persons, regardless of their immigration status.</p>
    <p>The Metro Transit Police Department is concerned for the safety of the public and thus detection of criminal activity is of primary interest in dealing with any person. The decision to arrest shall be based upon those factors which establish probable
        cause and not on arbitrary aspects. Race, ethnicity or nationality, religion, sex, sexual orientation, economic status, age, culture, group, disability or affiliation with any other similar identifiable group shall not be used as the basis for
        providing differing levels of law enforcement service or the enforcement of the law (Minn. Stat. §626.8471, Subd.3).</p>
    <p>Metro Transit police officers and staff shall not undertake any law enforcement action for the sole purpose of detecting the presence of an undocumented person or persons or to verify immigration status, including but not limited to questioning any
        person or persons about their immigration status. Metro Transit police officers and staff shall not question or detain any person for violations of federal civil immigration laws except when immigration status is an element of the crime or when
        enforcing 8 USC § 1324c.</p>

    <h3>428.3 VICTIMS AND WITNESSES</h3>
    <p>To encourage crime reporting and cooperation in the investigation of criminal activity, all individuals, regardless of their immigration status, must feel secure that contacting or being addressed by members of law enforcement will not lead to immigration
        inquiry. While it may be necessary to determine the identity of a victim or witness, Department members shall treat all individuals equally and without regard to race, color or national origin in any way that would violate the United States or
        Minnesota Constitutions.</p>

    <h3>428.4 ENFORCEMENT</h3>
    <p>The Metro Transit Police Department does not independently conduct sweeps or other concentrated efforts to detain suspected undocumented persons. The Metro Transit Police Department does not participate in ICE or other immigration related sweeps or
        concentrated efforts to detain suspected undocumented persons.</p>
    <p>Unless immigration status is relevant to another criminal offense or investigation (e.g., human trafficking, smuggling, terrorism), the fact that an individual is suspected of being an undocumented person shall not be the sole basis for contact, detention
        or arrest.﻿﻿</p>
    <h4>428.4.1  IMMIGRATION CHECKS</h4>
    <p>Immigration status may be determined through any of the following sources:</p>
    <ol class="alpha">
        <li>A law enforcement officer who is authorized by the federal government under 8 USC § 1357 to verify or ascertain an alien's immigration status (sometimes referred to as a 287(g) certified officer)</li>
        <li>Immigration and Customs Enforcement (ICE)</li>
        <li>U.S. Customs and Border Protection (CBP)</li>
    </ol>

    <h3>428.5 ARREST NOTIFICATION TO IMMIGRATION AND CUSTOMS ENFORCEMENT</h3>
    <p>An officer will not notify ICE when booking arrestees at the county jail.﻿</p>

    <h3>428.6 ICE REQUEST FOR ASSISTANCE</h3>
    <p>Requests by ICE, or any other federal agency, for assistance from this ﻿department should be directed to the Chief of Police. The ﻿Department may provide available support services, such as traffic control or peacekeeping efforts, to ICE or other
        federal agencies if approved by the Chief of Police. The Chief of Police need not be consulted in the event of exigent circumstances such as an imminent loss of life and/or officer safety concerns.</p>

    <h3>428.7 INFORMATION SHARING</h3>
    <p>Nothing in this policy is intended to restrict officers from exchanging legitimate law enforcement information with any other federal, state or local government entity (8 USC § 1373).</p>

    <h3>428.8 U VISA AND T VISA NON-IMMIGRANT STATUS</h3>
    <p>Under certain circumstances, federal law allows temporary immigration benefits, known as a U visa, to victims and witnesses of certain qualifying crimes (8 USC § 1101(a)(15)(U)). A law enforcement certification for a U visa may be completed by an
        officer in order for a U visa to be issued.</p>
    <p>Similar immigration protection, known as a T visa, is available for certain qualifying victims of human trafficking (8 USC § 1101(a)(15)(T)). A law enforcement declaration for a T visa may be completed by an officer in order for a T visa to be issued.</p>
    <p>Any request for assistance in applying for U visa or T visa status should be forwarded in a timely manner to the Investigation Division supervisor assigned to oversee the handling of any related case. The Investigation Division supervisor should:</p>
    <ol class="alpha">
        <li>Consult with the assigned investigator to determine the current status of any related case and whether further documentation is warranted.</li>
        <li>Contact the appropriate prosecutor assigned to the case, if applicable, to ensure the certification or declaration has not already been completed and whether a certification or declaration is warranted.</li>
        <li>Address the request and complete the certification or declaration, if appropriate, in a timely manner.
            <ol class="decimal">
                <li>The instructions for completing certification and declaration forms can be found on the U.S. Department of Homeland Security (DHS) website.</li>
            </ol>
        </li>
        <li>Ensure that any decision to complete, or not complete, a certification or declaration form is documented in the case file and forwarded to the appropriate prosecutor. Include a copy of any completed form in the case file.</li>
    </ol>

    <h3>428.9 TRAINING</h3>
    <p>The Training Supervisor shall ensure that all appropriate members receive immigration training.</p>
</div>