<div class="chapter" id="430">
    <h2>430 - Emergency Utility Service</h2>
    <h3>430.1 PURPOSE AND SCOPE</h3>
    <p>The local jurisdiction's Public Works Department and Metro Transit have personnel available to handle emergency calls 24 hours per day. Calls for service during non-business hours are frequently directed to the Police Department. Requests for such
        service received by this department should be handled in the following manner.</p>
    <p>Regardless of what the break or malfunction is (e.g. water line, electrical line, traffic signal etc), if it belongs to a local jurisdiction, that jurisdiction shall be notified. If the break or malfunction belongs to the Metropolitan Council / Metro
        Transit, the proper owner shall be notified. Upon the officer notifying the TCC of the break and/or malfunction, TCC will make the necessary notifications on behalf of the officer.</p>
    <h4>430.1.1 EMERGENCY NUMBERS</h4>
    <p>A current list of emergency personnel who are to be called for Metropolitan Council / Metro Transit emergencies will be maintained by the Transit Control Center.</p>
</div>