<div class="chapter" id="432">
    <h2>432 - Patrol Rifles</h2>
    <h3>432.1 PURPOSE AND SCOPE</h3>
    <p>To more effectively and accurately address the increasing level of firepower and body armor utilized by criminal suspects, the Metro Transit Police Department will make patrol rifles available to qualified officers as an additional and more immediate
        tactical resource.</p>

    <h3>432.2 PATROL RIFLE</h3>
    <h4>432.2.1 DEFINITION</h4>
    <p><strong>Patrol Rifle</strong> - An authorized weapon which is owned by the Department and which is made available to properly trained and qualified officers as a supplemental resource to their duty handgun. No personally owned rifles may be carried
        for patrol duty unless pre-approved in writing by the Chief of Police and the Department armorer.</p>

    <h3>432.3 SPECIFICATIONS</h3>
    <p>Only weapons and ammunition that meet agency authorized specifications, approved by the Chief of Police and issued by the Department, may be used by officers in their law enforcement responsibilities. The authorized patrol rifle issued by the Department
        is the Smith and Wesson M&amp;P 15 and/or Bushmaster M4.</p>

    <h3>432.4 RIFLE MAINTENANCE</h3>
    <ol class="alpha">
        <li>Primary responsibility for maintenance of patrol rifles shall fall on the Armorer or armorer, who shall inspect and service each patrol rifle on an annual basis.</li>
        <li>Each patrol officer carrying a patrol rifle may be required to field strip and clean an assigned patrol rifle as needed.</li>
        <li>Each patrol officer shall be responsible for promptly reporting any damage or malfunction of an assigned patrol rifle to a supervisor, the Armorer or armorer.</li>
        <li>Any patrol rifle found to be unserviceable shall also be clearly identified as non-serviceable, including details regarding the unserviceable condition.</li>
        <li>Each patrol rifle shall be subject to inspection by a supervisor, the Armorer or armorer at any time.</li>
        <li>No modification shall be made to any patrol rifle without prior written authorization from the Armorer or armorer.</li>
    </ol>

    <h3>432.5 TRAINING</h3>
    <p>Officers shall not carry or utilize the patrol rifle unless they have successfully completed Department training. This training shall consist of a patrol rifle user's course and qualification score with a certified patrol rifle instructor. Officers
        shall thereafter be required to successfully complete a yearly firearms proficiency qualification conducted by a certified patrol rifle instructor.</p>
    <p>Any officer who fails to qualify or who fails to successfully complete a Department-sanctioned training/qualification session within a calendar year will no longer be authorized to carry the patrol rifle without successfully passing remedial training
        and qualification.</p>

    <h3>432.6 DEPLOYMENT OF THE PATROL RIFLE</h3>
    <p>Officers may deploy the patrol rifle in any circumstance where the officer can articulate a reasonable expectation that the rifle may be needed. Examples of some general guidelines for deploying the patrol rifle may include, but are not limited to:</p>
    <ol class="alpha">
        <li>Situations where the officer reasonably anticipates an armed encounter.</li>
        <li>When an officer is faced with a situation that may require the delivery of accurate and effective fire at long range.</li>
        <li>Situations where an officer reasonably expects the need to meet or exceed a suspect's firepower.</li>
        <li>When an officer reasonably believes that there may be a need to deliver fire on a barricaded suspect or a suspect with a hostage.</li>
        <li>When an officer reasonably believes that a suspect may be wearing body armor.</li>
        <li>When authorized or requested by a supervisor.</li>
        <li>When appropriate to aid in the dispatch of an animal.</li>
    </ol>

    <h3>432.7 DISCHARGE OF THE PATROL RIFLE</h3>
    <p>The discharge of the patrol rifle shall be governed by the Use of Force Policy and the Shooting Policy.</p>

    <h3>432.8 PATROL READY</h3>
    <p>Any qualified officer carrying a patrol rifle in the field shall maintain the weapon in a patrol ready condition until deployed. A rifle is considered in a patrol ready condition when it has been inspected by the assigned officer at the start of their
        shift and the following conditions are met:</p>
    <ol class="alpha">
        <li>The fire selector switch is in the safe position.</li>
        <li>The chamber is empty.</li>
        <li>The bolt is forward.</li>
        <li>A 20 or 30 round magazine (loaded with 18 or 28 rounds) is inserted into the magazine well.</li>
        <li>The dust cover is closed.</li>
    </ol>

    <h3>432.9 RIFLE STORAGE</h3>
    <p>When not in use or assigned to a squad, patrol rifles will be stored in the Department armory.</p>
    <p>The last three digits of the assigned patrol rifle serial number will be recorded on the Daliy Activity Log.</p>
    <p>In-service patrol rifles should be secured in the vehicle gun lock or cased in the trunk if a gun lock is not available.</p>
</div>