<div class="chapter" id="435">
    <h2>435 - Field Training Officer Program</h2>
    <h3>435.1 PURPOSE AND SCOPE</h3>
    <p>The Field Training Officer Program is intended to provide a standardized program to facilitate the officer's transition from the academic setting to the actual performance of general law enforcement duties of the Metro Transit Police Department.</p>
    <p>It is the policy of this department to assign all new police officers to a structured Field Training Officer Program that is designed to prepare the new officer to perform in a patrol assignment and to acquire all of the skills needed to operate in
        a safe, productive and professional manner.</p>

    <h3>435.2 FIELD TRAINING OFFICER - SELECTION AND TRAINING</h3>
    <p>The Field Training Officer (FTO) is an experienced officer trained in the art of supervising, training and evaluating entry-level and lateral police officers in the application of their previously acquired knowledge and skills.</p>
    <h4>435.2.1 SELECTION PROCESS</h4>
    <p>FTOs will be selected based on the following requirements:</p>
    <ol class="decimal">
        <li>Desire to be an FTO (e.g. submitting a letter of interest).</li>
        <li>Minimum of two years of patrol experience with this department.</li>
        <li>Demonstrated ability as a positive role model.</li>
        <li>Evaluation by supervisors and current FTO's.</li>
        <li>Other criteria may be established at the time of the FTO posting.</li>
    </ol>
    <h4>435.2.2 CONTINUED TRAINING</h4>
    <p>All FTOs must complete a POST-approved FTO course every five years while assigned to the position of FTO.</p>

    <h3>435.3 FIELD TRAINING OFFICER PROGRAM SUPERVISOR</h3>
    <p>The Field Training Officer Program Supervisor will be selected by the Chief of Police or designee. The responsibilities of the FTO Program Supervisor include the following:</p>
    <ol class="alpha">
        <li>Assignment of trainees to FTO's.</li>
        <li>Conduct FTO meetings to ensure understanding and compliance with the Field Training Program requirements.</li>
        <li>Maintain and ensure FTO/trainee performance evaluations are completed through the established review and approval process.</li>
        <li>Maintain, update and issue the Field Training Manual to each trainee.</li>
        <li>Monitor individual FTO performance.</li>
        <li>Monitor overall FTO Program.</li>
        <li>Maintain liaison with FTO coordinators of other agencies.</li>
        <li>Develop ongoing training for FTO's.</li>
        <li>Conduct an annual program review with the FTO's and provide recommendations for change, if any, to the Chief of Police or designee.</li>
    </ol>

    <h3>435.4 TRAINEE DEFINED</h3>
    <p><strong>Trainee</strong> - Any entry level or lateral police officer newly appointed to the Metro Transit Police Department who possesses a Minnesota POST license or is eligible to be licensed.</p>

    <h3>435.5REQUIRED TRAINING</h3>
    <p>Entry level officers shall be required to successfully complete the Field Training Program (typically 16 weeks in duration).</p>
    <p>The training period for lateral officers may be modified depending on the trainee's demonstrated performance and level of experience.</p>
    <p>The required training will take place on at least two different shifts and with at least two different FTO's if reasonably possible.</p>
    <h4>435.5.1 FIELD TRAINING MANUAL</h4>
    <p>Each new officer will be issued a Field Training Manual at the beginning of his/her Primary Training Phase. This manual is an outline of the subject matter and skills necessary to properly function as an officer with the Metro Transit Police Department.
        The officer shall become knowledgeable of the subject matter as outlined. He/she shall also become proficient with those skills as set forth in the manual.</p>
    <p>The Field Training Manual will specifically cover those policies, procedures, rules and regulations enacted by the Metro Transit Police Department.</p>

    <h3>435.6 EVALUATIONS</h3>
    <p>Evaluations are an important component of the training process and shall be completed as outlined below.</p>
    <h4>435.6.1 FIELD TRAINING OFFICER</h4>
    <p>The FTO will be responsible for the following:</p>
    <ol class="alpha">
        <li>Completing and submitting a written evaluation on the performance of the assigned trainee to the FTO Program Supervisor on a daily basis.</li>
        <li>Reviewing the Daily Observation Report (DOR) with the trainee each day.</li>
        <li>Completing a detailed end-of-phase performance evaluation on the assigned trainee at the end of each phase of training.</li>
        <li>Signing off all completed topics contained in the Field Training Manual, noting the method of learning and evaluating the performance of the assigned trainee.</li>
    </ol>
    <h4>435.6.2 IMMEDIATE SUPERVISOR</h4>
    <p>The immediate shift supervisor shall be kept apprised on the progress/status of the trainee assigned to their shift and shall forward any concerns to the FTO Program Supervisor.</p>
    <h4>435.6.3 TRAINEE</h4>
    <p>At the completion of the Field Training Program, the trainee shall submit a performance evaluation of each of his/her FTOs and of the Field Training Program.</p>

    <h3>435.7 DOCUMENTATION</h3>
    <p>All documentation of the Field Training Program will be retained in the officer's training files and will consist of the following:</p>
    <ol class="alpha">
        <li>Daily Observation Reports (DOR's).</li>
        <li>End of phase / bi-weekly evaluations.</li>
        <li>Performance Improvement Plans (PIP's).</li>
        <li>A Certificate of Completion, certifying that the trainee has successfully completed the required number of hours of field training.</li>
    </ol>
</div>