<div class="chapter" id="437">
	<h2>437 - Obtaining Air Support</h2>
	<h3>437.1 PURPOSE AND SCOPE</h3>
	<p>The use of air support can be invaluable in certain situations. This policy specifies potential situations where the use of air support may be requested and the responsibilities for making a request.</p>

	<h3>437.2 REQUEST FOR AIR SUPPORT ASSISTANCE</h3>
	<p>If a supervisor or officer in charge of an incident determines that the use of air support would be beneficial, a request to obtain air support assistance may be made.</p>
	<h4>437.2.1 REQUEST FOR ASSISTANCE FROM ANOTHER AGENCY</h4>
	<p>After consideration and approval of the request for air support, the Shift Supervisor or designee will call the closest agency having air support available. The Shift Supervisor will apprise that agency of the specific details of the incident prompting
		the request.</p>
	<h3>437.2.2 CIRCUMSTANCES UNDER WHICH AID MAY BE REQUESTED</h4>
    <p>Law enforcement air support may be requested under any of the following conditions:</p>
    <ol class="alpha">
        <li>When the aircraft is activated under existing mutual aid agreements.</li>
        <li>Whenever the safety of law enforcement personnel is in jeopardy and the presence of the aircraft may reduce such hazard.</li>
        <li>When the use of aircraft will aid in the capture of a suspected fleeing felon whose continued freedom represents an ongoing threat to the community.</li>
        <li>When an aircraft is needed to locate a person who has strayed or is lost and whose continued absence constitutes a serious health or safety hazard.</li>
        <li>Vehicle pursuits (Minn. Stat. § 626.8458).</li>
        <li>When the Shift Supervisor or equivalent authority determines a reasonable need exists.</li>
    </ol>
    <p>While it is recognized that the availability of air support will generally provide valuable assistance to ground personnel, the presence of air support will rarely replace the need for officers on the ground.</p>
</div>