<div class="chapter" id="439">
    <h2>439 - Detentions and Photographing Detainees</h2>
    <h3>439.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish guidelines for conducting field interviews (FI) and pat- down searches, and the taking and retention of photographs of persons detained in the field but not arrested. Due to a variety of situations confronting
        the officer, the decision to FI or photograph a field detainee shall be left to the discretion of the involved officer based on the totality of the circumstances available to him/her at the time of the detention.</p>

    <h3>439.2 DEFINITIONS</h3>
    <p><strong>Detention</strong> - Occurs when an officer intentionally, through words, actions or physical force causes an individual to reasonably believe he/she is being required to restrict his/her movement. Detentions also occur when an officer actually
        restrains a person’s freedom of movement.</p>
    <p><strong>Consensual Encounter</strong> - Occurs when an officer contacts an individual but does not create a detention through words, actions or other means. In other words, a reasonable individual would believe that his/her contact with the officer
        is voluntary.</p>
    <p><strong>Field Interview (FI)</strong> - The brief detainment of an individual, whether on foot or in a vehicle, based on reasonable suspicion for the purpose of determining the individual's identity and resolving the officer's suspicions.></p>
    <p><strong>Field Photographs</strong> - Posed photographs taken of a person during a contact, detention or arrest in the field. Undercover surveillance photographs of an individual and recordings captured by the normal operation of a Mobile Video Recorder
        (MVR) system when persons are not posed for the purpose of photographing are not considered field photographs.</p>
    <p><strong>Pat-Down Search</strong> - This type of search is used by officers in the field to check an individual for weapons. It involves a thorough patting down of clothing to locate any weapons or dangerous items that could pose a danger to the officer,
        the detainee or others.</p>
    <p><strong>Reasonable Suspicion</strong> - Occurs when, under the totality of the circumstances, an officer has articulable facts that criminal activity may be afoot and a particular person is connected with that possible criminal activity.</p>

    <h3>439.3 FIELD INTERVIEWS</h3>
    <p>Officers may stop individuals for the purpose of conducting an FI where reasonable suspicion is present. In justifying the stop, the officer should be able to point to specific facts which, when taken together with rational inferences, reasonably
        warrant the stop. Such facts include, but are not limited to, the following:</p>
    <ol class="alpha">
        <li>The appearance or demeanor of an individual suggests that he/she is part of a criminal enterprise or is engaged in a criminal act.</li>
        <li>The actions of the suspect suggest that he/she is engaged in a criminal activity.</li>
        <li>The hour of day or night is inappropriate for the suspect's presence in the area.</li>
        <li>The suspect's presence in the particular area is suspicious.</li>
        <li>The suspect is carrying a suspicious object.</li>
        <li>The suspect's clothing bulges in a manner that suggests he/she is carrying a weapon.</li>
        <li>The suspect is located in proximate time and place to an alleged crime.</li>
        <li>The officer has knowledge of the suspect's prior criminal record or involvement in criminal activity.</li>
    </ol>
    <h4>439.3.1 INITIATING A FIELD INTERVIEW</h4>
    <p>Based on observance of suspicious circumstances or upon information from investigation, an officer may initiate the stop of a person when there is articulable, reasonable suspicion to do so. A person, however, should not be detained longer than is
        reasonably necessary to resolve the officer’s suspicions.</p>
    <p>Nothing in this policy is intended to discourage consensual contacts. Frequent and random casual contacts with consenting individuals is encouraged by the Metro Transit Police Department to strengthen our community involvement, community awareness
        and problem identification.</p>
    <h4>439.3.2 DURATION OF DETENTION</h4>
    <p>A subject may be detained to conduct an FI only for the period reasonably necessary to determine the individual’s identity and resolve the officer’s suspicions. The interview should not extend beyond the immediate vicinity of the place where the detention
        was first effected unless the detainee is arrested.</p>
    <h4>439.3.3 WITNESS IDENTIFICATION AND INTERVIEWS</h4>
    <p>Because potential witnesses to an incident may be lost or the integrity of their statements compromised with the passage of time, officers should, when warranted by the seriousness of the case, take reasonable steps to promptly coordinate with an
        on-scene supervisor and/or criminal investigator to utilize available personnel for the following:</p>
    <ol class="alpha">
        <li>Identifying all persons present at the scene and in the immediate area.
            <ol class="decimal">
                <li>When reasonably feasible, a recorded statement should be obtained from those persons who claim not to have witnessed the incident but who were present at the time it occurred.</li>
                <li>Any potential witness who is unwilling or unable to remain available for a formal interview should not be detained absent reasonable suspicion to detain or probable cause to arrest. Without detaining the individual for the sole purpose
                    of identification, officers should attempt to identify the witness prior to his/her departure.</li>
            </ol>
        </li>
        <li>Witnesses who are willing to provide a formal interview should be asked to meet at a suitable location where criminal investigators may obtain a recorded statement. Such witnesses, if willing, may be transported by department personnel.
            <ol>
                <li>A written, verbal or recorded statement of consent should be obtained prior to transporting a witness in a department vehicle. When the witness is a minor, consent should be obtained from the parent or guardian, if reasonably available,
                    prior to transport.</li>
            </ol>
        </li>
    </ol>

    <h3>439.4 PAT-DOWN SEARCHES</h3>
    <p>A pat-down search of a detained subject may be conducted whenever an officer reasonably believes that the person may possess an object that can be utilized as an offensive weapon or whenever the officer has a reasonable fear for his/her own safety
        or the safety of others. Circumstances that may establish justification for performing a pat-down search include, but are not limited to, the following:</p>
    <ol class="alphs">
        <li>The type of crime suspected, particularly in crimes of violence where the use or threat of weapons is involved.</li>
        <li>Where more than one suspect must be handled by a single officer.</li>
        <li>The hour of the day and the location or area where the stop takes place.</li>
        <li>Prior knowledge of the suspect's use of force and/or propensity to carry weapons.</li>
        <li>The appearance and demeanor of the suspect.</li>
        <li>Visual indications that suggest the suspect is carrying a firearm or other weapon.</li>
        <li>The age and gender of the suspect.</li>
    </ol>
    <p>When reasonably possible, pat-down searches should be performed by officers of the same gender as the suspect.</p>

    <h3>439.5 FIELD PHOTOGRAPHS</h3>
    <p>Before photographing any field detainee, the officer shall carefully consider, among other things, the factors listed below.</p>
    <h4>439.5.1 FIELD PHOTOGRAPHS TAKEN WITH CONSENT</h4>
    <p>Field photographs may be taken when the subject of the photograph knowingly and voluntarily gives consent. When taking a consensual photograph, the officer should note in a report that the subject consented to the photograph being taken.</p>
    <h4>439.5.2 FIELD PHOTOGRAPHS TAKEN WITHOUT CONSENT</h4>
    <p>Field photographs may be taken without consent only if they are taken during a detention that is based upon reasonable suspicion of criminal activity, and the photograph serves a legitimate law enforcement purpose related to the detention. The officer
        must be able to articulate facts that reasonably indicate that the subject was involved in or was about to become involved in criminal conduct.</p>
    <p>If, prior to taking a photograph, the officer’s reasonable suspicion of criminal activity has been dispelled, the detention must cease and the photograph should not be taken.</p>
    <p>All field photographs and related reports shall be submitted to a supervisor and retained in compliance with this policy.</p>

    <h3>439.6 SUPERVISOR RESPONSIBILITIES</h3>
    <p>While it is recognized that field photographs often become valuable investigative tools, supervisors should monitor such practices in view of the above listed considerations. This is not to imply that supervisor approval is required before taking
        each photograph. Field photographs shall be classified as law enforcement data under Minn. Stat. § 13.82, and shall be collected, maintained and disseminated consistent with the Minnesota Government Data Practices Act.</p>

    <h3>439.7 DISPOSITION OF PHOTOGRAPHS</h3>
    <p>All detainee photographs must be adequately labeled and submitted to the Shift Supervisor with either an associated FI card or other memorandum explaining the nature of the contact. If an individual is photographed as a suspect in a particular crime,
        the photograph should be submitted as an evidence item in the related case, following standard evidence procedures.</p>
    <p>If a photograph is not associated with an investigation where a case number has been issued, the Shift Supervisor should review and forward the photograph to one of the following locations:</p>
    <ol class="alpha">
        <li>If the photo and associated FI or memorandum is relevant to criminal gang enforcement, the Shift Supervisor will forward the photo and documents to the Investigations Supervisor. The Investigations Supervisor will ensure the photograph and supporting
            documents are retained as prescribed in the Criminal Organizations Policy.</li>
        <li>Photographs that do not qualify for retention in the criminal gang file or that are not evidence in an investigation with an assigned case number should be forwarded to the Records Section. These photographs will be purged as described in this
            policy.</li>
    </ol>
    <p>When a photograph is taken in association with a particular case, the investigator may use such photograph in a photo lineup. Thereafter, the individual photograph should be retained as a part of the case file. All other photographs will be kept in
        the Records Section in a separate non-booking photograph file in alphabetical order.</p>
    <h4>439.7.1 PURGING THE FIELD PHOTO FILE</h4>
    <p>Photographs that are more than one year old and no longer serve a law enforcement purpose are periodically purged and destroyed unless a longer period of retention is required by the Department records retention schedule. No record may be destroyed
        unless done in compliance with such a schedule unless ordered by a court or pursuant to other applicable statute. Photographs that continue to serve a law enforcement purpose may be retained longer than one year provided that a notation of that
        fact is added to the file for each additional year that they are retained. Access to FI photos shall be governed by the Minnesota Government Data Practices Act.</p>

    <h3>439.8 PHOTO REVIEW POLICY</h3>
    <p>Any person who has been the subject of a field photograph or an FI by this department during any contact other than an arrest and requests to view non-confidential data shall be shown the data immediately if possible, or within 10 days of the date
        of the oral or written request, excluding Saturdays, Sundays and legal holidays. No charge may be assessed for display of the data, and if desired the person shall be informed of the content and meaning of that data (Minn. Stat. § 13.04 Subd.
        3). The request to view the photograph/FI data shall be directed to the office of the Chief of Police, who will ensure that the status of the photograph or FI is properly reviewed according to this policy as described below.</p>
    <h4>439.8.1 REVIEW PROCESS</h4>
    <p>Upon receipt of such a written request, the Chief of Police or designee will permit the individual to appear in person. Any minor should be accompanied by a parent or legal guardian for a review of the status of the photograph/Fl unless the minor
        has made a request that the photograph/FI not be reviewed by the parent or guardian pursuant to Minn. R. 1205.0500.</p>
    <p>Such a meeting will be scheduled during regular business hours no longer than 10 days of the receipt of the request.</p>
    <p>A meeting for the review of the status of any non-arrest photograph/FI is simply an informal opportunity for the individual to meet to review the data.</p>
</div>