<div class="chapter" id="440">
    <h2>440 - Photography of Metropolitan Council / Metro Transit Property</h2>
    <h3>440.1 PURPOSE AND SCOPE</h3>
    <p>The Metropolitan Council / Metro Transit (herein referred to as "Council") has security and public relations interests in persons wishing to take photographic or video images on, in or of Council property, vehicles and/or employees. Although in most
        cases there is no particular harm involved in taking photographic or video images on, in or of Council property, vehicles or employees, intelligence indicates that persons who wish to target particular locations for terrorist purposes are likely
        to use photography as part of their pre-attack surveillance and planning. As such, the Council has not only an obligation to protect its customers, employees, property and to deter and prevent terrorism, but also an inherent responsibility to
        regulate photography on, in or of Council property, vehicles and employees.</p>

    <h3>440.2 POLICY</h3>
    <p>In order to provide the highest level of security to its customers and employees, the Council requires that any person on or in Council property or vehicles taking non-commercial/personal use photographic or video images, including but not limited
        to, film, digital or video recording (hereinafter referred to as "pictures") of Council property, vehicles and/or employees, must provide proper identification upon request of a Metro Transit Police officer.</p>
    <p>Any person observed taking pictures on, in or of Council property, vehicles and/or employees who refuses to provide proper identification to a Metro Transit Police officer or other Council official upon request; or any person observed taking pictures
        on, in or of a restricted area (i.e. an area not open to the public) will be directed to stop taking pictures and will be subject to additional law enforcement action as appropriate.</p>
    <p>Any person wishing to take pictures for any type of commercial purpose or use (e.g. movies, commercials, trade publications etc.) must first obtain permission from the Council Marketing Department.</p>

    <h3>440.3 TYPES OF PHOTOGRAPHY</h3>
    <p>Photography of Council property will typically fall into one of the following three categories:</p>
    <ol class="alpha">
        <li>Non-Commercial / Personal Use Photography
            <ol class="decimal">
                <li>No permission is required for non-commercial / personal use pictures taken in public areas. However, any person taking pictures on, in or of Council property, vehicles and/or employees must provide proper identification (preferably in
                    the form of state issued identification) upon request of a Metro Transit Police officer or other Council official. The Metro Transit Police officer or Council official may allow the person to take pictures at the specific location
                    under the following conditions:
                    <ol class="alpha">
                        <li>The person provides proper identification.</li>
                        <li>The circumstances indicate that the subject(s) of the picture(s) does/do not pose a security or safety threat or in any way cause disruption of service or operations of the Council; and</li>
                        <li>The picture(s) is/are for personal or educational use only (e.g. tourist, railroad buff, student, artist etc).</li>
                    </ol>
                </li>
                <li>Non-commercial / personal use photographers are prohibited from using tripods, monopods, wiring or any like equipment that may have an impact on the safety of customers and/or employees and are prohibited from interfering with the free
                    flow of passengers or disrupting service in any manner.</li>
            </ol>
        </li>
        <li>Commercial Photography
            <ol class="decimal">
                <li>Any person wishing to take pictures for any type of commercial purpose or use must first obtain permission from the Metropolitan Council / Metro Transit Marketing Department located at: 560 6th Ave N in the City of Minneapolis, Minnesota
                    55411 or by calling (612) 349-7525. If permission is granted, it will be valid for a specific location, date and time.</li>
            </ol>
        </li>
        <li>News Media Photography
            <ol class="decimal">
                <li>News media photographers shall display their Press credentials and will be allowed to take pictures in the public areas on, in or of Council property, vehicles and/or employees so long as they do not interfere with the free flow of passengers
                    or disrupt service in any manner.</li>
                <li>News media photographers are requested to make prior notification to the Metropolitan Council / Metro Transit - Public Information Officer at (612) 373-3333 and to the Metro Transit Police Department at (612) 349-7200.</li>
                <li>News media photographers are not allowed inside any crime or incident scene without the permission of, and an escort provided by, the on-scene Metro Transit Police Incident Commander or their designee.</li>
            </ol>
        </li>
    </ol>

    <h3>440.4 DOCUMENTING PHOTOGRAPHY INCIDENTS</h3>
    <p>All Metro Transit Police officers operating within the scope of this policy will document all incidents on the appropriate Metro Transit Police report form(s) and/or records management system. Officers may refer to the Report Preparation Policy if
        further information is needed.</p>
</div>