<div class="chapter" id="441">
    <h2>441 - Criminal Gangs</h2>
    <h3>441.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to ensure that the Metro Transit Police Department appropriately utilizes criminal intelligence systems and temporary information files to support investigations of criminal organizations and enterprises.</p>
    <h4>441.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Criminal intelligence system</strong> - Any record system that receives, stores, exchanges or disseminates information that has been evaluated and determined to be relevant to the identification of a criminal organization or enterprise, its
        members or affiliates. This does not include temporary information files.</p>

    <h3>441.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes that certain criminal activities, including but not limited to gang crimes and drug trafficking, often involve some degree of regular coordination and may involve a large number of participants over a
        broad geographical area.</p>
    <p>It is the policy of this department to collect and share relevant information while respecting the privacy and legal rights of the public.</p>

    <h3>441.3 CRIMINAL INTELLIGENCE SYSTEMS</h3>
    <p>No department member may create, submit to or obtain information from a criminal intelligence system unless the Chief of Police has approved the system for department use.</p>
    <p>Any criminal intelligence system approved for department use should meet or exceed the standards of 28 CFR 23.20.</p>
    <p>A designated supervisor will be responsible for maintaining each criminal intelligence system that has been approved for department use. The supervisor or the authorized designee should ensure the following:</p>
    <ol class="alpha">
        <li>Members using any such system are appropriately selected and trained.</li>
        <li>Use of every criminal intelligence system is appropriately reviewed and audited.</li>
        <li>Any system security issues are reasonably addressed.</li>
    </ol>
    <h4>441.3.1 SYSTEM ENTRIES</h4>
    <p>It is the designated supervisor’s responsibility to approve the entry of any information from a report, FI, photo or other relevant document into an authorized criminal intelligence system. If entries are made based upon information that is not on
        file with this department, such as open or public source documents or documents that are on file at another agency, the designated supervisor should ensure copies of those documents are retained by the Records Section. Any supporting documentation
        for an entry shall be retained by the Records Section in accordance with the established records retention schedule and for at least as long as the entry is maintained in the system.</p>
    <p>The designated supervisor should ensure that any documents retained by the Records Section are appropriately marked as intelligence information. The Records Supervisor may not purge such documents without the approval of the designated supervisor.</p>
    <h4>441.3.2 ENTRIES INTO CRIMINAL GANG INVESTIGATIVE DATA SYSTEM</h4>
    <p>It is the designated supervisor’s responsibility to approve the entry of any information into the criminal gang investigative data system maintained by the Minnesota Bureau of Criminal Apprehension and authorized by Minn. Stat. § 299C.091. Entries
        may be made if the individual is 14 years of age or older and the Department documents the following:</p>
    <ol class="alpha">
        <li>The Department has reasonable suspicion to believe that the individual has met at least three of the criteria or identifying characteristics of gang membership, developed by the Violent Crime Coordinating Council.</li>
        <li>The individual has been convicted of a gross misdemeanor or felony, or has been adjudicated or has a stayed adjudication as a juvenile for an offense that would be a gross misdemeanor or felony if committed by an adult.</li>
    </ol>

    <h3>441.4 TEMPORARY INFORMATION FILE</h3>
    <p>No member may create or keep files on individuals that are separate from the approved criminal intelligence system. However, members may maintain temporary information that is necessary to actively investigate whether a person or group qualifies for
        entry into the department-approved CIS only as provided in this section. Once information qualifies for inclusion, it should be submitted to the supervisor responsible for consideration of CIS entries.</p>
    <h4>441.4.1 FILE CONTENTS</h4>
    <p>A temporary information file may only contain information and documents that, within one year, will have a reasonable likelihood to meet the criteria for entry into an authorized criminal intelligence system.</p>
    <p>Information and documents contained in a temporary information file:</p>
    <ol class="alpha">
        <li>Must only be included upon documented authorization of the responsible department supervisor.</li>
        <li>Should not be originals that would ordinarily be retained by the Records Section or Property and Evidence, but should be copies of, or references to, retained documents such as copies of reports, field interview (FI) forms, Transit Control Center
            records or booking forms.</li>
        <li>Shall not include opinions. No person, organization or enterprise shall be labeled as being involved in crime beyond what is already in the document or information.</li>
        <li>May include information collected from publicly available sources or references to documents on file with another government agency. Attribution identifying the source should be retained with the information.</li>
    </ol>
    <h4>441.4.2 FILE REVIEW AND PURGING</h4>
    <p>The contents of a temporary information file shall not be retained longer than one year. At the end of one year, the contents must be purged or entered in an authorized criminal intelligence system, as applicable.</p>
    <p>The designated supervisor shall periodically review the temporary information files to verify that the contents meet the criteria for retention. Validation and purging of files is the responsibility of the supervisor.</p>

    <h3>441.5 INFORMATION RECOGNITION</h3>
    <p>Department members should document facts that suggest an individual, organization or enterprise is involved in criminal activity and should forward that information appropriately. Examples include, but are not limited to:</p>
    <ol class="alpha">
        <li>Gang indicia associated with a person or residence.</li>
        <li>Information related to a drug-trafficking operation.</li>
        <li>Vandalism indicating an animus for a particular group.</li>
        <li>Information related to an illegal gambling operation.</li>
    </ol>
    <p>Department supervisors who utilize an authorized criminal intelligence system should work with the Training Supervisor to train members to identify information that may be particularly relevant for inclusion.</p>

    <h3>441.6 RELEASE OF INFORMATION</h3>
    <p>Department members shall comply with the rules of an authorized criminal intelligence system regarding inquiries and release of information.</p>
    <p>Information from a temporary information file may only be furnished to department members and other law enforcement agencies on a need-to-know basis and consistent with the Records Maintenance and Release Policy.</p>
    <p>When an inquiry is made by the parent or guardian of a juvenile as to whether that juvenile’s name is in a temporary information file, such information should be provided by the supervisor responsible for the temporary information file, unless there
        is good cause to believe that the release of such information might jeopardize an ongoing criminal investigation.</p>

    <h3>441.7 CRIMINAL STREET GANGS</h3>
    <p>The Investigation Division supervisor should ensure that there are an appropriate number of department members who can:</p>
    <ol class="alpha">
        <li>Testify as experts on matters related to criminal street gangs, and maintain an above average familiarity with identification of criminal street gangs, criminal street gang members and patterns of criminal gang activity.</li>
        <li>Coordinate with other agencies in the region regarding criminal street gang crimes and information.</li>
        <li>Train other members to identify gang indicia and investigate criminal street gang-related crimes.</li>
    </ol>

    <h3>441.8 TRAINING</h3>
    <p>The Training Supervisor should provide training on best practices in the use of each authorized criminal intelligence system to those tasked with investigating criminal organizations and enterprises. Training should include:</p>
    <ol class="alpha">
        <li>The protection of civil liberties.</li>
        <li>Participation in a multi-agency criminal intelligence system.</li>
        <li>Submission of information into a multi-agency criminal intelligence system or the receipt of information from such a system, including any governing federal and state rules and statutes.</li>
        <li>The type of information appropriate for entry into a criminal intelligence system or temporary information file.</li>
        <li>The review and purging of temporary information files.</li>
    </ol>
</div>