<div class="chapter" id="444">
    <h2>444 - Shift Supervisors</h2>
    <h3>444.1 PURPOSE AND SCOPE</h3>
    <p>Each patrol shift must be directed by supervisors who are capable of making decisions and communicating in a manner consistent with Department policies, procedures, practices, functions and objectives. To accomplish this goal, a Lieutenant heads each
        watch.</p>

    <h3>444.2 DESIGNATION AS ACTING SHIFT SUPERVISOR</h3>
    <p>When a Lieutenant is unavailable for duty as Shift Supervisor, in most instances the senior qualified sergeant shall be designated as acting Shift Supervisor. This policy does not preclude designating a less senior sergeant as an acting Shift Supervisor
        when operational needs require or training permits.</p>
</div>