<div class="chapter" id="446">
    <h2>446 - Mobile Video Recorders</h2>
    <h3>446.1 PURPOSE AND SCOPE</h3>
    <p>The Metro Transit Police Department has equipped most marked patrol cars with Mobile Video Recording (MVR) systems to provide records of events and assist officers in the performance of their duties. This policy provides guidance on the use of these
        systems.</p>
    <h4>446.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Activate</strong> - Any process that causes the MVR system to transmit or store video or audio data in an active mode.</p>
    <p><strong>In-car camera system and Mobile Video Recorder (MVR)</strong> - Synonymous terms - that refer to any system that captures audio and video signals that is capable of installation in a vehicle and that includes at minimum, a camera, microphone,
        recorder and monitor.</p>
    <p><strong>Law Enforcement Operator (LEO)</strong> - Primarily a licensed peace officer but on occasion may be a non-licensed representative of the Department who is authorized and assigned to operate MVR- equipped vehicles to the extent consistent with
        Minn. Stat. § 169.98.</p>
    <p><strong>MGDPA</strong> - The Minnesota Government Data Practices Act, Minnesota Statutes Chapter 13.</p>
    <p><strong>MVR technician</strong> - Personnel certified or trained in the operational use and repair of MVRs, duplicating methods, storage and retrieval methods and procedures, and who possess a working knowledge of video forensics and evidentiary procedures.</p>
    <p><strong>Recorded media</strong> - Audio-video signals recorded or digitally stored on a storage device or portable media.</p>

    <h3>446.2 POLICY</h3>
    <p>It is the goal of the Metro Transit Police Department to use mobile video recorder (MVR) technology to more effectively fulfill the department's mission and to ensure these systems are used securely and efficiently.</p>

    <h3>446.3 OFFICER RESPONSIBILITIES</h3>
    <p>Prior to going into service, each officer working patrol will properly equip him/herself to record audio and video in the field. It may be impractical for some officers to utilize audio/video in the field depending on their assignment (e.g. light
        rail, beat officers, special details/assignments etc). At the end of the shift, each officer will follow the established procedures for providing to the Department any recordings or used media and any other related equipment. Each officer should
        have adequate recording media for the entire duty assignment. Only Metro Transit Police Department identified and labeled media with tracking numbers is to be used.</p>
    <p>At the start of each shift, officers should test the MVR system operation in accordance with manufacturer specifications and department operating procedures and training.</p>
    <p>System documentation is accomplished by the officer recording his/her name, vehicle ID, area, shift etc. at the start and again at the end of each shift. If the system is malfunctioning, the officer shall take the vehicle out of service unless a supervisor
        requests the vehicle remain in service.</p>

    <h3>446.4 ACTIVATION OF THE MVR</h3>
    <p>The MVR system is designed to turn on in the following circumstances:</p>
    <ol class="alpha">
        <li>The vehicles emergency lights are activated</li>
        <li>The vehicles brakes are locked up</li>
        <li>The vehicle reaches speeds of 80 mph</li>
        <li>The vehicle is involved in a collision</li>
        <li>Manually activated from the control panel or remotely from the officer's wireless transmitter</li>
    </ol>
    <p>The system remains on until it is turned off manually. The audio portion is independently controlled and should be activated manually by the officer whenever appropriate. When audio is being recorded, the video will also record.</p>
    <p>Operators are encouraged to narrate events using the audio recording so as to provide the best documentation for pretrial and courtroom presentation.</p>
    <h4>446.4.1 REQUIRED ACTIVATION OF THE MVR</h4>
    <p>This policy is not intended to describe every possible situation in which the MVR system may be used, although there are many situations where its use is appropriate. An officer may activate the system any time the officer believes its use would be
        appropriate and/or valuable to document an incident.</p>
    <p>In some circumstances it is not possible to capture images of the incident due to conditions or the location of the camera. However, the audio portion can be valuable evidence and is subject to the same activation requirements as the MVR. The MVR
        system should be activated in any of the following situations:</p>
    <ol class="alpha">
        <li>All field contacts involving actual or potential criminal conduct within video or audio range:
            <ol class="decimal">
                <li>Traffic stops (to include, but not limited to, traffic violations, stranded motorist assistance and all crime interdiction stops)</li>
                <li>Priority responses</li>
                <li>Vehicle pursuits</li>
                <li>Suspicious vehicles</li>
                <li>Arrests</li>
                <li>Field Identification / Field Elimination Show-Up</li>
                <li>Physical or verbal confrontations or use of force</li>
                <li>Prisoner transports</li>
                <li>Non-custody transports</li>
                <li>Pedestrian checks</li>
                <li>DWI investigations including field sobriety tests</li>
                <li>Consensual encounters</li>
                <li>Crimes in progress</li>
                <li>Responding to an in-progress call</li>
                <li>Medical incidents attended to by members of the Department</li>
            </ol>
        </li>
        <li>All self-initiated activity in which an officer would normally notify Transit Control Center</li>
        <li>Any call for service involving a crime where the recorder may aid in the apprehension and/ or prosecution of a suspect:
            <ol class="decimal">
                <li>Family violence calls</li>
                <li>Disturbance of peace calls</li>
                <li>Offenses involving violence or weapons</li>
            </ol>
        </li>
        <li>Any other contact that becomes adversarial after the initial contact, in a situation that would not otherwise require recording</li>
        <li>Any other circumstance where the officer believes that a recording of an incident would be appropriate</li>
    </ol>
    <h4>446.4.2 CESSATION OF RECORDING</h4>
    <p>Once activated, the MVR system should remain on until the incident has concluded. For purposes of this section, conclusion of an incident has occurred when all arrests have been made, arrestees have been transported and all witnesses and victims have
        been interviewed. Recording may cease if an officer is simply waiting for a tow truck or a family member to arrive, or in other similar situations.</p>
    <h4>446.4.3 WHEN ACTIVATION IS NOT REQUIRED</h4>
    <p>Activation of the MVR system is not required when exchanging information with other officers or during breaks, lunch periods, when not in service or actively on patrol.</p>
    <p>No member of this department may surreptitiously use Metropolitan Council / Metro Transit equipment to record a conversation of any other member of this department except with a court order or when lawfully authorized by the Chief of Police or the
        authorized designee for the purpose of conducting a criminal or administrative investigation.</p>
    <h4>446.4.4 SUPERVISOR RESPONSIBILITIES</h4>
    <p>Supervisors should determine if vehicles with non-functioning MVR systems should be placed into service. If these vehicles are placed into service, the appropriate documentation should be made, including notification of the Transit Control Center.</p>
    <p>At reasonable intervals, supervisors should validate that:</p>
    <ol class="alpha">
        <li>Beginning and end-of-shift recording procedures are followed (log-in and log-out).</li>
        <li>Logs reflect the proper chain of custody, including (if applicable):
            <ol class="decimal">
                <li>The tracking number of the MVR system media.</li>
                <li>The date it was issued.</li>
                <li>The law enforcement operator or the vehicle to which it was issued.</li>
                <li>The date it was submitted.</li>
                <li>Law enforcement operators submitting the media.</li>
                <li>Holds for evidence indication and tagging as required.</li>
            </ol>
        </li>
        <li>The operation of MVR systems by new employees is assessed and reviewed no less than biweekly.</li>
    </ol>
    <p>When an incident arises that requires the immediate retrieval of the recorded media (e.g., serious crime scenes, peace officer-involved shootings, department-involved collisions), a supervisor shall respond to the scene and ensure that the appropriate
        supervisor, MVR technician or crime scene investigator properly retrieves the recorded media. The media may need to be treated as evidence and should be handled in accordance with current evidence procedures for recorded media. Copies may be distributed
        to investigators as appropriate to the investigation.</p>
    <p>Supervisors may activate the MVR system remotely to monitor a developing situation such as a chase, riot or an event that may threaten public safety, officer safety or both, when the purpose is to obtain tactical information to assist in managing
        the event.</p>

    <h3>446.5 REVIEW OF MVR RECORDINGS</a></h3>
    <p>All recording media, recorded images and audio recordings are the property of the agency and subject to the provisions of the MGDPA. Dissemination outside of the agency is strictly prohibited except to the extent permitted or required under the MGDPA,
        Peace Officer Disciplinary Procedures Act or other applicable law.</p>
    <p>To prevent damage to, or alteration of, the original recorded media, it shall not be copied, viewed or otherwise inserted into any device not approved by the department MVR technician, forensic media staff or other authorized personnel. When reasonably
        possible, a copy of the original media shall be used for viewing (unless otherwise directed by the courts) to preserve the original media.</p>
    <p>Recordings may be reviewed in any of the following situations.</p>
    <ol class="alpha">
        <li>For use when preparing reports or statements</li>
        <li>By a supervisor investigating a specific act of officer conduct</li>
        <li>By a supervisor to assess officer performance</li>
        <li>To assess proper functioning of MVR systems</li>
        <li>By department investigators, after approval of a supervisor, who are participating in an official investigation such as a personnel complaint, administrative inquiry or a criminal investigation</li>
        <li>By department personnel who request to review recordings</li>
        <li>By an officer who is captured on or referenced in the video or audio data and reviews and uses the data for any purpose relating to his/her employment</li>
        <li>By court personnel through proper process or with permission of the Chief of Police or the authorized designee</li>
        <li>By the media through proper process or with an MGDPA request (Minn. Stat. § 13.01 et seq.)</li>
        <li>To assess possible training value</li>
        <li>Recordings may be shown for staff or public safety training purposes. If an involved officer objects to showing a recording, his/her objection will be submitted to the staff to determine if the training value outweighs the officer's objection</li>
    </ol>
    <p>Employees desiring to view any previously uploaded or archived MVR recording should submit a request in writing to the Shift Supervisor. Approved requests should be forwarded to the MVR technician for processing.</p>
    <p>In no event shall any recording be used or shown for the purpose of ridiculing or embarrassing any employee.</p>

    <h3>446.6 DOCUMENTING MVR USE</h3>
    <p>If any incident is recorded with either the video or audio system, the existence of that recording shall be documented in the officer's report. If a citation is issued, the officer shall make a notation on the records copy of the citation indicating
        that the incident was recorded.</p>

    <h3>446.7 RECORDING MEDIA STORAGE AND INTEGRITY</h3>
    <p>Once submitted for storage, all recording media will be labeled and stored in a designated secure area. All recording media that is not booked in as evidence will be retained for a minimum of 30 days and disposed of in compliance with the established
        records retention schedule.</p>
    <h4>446.7.1 COPIES OF ORIGINAL RECORDING MEDIA</h4>
    <p>Original recording media shall not be used for any purpose other than for initial review by a supervisor. Upon proper request, a copy of the original recording media will be made for use as authorized in this policy.</p>
    <p>Original recording media may only be released in response to a court order or upon approval by the Chief of Police or the authorized designee. In the event an original recording is released to a court, a copy shall be made and placed in storage until
        the original is returned.</p>
    <h4>446.7.2 MVR RECORDINGS AS EVIDENCE</h4>
    <p>Officers who reasonably believe that an MVR recording is likely to contain evidence relevant to a criminal offense, potential claim against the officer or against the Metro Transit Police Department, should indicate this in an appropriate report.
        Officers should ensure relevant recordings are preserved by saving and tagging the incident appropriately.</p>
    <h4>446.7.3 CLASSIFICATIONS AND RETENTION SCHEDULE</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Classification</th>
                <th>Definition</th>
                <th>Retention</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AOA</td>
                <td>Footage captured while assisting other agencies that may contain evidence</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>Arrest</td>
                <td>Custodial Arrest</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>Crash Investigation</td>
                <td>Footage related to any crash related investigation</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>DWI</td>
                <td>Arrest for DWI related offenses</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>Emergency Vehicle Response</td>
                <td>Response to CFS that does not result in any other classification</td>
                <td>60 days</td>
            </tr>
            <tr>
                <td>Flee</td>
                <td>Footage of vehicle refusing to stop</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>Information</td>
                <td>Community contact of interest</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>Investigative</td>
                <td>Community contact of interest ID possible suspects, witnesses</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>Interview</td>
                <td>Interview captured on DVR that does not result in any classification</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>No event</td>
                <td>Accidental activation, system check at beginning of shift</td>
                <td>30 days</td>
            </tr>
            <tr>
                <td>Officer Assault</td>
                <td>Footage or audio of documented Use-of-Force against a police officer</td>
                <td>6 years</td>
            </tr>
            <tr>
                <td>Prisoner/ Person Transport</td>
                <td>Footage documenting the transportation of people from one place to another</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>Traffic - Citation</td>
                <td>Traffic stop resulting in a citation issued</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>Traffic - No Citation</td>
                <td>Traffic stop resulting in no citation issued</td>
                <td>60 days</td>
            </tr>
            <tr>
                <td>Training</td>
                <td>Event that could assist in department training viewable to all personnel</td>
                <td>90 days</td>
            </tr>
            <tr>
                <td>Use-of-force</td>
                <td>Footage or audio of documented Use-of-Force</td>
                <td>6 years</td>
            </tr>
    </table>

    <h3>446.8 SYSTEM OPERATIONAL STANDARDS</h3>
    <ol class="alpha">
        <li>MVR system vehicle installations should be based on officer safety requirements and vehicle and device manufacturer recommendations.</li>
        <li>The MVR system should be configured to minimally record for 30 seconds prior to an event.</li>
        <li>The MVR system may not be configured to record audio data occurring prior to activation.</li>
        <li>To prevent bleed-over and/or noise from other MVRs in systems using low band transmitters (analog), only the primary LEO initiating the contact shall activate his/her audio recorder.</li>
        <li>LEOs using digital transmitters that are individually synchronized to their individual MVR shall activate both audio and video recordings when responding in a support capacity in order to obtain additional perspectives of the incident scene.</li>
        <li>With the exception of law enforcement radios or other emergency equipment, other electronic devices should not be used within the law enforcement vehicle in order to intentionally interfere with the capability of the MVR system to record audio
            data.</li>
        <li>LEOs shall not erase, alter, reuse, modify or tamper with MVR recordings. Only a supervisor, MVR technician or other approved designee may erase and reissue previously recorded recordings and may only do so pursuant to the provisions of this policy.</li>
        <li>To prevent damage, original recordings shall not be viewed on any equipment other than the equipment issued or authorized by the MVR technician.</li>
    </ol>

    <h3>446.9 MVR TECHNICIAN RESPONSIBILITIES</h3>
    <p>The MVR technician is responsible for:</p>
    <ol class="alpha">
        <li>Ordering, issuing, retrieving, storing, erasing and duplicating of all recorded media.</li>
        <li>Collecting all completed media for oversight and verification of wireless downloaded media. Once collected the MVR technician:
            <ol class="decimal">
                <li>Ensures it is stored in a secured location with authorized controlled access.</li>
                <li>Makes appropriate entries in the chain of custody log.</li>
            </ol>
        </li>
        <li>Erasing of media:</p>
            <ol class="decimal">
                <li>Pursuant to a court order.</li>
                <li>In accordance with established records retention policies, including reissuing all other media deemed to be of no evidentiary value.</li>
            </ol>
        </li>
        <li>Assigning all media an identification number prior to issuance to the field.</p>
            <ol class="decimal">
                <li>Maintaining a record of issued media.</li>
            </ol>
        </li>
        <li>Ensuring that an adequate supply of recording media is available.</li>
        <li>Managing the long-term storage of media that has been deemed to be of evidentiary value in accordance with the department evidence storage protocols and the records retention schedule.</li>
    </ol>

    <h3>446.10 TRAINING</h3>
    <p>Users of the MVR systems and supervisors shall successfully complete an approved course of instruction prior to being deployed with MVR systems in operational settings.</p>
</div>