<div class="chapter" id="448">
    <h2>448 - Mobile Digital Computer Use</h2>
    <h3>448.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish guidelines for the proper access, use and application of the Mobile Digital Computer (MDC) system in order to ensure appropriate access to confidential records from local, state and national law enforcement
        databases, and to ensure effective electronic communications between department members and Transit Control Center.</p>

    <h3>448.2 POLICY</h3>
    <p>Metro Transit Police Department members using the MDC shall comply with all appropriate federal and state rules and regulations and shall use the MDC in a professional manner, in accordance with this policy.</p>

    <h3>448.3 PRIVACY EXPECTATION</h3>
    <p>Members forfeit any expectation of privacy with regard to messages accessed, transmitted, received or reviewed on any department technology system (see the Information Technology Use Policy for additional guidance).</p>

    <h3>448.4 RESTRICTED ACCESS AND USE</h3>
    <p>MDC use is subject to the Information Technology Use and Protected Information policies.</p>
    <p>Members shall not access the MDC system if they have not received prior authorization and the required training. Members shall immediately report unauthorized access or use of the MDC by another member to their supervisors or Shift Supervisors.</p>
    <p>Use of the MDC system to access law enforcement databases or transmit messages is restricted to official activities, business-related tasks and communications that are directly related to the business, administration or practices of the Department.
        In the event that a member has questions about sending a particular message or accessing a particular database, the member should seek prior approval from his/her supervisor.</p>
    <p>Sending derogatory, defamatory, obscene, disrespectful, sexually suggestive, harassing or any other inappropriate messages on the MDC system is prohibited and may result in discipline.</p>
    <p>It is a violation of this policy to transmit a message or access a law enforcement database under another member’s name or to use the password of another member to log in to the MDC system unless directed to do so by a supervisor. Members are required
        to log off the MDC or secure the MDC when it is unattended. This added security measure will minimize the potential for unauthorized access or misuse.</p>
    <h4>448.4.1 USE WHILE DRIVING</h4>
    <p>Use of the MDC by the vehicle operator should generally be limited to times when the vehicle is stopped. When the vehicle is in motion, the operator should only attempt to read messages that are likely to contain information that is required for immediate
        enforcement, investigative or safety needs.</p>
    <p>Short transmissions, such as a license plate check, are permitted if it reasonably appears that it can be done safely. In no case shall an operator attempt to send or review lengthy messages while the vehicle is in motion.</p>

    <h3>448.5 EQUIPMENT CONSIDERATIONS</h3>
    <h4>448.5.1 BOMB CALLS</h4>
    <p>When investigating reports of possible bombs, members should not communicate on their MDCs when in the evacuation area of a suspected explosive device. Radio frequency emitted by the MDC could cause some devices to detonate.</p>
    <h4>448.5.2 MALFUNCTIONING MDC</h4>
    <p>Whenever possible, members will not use vehicles with malfunctioning MDCs. Whenever members must drive a vehicle in which the MDC is not working, they shall notify Transit Control Center. It shall be the responsibility of the dispatcher to document
        all information that will then be transmitted verbally over the police radio.</p>

    <h3>448.6 DOCUMENTATION OF ACTIVITY</h3>
    <p>Except as otherwise directed by the Shift Supervisor or other department-established protocol, all calls for service assigned by a dispatcher should be communicated by voice over the police radio and electronically via the MDC unless security or confidentiality
        prevents such broadcasting.</p>
    <p>MDC and voice transmissions are used to document the member's daily activity. To ensure accuracy:</p>
    <ol class="alpha">
        <li>All contacts or activity shall be documented at the time of the contact.</li>
        <li>Whenever the activity or contact is initiated by voice, it should be documented by a dispatcher.</li>
        <li>Whenever the activity or contact is not initiated by voice, the member shall document it via the MDC.</li>
    </ol>
    <h4>448.6.1 STATUS CHANGES</h4>
    <p>All changes in status (e.g., arrival at scene, meal periods, in service) will be transmitted over the police radio or through the MDC system.</p>
    <p>Members responding to in-progress calls should advise changes in status over the radio to assist other members responding to the same incident. Other changes in status can be made on the MDC.</p>
    <h4>448.6.2 EMERGENCY ACTIVATION</h4>
    <p>If there is an emergency activation and the member does not respond to a request for confirmation of the need for emergency assistance or confirms the need, available resources will be sent to assist in locating the member. If the location is known,
        the nearest available officer should respond in accordance with the Officer Response to Calls Policy.</p>
    <p>Members should ensure a field supervisor and the Shift Supervisor is notified of the incident without delay.</p>
    <p>Officers not responding to the emergency shall refrain from transmitting on the police radio until a no-further-assistance broadcast is made or if they are also handling an emergency.</p>
</div>