<div class="chapter" id="450">
    <h2>450 - Portable Audio/Video Recorders</h2>
    <h3>450.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for the use of portable audio/video recording devices by members of this department while in the performance of their duties. Portable audio/video recording devices include all recording systems whether body-worn, hand
        held or integrated into portable equipment.</p>
    <p>This policy does not apply to lawful surreptitious audio/video recording, interception of communications for authorized investigative purposes or to mobile audio/video recordings (see the Investigation and Prosecution and Mobile Video Recorders policies).</p>

    <h3>450.2 POLICY</h3>
    <p>The Metro Transit Police Department may provide members with access to portable recorders, either audio or video or both, for use during the performance of their duties. The use of recorders is intended to enhance the mission of the Department by
        accurately capturing contacts between members of the Department and the public.</p>

    <h3>450.3 MEMBER PRIVACY EXPECTATION</h3>
    <p>All recordings made by members acting in an official capacity shall remain the property of the Department regardless of whether those recordings were made with department-issued or personally owned recorders. Members shall have no expectation of privacy
        or ownership interest in the content of these recordings.</p>

    <h3>450.4 MEMBER RESPONSIBILITIES</h3>
    <p>If/when portable audio/video recording devices are implemented, prior to going into service, each uniformed member will be responsible for making sure that he/she is equipped with a portable recorder issued by the Department, and that the recorder
        is in good working order. If the recorder is not in working order or malfunctions at any time, the member shall promptly report the failure to his/her supervisor and obtain a functioning device as soon as practicable. Uniformed members should
        wear the recorder in a conspicuous manner or otherwise notify persons that they are being recorded, whenever possible.</p>
    <p>Any member assigned to a non-uniformed position may carry an approved portable recorder at any time the member believes that such a device may be useful. Unless conducting a lawful recording in an authorized undercover capacity, non-uniformed members
        should wear the recorder in a conspicuous manner when in use or otherwise notify persons that they are being recorded, whenever possible.</p>
    <p>When using a portable recorder, the assigned member shall record his/her name, employee number and the current date and time at the beginning and the end of the shift or other period of use, regardless of whether any activity was recorded. This procedure
        is not required when the recording device and related software captures the user’s unique identification and the date and time of each recording.</p>
    <p>Members should document the existence of a recording in any report or other official record of the contact, including any instance where the recorder malfunctioned or the member deactivated the recording. Members should include the reason for deactivation.</p>

    <h3>450.5 ACTIVATION OF THE PORTABLE RECORDER</h3>
    <p>This policy is not intended to describe every possible situation in which the portable recorder should be used, although there are many situations where its use is appropriate. Members should activate the recorder any time the member believes it would
        be appropriate or valuable to record an incident.</p>
    <p>The portable recorder should be activated in any of the following situations:</p>
    <ol class="alpha">
        <li>All enforcement and investigative contacts including stops and field interview (FI) situations</li>
        <li>Traffic stops including, but not limited to, traffic violations, stranded motorist assistance and all crime interdiction stops</li>
        <li>Self-initiated activity in which a member would normally notify Transit Control Center</li>
        <li>Any other contact that becomes adversarial after the initial contact in a situation that would not otherwise require recording</li>
    </ol>
    <p>Members should remain sensitive to the dignity of all individuals being recorded and exercise sound discretion to respect privacy by discontinuing recording whenever it reasonably appears to the member that such privacy may outweigh any legitimate
        law enforcement interest in recording. Requests by members of the public to stop recording should be considered using this same criterion. Recording should resume when privacy is no longer at issue unless the circumstances no longer fit the criteria
        for recording.</p>
    <p>At no time is a member expected to jeopardize his/her safety in order to activate a portable recorder or change the recording media. However, the recorder should be activated in situations described above as soon as practicable.</p>
    <h4>450.5.1 CESSATION OF RECORDING</h4>
    <p>Once activated, the portable recorder should remain on continuously until the member’s direct participation in the incident is complete or the situation no longer fits the criteria for activation. Recording may be stopped during significant periods
        of inactivity such as report writing or other breaks from direct participation in the incident.</p>
    <h4>450.5.2 SURREPTITIOUS USE OF THE PORTABLE RECORDER</h4>
    <p>Minnesota law permits an individual to surreptitiously record any conversation in which one party to the conversation has given his/her permission (Minn. Stat. § 626A.02).</p>
    <p>Members of the Department may surreptitiously record any conversation during the course of a criminal investigation in which the member reasonably believes that such a recording will be lawful and beneficial to the investigation.</p>
    <p>Members shall not surreptitiously record another department member without a court order unless lawfully authorized by the Chief of Police or the authorized designee.</p>
    <h4>450.5.3 EXPLOSIVE DEVICE</h3>
	<p>Many portable recorders, including body-worn cameras and audio/video transmitters, emit radio waves that could trigger an explosive device. Therefore, these devices should not be used where an explosive device may be present.</p>

    <h3>450.6 PROHIBITED USE OF PORTABLE RECORDERS</h3>
    <p>Members are prohibited from using department-issued portable recorders and recording media for personal use and are prohibited from making personal copies of recordings created while on- duty or while acting in their official capacity.</p>
    <p>Members are also prohibited from retaining recordings of activities or information obtained while on-duty, whether the recording was created with department-issued or personally owned recorders. Members shall not duplicate or distribute such recordings, except for authorized legitimate department business purposes. All such recordings shall be retained at the Department.</p>
    <p>Members are prohibited from using personally owned recording devices while on-duty without the express consent of the Shift Supervisor. Any member who uses a personally owned recorder for department-related activities shall comply with the provisions of this policy, including retention and release requirements.</p>
    <p>Recordings shall not be used by any member for the purpose of embarrassment, intimidation or ridicule.</p>

    <h3>450.7 RETENTION OF RECORDINGS</h3>
    <p>Any time a member records any portion of a contact that the member reasonably believes constitutes evidence in a criminal case, the member shall record the related case number and transfer the file in accordance with current procedure for storing digital files and document the existence of the recording in the related case report. Transfers should occur at the end of the member’s shift, or any time the storage capacity is nearing its limit.</p>
    <p>Any time a member reasonably believes a recorded contact may be beneficial in a non-criminal matter (e.g., a hostile contact), the member should promptly notify a supervisor of the existence of the recording.</p>
    <h4>450.7.1 RETENTION REQUIREMENTS</h4>
    <p>Portable recordings may be considered criminal investigative data subject to public disclosure (Minn. Stat. § 13.82, Subd. 7). All recordings shall be retained for a period consistent with the requirements of the organization’s records retention schedule
        but in no event for a period less than 30 days.</p>

    <h3>450.8 REVIEW OF RECORDINGS</h3>
    <p>When preparing written reports, members should review their recordings as a resource. However, members shall not retain personal copies of recordings. Members should not use the fact that a recording was made as a reason to write a less detailed report.</p>
    <p>Supervisors are authorized to review relevant recordings any time they are investigating alleged misconduct or reports of meritorious conduct or whenever such recordings would be beneficial in reviewing the member’s performance.</p>
    <p>Recorded files may also be reviewed:</p>
    <ol class="alpha">
        <li>Upon approval by a supervisor, by any member of the Department who is participating in an official investigation, such as a personnel complaint, administrative investigation or criminal investigation.</li>
        <li>Pursuant to lawful process or by court personnel who are otherwise authorized to review evidence in a related case.</li>
        <li>By media personnel with permission of the Chief of Police or the authorized designee.</li>
        <li>In compliance with the Minnesota Data Practices Act request, if permitted or required by the Act, and in accordance with the Records Maintenance and Release Policy.</li>
    </ol>
    <p>All recordings should be reviewed by the Custodian of Records prior to public release (see the Records Maintenance and Release Policy). Recordings that unreasonably violate a person’s privacy or sense of dignity should not be publicly released unless
        disclosure is required by law or order of the court.</p>
</div>