<div class="chapter" id="454">
    <h2>454 - Bicycle Patrol Unit</h2>
    <h3>454.1 PURPOSE AND SCOPE</h3>
    <p>The Metro Transit Police Department has established an auxiliary Bicycle Patrol Unit (BPU) for the purpose of enhancing patrol efforts in the community. Bicycle patrol has been shown to be an effective way to increase officer visibility in congested
        areas. A bicycle's quiet operation can provide a tactical approach to crimes in progress. The purpose of this policy is to provide guidelines for the safe and effective operation of the patrol bicycle.</p>

    <h3>454.2 POLICY</h3>
    <p>Patrol bicycles may be used for regular patrol duty, traffic enforcement, parking control or special events. The use of the patrol bicycle will emphasize its mobility and visibility to the community.</p>
    <p>Bicycles may be deployed to any area at all hours of the day or night, according to Department needs and as staffing levels allow.</p>
    <p>Requests for specific deployment of bicycle patrol officers shall be coordinated through the BPU supervisor or the Shift Supervisor.</p>

    <h3>454.3 SELECTION OF PERSONNEL</h3>
    <p>Licensed personnel, who are off probation, may submit a letter of interest upon a vacancy being posted. Although typically reserved for officers assigned to either the Minneapolis or St. Paul Beats, interested officers are encouraged to apply. Interested
        personnel shall be evaluated by the following criteria:</p>
    <ol class="alpha">
        <li>Desire to be a member of the Bicycle Patrol Unit (e.g. submitting a letter of interest).</li>
        <li>Recognized competence and ability as evidenced by performance.</li>
        <li>Special skills or training as it pertains to the assignment.</li>
        <li>Good physical condition.</li>
        <li>Willingness to perform duties using the bicycle as a mode of transportation.</li>
        <li>Other criteria may be established at the time of the Bicycle Patrol Unit posting.</li>
    </ol>
    <h4>454.3.1 BICYCLE PATROL UNIT SUPERVISOR</h4>
    <p>The BPU supervisor will be selected by the Patrol Captain or designee. The BPU supervisor shall have responsibility for the following:</p>
    <ol class="alpha">
        <li>Organizing bicycle patrol training.</li>
        <li>Inspecting and maintaining inventory of patrol bicycles and program equipment.</li>
        <li>Scheduling maintenance and repairs.</li>
        <li>Coordinating activities with the Patrol Division.</li>
        <li>Inspection and documentation that bicycles not in active service are in a serviceable condition.</li>
        <li>Other activities as required to maintain the efficient operation of the unit.</li>
    </ol>

    <h3>454.4 TRAINING</h3>
    <p>Participants in the program must complete a Department-approved bicycle-training course after acceptance into the program. Thereafter, bicycle patrol officers should receive yearly in-service training to improve skills and refresh safety, health and
        operational procedures. The initial training shall minimally include the following:</p>
    <ul>
        <li>Bicycle patrol strategies</li>
        <li>Bicycle safety and accident prevention</li>
        <li>Operational tactics using bicycles</li>
    </ul>
    <p>Bicycle patrol officers may be required to qualify with their duty firearm while wearing bicycle safety equipment, including the helmet and riding gloves.</p>

    <h3>454.5 UNIFORMS AND EQUIPMENT</h3>
    <p>Officers shall wear the department-approved uniform and safety equipment while operating the department bicycle. Safety equipment includes department-approved helmet, riding gloves, protective eye wear and approved footwear.</p>
    <p>The bicycle patrol uniform consists of the standard short-sleeve uniform shirt or other department- approved shirt with department badge and patches, and department-approved bicycle patrol pants or shorts. The Uniform and Equipment Specifications
        Manual shall be consulted for specific uniform requirements.</p>
    <p>Bicycle patrol officers shall carry the same equipment on the bicycle patrol duty belt as they would on a regular patrol assignment.</p>
    <p>Officers will be responsible for obtaining the necessary forms, citation books and other department equipment needed while on bicycle patrol.</p>

    <h3>454.6 CARE AND USE OF PATROL BICYCLES</h3>
    <p>Officers will be assigned a specially marked and equipped patrol bicycle, attached gear bag and accessories.</p>
    <p>Bicycles utilized for uniformed bicycle patrol shall be primarily black or white with a "Police" decal affixed to each side of the crossbar or the bike's saddlebag. Every such bicycle shall be equipped with either lamps and/or reflectors and must
        meet legal requirements.</p>
    <p>Bicycles utilized for uniformed bicycle patrol shall be equipped with a rear rack and/or saddle bag(s) sufficient to carry the necessary equipment for handling routine patrol calls, including report writing and citations.</p>
    <p>Each bicycle gear bag shall include a repair tool and tire tube. Recommended, but optional equipment, include security locks, tire pump and a first aid kit. These items shall remain with/on the bicycle at all times.</p>
    <p>Bicycle officers shall conduct an inspection of the bicycle and equipment prior to use to ensure proper working order of the equipment. Officers are responsible for the routine care and maintenance of their assigned equipment (e.g., tire pressure,
        chain lubrication and overall cleaning).</p>
    <p>If a needed repair is beyond the ability of the bicycle officer, the program supervisor shall be notified and they shall arrange for repair by an approved technician.</p>
    <p>Each bicycle will have scheduled maintenance performed annually by a Department-approved repair shop/technician.</p>
    <p>At the end of a bicycle assignment, the bicycle shall be returned clean and ready for the next tour of duty.</p>
    <p>Officers shall not modify the patrol bicycle, remove, modify or add components except with the express approval of the bicycle supervisor or in the event of an emergency.</p>
    <p>Vehicle bicycle racks are available should the officer need to transport the patrol bicycle. Due to possible component damage, transportation of the patrol bicycle in a trunk or on a patrol car push- bumper is discouraged.</p>
    <p>Bicycles shall be properly secured when not in the officer's immediate presence.</p>

    <h3>454.7 OFFICER RESPONSIBILITIES</h3>
    <p>Officers are exempt from operating the bicycle in compliance with Minnesota law while performing their duties (Minn. Stat. § 169.222 Subd. 11). Officers may operate the bicycle without lighting equipment during hours of darkness, when such operation
        reasonably appears necessary for officer safety and tactical considerations. Officers must use caution and care when operating the bicycle without lighting equipment.</p>
</div>