<div class="chapter" id="458">
    <h2>458 - Foot Pursuits</h2>
    <h3>458.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines to assist officers in making the decision to initiate or continue the pursuit of suspects on foot.</p>

    <h3>458.2 POLICY</h3>
    <p>It is the policy of this department that officers, when deciding to initiate or continue a foot pursuit, must continuously balance the objective of apprehending the suspect with the risk and potential for injury to department members, the public or
        the suspect.</p>
    <p>Officers are expected to act reasonably based on the totality of the circumstances.</p>

    <h3>458.3 DECISION TO PURSUE</h3>
    <p>The safety of department members and the public should be the primary consideration when determining whether a foot pursuit should be initiated or continued. Officers must be mindful that immediate apprehension of a suspect is rarely more important
        than the safety of the public and department members.</p>
    <p>Officers may be justified in initiating a foot pursuit of any individual the officer reasonably believes is about to engage in, is engaging in or has engaged in criminal activity. The decision to initiate or continue such a foot pursuit, however,
        must be continuously re-evaluated in light of the circumstances presented at the time.</p>
    <p>Mere flight by a person who is not suspected of criminal activity shall not serve as the sole justification for engaging in an extended foot pursuit without the development of reasonable suspicion regarding the individual’s involvement in criminal
        activity or being wanted by law enforcement.</p>
    <p>Deciding to initiate or continue a foot pursuit is a decision that an officer must make quickly and under unpredictable and dynamic circumstances. It is recognized that foot pursuits potentially place department members and the public at significant
        risk. Therefore, no officer or supervisor shall be criticized or disciplined for deciding not to engage in a foot pursuit because of the perceived risk involved.</p>
    <p>If circumstances permit, surveillance and containment are generally the safest tactics for apprehending fleeing persons. In deciding whether to initiate or continue a foot pursuit, an officer should continuously consider reasonable alternatives to
        a foot pursuit based upon the circumstances and resources available, such as the following:</p>
    <ol class="alpha">
        <li>Containment of the area.</li>
        <li>Saturation of the area with law enforcement personnel, including assistance from other agencies.</li>
        <li>A canine search.</li>
        <li>Thermal imaging or other sensing technology.</li>
        <li>Air support.</li>
        <li>Apprehension at another time, when the identity of the suspect is known or there is information available that would likely allow for later apprehension, and the need to immediately apprehend the suspect does not reasonably appear to outweigh
            the risk of continuing the foot pursuit.</li>
    </ol>

    <h3>458.4 GENERAL GUIDELINES</h3>
    <p>When reasonably practicable, officers should consider alternatives to engaging in or continuing a foot pursuit when:</p>
    <ol class="alpha">
        <li>Directed by a supervisor to terminate the foot pursuit; such an order shall be considered mandatory.</li>
        <li>The officer is acting alone.</li>
        <li>Two or more officers become separated, lose visual contact with one another or obstacles separate them to the degree that they cannot immediately assist each other should a confrontation take place. In such circumstances, it is generally recommended
            that a single officer keep the suspect in sight from a safe distance and coordinate the containment effort.</li>
        <li>The officer is unsure of his/her location and direction of travel.</li>
        <li>The officeris pursuing multiple suspects and it is not reasonable to believe that the officer would be able to control the suspect should a confrontation occur.</li>
        <li>The physical condition of the officers renders him/her incapable of controlling the suspect if apprehended.</li>
        <li>The officer loses radio contact with Transit Control Center or with assisting or backup officers.</li>
        <li>The suspect enters a building, structure, confined space, isolated area or dense or difficult terrain, and there are insufficient officers to provide backup and containment. The primary officer should consider discontinuing the foot pursuit and
            coordinating containment pending the arrival of sufficient resources.</li>
        <li>The officer becomes aware of unanticipated or unforeseen circumstances that unreasonably increase the risk to officers or the public.</li>
        <li>The officer reasonably believes that the danger to the pursuing officers or public outweighs the objective of immediate apprehension.</li>
        <li>The officer loses possession of his/her firearm or other essential equipment.</li>
        <li>The officer or a third party is injured during the foot pursuit, requiring immediate assistance, and there are no other emergency personnel available to render assistance.</li>
        <li>The suspect’s location is no longer known.</li>
        <li>The identity of the suspect is established or other information exists that will allow for the suspect’s apprehension at a later time, and it reasonably appears that there is no immediate threat to Department personnel or the public if the suspect
            is not immediately apprehended.</li>
        <li>The officer’s ability to safely continue the pursuit is impaired by inclement weather, darkness or other environmental conditions.</li>
    </ol>

    <h3>458.5 RESPONSIBILITIES IN FOOT PURSUITS</h3>
    <h4>458.5.1 INITIATING OFFICER RESPONSIBILITIES</h3>
									                        <p>Unless relieved by another officer or a supervisor, the initiating officer shall be responsible for coordinating the progress of the pursuit. When acting alone and when practicable, the initiating officer should not attempt to overtake and confront the suspect but should attempt to keep the suspect in sight until sufficient officers are present to safely apprehend the suspect.</p>
									                        <p>Early communication of available information from the involved officers is essential so that adequate resources can be coordinated and deployed to bring a foot pursuit to a safe conclusion. Officers initiating a foot pursuit should broadcast the following information as soon as it becomes practicable and available:</p>
									                        <ol class="alpha">
									                            <li>Location and direction of travel</li>
									                            <li>Call sign identifier</li>
									                            <li>Reason for the foot pursuit, such as the crime classification</li>
									                            <li>Number of suspects and description, to include name if known</li>
									                            <li>Whether the suspect is known or believed to be armed with a dangerous weapon</li>
									                        </ol>
									                        <p>Officers should be mindful that radio transmissions made while running may be difficult to understand and may need to be repeated.</p>
									                        <p>Absent extenuating circumstances, any officer unable to promptly and effectively broadcast this information should terminate the foot pursuit. If the foot pursuit is discontinued for any reason, immediate efforts for containment should be established and alternatives considered based upon the circumstances and available resources.</p>
									                        <p>When a foot pursuit terminates, the officer will notify Transit Control Center of his/her location and the status of the foot pursuit termination (e.g., suspect in custody, lost sight of suspect), and will direct further actions as reasonably appear necessary, to include requesting medical aid as needed for officers, suspects or members of the public.</p>
									                        <h4>458.5.2 ASSISTING OFFICER RESPONSIBILITIES</h4>
    <p>Whenever any officer announces that he/she is engaged in a foot pursuit, all other officers should minimize nonessential radio traffic to permit the involved officers maximum access to the radio frequency.</p>
    <h4>458.5.3 SUPERVISOR RESPONSIBILITIES</h4>
    <p>Upon becoming aware of a foot pursuit, the supervisor shall make every reasonable effort to ascertain sufficient information to direct responding resources and to take command, control and coordination of the foot pursuit. The supervisor should respond
        to the area whenever reasonably possible. The supervisor does not, however, need to be physically present to exercise control over the foot pursuit. The supervisor should continuously assess the situation in order to ensure the foot pursuit is
        conducted within established department guidelines.</p>
    <p>The supervisor shall terminate the foot pursuit when the danger to pursuing officers or the public appears to unreasonably outweigh the objective of immediate apprehension of the suspect.</p>
    <p>Upon apprehension of the suspect, the supervisor should promptly proceed to the termination point to direct the post-pursuit activity.</p>
    <h4>458.5.4 TRANSIT CONTROL CENTER RESPONSIBILITIES</h4>
    <p>Upon notification or becoming aware that a foot pursuit is in progress, the dispatcher is responsible for:</p>
    <ol class="alpha">
        <li>Clearing the radio channel of non-emergency traffic.</li>
        <li>Coordinating pursuit communications of the involved officers.</li>
        <li>Broadcasting pursuit updates as well as other pertinent information as necessary.</li>
        <li>Ensuring that a field supervisor is notified of the foot pursuit.</li>
        <li>Notifying and coordinating with other involved or affected agencies as practicable.</li>
        <li>Notifying the Shift Supervisor as soon as practicable.</li>
        <li>Assigning an incident number and logging all pursuit activities.</li>
    </ol>

    <h3>458.6 REPORTING</h3>
    <p>The initiating officer shall complete the appropriate crime/arrest reports documenting, at minimum:</p>
    <ol class="alpha">
        <li>Date and time of the foot pursuit.</li>
        <li>Initial reason and circumstances surrounding the foot pursuit.</li>
        <li>Course and approximate distance of the foot pursuit.</li>
        <li>Alleged offenses.</li>
        <li>Involved vehicles and officers.</li>
        <li>Whether a suspect was apprehended as well as the means and methods used.</p>
            <ol class="decimal">
                <li>Any use of force shall be reported and documented in compliance with the Use of Force Policy.</li>
            </ol>
        </li>
        <li>Arrestee information, if applicable.</li>
        <li>Any injuries and/or medical treatment.</li>
        <li>Any property or equipment damage.</li>
        <li>Name of the supervisor at the scene or who handled the incident.</li>
    </ol>
    <p>Assisting officers taking an active role in the apprehension of the suspect shall complete supplemental reports as necessary or as directed.</p>
    <p>The supervisor reviewing the report will make a preliminary determination that the pursuit appears to be in compliance with this policy or that additional review and/or follow-up is warranted.</p>
    <p>In any case in which a suspect is not apprehended and there is insufficient information to warrant further investigation, a supervisor may authorize that the initiating officer need not complete a formal report.</p>
</div>