<div class="chapter" id="460">
    <h2>460 - Automated License Plate Readers (ALPR)</h2>
    <h3>460.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidance for the capture, storage and use of digital data obtained through the use of Automated License Plate Reader (ALPR) technology (Minn. Stat. § 626.8472).</p>

    <h3>460.2 ADMINISTRATION</h3>
    <p>The ALPR technology, also known as License Plate Recognition (LPR), allows for the automated detection of license plates. It may be used by the Metro Transit Police Department to convert data associated with vehicle license plates for official law
        enforcement purposes, including identifying stolen or wanted vehicles, stolen license plates and missing persons. It may also be used to gather information related to active warrants, homeland security, electronic surveillance, suspect interdiction
        and stolen property recovery.</p>
    <p>All installation and maintenance of ALPR equipment, as well as ALPR data retention and access, shall be managed by the Administrative Division Supervisor. The Administrative Division Supervisor will assign members under his/her command to administer
        the day-to-day operation of the ALPR equipment and data.</p>

    <h3>460.3 OPERATIONS</h3>
    <p>Use of an ALPR is restricted to the purposes outlined below. Department members shall not use, or allow others to use, the equipment or database records for any unauthorized purpose.</p>
    <ol class="alpha">
        <li>An ALPR shall only be used for official law enforcement business.</li>
        <li>An ALPR may be used in conjunction with any routine patrol operation or criminal investigation. Reasonable suspicion or probable cause is not necessary before using an ALPR.</li>
        <li>While an ALPR may be used to canvass license plates around any crime scene, particular consideration should be given to using ALPR-equipped cars to canvass areas around homicides, shootings and other major incidents.</li>
        <li>No member of this department shall operate ALPR equipment or access ALPR data without first completing department-approved training.</li>
        <li>No ALPR operator may access confidential department, state or federal data unless authorized to do so.</li>
        <li>If practicable, the officer should verify an ALPR response through the Minnesota Justice Information Services (MNJIS) and National Law Enforcement Telecommunications System (NLETS) databases before taking enforcement action that is based solely
            upon an ALPR alert.</li>
    </ol>
    <h4>460.3.1 RESTRICTIONS, NOTIFICATIONS AND AUDITS</h4>
    <p>The Metro Transit Police Department will observe the following guidelines regarding ALPR use (Minn. Stat. § 13.824):</p>
    <ol class="alpha">
        <li>Data collected by an ALPR will be limited to:
            <ol class="decimal">
                <li>License plate numbers.</li>
                <li>Date, time and location of data captured.</li>
                <li>Pictures of license plates, vehicles and areas surrounding the vehicle captured.</li>
            </ol>
        </li>
        <li>ALPR data may only be matched with the Minnesota license plate data file, unless additional sources are needed for an active criminal investigation.</li>
        <li>ALPRs shall not be used to monitor or track an individual unless done so under a search warrant or because of exigent circumstances.</li>
        <li>The Bureau of Criminal Apprehension shall be notified within 10 days of any installation or use and of any fixed location of an ALPR.</li>
    </ol>

    <h3>460.4 DATA COLLECTION AND RETENTION</h3>
    <p>The Administrative Division Supervisor is responsible for ensuring systems and processes are in place for the proper collection and retention of ALPR data. Data will be transferred from vehicles to the designated storage in accordance with department
        procedures.</p>
    <p>ALPR data received from another agency shall be maintained securely and released in the same manner as ALPR data collected by this department (Minn. Stat. § 13.824).</p>
    <p>ALPR data not related to an active criminal investigation must be destroyed no later than 60 days from the date of collection with the following exceptions (Minn. Stat. § 13.824):</p>
    <ol class="alpha">
        <li>Exculpatory evidence - Data must be retained until a criminal matter is resolved if a written request is made from a person who is the subject of a criminal investigation asserting that ALPR data may be used as exculpatory evidence.</li>
        <li>Address Confidentiality Program - Data related to a participant of the Address Confidentiality Program must be destroyed upon the written request of the participant. ALPR data already collected at the time of the request shall be destroyed and
            future related ALPR data must be destroyed at the time of collection. Destruction can be deferred if it relates to an active criminal investigation.</li>
    </ol>
    <p>All other ALPR data should be retained in accordance with the established records retention schedule.</p>
    <h4>460.4.1 LOG OF USE</h4>
    <p>A public log of ALPR use will be maintained that includes (Minn. Stat. § 13.824):</p>
    <ol class="alpha">
        <li>Specific times of day that the ALPR collected data.</li>
        <li>The aggregate number of vehicles or license plates on which data are collected for each period of active use and a list of all state and federal public databases with which the data were compared.</li>
        <li>For each period of active use, the number of vehicles or license plates related to:
            <ol class="alpha">
                <li>A vehicle or license plate that has been stolen.</li>
                <li>A warrant for the arrest of the owner of the vehicle.</li>
                <li>An owner with a suspended or revoked driver’s license or similar category.</li>
                <li>Active investigative data.</li>
            </ol>
        </li>
        <li>For an ALPR at a stationary or fixed location, the location at which the ALPR actively collected data and is installed and used.</li>
    </ol>
    <p>A publicly accessible list of the current and previous locations, including dates at those locations, of any fixed ALPR or other surveillance devices with ALPR capability shall be maintained. The list may be kept from the public if the data is security
        information as provided in Minn. Stat. § 13.37, Subd. 2.</p>

    <h3>460.5 ACCOUNTABILITY</h3>
    <p>All saved data will be closely safeguarded and protected by both procedural and technological means. The Metro Transit Police Department will observe the following safeguards regarding access to and use of stored data (Minn. Stat. § 13.824; Minn.
        Stat. § 13.05):</p>
    <ol class="alpha">
        <li>All ALPR data downloaded to the mobile workstation and in storage shall be accessible only through a login/password-protected system capable of documenting all access of information by name, date and time.</li>
        <li>Members approved to access ALPR data under these guidelines are permitted to access the data for legitimate law enforcement purposes only, such as when the data relate to a specific criminal investigation or department-related civil or administrative
            action.</li>
        <li>Biennial audits and reports shall be completed pursuant to Minn. Stat. § 13.824, Subd. 6.</li>
        <li>Breaches of personal data are addressed as set forth in the Protected Information Policy (Minn. Stat. § 13.055).</li>
        <li>All queries and responses, and all actions, in which data are entered, updated, accessed, shared or disseminated, must be recorded in a data audit trail.</li>
        <li>Any member who violates Minn. Stat. § 13.09 through the unauthorized acquisition or use of ALPR data will face discipline and possible criminal prosecution (Minn. Stat. § 626.8472).</li>
    </ol>

    <h3>460.6 POLICY</h3>
    <p>The policy of the Metro Transit Police Department is to utilize ALPR technology to capture and store digital license plate data and images while recognizing the established privacy rights of the public.</p>
    <p>All data and images gathered by the ALPR are for the official use of this department. Because such data may contain confidential information, it is not open to public review.</p>

    <h3>460.7 RELEASING ALPR DATA</h3>
    <p>The ALPR data may be shared only with other law enforcement or prosecutorial agencies for official law enforcement purposes or as otherwise permitted by law, using the following procedures (Minn. Stat. § 13.824):</p>
    <ol class="alpha">
        <li>The agency makes a written request for the ALPR data that includes:
            <ol class="decimal">
                <li>The name of the agency.</li>
                <li>The name of the person requesting.</li>
                <li>The intended purpose of obtaining the information.</li>
                <li>A record of the factual basis for the access and any associated case number, complaint or incident that is the basis for the access.</li>
                <li>A statement that the request is authorized by the head of the requesting law enforcement agency or his/her designee.</li>
            </ol>
        </li>
        <li>The request is reviewed by the Administrative Division Supervisor or the authorized designee and approved before the request is fulfilled.
            <ol class="decimal">
                <li>A release must be based on a reasonable suspicion that the data is pertinent to an active criminal investigation.</li>
            </ol>
        </li>
        <li>The approved request is retained on file.</li>
    </ol>
    <p>Requests for ALPR data by non-law enforcement or non-prosecutorial agencies will be processed as provided in the Records Maintenance and Release Policy.</p>
</div>