<div class="chapter" id="464">
    <h2>464 - Homeless Persons</h2>
    <h3>464.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to ensure that personnel understand the needs and rights of the homeless and to establish procedures to guide officers during all contacts with the homeless, whether consensual or for enforcement purposes. The Metro Transit
        Police Department recognizes that members of the homeless community are often in need of special protection and services. The Metro Transit Police Department will address these needs in balance with the overall missions of this department. Therefore,
        officers will consider the following policy when serving the homeless community.</p>

    <h3>464.2 HOMELESS COMMUNITY LIAISON</h3>
    <p>The Chief of Police will designate a member of this department to act as the Homeless Liaison Officer. The responsibilities of the Homeless Liaison Officer include the following:</p>
    <ol class="alpha">
        <li>Maintain and make available to all Department employees a list of assistance programs and other resources that are available to the homeless.</li>
        <li>Meet with social services and representatives of other organizations that render assistance to the homeless.</li>
        <li>Maintain a list of those areas within and near this jurisdiction that are used as frequent homeless encampments.</li>
        <li>Remain abreast of laws dealing with the removal and/or destruction of the personal property of the homeless. This will include the following:
            <ol class="decimal">
                <li>Proper posting of notices of trespass and clean-up operations.</li>
                <li>Proper retention of property after clean up, to include procedures for owners to reclaim their property in accordance with the Property Procedures Policy and other established procedures.</li>
            </ol>
        </li>
        <li>Be present during any clean-up operation conducted by this department involving the removal of personal property of the homeless to ensure the rights of the homeless are not violated.</li>
        <li>Develop training to assist officers in understanding current legal and social issues relating to the homeless.</li>
    </ol>

    <h3>464.3 FIELD CONTACTS</h3>
    <p>Officers are encouraged to contact the homeless for purposes of rendering aid, support and for community-oriented policing purposes. Nothing in this policy is meant to dissuade an officer from taking reasonable enforcement action when facts support
        a reasonable suspicion of criminal activity. However, when encountering a homeless person who has committed a non-violent misdemeanor and continued freedom is not likely to result in a continuation of the offense or a</p>
    <p>breach of the peace, officers are encouraged to consider long-term solutions to problems that may relate to the homeless, such as shelter referrals and counseling in lieu of physical arrest. Officers should provide homeless persons with resource and
        assistance information whenever it is reasonably apparent such services may be appropriate.</p>
    <h4>464.3.1 OTHER CONSIDERATIONS</h4>
    <p>Homeless members of the community will receive the same level and quality of service provided to other members of our community. The fact that a victim or witness is homeless can, however, require special considerations for a successful investigation
        and prosecution. Officers should consider the following when handling investigations involving homeless victims, witnesses or suspects:</p>
    <ol class="alpha">
        <li>Documenting alternate contact information. This may include obtaining addresses and telephone numbers of relatives and friends.</li>
        <li>Document places the homeless person may frequent.</li>
        <li>Provide homeless victims with victim/witness resources when appropriate.</li>
        <li>Obtain statements from all available witnesses in the event a homeless victim is unavailable for a court appearance.</li>
        <li>Consider whether the person may be a dependent adult or elder and if so proceed in accordance with the Adult Abuse Policy.</li>
        <li>Arrange for transportation for investigation-related matters, such as medical exams and court appearances.</li>
        <li>Consider whether a crime should be reported and submitted for prosecution even when a homeless victim indicates he/she does not desire prosecution.</li>
    </ol>

    <h3>464.4 PERSONAL PROPERTY</h3>
    <p>The personal property of homeless persons must not be treated differently than the property of other members of the public. Officers should use reasonable care when handling, collecting and retaining the personal property of homeless persons and should
        not destroy or discard the personal property of a homeless person.</p>
    <p>When a homeless person is arrested or otherwise removed from a public place, officers should make reasonable accommodations to permit the person to lawfully secure his/her personal property. Otherwise, the arrestee’s personal property should be collected
        for safekeeping. If the arrestee has more personal property than can reasonably be collected and transported by the officer, a supervisor should be consulted. The property should be photographed and measures should be taken to remove or secure
        the property. It will be the supervisor’s responsibility to coordinate the removal and safekeeping of the property.</p>
    <p>Officers should not conduct or assist in clean-up operations of belongings that reasonably appear to be the property of homeless persons without the prior authorization of a supervisor or the Department Homeless Liaison Officer. When practicable,
        requests by the public for clean-up operations of a homeless encampment should be referred to the Homeless Liaison Officer.</p>
    <p>Officers who encounter unattended encampments, bedding or other personal property in public areas that reasonably appears to belong to a homeless person should not remove or destroy such property and should inform the Department Homeless Liaison Officer
        if such property appears to involve a trespass, blight to the community or is the subject of a complaint. It will be the responsibility of the Homeless Liaison Officer to address the matter in a timely fashion.</p>

    <h3>464.5 MENTAL ILLNESSES AND MENTAL IMPAIRMENTS</h3>
    <p>Some homeless persons may suffer from a mental illness or a mental impairment. Officers shall not detain a homeless person under a 72-hour emergency medical hold unless facts and circumstances warrant such a detention.</p>

    <h3>464.6 ECOLOGICAL ISSUES</h3>
    <p>Sometimes homeless encampments can affect the ecology and natural resources of the community and may involve criminal offenses beyond mere littering. Officers are encouraged to notify other appropriate agencies or departments when a significant impact
        to the environment has or is likely to occur. Significant impacts to the environment may warrant a crime report, investigation, supporting photographs and supervisor notification.</p>

    <h3>464.7 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to provide law enforcement services to all members of the community while protecting the rights, dignity and private property of the homeless. Homelessness is not a crime and members of this
        department will not use homelessness solely as a basis for detention or law enforcement action.</p>
</div>