<div class="chapter" id="465">
    <h2>465 - Passenger / Customer Eviction</h2>
    <h3>465.1 PURPOSE AND SCOPE</h3>
    <p>It is the goal of the Metropolitan Council / Metro Transit to provide the Metro Transit passenger a conveyance which is safe, clean and responsive to the passengers riding experience. It is the policy of the Metropolitan Council / Metro Transit to
        evict passengers from a conveyance when a Metro Transit Police officer or Metro Transit operator has reason to believe that the passenger presents an immediate threat to the peace and/or safety of other passengers and/or the operator.</p>
    <p>The purpose of this policy is to provide guidelines for evicting passengers/customers from Metropolitan Council / Metro Transit conveyances/property and to establish reporting requirements for such actions.</p>

    <h3>465.2 CONSIDERATIONS WHEN EVICTING OR REMOVING PASSENGERS/CUSTOMERS </h3>
    <p>When considering whether or not to evict/remove a passenger(s) or customer(s), Metro Transit Police officers shall consider the totality of the circumstances presented at the time. These circumstances may include one or more of the following:</p>
    <ol class="alpha">
        <li>The safety of other passengers, the operator, the responding officer, other Metro Transit and/or Metro Transit Police personnel.</li>
        <li>The safety of other motorists and/or public.</li>
        <li>The preservation of Metropolitan Council / Metro Transit property.</li>
        <li>Whether reasonable belief exists that the passenger/customer violated any Minnesota State Statute, law, ordinance, Metropolitan Council / Metro Transit policy or rule.
            <ol class="decimal">
                <li>The above includes but is not limited to the interference, interruption, disruption or obstruction by the passenger/customer.</li>
            </ol>
        </li>
        <li>The time of day, location, weather conditions, age of passenger(s), number of passengers and the condition of the passenger(s) at the time of eviction/removal.</li>
        <li>Any other factor(s) which reasonably assist Metro Transit Police officers in concluding that the removal or eviction of the passenger(s) is warranted.</li>
    </ol>

    <h3>465.3 DOCUMENTING AN EVICTION OR REMOVAL</h3>
    <p>All Metro Transit Police officers operating within the scope of this policy will document all incidents on the appropriate Metro Transit Police report form(s) and/or records management system. Officers may refer to the Report Preparation Policy if
        further information is needed.</p>
</div>