<div class="chapter" id="467">
    <h2>467 - Fare Enforcement</h2>
    <h3>467.1 PURPOSE AND SCOPE</h3>
    <p>It is the policy of Metro Transit that reasonable, non-discriminatory fares shall be charged for all public transportation services operated by the agency. The fare structure will be a "Service Based Structure" with fare levels determined by the type
        of service provided. Passengers will pay specified rates accordingly, unless they qualify for a reduced fare.</p>
    <p>The purpose of this policy is to define the role of Metro Transit Police officers as it relates to fare inspection.</p>

    <h3>467.2 ENFORCEMENT</h3>
    <p>Enforcement of the "Proof of Payment" fare collection process will be accomplished by Metro Transit Police officers. The role of Metro Transit Police officers, conducting fare inspection duty, is to educate customers on the proof-of-payment system
        and to take enforcement action against fare violators. These steps are implemented in an attempt to gain compliance within the established system.</p>
    <p>Metro Transit Police officers will be the primary point of contact with passengers. As such, the highest standards of integrity, fairness, impartiality and professionalism are expected of them. In terms of public acceptance and enforcement of the
        proof-of-payment system, the fare inspections are essential to the success of the system. The philosophy for fare inspection will be high visibility, with pleasant, yet firm enforcement. This philosophy dictates that Metro Transit Police officers
        apply interpersonal relationship skills and law enforcement authority to gain acceptance of and compliance with the proof-of-payment system.</p>
    <h4>467.2.1 INSPECTIONS</h4>
    <p>Metro Transit Police officers will randomly inspect passengers both onboard the conveyance and off while located in a "Paid Fare Zone." Officers shall announce their intent to inspect fares by stating something similar to, "Fare inspection" or "Please
        display your ticket for fare inspection." Passengers without proof of payment will be asked if they understand the fare system or have some other reason for not having a valid proof of payment (e.g. a malfunction with the ticket vending machine
        (TVM)). Officers will request appropriate documentation from passengers using disability cards, reduced fare cards and/or stored value cards.</p>
    <ol class="alpha">
        <li>If the officer is satisfied that the passenger did not intentionally evade payment of fare, the officer will explain the fare system to the passenger, issue a verbal warning and may ask the passenger to exit the conveyance to pay the proper fare.
            The officer may also allow the passenger to ride to their destination and ensure that the fare is paid at that time.</li>
        <li>If the officer decides that fare payment was intentionally avoided, a citation should be issued to the passenger. The officer may ask that the passenger exit the conveyance or may allow the passenger to ride to their destination and ensure that
            the fare is paid at that time.
            <ol class="decimal">
                <li>If the passenger is found to be in violation for a second time, in addition to issuing a citation, the passenger may be trespassed for 30 days.</li>
                <li>If the passenger is found to be in violation for a third time (or more), he/she may be booked for the continued offense and if applicable, a trespass violation.</li>
            </ol>
        </li>
    </ol>

    <h3>467.3 DOCUMENTING FARE ENFORCEMENT</h3>
    <p>All Metro Transit Police officers operating within the scope of this policy will document all incidents on the appropriate Metro Transit Police report form(s) and/or records management system (including patrol logs). Officers may refer to the Report
        Preparation Policy if further information is needed.</p>

    <h3>467.4 POLICE PRESENCE</h3>
    <p>The presence of Metro Transit Police officers while conducting fare inspections will provide security to passengers and Metro Transit personnel. Officers may also be asked to support revenue collection personnel while they, or a vendor, service the
        TVM's.</p>
</div>