<div class="chapter" id="468">
    <h2>468 - Public Recording of Law Enforcement Activity</h2>
    <h3>468.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for handling situations in which members of the public photograph or audio/video record law enforcement actions and other public activities that involve members of this department. In addition, this policy provides
        guidelines for situations where the recordings may be evidence.</p>

    <h3>468.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes the right of persons to lawfully record members of this department who are performing their official duties. Members of this department will not prohibit or intentionally interfere with such lawful recordings.
        Any recordings that are deemed to be evidence of a crime or relevant to an investigation will only be collected or seized lawfully.</p>
    <p>Officers should exercise restraint and should not resort to highly discretionary arrests for offenses such as interference, failure to comply or disorderly conduct as a means of preventing someone from exercising the right to record members performing
        their official duties.</p>

    <h3>468.3 RECORDING LAW ENFORCEMENT ACTIVITY</h3>
    <p>Members of the public who wish to record law enforcement activities are limited only in certain aspects.</p>
    <ol class="alpha">
        <li>Recordings may be made from any public place or any private property where the individual has the legal right to be present.</li>
        <li>Beyond the act of photographing or recording, individuals may not interfere with the law enforcement activity. Examples of interference include, but are not limited to:
            <ol class="decimal">
                <li>Tampering with a witness or suspect.</li>
                <li>Inciting others to violate the law.</li>
                <li>Being so close to the activity as to present a clear safety hazard to the officers.</li>
                <li>Being so close to the activity as to interfere with an officer’s effective communication with a suspect or witness.</li>
            </ol>
        </li>
        <li>The individual may not present an undue safety risk to the officers, him/herself or others.</li>
    </ol>

    <h3>468.4 OFFICER RESPONSE</h3>
    <p>Officers should promptly request a supervisor respond to the scene whenever it appears that anyone recording activities may be interfering with an investigation or it is believed that the recording may be evidence. If practicable, officers should
        wait for the supervisor to arrive before taking enforcement action or seizing any cameras or recording media.</p>
    <p>Whenever practicable, officers or supervisors should give clear and concise warnings to individuals who are conducting themselves in a manner that would cause their recording or behavior to be unlawful. Accompanying the warnings should be clear directions
        on what an individual can do to be compliant; directions should be specific enough to allow compliance. For example, rather than directing an individual to clear the area, an officer could advise the person that he/she may continue observing and
        recording from the sidewalk across the street.</p>
    <p>If an arrest or other significant enforcement activity is taken as the result of a recording that interferes with law enforcement activity, officers shall document in a report the nature and extent of the interference or other unlawful behavior and
        the warnings that were issued.</p>

    <h3>468.5 SUPERVISOR RESPONSIBILITIES</h3>
    <p>A supervisor should respond to the scene when requested or any time the circumstances indicate a likelihood of interference or other unlawful behavior.</p>
    <p>The supervisor should review the situation with the officer and:</p>
    <ol class="alpha">
        <li>Request any additional assistance as needed to ensure a safe environment.</li>
        <li>Take a lead role in communicating with individuals who are observing or recording regarding any appropriate limitations on their location or behavior. When practical, the encounter should be recorded.</li>
        <li>When practicable, allow adequate time for individuals to respond to requests for a change of location or behavior.</li>
        <li>Ensure that any enforcement, seizure or other actions are consistent with this policy and constitutional and state law.</li>
        <li>Explain alternatives for individuals who wish to express concern about the conduct of department members, such as how and where to file a complaint.</li>
    </ol>

    <h3>468.6 SEIZING RECORDINGS AS EVIDENCE</h3>
    <p>Officers should not seize recording devices or media unless (42 USC § 2000aa):</p>
    <ol class="alpha">
        <li>There is probable cause to believe the person recording has committed or is committing a crime to which the recording relates, and the recording is reasonably necessary for prosecution of the person.
            <ol class="decimal">
                <li>Absent exigency or consent, a warrant should be sought before seizing or viewing such recordings. Reasonable steps may be taken to prevent erasure of the recording.</li>
            </ol>
        </li>
        <li>There is reason to believe that the immediate seizure of such recordings is necessary to prevent serious bodily injury or death of any person.</li>
        <li>The person consents.</p>
            <ol class="decimal">
                <li>To ensure that the consent is voluntary, the request should not be made in a threatening or coercive manner.</li>
                <li>If the original recording is provided, a copy of the recording should be provided to the recording party, if practicable. The recording party should be permitted to be present while the copy is being made, if feasible.</li>
            </ol>
        </li>
    </ol>
    <p>Recording devices and media that are seized will be submitted within the guidelines of the ﻿Property and Evidence﻿ Policy.</p>
</div>