<div class="chapter" id="469">
    <h2>469 - Medical Aid and Response</h2>
    <h3>469.1 PURPOSE AND SCOPE</h3>
    <p>This policy recognizes that members often encounter persons who appear to be in need of medical aid and establishes a law enforcement response to such situations.</p>

    <h3>469.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that all officers and other designated members be trained to provide emergency medical aid and to facilitate an emergency medical response.</p>

    <h3>469.3 FIRST RESPONDING MEMBER RESPONSIBILITIES</h3>
    <p>Whenever practicable, members should take appropriate steps to provide initial medical aid (e.g., first aid, CPR and use of an automated external defibrillator (AED)) in accordance with their training and current certification levels. This should
        be done for those in need of immediate care and only when the member can safely do so.</p>
    <p>Prior to initiating medical aid, the member should contact Transit Control Center and request response by emergency medical services (EMS) as the member deems appropriate.</p>
    <p>Members should follow universal precautions when providing medical aid, such as wearing gloves and avoiding contact with bodily fluids, consistent with the Communicable Diseases Policy. Members should use a barrier or bag device to perform rescue
        breathing.</p>
    <p>When requesting EMS, the member should provide Transit Control Center with information for relay to EMS personnel in order to enable an appropriate response, including:</p>
    <ol class="alpha">
        <li>The location where EMS is needed.</li>
        <li>The nature of the incident.</li>
        <li>Any known scene hazards.</li>
        <li>Information on the person in need of EMS, such as:
            <ol class="decimal">
                <li>Signs and symptoms as observed by the member.</li>
                <li>Changes in apparent condition.</li>
                <li>Number of patients, sex and age, if known.</li>
                <li>Whether the person is conscious, breathing and alert, or is believed to have consumed drugs or alcohol.</li>
                <li>Whether the person is showing signs or symptoms of excited delirium or other agitated chaotic behavior.</li>
            </ol>
        </li>
    </ol>
    <p>Members should stabilize the scene whenever practicable while awaiting the arrival of EMS. Members should not direct EMS personnel whether to transport the person for treatment.</p>

    <h3>469.4 TRANSPORTING ILL AND INJURED PERSONS</h3>
    <p>Except in extraordinary cases where alternatives are not reasonably available, members should not transport persons who are unconscious, who have serious injuries or who may be seriously ill. EMS personnel should be called to handle patient transportation.</p>
    <p>Officers should search any person who is in custody before releasing that person to EMS for transport.</p>
    <p>An officer should accompany any person in custody during transport in an ambulance when requested by EMS personnel, when it reasonably appears necessary to provide security, when it is necessary for investigative purposes or when so directed by a
        supervisor.</p>
    <p>Members should not provide emergency escort for medical transport or civilian vehicles.</p>

    <h3>469.5 PERSONS REFUSING EMS CARE</h3>
    <p>If a person who is not in custody refuses EMS care or refuses to be transported to a medical facility, an officer shall not force that person to receive care or be transported. However, members may assist EMS personnel when EMS personnel determine
        the person lacks mental capacity to understand the consequences of refusing medical care or to make an informed decision and the lack of immediate medical attention may result in serious bodily injury or the death of the person.</p>
    <p>In cases where mental illness may be a factor, the officer should consider proceeding with a 72- hour hold in accordance with the Civil Commitments Policy.</p>
    <p>If an officer believes that a person who is in custody requires EMS care and the person refuses, he/she should encourage the person to receive medical treatment. The officer may also consider contacting a family member to help persuade the person
        to agree to treatment or who may be able to authorize treatment for the person.</p>
    <p>If the person still refuses, the officer will require the person to be transported to the nearest medical facility. In such cases, the officer should consult with a supervisor prior to the transport.</p>
    <p>Members shall not sign refusal-for-treatment forms or forms accepting financial responsibility for treatment.</p>
    <h4>469.5.1 SICK OR INJURED ARRESTEE</h4>
    <p>If an arrestee appears ill or injured, or claims illness or injury, he/she should be medically cleared prior to booking. If the officer has reason to believe the arrestee is feigning injury or illness, the officer should contact a supervisor, who
        will determine whether medical clearance will be obtained prior to booking.</p>
    <p>If the jail or detention facility refuses to accept custody of an arrestee based on medical screening, the officer should note the name of the facility person refusing to accept custody and the reason for refusal, and should notify a supervisor to
        determine the appropriate action.</p>
    <p>Arrestees who appear to have a serious medical issue should be transported by ambulance. Officers shall not transport an arrestee to a hospital without a supervisor’s approval.</p>

    <h3>469.6 MEDICAL ATTENTION RELATED TO USE OF FORCE</h3>
    <p>Specific guidelines for medical attention for injuries sustained from a use of force may be found in the Use of Force, Handcuffing and Restraints, Control Devices and Conducted Energy Device policies.</p>

    <h3>469.7 AIR AMBULANCE</h3>
    <p>Generally, when on-scene, EMS personnel will be responsible for determining whether an air ambulance response should be requested. An air ambulance may be appropriate when there are victims with life-threatening injuries or who require specialized
        treatment (e.g., gunshot wounds, burns, obstetrical cases), and distance or other known delays will affect the EMS response.</p>
    <p>The local agency should develop guidelines for air ambulance landings or enter into local operating agreements for the use of air ambulances, as applicable. In creating those guidelines, theDepartment should identify:</p>
    <ul>
        <li>Responsibility and authority for designating a landing zone and determining the size of the landing zone.</li>
        <li>Responsibility for securing the area and maintaining that security once the landing zone is identified.</li>
        <li>Consideration of the air ambulance provider’s minimum standards for proximity to vertical obstructions and surface composition (e.g., dirt, gravel, pavement, concrete, grass).</li>
        <li>Consideration of the air ambulance provider’s minimum standards for horizontal clearance from structures, fences, power poles, antennas or roadways.</li>
        <li>Responsibility for notifying the appropriate highway or transportation agencies if a roadway is selected as a landing zone.</li>
        <li>Procedures for ground personnel to communicate with flight personnel during the operation.</li>
    </ul>
    <p>One department member at the scene should be designated as the air ambulance communications contact. Headlights, spotlights and flashlights should not be aimed upward at the air ambulance. Members should direct vehicle and pedestrian traffic away
        from the landing zone.</p>
    <p>Members should follow these cautions when near an air ambulance:</li>
        <ul>
            <li>Never approach the aircraft until signaled by the flight crew.</li>
            <li>Always approach the aircraft from the front.</li>
            <li>Avoid the aircraft’s tail rotor area.</li>
            <li>Wear eye protection during landing and take-off.</li>
            <li>Do not carry or hold items, such as IV bags, above the head.</li>
            <li>Ensure that no one smokes near the aircraft.</li>
        </ul>

        <h3>469.8 AUTOMATED EXTERNAL DEFIBRILLATOR (AED) USE</h3>
        <h4>469.8.1 AED USER RESPONSIBILITY</h4>
        <p>Members who are issued AEDs for use in department vehicles should check the AED at the beginning of the shift to ensure it is properly charged and functioning. Any AED that is not functioning properly will be taken out of service and given to
            the Inspections Unit who is responsible for ensuring appropriate maintenance.</p>
        <p>Following use of an AED, the device shall be cleaned and/or decontaminated as required. The electrodes and/or pads will be replaced as recommended by the AED manufacturer.</p>
        <p>Any member who uses an AED should contact Transit Control Center as soon as possible and request response by EMS.</p>
        <h4>469.8.2 AED REPORTING</h4>
        <p>Any member using an AED will complete an incident report detailing its use.</p>
        <h4>469.8.3 AED TRAINING AND MAINTENANCE</h4>
        <p>The Training Supervisor should ensure appropriate training is provided to members authorized to use an AED.</p>
        <p>The Inspections Unit is responsible for ensuring AED devices are appropriately maintained and will retain records of all maintenance in accordance with the established records retention schedule.</p>
</div>