<div class="chapter" id="470">
    <h2>470 - Crisis Intervention Incidents</h2>
    <h3>470.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for interacting with those who may be experiencing a mental health or emotional crisis. Interaction with such individuals has the potential for miscommunication and violence. It often requires an officer to make difficult
        judgments about a person’s mental state and intent in order to effectively and legally interact with the individual.</p>
    <h4>470.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Person in crisis</strong> - A person whose level of distress or mental health symptoms have exceeded the person’s internal ability to manage his/her behavior or emotions. A crisis can be precipitated by any number of things, including an increase
        in the symptoms of mental illness despite treatment compliance; non-compliance with treatment, including a failure to take prescribed medications appropriately; or any other circumstance or event that causes the person to engage in erratic, disruptive
        or dangerous behavior that may be accompanied by impaired judgment.</p>

    <h3>470.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing a consistently high level of service to all members of the community and recognizes that persons in crisis may benefit from intervention. The Department will collaborate, where feasible,
        with mental health professionals to develop an overall intervention strategy to guide its members’ interactions with those experiencing a mental health crisis. This is to ensure equitable and safe treatment of all involved.</p>

    <h3>470.3 SIGNS</h3>
    <p>Members should be alert to any of the following possible signs of mental health issues or crises:</p>
    <ol class="alpha">
        <li>A known history of mental illness</li>
        <li>Threats of or attempted suicide</li>
        <li>Loss of memory</li>
        <li>Incoherence, disorientation or slow response</li>
        <li>Delusions, hallucinations, perceptions unrelated to reality or grandiose ideas</li>
        <li>Depression, pronounced feelings of hopelessness or uselessness, extreme sadness or guilt</li>
        <li>Social withdrawal</li>
        <li>Manic or impulsive behavior, extreme agitation, lack of control</li>
        <li>Lack of fear</li>
        <li>Anxiety, aggression, rigidity, inflexibility or paranoia</li>
    </ol>
    <p>Members should be aware that this list is not exhaustive. The presence or absence of any of these should not be treated as proof of the presence or absence of a mental health issue or crisis.</p>

    <h3>470.4 COORDINATION WITH MENTAL HEALTH PROFESSIONALS</h3>
    <p>The Chief of Police should designate an appropriate Captain to collaborate with mental health professionals to develop an education and response protocol. It should include a list of community resources to guide department interaction with those who
        may be suffering from mental illness or who appear to be in a mental health crisis.</p>

    <h3>470.5 FIRST RESPONDERS</h3>
    <p>Safety is a priority for first responders. It is important to recognize that individuals under the influence of alcohol, drugs or both may exhibit symptoms that are similar to those of a person in a mental health crisis. These individuals may still
        present a serious threat to officers; such a threat should be addressed with reasonable tactics. Nothing in this policy shall be construed to limit an officer’s authority to use reasonable force when interacting with a person in crisis.</p>
    <p>Officers are reminded that mental health issues, mental health crises and unusual behavior alone are not criminal offenses. Individuals may benefit from treatment as opposed to incarceration.</p>
    <p>An officer responding to a call involving a person in crisis should:</p>
    <ol class="alpha">
        <li>Promptly assess the situation independent of reported information and make a preliminary determination regarding whether a mental health crisis may be a factor.</li>
        <li>Request available backup officers and specialized resources as deemed necessary and, if it is reasonably believed that the person is in a crisis situation use conflict resolution and de- escalation techniques to stabilize the incident as appropriate.</li>
        <li>If feasible, and without compromising safety, turn off flashing lights, bright lights or sirens.</li>
        <li>Attempt to determine if weapons are present or available.</li>
        <li>Take into account the person’s mental and emotional state and potential inability to understand commands or to appreciate the consequences of his/her action or inaction, as perceived by the officer.</li>
        <li>Secure the scene and clear the immediate area as necessary.</li>
        <li>Employ tactics to preserve the safety of all participants.</li>
        <li>Determine the nature of any crime.</li>
        <li>Request a supervisor, as warranted.</li>
        <li>Evaluate any available information that might assist in determining cause or motivation for the person’s actions or stated intentions.</li>
        <li>If circumstances reasonably permit, consider and employ alternatives to force.</li>
    </ol>

    <h3>470.6 DE-ESCALATION</h3>
    <p>Officers should consider that taking no action or passively monitoring the situation may be the most reasonable response to a mental health crisis.</p>
    <p>Once it is determined that a situation is a mental health crisis and immediate safety concerns have been addressed responding members should be aware of the following considerations and should generally:</p>
    <ul>
        <li>Evaluate safety conditions.</li>
        <li>Introduce themselves and attempt to obtain the person’s name.</li>
        <li>Be patient, polite, calm, courteous and avoid overreacting.</li>
        <li>Speak and move slowly and in a non-threatening manner.</li>
        <li>Moderate the level of direct eye contact.</li>
        <li>Remove distractions or disruptive people from the area.</li>
        <li>Demonstrate active listening skills (e.g., summarize the person’s verbal communication).</li>
        <li>Provide for sufficient avenues of retreat or escape should the situation become volatile.</li>
    </ul>
    <p>Responding officers generally should not:</p>
    <ul>
        <li>Use stances or tactics that can be interpreted as aggressive.</li>
        <li>Allow others to interrupt or engage the person.</li>
        <li>Corner a person who is not believed to be armed, violent or suicidal.</li>
        <li>Argue, speak with a raised voice or use threats to obtain compliance.</li>
    </ul>

    <h3>470.7 INCIDENT ORIENTATION</h3>
    <p>When responding to an incident that may involve mental illness or a mental health crisis, the officer should request that the dispatcher provide critical information as it becomes available. This includes:</p>
    <ol class="alpha">
        <li>Whether the person relies on drugs or medication, or may have failed to take his/her medication.</li>
        <li>Whether there have been prior incidents, suicide threats/attempts, and whether there has been previous police response.</li>
        <li>Contact information for a treating physician or mental health professional.</li>
    </ol>
    <p>Additional resources (e.g. personnel with additional/advanced crisis intervention training) and a supervisor should be requested as warranted.</p>

    <h3>470.8 SUPERVISOR RESPONSIBILITIES</h3>
    <p>A supervisor should respond to the scene of any interaction with a person in crisis. Responding supervisors should:</p>
    <ol class="alpha">
        <li>Attempt to secure appropriate and sufficient resources (e.g. personnel with additional/ advanced crisis intervention training and/or medical personnel).</li>
        <li>Closely monitor any use of force, including the use of restraints, and ensure that those subjected to the use of force are provided with timely access to medical care (see the Handcuffing and Restraints Policy).</li>
        <li>Consider strategic disengagement. Absent an imminent threat to the public and, as circumstances dictate, this may include removing or reducing law enforcement resources or engaging in passive monitoring.</li>
        <li>Ensure that all reports are completed and that incident documentation uses appropriate terminology and language.</li>
        <li>Conduct an after-action tactical and operational debriefing, and prepare an after-action evaluation of the incident to be forwarded to the Captain.</li>
        <li>Evaluate whether a critical incident stress management debriefing for involved members is warranted.</li>
    </ol>

    <h3>470.7 INCIDENT REPORTING</h3>
    <p>Members engaging in any oral or written communication associated with a mental health crisis should be mindful of the sensitive nature of such communications and should exercise appropriate discretion when referring to or describing persons and circumstances.</p>
    <p>Members having contact with a person in crisis should keep related information confidential, except to the extent that revealing information is necessary to conform to department reporting procedures or other official mental health or medical proceedings.</p>
    <h4>470.7.1 DIVERSION</h4>
    <p>Individuals who are not being arrested should be processed in accordance with the Civil Commitments Policy.</p>

    <h3>470.10 NON-LICENSED INTERACTION WITH PEOPLE IN CRISIS</h3>
    <p>Non-licensed members may be required to interact with persons in crisis in an administrative capacity, such as dispatching, records request, and animal control issues.</p>
    <ol class="alpha">
        <li>Members should treat all individuals equally and with dignity and respect.</li>
        <li>If a member believes that he/she is interacting with a person in crisis, he/she should proceed patiently and in a calm manner.</li>
        <li>Members should be aware and understand that the person may make unusual or bizarre claims or requests.</li>
    </ol>
    <p>If a person’s behavior makes the member feel unsafe, if the person is or becomes disruptive or violent, or if the person acts in such a manner as to cause the member to believe that the person may be harmful to him/herself or others, an officer should
        be promptly summoned to provide assistance.</p>

    <h3>470.11 EVALUATION</h3>
    <p>The Captain designated to coordinate the crisis intervention strategy for this department should ensure that a thorough review and analysis of the department response to these incidents is conducted annually. The report will not include identifying
        information pertaining to any involved individuals, officers or incidents and will be submitted to the Chief of Police through the chain of command.</p>

    <h3>470.12 TRAINING</h3>
    <p>In coordination with the mental health community and appropriate stakeholders, the Department will develop and provide education and training to all department members to enable them to effectively interact with persons in crisis.</p>
    <p>Additionally, the Training Supervisor will provide officers with in-service training in crisis intervention and mental illness crises as required by Minn. Stat. § 626.8469.</p>
</div>