<div class="chapter" id="471">
    <h2>471 - Civil Disputes</h2>
    <h3>471.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides members of the Metro Transit Police Department with guidance for addressing conflicts between persons when no criminal investigation or enforcement action is warranted (e.g., civil matters), with the goal of minimizing any potential
        for violence or criminal acts.</p>
    <p>The Domestic Abuse Policy will address specific legal mandates related to domestic violence court orders. References in this policy to “court orders” apply to any order of a court that does not require arrest or enforcement by the terms of the order
        or by Minnesota law.</p>

    <h3>471.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes that a law enforcement presence at a civil dispute can play an important role in the peace and safety of the community. Subject to available resources, members of this department will assist at the scene
        of civil disputes with the primary goal of safeguarding persons and property, preventing criminal activity and maintaining the peace. When handling civil disputes, members will remain impartial, maintain a calm presence, give consideration to
        all sides and refrain from giving legal or inappropriate advice.</p>

    <h3>471.3 GENERAL CONSIDERATIONS</h3>
    <p>When appropriate, members handling a civil dispute should encourage the involved parties to seek the assistance of resolution services or take the matter to the civil courts. Members must not become personally involved in disputes and shall at all
        times remain impartial.</p>
    <p>While not intended to be an exhaustive list, members should give considerations to the following when handling civil disputes:</p>
    <ol class="alpha">
        <li>Civil disputes tend to be confrontational and members should be alert that they can escalate to violence very quickly. De-escalation techniques should be used when appropriate.</li>
        <li>Members should not dismiss alleged or observed criminal violations as a civil matter and should initiate the appropriate investigation and report when criminal activity is apparent.</li>
        <li>Members shall not provide legal advice, however, when appropriate, members should inform the parties when they are at risk of violating criminal laws.</li>
        <li>Members are reminded that they shall not enter a residence or other non-public location without legal authority including valid consent.</li>
        <li>Members should not take an unreasonable amount of time assisting in these matters and generally should contact a supervisor if it appears that peacekeeping efforts longer than 30 minutes are warranted.</li>
    </ol>

    <h3>471.4 COURT ORDERS</h3>
    <p>Disputes involving court orders can be complex. Where no mandate exists for an officer to make an arrest for a violation of a court order, the matter should be addressed by documenting any apparent</p>
    <p>court order violation in a report. If there appears to be a more immediate need for enforcement action, the investigating officer should consult a supervisor prior to making any arrest.</p>
    <p>If a person appears to be violating the terms of a court order but is disputing the validity of the order or its applicability, the investigating officer should document the following:</p>
    <ol class="alpha">
        <li>The person’s knowledge of the court order or whether proof of service exists.</li>
        <li>Any specific reason or rationale the involved person offers for not complying with the terms of the order.</li>
    </ol>
    <p>A copy of the court order should be attached to the report when available. The report should be forwarded to the appropriate prosecutor. The report should also be forwarded to the court issuing the order with a notice that the report was also forwarded
        to the prosecutor for review.</p>
    <h4>471.4.1   STANDBY REQUESTS</h4>
    <p>Officers responding to a call for standby assistance to retrieve property should meet the person requesting assistance at a neutral location to discuss the process. The person should be advised that items that are disputed will not be allowed to be
        removed. The member may advise the person to seek private legal advice as to the distribution of disputed property.</p>
    <p>Members should accompany the person to the location of the property. Members should ask if the other party will allow removal of the property or whether the other party would remove the property.</p>
    <p>If the other party is uncooperative, the person requesting standby assistance should be instructed to seek private legal advice and obtain a court order to obtain the items. Officers should not order the other party to allow entry or the removal of
        any items. If there is a restraining or similar order against the person requesting standby assistance, that person should be asked to leave the scene or they may be subject to arrest for violation of the order.</p>
    <p>If the other party is not present at the location, the member will not allow entry into the location or the removal of property from the location.</p>

    <h3>471.5 VEHICLES AND PERSONAL PROPERTY</h3>
    <p>Officers may be faced with disputes regarding possession or ownership of vehicles or other personal property. Officers may review documents provided by parties or available databases (e.g., vehicle registration), but should be aware that legal possession
        of vehicles or personal property can be complex. Generally, officers should not take any enforcement action unless a crime is apparent. The people and the vehicle or personal property involved should be identified and the incident documented.</p>

    <h3>471.6 REAL PROPERTY</h3>
    <p>Disputes over possession or occupancy of real property (e.g., land, homes, apartments) should generally be handled through a person seeking a court order.</p>
</div>