<div class="chapter" id="472">
    <h2>472 - Suspicious Activity Reporting</h2>
    <h3>472.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for reporting and investigating suspicious and criminal activity.</p>
    <h4>472.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Involved party</strong> - An individual who has been observed engaging in suspicious activity, as defined in this policy, when no definitive criminal activity can be identified, thus precluding the person’s identification as a suspect.</p>
    <p><strong>Suspicious activity</strong> - Any reported or observed activity that a member reasonably believes may have a nexus to any criminal act or attempted criminal act, or to foreign or domestic terrorism. Race, ethnicity, national origin or religious
        affiliation should not be considered as factors that create suspicion (although these factors may be used as specific suspect descriptions). Examples of suspicious activity may include, but are not limited to:</p>
    <ul>
        <li>Suspected pre-operational surveillance or intelligence gathering (e.g., photographing security features, asking questions about sensitive security-related subjects).</li>
        <li>Tests of security measures and response to incidents (e.g., “dry run,” creating false alarms, attempts to enter secure areas without authorization).</li>
        <li>Suspicious purchases (e.g., purchasing large quantities of otherwise legal items, such as fertilizer, that could be used to create an explosive or other dangerous device).</li>
        <li>An individual in possession of such things as a hoax explosive or dispersal device, sensitive materials (e.g., passwords, access codes, classified government information), or coded or ciphered literature or correspondence.</li>

    </ul>
    <p><strong>Suspicious Activity Report (SAR)</strong> - An incident report used to document suspicious activity.</p>

    <h3>472.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes the need to protect the public from criminal conduct and acts of terrorism and shall lawfully collect, maintain and disseminate information regarding suspicious activities, while safeguarding civil liberties
        and privacy protections.</p>

    <h3>472.3 RESPONSIBILITIES</h3>
    <p>The Criminal Investigations supervisor and authorized designees will manage SAR activities. Authorized designees should include supervisors who are responsible for department participation in criminal intelligence systems as outlined in the Criminal
        Organizations Policy.</p>
    <p>The responsibilities of the Criminal Investigations supervisor include, but are not limited to:</p>
    <ol class="alpha">
        <li>Remaining familiar with those databases available to the Department that would facilitate the purpose of this policy.</li>
        <li>Maintaining adequate training in the area of intelligence gathering to ensure no information is being maintained that would violate the law or civil rights of any individual.</li>
        <li>Ensuring a process is available that would allow members to report relevant information. The process should be designed to promote efficient and quick reporting, and should not be cumbersome, duplicative or complicated.</li>
        <li>Ensuring that members are made aware of the purpose and value of documenting information regarding suspicious activity, as well as the databases and other information resources that are available to the Department.</li>
        <li>Ensuring that SAR information is appropriately disseminated to members in accordance with their job responsibilities.</li>
        <li>Coordinating investigative follow-up, if appropriate.</li>
        <li>Coordinating with any appropriate agency or fusion center.</li>
        <li>Ensuring that, as resources are available, the Department conducts outreach that is designed to encourage members of the community to report suspicious activity and that outlines what they should look for and how they should report it (e.g., website,
            public service announcements).</li>
    </ol>

    <h3>472.4 REPORTING AND INVESTIGATION</h3>
    <p>Any department member receiving information regarding suspicious activity should take any necessary immediate and appropriate action, including a request for tactical response or immediate notification of specialized entities, when applicable. Any
        non-licensed member who receives such information should ensure that it is passed on to an officer in a timely manner.</p>
    <p>If the suspicious activity is not directly related to a reportable crime, the member should prepare a SAR and include information about involved parties and the circumstances of the incident. If, during any investigation, an officer becomes aware
        of suspicious activity that is unrelated to the current investigation, the information should be documented separately in a SAR and not included in the original incident report. The report number of the original incident should be included in
        the SAR as a cross reference. A SAR should be processed as any other incident report.</p>

    <h3>472.5 HANDLING INFORMATION</h3>
    <p>The Records Section will forward copies of SARs, in a timely manner, to the following:</p>
    <ul>
        <li>Investigation Division supervisor</li>
        <li>Crime Analysis Unit</li>
        <li>Other authorized designees</li>
    </ul>
</div>