<div class="chapter" id="473">
    <h2>473 - First Amendment Assemblies</h2>
    <h3>473.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance for responding to public assemblies or demonstrations.</p>

    <h3>473.2 POLICY</h3>
    <p>The Metro Transit Police Department respects the rights of people to peaceably assemble. It is the policy of this department not to unreasonably interfere with, harass, intimidate or discriminate against persons engaged in the lawful exercise of their
        rights, while also preserving the peace, protecting life and preventing the destruction of property.</p>

    <h3>473.3 GENERAL CONSIDERATIONS</h3>
    <p>Individuals or groups present on the public way, such as public facilities, streets or walkways, generally have the right to assemble, rally, demonstrate, protest or otherwise express their views and opinions through varying forms of communication,
        including the distribution of printed matter. These rights may be limited by laws or ordinances regulating such matters as the obstruction of individual or vehicle access or egress, trespass, noise, picketing, distribution of handbills, leafleting
        and loitering. However, officers shall not take action or fail to take action based on the opinions being expressed.</p>
    <p>Participant behavior during a demonstration or other public assembly can vary. This may include, but is not limited to:</p>
    <ul>
        <li>Lawful, constitutionally protected actions and speech.</li>
        <li>Civil disobedience (typically involving minor criminal acts).</li>
        <li>Rioting.</li>
    </ul>
    <p>All of these behaviors may be present during the same event. Therefore, it is imperative that law enforcement actions are measured and appropriate for the behaviors officers may encounter. This is particularly critical if force is being used. Adaptable
        strategies and tactics are essential. The purpose of a law enforcement presence at the scene of public assemblies and demonstrations should be to preserve the peace, to protect life and prevent the destruction of property.</p>
    <p>Officers should not:</p>
    <ol class="alpha">
        <li>Engage in assembly or demonstration-related discussion with participants.</li>
        <li>Harass, confront or intimidate participants.</li>
        <li>Seize the cameras, cell phones or materials of participants or observers unless an officer is placing a person under lawful arrest.</li>
    </ol>
    <p>Supervisors should continually observe department members under their commands to ensure that members’ interaction with participants and their response to crowd dynamics is appropriate.</p>
    <h4>473.3.1 PHOTOGRAPHS AND VIDEO RECORDINGS</h4>
    <p>Photographs and video recording, when appropriate, can serve a number of purposes, including support of criminal prosecutions by documenting criminal acts; assistance in evaluating department performance; serving as training material; recording the
        use of dispersal orders; and facilitating a response to allegations of improper law enforcement conduct.</p>
    <p>Photographs and videos will not be used or retained for the sole purpose of collecting or maintaining information about the political, religious or social views of associations, or the activities of any individual, group, association, organization,
        corporation, business or partnership, unless such information directly relates to an investigation of criminal activities and there is reasonable suspicion that the subject of the information is involved in criminal conduct.</p>

    <h3>473.4 UNPLANNED EVENTS</h3>
    <p>When responding to an unplanned or spontaneous public gathering, the first responding officer should conduct an assessment of conditions, including, but not limited to, the following:</p>
    <ul>
        <li>Location</li>
        <li>Number of participants</li>
        <li>Apparent purpose of the event</li>
        <li>Leadership (whether it is apparent and/or whether it is effective)</li>
        <li>Any initial indicators of unlawful or disruptive activity</li>
        <li>Indicators that lawful use of public facilities, streets or walkways will be impacted</li>
        <li>Ability and/or need to continue monitoring the incident</li>
    </ul>
    <p>Initial assessment information should be promptly communicated to Transit Control Center, and the assignment of a supervisor should be requested. Additional resources should be requested as appropriate. The responding supervisor shall assume command
        of the incident until command is expressly assumed by another, and the assumption of command is communicated to the involved members. A clearly defined command structure that is consistent with the Incident Command System (ICS) should be established
        as resources are deployed.</p>

    <h3>473.5 PLANNED EVENT PREPARATION</h3>
    <p>For planned events, comprehensive, incident-specific operational plans should be developed. The ICS should be considered for such events.</p>
    <h4>473.5.1 INFORMATION GATHERING AND ASSESSMENT</h3>
							                                <p>In order to properly assess the potential impact of a public assembly or demonstration on public safety and order, relevant information should be collected and vetted. This may include:</p>
							                                <ul>
														        <li>Information obtained from outreach to group organizers or leaders.</li>
														        <li>Information about past and potential unlawful conduct associated with the event or similar events.</li>
														        <li>The potential time, duration, scope and type of planned activities.</li>
														        <li>Any other information related to the goal of providing a balanced response to criminal activity and the protection of public safety interests.</li>
														    </ul>
														    <p>Information should be obtained in a transparent manner, and the sources documented. Relevant information should be communicated to the appropriate parties in a timely manner.</p>
														    <p>Information will be obtained in a lawful manner and will not be based solely on the purpose or content of the assembly or demonstration, or the race, ethnicity, national origin or religion of the participants (or any other characteristic that is unrelated to criminal conduct or the identification of a criminal subject).</p>
										                    <h3>473.5.2 OPERATIONAL PLANS</h3>
										                    <p>An operational planning team with responsibility for event planning and management should be established. The planning team should develop an operational plan for the event.</p>
										                    <p>The operational plan will minimally provide for the following:</p>
										                    <ol class="alpha">
										                        <li>Command assignments, chain of command structure, roles and responsibilities</li>
										                        <li>Staffing and resource allocation</li>
										                        <li>Management of criminal investigations</li>
										                        <li>Designation of uniform of the day and related safety equipment (e.g., helmets, shields)</li>
										                        <li>Deployment of specialized resources</li>
										                        <li>Event communications and interoperability in a multijurisdictional event</li>
										                        <li>Liaison with demonstration leaders and external agencies</li>
										                        <li>Liaison with Metropolitan Area government and legal staff</li>
										                        <li>Media relations</li>
										                        <li>Logistics: food, fuel, replacement equipment, duty hours, relief and transportation</li>
										                        <li>Traffic management plans</li>
										                        <li>First aid and emergency medical service provider availability</li>
										                        <li>Prisoner transport and detention</li>
										                        <li>Review of policies regarding public assemblies and use of force in crowd control</li>
										                        <li>Parameters for declaring an unlawful assembly</li>
										                        <li>Arrest protocol, including management of mass arrests</li>
										                        <li>Protocol for recording information flow and decisions</li>
										                        <li>Rules of engagement, including rules of conduct, protocols for field force extraction and arrests, and any authorization required for the use of force</li>
										                        <li>Protocol for handling complaints during the event</li>
										                    </ol>
										                    <h4>473.5.3 MUTUAL AID AND EXTERNAL RESOURCES</h4>
    <p>The magnitude and anticipated duration of an event may necessitate interagency cooperation and coordination. The assigned Incident Commander should ensure that any required memorandums of understanding or other agreements are properly executed, and
        that any anticipated mutual aid is requested and facilitated (see the Outside Agency Assistance Policy).</p>

    <h3>473.6 UNLAWFUL ASSEMBLY DISPERSAL ORDERS</h3>
    <p>If a public gathering or demonstration remains peaceful and nonviolent, and there is no reasonably imminent threat to persons or property, the Incident Commander should generally authorize continued monitoring of the event.</p>
    <p>Should the Incident Commander make a determination that public safety is presently or is about to be jeopardized, he/she or the authorized designee should attempt to verbally persuade event organizers or participants to disperse of their own accord.
        Warnings and advisements may be communicated through established communications links with leaders and/or participants or to the group.</p>
    <p>When initial attempts at verbal persuasion are unsuccessful, the Incident Commander or the authorized designee should make a clear standardized announcement to the gathering that the event is an unlawful assembly, and should order the dispersal of
        the participants. The announcement should be communicated by whatever methods are reasonably available to ensure that the content of the message is clear and that it has been heard by the participants. The announcement should be amplified, made
        in different languages as appropriate, made from multiple locations in the affected area and documented by audio and video. The announcement should provide information about what law enforcement actions will take place if illegal behavior continues
        and should identify routes for egress. A reasonable time to disperse should be allowed following a dispersal order.</p>

    <h3>473.7 USE OF FORCE</h3>
    <p>Use of force is governed by current department policy and applicable law (see the Use of Force, Handcuffing and Restraints, Control Devices and Techniques, and Conducted Energy Device policies).</p>
    <p>Individuals refusing to comply with lawful orders (e.g., nonviolent refusal to disperse) should be given a clear verbal warning and a reasonable opportunity to comply. If an individual refuses to comply with lawful orders, the Incident Commander shall
        evaluate the type of resistance and adopt a reasonable response in order to accomplish the law enforcement mission (such as dispersal or arrest of those acting in violation of the law). Control devices and Conducted Energy Device (CED)s should
        be considered only when the participants’ conduct reasonably appears to present the potential to harm officers, themselves or others, or will result in substantial property loss or damage (see the Control Devices and Techniques and the Conducted
        Energy Device policies).</p>
    <p>Force or control devices, including oleoresin capsaicin (OC), should be directed toward individuals and not toward groups or crowds, unless specific individuals cannot reasonably be targeted due to extreme circumstances, such as a riotous crowd.</p>
    <p>Any use of force by a member of this department shall be documented promptly, completely and accurately in an appropriate report. The type of report required may depend on the nature of the incident.</p>

    <h3>473.8 ARRESTS</h3>
    <p>The Metro Transit Police Department should respond to unlawful behavior in a manner that is consistent with the operational plan. If practicable, warnings or advisements should be communicated prior to arrest.</p>
    <p>Mass arrests should be employed only when alternate tactics and strategies have been, or reasonably appear likely to be, unsuccessful. Mass arrests shall only be undertaken upon the order of the Incident Commander or the authorized designee. There
        must be probable cause for each arrest.</p>
    <p>If employed, mass arrest protocols should fully integrate:</p>
    <ol class="alpha">
        <li>Reasonable measures to address the safety of officers and arrestees.</li>
        <li>Dedicated arrest, booking and report writing teams.</li>
        <li>Timely access to medical care.</li>
        <li>Timely access to legal resources.</li>
        <li>Timely processing of arrestees.</li>
        <li>Full accountability for arrestees and evidence.</li>
        <li>Coordination and cooperation with the prosecuting authority, jail and courts (see the Citation Releases Policy).</li>
    </ol>

    <h3>473.9 MEDIA RELATIONS</h3>
    <p>The Public Information Officer should use all available avenues of communication, including press releases, briefings, press conferences and social media to maintain open channels of communication with media representatives and the public about the
        status and progress of the event, taking all opportunities to reassure the public about the professional management of the event (see the Media Relations Policy).</p>

    <h3>473.10 DEMOBILIZATION</h3>
    <p>When appropriate, the Incident Commander or the authorized designee should implement a phased and orderly withdrawal of law enforcement resources. All relieved personnel should promptly complete any required reports, including use of force reports,
        and account for all issued equipment and vehicles to their supervisors prior to returning to normal operational duties.</p>

    <h3>473.11 POST EVENT</h3>
    <p>The Incident Commander should designate a member to assemble full documentation of the event, to include the following:</p>
    <ol class="alpha">
        <li>Operational plan</li>
        <li>Any incident logs</li>
        <li>Any assignment logs</li>
        <li>Vehicle, fuel, equipment and supply records</li>
        <li>Incident, arrest, use of force, injury and property damage reports</li>
        <li>Photographs, audio/video recordings, Transit Control Center records/tapes</li>
        <li>Media accounts (print and broadcast media)</li>
    </ol>
    <h4>473.11.1 AFTER-ACTION REPORTING</h4>
    <p>The Incident Commander should work with Metropolitan Council legal counsel, if needed and as appropriate, to prepare a comprehensive after-action report of the event, explaining all incidents where force was used including the following:</p>
    <ol class="alpha">
        <li>Date, time and description of the event</li>
        <li>Actions taken and outcomes (e.g., injuries, property damage, arrests)</li>
        <li>Problems identified</li>
        <li>Significant events</li>
        <li>Recommendations for improvement; opportunities for training should be documented in a generic manner, without identifying individuals or specific incidents, facts or circumstances.</li>
    </ol>

    <h3>473.12 TRAINING</h3>
    <p>Department members should receive periodic training regarding this policy, as well as the dynamics of crowd control and incident management. The Department should, when practicable, train with its external and mutual aid partners.</p>
</div>