<div class="chapter" id="474">
    <h2>474 - Medical Cannabis</h2>
    <h3>474.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide members of this department with guidelines for investigating the possession or use of medical cannabis under Minnesota’s medical cannabis laws.</p>
    <h4>474.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include (Minn. Stat. § 152.22):</p>
    <p><strong>Medical cannabis</strong> - Any species of the genus cannabis plant, or any mixture or preparation of them, including whole plant extracts and resins in the form of a liquid, oil or pill, that is properly packaged and labeled with:</p>
    <ol class="alpha">
        <li>The name and address of the authorized manufacturer.</li>
        <li>The patient’s registry identification number, name, date of birth and address.</li>
        <li>The chemical composition of medical cannabis.</li>
        <li>Recommended dosage.</li>
        <li>Directions for use.</li>
        <li>Batch number.</li>
        <li>Date of manufacture.</li>
    </ol>
    <p>Raw leaves, flowers and edibles are not included.</p>
    <p><strong>Patient</strong> - A Minnesota resident who has been diagnosed with a qualifying medical condition by a health care practitioner and who has met any other requirements for patients under Minn. Stat. § 152.22 et seq.</p>
    <p><strong>Caregiver</strong> - A person who has been approved by the Minnesota Commissioner of Health to assist a patient who is unable to self-administer medication or acquire medical cannabis from a distribution facility due to a disability, and who
        is authorized to assist the patient with the use of medical cannabis.</p>

    <h3>474.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to prioritize resources to avoid making arrests related to medical cannabis that the arresting officer reasonably believes would not be prosecuted by state or federal authorities.</p>
    <p>Minnesota medical cannabis laws are intended to provide protection from prosecution to those who use or possess medical cannabis for medical purposes. The Metro Transit Police Department will exercise discretion to ensure laws are appropriately enforced
        without unreasonably burdening both those individuals protected under Minnesota law and the resources of the Department.</p>

    <h3>474.3 INVESTIGATION</h3>
    <p>Investigations involving the possession or use of cannabis generally fall into one of two categories:</p>
    <ol class="alpha">
        <li>Investigations when no person makes a medicinal claim.</li>
        <li>Investigations when a person claims to be a patient or caregiver.</li>
    </ol>
    <h4>474.3.1 INVESTIGATIONS WITH NO MEDICAL CLAIM</h4>
    <p>In any investigation involving the possession, delivery, production or use of a cannabis product or drug paraphernalia where no person claims that the cannabis is used for medicinal purposes, the officer should proceed with a criminal investigation.
        A medicinal claim may be raised at any time, so officers should document any statements and observations that may be relevant to whether the cannabis was possessed or produced for medicinal purposes.</p>
    <h4>474.3.2 INVESTIGATIONS INVOLVING A PATIENT OR CAREGIVER</h4>
    <p>Arrest shall not be made for the possession of medical cannabis by a patient, a caregiver or the parent or legal guardian of a patient (Minn. Stat. § 152.32).</p>
    <p>Possession of medical cannabis properly packaged and labeled by an authorized manufacturer should suffice for verification of a person’s status as a patient. The possession of medical cannabis registry verification from the Minnesota Department of
        Health should also suffice for verification a person’s status as a patient or caregiver (Minn. Stat. § 152.22; Minn. Stat. § 152.27).</p>
    <h4>474.3.3 EXCEPTIONS</h4>
    <p>This policy does not apply to the following offenses. Officers may take enforcement action if the person (Minn. Stat. § 152.23):</p>
    <ol class="alpha">
        <li>Possesses or engages in the use of medical cannabis on a school bus or van, on the grounds of any preschool or primary or secondary school, in any correctional facility, or on the grounds of any child care facility or home daycare.</li>
        <li>Vaporizes medical cannabis on any form of public transportation, where the vapor would be inhaled by a non-patient minor child, or in any public place or a place of employment.</li>
        <li>Operates any motor vehicle, aircraft, train or motorboat, or works on transportation property, equipment or facilities while under the influence of medical cannabis.</li>
    </ol>

    <h3>474.4 FEDERAL LAW ENFORCEMENT</h3>
    <p>Officers should provide information regarding a medical cannabis investigation to federal law enforcement authorities when it is requested by federal law enforcement authorities or whenever the officer believes those authorities would have a particular
        interest in the information.</p>

    <h3>474.5 PROPERTY AND EVIDENCE SUPERVISOR RESPONSIBILITIES</h3>
    <p>The Property and Evidence supervisor shall ensure that medical cannabis, drug paraphernalia or other related property seized from a person engaged or assisting in the use of medical cannabis is not destroyed. Upon the prosecutor’s decision to forgo
        prosecution, or the dismissal of charges or an acquittal, the Property and Evidence supervisor shall as soon as practicable return to the person from whom it was seized any medical cannabis, drug paraphernalia or other related property.</p>
    <p>The Property and Evidence supervisor may not destroy medical cannabis except upon receipt of a court order.</p>
    <p>The Property and Evidence supervisor may release medical cannabis to federal law enforcement authorities upon presentation of a valid court order or by a written order of the Investigation Division supervisor.</p>
</div>