<div class="chapter" id="500">
    <h2>500 - Traffic Function and Responsibility</h2>
    <h3>500.1 PURPOSE AND SCOPE</h3>
    <p>The ultimate goal of traffic law enforcement is to reduce traffic collisions. This may be achieved through the application of such techniques as geographic/temporal assignment of personnel and equipment and the establishment of preventative patrols
        to deal with specific categories of unlawful driving behavior. Traffic enforcement techniques are based on collision data, enforcement activity records, traffic volume and traffic conditions. This department provides enforcement efforts toward
        violations, not only in proportion to the frequency of their occurrence in collision situations but also in terms of traffic-related needs.</p>

    <h3>500.2 TRAFFIC OFFICER DEPLOYMENT</h3>
    <p>Several factors are considered in the development of deployment schedules for officers of the Metro Transit Police Department. Information provided by the Minnesota Office of Traffic Safety (OTS) is a valuable resource for traffic collision occurrences
        and therefore officer deployment. Some of the factors for analysis include:</p>
    <ul>
        <li>Location</li>
        <li>Time</li>
        <li>Day</li>
        <li>Violation factors</li>
    </ul>
    <p>All officers assigned to patrol or traffic enforcement functions will emphasize enforcement of collision-causing violations during periods of high-collision incidence and at locations of occurrence. All officers will take directed enforcement action
        on request, and random enforcement action when appropriate, against violators as a matter of routine. All officers shall maintain high visibility while working general enforcement, especially at high-collision incidence locations.</p>
    <p>Other factors to be considered for deployment are citizen requests, construction zones or special events.</p>

    <h3>500.3 ENFORCEMENT</h3>
    <p>Enforcement actions are commensurate with applicable laws and take into account the degree and severity of the violation committed. This department does not establish ticket quotas and the number of citations issued by any officer shall not be used
        when evaluating officer performance (Minn. Stat. § 169.985; Minn. Stat. § 299D.08). The visibility and quality of an officer’s work effort will be commensurate with the philosophy of this policy. Several methods are effective in the reduction
        of collisions:</p>
    <h4>500.3.1 WARNINGS</h4>
    <p>Warnings or other non-punitive enforcement actions should be considered in each situation and substituted for arrests or citations when circumstances warrant.</p>
    <h4>500.3.2 TRAFFIC CITATIONS</h4>
    <p>Traffic citations may be issued when an officer believes it is appropriate. It is essential that officers fully explain the rights and requirements imposed on motorists upon issuance of a citation for a traffic violation. Officers should provide the
        following information at a minimum:</p>
    <ol class="alpha">
        <li>Explanation of the violation or charge.</li>
        <li>Court appearance procedure, including the optional or mandatory appearance by the motorist.</li>
        <li>Notice of whether the motorist can enter a plea and pay the fine by mail or at the court.</li>
        <li>The court contact information.</li>
    </ol>
    <h4>500.3.3 TRAFFIC CITATION COURT JURISDICTION</h4>
    <p>An officer who issues a traffic citation shall ensure that the citation is properly directed to the court having jurisdiction (Minn. Stat. § 169.91 Subd. 3).</p>
    <h4>500.3.4 PHYSICAL ARREST</h4>
    <p>Physical arrest can be made on a number of criminal traffic offenses. These physical arrest cases usually deal with, but are not limited to (Minn. Stat. § 169.91):</p>
    <ol class="alpha">
        <li>Negligent homicide.</li>
        <li>Driving under the influence of alcohol/drugs.</li>
        <li>Hit-and-run resulting in serious injury or death.</li>
        <li>Hit-and-run resulting in damage to any vehicle or property.</li>
    </ol>

    <h3>500.4 HIGH-VISIBILITY VESTS</h3>
    <p>The Department has provided American National Standards Institute (ANSI) Class II high-visibility vests to increase the visibility of department members who may be exposed to hazards presented by passing traffic, maneuvering or operating vehicles,
        machinery and equipment (23 CFR 655.601; Minn. R. 5205.0030).</p>
    <p>Although intended primarily for use while performing traffic-related assignments, high-visibility vests should be worn at any time increased visibility would improve the safety or efficiency of the member.</p>
    <h4>500.4.1 REQUIRED USE</h4>
    <p>Except when working in a potentially adversarial or confrontational role, such as during vehicle stops, high-visibility vests should be worn at any time it is anticipated that an employee will be exposed to the hazards of approaching traffic or construction
        and recovery equipment. Examples of when high-visibility vests should be worn include traffic control duties, collision investigations, lane closures and while at disaster scenes, or any time high visibility is desirable. When emergency conditions
        preclude the immediate donning of the vest, officers should retrieve and wear the vest as soon as conditions reasonably permit. Use of the vests shall also be mandatory when directed by a supervisor.</p>
    <p>Vests maintained in the investigation units may be used any time a plain clothes officer might benefit from being readily identified as an officer.</p>
    <h4>500.4.2 CARE AND STORAGE OF HIGH-VISIBILITY VESTS</h4>
    <p>High-visibility vests shall be maintained in the trunk of each patrol and investigation unit, in the side box of each police motorcycle and in the saddlebag or gear bag of each police bicycle. Each vest should be stored inside the resealable plastic
        bag provided to protect and maintain the vest in a serviceable condition. Before going into service each employee shall ensure a serviceable high-visibility vest is properly stored.</p>
    <p>A supply of high-visibility vests will be maintained in the equipment room for replacement of damaged or unserviceable vests. The Training Supervisor should be promptly notified whenever the supply of vests in the equipment room needs replenishing.</p>
</div>