<div class="chapter" id="502">
    <h2>502 - Traffic Collisions</h2>
    <h3>502.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for responding to and investigating traffic collisions.</p>

    <h3>502.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to respond to traffic collisions and render or summon aid to injured victims as needed. The Department will investigate and prepare reports according to the established minimum reporting requirements
        with the goal of reducing the occurrence of collisions by attempting to identify the cause of the collision and through enforcing applicable laws. Unless restricted by law, traffic collision reports will be made available to the public upon request.</p>

    <h3>502.3 RESPONSE</h3>
    <p>Upon arriving at the scene, the responding member should assess the need for additional resources and summon assistance as appropriate. Generally, the member initially dispatched to the scene will be responsible for the investigation and report, if
        required, unless responsibility is reassigned by a supervisor.</p>
    <p>A supervisor should notified when the incident:</p>
    <ol class="alpha">
        <li>Is within the jurisdiction of this department and there is:
            <ol class="decimal">
                <li>A life-threatening injury.</li>
                <li>A fatality.</li>
                <li>A Metropolitan Council / Metro Transit vehicle involved.</li>
                <li>A Metropolitan Council / Metro Transit official or employee involved.</li>
                <li>Involvement of an on- or off-duty member of this department.</li>
            </ol>
        </li>
        <li>Is within another jurisdiction and there is:</p>
            <ol class="decimal">
                <li>A Metropolitan Council / Metro Transit of vehicle involved.</li>
                <li>A Metropolitan Council / Metro Transit official involved.</li>
                <li>Involvement of an on-duty member of this department.</li>
            </ol>
        </li>
    </ol>
    <h4>502.3.1 MEMBER RESPONSIBILITIES</h4>
    <p>Upon arriving at the scene, the responding member should consider and appropriately address:</p>
    <ol class="alpha">
        <li>Traffic direction and control</li>
        <li>Proper placement of emergency vehicles, cones, roadway flares or other devices if available to provide protection for members, the public and the scene.</li>
        <li>First aid for any injured parties if it can be done safely.</li>
        <li>The potential for involvement of hazardous materials.</li>
        <li>The need for additional support as necessary (e.g., traffic control, emergency medical services, fire department, HAZMAT, tow vehicles).</li>
        <li>Clearance and cleanup of the roadway.</li>
    </ol>

    <h3>502.4 NOTIFICATION</h3>
    <p>If a traffic collision involves a life-threatening injury or fatality, the responding officer shall notify the Shift Supervisor. The Shift Supervisor or any supervisor may assign a traffic investigator or other appropriate personnel to investigate
        the incident. The Shift Supervisor will ensure notification is made to the Patrol Supervisor and department command staff in accordance with the Major Incident Notification Policy.</p>
    <h4>502.4.1 NOTIFICATION OF FAMILY</h4>
    <p>In the event of a life-threatening injury or fatality, the supervisor responsible for the incident should ensure notification of the victim’s immediate family or coordinate such notification with the Medical Examiner, department chaplain or another
        suitable person. Notification should be made as soon as practicable following positive identification of the victim.</p>
    <p>The identity of any person seriously injured or deceased in a traffic collision should not be released until notification is made to the victim’s immediate family.</p>

    <h3>502.5 MINIMUM REPORTING REQUIREMENTS</h3>
    <p>A State crash report shall be taken when:</p>
    <ol class="alpha">
        <li>A fatality, any injury (including complaint of pain), impaired driving or hit and run is involved.</li>
        <li>An on-duty member of the Metropolitan Council / Metro Transit is involved.</li>
        <li>The collision results in any damage to any Metropolitan Council / Metro Transit-owned or leased vehicle.</li>
        <li>The collision involves any other public agency driver or vehicle.</li>
        <li>There is damage to public property.</li>
        <li>There is damage to any vehicle to the extent that towing is required.</li>
        <li>Prosecution or follow-up investigation is contemplated.</li>
        <li>Directed by a supervisor.</li>
    </ol>
    <h4>502.5.1 PRIVATE PROPERTY</h3>
										                    <p>Generally, reports should not be taken when a traffic collision occurs on private property unless there is an injury or fatality, a hit-and-run violation or other traffic law violation involved. Members may provide assistance to motorists as a public service, such as exchanging information and arranging for the removal of the vehicles.</p>
										                    <h4>502.5.2 METROPOLITAN COUNCIL / METRO TRANSIT VEHICLE INVOLVED</h4>
    <p>A State crash report shall be taken when a Metropolitan Council / Metro Transit vehicle is involved in a traffic collision that results in property damage or injury. In cases where minor damage has occurred to Metropolitan Council / Metro Transit
        property only, a Supervisor may complete the State crash report in lieu of an outside agency completing the report.</p>
    <p>Whenever there is damage to a Metropolitan Council / Metro Transit vehicle, a police report shall be completed and forwarded to the appropriate Captain. The traffic investigator or supervisor at the scene should determine what photographs should be
        taken of the scene and the vehicle damage.</p>
    <h4>502.5.3 INJURED ANIMALS</h4>
    <p>Department members should refer to the Firearms Policy (312.7.2 Injured Animals) when a traffic collision involves the disposition of an injured animal.</p>

    <h3>502.6 INVESTIGATION</h3>
    <p>When a traffic collision meets minimum reporting requirements the investigation should include, at a minimum:</p>
    <ol class="alpha">
        <li>Identification and interview of all involved parties.</li>
        <li>Identification and interview of any witnesses.</li>
        <li>A determination of whether a violation of law has occurred and the appropriate enforcement action.</li>
        <li>Identification and protection of items of apparent evidentiary value.</li>
        <li>Documentation of the incident as necessary (e.g., statements, measurements, photographs, collection of evidence and reporting) on the appropriate forms.</li>
    </ol>
    <h4>502.6.1 INVESTIGATION BY OUTSIDE LAW ENFORCEMENT AGENCY</h4>
    <p>The Patrol Supervisor or on-duty Shift Supervisor should request that the Minnesota Department of Public Safety (State Patrol) or other outside law enforcement agency investigate and complete a traffic collision investigation when a personal injury
        or fatal traffic collision occurs within the jurisdiction of the Metro Transit Police Department and involves:</p>
    <ol class="alpha">
        <li>An on- or off-duty member of the Department.
            <ol class="decimal">
                <li>The involved member shall complete the department traffic collision form. If the member is unable to complete the form, the supervisor shall complete it.</li>
            </ol>
        </li>
        <li>An on-or off-duty official or employee of the Metropolitan Council / Metro Transit.</li>
    </ol>
    <p>Department members shall promptly notify a supervisor when any department vehicle is involved in a traffic collision. The collision investigation and report shall be completed by the agency having jurisdiction.</p>
    <h4>502.6.2 COMMERCIAL VEHICLE COLLISIONS</h4>
    <p>Commercial vehicle collisions additionally require notification to the Minnesota State Patrol if the collision results in (Minn. Stat. § 169.783):</p>
    <ol class="alpha">
        <li>A fatality.</li>
        <li>Bodily injury to a person who, as a result of the injury, immediately receives medical treatment away from the scene of the collision.</li>
        <li>One or more vehicles incurring disabling damage as a result of the collision, requiring the vehicle to be transported away from the scene by tow truck or other motor vehicle.</li>
    </ol>
    <p>A waiver or inspection by a state trooper or other authorized person is required before a person may drive a commercial motor vehicle that was involved in such a collision (Minn. Stat. § 169.783).</p>

    <h3>502.7 ENFORCEMENT ACTION</h3>
    <p>After a thorough investigation in which physical evidence or independent witness statements indicate that a violation of a traffic law contributed to the collision, authorized members should issue a citation or arrest the offending driver, as appropriate.</p>
    <p>More serious violations, such as driving under the influence of drugs or alcohol, vehicular manslaughter or other felonies, shall be enforced. If a driver who is subject to enforcement action is admitted to a hospital, a supervisor shall be contacted
        to determine the best enforcement option.</p>

    <h3>502.8 REPORTS</h3>
    <p>Department members shall utilize forms approved by the Minnesota Department of Public Safety as required for the reporting of traffic collisions (Minn. Stat. § 169.09, Subd. 9). All such reports shall be forwarded to the Patrol Supervisor for approval
        and filing.</p>
    <h4>502.8.1 REPORT MODIFICATON</h4>
    <p>A change or modification of a written report that alters a material fact in the report may be made only by the member who prepared the report, and only prior to its approval and distribution. Once a report has been approved and distributed, corrections
        shall only be made by way of a written supplemental report. A written supplemental report may be made by any authorized member.</p>
    <h4>502.8.2 PATROL SUPERVISOR RESPONSIBILITIES</h4>
    <p>The responsibilities of the Patrol Supervisor include, but are not limited to:</p>
    <ol class="alpha">
        <li>Ensuring the monthly and quarterly reports on traffic collision information and statistics are forwarded to the Patrol Captain or other persons as required.</li>
        <li>Forwarding the traffic collision report to the Department of Public Safety within 10 days of the collision investigation (Minn. Stat. § 169.09, Subd. 8).</li>
        <li>Ensuring completion and submission of a Department of Public Safety Fatality Report when a collision results in a fatality.</li>
    </ol>
</div>