<div class="chapter" id="503">
	<h2>503 - Crash Review Boards</h2>
	<h2>503.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes a process for the Metro Transit Police Department to review vehicle crashes by its employees.</p>
    <p>The review process shall be in addition to any other review or investigation that may be conducted by any outside or multi-agency entity having jurisdiction over the investigation or evaluation of the vehicle crash.</p>

    <h3>503.2 POLICY</h3>
    <p>The Metro Transit Police Department will objectively evaluate vehicle crashes by its members to ensure that their vehicle use/operation is lawful, appropriate and consistent with training and policy.</p>

    <h3>503.3 REMOVAL FROM LINE DUTY ASSIGNMENTS</h3>
    <p>Generally, whenever an employee's actions while using department equipment, results in death or very serious injury to another, that employee will be placed in a temporary administrative assignment pending an administrative review. The Chief of Police may exercise discretion and choose not to place an employee in an administrative assignment in any case.</p>

    <h3>503.4 REVIEW BOARD</h3>
    <p>The Crash Review Board will be convened anytime a Metro Transit Police Department vehicle (owned, rented, leased etc) is involved in a crash. This includes vehicles that were being operated or parked when the crash occurred.</p>
    <p>The Chief of Police may request the Crash Review Board to investigate the circumstances surrounding any vehicle crash.</p>
    <p>The supervisor of the Crash Reconstruction Unit will convene the Crash Review Board as necessary. The involved employee's supervisor will ensure that all relevant reports, documents and materials are available for consideration and review by the board (e.g. Metro Transit Police report, DPS Motor Vehicle Crash report, crash insurance information etc).</p>
    <h4>503.4.1 COMPOSITION OF THE BOARD</h4>
    <p>The Crash Reconstruction Unit supervisor should select two Crash Review Board members from the following, as appropriate:</p>
    <ul>
        <li>Metro Transit Police Department supervisor (Sergeant or Lieutenant).</li>
        <li>One full-time officer assigned to the Crash Reconstruction Unit.</li>
    </ul>
    <p>The Crash Reconstruction Unit supervisor will serve as chairperson on the three (3) person board.</p>
    <h4>503.4.2 RESPONSIBILITIES OF THE BOARD</h4>
    <p>The Crash Review Board is empowered to conduct an administrative review and inquiry into the circumstances of a vehicle crash.</p>
    <p>The Board members may request further investigation, request reports be submitted for the Board's review and call persons to present information. The Board will not request the involved employee to appear.</p>
    <p>The Board does not have the authority to recommend discipline.</p>
    <p>The Chief of Police will determine whether the Board should delay its review until after completion of any criminal investigation, review by any prosecutorial body, filing of criminal charges, the decision not to file criminal charges or any other action. The Board should be provided all relevant material from these proceedings for its consideration.</p>
    <p>The review shall be based upon those facts which were reasonably believed, known or should have been known by the officer at the time of the incident, applying any legal requirements, department policies, procedures and approved training to those facts. Facts later discovered but unknown to the officer at the time shall neither justify nor call into question an officer's decision.</p>
    <p>The Board shall make one of the following recommended findings:</p>
    <ul>
        <li>The vehicle crash was preventable</li>
        <li>The vehicle crash was non-preventable</li>
    </ul>
    <p>A recommended finding requires a majority vote of the Board. The Board may also recommend additional investigations or reviews, such as training reviews to consider whether training should be developed or revised and policy reviews, as may be appropriate. The Board chairperson shall forward the necessary paperwork to the Internal Affairs Unit for processing. If the crash was determined to be preventable, the Internal Affairs Unit will then consult with the Chief of Police to determine if discipline should be considered and if so, the disciplinary process will be initiated.</p>
</div>