<div class="chapter" id="510">
    <h2>510 - Vehicle Towing</h2>
    <h3>510.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides the procedures for towing a vehicle by or at the direction of the Metro Transit Police Department and under the authority of Minn. Stat. § 168B.035.</p>

    <h3>510.2 STORAGE AND IMPOUNDS</h3>
    <p>Vehicles may be towed for violations of Minn. Stat. § 168B.035, including parking, registration and snow emergency violations.</p>
    <p>Vehicles may be moved or removed from a highway when in violation of Minn. Stat. § 169.32(a) or when left unattended upon any street or highway or upon any bridge or causeway or in any tunnel where such vehicle constitutes an obstruction to traffic
        (Minn. Stat. § 169.33).</p>
    <p>The responsibilities of those employees storing or impounding a vehicle are as follows:</p>
    <h4>510.2.1 COMPLETION OF VEHICLE IMPOUND AND INVENTORY REPORT</h4>
    <p>Department members requesting towing of a vehicle shall complete a Vehicle Impound and Inventory Report, including a description of property within the vehicle. A copy is to be given to the tow truck operator and the original is to be submitted to
        the Records Section as soon as practicable after the vehicle is stored.</p>
    <p>The Records Section shall promptly enter pertinent data from the completed Vehicle Impound and Inventory Report into the Minnesota Justice Information Services (MNJIS). In most, if not all cases, the local agency will enter the data into MNJIS.</p>
    <p>Approved Vehicle Impound and Inventory Report forms shall be promptly placed into the Records Section so that they are immediately available for release or for information, should inquiries be made.</p>
    <p>Within 48 hours, excluding weekends and holidays, of the towing of any such vehicle, it shall be the responsibility of the Records Section to determine through MNJIS the names and addresses of any individuals having an interest in the vehicle. Notice
        to all such individuals shall be sent by certified mail within five business days of impound (Minn. Stat. § 168B.06 Subd. 1). In most, if not all cases, the local agency should handle this step.</p>
    <h4>510.2.2 REMOVAL OF VEHICLE DISABLED IN A TRAFFIC COLLISION</h4>
    <p>When a vehicle has been involved in a traffic collision and must be removed from the scene, the officer shall have the driver select a towing company, if reasonably possible, and shall relay the request for the specified towing company to the dispatcher.
        When there is no preferred company requested, a company will be selected from the rotational list of towing companies maintained by the local agency.</p>
    <p>If the owner is incapacitated or for any reason it is necessary for the Department to assume responsibility for a vehicle involved in a collision, the officer shall request the dispatcher to call a company selected from the rotational list of towing
        companies. The officer will then conduct an inventory and store the vehicle using a Vehicle Impound and Inventory Report.</p>
    <h4>510.2.3 DRIVING A NON-CITY VEHICLE</h4>
    <p>Vehicles that have been towed by or at the direction of the Department should not be driven by police personnel unless it is necessary to move a vehicle a short distance to eliminate a hazard, prevent the obstruction of a fire hydrant or to comply
        with posted signs.</p>
    <h4>510.2.4 DISPATCHER'S RESPONSIBILITIES</h4>
    <p>Upon receiving a request for towing, the dispatcher shall promptly telephone the specified authorized towing service. The officer shall be advised when the request has been made and the towing service has been dispatched.</p>
    <p>When there is no preferred company requested, the dispatcher shall call the next firm in rotation from the list of approved towing companies and shall make appropriate entries on that form to ensure the next firm is called.</p>
    <h4>510.2.5 RECORDS SECTION RESPONSIBILITIES</h4>
    <p>Records Section personnel shall promptly enter pertinent data from the completed Vehicle Impound and Inventory Report form into the stolen vehicle system. Approved forms shall be promptly filed so that they are immediately available for release or
        review should inquiries be made.</p>
    <p>Within 48 hours of recovering a stolen vehicle or receiving notification that a vehicle reported stolen through this department has been recovered, the Records Section shall make a reasonable and good faith effort to notify the victim of the recovery.
        The notice must specify when the recovering law enforcement agency expects to release the vehicle to the owner and where the owner may pick up the vehicle. Upon recovery of a vehicle reported stolen to another agency, the Records Section is to
        promptly inform the agency that the vehicle is recovered, where it is located and when it can be released to the owner (Minn. Stat. § 169.042 Subd. 1).</p>
    <p>In most, if not all cases, the local agency shall make the necessary notifications.</p>

    <h3>510.3 TOWING SERVICES</h3>
    <p>Local law enforcement agencies periodically select one or more firms to act as official tow services and awards contracts to those firms. Those firms will be used in the following situations:</p>
    <ol class="alpha">
        <li>When it is necessary to safeguard a vehicle due to the inability of the owner or operator to take the required action.</li>
        <li>When a vehicle is being held as evidence in connection with an investigation.</li>
        <li>When it is otherwise necessary to store a motor vehicle. This would include situations involving the recovery of stolen or abandoned vehicles and the removal of vehicles obstructing traffic in violation of state or local regulations.</li>
    </ol>
    <p>If more than one firm has been awarded contracts, they shall be placed on a rotation list. Nothing in this policy shall require the Department to tow a vehicle.</p>

    <h3>510.4 TOWING AT ARREST SCENES</h3>
    <p>Whenever a person in charge or in control of a vehicle is arrested, it is the policy of this department to provide reasonable safekeeping by towing the arrestee’s vehicle subject to the exceptions described below. However, a vehicle shall be towed
        whenever it is needed for the furtherance of an investigation or prosecution of the case, or when the community caretaker doctrine would reasonably suggest that the vehicle should be towed. For example, the vehicle would present a traffic hazard
        if it were not removed, or the vehicle is located in a high-crime area and is susceptible to theft or damage if left at the scene.</p>
    <p>The following are examples of situations where consideration should be given to leaving a vehicle at the scene in lieu of towing, provided the vehicle can be lawfully parked and left in a reasonably secured and safe condition:</p>
    <ul>
        <li>Traffic-related warrant arrest.</li>
        <li>Situations where the vehicle was not used to further the offense for which the occupant was arrested nor may be subject to forfeiture proceedings.</li>
        <li>Whenever the vehicle otherwise does not need to be stored and the owner requests that it be left at the scene.</li>
    </ul>
    <p>In such cases, the handling employee shall note in the report that the owner was informed that the Department will not be responsible for theft or damages.</p>

    <h3>510.5 VEHICLE INVENTORY</h3>
    <p>All property in a stored or impounded vehicle shall be inventoried and listed on the vehicle storage form. This includes the trunk and any compartments or containers, even if they are closed and/or locked. Members conducting inventory searches should
        be as thorough and accurate as practicable in preparing an itemized inventory. These inventory procedures are for the purpose of protecting an owner's property while the owner is in police custody, to provide for the safety of officers and the
        public, and to protect the Department against fraudulent claims of lost, stolen or damaged property.</p>

    <h3>510.6 PRESERVATION OF EVIDENCE</h3>
    <p>An officer who removes a vehicle pursuant to Minn. Stat. § 168B.035 is required to take reasonable and necessary steps to preserve evidence. If there is probable cause to believe that a vehicle or its contents constitute any evidence which tends to
        show that a criminal offense has been committed, or that a particular person has committed a criminal offense, officers shall ensure that all legally required and reasonably necessary efforts are taken to preserve the evidence. Such evidence is
        to be provided safe storage and preserved until released to the owner or otherwise disposed of according to law.</p>

    <h3>510.7 SECURITY OF VEHICLES AND PROPERTY</h3>
    <p>Unless it would cause an unreasonable delay in the completion of a vehicle impound/storage or create an issue of officer safety, officer should make reasonable accommodations to permit a driver/owner to retrieve small items of value or personal need
        (e.g., cash, jewelry, cellular telephone, prescriptions) that are not considered evidence or contraband.</p>
    <p>If a search of a vehicle leaves the vehicle or any property contained therein vulnerable to unauthorized entry, theft or damage, personnel conducting the search shall take such steps as are reasonably necessary to secure and/or preserve the vehicle
        or property from such hazards.</p>
</div>