<div class="chapter" id="512">
    <h2>512 - Vehicle Impound Hearings</h2>
    <h3>512.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes a procedure for the requirement to provide vehicle storage or impound hearings.</p>

    <h3>512.2 STORED OR IMPOUND HEARING</h3>
    <p>When a vehicle is stored or impounded by any member of the Metro Transit Police Department, a hearing will be conducted upon the request of the owner or operator of the vehicle to determine if probable cause existed for the removal and placement of
        the vehicle.</p>
    <p>The hearing shall be conducted within 48 hours of the request, excluding weekends and holidays. The hearing officer must be a person other than the person who directed the storage or impound of the vehicle.</p>
    <h4>512.2.1 HEARING PROCEDURES</h4>
    <p>The vehicle storage hearing is an informal process to evaluate the validity of an order to store or impound a vehicle. The employee who caused the storage or removal of the vehicle does not need to be present for this hearing.</p>
    <p>All requests for a hearing on a stored or impounded vehicle shall be submitted in person, in writing or by telephone, within 10 days of the date appearing on the notice. The Patrol Captain will generally serve as the hearing officer. The person requesting
        the hearing may record the hearing at his/her own expense.</p>
    <p>The failure of either the registered or legal owner or interested person or his/her agent to request a hearing in a timely manner or to attend a scheduled hearing shall be considered a waiver of and satisfaction of the post-storage hearing.</p>
    <p>Any relevant evidence may be submitted and reviewed by the hearing officer to determine if reasonable grounds have been established for the storage or impound of the vehicle. The initial burden of proof established by a preponderance of the evidence
        that the storage/impound was based on probable cause rests with the Department.</p>
    <p>After consideration of all information, the hearing officer shall determine the validity of the storage or impound of the vehicle in question and then render a decision. The hearing officer shall also consider any mitigating circumstances attendant
        to the storage that reasonably would warrant the release of the vehicle or a mediation or reduction of the period the vehicle is impounded.</p>
    <ol class="alpha">
        <li>If a decision is made that reasonable grounds for storage or impound have been established, the hearing officer shall advise the inquiring party of the decision that the inquiring party may pursue further civil remedies if desired.
            <ol class="decimal">
                <li>If mitigating circumstances are found to be relevant, the hearing officer may make reasonable adjustments to the impound period, storage or assessment fees as warranted.</li>
            </ol>
        </li>
        <li>If a decision is made that reasonable grounds for storage or impound have not been established or sufficient mitigating circumstances exist, the vehicle in storage shall be released immediately. Towing and storage fees will be at the Department's
            expense.</li>
        <li>If a decision is made that reasonable grounds for storage have not been established or sufficient mitigating circumstances exist, and the vehicle has been released with fees having been paid, the receipt for such fees will be forwarded to the
            appropriate Captain. The hearing officer will recommend to the Captain that the fees paid by the registered or legal owner of the vehicle in question or the owner's agent be reimbursed by the Department.</li>
    </ol>
</div>