<div class="chapter" id="514">
    <h2>514 - Impaired Driving</h2>
    <h3>514.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance to those department members who play a role in the detection and investigation of driving while impaired (DWI).</p>

    <h3>514.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to the safety of the roadways and the community and will pursue fair but aggressive enforcement of Minnesota’s impaired driving laws.</p>

    <h3>514.3 INVESTIGATIONS</h3>
    <p>Officers should not enforce DWI laws to the exclusion of their other duties unless specifically assigned to DWI enforcement. All officers are expected to enforce these laws with due diligence.</p>
    <p>The Patrol Supervisor will develop and maintain, in consultation with the prosecuting attorney, report forms with appropriate checklists to assist investigating officers in documenting relevant information and maximizing efficiency. Any DWI investigation
        will be documented using these forms. Information documented elsewhere on the form does not need to be duplicated in the report narrative. Information that should be documented includes, at a minimum:</p>
    <ol class="alpha">
        <li>The field sobriety tests (FSTs) administered and the results.</li>
        <li>The officer’s observations that indicate impairment on the part of the individual, and the officer’s health-related inquiries that may help to identify any serious health concerns (e.g., diabetic shock).</li>
        <li>Sources of additional information (e.g., reporting party, witnesses) and their observations.</li>
        <li>Information about any audio and/or video recording of the individual’s driving or subsequent actions.</li>
        <li>The location and time frame of the individual’s vehicle operation and how this was determined.</li>
        <li>Any prior related convictions in Minnesota or another jurisdiction.</li>
    </ol>

    <h3>514.4 FIELD TESTS</h3>
    <p>The Training Coordinator should identify the primary field sobriety tests (FSTs) and any approved alternate tests for officers to use when investigating violations of DWI laws.</p>

    <h3>514.5 CHEMICAL TESTS</h3>
    <p>A person implies consent under Minnesota law to a chemical test or tests, and to providing the associated chemical sample, under any of the following (Minn. Stat. § 169A.51, Subd. 1):</p>
    <ol class="alpha">
        <li>The arresting officer has probable cause to believe the person was driving, operating or in physical control of a vehicle while impaired as defined by Minn. Stat. § 169A.20.</li>
        <li>The officer has probable cause to believe that the person is DWI and has been involved in a vehicle accident resulting in property damage, personal injury or death.</li>
        <li>The officer has probable cause to believe that the person is DWI and the person has refused to take the preliminary screening test provided for by Minn. Stat. § 169A.41.</li>
        <li>The person was administered a preliminary screening test and the results indicated an alcohol concentration of 0.08 or more.</li>
        <li>The officer has probable cause to believe the person was driving, operating or in physical control of a commercial motor vehicle with the presence of any alcohol in the person’s body.</li>
    </ol>
    <p>If a person withdraws this implied consent, or is unable to withdraw consent (e.g., the person is unconscious), the ﻿officer﻿ should consider implied consent revoked and proceed as though the person has refused to provide a chemical sample.</p>
    <h4>514.5.1 BREATH SAMPLES</h4>
    <p>The Patrol Supervisor should ensure that all devices used for the collection and analysis of breath samples are properly serviced and tested, and that a record of such service and testing is properly maintained.</p>
    <p>Officers obtaining a breath sample should monitor the device for any sign of malfunction. Any anomalies or equipment failures should be noted in the appropriate report and promptly reported to the Patrol Supervisor.</p>
    <h4>514.5.2 BLOOD SAMPLES</h4>
    <p>Only persons authorized by law to draw blood shall collect blood samples (Minn. Stat. § 169A.51, Subd. 7). The blood draw should be witnessed by the assigned officer. No officer, even if properly certified, should perform this task.</p>
    <p>Officers should inform an arrestee that if he/she chooses to provide a blood sample, a separate sample can be collected for alternate testing. Unless medical personnel object, two samples should be collected and retained as evidence, so long as only
        one puncture is required.</p>
    <p>The blood sample shall be packaged, marked, handled, stored and transported as required by the testing facility.</p>
    <p>If an arrestee cannot submit to a blood test because he/she has a bleeding disorder or has taken medication that inhibits coagulation, he/she shall not be required to take a blood test. Such inability to take a blood test should not be considered
        a refusal. However, that arrestee may be required to complete another available and viable test.</p>
    <h4>514.5.3 URINE SAMPLES</h4>
    <p>If a urine test will be performed, the arrestee should be promptly transported to the appropriate testing site. The officer shall follow any directions accompanying the urine evidence collection kit.</p>
    <p>Urine samples shall be collected and witnessed by an officer or jail staff member of the same sex as the person giving the sample. The arrestee tested should be allowed sufficient privacy to maintain his/her dignity, to the extent possible, while
        still ensuring the accuracy of the sample.</p>
    <p>The sample shall be packaged, marked, handled, stored and transported as required by the testing facility.</p>
    <h4>514.5.4 STATUTORY NOTIFICATIONS</h4>
    <p>At the time that the ﻿officer﻿ requests the person to submit to a breath test the ﻿officer﻿ must inform the person that (Minn. Stat. § 169A.51, Subd. 2):</p>
    <ol class="alpha">
        <li>Minnesota law requires that he/she take the test.</li>
        <li>Refusal to take the test is a crime.</li>
        <li>He/she has the right to consult with an attorney unless it would unreasonably delay administration of the test.</li>
    </ol>
    <p>At the time that the ﻿officer﻿ directs a person to submit to a blood or urine test pursuant to a warrant, the person must be informed that a refusal to submit to a blood or urine test is a crime (Minn. Stat. § 171.177, Subd. 1 and Subd. 2).</p>

    <h3>514.6 REFUSALS</h3>
    <p>When an arrestee refuses to provide a chemical sample officers should:</p>
    <ol class="alpha">
        <li>Advise the arrestee of the requirement to provide a sample (Minn. Stat. § 169A.51; Minn. Stat. § 171.177, Subd. 1).</li>
        <li>Audio- and/or video-record the admonishment and the response when it is legal and practicable.</li>
        <li>Document the refusal in the appropriate report.</li>
    </ol>
    <h4>514.6.1 STATUTORY NOTIFICATIONS UPON REFUSAL</h4>
    <p>Upon refusal to submit to a chemical test as required by law, officers shall personally serve the notice of intention to revoke upon the person and invalidate the person’s license in such a way that no identifying information is destroyed and immediately
        return the license to the person (Minn. Stat. § 169A.52, Subd. 7; Minn. Stat. § 171.177, Subd. 8).</p>
    <h4>514.6.2 BLOOD SAMPLE WITHOUT CONSENT</h4>
    <p>A blood sample may be obtained from a person who does not consent to a chemical test when any of the following conditions exist (Minn. Stat. § 169A.51, Subd. 3):</p>
    <ol class="alpha">
        <li>A search warrant has been obtained.</li>
        <li>The officer can articulate that exigent circumstances exist and the officer has probable cause to believe that the person has committed DWI, including vehicular homicide or injury (Minn. Stat. § 169A.52, Subd. 1; Minn. Stat. § 171.177, Subd. 13).
            Exigency does not exist solely because of the short time period associated with the natural dissipation of alcohol or controlled or prohibited substances in the person’s bloodstream. Exigency can be established by the existence of special
            facts, such as a lengthy delay in obtaining a blood sample due to a collision investigation or medical treatment of the person.</li>
    </ol>
    <p>bloodstream. Exigency can be established by the existence of special facts such as a lengthy delay in obtaining a blood sample due to a collision investigation or medical treatment of the person.</p>
    <h4>514.6.3 FORCED BLOOD SAMPLE</h4>
    <p>A forced sample may not be taken except in DWI cases involving vehicular homicide or injury (Minn. Stat. § 171.177, Subd. 13). In those cases, if a person indicates by word or action that he/she will physically resist a blood draw, the officer should
        request a supervisor to respond.</p>
    <p>The responding supervisor should:</p>
    <ol class="alpha">
        <li>Evaluate whether using force to obtain a blood sample is appropriate under the circumstances.</li>
        <li>Ensure that all attempts to obtain a blood sample through force cease if the person agrees to, and completes, a viable form of testing in a timely manner.</li>
        <li>Advise the person of his/her duty to provide a sample (even if this advisement was previously done by another officer), and attempt to persuade the person to submit to such a sample without physical resistance.
            <ol class="decimal">
                <li>This dialogue should be recorded on audio and/or video when reasonably practicable.
                </li>
            </ol>
        </li>
        <li>Ensure that the blood sample is taken in a medically approved manner.</li>
        <li>Ensure that the forced blood draw is recorded on audio and/or video when reasonably practicable.</li>
        <li>Monitor and ensure that the type and level of force applied appears reasonable under the circumstances:
            <ol class="decimal">
                <li>Unless otherwise provided in a warrant, force should generally be limited to handcuffing or similar restraint methods.</li>
                <li>In misdemeanor cases, if the arrestee becomes violent or more resistant, no additional force will be used and a refusal should be noted in the report.</li>
                <li>In felony cases, force which reasonably appears necessary to overcome the resistance to the blood draw may be permitted.</li>
            </ol>
        </li>
        <li>Ensure the use of force and methods used to accomplish the collection of the blood sample are documented in the related report.</li>
    </ol>
    <p>If a supervisor is unavailable, officers are expected to use sound judgment and perform the duties of a supervisor, as set forth above.</p>
    <h4>514.6.4  WARRANTS FOR CONTROLLED SUBSTANCES OR INCAPACITATION</h4>
    <p>﻿A blood or urine test may be required pursuant to a warrant if the ﻿officer﻿ has probable cause to believe that (Minn. Stat. § 169A.51, Subd. 4):</p>
    <ol class="alpha">
        <li>The person’s impairment is due to a controlled substance or a hazardous substance that is not subject to testing by a breath test.</li>
        <li>A controlled substance listed in Schedule I or II or its metabolite (other than marijuana or tetrahydrocannabinols), is present in the person’s body.</li>
        <li>The person is unconscious or incapacitated to the point that the ﻿officer﻿ providing the breath test advisory, administering the breath test or serving the search warrant has a good faith belief that the person is mentally or physically unable
            to comprehend the advisory or otherwise voluntarily submit to the chemical tests.</li>
    </ol>
    <p>If a person objects to the blood or urine test as directed by the warrant or ﻿officer﻿, the ﻿officer﻿ should offer the other type of test if the person is conscious. Action may be taken against a person refusing to submit to a blood or urine test
        only if an alternate test of blood or urine, as applicable, was offered (Minn. Stat. § 169A.51, Subd. 4; Minn. Stat. § 171.177, Subd. 2).</p>

    <h3>514.7 ARREST AND INVESTIGATION</h3>
    <h4>514.7.1 RIGHT TO ATTORNEY CONTACTS</h4>
    <p>A person has a limited right to consult with an attorney prior to submitting to a chemical test. This right is limited to the extent that it cannot unreasonably delay administration of the test (Minn. Stat. § 169A.51, Subd. 2).</p>
    <h4>514.7.2 ARREST AUTHORITY</h4>
    <p>An officer may arrest a person without a warrant and without regard to whether the offense was committed in the officer’s presence if there is probable cause to believe the person committed (Minn. Stat. § 169A.40):</p>
    <ol class="alpha">
        <li>A DWI offense (Minn. Stat. § 169A.20).</li>
        <li>An alcohol-related driving offense involving a school bus or a Head Start bus (Minn. Stat. § 169A.31).</li>
        <li>An underage drinking and driving offense (Minn. Stat. § 169A.33).</li>
    </ol>
    <h4>514.7.3  OFFICER RESPONSIBILITIES</h4>
    <p>If an officer requests that a person submit to a chemical test and the person refuses such request, the officer shall report such refusal to the Commissioner of the Department of Public Safety (DPS) and the appropriate prosecuting attorney (Minn.
        Stat. § 169A.52, Subd. 1; Minn. Stat. § 171.177, Subd. 3).</p>
    <p>If a person refuses to submit to a test or in the alternative submits to a test and the results indicate a prohibited alcohol concentration, the officer shall immediately give notice to the person that his/her driving privilege will be revoked and
        shall (Minn. Stat. § 169A.52, Subd. 7; Minn. Stat. § 171.177, Subd. 8):</p>
    <ol class="alpha">
        <li>Issue the person a temporary license effective for only seven days.
            <ol class="decimal">
                <li>Officers are not required to issue a person a temporary license if the person’s driving privilege is under withdrawal by DPS or if the person is unlicensed.</li>
            </ol>
        </li>
        <li>Send the notification of this action to the Commissioner of the DPS along with the certification that there was probable cause to believe the person had been driving, operating or in physical control of a motor vehicle while impaired, and that
            the person either refused to submit to a test or submitted to a test and the results indicated a prohibited alcohol concentration or drug presence.</li>
    </ol>
    <p>Test results of a person that indicate a prohibited alcohol concentration or drug presence shall be forwarded to the Commissioner of the DPS and the appropriate prosecuting attorney (Minn. Stat. § 169A.52, Subd. 2).</p>
    <h4>514.7.4 PRELIMINARY SCREENING TEST</h4>
    <p>An officer who has reason to believe the person was driving, operating or in physical control of a motor vehicle while impaired, may require the person to provide a sample of the person’s breath for a preliminary screening test using a device approved
        by the DPS Commissioner (Minn. Stat. § 169A.41, Subd. 1).</p>
    <p>The officer must use the results of the preliminary screening test for the purpose of deciding whether to arrest the person and require further chemical testing pursuant to Minn. Stat. § 169A.51 (Minn. Stat. § 169A.41, Subd. 2).</p>
    <h4>514.7.5 ADDITIONAL TESTING</h4>
    <p>An officer shall permit a person required to submit to a chemical test to have a qualified person of his/her own choosing administer a separate chemical test (Minn. Stat. § 169A.51, Subd. 7(b)). The separate chemical test shall:</p>
    <ol class="alpha">
        <li>Be conducted at the place where the person is in custody.</li>
        <li>Be conducted after the officer has administered the statutorily mandated test.</li>
        <li>Impose no expense to the state.</li>
    </ol>
    <h4>514.7.6 ADDITIONAL REQUIREMENTS FOR BREATH SAMPLES</h4>
    <p>All breath samples requested in accordance with this policy shall be obtained in accordance with Minn. Stat. § 169A.51, Subd. 5.</p>

    <h3>514.8 RECORDS SECTION RESPONSIBILITIES</h3>
    <p>The Records Supervisor will ensure that all case-related records are transmitted according to current records procedures and as required by the prosecuting attorney’s office.</p>

    <h3>514.9 ADMINISTRATIVE HEARINGS</h3>
    <p>The Records Supervisor will ensure that all appropriate reports and documents related to administrative license suspensions are reviewed and forwarded to the Driver and Vehicle Services Division (DVS) of the DPS.</p>
    <p>Any officer who receives notice of required attendance to an administrative license suspension hearing should promptly notify the prosecuting attorney.</p>
    <p>An officer called to testify at an administrative hearing should document the hearing date and the DVS file number in a supplemental report. Specific details of the hearing generally should not be included in the report unless errors, additional evidence
        or witnesses are identified.</p>

    <h3>514.10 TRAINING</h3>
    <p>The Training Supervisor should ensure that officers participating in the enforcement of DWI laws receive regular training. Training should include at minimum current laws on impaired driving, investigative techniques and rules of evidence pertaining
        to DWI investigations. The Training Supervisor should confer with the prosecuting attorney’s office and update training topics as needed.</p>
</div>