<div class="chapter" id="516">
    <h2>516 - Traffic Citations</h2>
    <h3>516.1 PURPOSE AND SCOPE</h3>
    <p>This policy outlines the responsibility for traffic citations, the collection of data, the procedure for dismissal, correction and voiding of traffic citations.</p>

    <h3>516.2 RESPONSIBILITIES</h3>
    <p>The Patrol Captain shall be responsible for the development and design of all Interim Directive traffic citations in compliance with state law (Minn. Stat. § 169.99 and Minn. Stat. § 169.999 Subd. 3).</p>
    <p>The Records Section shall be responsible for the supply and accounting of all traffic citations issued to employees of this department. Citations will be kept in the report writing room and are available to all officers</p>
    <h4>516.2.1 DATA COLLECTION</h3>
														    <p>The Records Section should maintain information relating to traffic stops in which a citation is issued and to arrests resulting from those traffic stops, including information relating to:</p>
														    <ol class="alpha">
														        <li>The race or ethnicity of the individual detained.</li>
														        <li>Whether a search was conducted and, if so, whether the person detained consented to the search.</li>
														    </ol>
														    <p>The Records Section should submit an annual report to the Chief of Police of the information collected to assist in the implementation and administration of the Department’s Racial- or Bias- Based Profiling Policy required by state law (Minn. Stat. § 626.8471 Subd. 4).</p>

											                <h3>516.3 DISMISSAL OF TRAFFIC CITATIONS</h3>
											                <p>Employees of this department do not have the authority to dismiss a citation once it has been issued. Only the court has the authority to dismiss a citation that has been issued. Any request from a recipient to dismiss a citation shall be referred to the Shift Supervisor. Upon a review of the circumstances involving the issuance of the traffic citation, the Shift Supervisor may request the Patrol Captain to recommend dismissal of the traffic citation. If approved, the citation will be forwarded to the appropriate prosecutor with a request for dismissal. All recipients of traffic citations whose request for dismissal of a traffic citation has been denied shall be referred to the appropriate court.</p>
											                <p>Should an officer determine during a court proceeding that a traffic citation should be dismissed in the interest of justice or where prosecution is deemed inappropriate, the officer may request the prosecutor to dismiss the citation. Upon dismissal of the traffic citation by the court, the officer shall notify his/her immediate supervisor of the circumstances surrounding the dismissal and shall complete any paperwork as directed or required. The citation dismissal shall then be forwarded to the Patrol Captain for review.</p>
											                <p>Members of the Department should provide a report or other verification to the owner of a stolen vehicle that may have received a citation during the time of the theft for the purpose of dismissing the citation (Minn. Stat. § 169.042 Subd. 2).</p>

											                <h3>516.4 VOIDING TRAFFIC CITATIONS</h3>
											                <p>Voiding a traffic citation may occur when a traffic citation has not been completed or where it is completed but not issued. All copies of the citation shall be presented to a supervisor to approve the voiding of the citation. The citation and copies shall then be forwarded to the Patrol Captain.</p>

											                <h3>516.5 CORRECTION OF TRAFFIC CITATIONS</h3>
											                <p>When a traffic citation is issued and in need of correction, the officer issuing the citation shall submit the citation and a letter requesting a specific correction to his/her immediate supervisor. The citation and letter shall then be forwarded to the Patrol Captain. The Patrol Captain shall prepare a letter of correction to the court having jurisdiction and to the recipient of the citation.</p>

											                <h3>516.6 DISPOSITION OF TRAFFIC CITATIONS</h3>
											                <p>The court and file copies of all traffic citations issued by members of this department shall be forwarded to the employee’s immediate supervisor for review. The citation copies shall then be filed with the Records Section.</p>
											                <p>Upon separation from employment with this department, all employees issued traffic citation books shall return any unused citations to the Records Section.</p>

											                <h3>516.7 NOTICE OF PARKING VIOLATION APPEAL PROCEDURE</h3>
											                <p>Disposition of notice of parking violation appeals is conducted pursuant to Minnesota state law and local regulations (Minn. Stat. § 169.04 (a) (1)).</p>
									                        <h4>516.7.1 APPEAL STAGES</h4>
    <p>Appeals may be pursued sequentially at three different levels:</p>
    <ol class="alpha">
        <li>Administrative reviews are conducted by the Patrol Captain, which will review written/ documentary data. Requests for administrative reviews may be made at the Metro Transit Police Department. These requests are informal written statements outlining
            why the notice of parking violation should be dismissed. Copies of documentation relating to the notice of parking violation and the request for dismissal must be mailed to the current mailing address of the processing agency.</li>
        <li>If the appellant wishes to pursue the matter beyond administrative review, an administrative hearing may be conducted in person or by written application, at the election of the appellant. Independent referees review the existent administrative
            file, amendments and/or testimonial material provided by the appellant and may conduct further investigation or follow-up on their own.</p>
        </li>
        <li>If the appellant wishes to pursue the matter beyond an administrative hearing, an appellant may petition a municipal court for a hearing by filing with the clerk of the municipal court and posting fees as required.</li>
    </ol>
    <h4>516.7.2 TIME REQUIREMENTS</h4>
    <p>Administrative review or appearance before a hearing examiner will not be provided if the mandated time limits are not adhered to by the violator.</p>
    <ol class="alpha">
        <li>Requests for an administrative review must be postmarked within 21 days of issuance of the notice of parking violation, or within 10 days of mailing the Notice of Delinquent Parking Violation.</li>
        <li>Requests for administrative hearings must be postmarked within 15 days of the notification mailing of the results of the administrative review.</li>
        <li>Requests for appeal to the District Court must be made within 20 days of the mailing of the administrative hearing results.</li>
        <li>Registered owners of leased or rented vehicles may transfer responsibility for the violation to the lessee or renter of the vehicle at the time of the violation if the name, address and driver's license number of the lessee/renter is provided
            to the processing agency within 30 days of the mail date of the delinquent notice.</li>
    </ol>
    <h4>516.7.3 COSTS</h4>
    <ol class="alpha">
        <li>There is no cost for an administrative review.</li>
        <li>Appellants must pay the full amount due for the citation or provide satisfactory proof of their inability to pay, before receiving an administrative hearing.</li>
        <li>An appeal through District Court requires prior payment of filing costs including applicable court charges and fees. These costs will be reimbursed to the appellant in addition to any previously paid fines if appellant's liability is overruled
            by the District Court.</li>
    </ol>

    <h3>516.8 JUVENILE CITATIONS</h3>
    <p>Completion of traffic citation forms for juveniles may vary slightly from the procedure for adults. The juvenile’s age, place of residency and the type of offense should be considered before issuing the juvenile a citation.</p>
    <ol class="alpha">
        <li>When any juvenile is issued a citation for a drug or alcohol violation, or a juvenile 16 years of age or older is issued a citation for an adult court traffic offense, the officer shall follow the arrest procedures prescribed in Minn. Stat. §
            169.91 and shall make reasonable effort to notify the child's parent or guardian of the violation and the nature of the charge. Notifications should be documented (Minn. Stat. § 260B.225 Subd. 3).</li>
        <li>When any juvenile is issued a citation for a major traffic offense, the officer is required to file a signed copy of the citation, as provided in Minn. Stat. § 169.91, with the juvenile court</li>
    </ol>
    <p>of the county in which the violation occurred. The citation serves as a petition providing the juvenile court jurisdiction (Minn. Stat. § 260B.225 Subd. 5).</p>
</div>