<div class="chapter" id="520">
    <h2>520 - Disabled Vehicles</h2>
    <h3>520.1 PURPOSE AND SCOPE</h3>
    <p>Law enforcement and other public agencies may develop and adopt a written policy to provide assistance to motorists in disabled vehicles within their primary jurisdiction.</p>

    <h3>520.2 OFFICER RESPONSIBILITIES</h3>
    <p>When an on-duty officer observes a disabled vehicle on the roadway, the officer should make a reasonable effort to provide assistance. If that officer is assigned to a call of higher priority, the dispatcher should be advised of the location of the
        disabled vehicle and the need for assistance. The dispatcher should then assign another available officer to respond for assistance as soon as practicable.</p>

    <h3>520.3 EXTENT OF ASSISTANCE</h3>
    <p>In most cases, a disabled motorist will require assistance. After arrangements for assistance are made, continued involvement by Department personnel will be contingent on the time of day, the location, the availability of Department resources and
        the vulnerability of the disabled motorist.</p>
    <h4>520.3.1 MECHANICAL REPAIRS</h4>
    <p>Department personnel shall not make mechanical repairs to a disabled vehicle. The use of push bumpers to relocate vehicles to a position of safety is not considered a mechanical repair.</p>
    <h4>520.3.2 RELOCATION OF DISABLED VEHICLES</h4>
    <p>The relocation of disabled vehicles by members of this department by pushing or pulling a vehicle should only occur when the conditions reasonably indicate that immediate movement is necessary to reduce a hazard presented by the disabled vehicle.</p>
</div>