<div class="chapter" id="524">
    <h2>524 - Abandoned Vehicle Violations</h2>
    <h3>524.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides procedures for the removal, recording and storage of vehicles abandoned in violation of abandoned vehicle laws, under the authority of Minn. Stat. § 168B.04.</p>
    <h4>524.1.1 DEFINITION</h4>
    <p>Pursuant to Minnesota statutes, a vehicle is abandoned if:</p>
    <ol class="alpha">
        <li>The motor vehicle has remained illegally for more than 48 hours on any government-owned or controlled property, or for more than four hours on that property when properly posted (Minn. Stat. § 168B.011 Subd. 2 (1)).</li>
        <li>The motor vehicle has been properly tagged by an officer and abandoned for four hours on any highway (Minn. Stat. § 168B.04, Subd. 2 (b) (1)).</li>
        <li>The motor vehicle has been abandoned and located so as to constitute a collision or traffic hazard (Minn. Stat. § 168B.04 Subd. 2 (b) (1)).</li>
        <li>The motor vehicle is unattended on private residential property, that is a single-family or duplex, without permission of the property caretaker (Minn. Stat. § 168B.04 Subd. 2 (b) (2)).</li>
        <li>The motor vehicle can be immediately removed if on private non-residential property if properly posted or after 24 hours if not posted (Minn. Stat. § 168B 04 Subd. 2 (b) (2)).</li>
        <li>The motor vehicle remains at a service, repair or maintenance establishment of motor vehicles five days after notifying the vehicle owner by certified mail, return receipt requested, of the property owner's intention to have the vehicle removed
            from the property (Minn. Stat. § 168B.04 Subd. 2 (b) (2)).</li>
    </ol>

    <h3>524.2 MARKING VEHICLES</h3>
    <p>Vehicles on public roadways suspected of being abandoned in violation of Minnesota abandoned vehicle laws shall be marked and noted on the officers log. Officers shall also make notification to TCC. No case number is required at this time.</p>
    <p>A visible chalk, crayon or paint mark should be placed on the rear window or left rear tire tread at the fender level unless the vehicle is missing tires or other vehicle conditions or weather prevent marking.</p>
    <p>If a marked vehicle has been moved or the markings have been removed during a four or 24-hour investigation period, the vehicle shall be marked again for either the four or 24-hour abandonment violation and the above process repeated.</p>
    <h4>524.2.1 MARKED VEHICLE FILE</h4>
    <p>TCC shall be responsible for maintaining a file for or notifying the local jurisdiction on all marked vehicles.</p>
    <h4>524.2.2 VEHICLE STORAGE</h4>
    <p>Any vehicle in violation shall be stored by the authorized towing service and a vehicle storage report shall be completed by the officer authorizing the storage of the vehicle.</p>
    <p>The storage report form shall be submitted to the Records Section immediately following the storage of the vehicle. It shall be the responsibility of the Records Section to immediately notify the Minnesota Criminal Justice Information Services (MNJIS).
        Notification may also be made to the National Law Enforcement Telecommunications System (NLETS).</p>
    <p>Within 48 hours of the storage of any such vehicle, excluding weekends and holidays, it shall be the responsibility of the Records Section to immediately notify MNJIS. Notification may also be made to the NLETS. In most, if not all cases, the local
        agency shall make the notification.</p>
</div>