<div class="chapter" id="600">
    <h2>600 -  Investigation and Prosecution</h2>
    <h3>600.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to set guidelines and requirements pertaining to the handling and disposition of criminal investigations.</p>

    <h3>600.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to investigate crimes thoroughly and with due diligence, and to evaluate and prepare criminal cases for appropriate clearance or submission to a prosecutor.</p>

    <h3>600.3 INITIAL INVESTIGATION</h3>
    <h4>600.3.1 OFFICER RESPONSIBILITIES</h4>
    <p>An officer responsible for an initial investigation shall complete no less than the following:</p>
    <ol class="alpha">
        <li>Make a preliminary determination of whether a crime has been committed by completing, at a minimum:
            <ol class="decimal">
                <li>An initial statement from any witnesses or complainants.</li>
                <li>A cursory examination for evidence.</li>
            </ol>
        </li>
        <li>If information indicates a crime has occurred, the officer shall:
            <ol class="decimal">
                <li>Preserve the scene and any evidence as required to complete the initial and follow- up investigation.</li>
                <li>Determine if additional investigative resources (e.g., investigators or scene processing) are necessary and request assistance as required.</li>
                <li>If assistance is warranted, or if the incident is not routine, notify a supervisor or the Shift Supervisor.</li>
                <li>Make reasonable attempts to locate, identify and interview all available victims, complainants, witnesses and suspects.</li>
                <li>Collect any evidence.</li>
                <li>Take any appropriate law enforcement action.</li>
                <li>Complete and submit the appropriate reports and documentation.</li>
            </ol>
        </li>
        <li>If the preliminary determination is that no crime occurred, determine what other action may be necessary, what other resources may be available, and advise the informant or complainant of this information.</li>
    </ol>
    <h4>600.3.2 NON-LICENSED MEMBER RESPONSIBILITIES</h4>
    <p>A non-licensed member assigned to any preliminary investigation is responsible for all investigative steps, except making any attempt to locate, contact or interview a suspect face-to-face or take any enforcement action. Should an initial investigation
        indicate that those steps are required, the assistance of an officer shall be requested.</p>

    <h3>600.4 CUSTODIAL INTERROGATION REQUIREMENTS</h3>
    <p>Suspects who are in custody and subjected to an interrogation shall be given the <em>Miranda </em>warning, unless an exception applies. Interview or interrogation of a juvenile shall be in accordance with the Temporary Custody of Juveniles Policy.</p>
    <h4>600.4.1 AUDIO/VIDEO RECORDINGS</h4>
    <p>Any custodial interrogation of a person who is suspected of having committed a criminal offense should be electronically recorded (audio/video or both as available) in its entirety, including any information or discussion about the person’s rights
        and any waiver of those rights. Regardless of where the interrogation occurs, every reasonable effort should be made to secure functional recording equipment to accomplish such recordings.</p>
    <p>Consideration should also be given to recording a non-custodial interrogation, or any investigative interview, for any other offense when it is reasonable to believe it would be appropriate and beneficial to the investigation and is otherwise allowed
        by law.</p>
    <p>No recording of a custodial interrogation should be destroyed or altered without written authorization from the prosecuting attorney and the Investigation Division supervisor. Copies of recorded interrogations or interviews may be made in the same
        or a different format as the original recording, provided the copies are true, accurate and complete and are made only for authorized and legitimate law enforcement purposes.</p>
    <p>Recordings should not take the place of a thorough report and investigative interviews. Written statements from suspects should continue to be obtained when applicable.</p>

    <h3>600.5 DISCONTINUATION OF INVESTIGATIONS</h3>
    <p>The investigation of a criminal case or efforts to seek prosecution should only be discontinued if one of the following applies:</p>
    <ol class="alpha">
        <li>All reasonable investigative efforts have been exhausted, no reasonable belief that the person who committed the crime can be identified, and the incident has been documented appropriately.</li>
        <li>The perpetrator of a misdemeanor has been identified and a warning is the most appropriate disposition.
            <ol class="decimal">
                <li>In these cases, the investigator shall document that the person was warned and why prosecution was not sought.</li>
                <li>Warnings shall not be given for felony offenses or other offenses identified in this policy or by law that require an arrest or submission of a case to a prosecutor.</li>
            </ol>
        </li>
        <li>The case has been submitted to the appropriate prosecutor but no charges have been filed. Further investigation is not reasonable nor has the prosecutor requested further investigation.</li>
        <li>The case has been submitted to the appropriate prosecutor, charges have been filed, and further investigation is not reasonable, warranted or requested, and there is no need to take the suspect into custody.</li>
        <li>Suspects have been arrested, there are no other suspects, and further investigation is either not warranted or requested.</li>
        <li>Investigation has proven that a crime was not committed (see the Sexual Assault Investigations Policy for special considerations in these cases).</li>
    </ol>
    <p>The Domestic Abuse, Child Abuse, Sexual Assault Investigations and Adult Abuse policies may also require an arrest or submittal of a case to a prosecutor.</p>

    <h3>600.6 COMPUTERS AND DIGITAL EVIDENCE</h3>
    <p>The collection, preservation, transportation and storage of computers, cell phones and other digital devices may require specialized handling to preserve the value of the related evidence. If it is anticipated that computers or similar equipment will
        be seized, officers should request that computer forensic examiners assist with seizing computers and related evidence. If a forensic examiner is unavailable, officers should take reasonable steps to prepare for such seizure and use the resources
        that are available.</p>

    <h3>600.7 INVESTIGATIVE USE OF SOCIAL MEDIA AND INTERNET SOURCES</h3>
    <p>Use of social media and any other Internet source to access information for the purpose of criminal investigation shall comply with applicable laws and policies regarding privacy, civil rights and civil liberties. Information gathered via the Internet
        should only be accessed by members while on-duty and for purposes related to the mission of this department. If a member encounters information relevant to a criminal investigation while off-duty or while using his/her own equipment, the member
        should note the dates, times and locations of the information and report the discovery to his/her supervisor as soon as practicable. The member, or others who have been assigned to do so, should attempt to replicate the finding when on-duty and
        using department equipment.</p>
    <p>Information obtained via the Internet should not be archived or stored in any manner other than department-established record keeping systems (see the Records Maintenance and Release and Criminal Organizations policies).</p>
    <h4>600.7.1 ACCESS RESTRICTIONS</h4>
    <p>Information that can be accessed from any department computer, without the need of an account, password, email address, alias or other identifier (unrestricted websites), may be accessed and used for legitimate investigative purposes without supervisory
        approval.</p>
    <p>Accessing information from any Internet source that requires the use or creation of an account, password, email address, alias or other identifier, or the use of nongovernment IP addresses, requires supervisor approval prior to access. The supervisor
        will review the justification for accessing the information and consult with legal counsel as necessary to identify any policy or legal restrictions. Any such access and the supervisor approval shall be documented in the related investigative
        report.</p>
    <p>Accessing information that requires the use of a third party’s account or online identifier requires supervisor approval and the consent of the third party. The consent must be voluntary and shall be documented in the related investigative report.</p>
    <p>Information gathered from any Internet source should be evaluated for its validity, authenticity, accuracy and reliability. Corroborative evidence should be sought and documented in the related investigative report.</p>
    <p>Any information collected in furtherance of an investigation through an Internet source should be documented in the related report. Documentation should include the source of information and the dates and times that the information was gathered.</p>
    <h4>600.7.2 INTERCEPTING ELECTRONIC COMMUNICATION</h4>
    <p>Intercepting social media communications in real time may be subject to federal and state wiretap laws. Officers should seek legal counsel before any such interception.</p>

    <h3>600.8 ELECTRONIC BENEFIT TRANSFER (EBT) CARDS</h3>
    <p>Officers shall make a report any time they arrest a person who possesses more than one welfare Electronic Benefit Transfer (EBT) card. The investigating officers shall forward this report to the Minnesota Department of Human Services within 30 days
        of the arrest. The report shall include all of the following (Minn. Stat. § 626.5533):</p>
    <ol class="alpha">
        <li>The name, address and driver’s license or state identification card number of the suspect</li>
        <li>The number on each EBT card and name, if any</li>
        <li>The date and location of any alleged offense</li>
        <li>Any other information the Minnesota Department of Human Services may require on related state forms</li>
    </ol>

    <h3>600.9 LOCAL AGENCY NOTIFICATION</h3>
    <p>It is the responsibility of this Department to notify the law enforcement agency with primary jurisdiction when surveillance or an investigation has been initiated on any person within the jurisdiction of that agency (Minn. Stat. § 473.407 Subd. 3).
        Notification to the law enforcement agency should be accomplished in one of the following manners:</p>
    <ol class="alpha">
        <li>Manual completion of the local agency police report.</li>
        <li>Automatic or automated population of the local agency police report (data transfer).</li>
        <li>Providing a copy of the Metro Transit Police report to the local agency.</li>
    </ol>

    <h3>600.10 MODIFICATION OF CHARGES FILED</h3>
    <p>Members are not authorized to recommend to the prosecutor or to any other official of the court that charges on a pending case be amended or dismissed without the authorization of a Captain, Deputy Chief or the Chief of Police. Any authorized request
        to modify the charges or to recommend dismissal of charges shall be made to the prosecutor.</p>
</div>