<div class="chapter" id="602">
    <h2>602 - Sexual Assault Investigations</h2>
    <h3>602.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish guidelines for the investigation of sexual assaults. These guidelines will address some of the unique aspects of such cases and the effects that these crimes have on the victims.</p>
    <p>Mandatory notifications requirements are addressed in the Child Abuse and Adult Abuse policies.</p>
    <h4>602.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Sexual assault</strong> - Any crime or attempted crime of a sexual nature, to include, but not limited to, offenses defined in Minn. Stat § 609.293 and Minn. Stat. § 609.342 through Minn. Stat. § 609. 3453.</p>
    <p><strong>Sexual Assault Response Team (SART)</strong> - A multidisciplinary team generally comprised of advocates, law enforcement officers, forensic medical examiners, including sexual assault nurse examiners (SANEs) if possible, forensic laboratory
        personnel and prosecutors. The team is designed to coordinate a broad response to sexual assault victims.</p>

    <h3>602.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department that its members, when responding to reports of sexual assaults, will strive to minimize the trauma experienced by the victims, and will aggressively investigate sexual assaults, pursue expeditious
        apprehension and conviction of perpetrators, and protect the safety of the victims and the community.</p>

    <h3>602.3 QUALIFIED INVESTIGATORS</h3>
    <p>Qualified investigators should be available for assignment of sexual assault investigations. These investigators should:</p>
    <ol class="alpha">
        <li>Have specialized training in, and be familiar with, interview techniques and the medical and legal issues that are specific to sexual assault investigations.</li>
        <li>Conduct follow-up interviews and investigation.</li>
        <li>Present appropriate cases of alleged sexual assault to the prosecutor for review.</li>
        <li>Coordinate with other enforcement agencies, social service agencies and medical personnel as needed.</li>
        <li>Provide referrals to therapy services, victim advocates and support for the victim.</li>
        <li>Participate in or coordinate with SART or other multidisciplinary investigative teams as applicable.</li>
    </ol>

    <h3>602.4 INVESTIGATION AND REPORTING</h3>
    <p>In all reported or suspected cases of sexual assault, a report should be written and assigned for follow-up investigation. This includes incidents in which the allegations appear unfounded or unsubstantiated.</p>
    <h4>602.4.1 VICTIM INTERVIEWS</h4>
    <p>The primary considerations in sexual assault investigations, which begin with the initial call to Transit Control Center, should be the health and safety of the victim, the preservation of evidence, and preliminary interviews to determine if a crime
        has been committed and to attempt to identify the suspect.</p>
    <p>Whenever possible, a member of SART should be included in the initial victim interviews.</p>
    <p>An in-depth follow-up interview should not be conducted until after the medical and forensic examinations are completed and the personal needs of the victim have been met (e.g., change of clothes, bathing). The follow-up interview may be delayed to
        the following day based upon the circumstances. Whenever practicable, the follow-up interview should be conducted by a qualified investigator.</p>
    <p>Victims are often reluctant or embarrassed to discuss details. Recanting or changing one or more aspects of a prior statement is not necessarily an indication of false reporting or that the case is unfounded. If the responding officer has reason to
        believe the incident may be without merit, he/ she should document the evidence and inconsistencies. Due to physical and emotional trauma, and the myths and stereotypes associated with sexual assault, inconsistencies in the victim's report are
        not uncommon. No opinions of whether the case is unfounded shall be included in the report.</p>
    <h3>602.4.2 VICTIM CONFIDENTIALITY</h3>
    <p>Officers investigating or receiving a report of an alleged sex offense shall assist in keeping the identity of the victim private by providing the victim with Safe at Home Program information. A notation should be made within the incident report that
        the Safe at Home Program information was provided to the victim.</p>
    <p>The Department shall withhold public access to information that would reveal the identity of a victim or alleged victim of criminal sexual conduct or sex trafficking (Minn. Stat. § 13.82, Subd. 17(b); Minn. Stat. § 611A.021).</p>
    <h3>602.4.3 POLYGRAPH EXAMINATION</h3>
    <p>An officer shall not require a sexual assault victim to submit to a polygraph examination as a condition to investigating, charging or prosecuting the offense (Minn. Stat. § 611A.26, Subd. 1; Minn. Stat. § 611A.26, Subd. 5).</p>
    <p>Officers may conduct a polygraph examination of a sexual assault victim only at the victim's request and with written, informed consent after the victim has been referred to and had the opportunity to exercise the option of consulting with a sexual
        assault counselor (Minn. Stat. § 611A.26, Subd. 2 and Minn. Stat. § 611A.26, Subd. 3).</p>
    <p>To consent to a polygraph, the officer must inform the victim in writing that (Minn. Stat. § 611A.26, Subd. 4):</p>
    <ol class="alpha">
        <li>The taking of a polygraph is voluntary and solely at the victim’s request.</li>
        <li>The victim may not be asked or required to submit to a polygraph examination.</li>
        <li>The results of the examination are not admissible in court.</li>
        <li>The victim’s refusal to submit to a polygraph examination may not be used as a basis not to investigate, charge or prosecute the offender.</li>
    </ol>
    <h3>602.4.4 COLLECTION AND TESTING OF BIOLOGICAL EVIDENCE</h4>
    <p>Whenever possible, a SART member should be involved in the collection of forensic evidence from the victim.</p>
    <p>When the facts of the case indicate that collection of biological evidence is warranted, it should be collected regardless of how much time has elapsed since the reported assault.</p>
    <p>If a drug-facilitated sexual assault is suspected, it is critical to the investigation that a urine sample from the victim be collected by a medical professional.</p>
    <p>If resources allow, kits or biological evidence from all rape cases, including cases where the suspect is known by the victim, should be submitted for biological testing. The result and the case information should be entered into state and national registries in a timely manner.</p>
    <p>All evidence from cases where the suspect is a stranger to the victim shall be transmitted in a timely manner to the proper forensics lab for processing all relevant biological evidence.</p>
    <h4>602.4.5 DISPOSITION OF CASES</h4>
    <p>If the assigned investigator has reason to believe the case is without merit, the case may be classified as unfounded only upon review and approval of the Investigation Division supervisor.</p>
    <p>Classification of a rape case as unfounded requires the Investigation Division supervisor to determine that the facts have significant irregularities with reported information and that the incident could not have happened as it was reported. When a victim has recanted his/her original statement, there must be corroborating evidence to support the recanted information before the case should be determined as unfounded.</p>
    <h4>602.4.6 AUDITING CASE DISPOSITIONS</h4>
	<p>The Investigation Division supervisor will ensure case dispositions are reviewed on a periodic basis using an identified group that is independent of the investigation process. The SART and/ or victim advocates should be considered for involvement in this audit.</p>

    <h3>602.5 RELEASING INFORMATION TO THE PUBLIC</h3>
    <p>In cases where the perpetrator is not known to the victim, and especially if there are multiple crimes where more than one appear to be related, consideration should be given to releasing information to the public whenever there is a reasonable likelihood
        that doing so may result in developing helpful investigative leads. The Investigation Division supervisor should weigh the risk of alerting the suspect to the investigation with the need to protect the victim and the public, and to prevent more
        crimes.
    </p>

    <h3>602.6 TRAINING</h3>
    <p>Subject to available resources, periodic training will be provided to:</p>
    <ol class="alpha">
        <li>Members who are first responders. This includes, but is not limited to, the following topics:
            <ol class="decimal">
                <li>Initial response to sexual assaults</li>
                <li>Legal issues</li>
                <li>Victim advocacy</li>
                <li>Victim’s response to trauma</li>
            </ol>
        </li>
        <li>Qualified investigators who should receive advanced training on additional topics. This includes, but is not limited to, the following:
            <ol class="decimal">
                <li>Interviewing sexual assault victims</li>
                <li>SART</li>
                <li>Medical and legal aspects of sexual assault investigations</li>
                <li>Serial crimes investigations</li>
                <li>Use of community and other federal and state investigative resources, such as the Violent Criminal Apprehension Program (ViCAP)</li>
            </ol>
        </li>
    </ol>
</div>