<div class="chapter" id="606">
    <h2>606 - Asset Forgeiture</h2>
    <h3>606.1 PURPOSE AND SCOPE</h3>
    <p>This policy describes the authority and procedure for the seizure, forfeiture and liquidation of property associated with specified designated offenses and controlled substance offenses (Minn. Stat. § 609.531 to Minn. Stat. § 609.5318).</p>

    <h3>606.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes that appropriately applied forfeiture laws are helpful to enforce the law, deter crime and reduce the economic incentive of crime. However, the potential of revenue shall not be allowed to jeopardize
        the effective investigation and prosecution of criminal offenses, officer safety, the integrity of ongoing investigations or the due process rights of citizens.</p>
    <p>It is the policy of the Metro Transit Police Department that all employees of the agency, all employees assigned to another law enforcement agency’s task force and all employees assigned to a task force from an outside law enforcement agency, in which
        this agency serves as the Fiscal Agent, follow all state and federal laws pertaining to forfeiture.</p>

    <h3>606.3 DEFINITIONS</h3>
    <p>Definitions related to this policy include:</p>
    <p><strong>Cash</strong> - Money in the form of bills or coins, traveler’s checks, money orders, checks or other forms of electronic money or stored value cards, including, but not limited to, gift cards, debit cards, gift cards/certificates or other
        negotiable financial instruments.</p>
    <p><strong>Conveyance device</strong> - A device used for transportation. It includes, but is not limited to, a motor vehicle, trailer, snowmobile, airplane and vessel, and any equipment attached to it. The term "conveyance device" does not include property,
        which has been stolen or taken in violation of the law.</p>
    <p><strong>Firearms/ammunition/firearm accessories</strong> - A device that projects either single or multiple projectiles at high velocity. Ammunition is a term meaning the assembly of a projectile and its propellant. Accessories include, but are not
        limited to, holsters, gun cases, firearm optics, suppression devices, cleaning supplies.</p>
    <p><strong>Fiscal Agent</strong> - The person designated by the Metro Transit Police Department to be responsible for securing and maintaining seized assets and distributing any proceeds as a result of any forfeiture proceedings. This includes anytime
        the Metro Transit Police Department seizes property for forfeiture or when the Metro Transit Police Department is acting as the fiscal agent pursuant to a multi-agency agreement.</p>
    <p><strong>Forfeiture</strong> - The process by which legal ownership of an asset is transferred to a government or other authority.</p>
    <p><strong>Forfeiture Reviewer</strong> - The Metro Transit Police Department employee assigned by the Metro Transit Police Department responsible for reviewing all forfeiture cases and for acting as the liaison between the Department and the prosecutor’s
        office.
    </p>
    <p><strong>Jewelry/precious metals/precious stones</strong> - The term includes items of jewelry, such as rings, necklaces and watches that reasonably appear to be made of precious metals or precious stones. Precious metals include, but are not limited
        to, gold, silver, platinum, iridium and palladium. Precious stones, often referred to as gemstones, include, but are not limited to, diamonds, emeralds and rubies.</p>
    <p><strong>Property subject to administrative forfeiture</strong> - The following property is presumed to be subject to administrative forfeiture under Minnesota Law (Minn. Stat. § 609.5314):</p>
    <ol class="alpha">
        <li>All cash, precious metals and precious stones found in proximity to controlled substances, forfeitable drug manufacturing or distributing equipment or devices, or forfeitable records of manufacture or the distribution of controlled substances.</li>
        <li>All conveyance devices containing controlled substances with a retail value of $100 or more if possession or sale of the controlled substance would be a felony under Minnesota Statutes, Chapter 152.</li>
        <li>All firearms, ammunition and firearm accessories found:</p>
            <ol class="decimal">
                <li>In a conveyance device used or intended for use to commit or facilitate the commission of a felony offense involving a controlled substance.</li>
                <li>On or in proximity to a person from whom a felony amount of controlled substance is seized.</li>
                <li>On the premises where a controlled substance is seized and in proximity to the controlled substance, if possession or sale of the controlled substance would be a felony under Minnesota Statutes, Chapter 152.</li>
            </ol>
        </li>
    </ol>
    <p><strong>Seizure</strong> - The act of law enforcement officials taking property, including cash and conveyance devices that have been used in connection with or acquired by illegal activities.</p>

    <h3>606.4 ASSET SEIZURE</h3>
    <p>Property may be seized for forfeiture as provided in this policy.</p>
    <h4>606.4.1 PROPERTY SUBJECT TO SEIZURE The following property is subject to seizure.</h4>
    <ol class="alpha">
        <li>The following property may be seized upon review and approval of a supervisor and in coordination with the Forfeiture Reviewer:
            <ol class="decimal">
                <li>Controlled substances and associated property as described in Minn. Stat. § 609.5311.</li>
                <li>Property intended for use to commit or facilitate the commission of a designated offense, as listed in Minn. Stat. § 169A.63, Subd. 6 and limited by Minn. Stat. § 169A.63, Subd. 7, and as listed in Minn. Stat. § 609.531, Subd. 1(f) and
                    limited by Minn. Stat. § 609.5312.</li>
            </ol>
        </li>
        <li>Property subject to administrative forfeiture may be seized without prior supervisor approval if the item has a retail value of $50,000 or less (Minn. Stat. § 609.5314).</li>
    </ol>
    <h4>606.4.2 PROPERTY NOT SUBJECT TO SEIZURE</h4>
    <p>The following property should not be seized for forfeiture:</p>
    <ol class="alpha">
        <li>Cash and property that does not meet the prosecuting agency's current minimum forfeiture thresholds should not be seized.</li>
        <li>Cash totaling less than $300, unless prerecorded buy funds are included in the cash seized.</li>
        <li>Conveyance devices valued at less than $3,000 (on drug and fleeing arrests).</li>
    </ol>
    <h4>606.4.3 SEIZURE OF PROPERTY TO BE FORFEITED</h4>
    <p>An officer may seize property subject to forfeiture based on a court order. An officer may also seize property without a court order under any of the following conditions (Minn. Stat. § 609.531, Subd. 4; Minn. Stat. § 169A.63, Subd. 2):</p>
    <ol class="alpha">
        <li>The seizure is incident to a lawful arrest or a lawful search.</li>
        <li>The property subject to seizure has been the subject of a prior judgment in favor of the state in a criminal injunction or forfeiture proceeding.</li>
        <li>The officer has probable cause to believe that a delay to obtain a warrant or other process would result in the removal or destruction of the property and that either of the following apply:</p>
            <ol class="decimal">
                <li>The property was used or is intended to be used in commission of a felony.</li>
                <li>The property is dangerous to health or safety.</li>
            </ol>
        </li>
    </ol>

    <h3>606.5 PROCESSING SEIZED PROPERTY FOR FORFEITURE PROCEEDINGS</h3>
    <p>When property or cash subject to this policy is seized, the officer making the seizure should ensure compliance with the following:</p>
    <ol class="alpha">
        <li>If the retail value of the asset to be seized is $50,000 or less, completely and accurately prepare the Notice of Seizure and Intent to Forfeit Property Form (seizure form) and present it to the person from whom the property is to be seized for
            that person’s signature. If the person refuses to sign, the officer shall indicate on the seizure form that the person refused. The seizure form is not used when the value of the seized property exceeds $50,000.</li>
        <li>Prepare and provide a receipt for the items seized to the person from whom the property is being seized.
            <ol class="decimal">
                <li>If cash or property is seized from more than one person, a separate property inventory receipt must be completed for each person specifying the amount of cash seized. The receipt shall include a detailed description of all property, checks,
                    money orders, traveler’s checks or other financial instruments.</li>
            </ol>
        </li>
        <li>Complete and submit a report within 24 hours of the seizure if practicable. The report must include, at minimum, the following:</p>
            <ol class="decimal">
                <li>A description of the items seized</li>
                <li>The location where the property was turned in or stored</li>
                <li>The name of the individual who was served with the seizure form</li>
                <li>The date that the seizure form was served</li>
                <li>The name of the officer making the seizure</li>
                <li>Whether the individual signed the seizure form</li>
            </ol>
        </li>
        <li>If property is seized from multiple individuals, a separate seizure form will be completed for each individual. A copy of the receipt and seizure form must be given to the individual from whom the property was seized.</li>
        <li>When property is seized and no one claims possession of the property, the officer must leave a receipt in the place where the property was found if it is reasonably possible to do so.</li>
        <li>The officer will book seized property into the Property and Evidence as evidence, with the notation in the comment section of the property form, "Seized Subject to Forfeiture." Property seized subject to forfeiture should be booked on a separate
            property form. No other evidence from the case should be booked on this form.</li>
        <li>Forward the original and the pink copy of the seizure form, and any seized property processing worksheets, property receipts and reports to the Forfeiture Reviewer within 10 days of seizure.</li>
        <li>Inform the Forfeiture Reviewer of the estimated retail value of drugs found in proximity to the asset seized.</li>
    </ol>
    <h4>606.5.1 CASH HANDLING</h4>
    <p>It is the responsibility of the seizing officer to secure and count cash consistent with this policy and the Cash Handling, Security and Management Policy. All cash shall be counted in the presence of another officer and the envelope initialed by
        both officers. A supervisor shall be contacted for cash in excess of $500. The supervisor shall also witness the count, and will initial and date the property documentation and specify any additional security procedures to be used.</p>
    <p>All forfeitable cash seized will be turned over to the Forfeiture Reviewer or property/evidence room as soon as practicable.</p>
    <p>Prior to deposit with the Forfeiture Reviewer, officers shall examine all cash seized to determine whether it contains any prerecorded buy funds. Officers shall document the recovery of all buy funds and deposit those funds with the Forfeiture Reviewer
        to be returned to the appropriate buy fund account.</p>
    <h4>606.5.2 JEWELRY/PRECIOUS METALS/PRECIOUS STONES</h4>
    <p>Officers seizing jewelry, precious metals and/or precious stones will write a detailed description of each item on the property inventory receipt. A copy of the property inventory receipt and any photographs of the jewelry, precious metals and/or
        precious stones shall be delivered to the Forfeiture Reviewer.</p>
    <p>Officers seizing jewelry, precious metals and/or precious stones shall book those items according to current property and evidence procedures as soon as practicable.</p>
    <h4>606.5.3 VEHICLES</h4>
    <p>Any conveyance device seized for forfeiture shall be taken to a secure designated area or to a department-approved impound facility as soon as practicable.</p>
    <p>Officers shall inventory the conveyance device and its contents in accordance with the Vehicle Towing and Release Policy. Officers shall also complete applicable report forms and distribute them appropriately. A copy of the vehicle storage report
        shall be included with the seizure documentation that is submitted to the Forfeiture Reviewer.</p>
    <h4>606.5.4 FIREARMS/AMMUNITION/FIREARM ACCESSORIES</h4>
    <p>When firearms, ammunition or firearms accessories are seized, they shall be inventoried and delivered to the Property and Evidence in accordance with the current booking procedures and the ﻿Property and Evidence﻿ Policy.</p>

    <h3>606.6 MAINTAINING SEIZED PROPERTY</h3>
    <p>The Property and Evidence supervisor is responsible for ensuring compliance with the following:</p>
    <ol class="alpha">
        <li>All property received for forfeiture is reasonably secured and properly stored to prevent waste and preserve its condition (Minn. Stat. § 609.531 Subd. 5).</li>
        <li>All property received for forfeiture is checked to determine if the property has been stolen.</li>
        <li>All property received for forfeiture is retained in the same manner as evidence until forfeiture is finalized or returned to the claimant or person with an ownership interest.</li>
        <li>Property received for forfeiture is not used unless the forfeiture action has been completed.</li>
    </ol>

    <h3>606.7 FORFEITURE REVIEWER</h3>
    <p>The Chief of Police will appoint an officer as the Forfeiture Reviewer. Prior to assuming duties, or as soon as practicable thereafter, the Forfeiture Reviewer should attend a department-approved course on asset forfeiture.</p>
    <p>The responsibilities of Forfeiture Reviewer include the following:</p>
    <ol class="alpha">
        <li>Confer regularly with the prosecuting attorney's office to remain familiar with forfeiture laws, particularly Minn. Stat. § 609.531 to Minn. Stat. § 609.5318, Minn. Stat. § 169A.63, and the forfeiture policies of the prosecuting agency.</li>
        <li>Make reasonable efforts to obtain annual training that includes best practices in pursuing, seizing and tracking forfeitures.</li>
        <li>Ensure responsibilities, including designation of a Fiscal Agent, are clearly established whenever multiple agencies are cooperating in a forfeiture case.</li>
        <li>Ensure that a seizure form, property inventory receipt and a forfeited property processing worksheet is available and appropriate for department use. The seizure form will minimally include the following (Minn. Stat. § 609.5314):
            <ol class="decimal">
                <li>Space for an itemized list of items seized</li>
                <li>The location and date of the seizure</li>
                <li>A place for the name of the individual served with the seizure form</li>
                <li>The date and signature of the officer conducting the seizure</li>
                <li>The agency case number</li>
                <li>A space for the signature of the person from whom property is seized or an appropriate space or check box for the officer to indicate that the person refused to sign</li>
                <li>At least an original and the pink copy</li>
                <li>Information in English, Hmong, Somali and Spanish explaining the right to obtain judicial review and the procedure provided by Minn. Stat. § 609.5314.</li>
            </ol>
        </li>
        <li>Ensure that officers who may be involved in asset forfeiture receive training in the proper use of the seizure form and the forfeiture process. The training should be developed in consultation with the prosecuting attorney and may be accomplished
            through traditional classroom education, electronic media, Daily Training Bulletins or department directives. The training should be based on this policy and address any relevant statutory changes and court decisions.</li>
        <li>Review each asset forfeiture case to ensure the following:</p>
            <ol class="decimal">
                <li>Written documentation of the seizure and items seized is present in the case file.</li>
                <li>Independent prosecutorial review of the circumstances and propriety of the seizure is made in a timely manner.</li>
                <li>A timely notice of seizure has been given to interest holders of seized property.</li>
                <li>Property is promptly released to those entitled to its return.</li>
            </ol>
        </li>
        <li>Forward all changes to forfeiture status to any supervisor who initiates a forfeiture case.</li>
        <li>Deposit any cash received with the Fiscal Agent.</li>
        <li>Ensure the current minimum forfeiture thresholds are communicated appropriately to officers.</li>
        <li>Annually review and update this policy and any related policies to reflect current federal and state statutes and case law.</li>
        <li>Prepare a written plan for the Chief of Police to address any extended absence of the Forfeiture Reviewer to ensure that contact information for other law enforcement officers and attorneys who may assist in these matters is available.</li>
        <li>Ensure the Department disposes of property as provided by law following any forfeiture (Minn. Stat. § 609.5315).</li>
        <li>Ensure that any forfeited property used in an undercover capacity, or that is sold or added to the department inventory is done so according to Minnesota law.</li>
        <li>Ensure that all forfeited property is used or disposed of in a manner consistent with the use and disposition of similar property by this department.</li>
        <li>Upon completion of any forfeiture process, ensure that no property is retained by the Metro Transit Police Department unless the Metro Transit Police Department authorizes in writing the retention of the property for official use.</li>
        <li>Ensure that forfeiture proceeds are maintained in a separate fund or account subject to appropriate accounting control with regular reviews or audits of all deposits and expenditures (Minn. Stat. § 609.5315).</li>
        <li>Ensure that records of forfeiture are retained for a minimum of six years.</li>
        <li>Ensure monthly forfeiture reporting is made to the state auditor in the manner prescribed by the auditor (Minn. Stat. § 609.5315 Subd. 6).</li>
    </ol>

    <h3>606.8 DISPOSITION OF FORFEITED PROPERTY</h3>
    <p>Legal disposition may include (Minn. Stat. § 609.5315; Minn. Stat. § 169A.63, Subd. 10):</p>
    <ol class="alpha">
        <li>Retention by the Department and/or prosecuting agency.
            <ol class="decimal">
                <li>If a forfeited motor vehicle is kept for Department use, the Department will make a reasonable effort to ensure the vehicle is available for use and adaptation by officers who participate in the Department's Drug Abuse Resistance Education
                    program (Minn. Stat. §609.5315).</li>
            </ol>
        </li>
        <li>Destruction.</li>
        <li>Sale performed in a commercially reasonable manner.</li>
        <li>Other disposition pursuant to applicable provisions of Minnesota Statutes.</li>
    </ol>
    <p>No member of this department may use property that has been seized for forfeiture until the forfeiture action has been completed and the Metro Transit Police Department has given written authorization to retain the property for official use.</p>
    <p>Members of this department or persons related to members of this department by blood or marriage are prohibited from purchasing forfeited items sold by this department (Minn. Stat. § 609.5315, Subd. 1(c)).</p>
</div>