<div class="chapter" id="608">
    <h2>608 - Informants</h2>
    <h3>608.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the use of informants.</p>
    <h4>608.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Informant</strong> - A person who covertly interacts with other individuals or suspects at the direction of, request of, or by agreement with the Metro Transit Police Department for law enforcement purposes. This also includes a person agreeing
        to supply information to the Metro Transit Police Department for a benefit (e.g., a quid pro quo in the form of a reduced criminal penalty, money).</p>

    <h3>608.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes the value of informants to law enforcement efforts and will strive to protect the integrity of the informant process. It is the policy of this department that all funds related to informant payments will
        be routinely audited and that payments to informants will be made according to the criteria outlined in this policy.</p>

    <h3>608.3 USE OF INFORMANTS</h3>
    <h4>608.3.1 INITIAL APPROVAL</h4>
    <p>Before using an individual as an informant, an officer must receive approval from his/her supervisor and the Investigation Division supervisor. The officer shall compile sufficient information through a background investigation and experience with
        the informant in order to determine the suitability of the individual, including age, maturity and risk of physical harm, as well as any indicators of his/her reliability and credibility.</p>
    <p>Members of this department should not guarantee absolute safety or confidentiality to an informant.</p>
    <h4>608.3.2 JUVENILE INFORMANTS</h4>
    <p>The use of informants under the age of 13 is prohibited.</p>
    <p>In all cases, a juvenile 13 years of age or older may only be used as an informant with the written consent of each of the following:</p>
    <ol class="alpha">
        <li>The juvenile’s parents or legal guardians</li>
        <li>The juvenile’s attorney, if any</li>
        <li>The court in which the juvenile’s case is being handled, if applicable</li>
        <li>The Chief of Police or the authorized designee</li>
    </ol>
    <h4>608.3.3 INFORMANT AGREEMENTS</h4>
    <p>All informants are required to sign and abide by the provisions of the designated department informant agreement. The officer using the informant shall discuss each of the provisions of the agreement with the informant.</p>
    <p>Details of the agreement are to be approved in writing by the Investigation Division supervisor before being finalized with the informant.</p>

    <h3>608.4 INFORMANT INTEGRITY</h3>
    <p>To maintain the integrity of the informant process, the following must be adhered to:</p>
    <ol class="alpha">
        <li>The identity of an informant acting in a confidential capacity shall not be withheld from the Chief of Police, Captain, Investigation Division supervisor or their authorized designees.
            <ol class="decimal">
                <li>Identities of informants acting in a confidential capacity shall otherwise be kept confidential.</li>
            </ol>
        </li>
        <li>Criminal activity by informants shall not be condoned.</li>
        <li>Informants shall be told they are not acting as police officers, employees or agents of the Metro Transit Police Department, and that they shall not represent themselves as such.</li>
        <li>The relationship between department members and informants shall always be ethical and professional.
            <ol class="decimal">
                <li>Members shall not become intimately involved with an informant.</li>
                <li>Social contact shall be avoided unless it is necessary to conduct an official investigation, and only with prior approval of the Investigation Division supervisor.</li>
                <li>Members shall neither solicit nor accept gratuities or engage in any private business transaction with an informant.</li>
            </ol>
        </li>
        <li>Officers shall not meet with informants in a private place unless accompanied by at least one additional officer or with prior approval of the Investigation Division supervisor.
            <ol class="decimal">
                <li>Officers may meet informants alone in an occupied public place, such as a restaurant.</li>
            </ol>
        </li>
        <li>When contacting informants for the purpose of making payments, officers shall arrange for the presence of another officer.</li>
        <li>In all instances when department funds are paid to informants, a voucher shall be completed in advance, itemizing the expenses.</li>
        <li>Since the decision rests with the appropriate prosecutor, officers shall not promise that the informant will receive any form of leniency or immunity from criminal prosecution.</li>
    </ol>
    <h4>608.4.1 UNSUITABLE INFORMANTS</h4>
    <p>The suitability of any informant should be considered before engaging him/her in any way in a covert or other investigative process. Members who become aware that an informant may be unsuitable will notify the supervisor, who will initiate a review
        to determine suitability. Until a determination has been made by a supervisor, the informant should not be used by any member. The supervisor shall determine whether the informant should be used by the Department and,</p>
    <p>if so, what conditions will be placed on his/her participation or any information the informant provides. The supervisor shall document the decision and conditions in file notes and mark the file “unsuitable” when appropriate.</p>
    <p>Considerations for determining whether an informant is unsuitable include, but are not limited to, the following:</p>
    <ol class="alpha">
        <li>The informant has provided untruthful or unreliable information in the past.</li>
        <li>The informant behaves in a way that may endanger the safety of an officer.</li>
        <li>The informant reveals to suspects the identity of an officer or the existence of an investigation.</li>
        <li>The informant appears to be using his/her affiliation with this department to further criminal objectives.</li>
        <li>The informant creates officer-safety issues by providing information to multiple law enforcement agencies simultaneously, without prior notification and approval of each agency.</li>
        <li>The informant engages in any other behavior that could jeopardize the safety of officers or the integrity of a criminal investigation.</li>
        <li>The informant commits criminal acts subsequent to entering into an informant agreement.</li>
    </ol>

    <h3>608.5 INFORMANT FILES</h3>
    <p>Informant files shall be utilized as a source of background information about the informant, to enable review and evaluation of information provided by the informant, and to minimize incidents that could be used to question the integrity of department
        members or the reliability of the informant.</p>
    <p>Informant files shall be maintained in a secure area within the Investigation Division. The Investigation Division supervisor or the authorized designee shall be responsible for maintaining informant files. Access to the informant files shall be restricted
        to the Chief of Police, Captain, Investigation Division supervisor or their authorized designees.</p>
    <p>The Criminal Investigations Supervisor should arrange for an audit using a representative sample of randomly selected informant files on a periodic basis, but no less than one time per year. If the Investigation Division supervisor is replaced, the
        files will be audited before the new supervisor takes over management of the files. The purpose of the audit is to ensure compliance with file content and updating provisions of this policy. The audit should be conducted by a supervisor who does
        not have normal access to the informant files.</p>
    <h4>608.5.1 FILE SYSTEM PROCEDURE</h4>
    <p>A separate file shall be maintained on each informant and shall be coded with an assigned informant control number. An informant history that includes the following information shall be prepared for each file:</p>
    <ol class="alpha">
        <li>Name and aliases</li>
        <li>Date of birth</li>
        <li>Physical description: sex, race, height, weight, hair color, eye color, scars, tattoos or other distinguishing features</li>
        <li>Photograph</li>
        <li>Current home address and telephone numbers</li>
        <li>Current employers, positions, addresses and telephone numbers</li>
        <li>Vehicles owned and registration information</li>
        <li>Places frequented</li>
        <li>Briefs of information provided by the informant and his/her subsequent reliability</p>
            <ol class="decimal">
                <li>If an informant is determined to be unsuitable, the informant's file is to be marked "unsuitable" and notations included detailing the issues that caused this classification.</li>
            </ol>
        </li>
        <li>Name of the officer initiating use of the informant</li>
        <li>Signed informant agreement</li>
        <li>Update on active or inactive status of informant</li>
    </ol>

    <h3>608.6 INFORMANT PAYMENTS</h3>
    <p>No informant will be told in advance or given an exact amount or percentage for his/her service. The amount of funds to be paid to any informant will be evaluated against the following criteria:</p>
    <ul>
        <li>The extent of the informant's personal involvement in the case</li>
        <li>The significance, value or effect on crime</li>
        <li>The value of assets seized</li>
        <li>The quantity of the drugs or other contraband seized</li>
        <li>The informant’s previous criminal activity</li>
        <li>The level of risk taken by the informant</li>
    </ul>
    <p>The Investigation Division supervisor will discuss the above factors with the Patrol Captain and recommend the type and level of payment subject to approval by the Chief of Police.</p>
    <h4>608.6.1 PAYMENT PROCESS</h4>
    <p>Approved payments to an informant should be in cash using the following process:</p>
    <ol class="alpha">
        <li>Payments of $500 and under may be paid in cash from a Investigation Division buy/expense fund.
            <ol class="decimal">
                <li>The Investigation Division supervisor shall sign the voucher for cash payouts from the buy/expense fund.</li>
            </ol>
        </li>
        <li>Payments exceeding $500 shall be made by issuance of a check, payable to the officer who will be delivering the payment.</p>
            <ol class="decimal">
                <li>The check shall list the case numbers related to and supporting the payment.</li>
                <li>A written statement of the informant's involvement in the case shall be placed in the informant's file.</li>
                <li>The statement shall be signed by the informant verifying the statement as a true summary of his/her actions in the case.</li>
                <li>Authorization signatures from the Chief of Police and the General Manager are required for disbursement of the funds.</li>
            </ol>
        </li>
        <li>To complete the payment process for any amount, the officer delivering the payment shall complete a cash transfer form.</p>
            <ol class="decimal">
                <li>The cash transfer form shall include the following:
                    <ol class="alpha">
                        <li>Date</li>
                        <li>Payment amount</li>
                        <li>Metro Transit Police Department case number</li>
                        <li>A statement that the informant is receiving funds in payment for information voluntarily rendered.</li>
                    </ol>
                </li>
                <li>The cash transfer form shall be signed by the informant.</li>
                <li>The cash transfer form will be kept in the informant's file.</li>
            </ol>
        </li>
    </ol>
    <h4>608.6.2 REPORTING OF PAYMENTS</h4>
    <p>Each informant receiving a cash payment shall be advised of his/her responsibility to report the cash to the Internal Revenue Service (IRS) as income. If funds distributed exceed $600 in any reporting year, the informant should be provided IRS Form
        1099 (26 CFR 1.6041-1). If such documentation or reporting may reveal the identity of the informant and by doing so jeopardize any investigation, the safety of officers or the safety of the informant (26 CFR 1.6041-3), then IRS Form 1099 should
        not be issued.</p>
    <p>In such cases, the informant shall be provided a letter identifying the amount he/she must report on a tax return as “other income” and shall be required to provide a signed acknowledgement of receipt of the letter. The completed acknowledgement form
        and a copy of the letter shall be retained in the informant’s file.</p>
    <h4>608.6.3 AUDIT OF PAYMENTS</h4>
    <p>The Investigation Division supervisor or the authorized designee shall be responsible for compliance with any audit requirements associated with grant provisions and applicable state and federal law.</p>
    <p>At least once every six months, the Chief of Police or the authorized designee should conduct an audit of all informant funds for the purpose of accountability and security of the funds. The funds and related documents (e.g., buy/expense fund records,
        cash transfer forms, invoices, receipts and logs) will assist with the audit process.</p>
</div>