<div class="chapter" id="610">
    <h2>610 - Eyewitness Identification</h2>
    <h3>610.1 PURPOSE AND SCOPE</h3>
    <p>This policy sets forth guidelines to be used when members of this department employ eyewitness identification techniques.</p>
    <h4>610.1.1 DEFINITIONS</h4>
    <p>Definitions related to the policy include:</p>
    <p><strong>Eyewitness identification process</strong> - Any field identification, live lineup or photographic identification.</p>
    <p><strong>Field identification</strong> - A live presentation of a single individual to a witness following the commission of a criminal offense for the purpose of identifying or eliminating the person as the suspect.</p>
    <p><strong>Live lineup</strong> - A live presentation of individuals to a witness for the purpose of identifying or eliminating an individual as the suspect.</p>
    <p><strong>Photographic lineup</strong> - Presentation of photographs to a witness for the purpose of identifying or eliminating an individual as the suspect.</p>

    <h3>610.2 POLICY</h3>
    <p>This department will strive to use eyewitness identification techniques, when appropriate, to enhance the investigative process and will emphasize identifying persons responsible for crime and exonerating the innocent.</p>

    <h3>610.3 INTERPRETIVE SERVICES</h3>
    <p>Officers should make a reasonable effort to arrange for an interpreter before proceeding with eyewitness identification if communication with a witness is impeded due to language or hearing barriers.</p>
    <p>Before the interpreter is permitted to discuss any matter with the witness, the investigating officer should explain the identification process to the interpreter. Once it is determined that the interpreter comprehends the process and can explain
        it to the witness, the eyewitness identification may proceed as provided for within this policy.</p>

    <h3>610.4 EYEWITNESS IDENTIFICATION FORM</h3>
    <p>The Investigation Division supervisor shall be responsible for the development and maintenance of an eyewitness identification process for use by members when they are conducting eyewitness identifications.</p>
    <p>The process and any related forms or reports should provide:</p>
    <ol class="alpha">
        <li>The date, time and location of the eyewitness identification procedure.</li>
        <li>The name and identifying information of the witness.</li>
        <li>The name of the person administering the identification procedure.</li>
        <li>If applicable, the names of all of the individuals present during the identification procedure.</li>
        <li>An admonishment that the suspect’s photograph may or may not be among those presented and that the witness is not obligated to make an identification.</li>
        <li>An admonishment to the witness that the investigation will continue regardless of whether an identification is made by the witness.</li>
        <li>A signature line where the witness acknowledges that he/she understands the identification procedures and instructions.</li>
    </ol>
    <p>The process and related forms should be reviewed at least annually and modified when necessary.</p>

    <h3>610.5 EYEWITNESS IDENTIFICATION</h3>
    <p>Officers are cautioned not to, in any way, influence a witness as to whether any subject or photo presented in a lineup is in any way connected to the case. Officers should avoid mentioning that:</p>
    <ul>
        <li>The individual was apprehended near the crime scene.</li>
        <li>The evidence points to the individual as the suspect.</li>
        <li>Other witnesses have identified, or failed to identify, the individual as the suspect.</li>
    </ul>
    <p>In order to avoid undue influence, witnesses should view suspects or a lineup individually and outside the presence of other witnesses. Witnesses should be instructed to avoid discussing details of the incident or of the identification process with
        other witnesses.</p>
    <p>Whenever feasible, the eyewitness identification procedure should be audio and/or video recorded and the recording should be retained according to current evidence procedures.</p>
    <h4>610.5.1 PHOTOGRAPHIC AND LIVE LINEUP CONSIDERATIONS</h4>
    <p>When practicable, the person composing the lineup and the person presenting the lineup should not be directly involved in the investigation of the case. When this is not possible, the member presenting the lineup must take the utmost care not to communicate
        the identity of the suspect in any way.</p>
    <p>When practicable, the employee presenting a lineup to a witness should not know which photograph or person is the suspect.</p>
    <p>Other persons or photos used in any lineup should bear similar characteristics to the suspect to avoid causing him/her to unreasonably stand out. In cases involving multiple suspects, a separate lineup should be conducted for each suspect. The suspects
        should be placed in a different order within each lineup.</p>
    <p>The employee presenting the lineup to a witness should do so sequentially and not simultaneously (i.e., show the witness one person at a time). The witness should view all persons in the lineup.</p>
    <p>The order of the suspect or the photos and the fillers should be randomized before being presented to each witness.</p>
    <p>A live lineup should only be used before criminal proceedings have been initiated against the suspect. If there is any question as to whether any criminal proceedings have begun, the investigating officer should contact the appropriate prosecuting
        attorney before proceeding.</p>
    <h4>610.5.2 FIELD IDENTIFICATION CONSIDERATIONS</h4>
    <p>Field identifications, also known as field elimination show-ups or one-on-one identifications, may be helpful in certain cases, where exigent circumstances make it impracticable to conduct a photo or live lineup identifications. A field elimination
        or show-up identification should not be used when independent probable cause exists to arrest a suspect. In such cases a live or photo lineup is the preferred course of action if eyewitness identification is contemplated.</p>
    <p>When initiating a field identification, the officer should observe the following guidelines:</p>
    <ol class="alpha">
        <li>Obtain a complete description of the suspect from the witness.</li>
        <li>Assess whether a witness should be included in a field identification process by considering:
            <ol class="decimal">
                <li>The length of time the witness observed the suspect.</li>
                <li>The distance between the witness and the suspect.</li>
                <li>Whether the witness could view the suspect's face.</li>
                <li>The quality of the lighting when the suspect was observed by the witness.</li>
                <li>Whether there were distracting noises or activity during the observation.</li>
                <li>Any other circumstances affecting the witness's opportunity to observe the suspect.</li>
                <li>The length of time that has elapsed since the witness observed the suspect.</li>
            </ol>
        </li>
        <li>If safe and practicable, the person who is the subject of the show-up should not be handcuffed or in a patrol vehicle.</li>
        <li>When feasible, officers should bring the witness to the location of the suspect, rather than bring the suspect to the witness.</li>
        <li>A person should not be shown to the same witness more than once.</li>
        <li>In cases involving multiple suspects, witnesses should only be permitted to view the suspects one at a time.</li>
        <li>A person in a field identification should not be required to put on clothing worn by the suspect, to speak words uttered by the suspect or to perform other actions mimicking those of the suspect.</li>
        <li>If a witness positively identifies an individual as the perpetrator, officers should not conduct any further field identifications with other witnesses for that suspect. In such instances</li>
    </ol>
    <p>officers should document the contact information for any additional witnesses for follow up, if necessary.</p>

    <h3>610.6 DOCUMENTATION</h3>
    <p>A thorough description of the eyewitness process and the results of any eyewitness identification should be documented in the case report. Witness comments of how certain he/she is of the identification or non-identification should be quoted in the
        report. Officers shall also record the eye witness identification process with their squad MVR whenever it is available to them.</p>
    <p>If a photographic lineup is utilized, a copy of the photographic lineup presented to the witness should be included in the case report. In addition, the order in which the photographs were presented to the witness should be documented in the case
        report.
    </p>
</div>