<div class="chapter" id="612">
    <h2>612 - Brady Material Disclosure</h2>
    <h3>612.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes guidelines for identifying and releasing potentially exculpatory or impeachment information (so-called "<em>Brady </em>information") to a prosecuting attorney.</p>
    <h4>612.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong><em>Brady</em> information</strong> - Information known or possessed by the Metro Transit Police Department that is both favorable and material to the current prosecution or defense of a criminal defendant.</p>

    <h3>612.2 POLICY</h3>
    <p>The Metro Transit Police Department will conduct fair and impartial criminal investigations and will provide the prosecution with both incriminating and exculpatory evidence as well as information that may adversely affect the credibility of a witness.
        In addition to reporting all evidence of guilt, the Metro Transit Police Department will assist the prosecution by complying with its obligation to disclose information that is both favorable and material to the defense. The Department will identify
        and disclose to the prosecution potentially exculpatory information as provided in this policy.</p>

    <h3>612.3 DISCLOSURE OF INVESTIGATIVE INFORMATION</h3>
    <p>Officers must include in their investigative reports adequate investigative information and reference to all material evidence and facts that are reasonably believed to be either incriminating or exculpatory to any individual in the case. If an officer
        learns of potentially incriminating or exculpatory information any time after submission of a case, the officer or the handling investigator must prepare and submit a supplemental report documenting such information as soon as practicable. Supplemental
        reports shall be promptly processed and transmitted to the prosecutor's office.</p>
    <p>If information is believed to be privileged or confidential (e.g., confidential informant or protected personnel files), the officer should discuss the matter with a supervisor and/or prosecutor to determine the appropriate manner in which to proceed.</p>
    <p>Evidence or facts are considered material if there is a reasonable probability that they would affect the outcome of a criminal proceeding or trial. Determining whether evidence or facts are material often requires legal or even judicial review. If
        an officer is unsure whether evidence or facts are material, the officer should address the issue with a supervisor.</p>
    <p>Supervisors who are uncertain about whether evidence or facts are material should address the issue in a written memo to an appropriate prosecutor. A copy of the memo should be retained in the Department case file.</p>

    <h3>612.4 DISCLOSURE OF PERSONNEL INFORMATION</h3>
    <p>If a member of this department is a material witness in a criminal case, a person or persons designated by the Chief of Police shall examine the personnel file and/or internal affairs file of the officer to determine whether they contain <em>Brady</em>        information. If <em>Brady</em> information is located, the following procedure shall apply:</p>
    <ol class="alpha">
        <li>In the event that a motion has not already been filed by the criminal defendant or other party, the prosecuting attorney and department member shall be notified of the potential presence of <em>Brady </em>material in the member's personnel file.</li>
        <li>If the data is classified as public data, a copy of it shall be provided to the prosecuting attorney. In the case of non-public data, the prosecuting attorney should then be requested to file a motion in order to initiate an in camera review by
            the court.
            <ol class="decimal">
                <li>If no motion is filed, the supervisor should work with counsel to determine whether the records should be disclosed to the prosecutor.</li>
            </ol>
        </li>
        <li>The Custodian of Records shall accompany all relevant personnel files during any in camera inspection to address any issues or questions raised by the court.</li>
        <li>If the court determines that there is relevant <em>Brady </em>material contained in the files, only that data ordered released will be copied and released to the parties filing the motion.</p>
            <ol class="decimal">
                <li>Prior to the release of any materials pursuant to this process, the Custodian of Records should request a protective order from the court limiting the use and further dissemination of such materials to the involved case and requiring the
                    return of all copies upon completion of the case.</li>
            </ol>
        </li>
        <li>If a court has determined that relevant <em>Brady </em>information is contained in the member's file in any case, the prosecutor should be notified of that fact in all future cases involving that member.</li>
    </ol>
    <p>The person or persons designated by the Chief of Police should periodically examine the personnel files and/or internal affairs files of all officers who may be material witnesses in criminal cases to determine whether they contain <em>Brady </em>information.
        The obligation to provide <em>Brady </em>information is ongoing. If any new <em>Brady </em>information is identified, the prosecuting attorney should be notified.</p>

    <h3>612.5 INVESTIGATING BRADY ISSUES</h3>
    <p>If the Department receives information from any source that a member may have issues of credibility, dishonesty or has been engaged in an act of moral turpitude or criminal conduct, the information shall be investigated and processed in accordance
        with the Personnel Complaints Policy.</p>

    <h3>612.6 TRAINING</h3>
    <p>Department personnel should receive periodic training on the requirements of this policy.</p>
</div>