<div class="chapter" id="613">
    <h2>613 - Warrant Service</h2>
    <h3>613.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes guidelines for the planning and serving of arrest and search warrants by members of this department. It is understood that this policy cannot address every variable or circumstance that can arise in the service of a search
        or arrest warrant, as these tasks can involve rapidly evolving and unique circumstances.</p>
    <p>This policy is intended to be used in conjunction with the Operations Planning and Deconfliction Policy, which has additional guidance on planning and serving high-risk warrants.</p>
    <p>This policy is not intended to address the service of search warrants on locations or property already secured or routine field warrant arrests by patrol officers.</p>

    <h3>613.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to balance the safety needs of the public, the safety of department members, privacy interests and other relevant factors when making decisions related to the service of search and arrest warrants.</p>

    <h3>613.3 OPERATIONS DIRECTOR / INVESTIGATIVE SUPERVISOR</h3>
    <p>The operations director / investigative supervisor (see the Operations Planning and Deconfliction Policy) shall review all risk assessment forms with the involved supervisor to determine the risk level of the warrant service.</p>
    <p>The operations director will also have the responsibility to coordinate service of those warrants that are categorized as high risk. Deconfliction, risk assessment, operational planning, briefing and debriefing should follow guidelines in the Operations
        Planning and Deconfliction Policy.</p>

    <h3>613.4 SEARCH WARRANTS</h3>
    <p>Officers should receive authorization from a supervisor before preparing a search warrant application. Once authorization is received, the officer will prepare the affidavit and search warrant, consulting with the applicable prosecuting attorney as
        needed. He/she will also complete the risk assessment form and submit it, along with the warrant affidavit, to the appropriate supervisor and the operations director / investigative supervisor for review and classification of risk (see the Operations
        Planning and Deconfliction Policy).

        <h3>613.5 ARREST WARRANTS</h3>
        <p>If an officer reasonably believes that serving an arrest warrant may pose a higher risk than commonly faced on a daily basis, the officer should complete the risk assessment form and submit it to the appropriate supervisor and the operations director
            / investigative supervisor for review and classification of risk (see the Operations Planning and Deconfliction Policy).</p>
        <p>If the warrant is classified as high risk, service will be coordinated by the operations director / investigative supervisor. If the warrant is not classified as high risk, the supervisor should weigh the risk of entry into a residence to make
            an arrest against other alternatives, such as arresting the person outside the residence where circumstances may pose a lower risk.</p>

        <h3>613.6 WARRANT PREPARATION</h3>
        <p>An officer who prepares a warrant should ensure the documentation in support of the warrant contains as applicable:</p>
        <ol class="alpha">
            <li>Probable cause to support the search or arrest, including relevant dates and times to demonstrate timeliness and facts to support any request for nighttime or no-knock warrant execution.</li>
            <li>A clear explanation of the affiant’s training, experience and relevant education.</li>
            <li>Adequately supported opinions, when relevant, that are not left to unsubstantiated conclusions.</li>
            <li>A nexus between the place to be searched and the persons or items central to the investigation. The facts supporting this nexus should be clear and current. For example, the affidavit shall explain why there is probable cause to believe that
                a particular person is currently residing at a particular location or that the items sought are present at a particular location.</li>
            <li>Full disclosure of known or suspected residents at the involved location and any indication of separate living spaces at the involved location. For example, it should be disclosed that several people may be renting bedrooms at a single location,
                even if the exact location of the rooms is not known.</li>
            <li>A specific description of the location to be searched, including photographs of the location, if reasonably available.</li>
            <li>A sufficient description of the items to be seized.</li>
            <li>Full disclosure of any known exculpatory information relevant to the warrant application (refer to the <em>Brady</em> Material Disclosure Policy).</li>
        </ol>

        <h3>613.7 HIGH-RISK WARRANT SERVICE</h3>
        <p>The operations director / investigative supervisor or the authorized designee shall coordinate the service of warrants that are categorized as high risk and shall have sole authority in determining the manner in which the warrant will be served,
            including the number of officers deployed.</p>
        <p>The member responsible for directing the service should ensure the following as applicable:</p>
        <ol class="alpha">
            <li>When practicable and when doing so does not cause unreasonable risk, video or photographic documentation is made of the condition of the location prior to execution of a search warrant. The images should include the surrounding area and persons
                present.
            </li>
            <li>The warrant service is audio- and video-recorded when practicable and reasonable to do so.</li>
            <li>Evidence is handled and collected only by those members who are designated to do so. All other members involved in the service of the warrant should alert one of the designated members to the presence of potential evidence and not touch or
                disturb the items.</li>
            <li>Reasonable efforts are made during the search to maintain or restore the condition of the location.</li>
            <li>Persons who are detained as part of the warrant service are handled appropriately under the circumstances.</li>
            <li>Reasonable care provisions are made for children and dependent adults (see the Child and Dependent Adult Safety Policy).</li>
            <li>A list is made of all items seized and a copy provided to the person in charge of the premises if present or otherwise left in a conspicuous place.</li>
            <li>A copy of the search warrant is left at the location.</li>
            <li>The condition of the property is documented with video recording or photographs after the search.</li>
        </ol>

        <h3>613.8 DETENTIONS DURING WARRANT SERVICE</h3>
        <p>Officers must be sensitive to the safety risks of all persons involved with the service of a warrant. Depending on circumstances and facts present, it may be appropriate to control movements of any or all persons present at a warrant service,
            including those who may not be the subject of a warrant or suspected in the case. However, officers must be mindful that only reasonable force may be used and weapons should be displayed no longer than the officer reasonably believes is necessary
            (see the Use of Force Policy).</p>
        <p>As soon as it can be determined that an individual is not subject to the scope of a warrant and that no further reasonable suspicion or safety concerns exist to justify further detention, the person should be promptly released.</p>
        <p>Officers should, when and to the extent reasonable, accommodate the privacy and personal needs of people who have been detained.</p>

        <h3>613.9 ACTIONS AFTER WARRANT SERVICE</h3>
        <p>The supervisor shall ensure that all affidavits, warrants, receipts and returns, regardless of any associated cases, are filed with the issuing court as soon as reasonably possible, but in any event no later than any date specified on the warrant
            or by rules established by the court.</p>

        <h3>613.10 OUTSIDE AGENCIES AND CROSS-JURISDICTIONAL WARRANTS</h3>
        <p>The operations director / investigative supervisor will ensure that cooperative efforts with other agencies in the service of warrants conform to existing mutual aid agreements or other memorandums of understanding and will work cooperatively
            to mitigate risks including, but not limited to, the following:</p>
        <ul>
            <li>Identity of team members</li>
            <li>Roles and responsibilities</li>
            <li>Familiarity with equipment</li>
            <li>Rules of engagement</li>
            <li>Asset forfeiture procedures</li>
        </ul>
        <p>Any outside agency requesting assistance in the service of a warrant within this jurisdiction should be referred to the operations director / investigative supervisor. The director should review and confirm the warrant, including the warrant location,
            and should discuss the service with the appropriate supervisor from the other agency. The director should ensure that members of the Metro Transit Police Department are utilized appropriately. Any concerns regarding the requested use of Metro
            Transit Police Department members should be brought to the attention of the Chief of Police or the authorized designee. The actual service of the warrant will remain the responsibility of the agency requesting assistance.</p>
        <p>If the operations director / investigative supervisor is unavailable, the Shift Supervisor (Lieutenant) should assume this role.</p>
        <p>If officers intend to serve a warrant outside Metro Transit Police Department jurisdiction, the operations director / investigative supervisor should provide reasonable advance notice to the applicable agency, request assistance as needed and
            work cooperatively on operational planning and the mitigation of risks detailed in this policy.</p>
        <p>Officers will remain subject to the policies of the Metro Transit Police Department when assisting outside agencies or serving a warrant outside Metro Transit Police Department jurisdiction.</p>

        <h3>613.11 MEDIA ACCESS</h3>
        <p>No advance information regarding warrant service operations shall be released without the approval of the Chief of Police. Any media inquiries or press release after the fact shall be handled in accordance with the Media Relations Policy.</p>

        <h3>613.12 TRAINING</h3>
        <p>The Training Supervisor should ensure officers whose job duties require it, receive periodic training on this policy and associated topics, such as legal issues, warrant preparation, warrant service and reporting requirements.</p>
</div>