<div class="chapter" id="614">
    <h2>614 - Operations Planning and Deconfliction</h2>
    <h3>614.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines for planning, deconfliction and execution of high-risk operations.</p>
    <p>Additional guidance on planning and serving high-risk warrants is provided in the Warrant Service Policy.</p>
    <h4>614.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>High-risk operations</strong> - Operations, including service of search and arrest warrants and sting operations, that are likely to present higher risks than are commonly faced by officers on a daily basis, including suspected fortified locations,
        reasonable risk of violence or confrontation with multiple persons, or reason to suspect that persons anticipate the operation.</p>

    <h3>614.2 POLICY</h3>
    <p>It is the policy of the Metro Transit Police Department to properly plan and carry out high- risk operations, including participation in a regional deconfliction system, in order to provide coordination, enhance the safety of members and the public,
        decrease the risk of compromising investigations and prevent duplicating efforts.</p>

    <h3>614.3 OPERATIONS DIRECTOR / INVESTIGATIVE SUPERVISOR</h3>
    <p>The Chief of Police will designate a member of this department to be the operations director (typically the Investigative Supervisor).</p>
    <p>The operations director / investigative supervisor will develop and maintain a risk assessment form to assess, plan and coordinate operations. This form should provide a process to identify high-risk operations.</p>
    <p>The operations director / investigative supervisor will review risk assessment forms with involved supervisors to determine whether a particular incident qualifies as a high-risk operation. The director will also have the responsibility for coordinating
        operations that are categorized as high risk.</p>

    <h3>614.4 RISK ASSESSMENT</h3>
    <h4>614.4.1 RISK ASSESSMENT FORM PREPARATION</h4>
    <p>Officers assigned as operational leads for any operation that may qualify as a high-risk operation shall complete a risk assessment form.</p>
    <p>When preparing the form, the officer should query all relevant and reasonably available intelligence resources for information about the subject of investigation, others who may be present and the involved location. These sources may include regional
        intelligence and criminal justice databases,</p>
    <p>target deconfliction systems, firearm records, commercial databases and property records. Where appropriate, the officer should also submit information to these resources.</p>
    <p>The officer should gather available information that includes, but is not limited to:</p>
    <ol class="alpha">
        <li>Photographs, including aerial photographs, if available, of the involved location, neighboring yards and obstacles.</li>
        <li>Maps of the location.</li>
        <li>Diagrams of any property and the interior of any buildings that are involved.</li>
        <li>Historical information about the subject of investigation (e.g., history of weapon possession or use, known mental illness, known drug use, threats against police, gang affiliation, criminal history).</li>
        <li>Historical information about others who may be present at the location (e.g., other criminals, innocent third parties, dependent adults, children, animals).</li>
        <li>Obstacles associated with the location (e.g., fortification, booby traps, reinforced doors/ windows, surveillance measures, number and type of buildings, geographic and perimeter barriers, the number and types of weapons likely to be present,
            information that suggests the presence of explosives, chemicals or other hazardous materials, the potential for multiple dwellings or living spaces, availability of keys/door combinations).</li>
        <li>Other environmental factors (e.g., nearby venues such as schools and day care centers, proximity of adjacent homes or other occupied buildings, anticipated pedestrian and vehicle traffic at the time of service).</li>
        <li>Other available options that may minimize the risk to officers and others (e.g., making an off-site arrest or detention of the subject of investigation).</li>
    </ol>
    <h4>614.4.2 RISK ASSESSMENT REVIEW</h4>
    <p>Officers will present the risk assessment form and other relevant documents (such as copies of search warrants and affidavits and arrest warrants) to their supervisor and the operations director/ investigative supervisor.</p>
    <p>The supervisor and operations director / investigative supervisor shall confer and determine the level of risk. Supervisors should take reasonable actions if there is a change in circumstances that elevates the risks associated with the operation.</p>
    <h4>614.4.3 HIGH-RISK OPERATIONS</h4>
    <p>If the operations director / investigative supervisor, after consultation with the involved supervisor, determines that the operation is high risk, the operations director / investigative supervisor should:</p>
    <ol class="alpha">
        <li>Determine what resources will be needed at the location, and contact and/or place on standby any of the following appropriate and available resources:
            <ol class="decimal">
                <li>Local agency tactical team</li>
                <li>Additional personnel</li>
                <li>Outside agency assistance</li>
                <li>Special equipment</li>
                <li>Medical personnel</li>
                <li>Persons trained in negotiation</li>
                <li>Additional surveillance</li>
                <li>Canines</li>
                <li>Property and Evidence or analytical personnel to assist with cataloguing seizures</li>
                <li>Forensic specialists</li>
                <li>Specialized mapping for larger or complex locations</li>
            </ol>
        </li>
        <li>Contact the appropriate department members or other agencies as warranted to begin preparation.</li>
        <li>Ensure that all legal documents such as search warrants are complete and have any modifications reasonably necessary to support the operation.</li>
        <li>Coordinate the actual operation.</li>
    </ol>

    <h3>614.5 DECONFLICTION</h3>
    <p>Deconfliction systems are designed to identify persons and locations associated with investigations or law enforcement operations and alert participating agencies when others are planning or conducting operations in close proximity or time or are
        investigating the same individuals, groups or locations.</p>
    <p>The officer who is the operations lead shall ensure the subject of investigation and operations information have been entered in an applicable deconfliction system to determine if there is reported conflicting activity. This should occur as early
        in the process as practicable, but no later than two hours prior to the commencement of the operation. The officer should also enter relevant updated information when it is received.</p>
    <p>If any conflict is discovered, the supervisor will contact the involved jurisdiction and resolve the potential conflict before proceeding.</p>

    <h3>614.6 OPERATIONS PLAN</h3>
    <p>The operations director / investigative supervisor should ensure that a written operations plan is developed for all high-risk operations. Plans should also be considered for other operations that would benefit from having a formal plan.</p>
    <p>The plan should address such issues as:</p>
    <ol class="apha">
        <li>Operation goals, objectives and strategies.</li>
        <li>Operation location and people:
            <ol class="decimal">
                <li>The subject of investigation (e.g., history of weapon possession/use, known mental illness issues, known drug use, threats against police, gang affiliation, criminal history)</li>
                <li>The location (e.g., fortification, booby traps, reinforced doors/windows, surveillance cameras and/or lookouts, number/type of buildings, geographic and perimeter barriers, the number and types of weapons likely to be present, information
                    that suggests the presence of explosives, chemicals or other hazardous materials, the potential for multiple dwellings or living spaces, availability of keys/door combinations), including aerial photos, if available, and maps of neighboring
                    yards and obstacles, diagrams and other visual aids</li>
                <li>Other environmental factors (e.g., nearby venues such as schools and day care centers, proximity of adjacent homes or other occupied buildings, anticipated pedestrian and vehicle traffic at the time of service)</li>
                <li>Identification of other people who may be present in or around the operation, such as other criminal suspects, innocent third parties and children</li>
            </ol>
        </li>
        <li>Information from the risk assessment form by attaching a completed copy in the operational plan.
            <ol class="decimal">
                <li>The volume or complexity of the information may indicate that the plan includes a synopsis of the information contained on the risk assessment form to ensure clarity and highlighting of critical information.</li>
            </ol>
        </li>
        <li>Participants and their roles.
            <ol class="decimal">
                <li>An adequate number of uniformed officers should be included in the operation team to provide reasonable notice of a legitimate law enforcement operation.</li>
                <li>How all participants will be identified as law enforcement.</li>
            </ol>
        </li>
        <li>Whether deconfliction submissions are current and all involved individuals, groups and locations have been deconflicted to the extent reasonably practicable.</li>
        <li>Identification of all communications channels and call-signs.</li>
        <li>Use of force issues.</li>
        <li>Contingencies for handling medical emergencies (e.g., services available at the location, closest hospital, closest trauma center).</li>
        <li>Plans for detaining people who are not under arrest.</li>
        <li>Contingencies for handling children, dependent adults, animals and other people who might be at the location in accordance with the Child Abuse, Adult Abuse, Child and Dependent Adult Safety and Animal Control policies.</li>
        <li>Communications plan.</li>
        <li>Responsibilities for writing, collecting, reviewing and approving reports.</li>
    </ol>
    <h4>614.6.1 OPERATIONS PLAN RETENTION</h4>
    <p>Since the operations plan contains intelligence information and descriptions of law enforcement tactics, it shall not be filed with the report. The operations plan shall be stored separately and retained in accordance with the established records
        retention schedule.</p>

    <h3>614.7 OPERATIONS BRIEFING</h3>
    <p>A briefing should be held prior to the commencement of any high-risk operation to allow all participants to understand the operation, see and identify each other, identify roles and responsibilities and ask questions or seek clarification as needed.
        Anyone who is not present at the briefing should not respond to the operation location without specific supervisory approval.</p>
    <ol class="alpha">
        <li>The briefing should include a verbal review of plan elements, using visual aids, to enhance the participants’ understanding of the operations plan.</li>
        <li>All participants should be provided a copy of the operations plan and search warrant, if applicable. Participating personnel should be directed to read the search warrant and initial a copy that is retained with the operation plan. Any items to
            be seized should be identified at the briefing.</li>
        <li>The operations director / investigative supervisor shall ensure that all participants are visually identifiable as law enforcement officers.
            <ol class="decimal">
                <li>Exceptions may be made by the operations director / investigative supervisor for officers who are conducting surveillance or working under cover. However, those members exempt from visual identification should be able to transition to
                    a visible law enforcement indicator at the time of enforcement actions, such as entries or arrests, if necessary.</li>
            </ol>
        </li>
        <li>The briefing should include details of the communications plan.
            <ol class="decimal">
                <li>It is the responsibility of the operations director to ensure that Transit Control Center is notified of the time and location of the operation, and to provide a copy of the operation plan prior to officers arriving at the location.</li>
                <li>If the radio channel needs to be monitored by Transit Control Center, the dispatcher assigned to monitor the operation should attend the briefing, if practicable, but at a minimum should receive a copy of the operation plan.</li>
                <li>The briefing should include a communications check to ensure that all participants are able to communicate with the available equipment on the designated radio channel.</li>
            </ol>
        </li>
    </ol>

    <h3>614.8 TACTICAL TEAM PARTICIPATION</h3>
    <p>If the operations director / investigative supervisor determines that tactical team participation is appropriate, the director and the tactical team supervisor shall work together to develop a written plan. The tactical team supervisor shall assume
        operational control until all persons at the scene are appropriately detained and it is safe to begin a search. When this occurs, the tactical team supervisor shall transfer control of the scene to the handling supervisor. This transfer should
        be communicated to the officers present.</p>

    <h3>614.9 MEDIA ACCESS</h3>
    <p>No advance information regarding planned operations shall be released without the approval of the Chief of Police. Any media inquiries or press release after the fact shall be handled in accordance with the Media Relations Policy.</p>

    <h3>614.10 OPERATIONS DEBRIEFING</h3>
    <p>High-risk operations should be debriefed as soon as reasonably practicable. The debriefing should include as many participants as possible. This debrief may be separate from any tactical team debriefing.</p>

    <h3>614.11 TRAINING</h3>
    <p>The Training Supervisor should ensure officers who participate in operations subject to this policy should receive periodic training including, but not limited to, topics such as legal issues, deconfliction practices, operations planning concepts
        and reporting requirements.</p>
</div>