<div class="chapter" id="615">
    <h2>615 - Scrap Metal Theft Investigation</h2>
    <h3>615.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance regarding scrap metal theft investigations.</p>
    <h4>615.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Scrap vehicle operator or operator</strong> - A person described in Minn. Stat. § 168A.1501 who engages in a transaction involving the purchase or acquisition of a scrap vehicle.</p>
    <p><strong>Scrap metal dealer or dealer</strong> - A person engaged in the business of buying or selling scrap metal, or both, as defined in Minn. Stat. § 325E.21.</p>

    <h3>615.2 POLICY</h3>
    <p>The Metro Transit Police Department recognizes the difficulty in preventing scrap metal theft and may investigate, place holds on or confiscate items as provided in this policy.</p>

    <h3>615.3 INSPECTIONS</h3>
    <p>An officer engaged in scrap metal theft investigations may (Minn. Stat. § 168A.1501; Minn. Stat. § 325E.21):</p>
    <ol class="alpha">
        <li>Conduct inspections of any purchase and acquisition records maintained by scrap vehicle operators or scrap metal dealers.</li>
        <li>Inspect scrap vehicle or scrap metal received by an operator or dealer at any reasonable time.</li>
        <li>Inspect any video or still camera and any recordings or images required to be maintained by an operator or dealer.</li>
    </ol>
    <p>Any refusal to allow such inspections should be referred to the local jurisdiction's attorney for criminal prosecution.</p>

    <h3>615.4 INVESTIGATIVE HOLDS</h3>
    <p>An officer who has probable cause to believe that a scrap vehicle or motor vehicle parts in the possession of a scrap vehicle operator, or that scrap metal in the possession of a scrap metal dealer, is stolen or is evidence of a crime may verbally
        order the operator or dealer not to process, sell, remove or allow the removal of the item for 30 days (Minn. Stat. § 168A.1501; Minn. Stat. § 325E.21).</p>
    <p>The officer issuing the order is responsible for ensuring that the order to hold the item is confirmed in writing within 72 hours. If the item is identified as evidence in an active criminal case, the officer may extend the hold in writing. This extension
        must occur within 30 days of the original order and may remain in effect for as long as the investigation or prosecution is active.</p>

    <h3>615.5 SEIZING ITEMS</h3>
    <p>The investigating officer should confer with the prosecuting attorney to determine whether the item should be confiscated. If the item is evidence or otherwise needed for an investigation or prosecution, the officer may issue a written notice to confiscate
        any time during the investigative hold. The officer shall take custody of the item within 15 days of the notice to confiscate (Minn. Stat. § 168A.1501; Minn. Stat. § 325E.21).</p>
    <p>When an item is confiscated, the officer shall:</p>
    <ol class="alpha">
        <li>Provide the operator or dealer a property receipt that includes at least the following:
            <ol class="decimal">
                <li>The name and telephone number of the Department.</li>
                <li>The name and telephone number of the officer.</li>
                <li>The case number related to the confiscation.</li>
            </ol>
        </li>
        <li>Deliver the item to the Property and Evidence.</li>
    </ol>
    <p>When a confiscated item is no longer needed for an investigation or prosecution, it may be returned to a registered owner only after giving the operator or dealer from whom the item was seized written notice of intent to do so. The written notice
        should include notice of the right of the operator or dealer to make a written request for return of the item and that if the Department does not return the item within 48 hours of the request, excluding Saturday, Sunday or legal holidays, the
        operator or dealer may file a petition for the return of the item in the district court in the district in which the property was seized (Minn. Stat. § 626.04).</p>

    <h3>615.6 TERMINATION OF HOLD OR NOTICE TO CONFISCATE</h3>
    <p>At the conclusion of any investigation and prosecution, the officer who issued the investigative hold or a notice to confiscate property not yet confiscated shall notify the operator or dealer in writing that the hold or notice is no longer in effect
        (Minn. Stat. § 168A.1501; Minn. Stat. § 325E.21).</p>

    <h3>615.7 AUTOMATED PROPERTY SYSTEM</h3>
    <p>The Investigation Division supervisor is responsible for ensuring that the Department complies with the implementation and use of the Automated Property System (APS) (Minn. Stat. § 168A.1501; Minn. Stat. § 325E.21).</p>
</div>