<div class="chapter" id="700">
	<h2>700 - Department-Owned and Personal Property</h2>
	<h3>700.1 PURPOSE AND SCOPE</h3>
	<p>Department employees are expected to properly care for Department property assigned or entrusted to them. Employees may also suffer occasional loss or damage to personal or department property while performing their assigned duties. Certain procedures
		are required depending on the loss and ownership of the item and officers should consult their contract for reimbursement information.</p>

	<h3>700.2 DOCUMENTATION OF ISSUED PROPERTY</h3>
	<p>All property issued shall be documented in the appropriate property sheet or equipment log and receipt acknowledged by signature. Upon an employee's separation from the Department, all issued equipment shall be returned and documentation of the return
		signed by a supervisor.</p>
	<h4>700.2.1 CARE OF DEPARTMENT PROPERTY</h4>
	<p>Employees shall be responsible for the safekeeping, serviceable condition, proper care, use and replacement of department property assigned or entrusted to them. An employee's intentional or negligent abuse or misuse of department property may lead to
		discipline including, but not limited to, the cost of repair or replacement.</p>
	<ol class="alpha">
		<li>Employees shall promptly report through the chain of command, any loss, damage to or unserviceable condition of any department-issued property or equipment assigned for their use.
			<ol class="decimal">
				<li>A supervisor receiving such a report shall make an appropriate investigation and direct a memo to their appropriate supervisor that shall include the result of his/her investigation and whether the employee followed proper procedures. The supervisor's
					report shall address whether reasonable care was taken to prevent the loss, damage or unserviceable condition.</li>
				<li>A review by Staff to determine whether misconduct or negligence was involved should be completed.</li>
			</ol>
		</li>
		<li>The use of damaged or unserviceable department property should be discontinued as soon as practicable and, if appropriate and approved by staff, replaced with comparable Department property as soon as available and following notice to a supervisor.</li>
		<li>Except when otherwise directed by competent authority or required by exigent circumstances, Department property shall only be used by those to whom it was assigned. Use should be limited to official purposes and in the capacity for which it was designed.
		</li>
		<li>Department property shall not be thrown away, sold, traded, donated, destroyed or otherwise disposed of without proper authority.</li>
		<li>In the event that any Department property becomes damaged or unserviceable, no employee shall attempt to repair the property without prior approval of a supervisor.</li>
	</ol>

	<h3>700.3 USE OF PERSONAL PROPERTY</h3>
	<p>The carrying of personal equipment on-duty or its use in the performance of duties requires prior written approval by the Chief of Police or designee. The employee should submit for approval the description of personal property the employee has requested
		to carry, the reason for its use and the term of its use. Personal property of the type routinely carried by persons not performing law enforcement duties nor comprising a weapon are excluded from this requirement. The Chief of Police or designee should
		review the request and approve or deny the request as appropriate.</p>
	<h4>700.3.1 DEFINITIONS</h3>
    <p><strong>Personal Property</strong> - Items or equipment owned by, provided by or purchased totally at the expense of the employee. This definition includes optional equipment items identified in the Uniform Regulations Policy.</p>
    <h4>700.3.2 FILING CLAIMS FOR PERSONAL PROPERTY</h4>
	<p>Claims for reimbursement for damage or loss of personal property must be made on the proper form. This form is submitted to the employee's immediate supervisor. The supervisor may require a separate written report of the loss or damage.</p>
	<p>The supervisor receiving such a report shall make an appropriate investigation and direct a memo to their supervisor that shall include the result of his/her investigation and whether reasonable care was taken to prevent the loss, damage or unserviceable
		condition.
	</p>
	<p>Upon review by staff and a finding that no misconduct or negligence was involved, repair or replacement may be recommended by the Chief of Police, who will then forward the claim to the Finance Department.</p>
	<p>The Department will not replace or repair costly items (e.g., jewelry, exotic equipment) that are not reasonably required as a part of work.</p>
	<h4>700.3.3 REPORTING REQUIREMENT</h4>
	<p>A verbal report shall be made to the employee's immediate supervisor as soon as circumstances permit.</p>
	<p>A written report shall be submitted before the employee goes off-duty or within the time frame directed by the supervisor to whom the verbal report is made.</p>

	<h3>700.4 LOSS OR DAMAGE OF PROPERTY OF ANOTHER</h3>
	<p>Officers and other employees intentionally or unintentionally may cause damage to the real or personal property of another while performing their duties. Any employee who damages or causes to be damaged any real or personal property of another while
		performing any law enforcement function shall report it as provided below.</p>
	<ol class="alpha">
		<li>A verbal report shall be made to the employee's immediate supervisor as reasonably soon as circumstances permit.</li>
		<li>A written report shall be submitted before the employee goes off-duty or within the time frame directed by the supervisor to whom the verbal report was made.</li>
	</ol>
	<h4>700.4.1 DAMAGE BY PERSON OF ANOTHER AGENCY</h4>
	<p>If employees of another jurisdiction cause damage to personal property or property belonging to the Metropolitan Council or Metro Transit, it shall be the responsibility of the employee present or the employee responsible for the property to make a verbal
		report to his/her immediate supervisor as reasonably soon as circumstances permit. The employee shall submit a written report before going off-duty or as otherwise directed by the supervisor.</p>
</div>