<div class="chapter" id="702">
    <h2>702 - Personal Communication Devices</h2>
    <h3>702.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish guidelines for the use of mobile telephones and communication devices whether issued or funded by the Department or personally owned, while on-duty or when used for authorized work-related purposes.</p>
    <p>This policy generically refers to all such devices as Personal Communication Devices (PCD) but is intended to include all mobile telephones, personal digital assistants (PDA) and similar wireless two-way communications and/or portable Internet access
        devices. PCD use includes, but is not limited to, placing and receiving calls, text messaging, blogging and microblogging, e-mailing, using video or camera features, playing games and accessing sites or services on the Internet.</p>

    <h3>702.2 POLICY</h3>
    <p>The Metro Transit Police Department allows employees to utilize department-issued or funded PCDs and to possess personally owned PCDs in the workplace subject to certain limitations. Any PCD used while on-duty, or used off-duty in any manner reasonably
        related to the business of the Department, will be subject to monitoring and inspection consistent with the standards set forth in this policy.</p>
    <p>The inappropriate use of a PCD while on-duty may impair officer safety. Additionally employees are advised and cautioned that the use of a personally owned PCD either on-duty or after duty hours for business-related purposes may subject the employee
        and the employee’s PCD records to civil or criminal discovery or disclosure under applicable data practices laws and rules of civil or criminal procedures.</p>
    <p>Employees who have questions regarding the application of this policy or the guidelines contained herein are encouraged to seek clarification from supervisory personnel.</p>

    <h3>702.3 PRIVACY POLICY</h3>
    <p>Employees shall have no expectation of privacy with regard to any communication made with or stored in or through PCDs issued by the Department and shall have no expectation of privacy in their location should the device be equipped with location
        detection capabilities. The use of any department-provided or -funded PCD, computer, Internet service, telephone service or other wireless service while on-duty is without any expectation of privacy that the employee might otherwise have in any
        communication, including the content of any such communication. Communications or data reception on personal, password-protected, web-based e-mail accounts and any other services are subject to monitoring if department equipment is used.</p>
    <p>In accordance with this policy, supervisors are authorized to conduct a limited administrative search of electronic files without prior notice, consent or a search warrant, on department- issued or personally owned PCDs that have been used to conduct
        department-related business. Administrative searches can take place for work-related purposes that may be unrelated to investigations of employee misconduct and, as reasonably practicable, will be done in the presence of the affected employee.
        Prior to conducting any search of personally owned devices, supervisors shall consult with the Chief of Police or designee. All such searches shall be fully documented in a written report.</p>

    <h3>702.4 DEPARTMENT-ISSUED PCD</h3>
    <p>Depending on an employee’s assignment and the needs of the position, the Department may at its discretion issue or fund a PCD. Department-issued or funded PCDs are provided as a convenience to facilitate on-duty performance only. Such devices and
        the associated telephone number shall remain the sole property of the Department and shall be subject to inspection or monitoring (including all related records and content) at any time without notice and without cause.</p>
    <p>Unless an employee is expressly authorized by the Chief of Police or the authorized designee for off-duty use of the PCD, the PCD will either be secured in the workplace at the completion of the tour of duty or will be turned off when leaving the
        workplace.</p>

    <h3>702.5 PERSONALLY OWNED PCD</h3>
    <p>Employees may carry a personally owned PCD while on-duty subject to the following conditions and limitations:</p>
    <ol class="alpha">
        <li>Carrying a personally owned PCD is a privilege, not a right.</li>
        <li>The Department accepts no responsibility or liability for loss of or damage to a personally owned PCD.</li>
        <li>Employees shall promptly notify the Department in the event the PCD is lost or stolen.</li>
        <li>The PCD and any associated services shall be purchased, used and maintained solely at the employee’s expense.</li>
        <li>The device should not be used for work-related purposes except in exigent circumstances, (e.g. unavailability of radio communications). Employees have a reduced expectation of privacy when using a personally owned PCD in the workplace and have
            no expectation of privacy with regard to any department business-related communication.
            <ol class="decimal">
                <li>Members may use personally owned PCDs on-duty for routine administrative work as authorized by the Chief of Police.</li>
            </ol>
        </li>
        <li>The device shall not be utilized to record or disclose any business-related data, including photographs, video or the recording or transmittal of any data or material obtained or made accessible as a result of employment with the Department, without
            the express authorization of the Chief of Police or the authorized designee.</li>
        <li>Use of a personally owned PCD constitutes consent for the Department to access the PCD to inspect and copy data to meet the needs of the Department, which may include litigation, public records retention and release obligations and internal investigations.
            If the PCD is carried on-duty, employees will provide the Department with all telephone access numbers of the device.</li>
        <li>All work-related documents, e-mails, photographs, recordings or other public records created or received on a member’s personally owned PCD should be transferred to the Metro Transit Police Department and deleted from the member’s PCD as soon
            as reasonably practicable but no later than the end of the member’s shift.</li>
    </ol>
    <p>Except with prior express authorization from their supervisor, employees are not obligated or required to carry, access, monitor or respond to electronic communications using a personally owned PCD while off-duty. If an employee is in an authorized
        status that allows for appropriate compensation consistent with policy or existing collective bargaining agreements, or if the employee has prior express authorization from his/her supervisor, the employee may engage in business-related communications.
        Should employees engage in such approved off-duty communications or work, employees entitled to compensation shall promptly document the time worked and communicate the information to their supervisors to ensure appropriate compensation. Employees
        who independently document off-duty department-related business activities in any manner shall promptly provide the Department with a copy of such records to ensure accurate record keeping.</p>
    <h4>702.5.1 PUBLIC RECORDS</h4>
    <p>Work related information including data created, received, recorded or stored on a personally owned PCD in the course of department duties is considered government data subject to the requirements of the Minnesota Government Data Practices Act and
        discovery obligations (Minn. Stat. § 13.01 et seq.).</p>

    <h3>702.6 USE OF PERSONAL COMMUNICATION DEVICES</h3>
    <p>The following protocols shall apply to all PCDs that are carried while on-duty or used to conduct department business:</p>
    <ol class="alpha">
        <li>A PCD shall not be carried in a manner that allows it to be visible while in uniform unless it is in a carrier approved by the department.</li>
        <li>All PCDs in the workplace shall be set to silent or vibrate mode.</li>
        <li>A PCD may not be used to conduct personal business while on-duty except for brief personal communications (e.g., informing family of extended hours). Employees shall endeavor to limit their use of PCDs to authorized break times unless an emergency
            exists.</li>
        <li>Employees may use a PCD to communicate with other personnel in situations where the use of the radio is either impracticable or not feasible. PCDs should not be used as a substitute for or as a way to avoid or in lieu of regular radio communications.</li>
        <li>Officers are prohibited from taking pictures, video or making audio recordings or making copies of any such picture or recording media unless it is directly related to official department business. Disclosure of any such information to any third
            party through any means without the express authorization of the Chief of Police or the authorized designee or contrary to data practices policies and procedures may result in discipline.</li>
        <li>Employees will not access social networking sites while on-duty for any purpose that is not official department business.</li>
        <li>Using PCDs to harass, threaten, coerce or otherwise engage in inappropriate conduct with any third party is prohibited. Any employee having knowledge of such conduct shall promptly notify a supervisor.</li>
    </ol>

    <h3>702.7 SUPERVISORY RESPONSIBILITIES</h3>
    <p>Supervisors should ensure that members under their command are provided appropriate training on the use of PCDs consistent with this policy. Supervisors should monitor, to the extent reasonably practicable, PCD use in the workplace and take prompt
        corrective action if an employee is observed or reported to be improperly using a PCD. An investigation into improper conduct should be promptly initiated when circumstances warrant.</p>
    <p>If, when carrying out any provision of this policy, the need to contact an employee who is off- duty arises, supervisors should consider delaying the contact, if reasonably practicable, until the employee is on-duty as such time may be compensable.</p>

    <h3>702.8 USE WHILE DRIVING</h3>
    <p>The use of a PCD while driving can adversely affect safety, cause unnecessary distractions and present a negative image to the public. Officers operating emergency vehicles should restrict the use of these devices to matters involving official duties
        and, where reasonably practicable, stop the vehicle at an appropriate location to use the PCD (Minn. Stat. § 169.475).</p>
    <p>Except in an emergency, employees who are operating non-emergency vehicles shall not use a PCD while driving unless the device is specifically designed and configured to allow hands-free use (Minn. Stat. § 169.475). Hands-free use should be restricted
        to business-related calls or calls of an urgent nature.</p>

    <h3>702.9 OFFICIAL USE</h3>
    <p>Employees are reminded that PCDs are not secure devices and conversations may be intercepted or overheard. Caution should be exercised while utilizing PCDs to ensure that sensitive data is not inadvertently transmitted. As soon as reasonably possible,
        employees shall change over to conduct sensitive or private communications on a land-based or other department communications network.</p>
    <p>The following situations are examples of when the use of a PCD may be appropriate:</p>
    <ol class="alpha">
        <li>Barricaded suspects</li>
        <li>Hostage situations</li>
        <li>Mobile Command Post</li>
        <li>Catastrophic disasters, such as plane crashes, earthquakes, floods, etc.</li>
        <li>Major political or community events</li>
        <li>Investigative stakeouts</li>
        <li>Emergency contact with an allied agency or allied agency field unit</li>
        <li>When immediate communication is needed and the use of the radio is not available or appropriate and other means are not readily available</li>
    </ol>
</div>