<div class="chapter" id="704">
    <h2>704 - Vehicle Maintenance</h2>
    <h3>704.1 PURPOSE AND SCOPE</h3>
    <p>Employees are responsible for assisting in maintaining Department vehicles so that they are properly equipped, maintained, refueled and present a clean appearance.</p>

    <h3>704.2 DEFECTIVE VEHICLES</h3>
    <p>When a department vehicle becomes inoperative or in need of repair that affects the safety of the vehicle, that vehicle shall be removed from service for repair. Proper documentation shall be promptly completed by the employee who becomes aware of
        the defective condition. Paperwork, describing the correction needed, shall be promptly forwarded to vehicle maintenance for repair.</p>
    <h4>704.2.1 DAMAGE OR POOR PERFORMANCE</h4>
    <p>Vehicles that may have been damaged or perform poorly shall be removed from service for inspection and repair as soon as practicable.</p>
    <h4>704.2.2 SEVERE USE</h4>
    <p>Vehicles operated under severe use conditions, which include operations for which the vehicle is not designed or that exceed the manufacturer's parameters, should be removed from service and subjected to a safety inspection as soon as reasonably possible.
        Such conditions may include rough roadway or off-road driving, hard or extended braking, pursuits or prolonged high-speed operation.</p>
    <h4>704.2.3 REMOVAL OF WEAPONS</h4>
    <p>All firearms, weapons and control devices shall be removed from a vehicle and properly secured in the department armory prior to the vehicle being released for maintenance, service or repair.</p>

    <h3>704.3 VEHICLE EQUIPMENT</h3>
    <p>Certain items shall be maintained in all Department vehicles for emergency purposes and to perform routine duties.</p>
    <h4>704.3.1 PATROL VEHICLES</h4>
    <p>Officers shall inspect the patrol vehicle at the beginning of the shift and ensure that the following equipment, at a minimum, is present in the vehicle:</p>
    <ul>
        <li>6 emergency road flares</li>
        <li>2 sticks of chalk and/or window paint</li>
        <li>2 rolls crime scene barricade tape (1 yellow and 1 red)</li>
        <li>1 first aid kit, CPR mask</li>
        <li>1 blanket</li>
        <li>1 fire extinguisher</li>
    </ul>
    <h4>704.3.2 UNMARKED VEHICLES</h4>
    <p>An employee driving an unmarked department vehicle shall ensure that, at minimum, the equipment listed below is present in the vehicle:</p>
    <ul>
        <li>6 emergency road flares</li>
        <li>2 rolls crime scene barricade tape (1 yellow and 1 red)</li>
        <li>1 first aid kit, CPR mask</li>
        <li>1 blanket</li>
        <li>1 fire extinguisher</li>
    </ul>

    <h3>704.4 VEHICLE REFUELING</h3>
    <p>Absent emergency conditions or supervisor approval, officers driving patrol vehicles shall not place a vehicle in service that has less than one-quarter tank of fuel. Whenever practicable, vehicles should be fully fueled when placed into service and
        refueled before the level falls below one- quarter tank.</p>
    <p>Vehicles shall only be refueled at an authorized location.</p>

    <h3>704.5 WASHING OF VEHICLES</h3>
    <p>All units shall be kept clean at all times and, weather conditions permitting, shall be washed as necessary to enhance their appearance.</p>
    <p>Officers on patrol shall notify the Transit Control Center (TCC) upon their arrival at the car wash.</p>
    <p>Employees using a vehicle shall remove any trash or debris at the end of the shift. Not public data should be placed in a designated receptacle provided for the shredding of this matter.</p>

    <h3>704.6 NON-LICENSED EMPLOYEE USE</h3>
    <p>Non-licensed employees using marked vehicles shall ensure all weapons are removed from the vehicle before going into service. Non-licensed employees shall also prominently display the "out of service" placards or light bar covers at all times. Non-licensed
        employees shall not operate the emergency lights or siren of any vehicle unless expressly authorized by a supervisor.</p>
</div>