<div class="chapter" id="706">
    <h2>706 - Vehicle Use</h2>
    <h3>706.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to establish a system of accountability to ensure department vehicles are used appropriately. This policy provides guidelines for on- and off-duty use of department vehicles and shall not be construed to create or imply
        any contractual obligation by the Metropolitan Council / Metro Transit to provide assigned take-home vehicles.</p>

    <h3>706.2 POLICY</h3>
    <p>The Metro Transit Police Department provides vehicles for department-related business and may assign patrol and unmarked vehicles based on a determination of operational efficiency, economic impact to the Department, requirements for tactical deployments
        and other considerations.</p>

    <h3>706.3 USE OF VEHICLES</h3>
    <h4>706.3.1 SHIFT ASSIGNED VEHICLES</h4>
    <p>The Shift Supervisor shall ensure a copy of the shift assignment roster, indicating member assignments and vehicle numbers, is completed for each shift and retained in accordance with the established records retention schedule. If a member exchanges
        vehicles during his/her shift, the new vehicle number shall be documented on the roster.</p>
    <h4>706.3.2 OTHER USE OF VEHICLES</h4>
    <p>Members utilizing a vehicle for any purpose other than their normally assigned duties or normal vehicle assignment (e.g., transportation to training, community event) shall first notify the Shift Supervisor. A notation will be made on the shift assignment
        roster indicating the member’s name and vehicle number.</p>
    <p>This subsection does not apply to those who are assigned to transport vehicles to and from a maintenance facility or car wash.</p>
    <h4>706.3.3 INSPECTIONS</h4>
    <p>Members shall be responsible for inspecting the interior and exterior of any assigned vehicle before taking the vehicle into service and at the conclusion of their shifts. Any previously unreported damage, mechanical problems, unauthorized contents
        or other problems with the vehicle shall be promptly reported to a supervisor and documented as appropriate.</p>
    <p>The interior of any vehicle that has been used to transport any person other than a member of this department should be inspected prior to placing another person in the vehicle and again after the person is removed. This is to ensure that unauthorized
        or personal items have not been left in the vehicle.</p>
    <p>When transporting any suspect, prisoner or arrestee, the transporting member shall search all areas of the vehicle that are accessible by the person before and after that person is transported.</p>
    <p>All department vehicles are subject to inspection and/or search at any time by a supervisor without notice and without cause. No member assigned to or operating such vehicle shall be entitled to any expectation of privacy with respect to the vehicle
        or its contents.</p>
    <h4>706.3.4 SECURITY AND UNATTENDED VEHICLES</h4>
    <p>Unattended vehicles should be locked and secured at all times. No key should be left in the vehicle except when it is necessary that the vehicle be left running (e.g., continued activation of emergency lights, canine safety, equipment charging). Officers
        who exit a vehicle rapidly in an emergency situation or to engage in a foot pursuit must carefully balance the need to exit the vehicle quickly with the need to secure the vehicle.</p>
    <p>Members shall ensure all weapons are secured while the vehicle is unattended.</p>
    <h4>706.3.5 MOBILE DIGITAL COMPUTER</h4>
    <p>Members assigned to vehicles equipped with a Mobile Digital Computer (MDC) shall log onto the MDC with the required information when going on-duty. If the vehicle is not equipped with a working MDC, the member shall notify Transit Control Center.
        Use of the MDC is governed by the Mobile Digital Computer Use Policy.</p>
    <h4>706.3.6 VEHICLE LOCATION SYSTEM</h4>
    <p>Patrol and other vehicles, at the discretion of the Chief of Police, may be equipped with a system designed to track the vehicle’s location. While the system may provide vehicle location and other information, members are not relieved of their responsibility
        to use required communication practices to report their location and status.</p>
    <p>Members shall not make any unauthorized modifications to the system. At the start of each shift, members shall verify that the system is on and report any malfunctions to their supervisor. If the member finds that the system is not functioning properly
        at any time during the shift, he/she should exchange the vehicle for one with a working system, if available.</p>
    <p>System data may be accessed by supervisors at any time. However, access to historical data by personnel other than supervisors will require Captain approval.</p>
    <p>All data captured by the system shall be retained in accordance with the established records retention schedule.</p>
    <h4>706.3.7 KEYS</h4>
    <p>Members approved to operate marked patrol vehicles should be issued a copy of the key as part of their initial equipment distribution. Members who are assigned a specific vehicle should be issued keys for that vehicle.</p>
    <p>Members shall not duplicate keys. The loss of a key shall be promptly reported in writing through the member’s chain of command.</p>
    <h4>706.3.8 AUTHORIZED PASSENGERS</h4>
    <p>Members operating department vehicles shall not permit persons other than Metropolitan Council / Metro Transit personnel or persons required to be conveyed in the performance of duty, or as otherwise authorized, to ride as passengers in the vehicle,
        except as stated in the Ride- Along Policy.</p>
    <h4>706.3.9 ALCOHOL</h4>
    <p>Members who have consumed alcohol are prohibited from operating any department vehicle unless it is required by the duty assignment (e.g., task force, undercover work). Regardless of assignment, members may not violate state law regarding vehicle
        operation while intoxicated.</p>
    <h4>706.3.10 PARKING</h4>
    <p>Except when responding to an emergency or when urgent department-related business requires otherwise, members driving department vehicles should obey all parking regulations at all times.</p>
    <p>Department vehicles should be parked in assigned stalls. Members shall not park privately owned vehicles in stalls assigned to department vehicles or in other areas of the parking lot that are not so designated unless authorized by a supervisor. Privately
        owned motorcycles shall be parked in designated areas.</p>
    <h4>706.3.11 ACCESSORIES AND/OR MODIFICATIONS</h4>
    <p>There shall be no modifications, additions or removal of any equipment or accessories without written permission from the assigned vehicle program manager.</p>
    <h4>706.3.12 NON-LICENSED MEMBER USE</h4>
    <p>Non-licensed members using marked emergency vehicles shall ensure that all weapons have been removed before going into service. Non-licensed members shall prominently display the "out of service" placards or light bar covers at all times. Non-licensed
        members shall not operate the emergency lights or siren of any vehicle unless expressly authorized by a supervisor.</p>

    <h3>706.4 INDIVIDUAL MEMBER ASSIGNMENT TO VEHICLES</h3>
    <p>Department vehicles may be assigned to individual members at the discretion of the Chief of Police. Vehicles may be assigned for on-duty and/or take-home use. Assigned vehicles may be changed at any time. Permission to take home a vehicle may be withdrawn
        at any time.</p>
    <p>The assignment of vehicles may be suspended when the member is unable to perform his/her regular assignment.</p>
    <h4>706.4.1 ON-DUTY USE</h4>
    <p>Vehicle assignments shall be based on the nature of the member’s duties, job description and essential functions, and employment or appointment status. Vehicles may be reassigned or utilized by other department members at the discretion of the Chief
        of Police or the authorized designee.</p>
    <h4>706.4.2 UNSCHEDULED TAKE-HOME USE</h3>
							                                <p>Circumstances may arise where department vehicles must be used by members to commute to and from a work assignment. Members may take home department vehicles only with prior approval of a supervisor and shall meet the following criteria:</p>
							                                <ol class="alpha">
							                                    <li>The circumstances are unplanned and were created by the needs of the Department.</li>
							                                    <li>Other reasonable transportation options are not available.</li>
							                                    <li>The member lives within a reasonable distance (generally not to exceed a 60-minute drive time) of the Metropolitan Council / Metro Transit jurisdiction.</li>
							                                    <li>Off-street parking will be available at the member’s residence.</li>
							                                    <li>Vehicles will be locked when not attended.</li>
							                                    <li>All firearms, weapons and control devices will be removed from the interior of the vehicle and properly secured in the residence when the vehicle is not attended, unless the vehicle is parked in a locked garage.</li>
							                                </ol>
							                                <h4>706.4.3 ASSIGNED VEHICLES</h4>
    <p>Assignment of take-home vehicles shall be based on the location of the member’s residence; the nature of the member’s duties, job description and essential functions; and the member’s employment or appointment status. Residence in the Metropolitan
        Council / Metro Transit jurisdiction is a prime consideration for assignment of a take-home vehicle. Members who reside outside the Metropolitan Council / Metro Transit area may be required to secure the vehicle at a designated location or the
        Department at the discretion of the Chief of Police.</p>
    <p>Department members may be required to sign a take-home vehicle agreement that outlines certain standards, including, but not limited to, how the vehicle shall be used, where it shall be parked when the member is not on-duty, vehicle maintenance responsibilities
        and member enforcement actions.</p>
    <p>Members are cautioned that under federal and local tax rules, personal use of a Metropolitan Council / Metro Transit vehicle may create an income tax liability for the member. Questions regarding tax rules should be directed to the member’s tax adviser.</p>
    <p>Criteria for use of take-home vehicles include the following:</p>
    <ol class="alpha">
        <li>Vehicles shall only be used for work-related purposes and shall not be used for personal errands or transports, unless special circumstances exist and the Chief of Police or designeegives authorization.</li>
        <li>Vehicles may be used to transport the member to and from the member’s residence for work-related purposes.</li>
        <li>Vehicles will not be used when off-duty except:
            <ol class="decimal">
                <li>In circumstances when a member has been placed on call by the Chief of Police or designee andthere is a high probability that the member will be called back to duty.</li>
                <li>When the member is performing a work-related function during what normally would be an off-duty period, including vehicle maintenance or traveling to or from a work- related activity or function.</li>
                <li>When the member has received permission from the Chief of Police or designee.</li>
                <li>When the vehicle is being used by the Chief of Police, Deputy Chief, Captainsor members who are in on-call administrative positions.</li>
                <li>When the vehicle is being used by on-call investigators.</li>
            </ol>
        </li>
        <li>While operating the vehicle, authorized members will carry and have accessible their duty firearms and be prepared to perform any function they would be expected to perform while on-duty.</li>
        <li>The two-way communications radio, MDC and global positioning satellite device, if equipped, must be on and set to an audible volume when the vehicle is in operation.</li>
        <li>Unattended vehicles are to be locked and secured at all times.
            <ol class="decimal">
                <li>No key should be left in the vehicle except when it is necessary that the vehicle be left running (e.g., continued activation of emergency lights, canine safety, equipment charging).</li>
                <li>All weapons shall be secured while the vehicle is unattended.</li>
                <li>All department identification, portable radios and equipment should be secured.</li>
            </ol>
        </li>
        <li>Vehicles are to be parked off-street at the member’s residence unless prior arrangements have been made with the Chief of Police or the authorized designee. If the vehicle is not secured inside a locked garage, all firearms and kinetic impact
            weapons shall be removed and properly secured in the residence (see the Firearms Policy regarding safe storage of firearms at home).</li>
        <li>Vehicles are to be secured at the member’s residence or the appropriate department facility, at the discretion of the Department when a member will be away (e.g., on vacation) for periods exceeding one week.
            <ol class="decimal">
                <li>If the vehicle remains at the residence of the member, the Department shall have access to the vehicle.</li>
                <li>If the member is unable to provide access to the vehicle, it shall be parked at the Department.</li>
            </ol>
        </li>
        <li>The member is responsible for the care and maintenance of the vehicle.</li>
    </ol>
    <h4>706.4.4 ENFORCEMENT ACTIONS</h4>
    <p>When driving a take-home vehicle to and from work outside of the jurisdiction of the Metro Transit Police Department or while off-duty, an officer shall not initiate enforcement actions except in those circumstances where a potential threat to life
        or serious property damage exists (see the Off-Duty Law Enforcement Actions and Law Enforcement Authority policies).</p>
    <p>Officers may render public assistance when it is deemed prudent (e.g., to a stranded motorist).</p>
    <p>Officers driving take-home vehicles shall be armed, appropriately attired and carry their department-issued identification. Officers should also ensure that department radio communication capabilities are maintained to the extent feasible.</p>
    <h4>706.4.5 MAINTENANCE</h4>
    <p>Members are responsible for the cleanliness (exterior and interior) and overall maintenance of their assigned vehicles. Cleaning and maintenance supplies will be provided by the Department. Failure to adhere to these requirements may result in discipline
        and loss of vehicle assignment. The following should be performed as outlined below:</p>
    <ol class="alpha">
        <li>Members shall make daily inspections of their assigned vehicles for service/maintenance requirements and damage.</li>
        <li>It is the member’s responsibility to ensure that his/her assigned vehicle is maintained according to the established service and maintenance schedule.</li>
        <li>All scheduled vehicle maintenance and car washes shall be performed as necessary at a facility approved by the department.</li>
        <li>The Department shall be notified of problems with the vehicle and approve any major repairs before they are performed.</li>
        <li>All weapons shall be removed from any vehicle left for maintenance.</li>
        <li>Supervisors shall make, at a minimum, monthly inspections of vehicles assigned to members under their command to ensure the vehicles are being maintained in accordance with this policy.</li>
    </ol>

    <h3>706.5 UNMARKED VEHICLES</h3>
    <p>Unmarked vehicles are assigned to various divisions and their use is restricted to the respective division and the assigned member, unless otherwise approved by a supervisor. Any use of unmarked vehicles by those who are not assigned to the division
        to which the vehicle is assigned shall also be recorded with the Shift Supervisor on the shift assignment roster.</p>

    <h3>706.6 DAMAGE, ABUSE AND MISUSE</h3>
    <p>When any department vehicle is involved in a traffic collision or otherwise incurs damage, the involved member shall promptly notify a supervisor. Any collision report shall be filed with the agency having jurisdiction (see the Traffic Collisions
        Policy).</p>
    <p>Damage to any department vehicle that was not caused by a traffic collision shall be immediately reported during the shift in which the damage was discovered, documented in memorandum format and forwarded to the Shift Supervisor. An administrative
        investigation should be initiated to determine if there has been any vehicle abuse or misuse.</p>

    <h3>706.7 TOLL ROADS</h3>
    <p>Law enforcement vehicles are not routinely exempt from incurring toll road charges.</p>
    <p>To avoid unnecessary toll road charges, all members operating department vehicles on a toll road shall adhere to the following:</p>
    <ol class="alpha">
        <li>Members operating department vehicles for any reason other than in response to an emergency shall pay the appropriate toll charge or utilize the appropriate toll way transponder. Members may submit a request for reimbursement for any toll fees
            incurred in the course of official business.</li>
        <li>Members passing through a toll plaza or booth during a response to an emergency shall notify, in writing, the appropriate Captain within five working days explaining the circumstances.</li>
    </ol>

    <h3>706.8 ATTIRE AND APPEARANCE</h3>
    <p>When operating any department vehicle while off-duty, members may dress in a manner appropriate for their intended activity. Whenever in view of or in contact with the public, attire and appearance, regardless of the activity, should be suitable to
        reflect positively upon the Department.</p>
</div>