<div class="chapter" id="710">
    <h2>710 - Cash Handling, Security and Management</h2>
    <h3>710.1 PURPOSE AND SCOPE</h3>
    <p>The proper handling and documentation of cash transactions and the maintenance of accurate records of cash transactions is important to protect the integrity of police operations and ensure the public trust.</p>

    <h3>710.2 PETTY CASH FUNDS</h3>
    <p>Employees designated as fund managers and authorized to maintain and manage petty cash funds are the Records Supervisor and Administration Supervisor. These persons may delegate this responsibility to another person in their absence. All funds require
        the creation and maintenance of an accurate and current transaction ledger and filing of invoices, receipts and expense reports by the fund manager.</p>

    <h3>710.3 PETTY CASH TRANSACTIONS</h3>
    <p>The fund manager shall document all transactions on the ledger and other appropriate forms and each person participating in the transaction shall sign the ledger attesting to the accuracy of the entry. Transactions should include the filing of an
        appropriate receipt or invoice. Transactions not documented by a receipt, invoice or cash transfer form require an expense report.</p>

    <h3>710.4 PETTY CASH AUDITS</h3>
    <p>The manager of a petty cash fund shall audit the fund no less than once every six months. This audit requires that the manager and at least one other person, selected by the fund manager, review the ledger, records, receipts and funds, verifying the
        accuracy of the accounting. Each participant of the audit shall sign the ledger attesting to the accuracy of all documentation and fund accounting. A discrepancy in the audit requires documentation by those performing the audit and immediate reporting
        of the discrepancy to the Chief of Police.</p>
    <p>Should fund management be transferred to any person, each transfer of this responsibility shall require completion of a separate Petty Cash Audit by those persons involved in the transfer.</p>
    <p>A separate audit by the Chief of Police or the Metropolitan Council should be completed on a random date approximately once each year on each petty cash fund.</p>

    <h3>710.5 ROUTINE CASH HANDLING</h3>
    <p>Members of the Department authorized to routinely handle cash as part of their assignment are property officers. Routine cash handling shall be pursuant to their specific policies (see the Informants and Property and Evidence policies).</p>

    <h3>710.6 OTHER CASH HANDLING</h3>
    <p>Members of the Department who, within the course of their duties come into the possession of cash that is not their property or is outside their defined cash handling duties shall, as soon as reasonably practical, verify the amount of cash, summon
        another employee to verify their accounting, and process the cash as safekeeping, evidence or found property. Cash in excess of $500 requires immediate notification of a supervisor as well as special handling, verification and accounting by a
        supervisor. Each employee involved in this handling, verification or processing of cash shall complete an appropriate report or record entry as may be appropriate (including using the Cash Envelope).</p>
</div>