<div class="chapter" id="802">
    <h2>802 - Communication Operations</h2>
    <h3>802.1 PURPOSE AND SCOPE</h3>
    <p>The basic function of the communications system is to satisfy the immediate information needs of the law enforcement agency in the course of its normal daily activities and during emergencies. The latter situation places the greatest demand on the
        communications system and tests the capability of the system to fulfill its functions. Measures and standards of performance are necessary to assess the effectiveness with which any organization, large or small, uses available information technology
        in the fulfillment of its missions.</p>
    <h4>802.1.1 FCC COMPLIANCE</h4>
    <p>Metro Transit Police Department radio operations shall be conducted in accordance with Federal Communications Commission (FCC) procedures and guidelines.</p>

    <h3>802.2 COMMUNICATION OPERATIONS</h3>
    <p>This organization provides 24-hour service to the public for information or assistance that may be needed in emergencies. The ability of citizens to telephone quickly and easily for emergency service is critical. This organization provides access
        to the 9-1-1 system with a single emergency telephone number.</p>
    <p>This organization has two-way radio capability providing continuous communication between Transit Control Center and officers.</p>
    <h4>802.2.1 COMMUNICATIONS LOG</h4>
    <p>It shall be the responsibility of Transit Control Center to record all relevant information on calls for criminal and non-criminal service or self-initiated activity. Employees shall attempt to elicit, record and share as much information as possible
        to enhance the safety of the officer and assist in anticipating conditions to be encountered at the scene. Desirable information would include, at a minimum, the following:</p>
    <ul>
        <li>Control number</li>
        <li>Date and time of request</li>
        <li>Name and address of complainant, if possible</li>
        <li>Type of incident reported</li>
        <li>Involvement of weapons, drugs and/or alcohol</li>
        <li>Location of incident reported</li>
        <li>Identification of officer(s) assigned as primary and backup</li>
        <li>Time of dispatch</li>
        <li>Time of the officer's arrival</li>
        <li>Time of officer's return to service</li>
        <li>Disposition or status of reported incident</li>
    </ul>

    <h3>802.3 RADIO COMMUNICATIONS</h3>
    <p>Operations are more efficient and officer safety is enhanced when dispatchers, supervisors and fellow officers know the status of officers, their locations and the nature of cases.</p>
    <h4>802.3.1 OFFICER IDENTIFICATION</h4>
    <p>Identification systems are based on factors such as beat assignment and officer identification numbers. When calling Transit Control Center or another unit, the calling unit should state the call sign of the called unit followed by their own call
        sign, then pause for the called unit to reply. Employees initiating communication with other agencies shall use their entire call sign. This requirement does not apply to continuing conversation between the mobile unit and dispatcher once the
        mobile unit has been properly identified.</p>
</div>