<div class="chapter" id="804">
    <h2>804 - Property and Evidence</h2>
    <h3>804.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides for the proper collection, storage and security of evidence and other property. Additionally, this policy provides for the protection of the chain of evidence and those persons authorized to remove and/or destroy property. Property
        belonging to persons in custody should be handled pursuant to policies/procedures from the Metro Transit Police Department.</p>
    <h4>804.1.1 PROPERTY AND EVIDENCE SECURITY</h4>
    <p>The Property and Evidence Unit shall maintain secure storage and control of all property necessitating custody by the Department. The property and evidence technician(s) reports to the Administrative supervisor and is responsible for the security
        of the Property and Evidence. Property and Evidence keys/pass codes are maintained only by the property and evidence technician(s), Administrative supervisor, Investigative supervisor. An additional key is in a sealed and initialed envelope maintained
        in the safe in the office of the Chief of Police. The property and evidence technician(s) and others shall not loan Property and Evidence keys/pass codes to anyone and shall maintain them in a secure manner.</p>
    <p>Any individual entering the Property and Evidence room other than the property and evidence technician(s) must be accompanied by the property and evidence technician (or authorized party).</p>

    <h3>804.2 DEFINITIONS</h3>
    <p><strong>Property</strong> - Includes all items of evidence, items taken for safekeeping and found property.</p>
    <p><strong>Evidence</strong> - Includes items taken or recovered in the course of an investigation that may be used in the prosecution of a case. This includes photographs and latent fingerprints.</p>
    <p><strong>Safekeeping</strong> - Includes the following types of property:</p>
    <ul>
        <li>Property obtained by the Department for safekeeping, such as a firearm.</li>
        <li>Personal property of an arrestee not taken as evidence.</li>
        <li>Property taken for safekeeping under authority of a law.</li>
    </ul>
    <p><strong>Found Property</strong> - Includes property found by an employee or citizen that has no apparent evidentiary value and where the owner cannot be readily identified or contacted.</p>

    <h3>804.3 PROPERTY HANDLING</h3>
    <p>Any employee who first comes into possession of any property, shall retain such property in his/her possession until it is properly inventoried and placed in the designated property locker or storage room. Care shall be taken to maintain the chain
        of custody for all evidence.</p>
    <p>Any property seized by an officer with or without a warrant shall be safely kept for as long as necessary for the purpose of being produced as evidence (Minn. Stat. § 626.04 (a)). Seized property held as evidence shall be returned to its rightful
        owner unless subject to lawful detention or ordered destroyed or otherwise disposed of by the court (Minn. Stat. § 626.04 (b) and Minn. Stat. § 629.361).</p>
    <p>An officer arresting a person for burglary, robbery or a theft offense shall use reasonable diligence to secure the property that was alleged to have been stolen and shall be answerable for it while it remains in his/her custody (Minn. Stat. § 629.361).</p>
    <p>Where ownership can be established as to found property that has no apparent evidentiary value, such property may be released to the owner. The property documentation must be completed to document the release of property not inventoried. The owner
        shall sign the documentation acknowledging receipt of the item(s) and officers should photograph the property if possible.</p>
    <h4>804.3.1 PROPERTY BOOKING PROCEDURE</h4>
    <p>All property must be inventoried prior to the employee going off-duty. Employees inventorying property shall observe the following guidelines:</p>
    <ol class="alpha">
        <li>Complete the property form describing each item of property separately, listing all serial numbers, owner's name, finder's name and other identifying information or markings.</li>
        <li>Complete an evidence/property label and attach it to each package or envelope in which the property is stored.</li>
        <li>When the property is too large to be placed in a temporary property locker, the item may be temporarily stored in any department supply room or other location that can be secured from unauthorized entry. The location shall be secured to prevent
            entry and a completed property form placed into a numbered property locker indicating the location of the property.</li>
    </ol>
    <p>Officers shall pay particular attention to bags and/or backpacks entering the Property and Evidence Unit. Perishable items shall be discarded and items such as medication, currency/coin etc., shall be counted and inventoried separately. Officers shall
        make a notation in their report if they inventory medication, currency/coin or other noteworthy item(s). The Property and Evidence Technician receiving these items shall double check that the above procedure has occurred.</p>
    <h4>804.3.2 CONTROLLED SUBSTANCES</h4>
    <p>All controlled substances shall be inventoried separately from drug paraphernalia.</p>
    <p>The officer seizing the narcotics and dangerous drugs shall place them in the designated property locker (typically the "drop" locker). All narcotics shall be inventoried at the Metro Transit Police Department.</p>
    <h4>804.3.3 EXPLOSIVES</h4>
    <p>Officers who encounter a suspected explosive device shall promptly notify the immediate supervisor or the Shift Supervisor. The local agency Bomb Squad, or contracted Bomb Squad, will be called to handle explosive-related incidents and will be responsible
        for the handling, storage, sampling and disposal of all suspected explosives.</p>
    <p>Explosives will not be retained in the police facility. Only fireworks that are considered stable and safe and road flares or similar signaling devices may be booked into property. All such items shall be stored in proper containers and in an area
        designated for the storage of flammable materials.</p>
    <h4>804.3.4 EXCEPTIONAL HANDLING</h4>
    <p>Certain property items require a separate process. The following items shall be processed in the described manner:</p>
    <ol class="alpha">
        <li>Bodily fluids such as blood or semen stains shall be air-dried prior to inventorying.</li>
        <li>License plates found not to be stolen or connected with a known crime, should be inventoried as found property. The Property and Evidence Unit may attempt to contact the registered owner or return the license plates to the Minnesota Department
            of Driver and Vehicle Services.</li>
        <li>All bicycles and bicycle frames require a property report. Property labels will be securely attached to each bicycle or bicycle frame. The property may be released directly to the property and evidence technician, or placed in the bicycle storage
            area until a property and evidence technician can log the property.</li>
        <li>All currency shall be counted in the presence of another officer and the money envelope initialed by both officers. A supervisor shall be contacted for cash in excess of $250. The supervisor shall also witness the count, and will initial and date
            the property documentation and specify any additional security procedures to be used.
            <ol class="decimal">
                <li>All currency shall be counted by a minimum of two officers. The currency shall be placed into a money envelope which will then be secured with evidence tape and initialed by both officers.</li>
                <li>Any currency over the amount of $250 must be verified by a Supervisor and the Supervisor must initial the money envelope.</li>
                <li>Property and Evidence technicians receiving money envelopes shall place them into the safe.</li>
            </ol>
        </li>
        <li>All evidence collected by personnel processing a crime scene requiring specific storage requirements pursuant to laboratory procedures should clearly indicate storage requirements on the property report.</li>
    </ol>
    <p>Metropolitan Council / Metro Transit property, unless connected to a known criminal case, should be released directly to the appropriate Metropolitan Council / Metro Transit department. No formal inventorying is required. In cases where no responsible
        person can be located, the property should be inventoried for safekeeping in the normal manner.</p>
    <h4>804.3.5 COURT-ORDERED FIREARM SURRENDERS</h4>
    <ol class="alpha">
        <li>Although not required, this department generally will accept firearms surrendered by an abusing party or defendant pursuant to a court order. A decision to refuse a surrendered firearm should be approved by a supervisor (Minn. Stat. § 260C.201,
            Subd. 3; Minn. Stat. § 518B.01, Subd. 6; Minn. Stat. § 609.2242, Subd. 3; Minn. Stat. § 609.749, Subd. 8).</li>
        <li>Members accepting surrendered firearms should complete a standardized Firearms Proof of Transfer form, if available. If a standard form is not available, use an Evidence/Property form and include the following information:
            <ol class="decimal">
                <li>Whether the firearm is being transferred temporarily or permanently</li>
                <li>The abusing party or defendant’s name</li>
                <li>The date and time of the transfer</li>
                <li>Complete description of all firearms surrendered (e.g., make, model, serial number, color, identifying marks)</li>
            </ol>
        </li>
        <li>In certain circumstances, a court may issue an order for the immediate transfer of firearms of an abusing party or defendant.
            <ol class="decimal">
                <li>MTPD may serve the court order either by assignment or when an officer comes into contact with an abusing party or defendant for which a court order has been issued but has not been served, or for which they are in violation. In such cases,
                    if there are firearms that may be lawfully seized, they should be seized and submitted to the Property and Evidence pursuant to standard protocol.</li>
                <li>If the abusing party or defendant is not cooperative, seek guidance from legal counsel to ensure that firearms are seized lawfully.</li>
                <li>Permits possessed by the abusing party or defendant should be returned to the Sheriff where the person resides.</li>
            </ol>
        </li>
        <li>The Property and Evidence shall develop and maintain a process to store, transfer or release firearms ordered surrendered by a court. The procedures shall:
            <ol class="decimal">
                <li>Provide for adequate storage and protection so as to preserve the condition of the firearms.</li>
                <li>Require a valid court order or written notice from the abusing party or defendant to be presented before any transfer of the firearms.</li>
                <li>Ensure that recipients of transferred firearms are not legally prohibited from possession of firearms under state or federal law.</li>
                <li>Ensure that proper affidavits or proof of transfer are obtained from any designated firearms dealer or third party.</li>
                <li>Ensure that prior to disposition of unclaimed firearms, abusing parties or defendants are notified via certified mail.</li>
            </ol>
        </li>
    </ol>

    <h3>804.4 PACKAGING OF PROPERTY</h3>
    <p>Packaging will conform to the Property and Evidence Packaging Manual maintained by the Property and Evidence Unit. Certain items require special consideration and shall be inventoried separately as follows:</p>
    <ol class="alpha">
        <li>Controlled substances</li>
        <li>Firearms (ensure they are unloaded and inventoried separately from ammunition).</li>
        <li>Property with more than one known owner</li>
        <li>Drug paraphernalia</li>
        <li>Fireworks</li>
        <li>Contraband</li>
    </ol>
    <h4>804.4.1 PACKAGING CONTAINER</h4>
    <p>Employees shall package all property, except controlled substances in a suitable container available for its size. Knife boxes should be used to package knives, handgun boxes should be used for handguns and syringe tubes should be used to package
        syringes and needles. If the proper property storage containers are not available, officers are asked to improvise a package keeping the safety of the officer as well as Property and Evidence Unit staff in mind.</p>
    <p>A property report label shall be attached to the outside of all items or group of items packaged together.</p>
    <h4>804.4.2 PACKAGING CONTROLLED SUBSTANCES</h4>
    <p>The officer seizing controlled substances shall retain such property in his/her possession until it is properly weighed, packaged and placed in the designated storage locker (typically the "drop" locker). Prior to packaging and if the quantity allows,
        a presumptive test should be made on all suspected controlled substances. If conducted, the results of this test shall be included in the officer's report (e.g. positive or inconclusive).</p>
    <p>Controlled substances shall be packaged in an envelope/evidence bag of appropriate size. The inventorying officer shall initial the sealed envelope and initial the evidence tape used to seal the package if applicable. Controlled substances shall not
        be packaged with other property.</p>
    <p>The inventorying officer may weigh the suspected narcotics or dangerous drugs in the container in which it was seized. A full description of the item, along with packaging and total weight of the item as seized, will be placed in the case report.</p>
    <h4>804.4.3 RIGHT OF REFUSAL</h4>
    <p>The property and evidence technician has the right to refuse any piece of property that is not properly documented or packaged. Should the property and evidence technician refuse an item, he/she shall maintain secure custody of the item in a temporary
        property locker and inform the supervisor of the submitting officer.</p>

    <h3>804.5 RECORDING OF PROPERTY</h3>
    <p>The property and evidence technician receiving custody of evidence or property shall be responsible for tracking those items. The tracking of items is completed using the records management system (RMS).</p>
    <p>Any changes in the location of property held by the Metro Transit Police Department shall be noted in the RMS.</p>

    <h3>804.6 PROPERTY CONTROL</h3>
    <p>Each time the property and evidence technician receives property or releases property to another person, he/she shall enter this information into the RMS. Officers desiring property for court shall, if possible, contact the property and evidence technician
        at least one week prior to the court day.</p>
    <h4>804.6.1 RESPONSIBILITIES OF OTHER PERSONNEL</h4>
    <p>Every time property is released or received, an appropriate entry shall be made within the RMS to maintain the chain of possession. No property or evidence is to be released without first receiving written authorization from a supervisor or investigator.</p>
    <p>Officers requesting analysis for items other than controlled substances shall confer with an investigator regarding the details of the case.</p>
    <h4>804.6.2 TRANSFER OF EVIDENCE TO CRIME LABORATORY</h4>
    <p>The transporting employee will check the evidence out of property, indicating the date and time in the RMS and the request for laboratory analysis.</p>
    <p>The property and evidence technician releasing the evidence must complete the required information in the RMS. The lab forms will be transported with the property to the examining laboratory. Upon delivering the item involved, the officer will record
        the delivery time and indicate the locker in which the item was placed or the employee to whom it was delivered. The original copy of the lab form will remain with the evidence and a copy of the receipt from the lab shall be returned to the Property
        and Evidence Unit for filing with the case.</p>
    <h4>804.6.3 STATUS OF PROPERTY</h4>
    <p>Each person receiving property will make the appropriate entry to document the chain of evidence. Temporary release of property to officers for investigative purposes, or for court, shall be noted in the RMS, stating the date, time and to whom it
        was released.</p>
    <p>The property and evidence technician shall obtain the signature of the person to whom property was released, and the reason for release. Any employee receiving property shall be responsible for such property until it is properly returned to property
        or properly released to another authorized person or entity.</p>
    <p>The return of the property should be recorded in the RMS, indicating date, time and the person who returned the property.</p>
    <h4>804.6.4 AUTHORITY TO RELEASE PROPERTY</h4>
    <p>The property and evidence technician shall not release any evidence without approval from an authorized member of the Department. The Investigation Division shall authorize the disposition or release of all evidenccoming into the care and custody
        of the Department (unless the item is only being held for safekeeping).</p>
    <p>Property held as evidence for a pending criminal investigation or proceeding shall be retained for a period of time no less than that required pursuant to Minn. Stat. § 628.26.</p>
    <p>For property in custody of the Department for investigatory or prosecutorial purposes and owned by a victim or witness, a property and evidence technician shall, upon the request of the owner:</p>
    <ol class="alpha">
        <li>Provide a list describing the property unless such release would seriously impede an investigation.</li>
        <li>Return the property expeditiously unless the property is required as evidence.</li>
    </ol>
    <p>Upon the direction of a prosecuting attorney, property held as evidence of a crime may be photographed and released to the owner of the property in accordance with the requirements of Minn. Stat. §609.523.</p>
    <h4>804.6.5 RELEASE OF PROPERTY</h4>
    <p>All reasonable attempts shall be made to identify the rightful owner of found property or evidence not needed for an investigation. Release of all property shall be properly documented in RMS.</p>
    <p>With the exception of firearms and other property specifically regulated by statute, found property and property held for safekeeping shall be held for a minimum of 60 days. During such period, property personnel shall attempt to contact the rightful
        owner by telephone and/or mail when sufficient identifying information is available. Property not held for any other purpose and not claimed within 60 days after notification (or receipt, if notification is not feasible) shall be properly disposed.
        The final disposition of all such property shall be fully documented in related reports.</p>
    <p>A property and evidence technician shall release the property upon proper identification being presented by the owner for which an authorized release has been received. The owner shall also pay any costs incurred by the agency, including costs for
        advertising or storage. A signature of the person receiving the property shall be recorded in the RMS.</p>
    <p>Upon release or other form of disposal, the proper entry shall be recorded.</p>
    <h4>804.6.6 STOLEN OR EMBEZZLED PROPERTY</h4>
    <p>Stolen or embezzled property or property believed to be stolen or embezzled that is in the custody of this department shall be restored to the owner (Minn. Stat. § 609.523 Subd. 3). Such property may be released from law enforcement custody when the
        following are satisfied:</p>
    <ol class="alpha">
        <li>Photographs of the property are filed and retained by the Property and Evidence Unit.</li>
        <li>Satisfactory proof of ownership of the property is shown by the owner.</li>
        <li>A declaration of ownership is signed under penalty of perjury.</li>
        <li>A receipt for the property is obtained from the owner upon delivery.</li>
    </ol>
    <h4>804.6.7 DISPUTED CLAIMS TO PROPERTY</h4>
    <p>Occasionally more than one party may claim an interest in property being held by the department, and the legal rights of the parties cannot be clearly established. Such property shall not be released until one party has obtained a court order or other
        proof of the undisputed right to the involved property.</p>
    <p>All parties should be advised that their claims are civil. In extreme situations, legal counsel for the Department may be asked to file an interpleader in court to resolve the disputed claim.</p>
    <h4>804.6.8 RELEASE AND DISPOSAL OF FIREARMS</h4>
    <p>A firearm may not be released until it has been verified that the person receiving the weapon is not prohibited from receiving or possessing the weapon by 18 USC § 922.</p>
    <p>The Department shall make best efforts for a period of 90 days after the seizure of an abandoned or stolen firearm to protect the firearm from harm and return it to the lawful owner (Minn. Stat. § 609.5315 Subd. 7). At the expiration of such period,
        the firearm or other deadly weapon may be processed for disposal consistent with this policy.</p>

    <h3>804.7 DISPOSITION OF PROPERTY</h3>
    <p>All property with an identified owner and/or an owner that has been notified, must be held for at least 60 days. If the owner is notified and fails to claim the property within the 60 days, it may be disposed of in compliance with existing laws and
        in accordance with Metro Transit’s Property Retention Policy. The property and evidence technicians shall request a disposition or status on all property being held in conjunction with a pending criminal investigation or proceeding that has been
        held in excess of 60 days and for which no disposition has been received from a supervisor or investigator.</p>
    <p>If the property owner is not located or is unknown, the property is deemed abandoned and may be disposed of after 30 days.</p>
    <h4>804.7.1 EXCEPTIONAL DISPOSITIONS</h4>
    <p>The following types of property shall be destroyed or disposed of in the manner and at the time prescribed by law, unless a different disposition is ordered by a court of competent jurisdiction:</p>
    <ol class="alpha">
        <li>Weapons declared by law to be nuisances.</li>
        <li>Animals, birds and equipment related to their care and containment that have been ordered forfeited by the court.</li>
        <li>Counterfeiting equipment.</li>
        <li>Gaming devices.</li>
        <li>Obscene matter ordered to be destroyed by the court.</li>
        <li>Altered vehicles or component parts.</li>
        <li>Controlled substances.</li>
        <li>Unclaimed, stolen or embezzled property.</li>
        <li>Destructive devices.</li>
    </ol>
    <p>Money found in gambling devices by any peace officer, other than a municipal police officer, shall be paid into the county treasury. Money found in gambling devices by a municipal police officer shall be paid into the treasury of the municipality
        (Minn. Stat. § 626.04 (b)).</p>
    <h4>804.7.2 UNCLAIMED MONEY</h4>
    <p>If found or seized money is no longer required as evidence and remains unclaimed after three years, the money is presumed abandoned property and is reportable as specified in section 804.8, Minn. Stat. § 345.38 and Minn. Stat. § 345.75).</p>
    <h4>804.7.3 RETENTION OF BIOLOGICAL EVIDENCE</h4>
    <p>The Property and Evidence Unit Supervisor shall ensure that no biological evidence held by the Department is destroyed without adequate notification to the following persons, when applicable:</p>
    <ol class="alpha">
        <li>The defendant</li>
        <li>The defendant's attorney</li>
        <li>The appropriate prosecutor</li>
        <li>Any sexual assault victim</li>
        <li>The Criminal Investigations Division Supervisor</li>
    </ol>
    <p>Biological evidence shall be retained for a minimum period established by law, the Property and Evidence Unit Supervisor or the expiration of any sentence imposed related to the evidence (Minn. Stat. § 590.10), whichever time period is greater. Following
        the retention period, notifications should be made by certified mail and should inform the recipient that the evidence will be destroyed after a date specified in the notice unless a motion seeking an order to retain the sample is filed and served
        on the Department within 90 days of the date of the notification. A record of all certified mail receipts shall be retained in the appropriate file. Any objection to, or motion regarding, the destruction of the biological evidence should be retained
        in the appropriate file and a copy forwarded to the Criminal Investigations Division Supervisor.</p>
    <p>Biological evidence related to a homicide shall be retained indefinitely and may only be destroyed with the written approval of the Chief of Police and the head of the applicable prosecutor's office.</p>
    <p>Bulk evidence may be destroyed prior to these minimum retention periods only pursuant to a court order or if the Property and Evidence Unit Supervisor determines that such destruction is consistent with Minn. Stat. § 590.10 and the above notices have
        been made.</p>

    <h3>804.8 REPORT OF ABANDONED PROPERTY (MONEY)</h3>
    <p>The Property and Evidence Unit supervisor shall complete an annual report of presumed abandoned property as described in law to the Commissioner of Commerce. The report is to cover the 12-month period ending July 1 each year and is to be filed before
        October 31 each year (Minn. Stat. § 345.41).</p>

    <h3>804.9 INSPECTIONS OF THE PROPERTY AND EVIDENCE</h4>
    <p>On a routine basis, the Administrative Division supervisor shall inspect the evidence storage facilities and practices to ensure adherence to appropriate policies and procedures.</p>
    <ol class="alpha">
        <li>Unannounced inspections of evidence storage areas shall be conducted annually as directed by the Chief of Police.</li>
        <li>An audit of evidence held by the Department may be conducted by a person(s) who is not routinely or directly connected with evidence control, as assigned by the Chief of Police.</li>
        <li>Whenever a change is made in personnel who have access to the Property and Evidence Unit, an inventory of all evidence/property shall be made by an individual(s) not associated with the Property and Evidence Unit or function to ensure that records are correct and all evidence property is accounted for.</li>
        <li>A quarterly audit of all property contained in the safe shall be conducted by a person who is not routinely or directly connected with evidence control. These audits shall be documented.</li>
    </ol>
</div>