<div class="chapter" id="806">
    <h2>806 - Records Section Procedures</h2>
    <h3>806.1 PURPOSE AND SCOPE</h3>
    <p>The Records Supervisor shall maintain the Department Records Section Procedures Manual on a current basis to reflect the procedures being followed within the Records Section. Policies and procedures that apply to all employees of this department are
        contained in this chapter.</p>
    <h4>806.1.1 NUMERICAL FILING SYSTEM</h4>
    <p>Case reports are filed numerically within the Records Section by Records Section personnel.</p>
    <p>Reports are numbered commencing with the last two digits of the current year followed by a sequential number beginning with 000001 starting at midnight on the first day of January of each year. As an example, case number 10-000001 would be the first
        new case beginning January 1, 2010.</p>

    <h3>806.2 FILE ACCESS AND SECURITY</h3>
    <p>All reports including, but not limited to, initial, supplemental, follow-up, evidence and all reports related to a case shall be maintained in a secure area within the Records Section, accessible only to authorized Records Section personnel. The Metro
        Transit Police Department currently utilizes an online based reporting system which is maintained by an outside vendor. Access to that system is granted by the Metro Transit Police Department and different levels of access are granted to authorized
        users.</p>
    <h4>806.2.1 REQUESTING ORIGINAL REPORTS</h4>
    <p>Should a copy of a report be needed for any reason (other than an officer's copy), the requesting party shall be referred to Records Section personnel. All released reports provided by the Metro Transit Police Department shall be recorded in the Dissemination
        tab of the online reporting system of the individual case. If an employee is not aware of when a report may be released, the individual requesting a copy of the report shall be directed to Records Section personnel.</p>

    <h3>806.3 RECORDS MANAGER TRAINING</h3>
    <p>The Records Supervisor shall receive training in records management, including proper maintenance, retention and disposal of records and the proper release of records under the Minnesota Government Data Practices Act (MGDPA).</p>
</div>