<div class="chapter" id="808">
    <h2>808 - Restoration of Firearm Serial Numbers</h2>
    <h3>808.1 PURPOSE AND SCOPE</h3>
    <p>The primary purpose for restoring firearm serial numbers is to determine the prior owners or origin of the item from which the number has been recovered. Thus, property can be returned to rightful owners or investigations can be initiated to curb
        illegal trade of contraband firearms. The purpose of this policy is to develop standards, methodologies and safety protocols for the recovery of obliterated serial numbers from firearms and other objects using procedures that are accepted as industry
        standards in the forensic community. All personnel who are involved in the restoration of serial numbers will observe the following guidelines.</p>

    <h3>808.2 PROCEDURE</h3>
    <p>Any firearm coming into the possession of the Metro Transit Police Department as evidence and found property, where the serial numbers have been removed or obliterated, will be processed in the following manner:</p>
    <h4>808.2.1 PRELIMINARY FIREARM EXAMINATION</h4>
    <ol class="alpha">
        <li>Always keep the muzzle pointed in a safe direction. Be sure the firearm is in an unloaded condition. This includes removal of the ammunition source (e.g., the detachable magazine, contents of the tabular magazine) as well as the chamber contents.</li>
        <li>If the firearm is corroded shut or in a condition that would preclude inspection of the chamber contents, treat the firearm as if it is loaded. Make immediate arrangements for a firearms examiner or other qualified examiner to render the firearm
            safe.</li>
        <li>Accurately document the condition of the gun when received. Note the positions and conditions of the various components, such as the safeties, cylinder, magazine, slide and hammer. Accurately record/document cylinder chamber and magazine contents.
            Package the ammunition separately.</li>
        <li>If the firearm is to be processed for fingerprints or trace evidence, it should be processed before the serial number restoration is attempted. First record/document important aspects, such as halos on the revolver cylinder face or other relevant
            evidence that might be obscured by the fingerprinting chemicals.</li>
    </ol>
    <h4>808.2.2 PROPERTY BOOKING PROCEDURE</h4>
    <p>Any employee taking possession of a firearm with removed or obliterated serial numbers shall book the firearm into property following standard procedures. The employee booking the firearm shall indicate on the property form that serial numbers have
        been removed or obliterated.</p>
    <h4>808.2.3 OFFICER RESPONSIBILITIES</h4>
    <p>The property and evidence technician receiving a firearm when the serial numbers have been removed or obliterated shall arrange for the firearm to be transported to the crime laboratory for restoration.</p>
    <p>Metro Transit Police Department</p>
    <h4>808.2.4 DOCUMENTATION</h4>
    <p>Case reports should be prepared in order to document the chain of custody and the initial examination and handling of evidence from the time it is received or collected until it is released.</p>
    <p>This report must include a record of the manner in which and/or from whom the firearm was received. This may appear on the request form or property form depending on the type of evidence.</p>
    <h4>808.2.5 FIREARM TRACE</h4>
    <p>After the serial number has been restored (or partially restored) by the crime laboratory, a Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF) National Tracing Center (NTC) trace request form will be completed and submitted to the NTC.</p>

    <h3>808.3 OTHER CONSIDERATIONS</h3>
    <p>Exemplar bullets and cartridge cases from the firearm, depending upon acceptance criteria and protocol, may be submitted to the ATF's National Integrated Ballistic Information Network (NIBIN), which uses the Integrated Ballistic Identification System
        (IBIS) technology to search the national database and compare with ballistic evidence recovered from other crime scenes.</p>
</div>