<div class="chapter" id="810">
    <h2>810 - Records Maintenance and Release</h2>
    <h3>810.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance on the maintenance and release of department records. Protected information is separately covered in the Protected Information Policy.</p>
    <h4>810.2.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Confidential Data on Individuals</strong> - Data classified as confidential by state or federal law and that identifies individuals and cannot be disclosed to the public or even to the individual who is the subject of the data (Minn. Stat.
        § 13.02, Subd. 3).</p>
    <p><strong>Corrections and Detention Data</strong> - Data on individuals created, collected, used or maintained because of their lawful confinement or detainment in state reformatories, prisons and correctional facilities, municipal or county jails,
        lockups, work houses, work farms and all other correctional and detention facilities (Minn. Stat. § 13.85, Subd. 1).</p>
    <p><strong>Data on Individuals</strong> - All government data in which any individual is or can be identified as the subject of that data, unless the appearance of the name or other identifying data can be clearly demonstrated to be only incidental to
        the data and the data are not accessed by the name or other identifying data of any individual (Minn. Stat. § 13.02, Subd. 5).</p>
    <p><strong>Government Data</strong> - Data collected, created, received, maintained or disseminated by this department regardless of its physical form, storage media or conditions of use (Minn. Stat. § 13.02, Subd. 7).</p>
    <p><strong>Private Data</strong> - Data classified as private by state or federal law and that identifies individuals that are only available to the individual who is the subject of the data or with the individual’s consent (Minn. Stat. § 13.02, Subd.
        12).</p>

    <h3>810.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to providing public access to records and data in a manner that is consistent with the Minnesota Government Data Practices Act (MGDPA) and Official Records Act (Minn. Stat. § 13.03; Minn. Stat. § 15.17).</p>

    <h3>810.3 CUSTODIAN OF RECORDS RESPONSIBILITIES</h3>
    <p>The Chief of Police shall designate a Custodian of Records The responsibilities of the Custodian of Records include, but are not limited to:</p>
    <ol class="alpha">
        <li>Managing the records management system for the Department, including the retention, archiving, release and destruction of department data (Minn. Stat. § 15.17; Minn. Stat. § 138.17, Subd. 7).</li>
        <li>Maintaining and updating the department records retention schedule including:
            <ol class="decimal">
                <li>Identifying the minimum length of time the Department must keep data.</li>
                <li>Identifying the department division responsible for the original data.</li>
            </ol>
        </li>
        <li>Establishing rules regarding the inspection and copying of department data as reasonably necessary for the protection of such data.</li>
        <li>Identifying data or portions of data that are confidential under state or federal law and not open for inspection or copying.</li>
        <li>Establishing rules regarding the processing of subpoenas for the production of data.</li>
        <li>Ensuring a current schedule of fees for public data as allowed by law is available.</li>
        <li>Ensuring the posting or availability to the public a document that contains the basic rights of a person who requests government data, the responsibilities of the Department and any associated fees (Minn. Stat. § 13.025).</li>
        <li>Ensuring data created by the Department is inventoried and subject to inspection and release pursuant to lawful requests consistent with the MGDPA requirements (Minn. Stat. § 13.03, Subd. 1).</li>
    </ol>

    <h3>810.4 PROCESSING REQUESTS FOR PUBLIC RECORDS</h3>
    <p>Any department member who receives a request for data shall route the request to the Custodian of Records or the authorized designee.</p>
    <h4>810.4.1 REQUESTS FOR RECORDS</h4>
    <p>The processing of requests for data is subject to the following:</p>
    <ol class="alpha">
        <li>A person shall be permitted to inspect and copy public government data upon request at reasonable times and places and shall be informed of the data's meaning if requested (Minn. Stat. § 13.03, Subd. 3).
            <ol class="decimal">
                <li>The Department may not charge or require the requesting person to pay a fee to inspect data. Inspection includes, but is not limited to, the visual inspection of paper and similar types of government data. Inspection does not include printing
                    copies, unless printing a copy is the only method to provide for inspection of the data (Minn. Stat. § 13.03, Subd. 3(b)).</li>
                <li>For data stored and made available in electronic form via remote access, public inspection includes allowing remote access by the public to the data and the ability to print copies or download the data. A fee may be charged for remote
                    access to data where either the data or the access is enhanced at the request of the person seeking access (Minn. Stat. § 13.03, Subd. 3(b)).</li>
            </ol>
        </li>
        <li>Government data maintained by this department using a computer storage medium shall be provided in that medium in electronic form, if a copy can be reasonably made. The Department is not required to provide the data in an electronic format or
            program that is different from the format or program in which the data is maintained (Minn. Stat. § 13.03, Subd. 3 (e)).</li>
        <li>The Department is not required to create records that do not exist.</li>
        <li>The Custodian of Records or designee processing the request shall determine if the requested data is available and, if so, whether the data is restricted from release or denied. The Custodian of Records or designee shall inform the requesting
            person of the determination either orally at the time of the request or in writing as soon after that time as reasonably possible. The Custodian of Records or designee shall cite the specific statutory section, temporary classification or
            specific provision of state or federal law on which the determination is based. Upon the request of any person denied access to data, the denial shall be certified in writing (Minn. Stat. § 13.03, Subd. 3 (f)).
        </li>
        <li>When a record contains data with release restrictions and data that is not subject to release restrictions, the restricted data shall be redacted and the unrestricted data released.
            <ol class="decimal">
                <li>A copy of the redacted release should be maintained in the case file for proof of what was actually released and as a place to document the reasons for the redactions.</li>
            </ol>
        </li>
    </ol>

    <h3>810.5 RELEASE RESTRICTIONS</h3>
    <p>Example of release restrictions include:</p>
    <ol class="alpha">
        <li>Personal identifying information, including an individual’s photograph; Social Security and driver identification numbers; name, address and telephone number; and medical or disability information that is contained in any driver’s license record,
            motor vehicle record or any department record, including traffic collision reports, is restricted except as authorized by the Department, and only when such use or disclosure is permitted or required by law to carry out a legitimate law enforcement
            purpose (18 USC § 2721; 18 USC § 2722).</li>
        <li>Private data on the following individuals (Minn. Stat. § 13.82, Subd. 17):
            <ol class="decimal">
                <li>An undercover law enforcement officer.</li>
                <li>A victim or alleged victim of criminal sexual conduct, or sex trafficking, or of a violation of Minn. Stat. § 617.246, Subd. 2.</li>
                <li>A paid or unpaid informant if the Department reasonably believes revealing the identity would threaten the personal safety of the informant.</li>
                <li>A victim of or witness to a crime if the victim or witness specifically requests not to be identified publicly, unless the Department reasonably determines that revealing the identity of the victim or witness would not threaten the personal
                    safety or property of the individual.</li>
                <li>A person who placed a call to a 9-1-1 system or the identity of the person whose phone was used to place a call to the 9-1-1 system when revealing the identity may threaten the personal safety or property of any person or the purpose of
                    the call was to receive help in a mental health emergency. A voice recording of a call placed to the 9-1-1 system is deemed to reveal the identity of the caller.</li>
                <li>A juvenile witness when the subject matter of the investigation justifies protecting the identity of the witness.</li>
                <li>A mandated reporter.</li>
            </ol>
        </li>
        <li>Audio recordings of calls placed to the 9-1-1 system requesting law enforcement, fire or medical agency response, except that a written transcript of the call is public unless it reveals the identity of protected individuals. (Minn. Stat. § 13.82,
            Subd.4).</li>
        <li>Criminal investigative data involving active cases and inactive investigative data if the release of the data would jeopardize another ongoing investigation or would reveal the identity of protected individuals or is otherwise restricted (Minn.
            Stat. § 13.82, Subd. 7).</li>
        <li>Juvenile records and data (Minn. Stat. § 260B.171).</li>
        <li>State criminal history data including, but not limited to, fingerprints, photographs, identification data, arrest data, prosecution data, criminal court data, custody and supervision data (Minn. Stat. § 13.87).</li>
        <li>Traffic collision reports and related supplemental information (Minn. Stat. § 169.09, Subd. 13).</li>
        <li>Corrections and detention data (Minn. Stat. § 13.85).</li>
        <li>Personnel data except, unless otherwise restricted, (Minn. Stat. § 13.43, Subd. 2):
            <ol class="decimal">
                <li>Name, employee identification number and some aspects of compensation.</li>
                <li>Job title, bargaining unit, job description, education and training background and previous work experience.</li>
                <li>Date of first and last employment.</li>
                <li>Existence and status of any complaints or charges against the employee, regardless of whether the complaint or charge resulted in a disciplinary action.</li>
                <li>Final disposition of any disciplinary action together with the specific reasons for the action, and data documenting the basis of the action, excluding data that would identify confidential sources who are employees of this department.</li>
                <li>Terms of any agreement settling any dispute arising out of an employment relationship.</li>
                <li>Work location, work telephone number, badge number and honors and awards received.</li>
                <li>Time sheets or other comparable data only used to account for an employee's work time for payroll purposes, excluding the use of sick or other medical leave or other nonpublic data.</li>
                <li>All other personnel data regarding employees of this department are private data and may only be released as authorized by that classification.</li>
            </ol>
        </li>
        <li>Any data that was created under the direction or authority of the Prosecuting Attorney exclusively in anticipation of potential litigation involving this department shall be classified as protected nonpublic or confidential data while such action
            is pending (Minn. Stat. § 13.39).</li>
        <li>All data collected by an Automated License Plate Reader (ALPR) on individuals or nonpublic data absent an exception (Minn. Stat. § 13.82; Minn. Stat. § 13.824).</li>
    </ol>
    <p>Any other record not addressed in this policy shall not be subject to release where such record is classified as other than public data. All public data shall be released as required by the MGDPA (Minn. Stat. § 13.03, Subd. 1).</p>
    <p>The Department may temporarily withhold data classified as public if it is reasonably determined that public access would likely endanger the physical safety of an individual or cause a perpetrator to flee, evade detection or destroy evidence (Minn.
        Stat. § 13.82, Subd. 14).</p>

    <h3>810.6 SUBPOENAS AND DISCOVERY REQUESTS</h3>
    <p>Any member who receives a subpoena duces tecum or discovery request for data should promptly contact a supervisor and the Custodian of Records for review and processing. While a subpoena duces tecum may ultimately be subject to compliance, it is not
        an order from the court that will automatically require the release of the requested data.</p>
    <p>Generally, discovery requests and subpoenas from criminal defendants and their authorized representatives (including attorneys) should be referred to the Prosecuting Attorney or the courts.</p>
    <p>All questions regarding compliance with any subpoena duces tecum or discovery request should be promptly referred to legal counsel for the Department so that a timely response can be prepared.</p>

    <h3>810.7 RELEASED RECORDS TO BE MARKED</h3>
    <p>Each page of any record released pursuant to this policy should be stamped in a colored ink or otherwise marked to indicate the department name and to whom the record was released.</p>

    <h3>810.8 EXPUNGEMENT</h3>
    <p>A petition for expungement and expungement orders received by the Department shall be reviewed for appropriate action by the Custodian of Records.</p>
    <h4>810.8.1 PETITION FOR EXPUNGEMENT</h4>
    <p>When responding to a petition for expungement, the Custodian of Records shall inform the court and the individual seeking expungement that the response contains private or confidential data (Minn. Stat. § 609A.03, Subd. 3).</p>
    <h4>810.8.2 ORDERS OF EXPUNGEMENT</h4>
    <p>The Custodian of Records shall expunge such records as ordered by the court. Records may include, but are not limited to, a record of arrest, investigation, detention or conviction. Once a record is expunged, members shall respond to any inquiry as
        though the record did not exist.</p>
    <p>Upon request by the individual whose records are to be expunged, the Custodian of Records must send a letter at an address provided by the individual confirming the receipt of the expungement order and that the record has been expunged (Minn. Stat.
        § 609A.03, Subd. 8).</p>
    <p>Expunged records may be opened only by court order (Minn. Stat. § 609A.03, Subd. 7).</p>
    <p>Expunged records of conviction may be opened for purposes of evaluating a prospective employee of the Department without a court order.</p>
    <p>The Custodian of Records shall inform any law enforcement, prosecution or corrections authority, upon request, of the existence of a sealed record and of the right to obtain access to it.</p>

    <h3>810.9 MAINTENANCE OF CLOSED RECORDS</h3>
    <p>Records such as offense reports, arrest reports, juvenile records or other sensitive records shall be secured in such a manner as to reasonably protect them from unauthorized disclosure. Closed records shall be kept separate from public records and
        shall remain confidential.</p>
</div>