<div class="chapter" id="812">
    <h2>812 - Protected Information</h2>
    <h3>812.1 PURPOSE AND SCOPE</h3>
    <p>The purpose of this policy is to provide guidelines for the access, transmission, release and security of protected information by members of the Metro Transit Police Department. This policy addresses the protected information that is used in the
        day-to-day operation of the Department and not the government data information covered in the Records Maintenance and Release Policy.</p>
    <h4>812.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Protected information</strong> - Any information or data that is collected, stored or accessed by members of the Metro Transit Police Department and is subject to any access or release restrictions imposed by law, regulation, order or use
        agreement. This includes all information contained in federal, state or local law enforcement databases that is not accessible to the public.</p>

    <h3>812.2 POLICY</h3>
    <p>Members of the Metro Transit Police Department will adhere to all applicable laws, orders, regulations, use agreements and training related to the access, use, dissemination and release of protected information.</p>

    <h3>812.3 RESPONSIBILITIES</h3>
    <p>The Chief of Police shall select a member of the Department to coordinate the use of protected information (Minn. Stat. § 13.05, Subd. 13).</p>
    <p>The responsibilities of this position include, but are not limited to:</p>
    <ol class="alpha">
        <li>Ensuring member compliance with this policy and with requirements applicable to protected information, including requirements for the National Crime Information Center (NCIC) system, the National Law Enforcement Telecommunications System (NLETS),
            Minnesota Division of Driver and Vehicle Services (DVS) records, Minnesota Bureau of Criminal Apprehension (BCA) and the Minnesota Comprehensive Incident-Based Reporting System (CIBRS).</li>
        <li>Developing, disseminating and maintaining procedures that adopt or comply with the U.S. Department of Justice’s current Criminal Justice Information Services (CJIS) Security Policy.</li>
        <li>Developing, disseminating and maintaining any other procedures necessary to comply with any other requirements for the access, use, dissemination, release and security of protected information.</li>
        <li>Developing procedures to ensure training and certification requirements are met.</li>
        <li>Resolving specific questions that arise regarding authorized recipients of protected information.</li>
        <li>Ensuring security practices and procedures are in place to comply with requirements applicable to protected information.</li>
        <li>Ensuring a comprehensive security assessment of any personal information maintained by the Metro Transit Police Department is conducted at least annually (Minn. Stat. § 13.055, Subd. 6).</li>
        <li>Ensuring CIBRS is notified within 10 days that an investigation in CIBRS has become inactive (Minn. Stat. § 299C.40).</li>
    </ol>

    <h3>812.4 ACCESS TO PROTECTED INFORMATION</h3>
    <p>Protected information shall not be accessed in violation of any law, order, regulation, user agreement, Metro Transit Police Department policy or training (Minn. Stat. § 13.09). Only those members who have completed applicable training and met any
        applicable requirements, such as a background check, may access protected information, and only when the member has a legitimate work-related reason for such access (Minn. Stat. § 13.05; Minn. Stat. § 299C.40).</p>
    <p>Unauthorized access, including access for other than a legitimate work-related purpose, is prohibited and may subject a member to administrative action pursuant to the Personnel Complaints Policy and/or criminal prosecution.</p>

    <h3>812.5 RELEASE OR DISSEMINATION OF PROTECTED INFORMATION</h3>
    <p>Protected information may be released only to authorized recipients who have both a right to know and a need to know.</p>
    <p>A member who is asked to release protected information that should not be released should refer the requesting person to a supervisor or to the Records Supervisor for information regarding a formal request.</p>
    <p>Unless otherwise ordered or when an investigation would be jeopardized, protected information maintained by the Department may generally be shared with authorized persons from other law enforcement agencies who are assisting in the investigation or
        conducting a related investigation. Any such information should be released through the Records Section to ensure proper documentation of the release (see the Records Maintenance and Release Policy).</p>
    <p>Protected information, such as Criminal Justice Information (CJI), which includes Criminal History Record Information (CHRI), should generally not be transmitted by radio, cellular telephone or any other type of wireless transmission to members in
        the field or in vehicles through any computer or electronic device, except in cases where there is an immediate need for the information to further an investigation or where circumstances reasonably indicate that the immediate safety of officers,
        other department members or the public is at risk.</p>
    <p>Nothing in this policy is intended to prohibit broadcasting warrant information.</p>
    <h4>812.5.1 REVIEW OF CHRI</h4>
    <p>Members of this department shall refer individuals seeking access to CHRI to the Minnesota BCA (Minn. Stat. § 13.87, Subd. 1(b)).</p>
    <h4>812.5.2 REVIEW OF CIBRS DATA</h4>
    <p>An individual who is the subject of private data held by CIBRS may request access to the data by making a request to the Records Supervisor. If the request is to release the data to a third party, the individual who is the subject of private data
        must appear in person at the Department to give informed consent to the access or release.</p>
    <p>Private data provided to the individual must also include the name of the law enforcement agency that submitted the data to CIBRS and the name, telephone number and address of the agency responsible for the data.</p>
    <p>A person who is the subject of private data may challenge the data. The Records Supervisor shall review the challenge and determine whether the data should be completed, corrected or destroyed. The corrected data must be submitted to CIBRS and any
        future dissemination must be of the corrected data.</p>
    <p>The Records Supervisor must notify BCA as soon as reasonably practicable whenever data held by CIBRS is challenged. The notification must identify the data that was challenged and the subject of the data.</p>

    <h3>812.6 SECURITY OF PROTECTED INFORMATION</h3>
    <p>The Chief of Police will select a member of the Department to oversee the security of protected information.</p>
    <p>The responsibilities of this position include, but are not limited to:</p>
    <ol class="alpha">
        <li>Developing and maintaining security practices, procedures and training.</li>
        <li>Ensuring federal and state compliance with the CJIS Security Policy and the requirements of any state or local criminal history records systems.</li>
        <li>Establishing procedures to provide for the preparation, prevention, detection, analysis and containment of security incidents including computer attacks.</li>
        <li>Tracking, documenting and reporting all breach of security incidents to the Chief of Police and appropriate authorities.</li>
    </ol>
    <h4>812.6.1 MEMBER RESPONSIBILITIES</h4>
    <p>Members accessing or receiving protected information shall ensure the information is not accessed or received by persons who are not authorized to access or receive it. This includes leaving protected information, such as documents or computer databases,
        accessible to others when it is reasonably foreseeable that unauthorized access may occur (e.g., on an unattended table or desk; in or on an unattended vehicle; in an unlocked desk drawer or file cabinet; on an unattended computer terminal).</p>

    <h3>812.7 TRAINING</h3>
    <p>All members authorized to access or release protected information shall complete a training program that complies with any protected information system requirements and identifies authorized access and use of protected information, as well as its
        proper handling and dissemination.</p>

    <h3>812.8 SECURITY BREACHES</h3>
    <p>In the event of an actual or potential breach of the security or other unauthorized acquisition of private or confidential information, the Chief of Police or designee shall ensure an investigation into the breach is made. Upon completion of the investigation
        and final disposition of any disciplinary action, a report containing the facts and result of the investigation shall be prepared. If the breach was conducted by an employee, contractor or agent of Metro Transit, the report must include a description
        of the type of data that was breached, the number of individuals whose information was breached, the disposition of any related disciplinary action, and the identity of the employee determined to be responsible for the breach (Minn. Stat. § 13.055).</p>
    <p>Written notice shall be given to any individual whose private or confidential data was, or is reasonably believed to have been, acquired by an unauthorized person as soon as reasonably practicable. The notice shall include the following (Minn. Stat.
        § 13.055):</p>
    <ol class="alpha">
        <li>Notification that an investigation will be conducted.</li>
        <li>Notification that a report containing the facts and results will be prepared.</li>
        <li>Information on how the person may obtain access to the report, including that he/she may request delivery of the report by mail or email.</li>
    </ol>
    <p>The notice may be delayed only so long as necessary to determine the scope of the breach and restore the reasonable security of the data or so long as it will impede an active criminal investigation. Notice shall be made by first class mail, electronic
        notice or substitute notice as provided in Minn. Stat. § 13.055, Subd. 4. If notification is required to be made to more than 1,000 individuals, notice to all consumer reporting agencies of the timing distribution and content of the notices must
        also be made (Minn. Stat. § 13.055, Subd. 5).</p>
</div>