<div class="chapter" id="814">
    <h2>814 - Computers and Digital Evidence</h2>
    <h3>814.1 PURPOSE AND SCOPE</h3>
    <p>This policy establishes procedures for the seizure and storage of computers, personal communications devices (PCDs) digital cameras, digital recorders and other electronic devices that are capable of storing digital information; and for the preservation
        and storage of digital evidence. All evidence seized and/or processed pursuant to this policy shall be done so in compliance with clearly established Fourth Amendment and search and seizure provisions.</p>

    <h3>814.2 SEIZING COMPUTERS AND RELATED EVIDENCE</h3>
    <p>Computer equipment requires specialized training and handling to preserve its value as evidence. Officers should be aware of the potential to destroy information through careless or improper handling, and utilize the most knowledgeable available resources.
        When seizing a computer and accessories the following steps should be taken:</p>
    <ol class="alpha">
        <li>Photograph each item, front, back and surrounding desktop or office setup, specifically including cable connections to other items. Look for a telephone line or cable to a modem for Internet access.</li>
        <li>Do not overlook the possibility of the presence of physical evidence on and around the hardware relevant to the particular investigation such as fingerprints, biological or trace evidence and/or documents.</li>
        <li>If the computer is off, do not turn it on.</li>
        <li>If the computer is on, do not shut it down normally and do not click on anything or examine any files.
            <ol class="decimal">
                <li>Photograph the screen, if possible, and note any programs or windows that appear to be open and running.</li>
                <li>Disconnect the power cable from the back of the computer box or if a portable notebook style, disconnect any power cable from the case and remove the battery.</li>
            </ol>
        </li>
        <li>Label each item with case number, evidence sheet number and item number.</li>
        <li>Handle and transport the computer and storage media (e.g., tape, discs, memory cards, flash memory, external drives) with care so that potential evidence is not lost.</li>
        <li>Lodge all computer items into the Property and Evidence. Do not store computers where normal room temperature and humidity is not maintained.</li>
        <li>At minimum, officers should document the following in related reports:
            <ol class="decimal">
                <li>Where the computer was located and whether it was in operation.</li>
                <li>Who was using it at the time.</li>
                <li>Who claimed ownership.</li>
                <li>If it can be determined, how it was being used.</li>
            </ol>
        </li>
        <li>In most cases when a computer is involved in criminal acts and is in the possession of the suspect, the computer itself and all storage devices (e.g., printers, remote drives, hard drives, tape drives and disk drives) should be seized along with
            all media.</li>
    </ol>
    <h4>814.2.1 BUSINESS OR NETWORKED COMPUTERS</h4>
    <p>If the computer belongs to a business or is part of a network, it may not be feasible to seize the entire computer. Cases involving networks require specialized handling. Officers should contact a certified forensic computer examiner for instructions
        or a response to the scene. It may be possible to perform an on-site inspection, or to image the hard drive only of the involved computer. This should be done by someone specifically trained in processing computers for evidence.</p>
    <h4>814.2.2 FORENSIC EXAMINATION OF COMPUTERS</h4>
    <p>If an examination of the contents of the computer's hard drive, floppy disks, compact discs or any other storage media is required, forward the following items to a computer forensic examiner:</p>
    <ol class="alpha">
        <li>Copy of report(s) involving the computer, including the Evidence/Property sheet.</li>
        <li>Copy of a consent to search form signed by the computer owner or the person in possession of the computer, or a copy of a search warrant authorizing the search of the computer hard drive for evidence relating to investigation or other legal authority
            for examination.</li>
        <li>A listing of the items to search for (e.g., photographs, financial records, E-mail, documents).</li>
        <li>A forensic copy of the media will be made, and subsequent forensic examination of the copy will be conducted by a trained digital forensic examiner.</li>
    </ol>

    <h3>814.3 SEIZING DIGITAL STORAGE MEDIA</h3>
    <p>Digital storage media including hard drives, floppy discs, CDs, DVDs, tapes, memory cards or flash memory devices should be seized and stored in a manner that will protect them from damage.</p>
    <ol class="alpha">
        <li>If the media has a write-protection tab or switch, it should be activated.</li>
        <li>Do not review, access or open digital files prior to submission. If the information is needed for immediate investigation request the Property and Evidence to copy the contents to an appropriate form of storage media.</li>
        <li>Many kinds of storage media can be erased or damaged by magnetic fields. Keep all media away from magnetic devices, electric motors, radio transmitters or other sources of magnetic fields.</li>
        <li>Do not leave storage media where they would be subject to excessive heat such as in a parked vehicle on a hot day.</li>
        <li>Use plastic cases designed to protect the media, or other protective packaging, to prevent damage.</li>
    </ol>

    <h3>814.4 SEIZING PCDS</h3>
    <p>Personal communication devices such as cellular telephones, PDAs or other hand-held devices connected to any communication network must be handled with care to preserve evidence that may be on the device including messages, stored data and/or images.</p>
    <ol class="alpha">
        <li>Officers should not attempt to access, review or search the contents of such devices prior to examination by a forensic expert. Unsent messages can be lost, data can be inadvertently deleted and incoming messages can override stored messages.</li>
        <li>Do not turn the device on or off. The device should be placed in a solid metal container such as a paint can or in a Faraday bag, to prevent the device from sending or receiving information from its host network.</li>
        <li>When seizing the devices, also seize the charging units and keep them plugged in to the chargers until they can be examined. If the batteries go dead all the data may be lost.</li>
    </ol>

    <h3>814.5 DIGITAL EVIDENCE RECORDED BY OFFICERS</h3>
    <p>Officers handling and submitting recorded and digitally stored evidence from digital cameras and audio or video recorders will comply with these procedures to ensure the integrity and admissibility of such evidence.</p>
    <h4>814.5.1 COLLECTION OF DIGITAL EVIDENCE</h4>
    <p>Once evidence is recorded it shall not be erased, deleted or altered in any way prior to submission. All photographs taken will be preserved regardless of quality, composition or relevance. Video and audio files will not be altered in any way.</p>
    <h4>814.5.2 SUBMISSION OF DIGITAL MEDIA</h4>
    <p>The following are required procedures for the submission of digital media used by cameras or other recorders:</p>
    <ol class="alpha">
        <li>The recording media (e.g., smart card, compact flash card or any other media) shall be brought to the Property and Evidence Unit as soon as reasonably possible for submission into evidence.</li>
        <li>Officers are not authorized to review or copy memory cards. The evidence technicians are the only employees authorized to copy and/or distribute digital media made from the memory cards.</li>
        <li>As soon as reasonably possible following the collection of evidence, the camera operator is to remove the memory card from his/her digital camera and place the card into a plastic carrier (if available). The camera operator shall write their name,
            related case number and any additional requested information on the Evidence Photo Log Form before placing the card into the drop locker along with the evidence form.</li>
        <li>Evidence technicians will make a copy of the memory card using appropriate storage media. Once they have verified that the images properly transferred to the storage media, the</p> technicians will erase the memory card for reuse. The storage
            media will be marked as the original.</li>
        <li>Officers requiring a copy of the digital files must request a copy on the evidence form when submitted to evidence.</li>
    </ol>
    <h4>814.5.3 DOWNLOADING OF DIGITAL FILES</h4>
    <p>Digital information such as video or audio files recorded on devices using internal memory must be downloaded to storage media. The following procedures are to be followed:</p>
    <ol class="alpha">
        <li>Files should not be opened or reviewed prior to downloading and storage.</li>
        <li>Where reasonably possible, the device should be connected to a computer and the files accessed directly from the computer directory or downloaded to a folder on the host computer for copying to the storage media.</li>
    </ol>
    <h4>814.5.4 PRESERVATION OF DIGITAL EVIDENCE</h4>
    <p>Only evidence technicians are authorized to copy original digital media related to case documentation that is held as evidence. Only digital forensic examiners are authorized to copy original media seized as evidence. The original digital media shall
        remain in evidence and shall remain unaltered.</p>
    <p>Digital images that are enhanced to provide a better quality photograph for identification and investigative purposes must only be made from a copy of the original media.</p>
    <p>If any enhancement is done to the copy of the original, it shall be noted in the corresponding incident report.</p>
</div>