<div class="chapter" id="900">
    <h2>900 - Custodial Searches</h2>
    <h3>900.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance regarding searches of individuals in custody. Such searches are necessary to eliminate the introduction of contraband, intoxicants or weapons into the Metro Transit Police Department or other facilities. Such items can
        pose a serious risk to the safety and security of department members, individuals in custody, contractors and the public.</p>
    <p>Nothing in this policy is intended to prohibit the otherwise lawful collection of trace evidence from an individual in custody.</p>
    <h4>900.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Custody search</strong> - An in-custody search of an individual and of his/her property, shoes and clothing, including pockets, cuffs and folds on the clothing, to remove all weapons, dangerous items and contraband.</p>
    <p><strong>Physical body cavity search</strong> - A search that includes a visual inspection and may include a physical intrusion into a body cavity. Body cavity means the stomach or rectal cavity of an individual, and the vagina of a female person.</p>
    <p><strong>Strip search</strong> - A search that requires an individual to remove or rearrange some or all of his/her clothing to permit a visual inspection of the underclothing, breasts, buttocks, anus or outer genitalia. This includes monitoring an
        individual who is changing clothes, where his/her underclothing, buttocks, genitalia or female breasts are visible.</p>

    <h3>900.2 POLICY</h3>
    <p>All searches shall be conducted with concern for safety, dignity, courtesy, respect for privacy and hygiene, and in compliance with policy and law to protect the rights of those who are subject to any search.</p>
    <p>Searches shall not be used for intimidation, harassment, punishment or retaliation.</p>

    <h3>900.3 FIELD AND TRANSPORTATION SEARCHES</h3>
    <p>An officer should conduct a custody search of an individual immediately after his/her arrest, when receiving an individual from the custody of another, and before transporting a person who is in custody in any department vehicle.</p>
    <p>Whenever practicable, a custody search should be conducted by an officer of the same sex as the person being searched. If an officer of the same sex is not reasonably available, a witnessing officer should be present during the search.</p>

    <h3>900.4 SEARCHES AT POLICE FACILITIES</h3>
    <p>Custody searches shall be conducted on all individuals in custody, upon entry to the Metro Transit Police Department facilities. Except in exigent circumstances, the search should be conducted by a member of the same sex as the individual being searched.
        If a member of the same sex is not available, a witnessing member must be present during the search.</p>
    <p>Custody searches should also be conducted any time an individual in custody enters or re-enters a secure area, or any time it is reasonably believed that a search is necessary to maintain the safety and security of the facility.</p>
    <h4>900.4.1 PROPERTY</h4>
    <p>Members shall take reasonable care in handling the property of an individual in custody to avoid discrepancies or losses. Property retained for safekeeping shall be kept in a secure location until the individual is released or transferred.</p>
    <p>Some property may not be accepted by a facility or agency that is taking custody of an individual from this department, such as weapons or large items. These items should be retained for safekeeping in accordance with the Property and Evidence Policy.</p>
    <p>All property shall be inventoried by objective description (this does not include an estimated value). The inventory should include the case number, date, time, member's Metro Transit Police Department identification number and information regarding
        how and when the property may be released.</p>
    <h4>900.4.2VERIFICATION OF MONEY</h4>
    <p>All money shall be counted in front of the individual from whom it was received. When possible, the individual shall initial the dollar amount on the inventory. Additionally, all money should be placed in a separate envelope and sealed. Negotiable
        checks or other instruments and foreign currency should also be sealed in an envelope with the amount indicated but not added to the cash total. All envelopes should clearly indicate the contents on the front. The department member sealing it
        should place his/her initials across the sealed flap. Should any money be withdrawn or added, the member making such change shall enter the amount below the original entry and initial it. The amount of money in the envelope should always be totaled
        and written on the outside of the envelope.</p>

    <h3>900.5 STRIP SEARCHES</h3>
    <p>No individual in temporary custody at any Metro Transit Police Department facility shall be subjected to a strip search unless there is reasonable suspicion based upon specific and articulable facts to believe the individual has a health condition
        requiring immediate medical attention or is concealing a weapon or contraband. Factors to be considered in determining reasonable suspicion include, but are not limited to:</p>
    <ol class="alpha">
        <li>The detection of an object during a custody search that may be a weapon or contraband and cannot be safely retrieved without a strip search.</li>
        <li>Circumstances of a current arrest that specifically indicate the individual may be concealing a weapon or contraband.
            <ol class="decimal">
                <li>A felony arrest charge or being under the influence of a controlled substance should not suffice as reasonable suspicion absent other facts.</li>
            </ol>
        </li>
        <li>Custody history (e.g., past possession of contraband while in custody, assaults on department members, escape attempts).</li>
        <li>The individual's actions or demeanor.</li>
        <li>Criminal history (i.e., level of experience in a custody setting).</li>
    </ol>
    <p>No transgender or intersex individual shall be searched or examined for the sole purpose of determining the individual's genital status. If the individual's genital status is unknown, it may be determined during conversations with the person, by reviewing
        medical records, or as a result of a broader medical examination conducted in private by a medical practitioner (28 CFR 115.115).</p>
    <h4>900.5.1 STRIP SEARCH PROCEDURES</h4>
    <p>Strip searches at Metro Transit Police Department facilities shall be conducted as follows (28 CFR 115.115):</p>
    <ol class="alpha">
        <li>Written authorization from the Shift Supervisor shall be obtained prior to the strip search.</li>
        <li>All members involved with the strip search shall be of the same sex as the individual being searched, unless the search is conducted by a medical practitioner.</li>
        <li>All strip searches shall be conducted in a professional manner under sanitary conditions and in a secure area of privacy so that it cannot be observed by those not participating in the search. The search shall not be reproduced through a visual
            or sound recording.</li>
        <li>Whenever possible, a second member of the same sex should also be present during the search, for security and as a witness to the finding of evidence.</li>
        <li>Members conducting a strip search shall not touch the breasts, buttocks or genitalia of the individual being searched.</li>
        <li>The primary member conducting the search shall prepare a written report to include:
            <ol class="decimal">
                <li>The facts that led to the decision to perform a strip search.</li>
                <li>The reasons less intrusive methods of searching were not used or were insufficient.</li>
                <li>The written authorization for the search, obtained from the Shift Supervisor.</li>
                <li>The name of the individual who was searched.</li>
                <li>The name and sex of the members who conducted the search.</li>
                <li>The name, sex and role of any person present during the search.</li>
                <li>The time and date of the search.</li>
                <li>The place at which the search was conducted.</li>
                <li>A list of the items, if any, that were recovered.</li>
                <li>The facts upon which the member based his/her belief that the individual was concealing a weapon or contraband.</li>
            </ol>
        </li>
        <li>No member should view an individual's private underclothing, buttocks, genitalia or female breasts while that individual is showering, performing bodily functions or changing clothes, unless he/she otherwise qualifies for a strip search. However,
            if serious hygiene or health issues make it reasonably necessary to assist the individual with a shower or a change of clothes, a supervisor should be contacted to ensure reasonable steps are taken to obtain the individual's consent and/or
            otherwise protect his/her privacy and dignity.</li>
    </ol>
    <h4>900.5.2 SPECIAL CIRCUMSTANCE FIELD STRIP SEARCHES</h4>
    <p>A strip search may be conducted in the field only with Shift Supervisor authorization and only in exceptional circumstances, such as when:</p>
    <ol class="alpha">
        <li>There is probable cause to believe that the individual is concealing a weapon or other dangerous item that cannot be recovered by a more limited search.</li>
        <li>There is probable cause to believe that the individual is concealing controlled substances or evidence that cannot be recovered by a more limited search, and there is no reasonable alternative to ensure the individual cannot destroy or ingest
            the substance during transportation.</li>
    </ol>
    <p>These special-circumstance field strip searches shall only be authorized and conducted under the same restrictions as the strip search procedures in this policy, except that the Shift Supervisor authorization does not need to be in writing.</p>

    <h3>900.6 PHYSICAL BODY CAVITY SEARCH</h3>
    <p>Physical body cavity searches shall be subject to the following:</p>
    <ol class="alpha">
        <li>No individual shall be subjected to a physical body cavity search without written approval of the Shift Supervisor and only upon a search warrant or approval of legal counsel. A copy of any search warrant and the results of the physical body cavity
            search shall be included with the related reports and made available, upon request, to the individual or authorized representative (except for those portions of the warrant ordered sealed by a court).</li>
        <li>Only a physician may conduct a physical body cavity search.</li>
        <li>Except for the physician conducting the search, persons present must be of the same sex as the individual being searched. Only the necessary department members needed to maintain the safety and security of the medical personnel shall be present.</li>
        <li>Privacy requirements, including restricted touching of body parts and sanitary condition requirements, are the same as required for a strip search.</li>
        <li>All such searches shall be documented, including:
            <ol class="decimal">
                <li>The facts that led to the decision to perform a physical body cavity search of the individual.</li>
                <li>The reasons less intrusive methods of searching were not used or were insufficient.</li>
                <li>The Shift Supervisor's approval.</li>
                <li>A copy of the search warrant.</li>
                <li>The time, date and location of the search.</li>
                <li>The medical personnel present.</li>
                <li>The names, sex and roles of any department members present.</li>
                <li>Any contraband or weapons discovered by the search.</li>
            </ol>
        </li>
        <li>A copy of the written authorization shall be retained and shall be provided to the individual who was searched or other authorized representative upon request.</li>
    </ol>

    <h3>900.7 TRAINING</h3>
    <p>The Training Coordinator shall ensure members have training that includes (28 CFR 115.115):</p>
    <ol class="alpha">
        <li>Conducting searches of cross-gender individuals.</li>
        <li>Conducting searches of transgender and intersex individuals.</li>
        <li>Conducting searches in a professional and respectful manner, and in the least intrusive manner possible, consistent with security needs.</li>
    </ol>
</div>