<div class="chapter" id="902">
    <h2>902 - Prison Rape Elimination</h2>
    <h3>902.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidance for complying with the Prison Rape Elimination Act of 2003 (PREA) and the implementing regulation that establishes standards (PREA Rule) to prevent, detect and respond to sexual abuse, harassment and retaliation against
        prisoners in the Metro Transit Police Department Temporary Holding Facilities (28 CFR 115.111).</p>
    <h4>902.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Intersex</strong> - A person whose sexual or reproductive anatomy or chromosomal pattern does not seem to fit typical definitions of male or female. Intersex medical conditions are sometimes referred to as disorders of sex development (28
        CFR 115.5).</p>
    <p><strong>Sexual abuse</strong> - Any of the following acts, if the prisoner does not consent, is coerced into such act by overt or implied threats of violence or is unable to consent or refuse:</p>
    <ul>
        <li>Contact between the penis and the vulva or the penis and the anus, including penetration, however slight</li>
        <li>Contact between the mouth and the penis, vulva or anus</li>
        <li>Penetration of the anal or genital opening of another person, however slight, by a hand, finger, object or other instrument</li>
        <li>Any other intentional touching, either directly or through the clothing, of the genitalia, anus, groin, breast, inner thigh or the buttocks of another person, excluding contact incidental to a physical altercation (28 CFR 115.6)</li>
    </ul>
    <p>Sexual abuse also includes abuse by a staff member, contractor or volunteer as follows, with or without consent of the prisoner or resident:</p>
    <ul>
        <li>Contact between the penis and the vulva or the penis and the anus, including penetration, however slight</li>
        <li>Contact between the mouth and the penis, vulva or anus</li>
        <li>Contact between the mouth and any body part where the staff member, contractor or volunteer has the intent to abuse, arouse or gratify sexual desire</li>
        <li>Penetration of the anal or genital opening, however slight, by a hand, finger, object or other instrument, that is unrelated to official duties, or where the staff member, contractor or volunteer has the intent to abuse, arouse or gratify sexual
            desire</li>
        <li>Any other intentional contact, either directly or through the clothing, of or with the genitalia, anus, groin, breast, inner thigh or the buttocks, that is unrelated to official duties, or where the staff member, contractor or volunteer has the
            intent to abuse, arouse or gratify sexual desire</li>
        <li>Any attempt, threat or request by a staff member, contractor or volunteer to engage in the activities described above</li>
        <li>Any display by a staff member, contractor or volunteer of his/her uncovered genitalia, buttocks or breast in the presence of a prisoner or resident</li>
        <li>Voyeurism by a staff member, contractor or volunteer (28 CFR 115.6)</li>
    </ul>
    <p><strong>Sexual harassment</strong> - Repeated and unwelcome sexual advances; requests for sexual favors; verbal comments, gestures or actions of a derogatory or offensive sexual nature by one prisoner or resident that are directed toward another;
        repeated verbal comments or gestures of a sexual nature to a prisoner or resident by a staff member, contractor or volunteer, including demeaning references to gender, sexually suggestive or derogatory comments about body or clothing, or obscene
        language or gestures (28 CFR 115.6).</p>
    <p><strong>Transgender</strong> - A person whose gender identity (i.e., internal sense of feeling male or female) is different from the person's assigned sex at birth (28 CFR 115.5).</p>

    <h3>902.2 POLICY</h3>
    <p>The Metro Transit Police Department has zero tolerance toward all forms of sexual abuse and sexual harassment (28 CFR 115.111). The Department will not tolerate retaliation against any person who reports sexual abuse or sexual harassment or who cooperates
        with a sexual abuse or sexual harassment investigation.</p>
    <p>The Metro Transit Police Department will take immediate action to protect prisoners who are reasonably believed to be subject to a substantial risk of imminent sexual abuse (28 CFR 115.162).</p>

    <h3>902.3 PREA COORDINATOR</h3>
    <p>The Chief of Police shall appoint an upper-level manager with sufficient time and authority to develop, implement and oversee department efforts to comply with PREA standards in the Metro Transit Police Department Temporary Holding Facilities (28
        CFR 115.111). The PREA Coordinator's responsibilities shall include:</p>
    <ol class="alpha">
        <li>Developing and maintaining procedures to comply with the PREA Rule.</li>
        <li>Ensuring that any contract for the confinement of Metro Transit Police Department prisoners includes the requirement to adopt and comply with applicable PREA standards and the PREA Rule, including the obligation to provide incident-based and aggregated
            data, as required in 28 CFR 115.187 (28 CFR 115.112).</li>
        <li>Developing a staffing plan to provide adequate levels of staffing and video monitoring, where applicable, in order to protect prisoners from sexual abuse (28 CFR 115.113). This includes documenting deviations and the reasons for deviations from
            the staffing plan, as well as reviewing the staffing plan a minimum of once per year.</li>
        <li>Developing methods for staff to privately report sexual abuse and sexual harassment of prisoners (28 CFR 115.151).</li>
        <li>Developing a written plan to coordinate response among staff first responders, medical and mental health practitioners, investigators and department leadership to an incident of sexual abuse (28 CFR 115.165).</li>
        <li>Ensuring a protocol is developed for investigating allegations of sexual abuse in the Temporary Holding Facility. The protocol shall include (28 CFR 115.121; 28 CFR 115.122):
            <ol class="decimal">
                <li>Evidence collection practices that maximize the potential for obtaining usable physical evidence based on the most recent edition of the U.S. Department of Justice's (DOJ) Office on Violence Against Women publication, "A National Protocol
                    for Sexual Assault Medical Forensic Examinations, Adults/Adolescents" or a similarly comprehensive and authoritative protocol.</li>
                <li>A process to ensure a criminal or administrative investigation is completed on all allegations of sexual abuse or sexual harassment.</li>
                <li>A process to document all referrals to other law enforcement agencies.</li>
                <li>Access to forensic medical examinations, without financial cost, for all victims of sexual abuse where appropriate. Such examinations shall be performed by Sexual Assault Forensic Examiners (SAFEs) or Sexual Assault Nurse Examiners (SANEs)
                    where possible. If SAFEs or SANEs cannot be made available, the examination can be performed by other qualified medical practitioners. The efforts to provide SAFEs or SANEs shall be documented.</li>
                <li>In accordance with security needs, provisions to permit, to the extent available, prisoner access to victim advocacy services if the prisoner is transported for a forensic examination to an outside hospital that offers such services.</li>
            </ol>
        </li>
        <li>Ensuring that prisoners with limited English proficiency and disabilities have an equal opportunity to understand and benefit from efforts to prevent, detect and respond to sexual abuse and sexual harassment. This includes, as appropriate, access
            to interpreters and written materials in formats or through methods that provide effective communication to those with disabilities (e.g., limited reading skills, intellectual, hearing or vision disabilities) (28 CFR 115.116).
            <ol class="decimal">
                <li>The agency shall not rely on other prisoners for assistance except in limited circumstances where an extended delay in obtaining an interpreter could compromise the prisoner's safety, the performance of first-response duties under this
                    policy, or the investigation of a prisoner's allegations of sexual abuse, harassment or retaliation.</li>
            </ol>
        </li>
        <li>Publishing on the department's website:
            <ol class="decimal">
                <li>Information on how to report sexual abuse and sexual harassment on behalf of a prisoner (28 CFR 115.154).</li>
                <li>A protocol describing the responsibilities of the Department and any other investigating agency that will be responsible for conducting sexual abuse or sexual harassment investigations (28 CFR 115.122).</li>
            </ol>
        </li>
        <li>Establishing a process that includes the use of a standardized form and set of definitions to ensure accurate, uniform data is collected for every allegation of sexual abuse at facilities under this agency's direct control (28 CFR 115.187).
            <ol class="decimal">
                <li>The data collected shall include, at a minimum, the data necessary to answer all questions from the most recent version of the Survey of Sexual Violence, conducted by DOJ, or any subsequent form developed by DOJ and designated for lockups.</li>
                <li>The data shall be aggregated at least annually.</li>
            </ol>
        </li>
        <li>Ensuring audits are conducted pursuant to 28 CFR 115.401 through 28 CFR 115.405 for all Temporary Holding Facilities used to house prisoners overnight (28 CFR 115.193).</li>
        <li>Ensuring contractors or others who work in the Temporary Holding Facility are informed of the agency's zero-tolerance policy regarding sexual abuse and sexual harassment (28 CFR 115.132).</li>
    </ol>

    <h3>902.4 REPORTING SEXUAL ABUSE AND HARASSMENT</h3>
    <p>Prisoners may make reports verbally, in writing, privately or anonymously of any of the following (28 CFR 115.151):</p>
    <ul>
        <li>Sexual abuse</li>
        <li>Sexual harassment</li>
        <li>Retaliation by other prisoners or staff for reporting sexual abuse or sexual harassment</li>
        <li>Staff neglect or violation of responsibilities that may have contributed to sexual abuse or sexual harassment</li>
    </ul>
    <p>During intake the Department shall notify all prisoners of the zero-tolerance policy regarding sexual abuse and sexual harassment, and of at least one way to report abuse or harassment to a public or private entity that is not part of the Department
        and that is able to receive and immediately forward prisoner reports of sexual abuse and sexual harassment to agency officials. This allows the prisoner to remain anonymous (28 CFR 115.132; 28 CFR 115.151).</p>
    <h4>902.4.1 MEMBER RESPONSIBILITIES</h4>
    <p>Department members shall accept reports from prisoners and third parties and shall promptly document all reports (28 CFR 115.151).</p>
    <p>All members shall report immediately to the Shift Supervisor any knowledge, suspicion or information regarding:</p>
    <ol class="alpha">
        <li>An incident of sexual abuse or sexual harassment that occurs in the Temporary Holding Facility.</li>
        <li>Retaliation against prisoners or the member who reports any such incident.</li>
        <li>Any neglect or violation of responsibilities on the part of any department member that may have contributed to an incident or retaliation (28 CFR 115.161).</li>
    </ol>
    <p>No member shall reveal any information related to a sexual abuse report to anyone other than to the extent necessary to make treatment and investigation decisions.</p>
    <h4>902.4.2 SHIFT SUPERVISOR RESPONSIBILITIES</h4>
    <p>The Shift Supervisor shall report to the department's designated investigators all allegations of sexual abuse, harassment, retaliation, neglect or violations leading to sexual abuse, harassment or retaliation. This includes third-party and anonymous
        reports (28 CFR 115.161).</p>
    <p>If the alleged victim is under the age of 18 or considered a vulnerable adult, the Shift Supervisor shall also report the allegation as required under mandatory reporting laws and department policy.</p>
    <p>Upon receiving an allegation that a prisoner was sexually abused while confined at another facility, the Shift Supervisor shall notify the head of the facility or the appropriate office of the agency where the alleged abuse occurred. The notification
        shall be made as soon as possible but no later than 72 hours after receiving the allegation. The Shift Supervisor shall document such notification (28 CFR 115.163).</p>
    <p>If an alleged prisoner victim is transferred from the Temporary Holding Facility to a jail, prison or medical facility, the Department shall, as permitted by law, inform the receiving facility of the incident and the prisoner's potential need for
        medical or social services, unless the prisoner requests otherwise (28 CFR 115.165).</p>

    <h3>902.5 INVESTIGATIONS</h3>
    <p>The Department shall promptly, thoroughly and objectively investigate all allegations, including third-party and anonymous reports, of sexual abuse or sexual harassment. Only investigators who have received department-approved special training shall
        conduct sexual abuse investigations (28 CFR 115.171).</p>
    <h4>902.5.1 FIRST RESPONDERS</h4>
    <p>The first officer to respond to a report of sexual abuse or sexual assault shall (28 CFR 115.164):</p>
    <ol class="alpha">
        <li>Separate the parties.</li>
        <li>Establish a crime scene to preserve and protect any evidence. Identify and secure witnesses until steps can be taken to collect any evidence.</li>
        <li>If the abuse occurred within a time period that still allows for the collection of physical evidence, request that the alleged victim not take any actions that could destroy physical evidence, including, as appropriate, washing, brushing teeth,
            changing clothes, urinating, defecating, smoking, drinking or eating.</li>
        <li>If the abuse occurred within a time period that still allows for the collection of physical evidence, ensure that the alleged abuser does not take any actions that could destroy</li>
    </ol>
    <p>physical evidence, including, as appropriate, washing, brushing teeth, changing clothes, urinating, defecating, smoking, drinking or eating.</p>
    <p>If the first responder is not an officer the responder shall request that the alleged victim not take any actions that could destroy physical evidence and should then notify a law enforcement staff member (28 CFR 115.164).</p>
    <h4>902.5.2 INVESTIGATOR RESPONSIBILITIES Investigators shall (28 CFR 115.171):</h4>
    <ol class="alpha">
        <li>Gather and preserve direct and circumstantial evidence, including any available physical and biological evidence and any available electronic monitoring data.</li>
        <li>Interview alleged victims, suspects and witnesses.</li>
        <li>Review any prior complaints and reports of sexual abuse involving the suspect.</li>
        <li>Conduct compelled interviews only after consulting with prosecutors as to whether compelled interviews may be an obstacle for subsequent criminal prosecution.</li>
        <li>Assess the credibility of the alleged victim, suspect or witness on an individual basis and not by the person's status as a prisoner or a member of the Metro Transit Police Department.</li>
        <li>Document in written reports a description of physical, testimonial, documentary and other evidence, the reasoning behind any credibility assessments, and investigative facts and findings.</li>
        <li>Refer allegations of conduct that may be criminal to the Prosecuting Attorney for possible prosecution, including any time there is probable cause to believe a prisoner sexually abused another prisoner in the Temporary Holding Facility (28 CFR
            115.178).</li>
        <li>Cooperate with outside investigators and remain informed about the progress of any outside investigation.</li>
    </ol>
    <h4>902.5.3 ADMINISTRATIVE INVESTIGATIONS</h4>
    <p>Administrative investigations shall include an effort to determine whether staff actions or failures to act contributed to the abuse. The departure of the alleged abuser or victim from the employment or control of this department shall not be used
        as a basis for terminating an investigation (28 CFR 115.171).</p>
    <h4>902.5.4 SEXUAL ASSAULT AND SEXUAL ABUSE VICTIMS</h4>
    <p>No prisoner who alleges sexual abuse shall be required to submit to a polygraph examination or other truth-telling device as a condition for proceeding with the investigation of such an allegation (28 CFR 115.171(e)).</p>
    <p>Prisoner victims of sexual abuse shall receive timely, unimpeded access to emergency medical treatment. Treatment services shall be provided to the victim without financial cost and regardless of whether the victim names the abuser or cooperates with
        any investigation arising out of the incident (28 CFR 115.182).</p>
    <h4>902.5.5 CONCLUSIONS AND FINDINGS</h4>
    <p>All completed investigations shall be forwarded to the Chief of Police, or if the allegations may reasonably involve the Chief of Police, to the General Manager. The Chief of Police or General Manager shall review the investigation and determine whether
        any allegations of sexual abuse or sexual harassment have been substantiated by a preponderance of the evidence (28 CFR 115.172).</p>
    <p>All personnel shall be subject to disciplinary sanctions up to and including termination for violating this policy. Termination shall be the presumptive disciplinary sanction for department members who have engaged in sexual abuse. All discipline
        shall be commensurate with the nature and circumstances of the acts committed, the member's disciplinary history and the sanctions imposed for comparable offenses by other members with similar histories (28 CFR 115.176).</p>
    <p>All terminations for violations of this policy, or resignations by members who would have been terminated if not for their resignation, shall be criminally investigated unless the activity was clearly not criminal and reported to any relevant licensing
        body (28 CFR 115.176).</p>
    <p>Any contractor or volunteer who engages in sexual abuse shall be prohibited from contact with prisoners and reported to any relevant licensing bodies (28 CFR 115.177). The Chief of Police shall take appropriate remedial measures and consider whether
        to prohibit further contact with prisoners by a contractor or volunteer.</p>

    <h3>902.6 RETALIATION PROHIBITED</h3>
    <p>All prisoners and members who report sexual abuse or sexual harassment or who cooperate with sexual abuse or sexual harassment investigations shall be protected from retaliation (28 CFR 115.167). If any other individual who cooperates with an investigation
        expresses a fear of retaliation, appropriate measures shall be taken to protect that individual.</p>
    <p>The Shift Supervisor or the authorized designee shall employ multiple protection measures, such as housing changes or transfers for prisoner victims or abusers, removal of alleged abusers from contact with victims, and emotional support services for
        prisoners or members who fear retaliation for reporting sexual abuse or sexual harassment or for cooperating with investigations.</p>
    <p>The Shift Supervisor or the authorized designee shall identify a staff member to monitor the conduct and treatment of prisoners or members who have reported sexual abuse and of prisoners who were reported to have suffered sexual abuse. The staff member
        shall act promptly to remedy any such retaliation. In the case of prisoners, such monitoring shall also include periodic status checks.</p>

    <h3>902.7 REVIEWS AND AUDITS</h3>
    <h4>902.7.1 INCIDENT REVIEWS</h4>
    <p>An incident review shall be conducted at the conclusion of every sexual abuse investigation, unless the allegation has been determined to be unfounded. The review should occur within 30 days of the conclusion of the investigation. The review team
        shall include upper-level management officials and seek input from line supervisors and investigators (28 CFR 115.186).</p>
    <p>The review shall (28 CFR 115.186):</p>
    <ol class="alpha">
        <li>Consider whether the allegation or investigation indicates a need to change policy or practice to better prevent, detect or respond to sexual abuse.</li>
        <li>Consider whether the incident or allegation was motivated by race; ethnicity; gender identity; lesbian, gay, bisexual, transgender or intersex identification, status or perceived status; gang affiliation; or was motivated or otherwise caused by
            other group dynamics at the facility.</li>
        <li>Examine the area in the facility where the incident allegedly occurred to assess whether physical barriers in the area may enable abuse.</li>
        <li>Assess the adequacy of staffing levels in that area during different shifts.</li>
        <li>Assess whether monitoring technology should be deployed or augmented to supplement supervision by staff.</li>
    </ol>
    <p>The review team shall prepare a report of its findings, including any determinations made pursuant to this section and any recommendations for improvement. The report shall be submitted to the Chief of Police and the PREA Coordinator. The Chief of
        Police or the authorized designee shall implement the recommendations for improvement or shall document the reasons for not doing so (28 CFR 115.186).</p>
    <h4>902.7.2 DATA REVIEWS</h4>
    <p>The facility shall conduct an annual review of collected and aggregated incident-based sexual abuse data. The review should include, as needed, data from incident-based documents, including reports, investigation files and sexual abuse incident reviews
        (28 CFR 115.187).</p>
    <p>The purpose of these reviews is to assess and improve the effectiveness of sexual abuse prevention, detection and response policies, practices and training. An annual report shall be prepared that includes (28 CFR 115.188):</p>
    <ol class="alpha">
        <li>Identification of any potential problem areas.</li>
        <li>Identification of any corrective actions taken.</li>
        <li>Recommendations for any additional corrective actions.</li>
        <li>A comparison of the current year's data and corrective actions with those from prior years.</li>
        <li>An assessment of the department's progress in addressing sexual abuse.</li>
    </ol>
    <p>The report shall be approved by the Chief of Police and made readily available to the public through the department website or, if it does not have one, through other means. Material may be redacted from the reports when publication would present
        a clear and specific threat to the safety and security of the Temporary Holding Facility. However, the nature of the redacted material shall be indicated.</p>
    <p>All aggregated sexual abuse data from Metro Transit Police Department facilities and private facilities with which it contracts shall be made readily available to the public at least annually through the department website or, if it does not have
        one, through other means. Before making aggregated sexual abuse data publicly available, all personal identifiers shall be removed (28 CFR 115.189).</p>

    <h3>902.8 RECORDS</h3>
    <p>The Department shall retain all written reports from administrative and criminal investigations pursuant to this policy for as long as the alleged abuser is held or employed by the Department, plus five years (28 CFR 115.171).</p>
    <p>All other data collected pursuant to this policy shall be securely retained for at least 10 years after the date of the initial collection unless federal, state or local law requires otherwise (28 CFR 115.189).</p>

    <h3>902.9 TRAINING</h3>
    <p>All employees, volunteers and contractors who may have contact with prisoners shall receive department-approved training on the prevention and detection of sexual abuse and sexual harassment within this facility. The Training Coordinator shall be
        responsible for developing and administering this training as appropriate, covering at a minimum (28 CFR 115.131):</p>
    <ul>
        <li>The Department's zero-tolerance policy and prisoners' right to be free from sexual abuse and sexual harassment, and from retaliation for reporting sexual abuse or harassment.</li>
        <li>The dynamics of sexual abuse and harassment in confinement settings, including which prisoners are most vulnerable.</li>
        <li>The right of prisoners and staff members to be free from sexual abuse and sexual harassment, and from retaliation for reporting sexual abuse or harassment.</li>
        <li>Detecting and responding to signs of threatened and actual abuse.</li>
        <li>Communicating effectively and professionally with all prisoners.</li>
        <li>Compliance with relevant laws related to mandatory reporting of sexual abuse to outside authorities.</li>
    </ul>
    <p>Investigators assigned to sexual abuse investigations shall also receive training in conducting such investigations in confinement settings. Training should include (28 CFR 115.134):</p>
    <ul>
        <li>Techniques for interviewing sexual abuse victims.</li>
        <li>Proper use of <em>Miranda</em> and <em>Garrity</em> warnings.</li>
        <li>Sexual abuse evidence collection in confinement settings.</li>
        <li>Criteria and evidence required to substantiate a case for administrative action or prosecution referral.</li>
    </ul>
    <p>The Training Coordinator shall maintain documentation that employees, volunteers, contractors and investigators have completed required training and that they understand the training. This understanding shall be documented through individual signature
        or electronic verification.</p>
    <p>All current employees and volunteers who may have contact with prisoners shall be trained within one year of the effective date of the PREA standards. The agency shall provide annual refresher information to all such employees and volunteers to ensure
        that they understand the current sexual abuse and sexual harassment policies and procedures.</p>
</div>