<div class="chapter" id="903">
    <h2>903 - Temporary Custody of Adults</h2>
    <h3>903.1 PURPOSE AND SCOPE</h3>
    <p>This policy provides guidelines to address the health and safety of adults taken into temporary custody by members of the Metro Transit Police Department for processing prior to being released or transferred to a housing or other type of facility.</p>
    <p>Temporary custody of juveniles is addressed in the Temporary Custody of Juveniles Policy. Juveniles will not be permitted where adults who are in custody are being held.</p>
    <p>Custodial searches are addressed in the Custodial Searches Policy.</p>
    <h4>903.1.1 DEFINITIONS</h4>
    <p>Definitions related to this policy include:</p>
    <p><strong>Holding cell/cell</strong> - Any locked enclosure for the custody of an adult or any other enclosure that prevents the occupants from being directly visually monitored at all times by a member of the Department.</p>
    <p><strong>Safety checks</strong> - Direct, visual observation by a member of this department performed at random intervals, within time frames prescribed in this policy, to provide for the health and welfare of adults in temporary custody.</p>
    <p><strong>Temporary custody</strong> - The time period an adult is in custody at the Metro Transit Police Department prior to being released or transported to a housing or other type of facility.</p>

    <h3>903.2 POLICY</h3>
    <p>The Metro Transit Police Department is committed to releasing adults from temporary custody as soon as reasonably practicable and to keeping adults safe while in temporary custody at the Department. Adults should be in temporary custody only for as
        long as reasonably necessary for investigation, processing, transfer or release.</p>

    <h3>903.3 GENERAL CRITERIA AND SUPERVISION</h3>
    <p>No adult should be in temporary custody for longer than four hours (Minn. R. 2945.0100; Minn. R. 2945.0120).</p>
    <h4>903.3.1 INDIVIDUALS WHO SHOULD NOT BE IN TEMPORARY CUSTODY</h4>
    <p>Individuals who exhibit certain behaviors or conditions should not be in temporary custody at the Metro Transit Police Department, but should be transported to a jail facility, a medical facility or other type of facility as appropriate. These include:</p>
    <ol class="alpha">
        <li>Any individual who is unconscious or has been unconscious while being taken into custody or while being transported.</li>
        <li>Any individual who has a medical condition, including pregnancy, or who may require medical attention, supervision or medication while in temporary custody.</li>
        <li>Any individual who is seriously injured.</li>
        <li>Individuals who are a suspected suicide risk (see the Civil Commitments Policy).
            <ol class="decimal">
                <li>If the officer taking custody of an individual believes that he/she may be a suicide risk, the officer shall ensure continuous direct supervision until evaluation, release or a transfer to an appropriate facility is completed.</li>
            </ol>
        </li>
        <li>Individuals who are obviously in crisis, as defined in the Crisis Intervention Incidents Policy.</li>
        <li>Individuals who are under the influence of alcohol, a controlled substance or any substance to the degree that may require medical attention, or who have ingested any substance that poses a significant risk to their health, whether or not they
            appear intoxicated.</li>
        <li>Any individual who has exhibited extremely violent or continuously violent behavior.</li>
        <li>Any individual who has claimed, is known to be afflicted with, or displays symptoms of any communicable disease that poses an unreasonable exposure risk.</li>
        <li>Any individual with a prosthetic or orthopedic device where removal of the device would be injurious to his/her health or safety.</li>
    </ol>
    <p>Officers taking custody of a person who exhibits any of the above conditions should notify a supervisor of the situation. These individuals should not be in temporary custody at the Department unless they have been evaluated by a qualified medical
        or mental health professional, as appropriate for the circumstances.</p>
    <h4>903.3.2 SUPERVISION IN TEMPORARY CUSTODY</h4>
    <p>An authorized department member capable of supervising shall be present at all times when an individual is held in temporary custody. The member responsible for supervising should not have other duties that could unreasonably conflict with his/her
        supervision. Any individual in custody must be able to summon the supervising member if needed. If the person in custody is deaf or hard of hearing or cannot speak, accommodations shall be made to provide this ability.</p>
    <p>At least one female department member should be present when a female adult is in temporary custody. In the event that none is readily available, the female in custody should be transported to another facility or released pursuant to another lawful
        process.</p>
    <p>Absent exigent circumstances, such as a medical emergency or a violent subject, male department members should not enter the cell of a female unless a female department member is present.</p>
    <p>No individual in custody shall be permitted to supervise, control or exert any authority over other individuals in custody.</p>

    <h3>903.4 INITIATING TEMPORARY CUSTODY</h3>
    <p>The officer responsible for an individual in temporary custody should evaluate the person for any apparent chronic illness, disability, vermin infestation, possible communicable disease or any other potential risk to the health or safety of the individual
        or others. The officer should specifically ask if the individual is contemplating suicide and evaluate him/her for obvious signs or indications of suicidal intent. If there is any suspicion the individual may be suicidal, he/she shall be transported
        to the Metropolitan Area jail or the appropriate mental health facility.</p>
    <p>The officer should promptly notify the Shift Supervisor of any conditions that may warrant immediate medical attention or other appropriate action. The Shift Supervisor shall determine whether the individual will be placed in a cell, immediately released
        or transported to jail or other facility.</p>
    <h4>903.4.1 SCREENING AND PLACEMENT</h4>
    <p>The officer responsible for an individual in custody shall do the following:</p>
    <ol class="alpha">
        <li>Advise the Shift Supervisor of any significant risks presented by the individual (e.g., suicide risk, health risk, violence).</li>
        <li>Avoid placing an adult in a cell with another adult unless no other cell is available. When such placement is necessary, members shall:
            <ol class="decimal">
                <li>Consider whether the individual may be at a high risk of being sexually abused based on all available known information (28 CFR 115.141) or whether the person is facing any other identified risk.</li>
                <li>Provide any individual identified as being at a high risk for sexual or other victimization with heightened protection. This may include (28 CFR 115.113; 28 CFR 115.141):</p>
                    <ol class="alpha">
                        <li>Continuous, direct sight and sound supervision.</li>
                        <li>Single-cell placement in a cell that is actively monitored on video by a member who is available to immediately intervene.</li>
                    </ol>
                </li>
                <li>Ensure individuals are separated according to severity of the crime (e.g., felony or misdemeanor).</li>
                <li>Ensure males and females are separated by sight and sound when in cells.</li>
                <li>Ensure restrained individuals are not placed in cells with unrestrained individuals.</li>
            </ol>
        </li>
        <li>Ensure that those confined under civil process or for civil causes are kept separate from those who are in temporary custody pending criminal charges.</li>
        <li>Ensure separation, as appropriate, based on other factors, such as age, criminal sophistication, assaultive/non-assaultive behavior, mental state, disabilities and sexual orientation.</li>
    </ol>
    <h4>903.4.2 CONSULAR NOTIFICATION</h4>
    <p>Consular notification may be mandatory when certain foreign nationals are arrested. The Patrol Captain will ensure that the U.S. Department of State’s list of countries and jurisdictions that require mandatory notification is readily available to
        department members. There should also be a published list of foreign embassy and consulate telephone and fax numbers, as well as standardized notification forms that can be transmitted and then retained for documentation. Prominently displayed
        signs informing foreign nationals of their rights related to consular notification should also be posted in areas used for the temporary custody of adults.</p>
    <p>Department members assigned to process a foreign national shall:</p>
    <ol class="alpha">
        <li>Inform the individual without delay he/she may have his/her consular officers notified of the arrest or detention and may communicate with them.
            <ol class="decimal">
                <li>This notification should be documented.</li>
            </ol>
        </li>
        <li>Determine whether the foreign national’s country is on the U.S. Department of State’s mandatory notification list.
            <ol class="decimal">
                <li>If the country is on the mandatory notification list, then:
                    <ol class="alpha">
                        <li>Notify the country’s nearest embassy or consulate of the arrest or detention by fax or telephone.</li>
                        <li>Tell the individual this notification has been made and inform him/her without delay he/she may communicate with consular officers.</li>
                        <li>Forward any communication from the individual to his/her consular officers without delay.</li>
                        <li>Document all notifications to the embassy or consulate and retain the faxed notification and any fax confirmation for the individual’s file.</li>
                    </ol>
                </li>
                <li>If the country is not on the mandatory notification list and the individual requests his/ her consular officers be notified, then:
                    <ol class="alpha">
                        <li>Notify the country’s nearest embassy or consulate of the arrest or detention by fax or telephone.</li>
                        <li>Forward any communication from the individual to his/her consular officers without delay.</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>

    <h3>903.5 SAFETY, HEALTH AND OTHER PROVISIONS</h3>
    <h4>903.5.1 TEMPORARY CUSTODY LOGS</h4>
    <p>Any time an individual is in temporary custody at the Metro Transit Police Department, the custody shall be promptly and properly documented in a custody log, including:</p>
    <ol class="alpha">
        <li>Identifying information about the individual, including his/her name.</li>
        <li>Date and time of arrival at the Department.</li>
        <li>Any charges for which the individual is in temporary custody and any case number.</li>
        <li>Time of all safety checks.</li>
        <li>Any medical and other screening requested and completed.</li>
        <li>Any emergency situations or unusual incidents.</li>
        <li>Any other information that may be required by other authorities, such as compliance inspectors.</li>
        <li>Date and time of release from the Metro Transit Police Department.</li>
    </ol>
    <p>The Shift Supervisor should initial the log to approve the temporary custody and should also initial the log when the individual is released from custody or transferred to another facility.</p>
    <p>The Shift Supervisor should make periodic checks to ensure all log entries and safety and security checks are made on time.</p>
    <h4>903.5.2 TEMPORARY CUSTODY REQUIREMENTS</h4>
    <p>Members monitoring or processing anyone in temporary custody shall ensure:</p>
    <ol class="alpha">
        <li>Safety checks and significant incidents/activities are noted on the log.</li>
        <li>Individuals in custody are informed they will be monitored at all times, except when using the toilet.
            <ol class="decimal">
                <li>There shall be no viewing devices, such as peep holes or mirrors, of which the individual is not aware.</li>
                <li>This does not apply to surreptitious and legally obtained recorded interrogations.</li>
            </ol>
        </li>
        <li>There is reasonable access to toilets and wash basins.</li>
        <li>There is reasonable access to a drinking fountain or water.</li>
        <li>There are reasonable opportunities to stand and stretch, particularly if handcuffed or otherwise restrained.</li>
        <li>There is privacy during attorney visits.</li>
        <li>Those in temporary custody are generally permitted to remain in their personal clothing unless it is taken as evidence or is otherwise unsuitable or inadequate for continued wear while in custody.</li>
        <li>Clean blankets are provided as reasonably necessary to ensure the comfort of an individual.
            <ol class="decimal">
                <li>The supervisor should ensure that there is an adequate supply of clean blankets.</li>
            </ol>
        </li>
        <li>Adequate shelter, heat, light and ventilation are provided without compromising security or enabling escape.</li>
        <li>Adequate furnishings are available, including suitable chairs or benches.</li>
    </ol>
    <h4>903.5.3 MEDICAL CARE</h4>
    <p>First-aid equipment and basic medical supplies should be available to department members. At least one member who has current certification in basic first aid and CPR should be on-duty at all times.</p>
    <p>Should a person in custody be injured or become ill, appropriate medical aid will be summoned. A supervisor shall meet with those providing medical aid at the facility to allow access to the person. Members shall comply with the opinion of medical
        personnel as to whether an individual in temporary custody should be transported to the hospital. If the person is transported while still in custody, he/she will be accompanied by an officer.</p>
    <p>Those who require medication while in temporary custody should not be at the Metro Transit Police Department. They should be released or transferred to another facility as appropriate.</p>
    <h4>903.5.4 ORTHOPEDIC OR PROSTHETIC APPLIANCE</h4>
    <p>Subject to safety and security concerns, individuals shall be permitted to retain an orthopedic or prosthetic appliance. However, if the appliance presents a risk of bodily harm to any person or is a risk to the security of the facility, the appliance
        may be removed from the individual unless its removal would be injurious to his/her health or safety.</p>
    <p>Whenever a prosthetic or orthopedic appliance is removed, the Shift Supervisor shall be promptly apprised of the reason. It shall be promptly returned when it reasonably appears any risk no longer exists.</p>
    <h4>903.5.5 TELEPHONE CALLS</h4>
    <p>Every individual in temporary custody should be allowed to make a reasonable number of completed telephone calls as soon as possible after arrival.</p>
    <ol class="alpha">
        <li>Telephone calls may be limited to local calls, except that long-distance calls may be made by the individual at his/her own expense.
            <ol class="decimal">
                <li>The Department should pay the cost of any long-distance calls related to arranging for the care of a child or dependent adult (see the Child and Dependent Adult Safety Policy).</li>
            </ol>
        </li>
        <li>The individual should be given sufficient time to contact whomever he/she desires and to make any necessary arrangements, including child or dependent adult care, or transportation upon release.
            <ol class="decimal">
                <li>Telephone calls are not intended to be lengthy conversations. The member assigned to monitor or process the individual may use his/her judgment in determining the duration of the calls.</li>
            </ol>
        </li>
        <li>Calls between an individual in temporary custody and his/her attorney shall be deemed confidential and shall not be monitored, eavesdropped upon or recorded.</li>
    </ol>
    <h4>903.5.6 RELIGIOUS ACCOMMODATION</h4>
    <p>Subject to available resources, safety and security, the religious beliefs and needs of all individuals in custody should be reasonably accommodated. Requests for religious accommodation should generally be granted unless there is a compelling security
        or safety reason and denying the request is the least restrictive means available to ensure security or safety. The responsible supervisor should be advised any time a request for religious accommodation is denied.</p>
    <p>Those who request to wear headscarves or simple head coverings for religious reasons should generally be accommodated absent unusual circumstances. Head coverings shall be searched before being worn.</p>
    <p>Individuals wearing headscarves or other approved coverings shall not be required to remove them while in the presence of or while visible to the opposite sex if they so desire. Religious garments that substantially cover the individual’s head and
        face may be temporarily removed during the taking of any photographs.</p>
    <h4>903.5.7 FIREARMS AND OTHER SECURITY MEASURES</h4>
    <p>Firearms and other weapons and control devices shall not be permitted in secure areas where individuals are in custody or are processed. They should be properly secured outside of the secure area. An exception may occur only during emergencies, and
        upon approval of a supervisor.</p>
    <p>All perimeter doors to secure areas shall be kept locked at all times except during routine cleaning when no individuals in custody are present or in the event of an emergency, such as an evacuation.</p>
    <h4>903.5.8 FINGERPRINTING</h4>
    <p>Once the person has been taken into temporary custody the arresting officer should ensure the following are taken:</p>
    <ol class="alpha">
        <li>Finger and thumb prints</li>
        <li>Photographs</li>
        <li>Distinctive physical mark identification data</li>
        <li>Information on any known aliases or street names</li>
        <li>Any other identification data requested or required by the Bureau of Criminal Apprehension</li>
    </ol>
    <p>The Shift Supervisor should ensure fingerprints and other identifying information is entered into the searchable database managed by the Bureau of Criminal Apprehension (Minn. Stat. § 299C.10, Subd. 1).</p>

    <h3>903.6 USE OF RESTRAINT DEVICES</h3>
    <p>Individuals in custody may be handcuffed in accordance with the Handcuffing and Restraints Policy. Unless an individual presents a heightened risk handcuffs should generally be removed when the person is in a cell.</p>
    <p>The use of restraints other than handcuffs or leg irons generally should not be used for individuals in temporary custody at the Metro Transit Police Department unless the person presents a heightened risk and then only in compliance with the Handcuffing
        and Restraints Policy.</p>
    <p>Individuals in restraints shall be kept away from other unrestrained individuals in custody and monitored to protect them from abuse.</p>
    <h4>903.6.1 PREGNANT ADULTS</h4>
    <p>Women who are known to be pregnant should be restrained in accordance with the Handcuffing and Restraints Policy.</p>

    <h3>903.7 PERSONAL PROPERTY</h3>
    <p>The personal property of an individual in temporary custody should be removed, inventoried and processed as provided in the Custodial Searches Policy unless the individual requests a different disposition. For example an individual may request property
        (i.e., cash, car or house keys, medications) be released to another person. A request for the release of property to another person must be made in writing. Release of the property requires the recipient’s signature on the appropriate form.</p>
    <p>Upon release of an individual from temporary custody his/her items of personal property shall be compared with the inventory, and he/she shall sign a receipt for the property's return. If the individual is transferred to another facility or court,
        the member transporting the individual is required to obtain the receiving person’s signature as notice of receipt. The Department shall maintain a copy of the property receipt.</p>
    <p>The Shift Supervisor shall be notified whenever an individual alleges there is a shortage or discrepancy regarding his/her property. The Shift Supervisor shall attempt to prove or disprove the claim.</p>
    <p>All intangible personal property that is unclaimed for more than three years is presumed abandoned (Minn. Stat. § 345.38).</p>

    <h3>903.8 HOLDING CELLS</h3>
    <p>A thorough inspection of a cell shall be conducted before placing an individual into the cell to ensure there are no weapons or contraband and that the cell is clean and sanitary. An inspection also should be conducted when he/she is released. Any
        damage noted to the cell should be photographed and documented. The following requirements shall apply:</p>
    <ol class="alpha">
        <li>The individual shall be searched (see the Custodial Searches Policy), and anything that could create a security or suicide risk such as contraband, hazardous items, belts, shoes or shoelaces and jackets, shall be removed.</li>
        <li>The individual shall constantly be monitored by an audio/video system during the entire custody.</li>
        <li>The individual shall have constant auditory access to department members.</li>
        <li>The individual’s initial placement into and removal from a locked enclosure shall be logged.</li>
        <li>Safety checks by department members shall occur no less than every 15 minutes.
            <ol class="decimal">
                <li>Safety checks should be at varying times.</li>
                <li>All safety checks shall be logged.</li>
                <li>The safety check should involve questioning the individual as to his/her well-being.</li>
                <li>Individuals who are sleeping or apparently sleeping should be awakened.</li>
                <li>Requests or concerns of the individual should be logged.</li>
            </ol>
        </li>
    </ol>

    <h3>903.9 RELEASE AND/OR TRANSFER</h3>
    <p>When an individual is released or transferred from custody the member releasing the individual should ensure the following:</p>
    <ol class="alpha">
        <li>All proper reports, forms and logs have been completed prior to release.</li>
        <li>A check has been made to ensure the individual is not reported as missing and does not have outstanding warrants.</li>
        <li>It has been confirmed the correct individual is being released or transported.</li>
        <li>All property except evidence, contraband or dangerous weapons, has been returned to, or sent with, the individual.</li>
        <li>All pertinent documentation accompanies the individual being transported to another facility (e.g., copies of booking forms, medical records, an itemized list of his/her property, warrant copies).</li>
        <li>The individual is not permitted in any nonpublic areas of the Metro Transit Police Department unless escorted by a member of the Department.</li>
        <li>Any known threat or danger the individual may pose (e.g., escape risk, suicide potential, medical condition) is documented, and the documentation transported with the individual if he/she is being sent to another facility.
            <ol class="deciaml">
                <li>The department member transporting the individual shall ensure such risks are communicated to intake personnel at the other facility.</li>
            </ol>
        </li>
        <li>Generally persons of the opposite sex, or adults and juveniles, should not be transported in the same vehicle unless they are physically separated by a solid barrier. If segregating individuals is not practicable, officers should be alert to inappropriate
            physical or verbal contact and take appropriate action as necessary.</li>
        <li>Transfers that exceed 100 miles shall be accomplished with a custodial escort of the same sex as the individual being transferred (Minn. Stat. § 631.412).</li>
    </ol>

    <h3>90.10 SUICIDE ATTEMPT, DEATH OR SERIOUS INJURY</h3>
    <p>The Patrol Captain will ensure procedures are in place to address any suicide attempt, death or serious injury of any individual in temporary custody at the Metro Transit Police Department. The procedures should include the following (Minn. Stat.
        § 390.11, Subd. 1(6)):</p>
    <ol class="alpha">
        <li>Immediate request for emergency medical assistance if appropriate.</li>
        <li>Immediate notification of the Shift Supervisor, Chief of Police and Criminal Investigations supervisor</li>
        <li>Notification of the spouse, next of kin or other appropriate person</li>
        <li>Notification of the appropriate prosecutor</li>
        <li>Notification of the Prosecuting Attorney</li>
        <li>Notification of the Medical Examiner</li>
        <li>Evidence preservation</li>
    </ol>

    <h3>903.11 ASSIGNED ADMINISTRATOR</h3>
    <p>The Patrol Captain will ensure any reasonably necessary supplemental procedures are in place to address the following issues:</p>
    <ol class="alpha">
        <li>General security</li>
        <li>Key control</li>
        <li>Sanitation and maintenance</li>
        <li>Emergency medical treatment</li>
        <li>Escapes</li>
        <li>Evacuation plans</li>
        <li>Fire- and life-safety</li>
        <li>Disaster plans</li>
        <li>Building and safety code compliance</li>
    </ol>

    <h3>903.12 TRAINING</h3>
    <p>Department members should be trained and familiar with this policy and any supplemental procedures.</p>
</div>