<div class="chapter" id="chiefs-preface" style="display: block;">
    <h2>Chief's Preface</h2>
    <p>The Metro Transit Police Department believes that having a well-informed public is key to our success. To that end, we have put a copy of our policy manual online so that it’s easily accessible to anyone who wants to see it. Our policy manual was
        developed to guide Transit Police officers in the performance of their law enforcement mission. The policies have been established through the review and inclusion of ever-changing legal and best-practice principles in the law enforcement profession.
        The policies are updated as necessary to reflect changes in the law, best practices, officer responsibilities and department goals and objectives.</p>
    <p>This policy manual, together with an officer’s training and professional discretion, provides Transit Police officers with the tools they need to carry out their responsibilities.</p>
</div>