<nav class="mtpd-manual-menu">
    <ul class="sections">
        <li><a href="#chiefs-preface" class="active">Chief's Preface</a></li>
        <li><a href="#law-enforcement-code-of-ethics">Law Enforecement Code of Ethics</a></li>
        <li><a href="#mission-statement-and-core-values">Mission Statement and Core Values</a></li>
        <li class="dropdown">Law Enforcement Role and Authority
            <ul>
                <li><a href="#100">100 - Law Enforcement Authority</a></li>
                <li><a href="#102">102 - Chief Executive Officer</a></li>
                <li><a href="#104">104 - Oath of Office</a></li>
                <li><a href="#106">106 - Policy Manual</a></li>
            </ul>
        </li>
        <li class="dropdown">Organization and Administration
            <ul>
                <li><a href="#200">200 - Organizational Structure and Responsibility</a></li>
                <li><a href="#204">204 - Interim Directive and Special Orders</a></li>
                <li><a href="#206">206 - Emergency Operations Plan</a></li>
                <li><a href="#208">208 - Training</a></li>
                <li><a href="#212">212 - Electronic Mail</a></li>
                <li><a href="#214">214 - Administrative Communications</a></li>
                <li><a href="#220">220 - Retiree Concealed Firearms</a></li>
            </ul>
        </li>
        <li class="dropdown">General Operations
            <ul>
                <li><a href="#300">300 - Use of Force</a></li>
                <li><a href="#302">302 - Use of Force Review Boards</a></li>
                <li><a href="#306">306 - Handcuffing and Restraints</a></li>
                <li><a href="#308">308 - Control Devices</a></li>
                <li><a href="#309">309 - Conducted Energy Device</a></li>
                <li><a href="#310">310 - Officer-Involved Shootings and Deaths</a></li>
                <li><a href="#312">312 - Firearms</a></li>
                <li><a href="#314">314 - Vehicle Pursuits</a></li>
                <li><a href="#316">316 - Officer Response to Calls</a></li>
                <li><a href="#318">318 - Canines</a></li>
                <li><a href="#320">320 - Domestic Abuse</a></li>
                <li><a href="#322">322 - Search and Seizure</a></li>
                <li><a href="#324">324 - Temporary Custody of Juveniles</a></li>
                <li><a href="#326">326 - Adult Abuse</a></li>
                <li><a href="#328">328 - Discriminatory Harassment</a></li>
                <li><a href="#330">330 - Child Abuse</a></li>
                <li><a href="#332">332 - Missing Persons</a></li>
                <li><a href="#334">334 - Public Alerts</a></li>
                <li><a href="#336">336 - Victim and Witness Assistance</a></li>
                <li><a href="#338">338 - Hate or Prejudice Crimes</a></li>
                <li><a href="#340">340 - Standards of Conduct</a></li>
                <li><a href="#342">342 - Information Technology Use</a></li>
                <li><a href="#344">344 - Report Preparation</a></li>
                <li><a href="#346">346 - Media Relations</a></li>
                <li><a href="#348">348 - Court Appearance and Subpoenas</a></li>
                <li><a href="#352">352 - Outside Agency Assistance</a></li>
                <li><a href="#358">358 - Major Incident Notification</a></li>
                <li><a href="#360">360 - Death Investigation</a></li>
                <li><a href="#362">362 - Identity Theft</a></li>
                <li><a href="#364">364 - Private Persons Arrests</a></li>
                <li><a href="#368">368 - Limited English Proficiency Services</a></li>
                <li><a href="#370">370 - Communications with Persons with Disabilities</a></li>
                <li><a href="#373">373 - Pupil Arrest Reporting</a></li>
                <li><a href="#374">374 - Biological Samples</a></li>
                <li><a href="#378">378 - Public Safety Video Surveillance System</a></li>
                <li><a href="#380">380 - Child and Dependent Adult Safety</a></li>
                <li><a href="#382">382 - Service Animals</a></li>
                <li><a href="#386">386 - Native American Graves Protection and Repatriation</a></li>
                <li><a href="#388">388 - Off-Duty Law Enforcement Actions</a></li>
                <li><a href="#389">389 - Department Use of Social Media</a></li>
                <li><a href="#390">390 - Community Relations</a></li>
            </ul>
        </li>
        <li class="dropdown">Patrol Operations
            <ul>
                <li><a href="#400">400 - Patrol Function</a></li>
                <li><a href="#402">402 - Bias-Based Policing</a></li>
                <li><a href="#404">404 - Roll Call Training</a></li>
                <li><a href="#406">406 - Crime and Disaster Scene Integrity</a></li>
                <li><a href="#410">410 - Ride-Along Policy</a></li>
                <li><a href="#412">412 - Hazardous Material Response</a></li>
                <li><a href="#414">414 - Hostage and Barricade Incidents</a></li>
                <li><a href="#416">416 - Response to Bomb Calls</a></li>
                <li><a href="#418">418 - Civil Commitments</a></li>
                <li><a href="#420">420 - Cite and Release Policy</a></li>
                <li><a href="#422">422 - Foreign Diplomatic and Consular Representatives</a></li>
                <li><a href="#424">424 - Rapid Response And Deployment Policy</a></li>
                <li><a href="#428">428 - Immigration Enforcement</a></li>
                <li><a href="#430">430 - Emergency Utility Service</a></li>
                <li><a href="#432">432 - Patrol Rifles</a></li>
                <li><a href="#435">435 - Field Training Officer Program</a></li>
                <li><a href="#437">437 - Obtaining Air Support</a></li>
                <li><a href="#439">439 - Detentions and Photographing Detainees</a></li>
                <li><a href="#440">440 - Photography of Metropolitan Council / Metro Transit Property</a></li>
                <li><a href="#441">441 - Criminal Gangs</a></li>
                <li><a href="#444">444 - Shift Supervisors</a></li>
                <li><a href="#446">446 - Mobile Video Recorders</a></li>
                <li><a href="#448">448 - Mobile Digital Computer Use</a></li>
                <li><a href="#450">450 - Portable Audio/Video Recorders</a></li>
                <li><a href="#454">454 - Bicycle Patrol Unit</a></li>
                <li><a href="#458">458 - Foot Pursuits</a></li>
                <li><a href="#460">460 - Automated License Plate Readers (ALPR)</a></li>
                <li><a href="#464">464 - Homeless Persons</a></li>
                <li><a href="#465">465 - Passenger / Customer Eviction</a></li>
                <li><a href="#467">467 - Fare Enforcement</a></li>
                <li><a href="#468">468 - Public Recording of Law Enforcement Activity</a></li>
                <li><a href="#469">469 - Medical Aid and Response</a></li>
                <li><a href="#470">470 - Crisis Intervention Incidents</a></li>
                <li><a href="#471">471 - Civil Disputes</a></li>
                <li><a href="#472">472 - Suspicious Activity Reporting</a></li>
                <li><a href="#473">473 - First Amendment Assemblies</a></li>
                <li><a href="#474">474 - Medical Cannabis</a></li>
            </ul>
        </li>
        <li class="dropdown">Traffic Operations
            <ul>
                <li><a href="#500">500 - Traffic Function and Responsibility</a></li>
                <li><a href="#502">502 - Traffic Collisions</a></li>
                <li><a href="#503">503 - Crash Review Boards</a></li>
                <li><a href="#510">510 - Vehicle Towing</a></li>
                <li><a href="#512">512 - Vehicle Impound Hearings</a></li>
                <li><a href="#514">514 - Impaired Driving</a></li>
                <li><a href="#516">516 - Traffic Citations</a></li>
                <li><a href="#520">520 - Disabled Vehicles</a></li>
                <li><a href="#524">524 - Abandoned Vehicle Violations</a></li>
            </ul>
        </li>
        <li class="dropdown">Investigation Operations
            <ul>
                <li><a href="#600">600 - Investigation and Prosecution</a></li>
                <li><a href="#602">602 - Sexual Assault Investigations</a></li>
                <li><a href="#606">606 - Asset Forfeiture</a></li>
                <li><a href="#608">608 - Informants</a></li>
                <li><a href="#610">610 - Eyewitness Identification</a></li>
                <li><a href="#612">612 - Brady Material Disclosure</a></li>
                <li><a href="#613">613 - Warrant Service</a></li>
                <li><a href="#614">614 - Operations Planning and Deconfliction</a></li>
                <li><a href="#615">615 - Scrap Metal Theft Investigation</a></li>
            </ul>
        </li>
        <li class="dropdown">Equipment
            <ul>
                <li><a href="#700">700 - Department-Owned and Personal Property</a></li>
                <li><a href="#702">702 - Personal Communication Devices</a></li>
                <li><a href="#704">704 - Vehicle Maintenance</a></li>
                <li><a href="#706">706 - Vehicle Use</a></li>
                <li><a href="#710">710 - Cash Handling, Security and Management</a></li>
            </ul>
        </li>
        <li class="dropdown">Support Services
            <ul>
                <li><a href="#800">800 - Crime Analysis</a></li>
                <li><a href="#802">802 - Communication Operations</a></li>
                <li><a href="#804">804 - Property and Evidence</a></li>
                <li><a href="#806">806 - Records Section Procedures</a></li>
                <li><a href="#808">808 - Restoration of Firearm Serial Numbers</a></li>
                <li><a href="#810">810 - Records Maintenance and Release</a></li>
                <li><a href="#812">812 - Protected Information</a></li>
                <li><a href="#814">814 - Computers and Digital Evidence</a></li>
            </ul>
        </li>
        <li class="dropdown">Custody
            <ul>
                <li><a href="#900">900 - Custodial Searches</a></li>
                <li><a href="#902">902 - Prison Rape Elimination</a></li>
                <li><a href="#903">903 - Temporary Custody of Adults</a></li>
            </ul>
        </li>
        <li class="dropdown">Personnel
            <ul>
                <li><a href="#1000">1000 - Recruitment and Selection</a></li>
                <li><a href="#1002">1002 - Evaluation of Employees</a></li>
                <li><a href="#1004">1004 - Promotional and Transfer Policy</a></li>
                <li><a href="#1008">1008 - Anti-Retaliation</a></li>
                <li><a href="#1010">1010 - Reporting of Employee Convictions and Court Orders</a></li>
                <li><a href="#1012">1012 - Drug- and Alcohol-Free Workplace</a></li>
                <li><a href="#1014">1014 - Annual Leave</a></li>
                <li><a href="#1016">1016 - Communicable Diseases</a></li>
                <li><a href="#1018">1018 - Smoking and Tobacco Use</a></li>
                <li><a href="#1020">1020 - Personnel Complaints</a></li>
                <li><a href="#1022">1022 - Seat Belts</a></li>
                <li><a href="#1024">1024 - Body Armor</a></li>
                <li><a href="#1026">1026 - Personnel Records</a></li>
                <li><a href="#1030">1030 - Commendations and Awards</a></li>
                <li><a href="#1032">1032 - Fitness for Duty</a></li>
                <li><a href="#1034">1034 - Meal Periods and Breaks</a></li>
                <li><a href="#1035">1035 - Lactation Break Policy</a></li>
                <li><a href="#1036">1036 - Payroll Procedures</a></li>
                <li><a href="#1037">1037 - Part-time Officer Work Schedules</a></li>
                <li><a href="#1039">1039 - Part-time Officer Discipline Notification</a></li>
                <li><a href="#1040">1040 - Outside Employment</a></li>
                <li><a href="#1042">1042 - Occupational Disease, Personal Injury and Death Reporting</a></li>
                <li><a href="#1044">1044 - Personal Appearance Standards</a></li>
                <li><a href="#1046">1046 - Uniform Regulations</a></li>
                <li><a href="#1048">1048 - Community Service Officers (CSO)</a></li>
                <li><a href="#1050">1050 - Nepotism and Conflicting Relationships</a></li>
                <li><a href="#1052">1052 - Department Badges</a></li>
                <li><a href="#1054">1054 - Temporary Modified-Duty Assignments</a></li>
                <li><a href="#1058">1058 - Employee Speech, Expression and Social Networking</a></li>
                <li><a href="#1060">1060 - POST Licensing</a></li>
                <li><a href="#1061">1061 - Workplace Accident and Injury Reduction</a></li>
            </ul>
        </li>
    </ul>
</nav>