/***************************************************
	MTPD Manual - July 2017
***************************************************/
.mtpd-manual {
	img.hero {
		margin-bottom: 20px;
	}

	.right-col {
		float: right;
		width: 325px;
		padding-left: 30px;

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				background-image: none;
				display: block;
				color: #000;
				font-size: 13px;
				list-style-image: none;
				cursor: pointer;
				background-color: #ffffff;
				margin: 0;
				padding-left: 1.5em;

				a {
					color: #000;
				}

				a.active,
				a:active,
				a:hover {
					color: #0053a0;
					text-decoration: underline;
				}

				ul {
					margin-top: 0;
				}
			}

			li.dropdown ul li a {
				color: #0053a0;
			}

			.plus-icon {
				background-image: url("data:image/gif;base64,R0lGODlhCwALALMAAKfB4vn7/RJWssjY7Tlyv3if08bW7JOy3NLf8DJtvAxSsP///wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAALAAsAAAQ6cC1TiCDFyAXSQQFyJMCUDJs0JNSxKdtRIe+GWMGi7PsSXDQJTHIruISxzCm1WGk6n9CoJKFYMJpFBAA7");
				background-repeat: no-repeat;
				background-position: 0 4px;
			}

			.minus-icon {
				background-image: url("/Images/Icons/MinusSmall.gif");
				background-repeat: no-repeat;
				background-position: 0 4px;
			}
		}
	}

	.left-col {
		float: left;
		width: 625px;

		.chapter {
			display: none;
		}

		ul {
			list-style-type: initial;
			margin-bottom: 1.5em;
		}

		ol.alpha {
			list-style: lower-alpha;
			padding-left: 1em;

			li {
				padding-left: 1em;
			}
		}

		ol.decimal {
			list-style: decimal;
		}

		img {
			max-width: 100%;
		}

		.table {
			border: 1px solid #ccc;
			margin-bottom: 20px;

			thead tr {
				background-color: #ececec;
				border: 2px solid #ccc;
				border-bottom: 1px solid #ccc;

				th {
					border: 1px solid #ccc;
					padding: 5px 10px;
				}
			}

			tbody tr {
				border-right: 2px solid #ccc;
				border-left: 2px solid #ccc;

				td {
					border: 1px solid #ccc;
					padding: 5px 10px;
				}

				&:last-child {
					border-bottom: 2px solid #ccc;
				}
			}
		}

		.table.special {
			tbody tr {
				td {
					text-align: center;

					&:first-child {
						background-color: #ececec;
						font-weight: 700;
						text-align: left;
					}
				}
			}
		}
	}
}
